<div class="code-box" id="demo-vertical">
  <div class="code-box-demo">
    <div id="components-steps-demo-vertical"></div>
    <script>(function(){'use strict';

var Steps = antd.Steps;
var Step = Steps.Step;
var container = document.getElementById('components-steps-demo-vertical');

var steps = [{
  title: '已完成',
  description: '这里是信息的描述'
}, {
  title: '进行中',
  description: '这里是信息的描述'
}, {
  title: '待运行',
  description: '这里是信息的描述'
}, {
  title: '又一个待运行',
  description: '这里是信息的描述'
}].map(function (s, i) {
  return React.createElement(Step, { key: i, title: s.title, description: s.description });
});

React.render(React.createElement(
  Steps,
  { direction: 'vertical', current: 1 },
  steps
), container);})()</script><div class="highlight"><pre><code class="javascript"><span class="keyword">var</span> Steps = antd.Steps;
<span class="keyword">var</span> Step = Steps.Step;
<span class="keyword">var</span> container = document.getElementById(<span class="string">'components-steps-demo-vertical'</span>);

<span class="keyword">var</span> steps = [{
  title: <span class="string">'已完成'</span>,
  description: <span class="string">'这里是信息的描述'</span>
}, {
  title: <span class="string">'进行中'</span>,
  description: <span class="string">'这里是信息的描述'</span>
}, {
  title: <span class="string">'待运行'</span>,
  description: <span class="string">'这里是信息的描述'</span>
}, {
  title: <span class="string">'又一个待运行'</span>,
  description: <span class="string">'这里是信息的描述'</span>
}].map(<span class="function"><span class="keyword">function</span><span class="params">(s, i)</span> {</span>
  <span class="keyword">return</span> (
    <span class="xml"><span class="tag">&lt;<span class="title">Step</span> <span class="attribute">key</span>=<span class="value">{i}</span> <span class="attribute">title</span>=<span class="value">{s.title}</span> <span class="attribute">description</span>=<span class="value">{s.description}</span> /&gt;</span>
  );
});

React.render(<span class="tag">&lt;<span class="title">Steps</span> <span class="attribute">direction</span>=<span class="value">'vertical'</span> <span class="attribute">current</span>=<span class="value">{1}</span>&gt;</span>{steps}<span class="tag">&lt;/<span class="title">Steps</span>&gt;</span>, container);</span></code></pre></div>
  </div>
  <div class="code-box-meta markdown">
    <div class="code-box-title">
      <a href="#demo-vertical">竖直方向的步骤条</a>
    </div>
    <p>简单的竖直方向的步骤条。</p>
    <span class="collapse anticon anticon-circle-o-right" unselectable="none" style="-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;"></span>
  </div>
</div>