<div class="code-box" id="demo-top">
  <div class="code-box-demo">
    <div id="spec-layout-demo-top"></div>
    <script>(function(){"use strict";

var _antd = require('antd');

ReactDOM.render(React.createElement(
  BrowserDemo,
  null,
  React.createElement(
    "div",
    { className: "ant-layout-top" },
    React.createElement(
      "div",
      { className: "ant-layout-header" },
      React.createElement(
        "div",
        { className: "ant-layout-wrapper" },
        React.createElement("div", { className: "ant-layout-logo" }),
        React.createElement(
          _antd.Menu,
          { theme: "dark", mode: "horizontal",
            defaultSelectedKeys: ['2'], style: { lineHeight: '64px' } },
          React.createElement(
            _antd.Menu.Item,
            { key: "1" },
            "导航一"
          ),
          React.createElement(
            _antd.Menu.Item,
            { key: "2" },
            "导航二"
          ),
          React.createElement(
            _antd.Menu.Item,
            { key: "3" },
            "导航三"
          )
        )
      )
    ),
    React.createElement(
      "div",
      { className: "ant-layout-subheader" },
      React.createElement(
        "div",
        { className: "ant-layout-wrapper" },
        React.createElement(
          _antd.Menu,
          { mode: "horizontal",
            defaultSelectedKeys: ['1'], style: { marginLeft: 124 } },
          React.createElement(
            _antd.Menu.Item,
            { key: "1" },
            "二级导航"
          ),
          React.createElement(
            _antd.Menu.Item,
            { key: "2" },
            "二级导航"
          ),
          React.createElement(
            _antd.Menu.Item,
            { key: "3" },
            "二级导航"
          )
        )
      )
    ),
    React.createElement(
      "div",
      { className: "ant-layout-wrapper" },
      React.createElement(
        "div",
        { className: "ant-layout-breadcrumb" },
        React.createElement(
          _antd.Breadcrumb,
          null,
          React.createElement(
            _antd.Breadcrumb.Item,
            null,
            "首页"
          ),
          React.createElement(
            _antd.Breadcrumb.Item,
            null,
            "应用列表"
          ),
          React.createElement(
            _antd.Breadcrumb.Item,
            null,
            "某应用"
          )
        )
      ),
      React.createElement(
        "div",
        { className: "ant-layout-container" },
        React.createElement("div", { style: { height: 210 } })
      )
    ),
    React.createElement(
      "div",
      { className: "ant-layout-footer" },
      "Ant Design 版权所有 © 2015 由蚂蚁金服体验技术部支持"
    )
  )
), document.getElementById('spec-layout-demo-top'));})()</script><div class="highlight"><pre><code class="javascript"><span class="hljs-keyword">import</span> { Menu, Breadcrumb } <span class="hljs-keyword">from</span> <span class="hljs-string">'antd'</span>;

ReactDOM.render(
  <span class="xml"><span class="hljs-tag">&lt;<span class="hljs-title">BrowserDemo</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">className</span>=<span class="hljs-value">"ant-layout-top"</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">className</span>=<span class="hljs-value">"ant-layout-header"</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">className</span>=<span class="hljs-value">"ant-layout-wrapper"</span>&gt;</span>
          <span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">className</span>=<span class="hljs-value">"ant-layout-logo"</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
          <span class="hljs-tag">&lt;<span class="hljs-title">Menu</span> <span class="hljs-attribute">theme</span>=<span class="hljs-value">"dark"</span> <span class="hljs-attribute">mode</span>=<span class="hljs-value">"horizontal"</span>
            <span class="hljs-attribute">defaultSelectedKeys</span>=<span class="hljs-value">{['2']}</span> <span class="hljs-attribute">style</span>=<span class="hljs-value">{{lineHeight:</span> '<span class="hljs-attribute">64px</span>'}}&gt;</span>
            <span class="hljs-tag">&lt;<span class="hljs-title">Menu.Item</span> <span class="hljs-attribute">key</span>=<span class="hljs-value">"1"</span>&gt;</span>导航一<span class="hljs-tag">&lt;/<span class="hljs-title">Menu.Item</span>&gt;</span>
            <span class="hljs-tag">&lt;<span class="hljs-title">Menu.Item</span> <span class="hljs-attribute">key</span>=<span class="hljs-value">"2"</span>&gt;</span>导航二<span class="hljs-tag">&lt;/<span class="hljs-title">Menu.Item</span>&gt;</span>
            <span class="hljs-tag">&lt;<span class="hljs-title">Menu.Item</span> <span class="hljs-attribute">key</span>=<span class="hljs-value">"3"</span>&gt;</span>导航三<span class="hljs-tag">&lt;/<span class="hljs-title">Menu.Item</span>&gt;</span>
          <span class="hljs-tag">&lt;/<span class="hljs-title">Menu</span>&gt;</span>
        <span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
      <span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">className</span>=<span class="hljs-value">"ant-layout-subheader"</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">className</span>=<span class="hljs-value">"ant-layout-wrapper"</span>&gt;</span>
          <span class="hljs-tag">&lt;<span class="hljs-title">Menu</span> <span class="hljs-attribute">mode</span>=<span class="hljs-value">"horizontal"</span>
            <span class="hljs-attribute">defaultSelectedKeys</span>=<span class="hljs-value">{['1']}</span> <span class="hljs-attribute">style</span>=<span class="hljs-value">{{marginLeft:</span> <span class="hljs-attribute">124</span>}}&gt;</span>
            <span class="hljs-tag">&lt;<span class="hljs-title">Menu.Item</span> <span class="hljs-attribute">key</span>=<span class="hljs-value">"1"</span>&gt;</span>二级导航<span class="hljs-tag">&lt;/<span class="hljs-title">Menu.Item</span>&gt;</span>
            <span class="hljs-tag">&lt;<span class="hljs-title">Menu.Item</span> <span class="hljs-attribute">key</span>=<span class="hljs-value">"2"</span>&gt;</span>二级导航<span class="hljs-tag">&lt;/<span class="hljs-title">Menu.Item</span>&gt;</span>
            <span class="hljs-tag">&lt;<span class="hljs-title">Menu.Item</span> <span class="hljs-attribute">key</span>=<span class="hljs-value">"3"</span>&gt;</span>二级导航<span class="hljs-tag">&lt;/<span class="hljs-title">Menu.Item</span>&gt;</span>
          <span class="hljs-tag">&lt;/<span class="hljs-title">Menu</span>&gt;</span>
        <span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
      <span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">className</span>=<span class="hljs-value">"ant-layout-wrapper"</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">className</span>=<span class="hljs-value">"ant-layout-breadcrumb"</span>&gt;</span>
          <span class="hljs-tag">&lt;<span class="hljs-title">Breadcrumb</span>&gt;</span>
            <span class="hljs-tag">&lt;<span class="hljs-title">Breadcrumb.Item</span>&gt;</span>首页<span class="hljs-tag">&lt;/<span class="hljs-title">Breadcrumb.Item</span>&gt;</span>
            <span class="hljs-tag">&lt;<span class="hljs-title">Breadcrumb.Item</span>&gt;</span>应用列表<span class="hljs-tag">&lt;/<span class="hljs-title">Breadcrumb.Item</span>&gt;</span>
            <span class="hljs-tag">&lt;<span class="hljs-title">Breadcrumb.Item</span>&gt;</span>某应用<span class="hljs-tag">&lt;/<span class="hljs-title">Breadcrumb.Item</span>&gt;</span>
          <span class="hljs-tag">&lt;/<span class="hljs-title">Breadcrumb</span>&gt;</span>
        <span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">className</span>=<span class="hljs-value">"ant-layout-container"</span>&gt;</span>
          <span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">style</span>=<span class="hljs-value">{{</span> <span class="hljs-attribute">height:</span> <span class="hljs-attribute">210</span> }}&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
        <span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
      <span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">className</span>=<span class="hljs-value">"ant-layout-footer"</span>&gt;</span>
      Ant Design 版权所有 © 2015 由蚂蚁金服体验技术部支持
      <span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
  <span class="hljs-tag">&lt;/<span class="hljs-title">BrowserDemo</span>&gt;</span>
, document.getElementById('spec-layout-demo-top'));</span></code></pre></div><style type="text/css">.ant-layout-top {
  height: 100%;
}

.ant-layout-top .ant-layout-wrapper {
  padding: 0 50px;
}

.ant-layout-top .ant-layout-header {
  background: #404040;
  height: 64px;
}

.ant-layout-top .ant-layout-logo {
  width: 120px;
  height: 32px;
  background: #333;
  border-radius: 6px;
  margin: 16px 28px 16px 0;
  float: left;
}

.ant-layout-top .ant-layout-subheader {
  height: 48px;
  border-bottom: 1px solid #e9e9e9;
  background: #fff;
}

.ant-layout-top .ant-layout-breadcrumb {
  margin: 7px 0 -17px 24px;
}

.ant-layout-top .ant-layout-container {
  background: #fff;
  margin: 24px 0 0;
  position: relative;
  padding-top: 24px;
  overflow: hidden;
}

.ant-layout-top .ant-layout-footer {
  height; 64px;
  line-height: 64px;
  text-align: center;
  font-size: 12px;
  color: #999;
}</style><div class="highlight"><pre><code class="css">.ant-layout-top {
  height: 100%;
}

.ant-layout-top .ant-layout-wrapper {
  padding: 0 50px;
}

.ant-layout-top .ant-layout-header {
  background: #404040;
  height: 64px;
}

.ant-layout-top .ant-layout-logo {
  width: 120px;
  height: 32px;
  background: #333;
  border-radius: 6px;
  margin: 16px 28px 16px 0;
  float: left;
}

.ant-layout-top .ant-layout-subheader {
  height: 48px;
  border-bottom: 1px solid #e9e9e9;
  background: #fff;
}

.ant-layout-top .ant-layout-breadcrumb {
  margin: 7px 0 -17px 24px;
}

.ant-layout-top .ant-layout-container {
  background: #fff;
  margin: 24px 0 0;
  position: relative;
  padding-top: 24px;
  overflow: hidden;
}

.ant-layout-top .ant-layout-footer {
  height; 64px;
  line-height: 64px;
  text-align: center;
  font-size: 12px;
  color: #999;
}</code></pre></div>
  </div>
  <div class="code-box-meta markdown">
    <div class="code-box-title">
      <a href="#demo-top">顶部导航</a>
    </div>
    <p>一二级导航都在顶部。</p>
<p>顶部导航在页面布局上采用的是上下的结构，一般主导航放置于页面的顶端，从左自右依次为：logo、一级导航项、辅助菜单（用户、设置、通知等）。通常将内容放在固定尺寸（例如：1200px）内，整个页面排版稳定，不受用户终端显示器影响；上下级的结构符合用户上下浏览的习惯，也是较为经典的网站导航模式。页面上下切分的方式提高了主工作区域的信息展示效率，但在纵向空间上会有一些牺牲。此外，由于导航栏水平空间的限制，不适合那些一级导航项很多的信息结构。</p>
<p><code>&lt;BrowserDemo /&gt;</code> 做演示用，无须复制。</p>
    <span class="collapse anticon anticon-circle-o-right" unselectable="none" style="-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;"></span>
  </div>
</div>