<div class="code-box" id="demo-controller">
  <div class="code-box-demo">
    <div id="components-checkbox-demo-controller"></div>
    <script>mountNode = document.getElementById('components-checkbox-demo-controller');</script>
    <script>(function(){'use strict';

var _antd = require('antd');

var App = React.createClass({
  displayName: 'App',
  getInitialState: function getInitialState() {
    return {
      checked: true,
      disabled: false
    };
  },
  render: function render() {
    var label = (this.state.checked ? '选中' : '取消') + '-' + (this.state.disabled ? '不可用' : '可用');
    return React.createElement(
      'div',
      null,
      React.createElement(
        'p',
        { style: { marginBottom: '20px' } },
        React.createElement(
          'label',
          null,
          React.createElement(_antd.Checkbox, { checked: this.state.checked,
            disabled: this.state.disabled,
            onChange: this.onChange }),
          label
        )
      ),
      React.createElement(
        'p',
        null,
        React.createElement(
          _antd.Button,
          { type: 'primary', size: 'small',
            onClick: this.toggleChecked },
          !this.state.checked ? '选中' : '取消'
        ),
        React.createElement(
          _antd.Button,
          { style: { marginLeft: '10px' },
            type: 'primary', size: 'small',
            onClick: this.toggleDisable },
          !this.state.disabled ? '不可用' : '可用'
        )
      )
    );
  },
  toggleChecked: function toggleChecked() {
    this.setState({ checked: !this.state.checked });
  },
  toggleDisable: function toggleDisable() {
    this.setState({ disabled: !this.state.disabled });
  },
  onChange: function onChange(e) {
    console.log('checked = ', e.target.checked);
    this.setState({
      checked: e.target.checked
    });
  }
});

ReactDOM.render(React.createElement(App, null), mountNode);})()</script><div class="highlight"><pre><code class="javascript"><span class="hljs-keyword">import</span> { Checkbox, Button } <span class="hljs-keyword">from</span> <span class="hljs-string">'antd'</span>;

<span class="hljs-keyword">const</span> App = React.createClass({
  getInitialState() {
    <span class="hljs-keyword">return</span> {
      checked: <span class="hljs-literal">true</span>,
      disabled: <span class="hljs-literal">false</span>
    };
  },
  render() {
    <span class="hljs-keyword">const</span> label = <span class="hljs-string">`<span class="hljs-subst">${this.state.checked ? '选中' : '取消'}</span>-<span class="hljs-subst">${this.state.disabled ? '不可用' : '可用'}</span>`</span>;
    <span class="hljs-keyword">return</span> (
      <span class="xml"><span class="hljs-tag">&lt;<span class="hljs-title">div</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">p</span> <span class="hljs-attribute">style</span>=<span class="hljs-value">{{</span> <span class="hljs-attribute">marginBottom:</span> '<span class="hljs-attribute">20px</span>' }}&gt;</span>
          <span class="hljs-tag">&lt;<span class="hljs-title">label</span>&gt;</span>
            <span class="hljs-tag">&lt;<span class="hljs-title">Checkbox</span> <span class="hljs-attribute">checked</span>=<span class="hljs-value">{this.state.checked}</span>
              <span class="hljs-attribute">disabled</span>=<span class="hljs-value">{this.state.disabled}</span>
              <span class="hljs-attribute">onChange</span>=<span class="hljs-value">{this.onChange}</span> /&gt;</span>
              {label}
            <span class="hljs-tag">&lt;/<span class="hljs-title">label</span>&gt;</span>
          <span class="hljs-tag">&lt;/<span class="hljs-title">p</span>&gt;</span>
          <span class="hljs-tag">&lt;<span class="hljs-title">p</span>&gt;</span>
            <span class="hljs-tag">&lt;<span class="hljs-title">Button</span> <span class="hljs-attribute">type</span>=<span class="hljs-value">"primary"</span> <span class="hljs-attribute">size</span>=<span class="hljs-value">"small"</span>
              <span class="hljs-attribute">onClick</span>=<span class="hljs-value">{this.toggleChecked}</span>&gt;</span>
              {!this.state.checked ? '选中' : '取消'}
            <span class="hljs-tag">&lt;/<span class="hljs-title">Button</span>&gt;</span>
            <span class="hljs-tag">&lt;<span class="hljs-title">Button</span> <span class="hljs-attribute">style</span>=<span class="hljs-value">{{</span> <span class="hljs-attribute">marginLeft:</span> '<span class="hljs-attribute">10px</span>' }}
              <span class="hljs-attribute">type</span>=<span class="hljs-value">"primary"</span> <span class="hljs-attribute">size</span>=<span class="hljs-value">"small"</span>
              <span class="hljs-attribute">onClick</span>=<span class="hljs-value">{this.toggleDisable}</span>&gt;</span>
              {!this.state.disabled ? '不可用' : '可用'}
            <span class="hljs-tag">&lt;/<span class="hljs-title">Button</span>&gt;</span>
          <span class="hljs-tag">&lt;/<span class="hljs-title">p</span>&gt;</span>
        <span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
    )</span>;
  },
  toggleChecked() {
    <span class="hljs-keyword">this</span>.setState({ checked: !<span class="hljs-keyword">this</span>.state.checked });
  },
  toggleDisable() {
    <span class="hljs-keyword">this</span>.setState({ disabled: !<span class="hljs-keyword">this</span>.state.disabled });
  },
  onChange(e) {
    <span class="hljs-built_in">console</span>.log(<span class="hljs-string">'checked = '</span>, e.target.checked);
    <span class="hljs-keyword">this</span>.setState({
      checked: e.target.checked,
    });
  }
});

ReactDOM.render(<span class="xml"><span class="hljs-tag">&lt;<span class="hljs-title">App</span> /&gt;</span>, mountNode);</span></code></pre></div>
  </div>
  <div class="code-box-meta markdown">
    <div class="code-box-title">
      <a href="#demo-controller">和外部组件通信</a>
    </div>
    
<p>联动 checkbox。</p>

    <span class="collapse anticon anticon-circle-o-right" unselectable="none"></span>
  </div>
</div>