<div class="code-box" id="demo-basic">
  <div class="code-box-demo">
    <div id="components-datepicker-demo-basic"></div>
    <script>(function(){// or require('antd/lib/datepicker');
"use strict";

var Datepicker = antd.Datepicker;

React.render(React.createElement(Datepicker, { defaultValue: "2012-12-12" }), document.getElementById('components-datepicker-demo-basic'));})()</script><div class="highlight"><pre><code class="javascript"><span class="comment">// or require('antd/lib/datepicker');</span>
<span class="keyword">var</span> Datepicker = antd.Datepicker;

React.render(
  <span class="xml"><span class="tag">&lt;<span class="title">Datepicker</span> <span class="attribute">defaultValue</span>=<span class="value">"2012-12-12"</span> /&gt;</span>
, document.getElementById('components-datepicker-demo-basic'));</span></code></pre></div>
  </div>
  <div class="code-box-meta markdown">
    <div class="code-box-title">
      <a href="#demo-basic">基本</a>
    </div>
    <p>最简单的用法。</p>
    <span class="collapse anticon anticon-circle-o-right" unselectable="none" style="-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;"></span>
  </div>
</div>