<div class="code-box" id="demo-disabled">
  <div class="code-box-demo">
    <div id="components-datepicker-demo-disabled"></div>
    <script>(function(){"use strict";

var Datepicker = antd.Datepicker;

React.render(React.createElement(Datepicker, { value: "2015-06-06", disabled: true }), document.getElementById('components-datepicker-demo-disabled'));})()</script><div class="highlight"><pre><code class="javascript"><span class="keyword">var</span> Datepicker = antd.Datepicker;

React.render(
  <span class="xml"><span class="tag">&lt;<span class="title">Datepicker</span> <span class="attribute">value</span>=<span class="value">"2015-06-06"</span> <span class="attribute">disabled</span>=<span class="value">{true}</span> /&gt;</span>
, document.getElementById('components-datepicker-demo-disabled'));</span></code></pre></div>
  </div>
  <div class="code-box-meta markdown">
    <div class="code-box-title">
      <a href="#demo-disabled">禁用</a>
    </div>
    <p>选择框的不可用状态。</p>
    <span class="collapse anticon anticon-circle-o-right" unselectable="none" style="-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;"></span>
  </div>
</div>