<div class="code-box" id="demo-time">
  <div class="code-box-demo">
    <div id="components-datepicker-demo-time"></div>
    <script>(function(){"use strict";

var Datepicker = antd.Datepicker;

React.render(React.createElement(Datepicker, { showTime: true, format: "yyyy-MM-dd HH:mm:ss" }), document.getElementById('components-datepicker-demo-time'));})()</script><div class="highlight"><pre><code class="javascript"><span class="keyword">var</span> Datepicker = antd.Datepicker;

React.render(
  <span class="xml"><span class="tag">&lt;<span class="title">Datepicker</span> <span class="attribute">showTime</span>=<span class="value">{true}</span> <span class="attribute">format</span>=<span class="value">"yyyy-MM-dd HH:mm:ss"</span> /&gt;</span>
, document.getElementById('components-datepicker-demo-time'));</span></code></pre></div>
  </div>
  <div class="code-box-meta markdown">
    <div class="code-box-title">
      <a href="#demo-time">时间选择</a>
    </div>
    <p>准确到秒的时间选择面板。</p>
    <span class="collapse anticon anticon-circle-o-right" unselectable="none" style="-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;"></span>
  </div>
</div>