<div class="code-box" id="demo-horizontal">
  <div class="code-box-demo">
    <div id="components-menu-demo-horizontal"></div>
    <script>(function(){'use strict';

var Menu = antd.Menu;
var SubMenu = Menu.SubMenu;

var App = React.createClass({
  displayName: 'App',

  getInitialState: function getInitialState() {
    return {
      current: 'mail'
    };
  },
  handleClick: function handleClick(e) {
    console.log('click ', e);
    this.setState({
      current: e.key
    });
  },
  render: function render() {
    return React.createElement(
      Menu,
      { onClick: this.handleClick, selectedKeys: [this.state.current], mode: 'horizontal' },
      React.createElement(
        Menu.Item,
        { key: 'mail' },
        React.createElement('i', { className: 'anticon anticon-mail' }),
        '导航一'
      ),
      React.createElement(
        Menu.Item,
        { key: 'app' },
        React.createElement('i', { className: 'anticon anticon-appstore' }),
        '导航二'
      ),
      React.createElement(
        SubMenu,
        { title: React.createElement(
            'span',
            null,
            React.createElement('i', { className: 'anticon anticon-setting' }),
            '导航 - 子菜单'
          ) },
        React.createElement(
          Menu.Item,
          { key: 'setting:1' },
          '选项1'
        ),
        React.createElement(
          Menu.Item,
          { key: 'setting:2' },
          '选项2'
        ),
        React.createElement(
          Menu.Item,
          { key: 'setting:3' },
          '选项3'
        ),
        React.createElement(
          Menu.Item,
          { key: 'setting:4' },
          '选项4'
        )
      ),
      React.createElement(
        Menu.Item,
        { key: 'alipay' },
        React.createElement(
          'a',
          { href: 'http://www.alipay.com/', target: '_blank' },
          '导航四 - 链接'
        )
      )
    );
  }
});

React.render(React.createElement(App, null), document.getElementById('components-menu-demo-horizontal'));})()</script><div class="highlight"><pre><code class="javascript"><span class="keyword">var</span> Menu = antd.Menu;
<span class="keyword">var</span> SubMenu = Menu.SubMenu;

<span class="keyword">var</span> App = React.createClass({
  getInitialState() {
    <span class="keyword">return</span> {
      current: <span class="string">'mail'</span>
    }
  },
  handleClick(e) {
    console.log(<span class="string">'click '</span>, e);
    <span class="keyword">this</span>.setState({
      current: e.key
    });
  },
  render() {
    <span class="keyword">return</span> <span class="xml"><span class="tag">&lt;<span class="title">Menu</span> <span class="attribute">onClick</span>=<span class="value">{this.handleClick}</span> <span class="attribute">selectedKeys</span>=<span class="value">{[this.state.current]}</span> <span class="attribute">mode</span>=<span class="value">"horizontal"</span>&gt;</span>
    <span class="tag">&lt;<span class="title">Menu.Item</span> <span class="attribute">key</span>=<span class="value">"mail"</span>&gt;</span>
      <span class="tag">&lt;<span class="title">i</span> <span class="attribute">className</span>=<span class="value">"anticon anticon-mail"</span>&gt;</span><span class="tag">&lt;/<span class="title">i</span>&gt;</span>导航一
    <span class="tag">&lt;/<span class="title">Menu.Item</span>&gt;</span>
    <span class="tag">&lt;<span class="title">Menu.Item</span> <span class="attribute">key</span>=<span class="value">"app"</span>&gt;</span>
      <span class="tag">&lt;<span class="title">i</span> <span class="attribute">className</span>=<span class="value">"anticon anticon-appstore"</span>&gt;</span><span class="tag">&lt;/<span class="title">i</span>&gt;</span>导航二
    <span class="tag">&lt;/<span class="title">Menu.Item</span>&gt;</span>
    <span class="tag">&lt;<span class="title">SubMenu</span> <span class="attribute">title</span>=<span class="value">{&lt;span</span>&gt;</span><span class="tag">&lt;<span class="title">i</span> <span class="attribute">className</span>=<span class="value">"anticon anticon-setting"</span>&gt;</span><span class="tag">&lt;/<span class="title">i</span>&gt;</span>导航 - 子菜单<span class="tag">&lt;/<span class="title">span</span>&gt;</span>}&gt;
      <span class="tag">&lt;<span class="title">Menu.Item</span> <span class="attribute">key</span>=<span class="value">"setting:1"</span>&gt;</span>选项1<span class="tag">&lt;/<span class="title">Menu.Item</span>&gt;</span>
      <span class="tag">&lt;<span class="title">Menu.Item</span> <span class="attribute">key</span>=<span class="value">"setting:2"</span>&gt;</span>选项2<span class="tag">&lt;/<span class="title">Menu.Item</span>&gt;</span>
      <span class="tag">&lt;<span class="title">Menu.Item</span> <span class="attribute">key</span>=<span class="value">"setting:3"</span>&gt;</span>选项3<span class="tag">&lt;/<span class="title">Menu.Item</span>&gt;</span>
      <span class="tag">&lt;<span class="title">Menu.Item</span> <span class="attribute">key</span>=<span class="value">"setting:4"</span>&gt;</span>选项4<span class="tag">&lt;/<span class="title">Menu.Item</span>&gt;</span>
    <span class="tag">&lt;/<span class="title">SubMenu</span>&gt;</span>
    <span class="tag">&lt;<span class="title">Menu.Item</span> <span class="attribute">key</span>=<span class="value">"alipay"</span>&gt;</span>
      <span class="tag">&lt;<span class="title">a</span> <span class="attribute">href</span>=<span class="value">"http://www.alipay.com/"</span> <span class="attribute">target</span>=<span class="value">"_blank"</span>&gt;</span>导航四 - 链接<span class="tag">&lt;/<span class="title">a</span>&gt;</span>
    <span class="tag">&lt;/<span class="title">Menu.Item</span>&gt;</span>
  <span class="tag">&lt;/<span class="title">Menu</span>&gt;</span>
  }
});

React.render(<span class="tag">&lt;<span class="title">App</span> /&gt;</span>, document.getElementById('components-menu-demo-horizontal'));</span></code></pre></div>
  </div>
  <div class="code-box-meta markdown">
    <div class="code-box-title">
      <a href="#demo-horizontal">顶部导航</a>
    </div>
    <p>水平的顶部导航菜单。</p>
    <span class="collapse anticon anticon-circle-o-right" unselectable="none" style="-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;"></span>
  </div>
</div>