<div class="code-box" id="demo-vertical">
  <div class="code-box-demo">
    <div id="components-menu-demo-vertical"></div>
    <script>(function(){"use strict";

var Menu = antd.Menu;
var MenuItem = Menu.Item;
var SubMenu = Menu.SubMenu;

function handleClick(e) {
  console.log('click', e);
}

React.render(React.createElement(
  Menu,
  { onClick: handleClick, style: { width: 240 }, mode: "vertical" },
  React.createElement(
    SubMenu,
    { key: "sub1", title: React.createElement(
        "span",
        null,
        React.createElement("i", { className: "anticon anticon-mail" }),
        React.createElement(
          "span",
          null,
          "导航一"
        )
      ) },
    React.createElement(
      MenuItem,
      { key: "1" },
      "选项1"
    ),
    React.createElement(
      MenuItem,
      { key: "2" },
      "选项2"
    ),
    React.createElement(
      MenuItem,
      { key: "3" },
      "选项3"
    ),
    React.createElement(
      MenuItem,
      { key: "4" },
      "选项4"
    )
  ),
  React.createElement(
    SubMenu,
    { key: "sub2", title: React.createElement(
        "span",
        null,
        React.createElement("i", { className: "anticon anticon-appstore" }),
        React.createElement(
          "span",
          null,
          "导航二"
        )
      ) },
    React.createElement(
      MenuItem,
      { key: "5" },
      "选项5"
    ),
    React.createElement(
      MenuItem,
      { key: "6" },
      "选项6"
    ),
    React.createElement(
      SubMenu,
      { key: "sub3", title: "三级导航" },
      React.createElement(
        MenuItem,
        { key: "7" },
        "选项7"
      ),
      React.createElement(
        MenuItem,
        { key: "8" },
        "选项8"
      )
    )
  ),
  React.createElement(
    SubMenu,
    { key: "sub4", title: React.createElement(
        "span",
        null,
        React.createElement("i", { className: "anticon anticon-setting" }),
        React.createElement(
          "span",
          null,
          "导航三"
        )
      ) },
    React.createElement(
      MenuItem,
      { key: "9" },
      "选项9"
    ),
    React.createElement(
      MenuItem,
      { key: "10" },
      "选项10"
    ),
    React.createElement(
      MenuItem,
      { key: "11" },
      "选项11"
    ),
    React.createElement(
      MenuItem,
      { key: "12" },
      "选项12"
    )
  )
), document.getElementById('components-menu-demo-vertical'));})()</script><div class="highlight"><pre><code class="javascript"><span class="keyword">var</span> Menu = antd.Menu;
<span class="keyword">var</span> MenuItem = Menu.Item;
<span class="keyword">var</span> SubMenu = Menu.SubMenu;

<span class="function"><span class="keyword">function</span> <span class="title">handleClick</span><span class="params">(e)</span> {</span>
  console.log(<span class="string">'click'</span>, e);
}

React.render(<span class="xml"><span class="tag">&lt;<span class="title">Menu</span> <span class="attribute">onClick</span>=<span class="value">{handleClick}</span> <span class="attribute">style</span>=<span class="value">{{width:240}}</span> <span class="attribute">mode</span>=<span class="value">"vertical"</span>&gt;</span>
  <span class="tag">&lt;<span class="title">SubMenu</span> <span class="attribute">key</span>=<span class="value">"sub1"</span> <span class="attribute">title</span>=<span class="value">{&lt;span</span>&gt;</span><span class="tag">&lt;<span class="title">i</span> <span class="attribute">className</span>=<span class="value">"anticon anticon-mail"</span>&gt;</span><span class="tag">&lt;/<span class="title">i</span>&gt;</span><span class="tag">&lt;<span class="title">span</span>&gt;</span>导航一<span class="tag">&lt;/<span class="title">span</span>&gt;</span><span class="tag">&lt;/<span class="title">span</span>&gt;</span>}&gt;
    <span class="tag">&lt;<span class="title">MenuItem</span> <span class="attribute">key</span>=<span class="value">"1"</span>&gt;</span>选项1<span class="tag">&lt;/<span class="title">MenuItem</span>&gt;</span>
    <span class="tag">&lt;<span class="title">MenuItem</span> <span class="attribute">key</span>=<span class="value">"2"</span>&gt;</span>选项2<span class="tag">&lt;/<span class="title">MenuItem</span>&gt;</span>
    <span class="tag">&lt;<span class="title">MenuItem</span> <span class="attribute">key</span>=<span class="value">"3"</span>&gt;</span>选项3<span class="tag">&lt;/<span class="title">MenuItem</span>&gt;</span>
    <span class="tag">&lt;<span class="title">MenuItem</span> <span class="attribute">key</span>=<span class="value">"4"</span>&gt;</span>选项4<span class="tag">&lt;/<span class="title">MenuItem</span>&gt;</span>
  <span class="tag">&lt;/<span class="title">SubMenu</span>&gt;</span>
  <span class="tag">&lt;<span class="title">SubMenu</span> <span class="attribute">key</span>=<span class="value">"sub2"</span> <span class="attribute">title</span>=<span class="value">{&lt;span</span>&gt;</span><span class="tag">&lt;<span class="title">i</span> <span class="attribute">className</span>=<span class="value">"anticon anticon-appstore"</span>&gt;</span><span class="tag">&lt;/<span class="title">i</span>&gt;</span><span class="tag">&lt;<span class="title">span</span>&gt;</span>导航二<span class="tag">&lt;/<span class="title">span</span>&gt;</span><span class="tag">&lt;/<span class="title">span</span>&gt;</span>}&gt;
    <span class="tag">&lt;<span class="title">MenuItem</span> <span class="attribute">key</span>=<span class="value">"5"</span>&gt;</span>选项5<span class="tag">&lt;/<span class="title">MenuItem</span>&gt;</span>
    <span class="tag">&lt;<span class="title">MenuItem</span> <span class="attribute">key</span>=<span class="value">"6"</span>&gt;</span>选项6<span class="tag">&lt;/<span class="title">MenuItem</span>&gt;</span>
    <span class="tag">&lt;<span class="title">SubMenu</span> <span class="attribute">key</span>=<span class="value">"sub3"</span> <span class="attribute">title</span>=<span class="value">"三级导航"</span>&gt;</span>
      <span class="tag">&lt;<span class="title">MenuItem</span> <span class="attribute">key</span>=<span class="value">"7"</span>&gt;</span>选项7<span class="tag">&lt;/<span class="title">MenuItem</span>&gt;</span>
      <span class="tag">&lt;<span class="title">MenuItem</span> <span class="attribute">key</span>=<span class="value">"8"</span>&gt;</span>选项8<span class="tag">&lt;/<span class="title">MenuItem</span>&gt;</span>
    <span class="tag">&lt;/<span class="title">SubMenu</span>&gt;</span>
  <span class="tag">&lt;/<span class="title">SubMenu</span>&gt;</span>
  <span class="tag">&lt;<span class="title">SubMenu</span> <span class="attribute">key</span>=<span class="value">"sub4"</span> <span class="attribute">title</span>=<span class="value">{&lt;span</span>&gt;</span><span class="tag">&lt;<span class="title">i</span> <span class="attribute">className</span>=<span class="value">"anticon anticon-setting"</span>&gt;</span><span class="tag">&lt;/<span class="title">i</span>&gt;</span><span class="tag">&lt;<span class="title">span</span>&gt;</span>导航三<span class="tag">&lt;/<span class="title">span</span>&gt;</span><span class="tag">&lt;/<span class="title">span</span>&gt;</span>}&gt;
    <span class="tag">&lt;<span class="title">MenuItem</span> <span class="attribute">key</span>=<span class="value">"9"</span>&gt;</span>选项9<span class="tag">&lt;/<span class="title">MenuItem</span>&gt;</span>
    <span class="tag">&lt;<span class="title">MenuItem</span> <span class="attribute">key</span>=<span class="value">"10"</span>&gt;</span>选项10<span class="tag">&lt;/<span class="title">MenuItem</span>&gt;</span>
    <span class="tag">&lt;<span class="title">MenuItem</span> <span class="attribute">key</span>=<span class="value">"11"</span>&gt;</span>选项11<span class="tag">&lt;/<span class="title">MenuItem</span>&gt;</span>
    <span class="tag">&lt;<span class="title">MenuItem</span> <span class="attribute">key</span>=<span class="value">"12"</span>&gt;</span>选项12<span class="tag">&lt;/<span class="title">MenuItem</span>&gt;</span>
  <span class="tag">&lt;/<span class="title">SubMenu</span>&gt;</span>
<span class="tag">&lt;/<span class="title">Menu</span>&gt;</span>
, document.getElementById('components-menu-demo-vertical'));</span></code></pre></div>
  </div>
  <div class="code-box-meta markdown">
    <div class="code-box-title">
      <a href="#demo-vertical">垂直菜单</a>
    </div>
    <p>子菜单是弹出的形式。</p>
    <span class="collapse anticon anticon-circle-o-right" unselectable="none" style="-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;"></span>
  </div>
</div>