<div class="code-box" id="demo-vertical">
  <div class="code-box-demo">
    <div id="components-carousel-demo-vertical"></div>
    <script>(function(){"use strict";

var Carousel = antd.Carousel;

React.render(React.createElement(
  Carousel,
  { vertical: "true" },
  React.createElement(
    "div",
    null,
    React.createElement(
      "h3",
      null,
      "1"
    )
  ),
  React.createElement(
    "div",
    null,
    React.createElement(
      "h3",
      null,
      "2"
    )
  ),
  React.createElement(
    "div",
    null,
    React.createElement(
      "h3",
      null,
      "3"
    )
  ),
  React.createElement(
    "div",
    null,
    React.createElement(
      "h3",
      null,
      "4"
    )
  )
), document.getElementById('components-carousel-demo-vertical'));})()</script><div class="highlight"><pre><code class="javascript"><span class="keyword">var</span> Carousel = antd.Carousel;

React.render(
  <span class="xml"><span class="tag">&lt;<span class="title">Carousel</span> <span class="attribute">vertical</span>=<span class="value">"true"</span>&gt;</span>
    <span class="tag">&lt;<span class="title">div</span>&gt;</span><span class="tag">&lt;<span class="title">h3</span>&gt;</span>1<span class="tag">&lt;/<span class="title">h3</span>&gt;</span><span class="tag">&lt;/<span class="title">div</span>&gt;</span>
    <span class="tag">&lt;<span class="title">div</span>&gt;</span><span class="tag">&lt;<span class="title">h3</span>&gt;</span>2<span class="tag">&lt;/<span class="title">h3</span>&gt;</span><span class="tag">&lt;/<span class="title">div</span>&gt;</span>
    <span class="tag">&lt;<span class="title">div</span>&gt;</span><span class="tag">&lt;<span class="title">h3</span>&gt;</span>3<span class="tag">&lt;/<span class="title">h3</span>&gt;</span><span class="tag">&lt;/<span class="title">div</span>&gt;</span>
    <span class="tag">&lt;<span class="title">div</span>&gt;</span><span class="tag">&lt;<span class="title">h3</span>&gt;</span>4<span class="tag">&lt;/<span class="title">h3</span>&gt;</span><span class="tag">&lt;/<span class="title">div</span>&gt;</span>
  <span class="tag">&lt;/<span class="title">Carousel</span>&gt;</span>
, document.getElementById('components-carousel-demo-vertical'));</span></code></pre></div>
  </div>
  <div class="code-box-meta markdown">
    <div class="code-box-title">
      <a href="#demo-vertical">垂直</a>
    </div>
    <p>垂直显示。</p>
    <span class="collapse anticon anticon-circle-o-right" unselectable="none" style="-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;"></span>
  </div>
</div>