<div class="code-box" id="demo-icon">
  <div class="code-box-demo">
    <div id="components-button-demo-icon"></div>
    <div class="nico-insert-code"><button class="ant-btn ant-btn-primary ant-btn-circle ant-btn-lg">
  <i class="anticon anticon-search"></i>
</button>
<button class="ant-btn ant-btn-primary ant-btn-lg">
  <i class="anticon anticon-search"></i>
  大按钮
</button>

<button class="ant-btn ant-btn-primary ant-btn-circle">
  <i class="anticon anticon-search"></i>
</button>
<button class="ant-btn ant-btn-primary">
  <i class="anticon anticon-search"></i>
  中按钮
</button>

<button class="ant-btn ant-btn-primary ant-btn-circle ant-btn-sm">
  <i class="anticon anticon-search"></i>
</button>
<button class="ant-btn ant-btn-primary ant-btn-sm">
  <i class="anticon anticon-search"></i>
  小按钮
</button>

<p></p>

<button class="ant-btn ant-btn-ghost ant-btn-circle-outline ant-btn-lg">
  <i class="anticon anticon-search"></i>
</button>
<button class="ant-btn ant-btn-ghost ant-btn-circle-outline">
  <i class="anticon anticon-search"></i>
</button>
<button class="ant-btn ant-btn-circle-outline ant-btn-sm">
  <i class="anticon anticon-search"></i>
</button></div><div class="highlight"><pre><code class="xml"><span class="tag">&lt;<span class="title">button</span> <span class="attribute">class</span>=<span class="value">"ant-btn ant-btn-primary ant-btn-circle ant-btn-lg"</span>&gt;</span>
  <span class="tag">&lt;<span class="title">i</span> <span class="attribute">class</span>=<span class="value">"anticon anticon-search"</span>&gt;</span><span class="tag">&lt;/<span class="title">i</span>&gt;</span>
<span class="tag">&lt;/<span class="title">button</span>&gt;</span>
<span class="tag">&lt;<span class="title">button</span> <span class="attribute">class</span>=<span class="value">"ant-btn ant-btn-primary ant-btn-lg"</span>&gt;</span>
  <span class="tag">&lt;<span class="title">i</span> <span class="attribute">class</span>=<span class="value">"anticon anticon-search"</span>&gt;</span><span class="tag">&lt;/<span class="title">i</span>&gt;</span>
  大按钮
<span class="tag">&lt;/<span class="title">button</span>&gt;</span>

<span class="tag">&lt;<span class="title">button</span> <span class="attribute">class</span>=<span class="value">"ant-btn ant-btn-primary ant-btn-circle"</span>&gt;</span>
  <span class="tag">&lt;<span class="title">i</span> <span class="attribute">class</span>=<span class="value">"anticon anticon-search"</span>&gt;</span><span class="tag">&lt;/<span class="title">i</span>&gt;</span>
<span class="tag">&lt;/<span class="title">button</span>&gt;</span>
<span class="tag">&lt;<span class="title">button</span> <span class="attribute">class</span>=<span class="value">"ant-btn ant-btn-primary"</span>&gt;</span>
  <span class="tag">&lt;<span class="title">i</span> <span class="attribute">class</span>=<span class="value">"anticon anticon-search"</span>&gt;</span><span class="tag">&lt;/<span class="title">i</span>&gt;</span>
  中按钮
<span class="tag">&lt;/<span class="title">button</span>&gt;</span>

<span class="tag">&lt;<span class="title">button</span> <span class="attribute">class</span>=<span class="value">"ant-btn ant-btn-primary ant-btn-circle ant-btn-sm"</span>&gt;</span>
  <span class="tag">&lt;<span class="title">i</span> <span class="attribute">class</span>=<span class="value">"anticon anticon-search"</span>&gt;</span><span class="tag">&lt;/<span class="title">i</span>&gt;</span>
<span class="tag">&lt;/<span class="title">button</span>&gt;</span>
<span class="tag">&lt;<span class="title">button</span> <span class="attribute">class</span>=<span class="value">"ant-btn ant-btn-primary ant-btn-sm"</span>&gt;</span>
  <span class="tag">&lt;<span class="title">i</span> <span class="attribute">class</span>=<span class="value">"anticon anticon-search"</span>&gt;</span><span class="tag">&lt;/<span class="title">i</span>&gt;</span>
  小按钮
<span class="tag">&lt;/<span class="title">button</span>&gt;</span>

<span class="tag">&lt;<span class="title">p</span>&gt;</span><span class="tag">&lt;/<span class="title">p</span>&gt;</span>

<span class="tag">&lt;<span class="title">button</span> <span class="attribute">class</span>=<span class="value">"ant-btn ant-btn-ghost ant-btn-circle-outline ant-btn-lg"</span>&gt;</span>
  <span class="tag">&lt;<span class="title">i</span> <span class="attribute">class</span>=<span class="value">"anticon anticon-search"</span>&gt;</span><span class="tag">&lt;/<span class="title">i</span>&gt;</span>
<span class="tag">&lt;/<span class="title">button</span>&gt;</span>
<span class="tag">&lt;<span class="title">button</span> <span class="attribute">class</span>=<span class="value">"ant-btn ant-btn-ghost ant-btn-circle-outline"</span>&gt;</span>
  <span class="tag">&lt;<span class="title">i</span> <span class="attribute">class</span>=<span class="value">"anticon anticon-search"</span>&gt;</span><span class="tag">&lt;/<span class="title">i</span>&gt;</span>
<span class="tag">&lt;/<span class="title">button</span>&gt;</span>
<span class="tag">&lt;<span class="title">button</span> <span class="attribute">class</span>=<span class="value">"ant-btn ant-btn-circle-outline ant-btn-sm"</span>&gt;</span>
  <span class="tag">&lt;<span class="title">i</span> <span class="attribute">class</span>=<span class="value">"anticon anticon-search"</span>&gt;</span><span class="tag">&lt;/<span class="title">i</span>&gt;</span>
<span class="tag">&lt;/<span class="title">button</span>&gt;</span></code></pre></div>
  </div>
  <div class="code-box-meta markdown">
    <div class="code-box-title">
      <a href="#demo-icon">图标按钮</a>
    </div>
    <p>图标一般放在文字前面，也可以单独存在。</p>
    <span class="collapse anticon anticon-circle-o-right" unselectable="none" style="-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;"></span>
  </div>
</div>