<div class="code-box" id="demo-loading">
  <div class="code-box-demo">
    <div id="components-button-demo-loading"></div>
    <script>(function(){'use strict';

var App = React.createClass({
  displayName: 'App',

  getInitialState: function getInitialState() {
    return {
      loading: false
    };
  },
  enterLoading: function enterLoading() {
    this.setState({
      loading: true
    });
  },
  render: function render() {
    var loadingClass = this.state.loading ? 'ant-btn-loading' : '';
    return React.createElement(
      'div',
      null,
      React.createElement(
        'button',
        { className: 'ant-btn ant-btn-primary ant-btn-lg ant-btn-loading' },
        '加载中'
      ),
      React.createElement(
        'button',
        { className: 'ant-btn ant-btn-primary ant-btn-loading' },
        '加载中'
      ),
      React.createElement(
        'button',
        { className: 'ant-btn ant-btn-primary ant-btn-sm ant-btn-loading' },
        '加载中'
      ),
      React.createElement('br', null),
      React.createElement(
        'button',
        { className: 'ant-btn ant-btn-primary ' + loadingClass, onClick: this.enterLoading },
        '点击变加载'
      )
    );
  }
});

React.render(React.createElement(App, null), document.getElementById('components-button-demo-loading'));})()</script><div class="highlight"><pre><code class="javascript"><span class="keyword">var</span> App = React.createClass({
  getInitialState() {
    <span class="keyword">return</span> {
      loading: <span class="literal">false</span>
    };
  },
  enterLoading() {
    <span class="keyword">this</span>.setState({
      loading: <span class="literal">true</span>
    });
  },
  render() {
    <span class="keyword">var</span> loadingClass = <span class="keyword">this</span>.state.loading ? <span class="string">'ant-btn-loading'</span> : <span class="string">''</span>;
    <span class="keyword">return</span> <span class="xml"><span class="tag">&lt;<span class="title">div</span>&gt;</span>
      <span class="tag">&lt;<span class="title">button</span> <span class="attribute">className</span>=<span class="value">"ant-btn ant-btn-primary ant-btn-lg ant-btn-loading"</span>&gt;</span>
        加载中
      <span class="tag">&lt;/<span class="title">button</span>&gt;</span>
      <span class="tag">&lt;<span class="title">button</span> <span class="attribute">className</span>=<span class="value">"ant-btn ant-btn-primary ant-btn-loading"</span>&gt;</span>
        加载中
      <span class="tag">&lt;/<span class="title">button</span>&gt;</span>
      <span class="tag">&lt;<span class="title">button</span> <span class="attribute">className</span>=<span class="value">"ant-btn ant-btn-primary ant-btn-sm ant-btn-loading"</span>&gt;</span>
        加载中
      <span class="tag">&lt;/<span class="title">button</span>&gt;</span>
      <span class="tag">&lt;<span class="title">br</span> /&gt;</span>
      <span class="tag">&lt;<span class="title">button</span> <span class="attribute">className</span>=<span class="value">{'ant-btn</span> <span class="attribute">ant-btn-primary</span> ' + <span class="attribute">loadingClass</span>} <span class="attribute">onClick</span>=<span class="value">{this.enterLoading}</span>&gt;</span>
        点击变加载
      <span class="tag">&lt;/<span class="title">button</span>&gt;</span>
    <span class="tag">&lt;/<span class="title">div</span>&gt;</span>;</span>
  }
});

React.render(<span class="xml"><span class="tag">&lt;<span class="title">App</span> /&gt;</span>, document.getElementById('components-button-demo-loading'));</span></code></pre></div><style>
#components-button-demo-loading .ant-btn {
  margin-right: 8px;
  margin-bottom: 12px;
}
</style>

  </div>
  <div class="code-box-meta markdown">
    <div class="code-box-title">
      <a href="#demo-loading">加载中</a>
    </div>
    <p>加载按钮。最后一个按钮演示点击后进入加载状态。</p>
    <span class="collapse anticon anticon-circle-o-right" unselectable="none" style="-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;"></span>
  </div>
</div>