<div class="code-box" id="demo-menu">
  <div class="code-box-demo">
    <div id="components-button-demo-menu"></div>
    <div class="nico-insert-code"><button class="ant-btn ant-btn-primary ant-btn-menu">
  <span>菜单按钮</span>
  <span class="anticon anticon-down"></span>
</button>
<button class="ant-btn ant-btn-ghost ant-btn-circle ant-btn-menu">
  <span class="anticon anticon-down"></span>
</button></div><div class="highlight"><pre><code class="xml"><span class="tag">&lt;<span class="title">button</span> <span class="attribute">class</span>=<span class="value">"ant-btn ant-btn-primary ant-btn-menu"</span>&gt;</span>
  <span class="tag">&lt;<span class="title">span</span>&gt;</span>菜单按钮<span class="tag">&lt;/<span class="title">span</span>&gt;</span>
  <span class="tag">&lt;<span class="title">span</span> <span class="attribute">class</span>=<span class="value">"anticon anticon-down"</span>&gt;</span><span class="tag">&lt;/<span class="title">span</span>&gt;</span>
<span class="tag">&lt;/<span class="title">button</span>&gt;</span>
<span class="tag">&lt;<span class="title">button</span> <span class="attribute">class</span>=<span class="value">"ant-btn ant-btn-ghost ant-btn-circle ant-btn-menu"</span>&gt;</span>
  <span class="tag">&lt;<span class="title">span</span> <span class="attribute">class</span>=<span class="value">"anticon anticon-down"</span>&gt;</span><span class="tag">&lt;/<span class="title">span</span>&gt;</span>
<span class="tag">&lt;/<span class="title">button</span>&gt;</span></code></pre></div>
  </div>
  <div class="code-box-meta markdown">
    <div class="code-box-title">
      <a href="#demo-menu">菜单按钮</a>
    </div>
    <p><strong>注</strong>: 下拉按钮的 icon 大小统一成 <strong>10px</strong>。</p>
<p>更多交互，详见 <a href="http://ant.design/components/dropdown/">Dropdown 下拉菜单</a>。</p>
    <span class="collapse anticon anticon-circle-o-right" unselectable="none" style="-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;"></span>
  </div>
</div>