<div class="code-box" id="demo-placement">
  <div class="code-box-demo">
    <div id="components-popover-demo-placement"></div>
    <script>mountNode = document.getElementById('components-popover-demo-placement');</script>
    <script>(function(){"use strict";

var _antd = require("antd");

var text = React.createElement(
  "span",
  null,
  "标题"
);
var content = React.createElement(
  "div",
  null,
  React.createElement(
    "p",
    null,
    "内容"
  ),
  React.createElement(
    "p",
    null,
    "内容"
  )
);

ReactDOM.render(React.createElement(
  "div",
  null,
  React.createElement(
    "div",
    { style: { marginLeft: 60 } },
    React.createElement(
      _antd.Popover,
      { placement: "topLeft", title: text, overlay: content, trigger: "click" },
      React.createElement(
        _antd.Button,
        null,
        "上左"
      )
    ),
    React.createElement(
      _antd.Popover,
      { placement: "top", title: text, overlay: content, trigger: "click" },
      React.createElement(
        _antd.Button,
        null,
        "上边"
      )
    ),
    React.createElement(
      _antd.Popover,
      { placement: "topRight", title: text, overlay: content, trigger: "click" },
      React.createElement(
        _antd.Button,
        null,
        "上右"
      )
    )
  ),
  React.createElement(
    "div",
    { style: { width: 60, float: 'left' } },
    React.createElement(
      _antd.Popover,
      { placement: "leftTop", title: text, overlay: content, trigger: "click" },
      React.createElement(
        _antd.Button,
        null,
        "左上"
      )
    ),
    React.createElement(
      _antd.Popover,
      { placement: "left", title: text, overlay: content, trigger: "click" },
      React.createElement(
        _antd.Button,
        null,
        "左边"
      )
    ),
    React.createElement(
      _antd.Popover,
      { placement: "leftBottom", title: text, overlay: content, trigger: "click" },
      React.createElement(
        _antd.Button,
        null,
        "左下"
      )
    )
  ),
  React.createElement(
    "div",
    { style: { width: 60, marginLeft: 270 } },
    React.createElement(
      _antd.Popover,
      { placement: "rightTop", title: text, overlay: content, trigger: "click" },
      React.createElement(
        _antd.Button,
        null,
        "右上"
      )
    ),
    React.createElement(
      _antd.Popover,
      { placement: "right", title: text, overlay: content, trigger: "click" },
      React.createElement(
        _antd.Button,
        null,
        "右边"
      )
    ),
    React.createElement(
      _antd.Popover,
      { placement: "rightBottom", title: text, overlay: content, trigger: "click" },
      React.createElement(
        _antd.Button,
        null,
        "右下"
      )
    )
  ),
  React.createElement(
    "div",
    { style: { marginLeft: 60, clear: 'both' } },
    React.createElement(
      _antd.Popover,
      { placement: "bottomLeft", title: text, overlay: content, trigger: "click" },
      React.createElement(
        _antd.Button,
        null,
        "下左"
      )
    ),
    React.createElement(
      _antd.Popover,
      { placement: "bottom", title: text, overlay: content, trigger: "click" },
      React.createElement(
        _antd.Button,
        null,
        "下边"
      )
    ),
    React.createElement(
      _antd.Popover,
      { placement: "bottomRight", title: text, overlay: content, trigger: "click" },
      React.createElement(
        _antd.Button,
        null,
        "下右"
      )
    )
  )
), mountNode);})()</script><div class="highlight"><pre><code class="javascript"><span class="hljs-keyword">import</span> { Popover, Button } <span class="hljs-keyword">from</span> <span class="hljs-string">'antd'</span>;

<span class="hljs-keyword">const</span> text = <span class="xml"><span class="hljs-tag">&lt;<span class="hljs-title">span</span>&gt;</span>标题<span class="hljs-tag">&lt;/<span class="hljs-title">span</span>&gt;</span>;</span>
<span class="hljs-keyword">const</span> content = <span class="xml"><span class="hljs-tag">&lt;<span class="hljs-title">div</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-title">p</span>&gt;</span>内容<span class="hljs-tag">&lt;/<span class="hljs-title">p</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-title">p</span>&gt;</span>内容<span class="hljs-tag">&lt;/<span class="hljs-title">p</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>;</span>

ReactDOM.render(<span class="xml"><span class="hljs-tag">&lt;<span class="hljs-title">div</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">style</span>=<span class="hljs-value">{{marginLeft:</span> <span class="hljs-attribute">60</span>}}&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-title">Popover</span> <span class="hljs-attribute">placement</span>=<span class="hljs-value">"topLeft"</span> <span class="hljs-attribute">title</span>=<span class="hljs-value">{text}</span> <span class="hljs-attribute">overlay</span>=<span class="hljs-value">{content}</span> <span class="hljs-attribute">trigger</span>=<span class="hljs-value">"click"</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-title">Button</span>&gt;</span>上左<span class="hljs-tag">&lt;/<span class="hljs-title">Button</span>&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-title">Popover</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-title">Popover</span> <span class="hljs-attribute">placement</span>=<span class="hljs-value">"top"</span> <span class="hljs-attribute">title</span>=<span class="hljs-value">{text}</span> <span class="hljs-attribute">overlay</span>=<span class="hljs-value">{content}</span> <span class="hljs-attribute">trigger</span>=<span class="hljs-value">"click"</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-title">Button</span>&gt;</span>上边<span class="hljs-tag">&lt;/<span class="hljs-title">Button</span>&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-title">Popover</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-title">Popover</span> <span class="hljs-attribute">placement</span>=<span class="hljs-value">"topRight"</span> <span class="hljs-attribute">title</span>=<span class="hljs-value">{text}</span> <span class="hljs-attribute">overlay</span>=<span class="hljs-value">{content}</span> <span class="hljs-attribute">trigger</span>=<span class="hljs-value">"click"</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-title">Button</span>&gt;</span>上右<span class="hljs-tag">&lt;/<span class="hljs-title">Button</span>&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-title">Popover</span>&gt;</span>
  <span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">style</span>=<span class="hljs-value">{{width:</span> <span class="hljs-attribute">60</span>, <span class="hljs-attribute">float:</span> '<span class="hljs-attribute">left</span>'}}&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-title">Popover</span> <span class="hljs-attribute">placement</span>=<span class="hljs-value">"leftTop"</span> <span class="hljs-attribute">title</span>=<span class="hljs-value">{text}</span> <span class="hljs-attribute">overlay</span>=<span class="hljs-value">{content}</span> <span class="hljs-attribute">trigger</span>=<span class="hljs-value">"click"</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-title">Button</span>&gt;</span>左上<span class="hljs-tag">&lt;/<span class="hljs-title">Button</span>&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-title">Popover</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-title">Popover</span> <span class="hljs-attribute">placement</span>=<span class="hljs-value">"left"</span> <span class="hljs-attribute">title</span>=<span class="hljs-value">{text}</span> <span class="hljs-attribute">overlay</span>=<span class="hljs-value">{content}</span> <span class="hljs-attribute">trigger</span>=<span class="hljs-value">"click"</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-title">Button</span>&gt;</span>左边<span class="hljs-tag">&lt;/<span class="hljs-title">Button</span>&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-title">Popover</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-title">Popover</span> <span class="hljs-attribute">placement</span>=<span class="hljs-value">"leftBottom"</span> <span class="hljs-attribute">title</span>=<span class="hljs-value">{text}</span> <span class="hljs-attribute">overlay</span>=<span class="hljs-value">{content}</span> <span class="hljs-attribute">trigger</span>=<span class="hljs-value">"click"</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-title">Button</span>&gt;</span>左下<span class="hljs-tag">&lt;/<span class="hljs-title">Button</span>&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-title">Popover</span>&gt;</span>
  <span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">style</span>=<span class="hljs-value">{{width:</span> <span class="hljs-attribute">60</span>, <span class="hljs-attribute">marginLeft:</span> <span class="hljs-attribute">270</span>}}&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-title">Popover</span> <span class="hljs-attribute">placement</span>=<span class="hljs-value">"rightTop"</span> <span class="hljs-attribute">title</span>=<span class="hljs-value">{text}</span> <span class="hljs-attribute">overlay</span>=<span class="hljs-value">{content}</span> <span class="hljs-attribute">trigger</span>=<span class="hljs-value">"click"</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-title">Button</span>&gt;</span>右上<span class="hljs-tag">&lt;/<span class="hljs-title">Button</span>&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-title">Popover</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-title">Popover</span> <span class="hljs-attribute">placement</span>=<span class="hljs-value">"right"</span> <span class="hljs-attribute">title</span>=<span class="hljs-value">{text}</span> <span class="hljs-attribute">overlay</span>=<span class="hljs-value">{content}</span> <span class="hljs-attribute">trigger</span>=<span class="hljs-value">"click"</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-title">Button</span>&gt;</span>右边<span class="hljs-tag">&lt;/<span class="hljs-title">Button</span>&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-title">Popover</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-title">Popover</span> <span class="hljs-attribute">placement</span>=<span class="hljs-value">"rightBottom"</span> <span class="hljs-attribute">title</span>=<span class="hljs-value">{text}</span> <span class="hljs-attribute">overlay</span>=<span class="hljs-value">{content}</span> <span class="hljs-attribute">trigger</span>=<span class="hljs-value">"click"</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-title">Button</span>&gt;</span>右下<span class="hljs-tag">&lt;/<span class="hljs-title">Button</span>&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-title">Popover</span>&gt;</span>
  <span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">style</span>=<span class="hljs-value">{{marginLeft:</span> <span class="hljs-attribute">60</span>, <span class="hljs-attribute">clear:</span> '<span class="hljs-attribute">both</span>'}}&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-title">Popover</span> <span class="hljs-attribute">placement</span>=<span class="hljs-value">"bottomLeft"</span> <span class="hljs-attribute">title</span>=<span class="hljs-value">{text}</span> <span class="hljs-attribute">overlay</span>=<span class="hljs-value">{content}</span> <span class="hljs-attribute">trigger</span>=<span class="hljs-value">"click"</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-title">Button</span>&gt;</span>下左<span class="hljs-tag">&lt;/<span class="hljs-title">Button</span>&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-title">Popover</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-title">Popover</span> <span class="hljs-attribute">placement</span>=<span class="hljs-value">"bottom"</span> <span class="hljs-attribute">title</span>=<span class="hljs-value">{text}</span> <span class="hljs-attribute">overlay</span>=<span class="hljs-value">{content}</span> <span class="hljs-attribute">trigger</span>=<span class="hljs-value">"click"</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-title">Button</span>&gt;</span>下边<span class="hljs-tag">&lt;/<span class="hljs-title">Button</span>&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-title">Popover</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-title">Popover</span> <span class="hljs-attribute">placement</span>=<span class="hljs-value">"bottomRight"</span> <span class="hljs-attribute">title</span>=<span class="hljs-value">{text}</span> <span class="hljs-attribute">overlay</span>=<span class="hljs-value">{content}</span> <span class="hljs-attribute">trigger</span>=<span class="hljs-value">"click"</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-title">Button</span>&gt;</span>下右<span class="hljs-tag">&lt;/<span class="hljs-title">Button</span>&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-title">Popover</span>&gt;</span>
  <span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>, mountNode);</span></code></pre></div><style>
.code-box-demo .ant-btn {
  margin-right: 1em;
  margin-bottom: 1em;
}
</style>

  </div>
  <div class="code-box-meta markdown">
    <div class="code-box-title">
      <a href="#demo-placement">位置</a>
    </div>
    <p>位置有十二个方向。</p>
    <span class="collapse anticon anticon-circle-o-right" unselectable="none" style="-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;"></span>
  </div>
</div>