<div class="code-box" id="demo-offset">
  <div class="code-box-demo">
    <div id="components-affix-demo-offset"></div>
    <script>(function(){"use strict";

var Affix = antd.Affix;

React.render(React.createElement(
  Affix,
  { offset: 75 },
  React.createElement(
    "button",
    { className: "ant-btn ant-btn-primary" },
    "固定在距离顶部 75px 的位置"
  )
), document.getElementById('components-affix-demo-offset'));})()</script><div class="highlight"><pre><code class="javascript"><span class="keyword">var</span> Affix = antd.Affix;

React.render(
  <span class="xml"><span class="tag">&lt;<span class="title">Affix</span> <span class="attribute">offset</span>=<span class="value">{75}</span>&gt;</span>
    <span class="tag">&lt;<span class="title">button</span> <span class="attribute">className</span>=<span class="value">"ant-btn ant-btn-primary"</span>&gt;</span>固定在距离顶部 75px 的位置<span class="tag">&lt;/<span class="title">button</span>&gt;</span>
  <span class="tag">&lt;/<span class="title">Affix</span>&gt;</span>
, document.getElementById('components-affix-demo-offset'));</span></code></pre></div>
  </div>
  <div class="code-box-meta markdown">
    <div class="code-box-title">
      <a href="#demo-offset">偏移</a>
    </div>
    <p>达到一定的偏移量才触发。</p>
    <span class="collapse anticon anticon-circle-o-right" unselectable="none" style="-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;"></span>
  </div>
</div>