{{#t-flag-object collapse="m" maxWidth="6" as |t|}}
  {{#t.inner maxWidth="4" class="pr2"}}
    <img src="http://tachyons.io/img/super-wide.jpg" alt="A bright blue sky" class="w-100" />
  {{/t.inner}}
  {{#t.inner}}
    <p class="lh-copy">
      For desktop, this text is vertically aligned middle, no matter what the height of the image is.
      On mobile, this is a paragraph below an image.
    </p>
  {{/t.inner}}
{{/t-flag-object}}
