<div class="code-box" id="demo-basic">
  <div class="code-box-demo">
    <div id="components-tag-demo-basic"></div>
    <script>(function(){"use strict";

var Tag = antd.Tag;

function onClose(e) {
  console.log(this.props.children);
}

React.render(React.createElement(
  "div",
  null,
  React.createElement(
    Tag,
    null,
    "标签一"
  ),
  React.createElement(
    Tag,
    null,
    "标签二"
  ),
  React.createElement(
    Tag,
    { closable: true, onClose: onClose },
    "标签三"
  ),
  React.createElement(
    Tag,
    { href: "http://www.baidu.com" },
    "标签四（链接）"
  )
), document.getElementById('components-tag-demo-basic'));})()</script><div class="highlight"><pre><code class="javascript"><span class="keyword">var</span> Tag = antd.Tag;

<span class="function"><span class="keyword">function</span> <span class="title">onClose</span><span class="params">(e)</span> {</span>
  console.log(<span class="keyword">this</span>.props.children);
}

React.render(<span class="xml"><span class="tag">&lt;<span class="title">div</span>&gt;</span>
  <span class="tag">&lt;<span class="title">Tag</span>&gt;</span>标签一<span class="tag">&lt;/<span class="title">Tag</span>&gt;</span>
  <span class="tag">&lt;<span class="title">Tag</span>&gt;</span>标签二<span class="tag">&lt;/<span class="title">Tag</span>&gt;</span>
  <span class="tag">&lt;<span class="title">Tag</span> <span class="attribute">closable</span> <span class="attribute">onClose</span>=<span class="value">{onClose}</span>&gt;</span>标签三<span class="tag">&lt;/<span class="title">Tag</span>&gt;</span>
  <span class="tag">&lt;<span class="title">Tag</span> <span class="attribute">href</span>=<span class="value">"http://www.baidu.com"</span>&gt;</span>标签四（链接）<span class="tag">&lt;/<span class="title">Tag</span>&gt;</span>
<span class="tag">&lt;/<span class="title">div</span>&gt;</span>, document.getElementById('components-tag-demo-basic'));</span></code></pre></div>
  </div>
  <div class="code-box-meta markdown">
    <div class="code-box-title">
      <a href="#demo-basic">基本</a>
    </div>
    <p>简单的标签展示，添加 closable 表示可关闭。</p>
    <span class="collapse anticon anticon-circle-o-right" unselectable="none" style="-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;"></span>
  </div>
</div>