<div class="code-box" id="demo-colorful">
  <div class="code-box-demo">
    <div id="components-tag-demo-colorful"></div>
    <script>(function(){"use strict";

var Tag = antd.Tag;

React.render(React.createElement(
  "div",
  null,
  React.createElement(
    Tag,
    { closable: true, color: "blue" },
    "蓝色"
  ),
  React.createElement(
    Tag,
    { closable: true, color: "green" },
    "绿色"
  ),
  React.createElement(
    Tag,
    { closable: true, color: "yellow" },
    "黄色"
  ),
  React.createElement(
    Tag,
    { closable: true, color: "red" },
    "红色"
  )
), document.getElementById('components-tag-demo-colorful'));})()</script><div class="highlight"><pre><code class="javascript"><span class="keyword">var</span> Tag = antd.Tag;

React.render(<span class="xml"><span class="tag">&lt;<span class="title">div</span>&gt;</span>
  <span class="tag">&lt;<span class="title">Tag</span> <span class="attribute">closable</span> <span class="attribute">color</span>=<span class="value">"blue"</span>&gt;</span>蓝色<span class="tag">&lt;/<span class="title">Tag</span>&gt;</span>
  <span class="tag">&lt;<span class="title">Tag</span> <span class="attribute">closable</span> <span class="attribute">color</span>=<span class="value">"green"</span>&gt;</span>绿色<span class="tag">&lt;/<span class="title">Tag</span>&gt;</span>
  <span class="tag">&lt;<span class="title">Tag</span> <span class="attribute">closable</span> <span class="attribute">color</span>=<span class="value">"yellow"</span>&gt;</span>黄色<span class="tag">&lt;/<span class="title">Tag</span>&gt;</span>
  <span class="tag">&lt;<span class="title">Tag</span> <span class="attribute">closable</span> <span class="attribute">color</span>=<span class="value">"red"</span>&gt;</span>红色<span class="tag">&lt;/<span class="title">Tag</span>&gt;</span>
<span class="tag">&lt;/<span class="title">div</span>&gt;</span>, document.getElementById('components-tag-demo-colorful'));</span></code></pre></div>
  </div>
  <div class="code-box-meta markdown">
    <div class="code-box-title">
      <a href="#demo-colorful">各种类型</a>
    </div>
    <p>四种颜色的标签。</p>
    <span class="collapse anticon anticon-circle-o-right" unselectable="none" style="-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;"></span>
  </div>
</div>