<div class="code-box" id="demo-closable">
  <div class="code-box-demo">
    <div id="components-alert-demo-closable"></div>
    <script>(function(){"use strict";

var Alert = antd.Alert;

var onClose = function onClose(e) {
  console.log(e, '我要被关闭啦！');
};

React.render(React.createElement(
  "div",
  null,
  React.createElement(Alert, { message: "警告提示的文案",
    type: "warn",
    closable: true,
    onClose: onClose }),
  React.createElement(Alert, { message: "错误提示的文案",
    description: "错误提示的辅助性文字介绍错误提示的辅助性文字介绍错误提示的辅助性文字介绍错误提示的辅助性文字介绍错误提示的辅助性文字介绍错误提示的辅助性文字介绍",
    type: "error",
    closable: true,
    onClose: onClose })
), document.getElementById('components-alert-demo-closable'));})()</script><div class="highlight"><pre><code class="javascript"><span class="keyword">var</span> Alert = antd.Alert;

<span class="keyword">var</span> onClose = <span class="function"><span class="keyword">function</span><span class="params">(e)</span> {</span>
  console.log(e, <span class="string">'我要被关闭啦！'</span>);
};

React.render(<span class="xml"><span class="tag">&lt;<span class="title">div</span>&gt;</span>
  <span class="tag">&lt;<span class="title">Alert</span> <span class="attribute">message</span>=<span class="value">"警告提示的文案"</span>
    <span class="attribute">type</span>=<span class="value">"warn"</span>
    <span class="attribute">closable</span>
    <span class="attribute">onClose</span>=<span class="value">{onClose}</span> /&gt;</span>
  <span class="tag">&lt;<span class="title">Alert</span> <span class="attribute">message</span>=<span class="value">"错误提示的文案"</span>
    <span class="attribute">description</span>=<span class="value">"错误提示的辅助性文字介绍错误提示的辅助性文字介绍错误提示的辅助性文字介绍错误提示的辅助性文字介绍错误提示的辅助性文字介绍错误提示的辅助性文字介绍"</span>
    <span class="attribute">type</span>=<span class="value">"error"</span>
    <span class="attribute">closable</span>
    <span class="attribute">onClose</span>=<span class="value">{onClose}</span> /&gt;</span>
<span class="tag">&lt;/<span class="title">div</span>&gt;</span>, document.getElementById('components-alert-demo-closable'));</span></code></pre></div>
  </div>
  <div class="code-box-meta markdown">
    <div class="code-box-title">
      <a href="#demo-closable">可关闭的警告提示</a>
    </div>
    <p>显示关闭按钮，点击可关闭警告提示。</p>
    <span class="collapse anticon anticon-circle-o-right" unselectable="none" style="-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;"></span>
  </div>
</div>