<div class="code-box" id="demo-close-type">
  <div class="code-box-demo">
    <div id="components-alert-demo-close-type"></div>
    <script>(function(){"use strict";

var Alert = antd.Alert;
var link = React.createElement(
  "a",
  { href: "javascript:;" },
  "不再提醒"
);

React.render(React.createElement(Alert, { message: "消息提示的文案", type: "info", closeText: link }), document.getElementById('components-alert-demo-close-type'));})()</script><div class="highlight"><pre><code class="javascript"><span class="keyword">var</span> Alert = antd.Alert;
<span class="keyword">var</span> link = <span class="xml"><span class="tag">&lt;<span class="title">a</span> <span class="attribute">href</span>=<span class="value">"javascript:;"</span>&gt;</span>不再提醒<span class="tag">&lt;/<span class="title">a</span>&gt;</span>

React.render(
<span class="tag">&lt;<span class="title">Alert</span> <span class="attribute">message</span>=<span class="value">"消息提示的文案"</span> <span class="attribute">type</span>=<span class="value">"info"</span> <span class="attribute">closeText</span>=<span class="value">{link}</span> /&gt;</span>
, document.getElementById('components-alert-demo-close-type'));</span></code></pre></div>
  </div>
  <div class="code-box-meta markdown">
    <div class="code-box-title">
      <a href="#demo-close-type">自定义关闭</a>
    </div>
    <p>可以自定义关闭，自定义的文字会替换原先的关闭 <code>Icon</code>。</p>
    <span class="collapse anticon anticon-circle-o-right" unselectable="none" style="-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;"></span>
  </div>
</div>