<div class="code-box" id="demo-description">
  <div class="code-box-demo">
    <div id="components-alert-demo-description"></div>
    <script>(function(){"use strict";

var Alert = antd.Alert;

React.render(React.createElement(
  "div",
  null,
  React.createElement(Alert, { message: "成功提示的文案",
    description: "成功提示的辅助性文字介绍成功提示的辅助性文字介绍成功提示的辅助性文字介绍成功提示的辅助性文字介绍",
    type: "success" }),
  React.createElement(Alert, { message: "消息提示的文案",
    description: "消息提示的辅助性文字介绍消息提示的辅助性文字介绍消息提示的辅助性文字介绍",
    type: "info" }),
  React.createElement(Alert, {
    message: "警告提示的文案",
    description: "警告提示的辅助性文字介绍警告提示的辅助性文字介绍",
    type: "warn" }),
  React.createElement(Alert, {
    message: "错误提示的文案",
    description: "错误提示的辅助性文字介绍错误提示的辅助性文字介绍错误提示的辅助性文字介绍错误提示的辅助性文字介绍错误提示的辅助性文字介绍错误提示的辅助性文字介绍",
    type: "error" })
), document.getElementById('components-alert-demo-description'));})()</script><div class="highlight"><pre><code class="javascript"><span class="keyword">var</span> Alert = antd.Alert;

React.render(<span class="xml"><span class="tag">&lt;<span class="title">div</span>&gt;</span>
  <span class="tag">&lt;<span class="title">Alert</span> <span class="attribute">message</span>=<span class="value">"成功提示的文案"</span>
    <span class="attribute">description</span>=<span class="value">"成功提示的辅助性文字介绍成功提示的辅助性文字介绍成功提示的辅助性文字介绍成功提示的辅助性文字介绍"</span>
    <span class="attribute">type</span>=<span class="value">"success"</span> /&gt;</span>
  <span class="tag">&lt;<span class="title">Alert</span> <span class="attribute">message</span>=<span class="value">"消息提示的文案"</span>
    <span class="attribute">description</span>=<span class="value">"消息提示的辅助性文字介绍消息提示的辅助性文字介绍消息提示的辅助性文字介绍"</span>
    <span class="attribute">type</span>=<span class="value">"info"</span> /&gt;</span>
  <span class="tag">&lt;<span class="title">Alert
</span>    <span class="attribute">message</span>=<span class="value">"警告提示的文案"</span>
    <span class="attribute">description</span>=<span class="value">"警告提示的辅助性文字介绍警告提示的辅助性文字介绍"</span>
    <span class="attribute">type</span>=<span class="value">"warn"</span> /&gt;</span>
  <span class="tag">&lt;<span class="title">Alert
</span>    <span class="attribute">message</span>=<span class="value">"错误提示的文案"</span>
    <span class="attribute">description</span>=<span class="value">"错误提示的辅助性文字介绍错误提示的辅助性文字介绍错误提示的辅助性文字介绍错误提示的辅助性文字介绍错误提示的辅助性文字介绍错误提示的辅助性文字介绍"</span>
    <span class="attribute">type</span>=<span class="value">"error"</span> /&gt;</span>
<span class="tag">&lt;/<span class="title">div</span>&gt;</span>, document.getElementById('components-alert-demo-description'));</span></code></pre></div>
  </div>
  <div class="code-box-meta markdown">
    <div class="code-box-title">
      <a href="#demo-description">含有辅助性文字介绍</a>
    </div>
    <p>含有辅助性文字介绍的警告提示。</p>
    <span class="collapse anticon anticon-circle-o-right" unselectable="none" style="-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;"></span>
  </div>
</div>