<div class="code-box" id="demo-icon-slider">
  <div class="code-box-demo">
    <div id="components-slider-demo-icon-slider"></div>
    <script>mountNode = document.getElementById('components-slider-demo-icon-slider');</script>
    <script>(function(){'use strict';

var _extends = Object.assign || function (target) { for (var i = 1; i < arguments.length; i++) { var source = arguments[i]; for (var key in source) { if (Object.prototype.hasOwnProperty.call(source, key)) { target[key] = source[key]; } } } return target; };

var _antd = require('antd');

var IconSlider = React.createClass({
  displayName: 'IconSlider',
  getInitialState: function getInitialState() {
    var max = this.props.max;
    var min = this.props.min;
    var mid = ((max - min) / 2).toFixed(5);
    return {
      preIconClass: this.props.value >= mid ? '' : 'anticon-highlight',
      nextIconClass: this.props.value >= mid ? 'anticon-highlight' : '',
      mid: mid,
      sliderValue: this.props.value
    };
  },
  handleChange: function handleChange(v) {
    this.setState({
      preIconClass: v >= this.state.mid ? '' : 'anticon-highlight',
      nextIconClass: v >= this.state.mid ? 'anticon-highlight' : '',
      sliderValue: v
    });
  },
  render: function render() {
    return React.createElement(
      'div',
      { className: 'iconWrapper' },
      React.createElement(_antd.Icon, { className: this.state.preIconClass, type: this.props.icon[0] }),
      React.createElement(_antd.Slider, _extends({}, this.props, { onChange: this.handleChange, value: this.state.sliderValue })),
      React.createElement(_antd.Icon, { className: this.state.nextIconClass, type: this.props.icon[1] })
    );
  }
});

ReactDOM.render(React.createElement(IconSlider, { min: 0, max: 20, value: 0, icon: ['frown', 'smile'] }), mountNode);})()</script><div class="highlight"><pre><code class="javascript"><span class="hljs-keyword">import</span> { Slider, Icon } <span class="hljs-keyword">from</span> <span class="hljs-string">'antd'</span>;

<span class="hljs-keyword">const</span> IconSlider = React.createClass({
  getInitialState() {
    <span class="hljs-keyword">const</span> max = <span class="hljs-keyword">this</span>.props.max;
    <span class="hljs-keyword">const</span> min = <span class="hljs-keyword">this</span>.props.min;
    <span class="hljs-keyword">const</span> mid = ((max - min) / <span class="hljs-number">2</span>).toFixed(<span class="hljs-number">5</span>);
    <span class="hljs-keyword">return</span> {
      preIconClass: <span class="hljs-keyword">this</span>.props.value &gt;= mid ? <span class="hljs-string">''</span> : <span class="hljs-string">'anticon-highlight'</span>,
      nextIconClass: <span class="hljs-keyword">this</span>.props.value &gt;= mid ? <span class="hljs-string">'anticon-highlight'</span> : <span class="hljs-string">''</span>,
      mid,
      sliderValue: <span class="hljs-keyword">this</span>.props.value
    };
  },

  handleChange(v) {
    <span class="hljs-keyword">this</span>.setState({
      preIconClass: v &gt;= <span class="hljs-keyword">this</span>.state.mid ? <span class="hljs-string">''</span> : <span class="hljs-string">'anticon-highlight'</span>,
      nextIconClass: v &gt;= <span class="hljs-keyword">this</span>.state.mid ? <span class="hljs-string">'anticon-highlight'</span> : <span class="hljs-string">''</span>,
      sliderValue: v
    });
  },

  render() {
    <span class="hljs-keyword">return</span> (
      <span class="xml"><span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">className</span>=<span class="hljs-value">"iconWrapper"</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">Icon</span> <span class="hljs-attribute">className</span>=<span class="hljs-value">{this.state.preIconClass}</span> <span class="hljs-attribute">type</span>=<span class="hljs-value">{this.props.icon[0]}</span> /&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">Slider</span> {<span class="hljs-attribute">...this.props</span>} <span class="hljs-attribute">onChange</span>=<span class="hljs-value">{this.handleChange}</span> <span class="hljs-attribute">value</span>=<span class="hljs-value">{this.state.sliderValue}</span> /&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">Icon</span> <span class="hljs-attribute">className</span>=<span class="hljs-value">{this.state.nextIconClass}</span> <span class="hljs-attribute">type</span>=<span class="hljs-value">{this.props.icon[1]}</span> /&gt;</span>
      <span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
    )</span>;
  }
});

ReactDOM.render(
<span class="xml"><span class="hljs-tag">&lt;<span class="hljs-title">IconSlider</span> <span class="hljs-attribute">min</span>=<span class="hljs-value">{0}</span> <span class="hljs-attribute">max</span>=<span class="hljs-value">{20}</span> <span class="hljs-attribute">value</span>=<span class="hljs-value">{0}</span> <span class="hljs-attribute">icon</span>=<span class="hljs-value">{['frown',</span> '<span class="hljs-attribute">smile</span>']} /&gt;</span>
, mountNode);</span></code></pre></div><style type="text/css">.iconWrapper {
  position: relative;
  padding: 0px 30px;
}

.iconWrapper .anticon {
  position: absolute;
  top: -3px;
  width: 16px;
  height: 16px;
  line-height: 1;
  font-size: 16px;
  color: #ccc;
}

.iconWrapper .anticon:first-child {
  left: 0;
}

.iconWrapper .anticon:last-child {
  right: 0;
}

.anticon.anticon-highlight {
  color: #666;
}</style><div class="highlight"><pre><code class="css"><span class="hljs-class">.iconWrapper</span> <span class="hljs-rules">{
  <span class="hljs-rule"><span class="hljs-attribute">position</span>:<span class="hljs-value"> relative</span></span>;
  <span class="hljs-rule"><span class="hljs-attribute">padding</span>:<span class="hljs-value"> <span class="hljs-number">0px</span> <span class="hljs-number">30px</span></span></span>;
}</span>

<span class="hljs-class">.iconWrapper</span> <span class="hljs-class">.anticon</span> <span class="hljs-rules">{
  <span class="hljs-rule"><span class="hljs-attribute">position</span>:<span class="hljs-value"> absolute</span></span>;
  <span class="hljs-rule"><span class="hljs-attribute">top</span>:<span class="hljs-value"> -<span class="hljs-number">3px</span></span></span>;
  <span class="hljs-rule"><span class="hljs-attribute">width</span>:<span class="hljs-value"> <span class="hljs-number">16px</span></span></span>;
  <span class="hljs-rule"><span class="hljs-attribute">height</span>:<span class="hljs-value"> <span class="hljs-number">16px</span></span></span>;
  <span class="hljs-rule"><span class="hljs-attribute">line-height</span>:<span class="hljs-value"> <span class="hljs-number">1</span></span></span>;
  <span class="hljs-rule"><span class="hljs-attribute">font-size</span>:<span class="hljs-value"> <span class="hljs-number">16px</span></span></span>;
  <span class="hljs-rule"><span class="hljs-attribute">color</span>:<span class="hljs-value"> <span class="hljs-hexcolor">#ccc</span></span></span>;
}</span>

<span class="hljs-class">.iconWrapper</span> <span class="hljs-class">.anticon</span><span class="hljs-pseudo">:first-child</span> <span class="hljs-rules">{
  <span class="hljs-rule"><span class="hljs-attribute">left</span>:<span class="hljs-value"> <span class="hljs-number">0</span></span></span>;
}</span>

<span class="hljs-class">.iconWrapper</span> <span class="hljs-class">.anticon</span><span class="hljs-pseudo">:last-child</span> <span class="hljs-rules">{
  <span class="hljs-rule"><span class="hljs-attribute">right</span>:<span class="hljs-value"> <span class="hljs-number">0</span></span></span>;
}</span>

<span class="hljs-class">.anticon</span><span class="hljs-class">.anticon-highlight</span> <span class="hljs-rules">{
  <span class="hljs-rule"><span class="hljs-attribute">color</span>:<span class="hljs-value"> <span class="hljs-hexcolor">#666</span></span></span>;
}</span></code></pre></div>
  </div>
  <div class="code-box-meta markdown">
    <div class="code-box-title">
      <a href="#demo-icon-slider">带 icon 的滑块</a>
    </div>
    
<p>滑块左右可以设置图标来表达业务含义。</p>

    <span class="collapse anticon anticon-circle-o-right" unselectable="none"></span>
  </div>
</div>