<div class="code-box" id="demo-disabled">
  <div class="code-box-demo">
    <div id="components-tabs-demo-disabled"></div>
    <script>(function(){"use strict";

var Tabs = antd.Tabs;
var TabPane = Tabs.TabPane;

function callback(key) {}

React.render(React.createElement(
  Tabs,
  { defaultActiveKey: "1", onChange: callback },
  React.createElement(
    TabPane,
    { tab: "选项卡一", key: "1" },
    "选项卡一"
  ),
  React.createElement(
    TabPane,
    { tab: "选项卡二", disabled: true, key: "2" },
    "选项卡二"
  ),
  React.createElement(
    TabPane,
    { tab: "选项卡三", key: "3" },
    "选项卡三"
  )
), document.getElementById('components-tabs-demo-disabled'));})()</script><div class="highlight"><pre><code class="javascript"><span class="keyword">var</span> Tabs = antd.Tabs;
<span class="keyword">var</span> TabPane = Tabs.TabPane;

<span class="function"><span class="keyword">function</span> <span class="title">callback</span><span class="params">(key)</span> {</span>}

React.render(
  <span class="xml"><span class="tag">&lt;<span class="title">Tabs</span> <span class="attribute">defaultActiveKey</span>=<span class="value">"1"</span> <span class="attribute">onChange</span>=<span class="value">{callback}</span>&gt;</span>
    <span class="tag">&lt;<span class="title">TabPane</span> <span class="attribute">tab</span>=<span class="value">"选项卡一"</span> <span class="attribute">key</span>=<span class="value">"1"</span>&gt;</span>选项卡一<span class="tag">&lt;/<span class="title">TabPane</span>&gt;</span>
    <span class="tag">&lt;<span class="title">TabPane</span> <span class="attribute">tab</span>=<span class="value">"选项卡二"</span> <span class="attribute">disabled</span>=<span class="value">{true}</span> <span class="attribute">key</span>=<span class="value">"2"</span>&gt;</span>选项卡二<span class="tag">&lt;/<span class="title">TabPane</span>&gt;</span>
    <span class="tag">&lt;<span class="title">TabPane</span> <span class="attribute">tab</span>=<span class="value">"选项卡三"</span> <span class="attribute">key</span>=<span class="value">"3"</span>&gt;</span>选项卡三<span class="tag">&lt;/<span class="title">TabPane</span>&gt;</span>
  <span class="tag">&lt;/<span class="title">Tabs</span>&gt;</span>
, document.getElementById('components-tabs-demo-disabled'));</span></code></pre></div>
  </div>
  <div class="code-box-meta markdown">
    <div class="code-box-title">
      <a href="#demo-disabled">禁用</a>
    </div>
    <p>禁用某一项。</p>
    <span class="collapse anticon anticon-circle-o-right" unselectable="none" style="-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;"></span>
  </div>
</div>