<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <meta name="description" content="一个 UI 设计语言"/>
    <title>
Slider 滑动输入条 - Ant Design
</title>
    <link rel="icon" href="https://t.alipayobjects.com/images/T1QUBfXo4fXXXXXXXX.png" type="image/x-icon">
    <link rel="shortcut icon" href="https://t.alipayobjects.com/images/T1QUBfXo4fXXXXXXXX.png" type="image/x-icon">
    
    <link rel="stylesheet" href="../../dist/demo.css">
    <link rel="stylesheet" href="../../static/style.css">
    <link rel="stylesheet" href="../../static/tomorrow.css">
    <!--[if IE 8]>
    <script src="https://t.alipayobjects.com/images/rmsweb/T1q8JiXftaXXXXXXXX.js"></script>
    <![endif]-->
    <script src="https://as.alipayobjects.com/??component/console-polyfill/0.2.2/index.js,component/es5-shim/4.1.14/es5-shim.min.js,component/es5-shim/4.1.14/es5-sham.min.js,component/html5shiv/3.7.2/html5shiv.min.js,g/component/media-match/2.0.2/media.match.min.js"></script>
    <script src="https://a.alipayobjects.com/??bluebird/2.9.30/bluebird.js,jquery/jquery/1.11.1/jquery.js"></script>
    <script>
    (function() {
      window.ANT_COMPONENTS = [];
      window.InstantClickChangeFns = [];
      ANT_COMPONENTS.push({
        title: 'Pagination',
        desc: '分页'
      });
      ANT_COMPONENTS.push({
        title: 'Affix',
        desc: '固钉'
      });
      ANT_COMPONENTS.push({
        title: 'Badge',
        desc: '徽标数'
      });
      ANT_COMPONENTS.push({
        title: 'Breadcrumb',
        desc: '面包屑'
      });
      ANT_COMPONENTS.push({
        title: 'Button',
        desc: '按钮'
      });
      ANT_COMPONENTS.push({
        title: 'Calendar',
        desc: '日历'
      });
      ANT_COMPONENTS.push({
        title: 'Carousel',
        desc: '走马灯'
      });
      ANT_COMPONENTS.push({
        title: 'Checkbox',
        desc: '多选框'
      });
      ANT_COMPONENTS.push({
        title: 'Collapse',
        desc: '折叠面板'
      });
      ANT_COMPONENTS.push({
        title: 'Datepicker',
        desc: '日期选择框'
      });
      ANT_COMPONENTS.push({
        title: 'Dropdown',
        desc: '下拉菜单'
      });
      ANT_COMPONENTS.push({
        title: 'Form',
        desc: '表单'
      });
      ANT_COMPONENTS.push({
        title: 'Icon',
        desc: '图标'
      });
      ANT_COMPONENTS.push({
        title: 'InputNumber',
        desc: '数字输入框'
      });
      ANT_COMPONENTS.push({
        title: 'Layout',
        desc: '布局'
      });
      ANT_COMPONENTS.push({
        title: 'Menu',
        desc: '导航菜单'
      });
      ANT_COMPONENTS.push({
        title: 'Message',
        desc: '全局提示'
      });
      ANT_COMPONENTS.push({
        title: 'Modal',
        desc: '对话框'
      });
      ANT_COMPONENTS.push({
        title: 'Notification',
        desc: '通知提醒框'
      });
      ANT_COMPONENTS.push({
        title: 'Alert',
        desc: '警告提示'
      });
      ANT_COMPONENTS.push({
        title: 'Popconfirm',
        desc: '气泡确认框'
      });
      ANT_COMPONENTS.push({
        title: 'Popover',
        desc: '气泡卡片'
      });
      ANT_COMPONENTS.push({
        title: 'Progress',
        desc: '进度条'
      });
      ANT_COMPONENTS.push({
        title: 'QueueAnim',
        desc: '进出场动画'
      });
      ANT_COMPONENTS.push({
        title: 'Radio',
        desc: '单选框'
      });
      ANT_COMPONENTS.push({
        title: 'Select',
        desc: '选择器'
      });
      ANT_COMPONENTS.push({
        title: 'Slider',
        desc: '滑动输入条'
      });
      ANT_COMPONENTS.push({
        title: 'Spin',
        desc: '加载中'
      });
      ANT_COMPONENTS.push({
        title: 'Steps',
        desc: '步骤条'
      });
      ANT_COMPONENTS.push({
        title: 'Switch',
        desc: '开关'
      });
      ANT_COMPONENTS.push({
        title: 'Table',
        desc: '表格'
      });
      ANT_COMPONENTS.push({
        title: 'Tabs',
        desc: '标签页'
      });
      ANT_COMPONENTS.push({
        title: 'Tag',
        desc: '标签'
      });
      ANT_COMPONENTS.push({
        title: 'Timeline',
        desc: '时间轴'
      });
      ANT_COMPONENTS.push({
        title: 'Timepicker',
        desc: '时间选择框'
      });
      ANT_COMPONENTS.push({
        title: 'Tooltip',
        desc: '文字提示'
      });
      ANT_COMPONENTS.push({
        title: 'Tree',
        desc: '树形控件'
      });
      ANT_COMPONENTS.push({
        title: 'Upload',
        desc: '文件上传'
      });
      ANT_COMPONENTS.push({
        title: 'Validation',
        desc: '表单校验'
      });
      var i = location.pathname.split('/').lastIndexOf('ant-design');
      if (i > 0) {
        window.rootUrl = location.origin + location.pathname.split('/').slice(0, 2+1).join('/');
      } else {
        window.rootUrl = location.origin;
      }
    })();
    </script>
    <script src="../../static/script.js"></script>
    <script>
      window.antdVersion = {
        latest: '0.10.5',
        stable: '0.10.5'
      };
    </script>
    <script src="../../dist/demo.js"></script>
    <script src="https://t.alipayobjects.com/images/T1DrxhXe0mXXXXXXXX.js"></script>
    
  </head>
  <body >
    <header id="header" class="clearfix">
      <a class="logo" href="../..">
        <img width="60" src="https://t.alipayobjects.com/images/rmsweb/T1B9hfXcdvXXXXXXXX.svg">
        Ant Design
      </a>
      <div class="search">
        <div id="autoComplete"></div>
      </div>
      <nav class="nav">
        <span class="bar"></span>
        <ul>
          <li class="">
            <a href="../.." data-no-instant>首页</a>
          </li>
          <li class="">
            <a href="../../spec/introduce">设计</a>
          </li>
          <li>
            <a class="nav-link-disabled" href="">案例</a>
          </li>
          <li class="current">
            <a href="../../docs/introduce">React</a>
          </li>
          <li>
            <a target="_blank" href="https://github.com/ant-design/ant-design">Github</a>
          </li>
        </ul>
      </nav>
      <div class="nav-phone-icon"></div>
    </header>
    <div class="main-wrapper">
      
<aside class="aside-container">
  <ul>
      <li class="">
        <a href="../../docs/introduce" class="">
          Ant Design of React
          <span class="chinese"></span>
        </a>
      </li>
      <li class="">
        <a href="../../docs/getting-started" class="">
          快速上手
          <span class="chinese"></span>
        </a>
      </li>
      <li class="">
        <a href="../../docs/install" class="">
          安装
          <span class="chinese"></span>
        </a>
      </li>
      <li class="">
        <a href="../../docs/upgrade-to-0.10" class="">
          0.10 升级指南
          <span class="chinese"></span>
        </a>
      </li>
      <li class="">
        <a href="../../changelog" class="">
          更新日志
          <span class="chinese"></span>
        </a>
      </li>
    <li open="open">
      <h4>Components</h4>
      <ul class="">
          <li class="type-divider">基本</li>
          <li class="">
            <a href="../button/"
               class="">
              Button
              <span class="chinese">按钮</span>
            </a>
          </li>
          <li class="">
            <a href="../icon/"
               class="">
              Icon
              <span class="chinese">图标</span>
            </a>
          </li>
          <li class="">
            <a href="../layout/"
               class="">
              Layout
              <span class="chinese">布局</span>
            </a>
          </li>
          <li class="type-divider">表单</li>
          <li class="">
            <a href="../checkbox/"
               class="">
              Checkbox
              <span class="chinese">多选框</span>
            </a>
          </li>
          <li class="">
            <a href="../datepicker/"
               class="">
              Datepicker
              <span class="chinese">日期选择框</span>
            </a>
          </li>
          <li class="">
            <a href="../form/"
               class="">
              Form
              <span class="chinese">表单</span>
            </a>
          </li>
          <li class="">
            <a href="../input-number/"
               class="">
              InputNumber
              <span class="chinese">数字输入框</span>
            </a>
          </li>
          <li class="">
            <a href="../radio/"
               class="">
              Radio
              <span class="chinese">单选框</span>
            </a>
          </li>
          <li class="">
            <a href="../select/"
               class="">
              Select
              <span class="chinese">选择器</span>
            </a>
          </li>
          <li class="current">
            <a href="./"
               class="">
              Slider
              <span class="chinese">滑动输入条</span>
            </a>
          </li>
          <li class="">
            <a href="../switch/"
               class="">
              Switch
              <span class="chinese">开关</span>
            </a>
          </li>
          <li class="">
            <a href="../timepicker/"
               class="">
              Timepicker
              <span class="chinese">时间选择框</span>
            </a>
          </li>
          <li class="">
            <a href="../upload/"
               class="">
              Upload
              <span class="chinese">文件上传</span>
            </a>
          </li>
          <li class="">
            <a href="../validation/"
               class="">
              Validation
              <span class="chinese">表单校验</span>
            </a>
          </li>
          <li class="type-divider">展示</li>
          <li class="">
            <a href="../alert/"
               class="">
              Alert
              <span class="chinese">警告提示</span>
            </a>
          </li>
          <li class="">
            <a href="../badge/"
               class="">
              Badge
              <span class="chinese">徽标数</span>
            </a>
          </li>
          <li class="">
            <a href="../calendar/"
               class="">
              Calendar
              <span class="chinese">日历</span>
            </a>
          </li>
          <li class="">
            <a href="../carousel/"
               class="">
              Carousel
              <span class="chinese">走马灯</span>
            </a>
          </li>
          <li class="">
            <a href="../collapse/"
               class="">
              Collapse
              <span class="chinese">折叠面板</span>
            </a>
          </li>
          <li class="">
            <a href="../dropdown/"
               class="">
              Dropdown
              <span class="chinese">下拉菜单</span>
            </a>
          </li>
          <li class="">
            <a href="../message/"
               class=""data-no-instant>
              Message
              <span class="chinese">全局提示</span>
            </a>
          </li>
          <li class="">
            <a href="../modal/"
               class="">
              Modal
              <span class="chinese">对话框</span>
            </a>
          </li>
          <li class="">
            <a href="../notification/"
               class=""data-no-instant>
              Notification
              <span class="chinese">通知提醒框</span>
            </a>
          </li>
          <li class="">
            <a href="../popconfirm/"
               class="">
              Popconfirm
              <span class="chinese">气泡确认框</span>
            </a>
          </li>
          <li class="">
            <a href="../popover/"
               class="">
              Popover
              <span class="chinese">气泡卡片</span>
            </a>
          </li>
          <li class="">
            <a href="../progress/"
               class="">
              Progress
              <span class="chinese">进度条</span>
            </a>
          </li>
          <li class="">
            <a href="../table/"
               class="">
              Table
              <span class="chinese">表格</span>
            </a>
          </li>
          <li class="">
            <a href="../tag/"
               class="">
              Tag
              <span class="chinese">标签</span>
            </a>
          </li>
          <li class="">
            <a href="../timeline/"
               class="">
              Timeline
              <span class="chinese">时间轴</span>
            </a>
          </li>
          <li class="">
            <a href="../tooltip/"
               class="">
              Tooltip
              <span class="chinese">文字提示</span>
            </a>
          </li>
          <li class="">
            <a href="../tree/"
               class="">
              Tree
              <span class="chinese">树形控件</span>
            </a>
          </li>
          <li class="type-divider">导航</li>
          <li class="">
            <a href="../breadcrumb/"
               class="">
              Breadcrumb
              <span class="chinese">面包屑</span>
            </a>
          </li>
          <li class="">
            <a href="../menu/"
               class="">
              Menu
              <span class="chinese">导航菜单</span>
            </a>
          </li>
          <li class="">
            <a href="../pagination/"
               class="">
              Pagination
              <span class="chinese">分页</span>
            </a>
          </li>
          <li class="">
            <a href="../steps/"
               class="">
              Steps
              <span class="chinese">步骤条</span>
            </a>
          </li>
          <li class="">
            <a href="../tabs/"
               class="">
              Tabs
              <span class="chinese">标签页</span>
            </a>
          </li>
          <li class="type-divider">其他</li>
          <li class="">
            <a href="../affix/"
               class="">
              Affix
              <span class="chinese">固钉</span>
            </a>
          </li>
          <li class="">
            <a href="../queue-anim/"
               class="">
              QueueAnim
              <span class="chinese">进出场动画</span>
            </a>
          </li>
          <li class="">
            <a href="../spin/"
               class="">
              Spin
              <span class="chinese">加载中</span>
            </a>
          </li>
      </ul>
    </li>
  </ul>
</aside>
 
<section class="main-container">
  <article class="markdown">
    <h1>
      Slider 滑动输入条
    </h1>
    <p>滑动型输入器，展示当前值和可选范围。</p>
<h2 id="何时使用">何时使用<a href="#何时使用" class="anchor">#</a> </h2><p>当用户需要在数值区间/自定义区间内进行选择时，可为连续或离散值。</p>
<h2 id="api">API<a href="#api" class="anchor">#</a> </h2><table>
<thead>
<tr>
<th>参数</th>
<th>类型</th>
<th>默认值</th>
<th>说明</th>
</tr>
</thead>
<tbody>
<tr>
<td>min</td>
<td>Number</td>
<td>0</td>
<td>最小值</td>
</tr>
<tr>
<td>max</td>
<td>Number</td>
<td>100</td>
<td>最大值</td>
</tr>
<tr>
<td>step</td>
<td>Number or null</td>
<td>1</td>
<td>步长，取值必须大于 0，并且可被 (max - min) 整除。当 <code>marks</code> 不为空对象时，可以设置 <code>step</code> 为 <code>null</code>，此时 Slider 的可选值仅有 marks 标出来的部分。</td>
</tr>
<tr>
<td>marks</td>
<td>Object {Number: String}</td>
<td>{}</td>
<td>分段标记，key 的类型必须为 <code>Number</code> 且取值在闭区间 [min, max] 内</td>
</tr>
<tr>
<td>value</td>
<td>Number or [Number, Number]</td>
<td></td>
<td>设置当前取值。当 <code>range</code> 为 <code>false</code> 时，使用 <code>Number</code>，否则用 <code>[Number, Number]</code></td>
</tr>
<tr>
<td>defaultValue</td>
<td>Number or [Number, Number]</td>
<td>0 or [0, 0]</td>
<td>设置初始取值。当 <code>range</code> 为 <code>false</code> 时，使用 <code>Number</code>，否则用 <code>[Number, Number]</code></td>
</tr>
<tr>
<td>included</td>
<td>Boolean</td>
<td>true</td>
<td><code>marks</code> 不为空对象时有效，值为 true 时表示值为包含关系，false 表示并列</td>
</tr>
<tr>
<td>disabled</td>
<td>Boolean</td>
<td>false</td>
<td>值为 <code>true</code> 时，滑块为禁用状态</td>
</tr>
<tr>
<td>onChange</td>
<td>Function</td>
<td>NOOP</td>
<td>当 Slider 的值发生改变时，会触发 onChange 事件，并把改变后的值作为参数传入。</td>
</tr>
<tr>
<td>tipFormatter</td>
<td>Function</td>
<td></td>
<td>Slider 会把当前值传给 <code>tipFormatter</code>，并在 Tooltip 中显示 <code>tipFormatter</code> 的返回值。</td>
</tr>
</tbody>
</table>

  </article>
<h2 class="component-demos">
  代码演示
  <i class="anticon anticon-appstore icon-all" title="展开全部代码"></i>
</h2>
<div class="code-boxes">
  <div class="code-boxes-col-2-1"><div class="code-box" id="demo-basic">
  <div class="code-box-demo">
    <div id="components-slider-demo-basic"></div>
    <script>(function(){'use strict';

var _antd = require('antd');

ReactDOM.render(React.createElement(
  'div',
  null,
  React.createElement(_antd.Slider, { defaultValue: 30 }),
  React.createElement(_antd.Slider, { range: true, defaultValue: [20, 50] }),
  React.createElement(_antd.Slider, { range: true, defaultValue: [20, 50], disabled: true })
), document.getElementById('components-slider-demo-basic'));})()</script><div class="highlight"><pre><code class="javascript"><span class="hljs-keyword">import</span> { Slider } <span class="hljs-keyword">from</span> <span class="hljs-string">'antd'</span>;

ReactDOM.render(<span class="xml"><span class="hljs-tag">&lt;<span class="hljs-title">div</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-title">Slider</span> <span class="hljs-attribute">defaultValue</span>=<span class="hljs-value">{30}</span> /&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-title">Slider</span> <span class="hljs-attribute">range</span> <span class="hljs-attribute">defaultValue</span>=<span class="hljs-value">{[20,</span> <span class="hljs-attribute">50</span>]} /&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-title">Slider</span> <span class="hljs-attribute">range</span> <span class="hljs-attribute">defaultValue</span>=<span class="hljs-value">{[20,</span> <span class="hljs-attribute">50</span>]} <span class="hljs-attribute">disabled</span> /&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
, document.getElementById('components-slider-demo-basic'));</span></code></pre></div><style>
.code-box-demo .ant-slider {
  margin-bottom: 50px;
}

.code-box-demo .ant-slider:last-child {
  margin-bottom: 10px;
}
</style>

  </div>
  <div class="code-box-meta markdown">
    <div class="code-box-title">
      <a href="#demo-basic">基本</a>
    </div>
    <p>基本滑动条。当 <code>range</code> 为 <code>true</code> 时，渲染为双滑块。当 <code>disabled</code> 为 <code>true</code> 时，滑块处于不可用状态。</p>
    <span class="collapse anticon anticon-circle-o-right" unselectable="none" style="-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;"></span>
  </div>
</div><div class="code-box" id="demo-icon-slider">
  <div class="code-box-demo">
    <div id="components-slider-demo-icon-slider"></div>
    <script>(function(){'use strict';

var _extends = Object.assign || function (target) { for (var i = 1; i < arguments.length; i++) { var source = arguments[i]; for (var key in source) { if (Object.prototype.hasOwnProperty.call(source, key)) { target[key] = source[key]; } } } return target; };

var _antd = require('antd');

var IconSlider = React.createClass({
  displayName: 'IconSlider',

  getInitialState: function getInitialState() {
    var max = this.props.max;
    var min = this.props.min;
    var mid = ((max - min) / 2).toFixed(5);

    return {
      preIconClass: this.props.value >= mid ? '' : 'anticon-highlight',
      nextIconClass: this.props.value >= mid ? 'anticon-highlight' : '',
      mid: mid,
      sliderValue: this.props.value
    };
  },

  handleChange: function handleChange(v) {
    this.setState({
      preIconClass: v >= this.state.mid ? '' : 'anticon-highlight',
      nextIconClass: v >= this.state.mid ? 'anticon-highlight' : '',
      sliderValue: v
    });
  },

  render: function render() {
    return React.createElement(
      'div',
      { className: 'iconWrapper' },
      React.createElement(_antd.Icon, { className: this.state.preIconClass, type: this.props.icon[0] }),
      React.createElement(_antd.Icon, { className: this.state.nextIconClass, type: this.props.icon[1] }),
      React.createElement(_antd.Slider, _extends({}, this.props, { onChange: this.handleChange, value: this.state.sliderValue }))
    );
  }
});

ReactDOM.render(React.createElement(IconSlider, { min: 0, max: 20, value: 0, icon: ['lock', 'unlock'] }), document.getElementById('components-slider-demo-icon-slider'));})()</script><div class="highlight"><pre><code class="javascript"><span class="hljs-keyword">import</span> { Slider, Icon } <span class="hljs-keyword">from</span> <span class="hljs-string">'antd'</span>;

<span class="hljs-keyword">const</span> IconSlider = React.createClass({
  getInitialState() {
    <span class="hljs-keyword">const</span> max = <span class="hljs-keyword">this</span>.props.max;
    <span class="hljs-keyword">const</span> min = <span class="hljs-keyword">this</span>.props.min;
    <span class="hljs-keyword">const</span> mid = ((max - min) / <span class="hljs-number">2</span>).toFixed(<span class="hljs-number">5</span>);

    <span class="hljs-keyword">return</span> {
      preIconClass: <span class="hljs-keyword">this</span>.props.value &gt;= mid ? <span class="hljs-string">''</span> : <span class="hljs-string">'anticon-highlight'</span>,
      nextIconClass: <span class="hljs-keyword">this</span>.props.value &gt;= mid ? <span class="hljs-string">'anticon-highlight'</span> : <span class="hljs-string">''</span>,
      mid: mid,
      sliderValue: <span class="hljs-keyword">this</span>.props.value
    };
  },

  handleChange(v) {
    <span class="hljs-keyword">this</span>.setState({
      preIconClass: v &gt;= <span class="hljs-keyword">this</span>.state.mid ? <span class="hljs-string">''</span> : <span class="hljs-string">'anticon-highlight'</span>,
      nextIconClass: v &gt;= <span class="hljs-keyword">this</span>.state.mid ? <span class="hljs-string">'anticon-highlight'</span> : <span class="hljs-string">''</span>,
      sliderValue: v
    });
  },

  render() {
    <span class="hljs-keyword">return</span> (
      <span class="xml"><span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">className</span>=<span class="hljs-value">"iconWrapper"</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">Icon</span> <span class="hljs-attribute">className</span>=<span class="hljs-value">{this.state.preIconClass}</span> <span class="hljs-attribute">type</span>=<span class="hljs-value">{this.props.icon[0]}</span> /&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">Icon</span> <span class="hljs-attribute">className</span>=<span class="hljs-value">{this.state.nextIconClass}</span> <span class="hljs-attribute">type</span>=<span class="hljs-value">{this.props.icon[1]}</span> /&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">Slider</span> {<span class="hljs-attribute">...this.props</span>} <span class="hljs-attribute">onChange</span>=<span class="hljs-value">{this.handleChange}</span> <span class="hljs-attribute">value</span>=<span class="hljs-value">{this.state.sliderValue}</span> /&gt;</span>
      <span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
    )</span>;
  }
});

ReactDOM.render(
<span class="xml"><span class="hljs-tag">&lt;<span class="hljs-title">IconSlider</span> <span class="hljs-attribute">min</span>=<span class="hljs-value">{0}</span> <span class="hljs-attribute">max</span>=<span class="hljs-value">{20}</span> <span class="hljs-attribute">value</span>=<span class="hljs-value">{0}</span> <span class="hljs-attribute">icon</span>=<span class="hljs-value">{['lock',</span> '<span class="hljs-attribute">unlock</span>']} /&gt;</span>
, document.getElementById('components-slider-demo-icon-slider'));</span></code></pre></div><style type="text/css">.iconWrapper {
  position: relative;
  padding: 0px 30px;
}

.iconWrapper .anticon {
  position: absolute;
  top: -3px;
  width: 16px;
  height: 16px;
  line-height: 1;
  font-size: 16px;
  color: #ccc;
}

.iconWrapper .anticon-lock {
  left: 0;
}
.iconWrapper .anticon-unlock{
  right: 0;
}

.anticon.anticon-highlight {
  color: #666;
}</style><div class="highlight"><pre><code class="css"><span class="hljs-class">.iconWrapper</span> <span class="hljs-rules">{
  <span class="hljs-rule"><span class="hljs-attribute">position</span>:<span class="hljs-value"> relative</span></span>;
  <span class="hljs-rule"><span class="hljs-attribute">padding</span>:<span class="hljs-value"> <span class="hljs-number">0px</span> <span class="hljs-number">30px</span></span></span>;
}</span>

<span class="hljs-class">.iconWrapper</span> <span class="hljs-class">.anticon</span> <span class="hljs-rules">{
  <span class="hljs-rule"><span class="hljs-attribute">position</span>:<span class="hljs-value"> absolute</span></span>;
  <span class="hljs-rule"><span class="hljs-attribute">top</span>:<span class="hljs-value"> -<span class="hljs-number">3px</span></span></span>;
  <span class="hljs-rule"><span class="hljs-attribute">width</span>:<span class="hljs-value"> <span class="hljs-number">16px</span></span></span>;
  <span class="hljs-rule"><span class="hljs-attribute">height</span>:<span class="hljs-value"> <span class="hljs-number">16px</span></span></span>;
  <span class="hljs-rule"><span class="hljs-attribute">line-height</span>:<span class="hljs-value"> <span class="hljs-number">1</span></span></span>;
  <span class="hljs-rule"><span class="hljs-attribute">font-size</span>:<span class="hljs-value"> <span class="hljs-number">16px</span></span></span>;
  <span class="hljs-rule"><span class="hljs-attribute">color</span>:<span class="hljs-value"> <span class="hljs-hexcolor">#ccc</span></span></span>;
}</span>

<span class="hljs-class">.iconWrapper</span> <span class="hljs-class">.anticon-lock</span> <span class="hljs-rules">{
  <span class="hljs-rule"><span class="hljs-attribute">left</span>:<span class="hljs-value"> <span class="hljs-number">0</span></span></span>;
}</span>
<span class="hljs-class">.iconWrapper</span> <span class="hljs-class">.anticon-unlock</span><span class="hljs-rules">{
  <span class="hljs-rule"><span class="hljs-attribute">right</span>:<span class="hljs-value"> <span class="hljs-number">0</span></span></span>;
}</span>

<span class="hljs-class">.anticon</span><span class="hljs-class">.anticon-highlight</span> <span class="hljs-rules">{
  <span class="hljs-rule"><span class="hljs-attribute">color</span>:<span class="hljs-value"> <span class="hljs-hexcolor">#666</span></span></span>;
}</span></code></pre></div>
  </div>
  <div class="code-box-meta markdown">
    <div class="code-box-title">
      <a href="#demo-icon-slider">带 icon 的滑块</a>
    </div>
    <p>滑块左右可以设置图标来表达业务含义。</p>
    <span class="collapse anticon anticon-circle-o-right" unselectable="none" style="-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;"></span>
  </div>
</div><div class="code-box" id="demo-event">
  <div class="code-box-demo">
    <div id="components-slider-demo-event"></div>
    <script>(function(){'use strict';

var _antd = require('antd');

function log(value) {
  console.log(value);
}

ReactDOM.render(React.createElement(
  'div',
  null,
  React.createElement(_antd.Slider, { defaultValue: 30, onChange: log }),
  React.createElement(_antd.Slider, { range: true, step: 10, defaultValue: [20, 50], onChange: log })
), document.getElementById('components-slider-demo-event'));})()</script><div class="highlight"><pre><code class="javascript"><span class="hljs-keyword">import</span> { Slider } <span class="hljs-keyword">from</span> <span class="hljs-string">'antd'</span>;

<span class="hljs-function"><span class="hljs-keyword">function</span> <span class="hljs-title">log</span>(<span class="hljs-params">value</span>) </span>{
  <span class="hljs-built_in">console</span>.log(value);
}

ReactDOM.render(
<span class="xml"><span class="hljs-tag">&lt;<span class="hljs-title">div</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-title">Slider</span> <span class="hljs-attribute">defaultValue</span>=<span class="hljs-value">{30}</span> <span class="hljs-attribute">onChange</span>=<span class="hljs-value">{log}</span> /&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-title">Slider</span> <span class="hljs-attribute">range</span> <span class="hljs-attribute">step</span>=<span class="hljs-value">{10}</span> <span class="hljs-attribute">defaultValue</span>=<span class="hljs-value">{[20,</span> <span class="hljs-attribute">50</span>]} <span class="hljs-attribute">onChange</span>=<span class="hljs-value">{log}</span> /&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
, document.getElementById('components-slider-demo-event'));</span></code></pre></div>
  </div>
  <div class="code-box-meta markdown">
    <div class="code-box-title">
      <a href="#demo-event">事件</a>
    </div>
    <p>当 Slider 的值发生改变时，会触发 onChange 事件，并把改变后的值作为参数传入。</p>
    <span class="collapse anticon anticon-circle-o-right" unselectable="none" style="-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;"></span>
  </div>
</div>
  </div>
  <div class="code-boxes-col-2-1"><div class="code-box" id="demo-input-number">
  <div class="code-box-demo">
    <div id="components-slider-demo-input-number"></div>
    <script>(function(){"use strict";

var _antd = require('antd');

var IntegerStep = React.createClass({
  displayName: "IntegerStep",

  getInitialState: function getInitialState() {
    return {
      inputValue: 1
    };
  },
  onChange: function onChange(value) {
    this.setState({
      inputValue: value
    });
  },
  render: function render() {
    return React.createElement(
      "div",
      { className: "row" },
      React.createElement(
        "div",
        { className: "col-12" },
        React.createElement(_antd.Slider, { min: 1, max: 20, onChange: this.onChange, value: this.state.inputValue })
      ),
      React.createElement(
        "div",
        { className: "col-4" },
        React.createElement(_antd.InputNumber, { min: 1, max: 20, style: { marginLeft: '16px' },
          value: this.state.inputValue, onChange: this.onChange })
      )
    );
  }
});

var DecimalStep = React.createClass({
  displayName: "DecimalStep",

  getInitialState: function getInitialState() {
    return {
      inputValue: 0
    };
  },
  onChange: function onChange(value) {
    this.setState({
      inputValue: value
    });
  },
  render: function render() {
    return React.createElement(
      "div",
      { className: "row" },
      React.createElement(
        "div",
        { className: "col-12" },
        React.createElement(_antd.Slider, { min: 0, max: 1, onChange: this.onChange, value: this.state.inputValue, step: 0.01 })
      ),
      React.createElement(
        "div",
        { className: "col-4" },
        React.createElement(_antd.InputNumber, { min: 0, max: 1, style: { marginLeft: '16px' }, step: 0.01,
          value: this.state.inputValue, onChange: this.onChange })
      )
    );
  }
});

ReactDOM.render(React.createElement(
  "div",
  null,
  React.createElement(IntegerStep, null),
  React.createElement(DecimalStep, null)
), document.getElementById('components-slider-demo-input-number'));})()</script><div class="highlight"><pre><code class="javascript"><span class="hljs-keyword">import</span> { Slider, InputNumber } <span class="hljs-keyword">from</span> <span class="hljs-string">'antd'</span>;

<span class="hljs-keyword">const</span> IntegerStep = React.createClass({
  getInitialState() {
    <span class="hljs-keyword">return</span> {
      inputValue: <span class="hljs-number">1</span>
    };
  },
  onChange(value) {
    <span class="hljs-keyword">this</span>.setState({
      inputValue: value
    });
  },
  render() {
    <span class="hljs-keyword">return</span> (
      <span class="xml"><span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">className</span>=<span class="hljs-value">"row"</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">className</span>=<span class="hljs-value">"col-12"</span>&gt;</span>
          <span class="hljs-tag">&lt;<span class="hljs-title">Slider</span> <span class="hljs-attribute">min</span>=<span class="hljs-value">{1}</span> <span class="hljs-attribute">max</span>=<span class="hljs-value">{20}</span> <span class="hljs-attribute">onChange</span>=<span class="hljs-value">{this.onChange}</span> <span class="hljs-attribute">value</span>=<span class="hljs-value">{this.state.inputValue}</span> /&gt;</span>
        <span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">className</span>=<span class="hljs-value">"col-4"</span>&gt;</span>
          <span class="hljs-tag">&lt;<span class="hljs-title">InputNumber</span> <span class="hljs-attribute">min</span>=<span class="hljs-value">{1}</span> <span class="hljs-attribute">max</span>=<span class="hljs-value">{20}</span> <span class="hljs-attribute">style</span>=<span class="hljs-value">{{marginLeft:</span> '<span class="hljs-attribute">16px</span>'}}
            <span class="hljs-attribute">value</span>=<span class="hljs-value">{this.state.inputValue}</span> <span class="hljs-attribute">onChange</span>=<span class="hljs-value">{this.onChange}</span> /&gt;</span>
        <span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
      <span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
    )</span>;
  }
});

<span class="hljs-keyword">const</span> DecimalStep = React.createClass({
  getInitialState() {
    <span class="hljs-keyword">return</span> {
      inputValue: <span class="hljs-number">0</span>
    };
  },
  onChange(value) {
    <span class="hljs-keyword">this</span>.setState({
      inputValue: value
    });
  },
  render() {
    <span class="hljs-keyword">return</span> (
      <span class="xml"><span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">className</span>=<span class="hljs-value">"row"</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">className</span>=<span class="hljs-value">"col-12"</span>&gt;</span>
          <span class="hljs-tag">&lt;<span class="hljs-title">Slider</span> <span class="hljs-attribute">min</span>=<span class="hljs-value">{0}</span> <span class="hljs-attribute">max</span>=<span class="hljs-value">{1}</span> <span class="hljs-attribute">onChange</span>=<span class="hljs-value">{this.onChange}</span> <span class="hljs-attribute">value</span>=<span class="hljs-value">{this.state.inputValue}</span> <span class="hljs-attribute">step</span>=<span class="hljs-value">{0.01}</span> /&gt;</span>
        <span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">className</span>=<span class="hljs-value">"col-4"</span>&gt;</span>
          <span class="hljs-tag">&lt;<span class="hljs-title">InputNumber</span> <span class="hljs-attribute">min</span>=<span class="hljs-value">{0}</span> <span class="hljs-attribute">max</span>=<span class="hljs-value">{1}</span> <span class="hljs-attribute">style</span>=<span class="hljs-value">{{marginLeft:</span> '<span class="hljs-attribute">16px</span>'}} <span class="hljs-attribute">step</span>=<span class="hljs-value">{0.01}</span>
            <span class="hljs-attribute">value</span>=<span class="hljs-value">{this.state.inputValue}</span> <span class="hljs-attribute">onChange</span>=<span class="hljs-value">{this.onChange}</span> /&gt;</span>
        <span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
      <span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
    )</span>;
  }
});

ReactDOM.render(<span class="xml"><span class="hljs-tag">&lt;<span class="hljs-title">div</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-title">IntegerStep</span> /&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-title">DecimalStep</span> /&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>, document.getElementById('components-slider-demo-input-number'));</span></code></pre></div>
  </div>
  <div class="code-box-meta markdown">
    <div class="code-box-title">
      <a href="#demo-input-number">带输入框的滑块</a>
    </div>
    <p>和 <a href="/components/input-number/">数字输入框</a> 组件保持同步。</p>
    <span class="collapse anticon anticon-circle-o-right" unselectable="none" style="-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;"></span>
  </div>
</div><div class="code-box" id="demo-mark">
  <div class="code-box-demo">
    <div id="components-slider-demo-mark"></div>
    <script>(function(){'use strict';

var _antd = require('antd');

var marks = {
  0: '0°C',
  26: '26°C',
  37: '37°C',
  100: '100°C'
};

ReactDOM.render(React.createElement(
  'div',
  null,
  React.createElement(
    'p',
    null,
    '包含关系'
  ),
  React.createElement(_antd.Slider, { marks: marks, defaultValue: 37 }),
  React.createElement(_antd.Slider, { range: true, marks: marks, defaultValue: [26, 37] }),
  React.createElement(
    'p',
    null,
    '并列关系'
  ),
  React.createElement(_antd.Slider, { marks: marks, included: false, defaultValue: 37 }),
  React.createElement(
    'p',
    null,
    '结合 step'
  ),
  React.createElement(_antd.Slider, { marks: marks, step: 10, defaultValue: 37 }),
  React.createElement(
    'p',
    null,
    '`step=null`'
  ),
  React.createElement(_antd.Slider, { marks: marks, step: null, defaultValue: 37 })
), document.getElementById('components-slider-demo-mark'));})()</script><div class="highlight"><pre><code class="javascript"><span class="hljs-keyword">import</span> { Slider } <span class="hljs-keyword">from</span> <span class="hljs-string">'antd'</span>;

<span class="hljs-keyword">const</span> marks = {
  <span class="hljs-number">0</span>: <span class="hljs-string">'0°C'</span>,
  <span class="hljs-number">26</span>: <span class="hljs-string">'26°C'</span>,
  <span class="hljs-number">37</span>: <span class="hljs-string">'37°C'</span>,
  <span class="hljs-number">100</span>: <span class="hljs-string">'100°C'</span>
};

ReactDOM.render(
<span class="xml"><span class="hljs-tag">&lt;<span class="hljs-title">div</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-title">p</span>&gt;</span>包含关系<span class="hljs-tag">&lt;/<span class="hljs-title">p</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-title">Slider</span> <span class="hljs-attribute">marks</span>=<span class="hljs-value">{marks}</span> <span class="hljs-attribute">defaultValue</span>=<span class="hljs-value">{37}</span> /&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-title">Slider</span> <span class="hljs-attribute">range</span> <span class="hljs-attribute">marks</span>=<span class="hljs-value">{marks}</span> <span class="hljs-attribute">defaultValue</span>=<span class="hljs-value">{[26,</span> <span class="hljs-attribute">37</span>]} /&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-title">p</span>&gt;</span>并列关系<span class="hljs-tag">&lt;/<span class="hljs-title">p</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-title">Slider</span> <span class="hljs-attribute">marks</span>=<span class="hljs-value">{marks}</span> <span class="hljs-attribute">included</span>=<span class="hljs-value">{false}</span> <span class="hljs-attribute">defaultValue</span>=<span class="hljs-value">{37}</span> /&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-title">p</span>&gt;</span>结合 step<span class="hljs-tag">&lt;/<span class="hljs-title">p</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-title">Slider</span> <span class="hljs-attribute">marks</span>=<span class="hljs-value">{marks}</span> <span class="hljs-attribute">step</span>=<span class="hljs-value">{10}</span> <span class="hljs-attribute">defaultValue</span>=<span class="hljs-value">{37}</span> /&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-title">p</span>&gt;</span>`step=null`<span class="hljs-tag">&lt;/<span class="hljs-title">p</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-title">Slider</span> <span class="hljs-attribute">marks</span>=<span class="hljs-value">{marks}</span> <span class="hljs-attribute">step</span>=<span class="hljs-value">{null}</span> <span class="hljs-attribute">defaultValue</span>=<span class="hljs-value">{37}</span> /&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
, document.getElementById('components-slider-demo-mark'));</span></code></pre></div>
  </div>
  <div class="code-box-meta markdown">
    <div class="code-box-title">
      <a href="#demo-mark">分段式滑块</a>
    </div>
    <p>使用 <code>marks</code> 属性标注分段式滑块，使用 <code>value</code> / <code>defaultValue</code> 指定滑块位置。当 <code>included=false</code> 时，表明不同标记间为并列关系。当 <code>step=null</code> 时，Slider 的可选值仅有 <code>marks</code> 标出来的部分。</p>
    <span class="collapse anticon anticon-circle-o-right" unselectable="none" style="-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;"></span>
  </div>
</div><div class="code-box" id="demo-tip-formatter">
  <div class="code-box-demo">
    <div id="components-slider-demo-tip-formatter"></div>
    <script>(function(){'use strict';

var _antd = require('antd');

function formatter(value) {
  return '$' + value;
}

ReactDOM.render(React.createElement(_antd.Slider, { tipFormatter: formatter }), document.getElementById('components-slider-demo-tip-formatter'));})()</script><div class="highlight"><pre><code class="javascript"><span class="hljs-keyword">import</span> { Slider } <span class="hljs-keyword">from</span> <span class="hljs-string">'antd'</span>;

<span class="hljs-function"><span class="hljs-keyword">function</span> <span class="hljs-title">formatter</span>(<span class="hljs-params">value</span>) </span>{
  <span class="hljs-keyword">return</span> <span class="hljs-string">'$'</span> + value;
}

ReactDOM.render(<span class="xml"><span class="hljs-tag">&lt;<span class="hljs-title">Slider</span> <span class="hljs-attribute">tipFormatter</span>=<span class="hljs-value">{formatter}</span> /&gt;</span>
, document.getElementById('components-slider-demo-tip-formatter'));</span></code></pre></div>
  </div>
  <div class="code-box-meta markdown">
    <div class="code-box-title">
      <a href="#demo-tip-formatter">格式化 <code>Tooltip</code> 内容</a>
    </div>
    <p>使用 <code>tipFormatter</code> 可以格式化 <code>Tooltip</code> 的内容。</p>
    <span class="collapse anticon anticon-circle-o-right" unselectable="none" style="-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;"></span>
  </div>
</div>
  </div>
</div>
  <div class="api-container markdown"></div>
</section>

    </div><footer id="footer">
  <ul>
    <li>
      <h2>GitHub</h2>
      <a target="_blank "href="https://github.com/ant-design/ant-design">仓库</a>
      <a target="_blank" href="https://github.com/ant-design/ant-design/tree/master/style">样式</a>
      <a target="_blank" href="https://github.com/ant-design/antd-bin">开发工具</a>
    </li>
    <li>
      <h2>关于我们</h2>
      <a href="https://github.com/alipay/x/issues">博客 - Ant UED</a>
    </li>
    <li>
      <h2>联系我们</h2>
      <a target="_blank" href="https://github.com/ant-design/ant-design/issues">反馈和建议</a>
      <a target="_blank" href="https://gitter.im/ant-design/ant-design">讨论</a>
      <a target="_blank" href="http://dwz.cn/2dJ2mg">报告 Bug</a>
    </li>
    <li>
      <h3>©2015 蚂蚁金服体验技术部出品</h3>
      <h3>文档版本：<span id="versions-select"></span></h3>
    </li>
  </ul>
</footer>
    <script src="https://t.alipayobjects.com/images/rmsweb/T1AmXhXg0kXXXXXXXX.js" data-no-instant></script>
    <script data-no-instant>
      InstantClick.on('change', function() {
        InstantClickChangeFns.forEach(function(fn) {
          fn();
        });
      });
      InstantClick.init();
    </script>
  </body>
</html>