<div class="code-box" id="anim-demo-page">
  <div class="code-box-demo">
    <div id="components-queue-anim-demo-page"></div>
    <script>mountNode = document.getElementById('components-queue-anim-demo-page');</script>
    <script>(function(){"use strict";

var _antd = require("antd");

var Test = React.createClass({
  displayName: "Test",
  getInitialState: function getInitialState() {
    return {
      show: true
    };
  },
  onClick: function onClick() {
    this.setState({
      show: !this.state.show
    });
  },
  render: function render() {
    var page = this.state.show ? [React.createElement(
      "div",
      { className: "demo-header", key: "header" },
      React.createElement(
        "div",
        { className: "logo" },
        React.createElement("img", { width: "30", src: "https://t.alipayobjects.com/images/rmsweb/T1B9hfXcdvXXXXXXXX.svg" }),
        React.createElement(
          "span",
          null,
          "logo"
        )
      ),
      React.createElement(
        _antd.QueueAnim,
        { component: "ul" },
        React.createElement("li", { key: "0" }),
        React.createElement("li", { key: "1" }),
        React.createElement("li", { key: "2" }),
        React.createElement("li", { key: "3" }),
        React.createElement("li", { key: "4" })
      )
    ), React.createElement(
      _antd.QueueAnim,
      { className: "demo-content", key: "content", delay: 300 },
      React.createElement(
        "div",
        { className: "demo-title", key: "title" },
        "\u6211\u662F\u6807\u9898"
      ),
      React.createElement(
        "div",
        { className: "demo-kp", key: "b" },
        React.createElement(
          _antd.QueueAnim,
          { component: "ul" },
          React.createElement("li", { key: "0" }),
          React.createElement("li", { key: "1" }),
          React.createElement("li", { key: "2" })
        )
      ),
      React.createElement(
        "div",
        { className: "demo-title", key: "title2" },
        "\u6211\u662F\u6807\u9898"
      ),
      React.createElement(
        "div",
        { className: "demo-listBox" },
        React.createElement(
          _antd.QueueAnim,
          { className: "demo-list", delay: 500 },
          React.createElement("div", { className: "title", key: "title3" }),
          React.createElement(
            _antd.QueueAnim,
            { component: "ul", type: "bottom", key: "li" },
            React.createElement("li", { key: "0" }),
            React.createElement("li", { key: "1" }),
            React.createElement("li", { key: "2" }),
            React.createElement("li", { key: "3" }),
            React.createElement("li", { key: "4" })
          )
        )
      )
    ), React.createElement(
      _antd.QueueAnim,
      { delay: 1000, type: "bottom", key: "footerBox" },
      React.createElement("div", { className: "demo-footer", key: "footer" })
    )] : null;
    return React.createElement(
      "div",
      null,
      React.createElement(
        "p",
        { className: "buttons" },
        React.createElement(
          _antd.Button,
          { type: "primary", onClick: this.onClick },
          "\u5207\u6362"
        )
      ),
      React.createElement(
        _antd.QueueAnim,
        { type: ['right', 'left'] },
        page
      )
    );
  }
});

ReactDOM.render(React.createElement(Test, null), mountNode);})()</script><div class="highlight"><pre><code class="javascript"><span class="hljs-keyword">import</span> { QueueAnim, Button } <span class="hljs-keyword">from</span> <span class="hljs-string">'antd'</span>;

<span class="hljs-keyword">const</span> Test = React.createClass({
  getInitialState() {
    <span class="hljs-keyword">return</span> {
      show: <span class="hljs-literal">true</span>
    };
  },
  onClick() {
    <span class="hljs-keyword">this</span>.setState({
      show: !<span class="hljs-keyword">this</span>.state.show
    });
  },
  render() {
    <span class="hljs-keyword">const</span> page = <span class="hljs-keyword">this</span>.state.show ? [
      <span class="xml"><span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">className</span>=<span class="hljs-value">"demo-header"</span> <span class="hljs-attribute">key</span>=<span class="hljs-value">"header"</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">className</span>=<span class="hljs-value">"logo"</span>&gt;</span>
          <span class="hljs-tag">&lt;<span class="hljs-title">img</span> <span class="hljs-attribute">width</span>=<span class="hljs-value">"30"</span> <span class="hljs-attribute">src</span>=<span class="hljs-value">"https://t.alipayobjects.com/images/rmsweb/T1B9hfXcdvXXXXXXXX.svg"</span> /&gt;</span>
          <span class="hljs-tag">&lt;<span class="hljs-title">span</span>&gt;</span>logo<span class="hljs-tag">&lt;/<span class="hljs-title">span</span>&gt;</span>
        <span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">QueueAnim</span> <span class="hljs-attribute">component</span>=<span class="hljs-value">"ul"</span>&gt;</span>
          <span class="hljs-tag">&lt;<span class="hljs-title">li</span> <span class="hljs-attribute">key</span>=<span class="hljs-value">"0"</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-title">li</span>&gt;</span>
          <span class="hljs-tag">&lt;<span class="hljs-title">li</span> <span class="hljs-attribute">key</span>=<span class="hljs-value">"1"</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-title">li</span>&gt;</span>
          <span class="hljs-tag">&lt;<span class="hljs-title">li</span> <span class="hljs-attribute">key</span>=<span class="hljs-value">"2"</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-title">li</span>&gt;</span>
          <span class="hljs-tag">&lt;<span class="hljs-title">li</span> <span class="hljs-attribute">key</span>=<span class="hljs-value">"3"</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-title">li</span>&gt;</span>
          <span class="hljs-tag">&lt;<span class="hljs-title">li</span> <span class="hljs-attribute">key</span>=<span class="hljs-value">"4"</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-title">li</span>&gt;</span>
        <span class="hljs-tag">&lt;/<span class="hljs-title">QueueAnim</span>&gt;</span>
      <span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>,
      <span class="hljs-tag">&lt;<span class="hljs-title">QueueAnim</span> <span class="hljs-attribute">className</span>=<span class="hljs-value">"demo-content"</span> <span class="hljs-attribute">key</span>=<span class="hljs-value">"content"</span> <span class="hljs-attribute">delay</span>=<span class="hljs-value">{300}</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">className</span>=<span class="hljs-value">"demo-title"</span> <span class="hljs-attribute">key</span>=<span class="hljs-value">"title"</span>&gt;</span>我是标题<span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">className</span>=<span class="hljs-value">"demo-kp"</span> <span class="hljs-attribute">key</span>=<span class="hljs-value">"b"</span>&gt;</span>
          <span class="hljs-tag">&lt;<span class="hljs-title">QueueAnim</span> <span class="hljs-attribute">component</span>=<span class="hljs-value">"ul"</span>&gt;</span>
            <span class="hljs-tag">&lt;<span class="hljs-title">li</span> <span class="hljs-attribute">key</span>=<span class="hljs-value">"0"</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-title">li</span>&gt;</span>
            <span class="hljs-tag">&lt;<span class="hljs-title">li</span> <span class="hljs-attribute">key</span>=<span class="hljs-value">"1"</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-title">li</span>&gt;</span>
            <span class="hljs-tag">&lt;<span class="hljs-title">li</span> <span class="hljs-attribute">key</span>=<span class="hljs-value">"2"</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-title">li</span>&gt;</span>
          <span class="hljs-tag">&lt;/<span class="hljs-title">QueueAnim</span>&gt;</span>
        <span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">className</span>=<span class="hljs-value">"demo-title"</span> <span class="hljs-attribute">key</span>=<span class="hljs-value">"title2"</span>&gt;</span>我是标题<span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">className</span>=<span class="hljs-value">"demo-listBox"</span>&gt;</span>
          <span class="hljs-tag">&lt;<span class="hljs-title">QueueAnim</span> <span class="hljs-attribute">className</span>=<span class="hljs-value">"demo-list"</span> <span class="hljs-attribute">delay</span>=<span class="hljs-value">{500}</span>&gt;</span>
            <span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">className</span>=<span class="hljs-value">"title"</span> <span class="hljs-attribute">key</span>=<span class="hljs-value">"title3"</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
            <span class="hljs-tag">&lt;<span class="hljs-title">QueueAnim</span> <span class="hljs-attribute">component</span>=<span class="hljs-value">"ul"</span> <span class="hljs-attribute">type</span>=<span class="hljs-value">"bottom"</span> <span class="hljs-attribute">key</span>=<span class="hljs-value">"li"</span>&gt;</span>
              <span class="hljs-tag">&lt;<span class="hljs-title">li</span> <span class="hljs-attribute">key</span>=<span class="hljs-value">"0"</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-title">li</span>&gt;</span>
              <span class="hljs-tag">&lt;<span class="hljs-title">li</span> <span class="hljs-attribute">key</span>=<span class="hljs-value">"1"</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-title">li</span>&gt;</span>
              <span class="hljs-tag">&lt;<span class="hljs-title">li</span> <span class="hljs-attribute">key</span>=<span class="hljs-value">"2"</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-title">li</span>&gt;</span>
              <span class="hljs-tag">&lt;<span class="hljs-title">li</span> <span class="hljs-attribute">key</span>=<span class="hljs-value">"3"</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-title">li</span>&gt;</span>
              <span class="hljs-tag">&lt;<span class="hljs-title">li</span> <span class="hljs-attribute">key</span>=<span class="hljs-value">"4"</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-title">li</span>&gt;</span>
            <span class="hljs-tag">&lt;/<span class="hljs-title">QueueAnim</span>&gt;</span>
          <span class="hljs-tag">&lt;/<span class="hljs-title">QueueAnim</span>&gt;</span>
        <span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
      <span class="hljs-tag">&lt;/<span class="hljs-title">QueueAnim</span>&gt;</span>,
      <span class="hljs-tag">&lt;<span class="hljs-title">QueueAnim</span> <span class="hljs-attribute">delay</span>=<span class="hljs-value">{1000}</span> <span class="hljs-attribute">type</span>=<span class="hljs-value">"bottom"</span> <span class="hljs-attribute">key</span>=<span class="hljs-value">"footerBox"</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">className</span>=<span class="hljs-value">"demo-footer"</span> <span class="hljs-attribute">key</span>=<span class="hljs-value">"footer"</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
      <span class="hljs-tag">&lt;/<span class="hljs-title">QueueAnim</span>&gt;</span>
    ]</span> : <span class="hljs-literal">null</span>;
    <span class="hljs-keyword">return</span> (
      <span class="xml"><span class="hljs-tag">&lt;<span class="hljs-title">div</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">p</span> <span class="hljs-attribute">className</span>=<span class="hljs-value">"buttons"</span>&gt;</span>
          <span class="hljs-tag">&lt;<span class="hljs-title">Button</span> <span class="hljs-attribute">type</span>=<span class="hljs-value">"primary"</span> <span class="hljs-attribute">onClick</span>=<span class="hljs-value">{this.onClick}</span>&gt;</span>切换<span class="hljs-tag">&lt;/<span class="hljs-title">Button</span>&gt;</span>
        <span class="hljs-tag">&lt;/<span class="hljs-title">p</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">QueueAnim</span> <span class="hljs-attribute">type</span>=<span class="hljs-value">{['right',</span> '<span class="hljs-attribute">left</span>']}&gt;</span>{page}<span class="hljs-tag">&lt;/<span class="hljs-title">QueueAnim</span>&gt;</span>
      <span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
    )</span>;
  }
});

ReactDOM.render(<span class="xml"><span class="hljs-tag">&lt;<span class="hljs-title">Test</span> /&gt;</span>, mountNode);</span></code></pre></div>
  </div>
  <div class="code-box-meta markdown">
    <div class="code-box-title">
      <a href="#anim-demo-page">一个复杂些的例子</a>
    </div>
    
<p>模拟一个完整的页面。</p>

    <span class="collapse anticon anticon-circle-o-right" unselectable="none"></span>
  </div>
</div>