<div class="code-box" id="demo-basic">
  <div class="code-box-demo">
    <div id="components-dropdown-demo-basic"></div>
    <script>(function(){"use strict";

var Menu = antd.Menu;
var Dropdown = antd.Dropdown;

var menu = React.createElement(
  Menu,
  null,
  React.createElement(
    Menu.Item,
    null,
    React.createElement(
      "a",
      { target: "_blank", href: "http://www.alipay.com/" },
      "第一个菜单项"
    )
  ),
  React.createElement(
    Menu.Item,
    null,
    React.createElement(
      "a",
      { target: "_blank", href: "http://www.taobao.com/" },
      "第二个菜单项"
    )
  ),
  React.createElement(
    Menu.Item,
    null,
    React.createElement(
      "a",
      { target: "_blank", href: "http://www.tmall.com/" },
      "第三个菜单项"
    )
  )
);

React.render(React.createElement(
  Dropdown,
  { overlay: menu },
  React.createElement(
    "button",
    { className: "ant-btn ant-btn-menu" },
    "某按钮 ",
    React.createElement("i", { className: "anticon anticon-down" })
  )
), document.getElementById('components-dropdown-demo-basic'));})()</script><div class="highlight"><pre><code class="javascript"><span class="keyword">var</span> Menu = antd.Menu;
<span class="keyword">var</span> Dropdown = antd.Dropdown;

<span class="keyword">var</span> menu = <span class="xml"><span class="tag">&lt;<span class="title">Menu</span>&gt;</span>
  <span class="tag">&lt;<span class="title">Menu.Item</span>&gt;</span>
    <span class="tag">&lt;<span class="title">a</span> <span class="attribute">target</span>=<span class="value">"_blank"</span> <span class="attribute">href</span>=<span class="value">"http://www.alipay.com/"</span>&gt;</span>第一个菜单项<span class="tag">&lt;/<span class="title">a</span>&gt;</span>
  <span class="tag">&lt;/<span class="title">Menu.Item</span>&gt;</span>
  <span class="tag">&lt;<span class="title">Menu.Item</span>&gt;</span>
    <span class="tag">&lt;<span class="title">a</span> <span class="attribute">target</span>=<span class="value">"_blank"</span> <span class="attribute">href</span>=<span class="value">"http://www.taobao.com/"</span>&gt;</span>第二个菜单项<span class="tag">&lt;/<span class="title">a</span>&gt;</span>
  <span class="tag">&lt;/<span class="title">Menu.Item</span>&gt;</span>
  <span class="tag">&lt;<span class="title">Menu.Item</span>&gt;</span>
    <span class="tag">&lt;<span class="title">a</span> <span class="attribute">target</span>=<span class="value">"_blank"</span> <span class="attribute">href</span>=<span class="value">"http://www.tmall.com/"</span>&gt;</span>第三个菜单项<span class="tag">&lt;/<span class="title">a</span>&gt;</span>
  <span class="tag">&lt;/<span class="title">Menu.Item</span>&gt;</span>
<span class="tag">&lt;/<span class="title">Menu</span>&gt;</span>;</span>

React.render(
  <span class="xml"><span class="tag">&lt;<span class="title">Dropdown</span> <span class="attribute">overlay</span>=<span class="value">{menu}</span>&gt;</span>
    <span class="tag">&lt;<span class="title">button</span> <span class="attribute">className</span>=<span class="value">"ant-btn ant-btn-menu"</span>&gt;</span>
      某按钮 <span class="tag">&lt;<span class="title">i</span> <span class="attribute">className</span>=<span class="value">"anticon anticon-down"</span>&gt;</span><span class="tag">&lt;/<span class="title">i</span>&gt;</span>
    <span class="tag">&lt;/<span class="title">button</span>&gt;</span>
  <span class="tag">&lt;/<span class="title">Dropdown</span>&gt;</span>
, document.getElementById('components-dropdown-demo-basic'));</span></code></pre></div><style>
.code-box-demo .ant-btn {
  margin-right: 6px;
}
</style>

  </div>
  <div class="code-box-meta markdown">
    <div class="code-box-title">
      <a href="#demo-basic">基本</a>
    </div>
    <p>最简单的下拉菜单。</p>
    <span class="collapse anticon anticon-circle-o-right" unselectable="none" style="-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;"></span>
  </div>
</div>