<div class="code-box" id="demo-trigger">
  <div class="code-box-demo">
    <div id="components-dropdown-demo-trigger"></div>
    <script>(function(){"use strict";

var Menu = antd.Menu;
var Dropdown = antd.Dropdown;

var menu = React.createElement(
  Menu,
  null,
  React.createElement(
    Menu.Item,
    { key: "0" },
    React.createElement(
      "a",
      { href: "http://www.alipay.com/" },
      "第一个菜单项"
    )
  ),
  React.createElement(
    Menu.Item,
    { key: "1" },
    React.createElement(
      "a",
      { href: "http://www.taobao.com/" },
      "第二个菜单项"
    )
  ),
  React.createElement(Menu.Divider, null),
  React.createElement(
    Menu.Item,
    { key: "3" },
    "第三个菜单项"
  )
);

React.render(React.createElement(
  "div",
  null,
  React.createElement(
    Dropdown,
    { overlay: menu, trigger: "click" },
    React.createElement(
      "button",
      { className: "ant-btn ant-btn-primary ant-btn-menu" },
      "点击触发 ",
      React.createElement("i", { className: "anticon anticon-down" })
    )
  ),
  React.createElement(
    Dropdown,
    { overlay: menu },
    React.createElement(
      "button",
      { className: "ant-btn ant-btn-menu" },
      "鼠标移入 ",
      React.createElement("i", { className: "anticon anticon-down" })
    )
  )
), document.getElementById('components-dropdown-demo-trigger'));})()</script><div class="highlight"><pre><code class="javascript"><span class="keyword">var</span> Menu = antd.Menu;
<span class="keyword">var</span> Dropdown = antd.Dropdown;

<span class="keyword">var</span> menu = <span class="xml"><span class="tag">&lt;<span class="title">Menu</span>&gt;</span>
  <span class="tag">&lt;<span class="title">Menu.Item</span> <span class="attribute">key</span>=<span class="value">"0"</span>&gt;</span>
    <span class="tag">&lt;<span class="title">a</span> <span class="attribute">href</span>=<span class="value">"http://www.alipay.com/"</span>&gt;</span>第一个菜单项<span class="tag">&lt;/<span class="title">a</span>&gt;</span>
  <span class="tag">&lt;/<span class="title">Menu.Item</span>&gt;</span>
  <span class="tag">&lt;<span class="title">Menu.Item</span> <span class="attribute">key</span>=<span class="value">"1"</span>&gt;</span>
    <span class="tag">&lt;<span class="title">a</span> <span class="attribute">href</span>=<span class="value">"http://www.taobao.com/"</span>&gt;</span>第二个菜单项<span class="tag">&lt;/<span class="title">a</span>&gt;</span>
  <span class="tag">&lt;/<span class="title">Menu.Item</span>&gt;</span>
  <span class="tag">&lt;<span class="title">Menu.Divider</span>/&gt;</span>
  <span class="tag">&lt;<span class="title">Menu.Item</span> <span class="attribute">key</span>=<span class="value">"3"</span>&gt;</span>第三个菜单项<span class="tag">&lt;/<span class="title">Menu.Item</span>&gt;</span>
<span class="tag">&lt;/<span class="title">Menu</span>&gt;</span>;</span>

React.render(<span class="xml"><span class="tag">&lt;<span class="title">div</span>&gt;</span>
  <span class="tag">&lt;<span class="title">Dropdown</span> <span class="attribute">overlay</span>=<span class="value">{menu}</span> <span class="attribute">trigger</span>=<span class="value">"click"</span>&gt;</span>
    <span class="tag">&lt;<span class="title">button</span> <span class="attribute">className</span>=<span class="value">"ant-btn ant-btn-primary ant-btn-menu"</span>&gt;</span>
      点击触发 <span class="tag">&lt;<span class="title">i</span> <span class="attribute">className</span>=<span class="value">"anticon anticon-down"</span>&gt;</span><span class="tag">&lt;/<span class="title">i</span>&gt;</span>
    <span class="tag">&lt;/<span class="title">button</span>&gt;</span>
  <span class="tag">&lt;/<span class="title">Dropdown</span>&gt;</span>
  <span class="tag">&lt;<span class="title">Dropdown</span> <span class="attribute">overlay</span>=<span class="value">{menu}</span>&gt;</span>
    <span class="tag">&lt;<span class="title">button</span> <span class="attribute">className</span>=<span class="value">"ant-btn ant-btn-menu"</span>&gt;</span>
      鼠标移入 <span class="tag">&lt;<span class="title">i</span> <span class="attribute">className</span>=<span class="value">"anticon anticon-down"</span>&gt;</span><span class="tag">&lt;/<span class="title">i</span>&gt;</span>
    <span class="tag">&lt;/<span class="title">button</span>&gt;</span>
  <span class="tag">&lt;/<span class="title">Dropdown</span>&gt;</span>
<span class="tag">&lt;/<span class="title">div</span>&gt;</span>, document.getElementById('components-dropdown-demo-trigger'));</span></code></pre></div>
  </div>
  <div class="code-box-meta markdown">
    <div class="code-box-title">
      <a href="#demo-trigger">触发方式</a>
    </div>
    <p>点击或鼠标移入触发。</p>
    <span class="collapse anticon anticon-circle-o-right" unselectable="none" style="-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;"></span>
  </div>
</div>