<div class="code-box" id="demo-basic">
  <div class="code-box-demo">
    <div id="components-switch-demo-basic"></div>
    <script>mountNode = document.getElementById('components-switch-demo-basic');</script>
    <script>(function(){'use strict';

var _antd = require('antd');

function onChange(checked) {
  console.log('switch to ' + checked);
}

ReactDOM.render(React.createElement(_antd.Switch, { defaultChecked: false, onChange: onChange }), mountNode);})()</script><div class="highlight"><pre><code class="javascript"><span class="hljs-keyword">import</span> { Switch } <span class="hljs-keyword">from</span> <span class="hljs-string">'antd'</span>;

<span class="hljs-function"><span class="hljs-keyword">function</span> <span class="hljs-title">onChange</span>(<span class="hljs-params">checked</span>) </span>{
  <span class="hljs-built_in">console</span>.log(<span class="hljs-string">`switch to <span class="hljs-subst">${checked}</span>`</span>);
}

ReactDOM.render(
  <span class="xml"><span class="hljs-tag">&lt;<span class="hljs-title">Switch</span> <span class="hljs-attribute">defaultChecked</span>=<span class="hljs-value">{false}</span> <span class="hljs-attribute">onChange</span>=<span class="hljs-value">{onChange}</span> /&gt;</span>,
  mountNode
);</span></code></pre></div>
  </div>
  <div class="code-box-meta markdown">
    <div class="code-box-title">
      <a href="#demo-basic">简单</a>
    </div>
    
<p>最简单的用法。</p>

    <span class="collapse anticon anticon-circle-o-right" unselectable="none"></span>
  </div>
</div>