<div class="code-box" id="demo-size">
  <div class="code-box-demo">
    <div id="components-switch-demo-size"></div>
    <script>mountNode = document.getElementById('components-switch-demo-size');</script>
    <script>(function(){"use strict";

var _antd = require("antd");

ReactDOM.render(React.createElement(
  "div",
  null,
  React.createElement(_antd.Switch, null),
  "\xA0",
  React.createElement(_antd.Switch, { size: "small" })
), mountNode);})()</script><div class="highlight"><pre><code class="javascript"><span class="hljs-keyword">import</span> { Switch } <span class="hljs-keyword">from</span> <span class="hljs-string">'antd'</span>;

ReactDOM.render(
  <span class="xml"><span class="hljs-tag">&lt;<span class="hljs-title">div</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-title">Switch</span> /&gt;</span>
    &amp;nbsp;
    <span class="hljs-tag">&lt;<span class="hljs-title">Switch</span> <span class="hljs-attribute">size</span>=<span class="hljs-value">"small"</span> /&gt;</span>
  <span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
, mountNode);</span></code></pre></div>
  </div>
  <div class="code-box-meta markdown">
    <div class="code-box-title">
      <a href="#demo-size">两种大小</a>
    </div>
    
<p><code>size=&quot;small&quot;</code> 表示小号开关。</p>

    <span class="collapse anticon anticon-circle-o-right" unselectable="none"></span>
  </div>
</div>