<div class="code-box" id="demo-99plus">
  <div class="code-box-demo">
    <div id="components-badge-demo-99plus"></div>
    <script>(function(){"use strict";

var Badge = antd.Badge;

React.render(React.createElement(
  "div",
  null,
  React.createElement(
    Badge,
    { count: "99" },
    React.createElement("a", { href: "#", className: "head-example" })
  ),
  React.createElement(
    Badge,
    { count: "200" },
    React.createElement("a", { href: "#", className: "head-example" })
  )
), document.getElementById('components-badge-demo-99plus'));})()</script><div class="highlight"><pre><code class="javascript"><span class="keyword">var</span> Badge = antd.Badge;

React.render(<span class="xml"><span class="tag">&lt;<span class="title">div</span>&gt;</span>
  <span class="tag">&lt;<span class="title">Badge</span> <span class="attribute">count</span>=<span class="value">"99"</span>&gt;</span>
    <span class="tag">&lt;<span class="title">a</span> <span class="attribute">href</span>=<span class="value">"#"</span> <span class="attribute">className</span>=<span class="value">"head-example"</span>&gt;</span><span class="tag">&lt;/<span class="title">a</span>&gt;</span>
  <span class="tag">&lt;/<span class="title">Badge</span>&gt;</span>
  <span class="tag">&lt;<span class="title">Badge</span> <span class="attribute">count</span>=<span class="value">"200"</span>&gt;</span>
    <span class="tag">&lt;<span class="title">a</span> <span class="attribute">href</span>=<span class="value">"#"</span> <span class="attribute">className</span>=<span class="value">"head-example"</span>&gt;</span><span class="tag">&lt;/<span class="title">a</span>&gt;</span>
  <span class="tag">&lt;/<span class="title">Badge</span>&gt;</span>
<span class="tag">&lt;/<span class="title">div</span>&gt;</span>, document.getElementById('components-badge-demo-99plus'));</span></code></pre></div>
  </div>
  <div class="code-box-meta markdown">
    <div class="code-box-title">
      <a href="#demo-99plus">大数字</a>
    </div>
    <p>超过 99 的会显示为 <code>99+</code>。</p>
    <span class="collapse anticon anticon-circle-o-right" unselectable="none" style="-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;"></span>
  </div>
</div>