.profile-form {
    padding: 4rem 0;

    .center {
        text-align: center;
    }

    .profile-form-edit {
        padding: 4rem 2rem;
    }
}

.profile-card {
    padding: 4rem 0;
}

.empty-profile {
    padding: 14rem 0;
    text-align: center;
}