<div class="code-box" id="demo-change">
  <div class="code-box-demo">
    <div id="components-badge-demo-change"></div>
    <script>mountNode = document.getElementById('components-badge-demo-change');</script>
    <script>(function(){"use strict";

var _antd = require("antd");

var ButtonGroup = _antd.Button.Group;

var Test = React.createClass({
  displayName: "Test",
  getInitialState: function getInitialState() {
    return {
      count: 5,
      show: true
    };
  },
  increase: function increase() {
    var count = this.state.count + 1;
    this.setState({ count: count });
  },
  decline: function decline() {
    var count = this.state.count - 1;
    if (count < 0) {
      count = 0;
    }
    this.setState({ count: count });
  },
  onClick: function onClick() {
    this.setState({
      show: !this.state.show
    });
  },
  onNumberClick: function onNumberClick() {
    var count = this.state.count;
    this.setState({
      count: count ? 0 : 5
    });
  },
  render: function render() {
    return React.createElement(
      "div",
      null,
      React.createElement(
        _antd.Badge,
        { count: this.state.count },
        React.createElement("a", { href: "#", className: "head-example" })
      ),
      React.createElement(
        _antd.Badge,
        { dot: this.state.show },
        React.createElement("a", { href: "#", className: "head-example" })
      ),
      React.createElement(
        "div",
        { style: { marginTop: 10 } },
        React.createElement(
          _antd.Button,
          { type: "ghost", onClick: this.onNumberClick, style: { marginRight: 6 } },
          "切换数字显隐"
        ),
        React.createElement(
          _antd.Button,
          { type: "ghost", onClick: this.onClick, style: { marginRight: 6 } },
          "切换红点显隐"
        ),
        React.createElement(
          ButtonGroup,
          null,
          React.createElement(
            _antd.Button,
            { type: "ghost", onClick: this.decline },
            React.createElement(_antd.Icon, { type: "minus" })
          ),
          React.createElement(
            _antd.Button,
            { type: "ghost", onClick: this.increase },
            React.createElement(_antd.Icon, { type: "plus" })
          )
        )
      )
    );
  }
});

ReactDOM.render(React.createElement(Test, null), mountNode);})()</script><div class="highlight"><pre><code class="javascript"><span class="hljs-keyword">import</span> { Badge, Button, Icon } <span class="hljs-keyword">from</span> <span class="hljs-string">'antd'</span>;
<span class="hljs-keyword">const</span> ButtonGroup = Button.Group;

<span class="hljs-keyword">const</span> Test = React.createClass({
  getInitialState() {
    <span class="hljs-keyword">return</span> {
      count: <span class="hljs-number">5</span>,
      show: <span class="hljs-literal">true</span>,
    };
  },
  increase() {
    <span class="hljs-keyword">const</span> count = <span class="hljs-keyword">this</span>.state.count + <span class="hljs-number">1</span>;
    <span class="hljs-keyword">this</span>.setState({ count });
  },
  decline() {
    <span class="hljs-keyword">let</span> count = <span class="hljs-keyword">this</span>.state.count - <span class="hljs-number">1</span>;
    <span class="hljs-keyword">if</span> (count &lt; <span class="hljs-number">0</span>) {
      count = <span class="hljs-number">0</span>;
    }
    <span class="hljs-keyword">this</span>.setState({ count });
  },
  onClick() {
    <span class="hljs-keyword">this</span>.setState({
      show: !<span class="hljs-keyword">this</span>.state.show
    });
  },
  onNumberClick() {
    <span class="hljs-keyword">const</span> count = <span class="hljs-keyword">this</span>.state.count;
    <span class="hljs-keyword">this</span>.setState({
      count: count ? <span class="hljs-number">0</span> : <span class="hljs-number">5</span>
    });
  },
  render() {
    <span class="hljs-keyword">return</span> <span class="xml"><span class="hljs-tag">&lt;<span class="hljs-title">div</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-title">Badge</span> <span class="hljs-attribute">count</span>=<span class="hljs-value">{this.state.count}</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">a</span> <span class="hljs-attribute">href</span>=<span class="hljs-value">"#"</span> <span class="hljs-attribute">className</span>=<span class="hljs-value">"head-example"</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-title">a</span>&gt;</span>
      <span class="hljs-tag">&lt;/<span class="hljs-title">Badge</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-title">Badge</span> <span class="hljs-attribute">dot</span>=<span class="hljs-value">{this.state.show}</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">a</span> <span class="hljs-attribute">href</span>=<span class="hljs-value">"#"</span> <span class="hljs-attribute">className</span>=<span class="hljs-value">"head-example"</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-title">a</span>&gt;</span>
      <span class="hljs-tag">&lt;/<span class="hljs-title">Badge</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">style</span>=<span class="hljs-value">{{</span> <span class="hljs-attribute">marginTop:</span> <span class="hljs-attribute">10</span> }}&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">Button</span> <span class="hljs-attribute">type</span>=<span class="hljs-value">"ghost"</span> <span class="hljs-attribute">onClick</span>=<span class="hljs-value">{this.onNumberClick}</span> <span class="hljs-attribute">style</span>=<span class="hljs-value">{{marginRight:</span> <span class="hljs-attribute">6</span>}}&gt;</span>
          切换数字显隐
        <span class="hljs-tag">&lt;/<span class="hljs-title">Button</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">Button</span> <span class="hljs-attribute">type</span>=<span class="hljs-value">"ghost"</span> <span class="hljs-attribute">onClick</span>=<span class="hljs-value">{this.onClick}</span> <span class="hljs-attribute">style</span>=<span class="hljs-value">{{marginRight:</span> <span class="hljs-attribute">6</span>}}&gt;</span>
          切换红点显隐
        <span class="hljs-tag">&lt;/<span class="hljs-title">Button</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">ButtonGroup</span>&gt;</span>
          <span class="hljs-tag">&lt;<span class="hljs-title">Button</span> <span class="hljs-attribute">type</span>=<span class="hljs-value">"ghost"</span> <span class="hljs-attribute">onClick</span>=<span class="hljs-value">{this.decline}</span>&gt;</span>
            <span class="hljs-tag">&lt;<span class="hljs-title">Icon</span> <span class="hljs-attribute">type</span>=<span class="hljs-value">"minus"</span> /&gt;</span>
          <span class="hljs-tag">&lt;/<span class="hljs-title">Button</span>&gt;</span>
          <span class="hljs-tag">&lt;<span class="hljs-title">Button</span> <span class="hljs-attribute">type</span>=<span class="hljs-value">"ghost"</span> <span class="hljs-attribute">onClick</span>=<span class="hljs-value">{this.increase}</span>&gt;</span>
            <span class="hljs-tag">&lt;<span class="hljs-title">Icon</span> <span class="hljs-attribute">type</span>=<span class="hljs-value">"plus"</span> /&gt;</span>
          <span class="hljs-tag">&lt;/<span class="hljs-title">Button</span>&gt;</span>
        <span class="hljs-tag">&lt;/<span class="hljs-title">ButtonGroup</span>&gt;</span>
      <span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>;</span>
  }
});

ReactDOM.render(
  <span class="xml"><span class="hljs-tag">&lt;<span class="hljs-title">Test</span> /&gt;</span>
, mountNode);</span></code></pre></div>
  </div>
  <div class="code-box-meta markdown">
    <div class="code-box-title">
      <a href="#demo-change">动态</a>
    </div>
    <p>展示动态变化的效果。</p>
    <span class="collapse anticon anticon-circle-o-right" unselectable="none" style="-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;"></span>
  </div>
</div>