<div class="code-box" id="demo-other-items">
  <div class="code-box-demo">
    <div id="components-validation-demo-other-items"></div>
    <script>mountNode = document.getElementById('components-validation-demo-other-items');</script>
    <script>(function(){'use strict';

var _typeof = typeof Symbol === "function" && typeof Symbol.iterator === "symbol" ? function (obj) { return typeof obj; } : function (obj) { return obj && typeof Symbol === "function" && obj.constructor === Symbol ? "symbol" : typeof obj; };

var _antd = require('antd');

var Validator = _antd.Validation.Validator;
var Option = _antd.Select.Option;
var RadioGroup = _antd.Radio.Group;
var FormItem = _antd.Form.Item;

function cx(classNames) {
  if ((typeof classNames === 'undefined' ? 'undefined' : _typeof(classNames)) === 'object') {
    return Object.keys(classNames).filter(function (className) {
      return classNames[className];
    }).join(' ');
  } else {
    return Array.prototype.join.call(arguments, ' ');
  }
}

var Demo = React.createClass({
  displayName: 'Demo',

  mixins: [_antd.Validation.FieldMixin],

  getInitialState: function getInitialState() {
    return {
      status: {
        select: {},
        multiSelect: {},
        radio: {},
        birthday: {},
        primeNumber: {}
      },
      formData: {
        select: undefined,
        multiSelect: undefined,
        radio: undefined,
        birthday: null,
        primeNumber: 9
      }
    };
  },
  renderValidateStyle: function renderValidateStyle(item) {
    var formData = this.state.formData;
    var status = this.state.status;

    var classes = cx({
      'error': status[item].errors,
      'validating': status[item].isValidating,
      'success': formData[item] && !status[item].errors && !status[item].isValidating
    });

    return classes;
  },
  handleReset: function handleReset(e) {
    this.refs.validation.reset();
    this.setState(this.getInitialState());
    e.preventDefault();
  },
  handleSubmit: function handleSubmit(e) {
    var _this = this;

    e.preventDefault();
    this.setState({
      isEmailOver: true
    });
    var validation = this.refs.validation;
    validation.validate(function (valid) {
      if (!valid) {
        console.log('error in form');
        return;
      } else {
        console.log('submit');
      }
      console.log(_this.state.formData);
    });
  },
  checkBirthday: function checkBirthday(rule, value, callback) {
    if (value && value.getTime() >= Date.now()) {
      callback(new Error('你不可能在未来出生吧!'));
    } else {
      callback();
    }
  },
  checkPrime: function checkPrime(rule, value, callback) {
    if (value !== 11) {
      callback(new Error('8~12之间的质数明明是11啊!'));
    } else {
      callback();
    }
  },
  render: function render() {
    var formData = this.state.formData;
    var status = this.state.status;

    return React.createElement(
      _antd.Form,
      { horizontal: true },
      React.createElement(
        _antd.Validation,
        { ref: 'validation', onValidate: this.handleValidate },
        React.createElement(
          FormItem,
          {
            label: '国籍：',
            id: 'select',
            labelCol: { span: 7 },
            wrapperCol: { span: 12 },
            validateStatus: this.renderValidateStyle('select'),
            help: status.select.errors ? status.select.errors.join(',') : null,
            required: true },
          React.createElement(
            Validator,
            { rules: [{ required: true, message: '请选择您的国籍' }] },
            React.createElement(
              _antd.Select,
              { size: 'large', placeholder: '请选择国家', style: { width: '100%' }, name: 'select', value: formData.select },
              React.createElement(
                Option,
                { value: 'china' },
                '中国'
              ),
              React.createElement(
                Option,
                { value: 'use' },
                '美国'
              ),
              React.createElement(
                Option,
                { value: 'japan' },
                '日本'
              ),
              React.createElement(
                Option,
                { value: 'korean' },
                '韩国'
              ),
              React.createElement(
                Option,
                { value: 'Thailand' },
                '泰国'
              )
            )
          )
        ),
        React.createElement(
          FormItem,
          {
            label: '喜欢的颜色：',
            labelCol: { span: 7 },
            wrapperCol: { span: 12 },
            validateStatus: this.renderValidateStyle('multiSelect'),
            help: status.multiSelect.errors ? status.multiSelect.errors.join(',') : null,
            required: true },
          React.createElement(
            Validator,
            { rules: [{ required: true, message: '请选择您喜欢的颜色', type: 'array' }] },
            React.createElement(
              _antd.Select,
              { multiple: true, size: 'large', placeholder: '请选择颜色', style: { width: '100%' }, name: 'multiSelect', value: formData.multiSelect },
              React.createElement(
                Option,
                { value: 'red' },
                '红色'
              ),
              React.createElement(
                Option,
                { value: 'orange' },
                '橙色'
              ),
              React.createElement(
                Option,
                { value: 'yellow' },
                '黄色'
              ),
              React.createElement(
                Option,
                { value: 'green' },
                '绿色'
              ),
              React.createElement(
                Option,
                { value: 'blue' },
                '蓝色'
              )
            )
          )
        ),
        React.createElement(
          FormItem,
          {
            label: '性别：',
            id: 'radio',
            labelCol: { span: 7 },
            wrapperCol: { span: 12 },
            validateStatus: this.renderValidateStyle('radio'),
            help: status.radio.errors ? status.radio.errors.join(',') : null,
            required: true },
          React.createElement(
            Validator,
            { rules: [{ required: true, message: '请选择您的性别' }] },
            React.createElement(
              RadioGroup,
              { name: 'radio', value: formData.radio },
              React.createElement(
                _antd.Radio,
                { value: 'male' },
                '男'
              ),
              React.createElement(
                _antd.Radio,
                { value: 'female' },
                '女'
              )
            )
          )
        ),
        React.createElement(
          FormItem,
          {
            label: '生日：',
            id: 'birthday',
            labelCol: { span: 7 },
            wrapperCol: { span: 12 },
            validateStatus: this.renderValidateStyle('birthday'),
            help: status.birthday.errors ? status.birthday.errors.join(',') : null,
            required: true },
          React.createElement(
            Validator,
            { rules: [{
                required: true,
                type: 'date',
                message: '你的生日是什么呢?'
              }, { validator: this.checkBirthday }] },
            React.createElement(_antd.DatePicker, { name: 'birthday', value: formData.birthday })
          )
        ),
        React.createElement(
          FormItem,
          {
            label: '8~12间的质数：',
            id: 'primeNumber',
            labelCol: { span: 7 },
            wrapperCol: { span: 12 },
            validateStatus: this.renderValidateStyle('primeNumber'),
            help: status.primeNumber.errors ? status.primeNumber.errors.join(',') : null,
            required: true },
          React.createElement(
            Validator,
            { rules: [{ validator: this.checkPrime }] },
            React.createElement(_antd.InputNumber, { name: 'primeNumber', min: 8, max: 12, value: formData.primeNumber })
          )
        ),
        React.createElement(
          FormItem,
          {
            wrapperCol: { span: 12, offset: 7 } },
          React.createElement(
            _antd.Button,
            { type: 'primary', onClick: this.handleSubmit },
            '确定'
          ),
          '   ',
          React.createElement(
            _antd.Button,
            { type: 'ghost', onClick: this.handleReset },
            '重置'
          )
        )
      )
    );
  }
});

ReactDOM.render(React.createElement(Demo, null), mountNode);})()</script><div class="highlight"><pre><code class="javascript"><span class="hljs-keyword">import</span> {Validation, Select, Radio, Button, DatePicker, InputNumber, Form} <span class="hljs-keyword">from</span> <span class="hljs-string">'antd'</span>;
<span class="hljs-keyword">const</span> Validator = Validation.Validator;
<span class="hljs-keyword">const</span> Option = Select.Option;
<span class="hljs-keyword">const</span> RadioGroup = Radio.Group;
<span class="hljs-keyword">const</span> FormItem = Form.Item;

<span class="hljs-function"><span class="hljs-keyword">function</span> <span class="hljs-title">cx</span>(<span class="hljs-params">classNames</span>) </span>{
  <span class="hljs-keyword">if</span> (<span class="hljs-keyword">typeof</span> classNames === <span class="hljs-string">'object'</span>) {
    <span class="hljs-keyword">return</span> <span class="hljs-built_in">Object</span>.keys(classNames).filter(<span class="hljs-function"><span class="hljs-keyword">function</span>(<span class="hljs-params">className</span>) </span>{
      <span class="hljs-keyword">return</span> classNames[className];
    }).join(<span class="hljs-string">' '</span>);
  } <span class="hljs-keyword">else</span> {
    <span class="hljs-keyword">return</span> <span class="hljs-built_in">Array</span>.prototype.join.call(<span class="hljs-built_in">arguments</span>, <span class="hljs-string">' '</span>);
  }
}

<span class="hljs-keyword">const</span> Demo = React.createClass({
  mixins: [Validation.FieldMixin],

  getInitialState() {
    <span class="hljs-keyword">return</span> {
      status: {
        select: {},
        multiSelect: {},
        radio: {},
        birthday: {},
        primeNumber: {}
      },
      formData: {
        select: <span class="hljs-literal">undefined</span>,
        multiSelect: <span class="hljs-literal">undefined</span>,
        radio: <span class="hljs-literal">undefined</span>,
        birthday: <span class="hljs-literal">null</span>,
        primeNumber: <span class="hljs-number">9</span>
      }
    };
  },

  renderValidateStyle(item) {
    <span class="hljs-keyword">const</span> formData = <span class="hljs-keyword">this</span>.state.formData;
    <span class="hljs-keyword">const</span> status = <span class="hljs-keyword">this</span>.state.status;

    <span class="hljs-keyword">const</span> classes = cx({
      <span class="hljs-string">'error'</span>: status[item].errors,
      <span class="hljs-string">'validating'</span>: status[item].isValidating,
      <span class="hljs-string">'success'</span>: formData[item] &amp;&amp; !status[item].errors &amp;&amp; !status[item].isValidating
    });

    <span class="hljs-keyword">return</span> classes;
  },

  handleReset(e) {
    <span class="hljs-keyword">this</span>.refs.validation.reset();
    <span class="hljs-keyword">this</span>.setState(<span class="hljs-keyword">this</span>.getInitialState());
    e.preventDefault();
  },

  handleSubmit(e) {
    e.preventDefault();
    <span class="hljs-keyword">this</span>.setState({
      isEmailOver: <span class="hljs-literal">true</span>
    });
    <span class="hljs-keyword">const</span> validation = <span class="hljs-keyword">this</span>.refs.validation;
    validation.validate((valid) =&gt; {
      <span class="hljs-keyword">if</span> (!valid) {
        <span class="hljs-built_in">console</span>.log(<span class="hljs-string">'error in form'</span>);
        <span class="hljs-keyword">return</span>;
      } <span class="hljs-keyword">else</span> {
        <span class="hljs-built_in">console</span>.log(<span class="hljs-string">'submit'</span>);
      }
      <span class="hljs-built_in">console</span>.log(<span class="hljs-keyword">this</span>.state.formData);
    });
  },

  checkBirthday(rule, value, callback) {
    <span class="hljs-keyword">if</span> (value &amp;&amp; value.getTime() &gt;= <span class="hljs-built_in">Date</span>.now()){
      callback(<span class="hljs-keyword">new</span> <span class="hljs-built_in">Error</span>(<span class="hljs-string">'你不可能在未来出生吧!'</span>));
    } <span class="hljs-keyword">else</span> {
      callback();
    }
  },

  checkPrime(rule, value, callback) {
    <span class="hljs-keyword">if</span> (value !== <span class="hljs-number">11</span>) {
      callback(<span class="hljs-keyword">new</span> <span class="hljs-built_in">Error</span>(<span class="hljs-string">'8~12之间的质数明明是11啊!'</span>));
    } <span class="hljs-keyword">else</span> {
      callback();
    }
  },

  render() {
    <span class="hljs-keyword">const</span> formData = <span class="hljs-keyword">this</span>.state.formData;
    <span class="hljs-keyword">const</span> status = <span class="hljs-keyword">this</span>.state.status;

    <span class="hljs-keyword">return</span> (
      <span class="xml"><span class="hljs-tag">&lt;<span class="hljs-title">Form</span> <span class="hljs-attribute">horizontal</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">Validation</span> <span class="hljs-attribute">ref</span>=<span class="hljs-value">"validation"</span> <span class="hljs-attribute">onValidate</span>=<span class="hljs-value">{this.handleValidate}</span>&gt;</span>
          <span class="hljs-tag">&lt;<span class="hljs-title">FormItem</span>
            <span class="hljs-attribute">label</span>=<span class="hljs-value">"国籍："</span>
            <span class="hljs-attribute">id</span>=<span class="hljs-value">"select"</span>
            <span class="hljs-attribute">labelCol</span>=<span class="hljs-value">{{span:</span> <span class="hljs-attribute">7</span>}}
            <span class="hljs-attribute">wrapperCol</span>=<span class="hljs-value">{{span:</span> <span class="hljs-attribute">12</span>}}
            <span class="hljs-attribute">validateStatus</span>=<span class="hljs-value">{this.renderValidateStyle('select')}</span>
            <span class="hljs-attribute">help</span>=<span class="hljs-value">{status.select.errors</span> ? <span class="hljs-attribute">status.select.errors.join</span>(',') <span class="hljs-attribute">:</span> <span class="hljs-attribute">null</span>}
            <span class="hljs-attribute">required</span>&gt;</span>
              <span class="hljs-tag">&lt;<span class="hljs-title">Validator</span> <span class="hljs-attribute">rules</span>=<span class="hljs-value">{[{required:</span> <span class="hljs-attribute">true</span>, <span class="hljs-attribute">message:</span> '请选择您的国籍'}]}&gt;</span>
                <span class="hljs-tag">&lt;<span class="hljs-title">Select</span> <span class="hljs-attribute">size</span>=<span class="hljs-value">"large"</span> <span class="hljs-attribute">placeholder</span>=<span class="hljs-value">"请选择国家"</span> <span class="hljs-attribute">style</span>=<span class="hljs-value">{{width:</span> '<span class="hljs-attribute">100</span>%'}} <span class="hljs-attribute">name</span>=<span class="hljs-value">"select"</span> <span class="hljs-attribute">value</span>=<span class="hljs-value">{formData.select}</span>&gt;</span>
                  <span class="hljs-tag">&lt;<span class="hljs-title">Option</span> <span class="hljs-attribute">value</span>=<span class="hljs-value">"china"</span>&gt;</span>中国<span class="hljs-tag">&lt;/<span class="hljs-title">Option</span>&gt;</span>
                  <span class="hljs-tag">&lt;<span class="hljs-title">Option</span> <span class="hljs-attribute">value</span>=<span class="hljs-value">"use"</span>&gt;</span>美国<span class="hljs-tag">&lt;/<span class="hljs-title">Option</span>&gt;</span>
                  <span class="hljs-tag">&lt;<span class="hljs-title">Option</span> <span class="hljs-attribute">value</span>=<span class="hljs-value">"japan"</span>&gt;</span>日本<span class="hljs-tag">&lt;/<span class="hljs-title">Option</span>&gt;</span>
                  <span class="hljs-tag">&lt;<span class="hljs-title">Option</span> <span class="hljs-attribute">value</span>=<span class="hljs-value">"korean"</span>&gt;</span>韩国<span class="hljs-tag">&lt;/<span class="hljs-title">Option</span>&gt;</span>
                  <span class="hljs-tag">&lt;<span class="hljs-title">Option</span> <span class="hljs-attribute">value</span>=<span class="hljs-value">"Thailand"</span>&gt;</span>泰国<span class="hljs-tag">&lt;/<span class="hljs-title">Option</span>&gt;</span>
                <span class="hljs-tag">&lt;/<span class="hljs-title">Select</span>&gt;</span>
              <span class="hljs-tag">&lt;/<span class="hljs-title">Validator</span>&gt;</span>
          <span class="hljs-tag">&lt;/<span class="hljs-title">FormItem</span>&gt;</span>

          <span class="hljs-tag">&lt;<span class="hljs-title">FormItem</span>
            <span class="hljs-attribute">label</span>=<span class="hljs-value">"喜欢的颜色："</span>
            <span class="hljs-attribute">labelCol</span>=<span class="hljs-value">{{span:</span> <span class="hljs-attribute">7</span>}}
            <span class="hljs-attribute">wrapperCol</span>=<span class="hljs-value">{{span:</span> <span class="hljs-attribute">12</span>}}
            <span class="hljs-attribute">validateStatus</span>=<span class="hljs-value">{this.renderValidateStyle('multiSelect')}</span>
            <span class="hljs-attribute">help</span>=<span class="hljs-value">{status.multiSelect.errors</span> ? <span class="hljs-attribute">status.multiSelect.errors.join</span>(',') <span class="hljs-attribute">:</span> <span class="hljs-attribute">null</span>}
            <span class="hljs-attribute">required</span>&gt;</span>
            <span class="hljs-tag">&lt;<span class="hljs-title">Validator</span> <span class="hljs-attribute">rules</span>=<span class="hljs-value">{[{required:</span> <span class="hljs-attribute">true</span>, <span class="hljs-attribute">message:</span> '请选择您喜欢的颜色', <span class="hljs-attribute">type:</span> '<span class="hljs-attribute">array</span>'}]}&gt;</span>
              <span class="hljs-tag">&lt;<span class="hljs-title">Select</span> <span class="hljs-attribute">multiple</span> <span class="hljs-attribute">size</span>=<span class="hljs-value">"large"</span> <span class="hljs-attribute">placeholder</span>=<span class="hljs-value">"请选择颜色"</span> <span class="hljs-attribute">style</span>=<span class="hljs-value">{{width:</span> '<span class="hljs-attribute">100</span>%'}} <span class="hljs-attribute">name</span>=<span class="hljs-value">"multiSelect"</span> <span class="hljs-attribute">value</span>=<span class="hljs-value">{formData.multiSelect}</span>&gt;</span>
                <span class="hljs-tag">&lt;<span class="hljs-title">Option</span> <span class="hljs-attribute">value</span>=<span class="hljs-value">"red"</span>&gt;</span>红色<span class="hljs-tag">&lt;/<span class="hljs-title">Option</span>&gt;</span>
                <span class="hljs-tag">&lt;<span class="hljs-title">Option</span> <span class="hljs-attribute">value</span>=<span class="hljs-value">"orange"</span>&gt;</span>橙色<span class="hljs-tag">&lt;/<span class="hljs-title">Option</span>&gt;</span>
                <span class="hljs-tag">&lt;<span class="hljs-title">Option</span> <span class="hljs-attribute">value</span>=<span class="hljs-value">"yellow"</span>&gt;</span>黄色<span class="hljs-tag">&lt;/<span class="hljs-title">Option</span>&gt;</span>
                <span class="hljs-tag">&lt;<span class="hljs-title">Option</span> <span class="hljs-attribute">value</span>=<span class="hljs-value">"green"</span>&gt;</span>绿色<span class="hljs-tag">&lt;/<span class="hljs-title">Option</span>&gt;</span>
                <span class="hljs-tag">&lt;<span class="hljs-title">Option</span> <span class="hljs-attribute">value</span>=<span class="hljs-value">"blue"</span>&gt;</span>蓝色<span class="hljs-tag">&lt;/<span class="hljs-title">Option</span>&gt;</span>
              <span class="hljs-tag">&lt;/<span class="hljs-title">Select</span>&gt;</span>
            <span class="hljs-tag">&lt;/<span class="hljs-title">Validator</span>&gt;</span>
          <span class="hljs-tag">&lt;/<span class="hljs-title">FormItem</span>&gt;</span>

          <span class="hljs-tag">&lt;<span class="hljs-title">FormItem</span>
            <span class="hljs-attribute">label</span>=<span class="hljs-value">"性别："</span>
            <span class="hljs-attribute">id</span>=<span class="hljs-value">"radio"</span>
            <span class="hljs-attribute">labelCol</span>=<span class="hljs-value">{{span:</span> <span class="hljs-attribute">7</span>}}
            <span class="hljs-attribute">wrapperCol</span>=<span class="hljs-value">{{span:</span> <span class="hljs-attribute">12</span>}}
            <span class="hljs-attribute">validateStatus</span>=<span class="hljs-value">{this.renderValidateStyle('radio')}</span>
            <span class="hljs-attribute">help</span>=<span class="hljs-value">{status.radio.errors</span> ? <span class="hljs-attribute">status.radio.errors.join</span>(',') <span class="hljs-attribute">:</span> <span class="hljs-attribute">null</span>}
            <span class="hljs-attribute">required</span>&gt;</span>
              <span class="hljs-tag">&lt;<span class="hljs-title">Validator</span> <span class="hljs-attribute">rules</span>=<span class="hljs-value">{[{required:</span> <span class="hljs-attribute">true</span>, <span class="hljs-attribute">message:</span> '请选择您的性别'}]}&gt;</span>
                <span class="hljs-tag">&lt;<span class="hljs-title">RadioGroup</span> <span class="hljs-attribute">name</span>=<span class="hljs-value">"radio"</span> <span class="hljs-attribute">value</span>=<span class="hljs-value">{formData.radio}</span>&gt;</span>
                  <span class="hljs-tag">&lt;<span class="hljs-title">Radio</span> <span class="hljs-attribute">value</span>=<span class="hljs-value">"male"</span>&gt;</span>男<span class="hljs-tag">&lt;/<span class="hljs-title">Radio</span>&gt;</span>
                  <span class="hljs-tag">&lt;<span class="hljs-title">Radio</span> <span class="hljs-attribute">value</span>=<span class="hljs-value">"female"</span>&gt;</span>女<span class="hljs-tag">&lt;/<span class="hljs-title">Radio</span>&gt;</span>
                <span class="hljs-tag">&lt;/<span class="hljs-title">RadioGroup</span>&gt;</span>
              <span class="hljs-tag">&lt;/<span class="hljs-title">Validator</span>&gt;</span>
          <span class="hljs-tag">&lt;/<span class="hljs-title">FormItem</span>&gt;</span>

          <span class="hljs-tag">&lt;<span class="hljs-title">FormItem</span>
            <span class="hljs-attribute">label</span>=<span class="hljs-value">"生日："</span>
            <span class="hljs-attribute">id</span>=<span class="hljs-value">"birthday"</span>
            <span class="hljs-attribute">labelCol</span>=<span class="hljs-value">{{span:</span> <span class="hljs-attribute">7</span>}}
            <span class="hljs-attribute">wrapperCol</span>=<span class="hljs-value">{{span:</span> <span class="hljs-attribute">12</span>}}
            <span class="hljs-attribute">validateStatus</span>=<span class="hljs-value">{this.renderValidateStyle('birthday')}</span>
            <span class="hljs-attribute">help</span>=<span class="hljs-value">{status.birthday.errors</span> ? <span class="hljs-attribute">status.birthday.errors.join</span>(',') <span class="hljs-attribute">:</span> <span class="hljs-attribute">null</span>}
            <span class="hljs-attribute">required</span>&gt;</span>
              <span class="hljs-tag">&lt;<span class="hljs-title">Validator</span> <span class="hljs-attribute">rules</span>=<span class="hljs-value">{[{</span>
                <span class="hljs-attribute">required:</span> <span class="hljs-attribute">true</span>,
                <span class="hljs-attribute">type:</span> '<span class="hljs-attribute">date</span>',
                <span class="hljs-attribute">message:</span> '你的生日是什么呢?'
              }, {<span class="hljs-attribute">validator:</span> <span class="hljs-attribute">this.checkBirthday</span>}]}&gt;</span>
                <span class="hljs-tag">&lt;<span class="hljs-title">DatePicker</span> <span class="hljs-attribute">name</span>=<span class="hljs-value">"birthday"</span> <span class="hljs-attribute">value</span>=<span class="hljs-value">{formData.birthday}</span> /&gt;</span>
              <span class="hljs-tag">&lt;/<span class="hljs-title">Validator</span>&gt;</span>
          <span class="hljs-tag">&lt;/<span class="hljs-title">FormItem</span>&gt;</span>

          <span class="hljs-tag">&lt;<span class="hljs-title">FormItem</span>
            <span class="hljs-attribute">label</span>=<span class="hljs-value">"8~12间的质数："</span>
            <span class="hljs-attribute">id</span>=<span class="hljs-value">"primeNumber"</span>
            <span class="hljs-attribute">labelCol</span>=<span class="hljs-value">{{span:</span> <span class="hljs-attribute">7</span>}}
            <span class="hljs-attribute">wrapperCol</span>=<span class="hljs-value">{{span:</span> <span class="hljs-attribute">12</span>}}
            <span class="hljs-attribute">validateStatus</span>=<span class="hljs-value">{this.renderValidateStyle('primeNumber')}</span>
            <span class="hljs-attribute">help</span>=<span class="hljs-value">{status.primeNumber.errors</span> ? <span class="hljs-attribute">status.primeNumber.errors.join</span>(',') <span class="hljs-attribute">:</span> <span class="hljs-attribute">null</span>}
            <span class="hljs-attribute">required</span>&gt;</span>
              <span class="hljs-tag">&lt;<span class="hljs-title">Validator</span> <span class="hljs-attribute">rules</span>=<span class="hljs-value">{[{validator:</span> <span class="hljs-attribute">this.checkPrime</span>}]}&gt;</span>
                <span class="hljs-tag">&lt;<span class="hljs-title">InputNumber</span> <span class="hljs-attribute">name</span>=<span class="hljs-value">"primeNumber"</span> <span class="hljs-attribute">min</span>=<span class="hljs-value">{8}</span> <span class="hljs-attribute">max</span>=<span class="hljs-value">{12}</span> <span class="hljs-attribute">value</span>=<span class="hljs-value">{formData.primeNumber}</span> /&gt;</span>
              <span class="hljs-tag">&lt;/<span class="hljs-title">Validator</span>&gt;</span>
          <span class="hljs-tag">&lt;/<span class="hljs-title">FormItem</span>&gt;</span>

          <span class="hljs-tag">&lt;<span class="hljs-title">FormItem</span>
            <span class="hljs-attribute">wrapperCol</span>=<span class="hljs-value">{{span:</span> <span class="hljs-attribute">12</span>, <span class="hljs-attribute">offset:</span> <span class="hljs-attribute">7</span>}} &gt;</span>
            <span class="hljs-tag">&lt;<span class="hljs-title">Button</span> <span class="hljs-attribute">type</span>=<span class="hljs-value">"primary"</span> <span class="hljs-attribute">onClick</span>=<span class="hljs-value">{this.handleSubmit}</span>&gt;</span>确定<span class="hljs-tag">&lt;/<span class="hljs-title">Button</span>&gt;</span>
            &amp;nbsp;&amp;nbsp;&amp;nbsp;
            <span class="hljs-tag">&lt;<span class="hljs-title">Button</span> <span class="hljs-attribute">type</span>=<span class="hljs-value">"ghost"</span> <span class="hljs-attribute">onClick</span>=<span class="hljs-value">{this.handleReset}</span>&gt;</span>重置<span class="hljs-tag">&lt;/<span class="hljs-title">Button</span>&gt;</span>
          <span class="hljs-tag">&lt;/<span class="hljs-title">FormItem</span>&gt;</span>
        <span class="hljs-tag">&lt;/<span class="hljs-title">Validation</span>&gt;</span>
      <span class="hljs-tag">&lt;/<span class="hljs-title">Form</span>&gt;</span>
    )</span>;
  }
});

ReactDOM.render(<span class="xml"><span class="hljs-tag">&lt;<span class="hljs-title">Demo</span> /&gt;</span>, mountNode);</span></code></pre></div>
  </div>
  <div class="code-box-meta markdown">
    <div class="code-box-title">
      <a href="#demo-other-items">其他表单域校验</a>
    </div>
    <p>提供以下组件表单域的校验。</p>
<p><code>Select</code> <code>Radio</code> <code>DatePicker</code> <code>InputNumber</code>。</p>
    <span class="collapse anticon anticon-circle-o-right" unselectable="none" style="-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;"></span>
  </div>
</div>