<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <meta name="description" content="一个 UI 设计语言"/>
    <title>
Modal 对话框 - Ant Design
</title>
    <link rel="icon" href="https://t.alipayobjects.com/images/T1QUBfXo4fXXXXXXXX.png" type="image/x-icon">
    <link rel="shortcut icon" href="https://t.alipayobjects.com/images/T1QUBfXo4fXXXXXXXX.png" type="image/x-icon">
    
    <link rel="stylesheet" href="../../dist/demo.css">
    <link rel="stylesheet" href="../../static/style.css">
    <link rel="stylesheet" href="../../static/tomorrow.css">
    <!--[if IE 8]>
    <script src="https://t.alipayobjects.com/images/rmsweb/T1q8JiXftaXXXXXXXX.js"></script>
    <![endif]-->
    <script src="https://as.alipayobjects.com/??component/console-polyfill/0.2.2/index.js,component/es5-shim/4.1.14/es5-shim.min.js,component/es5-shim/4.1.14/es5-sham.min.js,component/html5shiv/3.7.2/html5shiv.min.js,g/component/media-match/2.0.2/media.match.min.js"></script>
    <script src="https://a.alipayobjects.com/??bluebird/2.9.30/bluebird.js,jquery/jquery/1.11.1/jquery.js"></script>
    <script>
    (function() {
      window.ANT_COMPONENTS = [];
      window.InstantClickChangeFns = [];
      ANT_COMPONENTS.push({
        title: 'Pagination',
        desc: '分页'
      });
      ANT_COMPONENTS.push({
        title: 'Affix',
        desc: '固钉'
      });
      ANT_COMPONENTS.push({
        title: 'Badge',
        desc: '徽标数'
      });
      ANT_COMPONENTS.push({
        title: 'Breadcrumb',
        desc: '面包屑'
      });
      ANT_COMPONENTS.push({
        title: 'Button',
        desc: '按钮'
      });
      ANT_COMPONENTS.push({
        title: 'Calendar',
        desc: '日历'
      });
      ANT_COMPONENTS.push({
        title: 'Carousel',
        desc: '走马灯'
      });
      ANT_COMPONENTS.push({
        title: 'Checkbox',
        desc: '多选框'
      });
      ANT_COMPONENTS.push({
        title: 'Collapse',
        desc: '折叠面板'
      });
      ANT_COMPONENTS.push({
        title: 'Datepicker',
        desc: '日期选择框'
      });
      ANT_COMPONENTS.push({
        title: 'Dropdown',
        desc: '下拉菜单'
      });
      ANT_COMPONENTS.push({
        title: 'Form',
        desc: '表单'
      });
      ANT_COMPONENTS.push({
        title: 'Icon',
        desc: '图标'
      });
      ANT_COMPONENTS.push({
        title: 'InputNumber',
        desc: '数字输入框'
      });
      ANT_COMPONENTS.push({
        title: 'Layout',
        desc: '布局'
      });
      ANT_COMPONENTS.push({
        title: 'Menu',
        desc: '导航菜单'
      });
      ANT_COMPONENTS.push({
        title: 'Message',
        desc: '全局提示'
      });
      ANT_COMPONENTS.push({
        title: 'Modal',
        desc: '对话框'
      });
      ANT_COMPONENTS.push({
        title: 'Notification',
        desc: '通知提醒框'
      });
      ANT_COMPONENTS.push({
        title: 'Alert',
        desc: '警告提示'
      });
      ANT_COMPONENTS.push({
        title: 'Popconfirm',
        desc: '气泡确认框'
      });
      ANT_COMPONENTS.push({
        title: 'Popover',
        desc: '气泡卡片'
      });
      ANT_COMPONENTS.push({
        title: 'Progress',
        desc: '进度条'
      });
      ANT_COMPONENTS.push({
        title: 'QueueAnim',
        desc: '进出场动画'
      });
      ANT_COMPONENTS.push({
        title: 'Radio',
        desc: '单选框'
      });
      ANT_COMPONENTS.push({
        title: 'Select',
        desc: '选择器'
      });
      ANT_COMPONENTS.push({
        title: 'Slider',
        desc: '滑动输入条'
      });
      ANT_COMPONENTS.push({
        title: 'Spin',
        desc: '加载中'
      });
      ANT_COMPONENTS.push({
        title: 'Steps',
        desc: '步骤条'
      });
      ANT_COMPONENTS.push({
        title: 'Switch',
        desc: '开关'
      });
      ANT_COMPONENTS.push({
        title: 'Table',
        desc: '表格'
      });
      ANT_COMPONENTS.push({
        title: 'Tabs',
        desc: '标签页'
      });
      ANT_COMPONENTS.push({
        title: 'Tag',
        desc: '标签'
      });
      ANT_COMPONENTS.push({
        title: 'Timeline',
        desc: '时间轴'
      });
      ANT_COMPONENTS.push({
        title: 'Timepicker',
        desc: '时间选择框'
      });
      ANT_COMPONENTS.push({
        title: 'Tooltip',
        desc: '文字提示'
      });
      ANT_COMPONENTS.push({
        title: 'Tree',
        desc: '树形控件'
      });
      ANT_COMPONENTS.push({
        title: 'Upload',
        desc: '文件上传'
      });
      ANT_COMPONENTS.push({
        title: 'Validation',
        desc: '表单校验'
      });
      var i = location.pathname.split('/').lastIndexOf('ant-design');
      if (i > 0) {
        window.rootUrl = location.origin + location.pathname.split('/').slice(0, 2+1).join('/');
      } else {
        window.rootUrl = location.origin;
      }
    })();
    </script>
    <script src="../../static/script.js"></script>
    <script>
      window.antdVersion = {
        latest: '0.10.5',
        stable: '0.10.5'
      };
    </script>
    <script src="../../dist/demo.js"></script>
    <script src="https://t.alipayobjects.com/images/T1DrxhXe0mXXXXXXXX.js"></script>
    
  </head>
  <body >
    <header id="header" class="clearfix">
      <a class="logo" href="../..">
        <img width="60" src="https://t.alipayobjects.com/images/rmsweb/T1B9hfXcdvXXXXXXXX.svg">
        Ant Design
      </a>
      <div class="search">
        <div id="autoComplete"></div>
      </div>
      <nav class="nav">
        <span class="bar"></span>
        <ul>
          <li class="">
            <a href="../.." data-no-instant>首页</a>
          </li>
          <li class="">
            <a href="../../spec/introduce">设计</a>
          </li>
          <li>
            <a class="nav-link-disabled" href="">案例</a>
          </li>
          <li class="current">
            <a href="../../docs/introduce">React</a>
          </li>
          <li>
            <a target="_blank" href="https://github.com/ant-design/ant-design">Github</a>
          </li>
        </ul>
      </nav>
      <div class="nav-phone-icon"></div>
    </header>
    <div class="main-wrapper">
      
<aside class="aside-container">
  <ul>
      <li class="">
        <a href="../../docs/introduce" class="">
          Ant Design of React
          <span class="chinese"></span>
        </a>
      </li>
      <li class="">
        <a href="../../docs/getting-started" class="">
          快速上手
          <span class="chinese"></span>
        </a>
      </li>
      <li class="">
        <a href="../../docs/install" class="">
          安装
          <span class="chinese"></span>
        </a>
      </li>
      <li class="">
        <a href="../../docs/upgrade-to-0.10" class="">
          0.10 升级指南
          <span class="chinese"></span>
        </a>
      </li>
      <li class="">
        <a href="../../changelog" class="">
          更新日志
          <span class="chinese"></span>
        </a>
      </li>
    <li open="open">
      <h4>Components</h4>
      <ul class="">
          <li class="type-divider">基本</li>
          <li class="">
            <a href="../button/"
               class="">
              Button
              <span class="chinese">按钮</span>
            </a>
          </li>
          <li class="">
            <a href="../icon/"
               class="">
              Icon
              <span class="chinese">图标</span>
            </a>
          </li>
          <li class="">
            <a href="../layout/"
               class="">
              Layout
              <span class="chinese">布局</span>
            </a>
          </li>
          <li class="type-divider">表单</li>
          <li class="">
            <a href="../checkbox/"
               class="">
              Checkbox
              <span class="chinese">多选框</span>
            </a>
          </li>
          <li class="">
            <a href="../datepicker/"
               class="">
              Datepicker
              <span class="chinese">日期选择框</span>
            </a>
          </li>
          <li class="">
            <a href="../form/"
               class="">
              Form
              <span class="chinese">表单</span>
            </a>
          </li>
          <li class="">
            <a href="../input-number/"
               class="">
              InputNumber
              <span class="chinese">数字输入框</span>
            </a>
          </li>
          <li class="">
            <a href="../radio/"
               class="">
              Radio
              <span class="chinese">单选框</span>
            </a>
          </li>
          <li class="">
            <a href="../select/"
               class="">
              Select
              <span class="chinese">选择器</span>
            </a>
          </li>
          <li class="">
            <a href="../slider/"
               class="">
              Slider
              <span class="chinese">滑动输入条</span>
            </a>
          </li>
          <li class="">
            <a href="../switch/"
               class="">
              Switch
              <span class="chinese">开关</span>
            </a>
          </li>
          <li class="">
            <a href="../timepicker/"
               class="">
              Timepicker
              <span class="chinese">时间选择框</span>
            </a>
          </li>
          <li class="">
            <a href="../upload/"
               class="">
              Upload
              <span class="chinese">文件上传</span>
            </a>
          </li>
          <li class="">
            <a href="../validation/"
               class="">
              Validation
              <span class="chinese">表单校验</span>
            </a>
          </li>
          <li class="type-divider">展示</li>
          <li class="">
            <a href="../alert/"
               class="">
              Alert
              <span class="chinese">警告提示</span>
            </a>
          </li>
          <li class="">
            <a href="../badge/"
               class="">
              Badge
              <span class="chinese">徽标数</span>
            </a>
          </li>
          <li class="">
            <a href="../calendar/"
               class="">
              Calendar
              <span class="chinese">日历</span>
            </a>
          </li>
          <li class="">
            <a href="../carousel/"
               class="">
              Carousel
              <span class="chinese">走马灯</span>
            </a>
          </li>
          <li class="">
            <a href="../collapse/"
               class="">
              Collapse
              <span class="chinese">折叠面板</span>
            </a>
          </li>
          <li class="">
            <a href="../dropdown/"
               class="">
              Dropdown
              <span class="chinese">下拉菜单</span>
            </a>
          </li>
          <li class="">
            <a href="../message/"
               class=""data-no-instant>
              Message
              <span class="chinese">全局提示</span>
            </a>
          </li>
          <li class="current">
            <a href="./"
               class="">
              Modal
              <span class="chinese">对话框</span>
            </a>
          </li>
          <li class="">
            <a href="../notification/"
               class=""data-no-instant>
              Notification
              <span class="chinese">通知提醒框</span>
            </a>
          </li>
          <li class="">
            <a href="../popconfirm/"
               class="">
              Popconfirm
              <span class="chinese">气泡确认框</span>
            </a>
          </li>
          <li class="">
            <a href="../popover/"
               class="">
              Popover
              <span class="chinese">气泡卡片</span>
            </a>
          </li>
          <li class="">
            <a href="../progress/"
               class="">
              Progress
              <span class="chinese">进度条</span>
            </a>
          </li>
          <li class="">
            <a href="../table/"
               class="">
              Table
              <span class="chinese">表格</span>
            </a>
          </li>
          <li class="">
            <a href="../tag/"
               class="">
              Tag
              <span class="chinese">标签</span>
            </a>
          </li>
          <li class="">
            <a href="../timeline/"
               class="">
              Timeline
              <span class="chinese">时间轴</span>
            </a>
          </li>
          <li class="">
            <a href="../tooltip/"
               class="">
              Tooltip
              <span class="chinese">文字提示</span>
            </a>
          </li>
          <li class="">
            <a href="../tree/"
               class="">
              Tree
              <span class="chinese">树形控件</span>
            </a>
          </li>
          <li class="type-divider">导航</li>
          <li class="">
            <a href="../breadcrumb/"
               class="">
              Breadcrumb
              <span class="chinese">面包屑</span>
            </a>
          </li>
          <li class="">
            <a href="../menu/"
               class="">
              Menu
              <span class="chinese">导航菜单</span>
            </a>
          </li>
          <li class="">
            <a href="../pagination/"
               class="">
              Pagination
              <span class="chinese">分页</span>
            </a>
          </li>
          <li class="">
            <a href="../steps/"
               class="">
              Steps
              <span class="chinese">步骤条</span>
            </a>
          </li>
          <li class="">
            <a href="../tabs/"
               class="">
              Tabs
              <span class="chinese">标签页</span>
            </a>
          </li>
          <li class="type-divider">其他</li>
          <li class="">
            <a href="../affix/"
               class="">
              Affix
              <span class="chinese">固钉</span>
            </a>
          </li>
          <li class="">
            <a href="../queue-anim/"
               class="">
              QueueAnim
              <span class="chinese">进出场动画</span>
            </a>
          </li>
          <li class="">
            <a href="../spin/"
               class="">
              Spin
              <span class="chinese">加载中</span>
            </a>
          </li>
      </ul>
    </li>
  </ul>
</aside>
 
<section class="main-container">
  <article class="markdown">
    <h1>
      Modal 对话框
    </h1>
    <p>模态对话框。</p>
<h2 id="何时使用">何时使用<a href="#何时使用" class="anchor">#</a> </h2><p>需要用户处理事务，又不希望跳转页面以致打断工作流程时，可以使用 <code>Modal</code> 在当前页面正中打开一个浮层，承载相应的操作。</p>
<p>另外当需要一个简洁的确认框询问用户时，可以使用精心封装好的 <code>ant.Modal.confirm()</code> 等方法。</p>
<h2 id="api">API<a href="#api" class="anchor">#</a> </h2><table>
<thead>
<tr>
<th>参数</th>
<th>说明</th>
<th>类型</th>
<th>默认值</th>
</tr>
</thead>
<tbody>
<tr>
<td>visible</td>
<td>对话框是否可见</td>
<td>Boolean</td>
<td>无</td>
</tr>
<tr>
<td>confirmLoading</td>
<td>确定按钮 loading</td>
<td>Boolean</td>
<td>无</td>
</tr>
<tr>
<td>title</td>
<td>标题</td>
<td>React.Element</td>
<td>无</td>
</tr>
<tr>
<td>onOk</td>
<td>点击确定回调</td>
<td>function</td>
<td>无</td>
</tr>
<tr>
<td>onCancel</td>
<td>点击遮罩层或右上角叉或取消按钮的回调</td>
<td>function</td>
<td>无</td>
</tr>
<tr>
<td>width</td>
<td>宽度</td>
<td>String or Number</td>
<td>520</td>
</tr>
<tr>
<td>footer</td>
<td>底部内容</td>
<td>React.Element</td>
<td>确定取消按钮</td>
</tr>
</tbody>
</table>
<h3 id="modal-xxx">Modal.xxx()<a href="#modal-xxx" class="anchor">#</a> </h3><p>包括：</p>
<ul>
<li><code>Modal.info</code></li>
<li><code>Modal.success</code></li>
<li><code>Modal.error</code></li>
<li><code>Modal.confirm</code></li>
</ul>
<p>以上均为一个函数，参数为 object，具体属性如下：</p>
<table>
<thead>
<tr>
<th>参数</th>
<th>说明</th>
<th>类型</th>
<th>默认值</th>
</tr>
</thead>
<tbody>
<tr>
<td>title</td>
<td>标题</td>
<td>React.Element or String</td>
<td>无</td>
</tr>
<tr>
<td>onOk</td>
<td>点击确定回调，参数为关闭函数，返回 promise 时 resolve 后自动关闭</td>
<td>function</td>
<td>无</td>
</tr>
<tr>
<td>onCancel</td>
<td>取消回调，参数为关闭函数，返回 promise 时 resolve 后自动关闭</td>
<td>function</td>
<td>无</td>
</tr>
<tr>
<td>width</td>
<td>宽度</td>
<td>String or Number</td>
<td>416</td>
</tr>
<tr>
<td>iconClassName</td>
<td>图标 Icon 类型</td>
<td>String</td>
<td>question-circle</td>
</tr>
</tbody>
</table>
<style>
.code-box-demo .ant-btn {
  margin-right: 8px;
}
</style>

  </article>
<h2 class="component-demos">
  代码演示
  <i class="anticon anticon-appstore icon-all" title="展开全部代码"></i>
</h2>
<div class="code-boxes">
  <div class="code-boxes-col-2-1"><div class="code-box" id="demo-basic">
  <div class="code-box-demo">
    <div id="components-modal-demo-basic"></div>
    <script>(function(){'use strict';

var _antd = require('antd');

var App = React.createClass({
  displayName: 'App',

  getInitialState: function getInitialState() {
    return { visible: false };
  },
  showModal: function showModal() {
    this.setState({
      visible: true
    });
  },
  handleOk: function handleOk() {
    console.log('点击了确定');
    this.setState({
      visible: false
    });
  },
  handleCancel: function handleCancel() {
    this.setState({
      visible: false
    });
  },
  render: function render() {
    return React.createElement(
      'div',
      null,
      React.createElement(
        _antd.Button,
        { type: 'primary', onClick: this.showModal },
        '显示对话框'
      ),
      React.createElement(
        _antd.Modal,
        { title: '第一个 Modal', visible: this.state.visible,
          onOk: this.handleOk, onCancel: this.handleCancel },
        React.createElement(
          'p',
          null,
          '对话框的内容'
        ),
        React.createElement(
          'p',
          null,
          '对话框的内容'
        ),
        React.createElement(
          'p',
          null,
          '对话框的内容'
        )
      )
    );
  }
});

ReactDOM.render(React.createElement(App, null), document.getElementById('components-modal-demo-basic'));})()</script><div class="highlight"><pre><code class="javascript"><span class="hljs-keyword">import</span> { Modal, Button } <span class="hljs-keyword">from</span> <span class="hljs-string">'antd'</span>;

<span class="hljs-keyword">const</span> App = React.createClass({
  getInitialState() {
    <span class="hljs-keyword">return</span> { visible: <span class="hljs-literal">false</span> };
  },
  showModal() {
    <span class="hljs-keyword">this</span>.setState({
      visible: <span class="hljs-literal">true</span>
    });
  },
  handleOk() {
    <span class="hljs-built_in">console</span>.log(<span class="hljs-string">'点击了确定'</span>);
    <span class="hljs-keyword">this</span>.setState({
      visible: <span class="hljs-literal">false</span>
    });
  },
  handleCancel() {
    <span class="hljs-keyword">this</span>.setState({
      visible: <span class="hljs-literal">false</span>
    });
  },
  render() {
    <span class="hljs-keyword">return</span> <span class="xml"><span class="hljs-tag">&lt;<span class="hljs-title">div</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-title">Button</span> <span class="hljs-attribute">type</span>=<span class="hljs-value">"primary"</span> <span class="hljs-attribute">onClick</span>=<span class="hljs-value">{this.showModal}</span>&gt;</span>显示对话框<span class="hljs-tag">&lt;/<span class="hljs-title">Button</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-title">Modal</span> <span class="hljs-attribute">title</span>=<span class="hljs-value">"第一个 Modal"</span> <span class="hljs-attribute">visible</span>=<span class="hljs-value">{this.state.visible}</span>
        <span class="hljs-attribute">onOk</span>=<span class="hljs-value">{this.handleOk}</span> <span class="hljs-attribute">onCancel</span>=<span class="hljs-value">{this.handleCancel}</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">p</span>&gt;</span>对话框的内容<span class="hljs-tag">&lt;/<span class="hljs-title">p</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">p</span>&gt;</span>对话框的内容<span class="hljs-tag">&lt;/<span class="hljs-title">p</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">p</span>&gt;</span>对话框的内容<span class="hljs-tag">&lt;/<span class="hljs-title">p</span>&gt;</span>
      <span class="hljs-tag">&lt;/<span class="hljs-title">Modal</span>&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>;</span>
  }
});

ReactDOM.render(<span class="xml"><span class="hljs-tag">&lt;<span class="hljs-title">App</span> /&gt;</span>, document.getElementById('components-modal-demo-basic'));</span></code></pre></div>
  </div>
  <div class="code-box-meta markdown">
    <div class="code-box-title">
      <a href="#demo-basic">基本</a>
    </div>
    <p>第一个对话框。</p>
    <span class="collapse anticon anticon-circle-o-right" unselectable="none" style="-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;"></span>
  </div>
</div><div class="code-box" id="demo-footer">
  <div class="code-box-demo">
    <div id="components-modal-demo-footer"></div>
    <script>(function(){"use strict";

var _antd = require('antd');

var Test = React.createClass({
  displayName: "Test",

  getInitialState: function getInitialState() {
    return {
      loading: false,
      visible: false
    };
  },
  showModal: function showModal() {
    this.setState({
      visible: true
    });
  },
  handleOk: function handleOk() {
    var _this = this;

    this.setState({ loading: true });
    setTimeout(function () {
      _this.setState({ loading: false, visible: false });
    }, 3000);
  },
  handleCancel: function handleCancel() {
    this.setState({ visible: false });
  },
  render: function render() {
    return React.createElement(
      "div",
      null,
      React.createElement(
        _antd.Button,
        { type: "primary", onClick: this.showModal },
        "显示对话框"
      ),
      React.createElement(
        _antd.Modal,
        { ref: "modal",
          visible: this.state.visible,
          title: "对话框标题", onOk: this.handleOk, onCancel: this.handleCancel,
          footer: [React.createElement(
            _antd.Button,
            { key: "back", type: "ghost", size: "large", onClick: this.handleCancel },
            "返 回"
          ), React.createElement(
            _antd.Button,
            { key: "submit", type: "primary", size: "large", loading: this.state.loading, onClick: this.handleOk },
            "提 交"
          )] },
        React.createElement(
          "p",
          null,
          "对话框的内容"
        ),
        React.createElement(
          "p",
          null,
          "对话框的内容"
        ),
        React.createElement(
          "p",
          null,
          "对话框的内容"
        ),
        React.createElement(
          "p",
          null,
          "对话框的内容"
        ),
        React.createElement(
          "p",
          null,
          "对话框的内容"
        )
      )
    );
  }
});

ReactDOM.render(React.createElement(Test, null), document.getElementById('components-modal-demo-footer'));})()</script><div class="highlight"><pre><code class="javascript"><span class="hljs-keyword">import</span> { Modal, Button } <span class="hljs-keyword">from</span> <span class="hljs-string">'antd'</span>;

<span class="hljs-keyword">const</span> Test = React.createClass({
  getInitialState: <span class="hljs-function"><span class="hljs-keyword">function</span>(<span class="hljs-params"></span>) </span>{
    <span class="hljs-keyword">return</span> {
      loading: <span class="hljs-literal">false</span>,
      visible: <span class="hljs-literal">false</span>
    };
  },
  showModal() {
    <span class="hljs-keyword">this</span>.setState({
      visible: <span class="hljs-literal">true</span>
    });
  },
  handleOk() {
    <span class="hljs-keyword">this</span>.setState({ loading: <span class="hljs-literal">true</span> });
    setTimeout(() =&gt; {
      <span class="hljs-keyword">this</span>.setState({ loading: <span class="hljs-literal">false</span>, visible: <span class="hljs-literal">false</span> });
    }, <span class="hljs-number">3000</span>);
  },
  handleCancel() {
    <span class="hljs-keyword">this</span>.setState({ visible: <span class="hljs-literal">false</span> });
  },
  render() {
    <span class="hljs-keyword">return</span> <span class="xml"><span class="hljs-tag">&lt;<span class="hljs-title">div</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-title">Button</span> <span class="hljs-attribute">type</span>=<span class="hljs-value">"primary"</span> <span class="hljs-attribute">onClick</span>=<span class="hljs-value">{this.showModal}</span>&gt;</span>
        显示对话框
      <span class="hljs-tag">&lt;/<span class="hljs-title">Button</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-title">Modal</span> <span class="hljs-attribute">ref</span>=<span class="hljs-value">"modal"</span>
       <span class="hljs-attribute">visible</span>=<span class="hljs-value">{this.state.visible}</span>
       <span class="hljs-attribute">title</span>=<span class="hljs-value">"对话框标题"</span> <span class="hljs-attribute">onOk</span>=<span class="hljs-value">{this.handleOk}</span> <span class="hljs-attribute">onCancel</span>=<span class="hljs-value">{this.handleCancel}</span>
        <span class="hljs-attribute">footer</span>=<span class="hljs-value">{[</span>
          &lt;<span class="hljs-attribute">Button</span> <span class="hljs-attribute">key</span>=<span class="hljs-value">"back"</span> <span class="hljs-attribute">type</span>=<span class="hljs-value">"ghost"</span> <span class="hljs-attribute">size</span>=<span class="hljs-value">"large"</span> <span class="hljs-attribute">onClick</span>=<span class="hljs-value">{this.handleCancel}</span>&gt;</span>返 回<span class="hljs-tag">&lt;/<span class="hljs-title">Button</span>&gt;</span>,
          <span class="hljs-tag">&lt;<span class="hljs-title">Button</span> <span class="hljs-attribute">key</span>=<span class="hljs-value">"submit"</span> <span class="hljs-attribute">type</span>=<span class="hljs-value">"primary"</span> <span class="hljs-attribute">size</span>=<span class="hljs-value">"large"</span> <span class="hljs-attribute">loading</span>=<span class="hljs-value">{this.state.loading}</span> <span class="hljs-attribute">onClick</span>=<span class="hljs-value">{this.handleOk}</span>&gt;</span>
            提 交
          <span class="hljs-tag">&lt;/<span class="hljs-title">Button</span>&gt;</span>
        ]</span>}&gt;
        <span class="xml"><span class="hljs-tag">&lt;<span class="hljs-title">p</span>&gt;</span>对话框的内容<span class="hljs-tag">&lt;/<span class="hljs-title">p</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">p</span>&gt;</span>对话框的内容<span class="hljs-tag">&lt;/<span class="hljs-title">p</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">p</span>&gt;</span>对话框的内容<span class="hljs-tag">&lt;/<span class="hljs-title">p</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">p</span>&gt;</span>对话框的内容<span class="hljs-tag">&lt;/<span class="hljs-title">p</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">p</span>&gt;</span>对话框的内容<span class="hljs-tag">&lt;/<span class="hljs-title">p</span>&gt;</span>
      <span class="hljs-tag">&lt;/<span class="hljs-title">Modal</span>&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>;</span>
  }
});

ReactDOM.render(<span class="xml"><span class="hljs-tag">&lt;<span class="hljs-title">Test</span>/&gt;</span>, document.getElementById('components-modal-demo-footer'));</span></code></pre></div>
  </div>
  <div class="code-box-meta markdown">
    <div class="code-box-title">
      <a href="#demo-footer">自定义页脚</a>
    </div>
    <p>更复杂的例子，自定义了页脚的按钮，点击提交后进入 loading 状态，完成后关闭。</p>
    <span class="collapse anticon anticon-circle-o-right" unselectable="none" style="-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;"></span>
  </div>
</div><div class="code-box" id="demo-confirm-promise">
  <div class="code-box-demo">
    <div id="components-modal-demo-confirm-promise"></div>
    <script>(function(){'use strict';

var _antd = require('antd');

var confirm = _antd.Modal.confirm;

function showConfirm() {
  confirm({
    title: '您是否确认要删除这项内容',
    content: '点确认 1 秒后关闭',
    onOk: function onOk() {
      return new Promise(function (resolve) {
        setTimeout(resolve, 1000);
      });
    },
    onCancel: function onCancel() {}
  });
}

ReactDOM.render(React.createElement(
  _antd.Button,
  { onClick: showConfirm },
  '确认对话框'
), document.getElementById('components-modal-demo-confirm-promise'));})()</script><div class="highlight"><pre><code class="javascript"><span class="hljs-keyword">import</span> { Modal, Button } <span class="hljs-keyword">from</span> <span class="hljs-string">'antd'</span>;
<span class="hljs-keyword">const</span> confirm = Modal.confirm;

<span class="hljs-function"><span class="hljs-keyword">function</span> <span class="hljs-title">showConfirm</span>(<span class="hljs-params"></span>)</span>{
  confirm({
    title: <span class="hljs-string">'您是否确认要删除这项内容'</span>,
    content: <span class="hljs-string">'点确认 1 秒后关闭'</span>,
    onOk: <span class="hljs-function"><span class="hljs-keyword">function</span>(<span class="hljs-params"></span>) </span>{
      <span class="hljs-keyword">return</span> <span class="hljs-keyword">new</span> <span class="hljs-built_in">Promise</span>(<span class="hljs-function"><span class="hljs-keyword">function</span>(<span class="hljs-params">resolve</span>) </span>{
        setTimeout(resolve, <span class="hljs-number">1000</span>);
      });
    },
    onCancel: <span class="hljs-function"><span class="hljs-keyword">function</span>(<span class="hljs-params"></span>) </span>{}
  });
}

ReactDOM.render(
<span class="xml"><span class="hljs-tag">&lt;<span class="hljs-title">Button</span> <span class="hljs-attribute">onClick</span>=<span class="hljs-value">{showConfirm}</span>&gt;</span>
  确认对话框
<span class="hljs-tag">&lt;/<span class="hljs-title">Button</span>&gt;</span>, document.getElementById('components-modal-demo-confirm-promise'));</span></code></pre></div>
  </div>
  <div class="code-box-meta markdown">
    <div class="code-box-title">
      <a href="#demo-confirm-promise">确认对话框</a>
    </div>
    <p>使用 <code>confirm()</code> 可以快捷地弹出确认框。onCancel/onOk 返回 promise 可以延迟关闭</p>
    <span class="collapse anticon anticon-circle-o-right" unselectable="none" style="-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;"></span>
  </div>
</div>
  </div>
  <div class="code-boxes-col-2-1"><div class="code-box" id="demo-async">
  <div class="code-box-demo">
    <div id="components-modal-demo-async"></div>
    <script>(function(){'use strict';

var _antd = require('antd');

var Test = React.createClass({
  displayName: 'Test',

  getInitialState: function getInitialState() {
    return {
      ModalText: '对话框的内容',
      visible: false
    };
  },
  showModal: function showModal() {
    this.setState({
      visible: true
    });
  },
  handleOk: function handleOk() {
    var _this = this;

    this.setState({
      ModalText: '对话框将在两秒后关闭',
      confirmLoading: true
    });
    setTimeout(function () {
      _this.setState({
        visible: false,
        confirmLoading: false
      });
    }, 2000);
  },
  handleCancel: function handleCancel() {
    console.log('点击了取消');
    this.setState({
      visible: false
    });
  },
  render: function render() {
    return React.createElement(
      'div',
      null,
      React.createElement(
        _antd.Button,
        { type: 'primary', onClick: this.showModal },
        '显示对话框'
      ),
      React.createElement(
        _antd.Modal,
        { title: '对话框标题',
          visible: this.state.visible,
          onOk: this.handleOk,
          confirmLoading: this.state.confirmLoading,
          onCancel: this.handleCancel },
        React.createElement(
          'p',
          null,
          this.state.ModalText
        )
      )
    );
  }
});

ReactDOM.render(React.createElement(Test, null), document.getElementById('components-modal-demo-async'));})()</script><div class="highlight"><pre><code class="javascript"><span class="hljs-keyword">import</span> { Modal, Button } <span class="hljs-keyword">from</span> <span class="hljs-string">'antd'</span>;

<span class="hljs-keyword">const</span> Test = React.createClass({
  getInitialState() {
    <span class="hljs-keyword">return</span> {
      ModalText: <span class="hljs-string">'对话框的内容'</span>,
      visible: <span class="hljs-literal">false</span>
    };
  },
  showModal() {
    <span class="hljs-keyword">this</span>.setState({
      visible: <span class="hljs-literal">true</span>
    });
  },
  handleOk() {
    <span class="hljs-keyword">this</span>.setState({
      ModalText: <span class="hljs-string">'对话框将在两秒后关闭'</span>,
      confirmLoading: <span class="hljs-literal">true</span>
    });
    setTimeout(() =&gt; {
      <span class="hljs-keyword">this</span>.setState({
        visible: <span class="hljs-literal">false</span>,
        confirmLoading: <span class="hljs-literal">false</span>
      });
    }, <span class="hljs-number">2000</span>);
  },
  handleCancel() {
    <span class="hljs-built_in">console</span>.log(<span class="hljs-string">'点击了取消'</span>);
    <span class="hljs-keyword">this</span>.setState({
      visible: <span class="hljs-literal">false</span>
    });
  },
  render() {
    <span class="hljs-keyword">return</span> <span class="xml"><span class="hljs-tag">&lt;<span class="hljs-title">div</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-title">Button</span> <span class="hljs-attribute">type</span>=<span class="hljs-value">"primary"</span> <span class="hljs-attribute">onClick</span>=<span class="hljs-value">{this.showModal}</span>&gt;</span>显示对话框<span class="hljs-tag">&lt;/<span class="hljs-title">Button</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-title">Modal</span> <span class="hljs-attribute">title</span>=<span class="hljs-value">"对话框标题"</span>
        <span class="hljs-attribute">visible</span>=<span class="hljs-value">{this.state.visible}</span>
        <span class="hljs-attribute">onOk</span>=<span class="hljs-value">{this.handleOk}</span>
        <span class="hljs-attribute">confirmLoading</span>=<span class="hljs-value">{this.state.confirmLoading}</span>
        <span class="hljs-attribute">onCancel</span>=<span class="hljs-value">{this.handleCancel}</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">p</span>&gt;</span>{this.state.ModalText}<span class="hljs-tag">&lt;/<span class="hljs-title">p</span>&gt;</span>
      <span class="hljs-tag">&lt;/<span class="hljs-title">Modal</span>&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>;</span>
  }
});

ReactDOM.render(<span class="xml"><span class="hljs-tag">&lt;<span class="hljs-title">Test</span>/&gt;</span>, document.getElementById('components-modal-demo-async'));</span></code></pre></div>
  </div>
  <div class="code-box-meta markdown">
    <div class="code-box-title">
      <a href="#demo-async">异步关闭</a>
    </div>
    <p>点击确定后异步关闭对话框，例如提交表单。</p>
    <span class="collapse anticon anticon-circle-o-right" unselectable="none" style="-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;"></span>
  </div>
</div><div class="code-box" id="demo-confirm">
  <div class="code-box-demo">
    <div id="components-modal-demo-confirm"></div>
    <script>(function(){'use strict';

var _antd = require('antd');

var confirm = _antd.Modal.confirm;

function showConfirm() {
  confirm({
    title: '您是否确认要删除这项内容',
    content: '一些解释',
    onOk: function onOk() {
      console.log('确定');
    },
    onCancel: function onCancel() {}
  });
}

ReactDOM.render(React.createElement(
  _antd.Button,
  { onClick: showConfirm },
  '确认对话框'
), document.getElementById('components-modal-demo-confirm'));})()</script><div class="highlight"><pre><code class="javascript"><span class="hljs-keyword">import</span> { Modal, Button } <span class="hljs-keyword">from</span> <span class="hljs-string">'antd'</span>;
<span class="hljs-keyword">const</span> confirm = Modal.confirm;

<span class="hljs-function"><span class="hljs-keyword">function</span> <span class="hljs-title">showConfirm</span>(<span class="hljs-params"></span>)</span>{
  confirm({
    title: <span class="hljs-string">'您是否确认要删除这项内容'</span>,
    content: <span class="hljs-string">'一些解释'</span>,
    onOk: <span class="hljs-function"><span class="hljs-keyword">function</span>(<span class="hljs-params"></span>) </span>{
      <span class="hljs-built_in">console</span>.log(<span class="hljs-string">'确定'</span>);
    },
    onCancel: <span class="hljs-function"><span class="hljs-keyword">function</span>(<span class="hljs-params"></span>) </span>{}
  });
}

ReactDOM.render(
<span class="xml"><span class="hljs-tag">&lt;<span class="hljs-title">Button</span> <span class="hljs-attribute">onClick</span>=<span class="hljs-value">{showConfirm}</span>&gt;</span>
  确认对话框
<span class="hljs-tag">&lt;/<span class="hljs-title">Button</span>&gt;</span>, document.getElementById('components-modal-demo-confirm'));</span></code></pre></div>
  </div>
  <div class="code-box-meta markdown">
    <div class="code-box-title">
      <a href="#demo-confirm">确认对话框</a>
    </div>
    <p>使用 <code>confirm()</code> 可以快捷地弹出确认框。</p>
    <span class="collapse anticon anticon-circle-o-right" unselectable="none" style="-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;"></span>
  </div>
</div><div class="code-box" id="demo-info">
  <div class="code-box-demo">
    <div id="components-modal-demo-info"></div>
    <script>(function(){'use strict';

var _antd = require('antd');

function info() {
  _antd.Modal.info({
    title: '这是一条通知信息',
    content: '一些附加信息一些附加信息一些附加信息',
    onOk: function onOk() {}
  });
}

function success() {
  _antd.Modal.success({
    title: '这是一条通知信息',
    content: '一些附加信息一些附加信息一些附加信息'
  });
}

function error() {
  _antd.Modal.error({
    title: '这是一条通知信息',
    content: '一些附加信息一些附加信息一些附加信息'
  });
}

ReactDOM.render(React.createElement(
  'div',
  null,
  React.createElement(
    _antd.Button,
    { onClick: info },
    '信息提示'
  ),
  React.createElement(
    _antd.Button,
    { onClick: success },
    '成功提示'
  ),
  React.createElement(
    _antd.Button,
    { onClick: error },
    '失败提示'
  )
), document.getElementById('components-modal-demo-info'));})()</script><div class="highlight"><pre><code class="javascript"><span class="hljs-keyword">import</span> { Modal, Button } <span class="hljs-keyword">from</span> <span class="hljs-string">'antd'</span>;

<span class="hljs-function"><span class="hljs-keyword">function</span> <span class="hljs-title">info</span>(<span class="hljs-params"></span>) </span>{
  Modal.info({
    title: <span class="hljs-string">'这是一条通知信息'</span>,
    content: <span class="hljs-string">'一些附加信息一些附加信息一些附加信息'</span>,
    onOk: <span class="hljs-function"><span class="hljs-keyword">function</span>(<span class="hljs-params"></span>) </span>{}
  });
}

<span class="hljs-function"><span class="hljs-keyword">function</span> <span class="hljs-title">success</span>(<span class="hljs-params"></span>) </span>{
  Modal.success({
    title: <span class="hljs-string">'这是一条通知信息'</span>,
    content: <span class="hljs-string">'一些附加信息一些附加信息一些附加信息'</span>
  });
}

<span class="hljs-function"><span class="hljs-keyword">function</span> <span class="hljs-title">error</span>(<span class="hljs-params"></span>) </span>{
  Modal.error({
    title: <span class="hljs-string">'这是一条通知信息'</span>,
    content: <span class="hljs-string">'一些附加信息一些附加信息一些附加信息'</span>
  });
}

ReactDOM.render(<span class="xml"><span class="hljs-tag">&lt;<span class="hljs-title">div</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-title">Button</span> <span class="hljs-attribute">onClick</span>=<span class="hljs-value">{info}</span>&gt;</span>信息提示<span class="hljs-tag">&lt;/<span class="hljs-title">Button</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-title">Button</span> <span class="hljs-attribute">onClick</span>=<span class="hljs-value">{success}</span>&gt;</span>成功提示<span class="hljs-tag">&lt;/<span class="hljs-title">Button</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-title">Button</span> <span class="hljs-attribute">onClick</span>=<span class="hljs-value">{error}</span>&gt;</span>失败提示<span class="hljs-tag">&lt;/<span class="hljs-title">Button</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>, document.getElementById('components-modal-demo-info'));</span></code></pre></div>
  </div>
  <div class="code-box-meta markdown">
    <div class="code-box-title">
      <a href="#demo-info">信息提示</a>
    </div>
    <p>各种类型的信息提示，只提供一个按钮用于关闭。</p>
    <span class="collapse anticon anticon-circle-o-right" unselectable="none" style="-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;"></span>
  </div>
</div>
  </div>
</div>
  <div class="api-container markdown"></div>
</section>

    </div><footer id="footer">
  <ul>
    <li>
      <h2>GitHub</h2>
      <a target="_blank "href="https://github.com/ant-design/ant-design">仓库</a>
      <a target="_blank" href="https://github.com/ant-design/ant-design/tree/master/style">样式</a>
      <a target="_blank" href="https://github.com/ant-design/antd-bin">开发工具</a>
    </li>
    <li>
      <h2>关于我们</h2>
      <a href="https://github.com/alipay/x/issues">博客 - Ant UED</a>
    </li>
    <li>
      <h2>联系我们</h2>
      <a target="_blank" href="https://github.com/ant-design/ant-design/issues">反馈和建议</a>
      <a target="_blank" href="https://gitter.im/ant-design/ant-design">讨论</a>
      <a target="_blank" href="http://dwz.cn/2dJ2mg">报告 Bug</a>
    </li>
    <li>
      <h3>©2015 蚂蚁金服体验技术部出品</h3>
      <h3>文档版本：<span id="versions-select"></span></h3>
    </li>
  </ul>
</footer>
    <script src="https://t.alipayobjects.com/images/rmsweb/T1AmXhXg0kXXXXXXXX.js" data-no-instant></script>
    <script data-no-instant>
      InstantClick.on('change', function() {
        InstantClickChangeFns.forEach(function(fn) {
          fn();
        });
      });
      InstantClick.init();
    </script>
  </body>
</html>