<div class="code-box" id="demo-event">
  <div class="code-box-demo">
    <div id="components-dropdown-demo-event"></div>
    <script>mountNode = document.getElementById('components-dropdown-demo-event');</script>
    <script>(function(){"use strict";

var _antd = require("antd");

var onClick = function onClick(_ref) {
  var key = _ref.key;

  console.log("\u70B9\u51FB\u4E86\u83DC\u5355" + key);
};

var menu = React.createElement(
  _antd.Menu,
  { onClick: onClick },
  React.createElement(
    _antd.Menu.Item,
    { key: "1" },
    "\u7B2C\u4E00\u4E2A\u83DC\u5355\u9879"
  ),
  React.createElement(
    _antd.Menu.Item,
    { key: "2" },
    "\u7B2C\u4E8C\u4E2A\u83DC\u5355\u9879"
  ),
  React.createElement(
    _antd.Menu.Item,
    { key: "3" },
    "\u7B2C\u4E09\u4E2A\u83DC\u5355\u9879"
  )
);

ReactDOM.render(React.createElement(
  _antd.Dropdown,
  { overlay: menu },
  React.createElement(
    "a",
    { className: "ant-dropdown-link", href: "#" },
    "\u9F20\u6807\u79FB\u5165\uFF0C\u70B9\u51FB\u83DC\u5355 ",
    React.createElement(_antd.Icon, { type: "down" })
  )
), mountNode);})()</script><div class="highlight"><pre><code class="javascript"><span class="hljs-keyword">import</span> { Menu, Dropdown, Icon } <span class="hljs-keyword">from</span> <span class="hljs-string">'antd'</span>;
<span class="hljs-keyword">const</span> onClick = <span class="hljs-function"><span class="hljs-keyword">function</span> (<span class="hljs-params">{ key }</span>) </span>{
  <span class="hljs-built_in">console</span>.log(<span class="hljs-string">`点击了菜单<span class="hljs-subst">${key}</span>`</span>);
};

<span class="hljs-keyword">const</span> menu = (
  <span class="xml"><span class="hljs-tag">&lt;<span class="hljs-title">Menu</span> <span class="hljs-attribute">onClick</span>=<span class="hljs-value">{onClick}</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-title">Menu.Item</span> <span class="hljs-attribute">key</span>=<span class="hljs-value">"1"</span>&gt;</span>第一个菜单项<span class="hljs-tag">&lt;/<span class="hljs-title">Menu.Item</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-title">Menu.Item</span> <span class="hljs-attribute">key</span>=<span class="hljs-value">"2"</span>&gt;</span>第二个菜单项<span class="hljs-tag">&lt;/<span class="hljs-title">Menu.Item</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-title">Menu.Item</span> <span class="hljs-attribute">key</span>=<span class="hljs-value">"3"</span>&gt;</span>第三个菜单项<span class="hljs-tag">&lt;/<span class="hljs-title">Menu.Item</span>&gt;</span>
  <span class="hljs-tag">&lt;/<span class="hljs-title">Menu</span>&gt;</span>
)</span>;

ReactDOM.render(
  <span class="xml"><span class="hljs-tag">&lt;<span class="hljs-title">Dropdown</span> <span class="hljs-attribute">overlay</span>=<span class="hljs-value">{menu}</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-title">a</span> <span class="hljs-attribute">className</span>=<span class="hljs-value">"ant-dropdown-link"</span> <span class="hljs-attribute">href</span>=<span class="hljs-value">"#"</span>&gt;</span>
      鼠标移入，点击菜单 <span class="hljs-tag">&lt;<span class="hljs-title">Icon</span> <span class="hljs-attribute">type</span>=<span class="hljs-value">"down"</span> /&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-title">a</span>&gt;</span>
  <span class="hljs-tag">&lt;/<span class="hljs-title">Dropdown</span>&gt;</span>
, mountNode);</span></code></pre></div>
  </div>
  <div class="code-box-meta markdown">
    <div class="code-box-title">
      <a href="#demo-event">触发事件</a>
    </div>
    
<p>点击菜单项后会触发事件，用户可以通过相应的菜单项 key 进行不同的操作。</p>

    <span class="collapse anticon anticon-circle-o-right" unselectable="none"></span>
  </div>
</div>