<div class="code-box" id="demo-info">
  <div class="code-box-demo">
    <div id="components-modal-demo-info"></div>
    <script>mountNode = document.getElementById('components-modal-demo-info');</script>
    <script>(function(){'use strict';

var _antd = require('antd');

function info() {
  _antd.Modal.info({
    title: '这是一条通知信息',
    content: React.createElement(
      'div',
      null,
      React.createElement(
        'p',
        null,
        '\u4E00\u4E9B\u9644\u52A0\u4FE1\u606F\u4E00\u4E9B\u9644\u52A0\u4FE1\u606F\u4E00\u4E9B\u9644\u52A0\u4FE1\u606F'
      ),
      React.createElement(
        'p',
        null,
        '\u4E00\u4E9B\u9644\u52A0\u4FE1\u606F\u4E00\u4E9B\u9644\u52A0\u4FE1\u606F\u4E00\u4E9B\u9644\u52A0\u4FE1\u606F'
      )
    ),
    onOk: function onOk() {}
  });
}

function success() {
  _antd.Modal.success({
    title: '这是一条通知信息',
    content: '一些附加信息一些附加信息一些附加信息'
  });
}

function error() {
  _antd.Modal.error({
    title: '这是一条通知信息',
    content: '一些附加信息一些附加信息一些附加信息'
  });
}

ReactDOM.render(React.createElement(
  'div',
  null,
  React.createElement(
    _antd.Button,
    { onClick: info },
    '\u4FE1\u606F\u63D0\u793A'
  ),
  React.createElement(
    _antd.Button,
    { onClick: success },
    '\u6210\u529F\u63D0\u793A'
  ),
  React.createElement(
    _antd.Button,
    { onClick: error },
    '\u5931\u8D25\u63D0\u793A'
  )
), mountNode);})()</script><div class="highlight"><pre><code class="javascript"><span class="hljs-keyword">import</span> { Modal, Button } <span class="hljs-keyword">from</span> <span class="hljs-string">'antd'</span>;

<span class="hljs-function"><span class="hljs-keyword">function</span> <span class="hljs-title">info</span>(<span class="hljs-params"></span>) </span>{
  Modal.info({
    title: <span class="hljs-string">'这是一条通知信息'</span>,
    content: (
      <span class="xml"><span class="hljs-tag">&lt;<span class="hljs-title">div</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">p</span>&gt;</span>一些附加信息一些附加信息一些附加信息<span class="hljs-tag">&lt;/<span class="hljs-title">p</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">p</span>&gt;</span>一些附加信息一些附加信息一些附加信息<span class="hljs-tag">&lt;/<span class="hljs-title">p</span>&gt;</span>
      <span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
    )</span>,
    onOk() {},
  });
}

<span class="hljs-function"><span class="hljs-keyword">function</span> <span class="hljs-title">success</span>(<span class="hljs-params"></span>) </span>{
  Modal.success({
    title: <span class="hljs-string">'这是一条通知信息'</span>,
    content: <span class="hljs-string">'一些附加信息一些附加信息一些附加信息'</span>
  });
}

<span class="hljs-function"><span class="hljs-keyword">function</span> <span class="hljs-title">error</span>(<span class="hljs-params"></span>) </span>{
  Modal.error({
    title: <span class="hljs-string">'这是一条通知信息'</span>,
    content: <span class="hljs-string">'一些附加信息一些附加信息一些附加信息'</span>
  });
}

ReactDOM.render(<span class="xml"><span class="hljs-tag">&lt;<span class="hljs-title">div</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-title">Button</span> <span class="hljs-attribute">onClick</span>=<span class="hljs-value">{info}</span>&gt;</span>信息提示<span class="hljs-tag">&lt;/<span class="hljs-title">Button</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-title">Button</span> <span class="hljs-attribute">onClick</span>=<span class="hljs-value">{success}</span>&gt;</span>成功提示<span class="hljs-tag">&lt;/<span class="hljs-title">Button</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-title">Button</span> <span class="hljs-attribute">onClick</span>=<span class="hljs-value">{error}</span>&gt;</span>失败提示<span class="hljs-tag">&lt;/<span class="hljs-title">Button</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>, mountNode);</span></code></pre></div>
  </div>
  <div class="code-box-meta markdown">
    <div class="code-box-title">
      <a href="#demo-info">信息提示</a>
    </div>
    
<p>各种类型的信息提示，只提供一个按钮用于关闭。</p>

    <span class="collapse anticon anticon-circle-o-right" unselectable="none"></span>
  </div>
</div>