<div class="code-box" id="demo-horizontal-form">
  <div class="code-box-demo">
    <div id="components-form-demo-horizontal-form"></div>
    <script>(function(){"use strict";

var Checkbox = antd.Checkbox;
var Radio = antd.Radio;
var RadioGroup = antd.Radio.Group;

React.render(React.createElement(
  "form",
  { className: "ant-form-horizontal" },
  React.createElement(
    "div",
    { className: "ant-form-item ant-form-item-compact" },
    React.createElement(
      "label",
      { htmlFor: "userName", className: "col-6", required: true },
      "用户名："
    ),
    React.createElement(
      "div",
      { className: "col-6" },
      React.createElement(
        "p",
        { className: "ant-form-text" },
        "大眼萌 minion"
      )
    )
  ),
  React.createElement(
    "div",
    { className: "ant-form-item" },
    React.createElement(
      "label",
      { htmlFor: "password", className: "col-6", required: true },
      "密码："
    ),
    React.createElement(
      "div",
      { className: "col-14" },
      React.createElement("input", { className: "ant-input", type: "password", id: "password", placeholder: "请输入密码" })
    )
  ),
  React.createElement(
    "div",
    { className: "ant-form-item ant-form-item-compact" },
    React.createElement(
      "label",
      { className: "col-6", required: true },
      "您的性别："
    ),
    React.createElement(
      "div",
      { className: "col-14" },
      React.createElement(
        RadioGroup,
        { value: "male" },
        React.createElement(
          Radio,
          { value: "male" },
          "男的"
        ),
        React.createElement(
          Radio,
          { value: "female" },
          "女的"
        )
      )
    )
  ),
  React.createElement(
    "div",
    { className: "ant-form-item" },
    React.createElement(
      "label",
      { htmlFor: "remark", className: "col-6", required: true },
      "备注："
    ),
    React.createElement(
      "div",
      { className: "col-14" },
      React.createElement("textarea", { className: "ant-input", id: "remark", placeholder: "随便写" }),
      React.createElement(
        "p",
        { className: "ant-form-explain" },
        "随便写点什么"
      )
    )
  ),
  React.createElement(
    "div",
    { className: "ant-form-item ant-form-item-compact" },
    React.createElement(
      "div",
      { className: "col-14 col-offset-6" },
      React.createElement(
        "label",
        null,
        React.createElement(Checkbox, null),
        " 同意"
      )
    )
  ),
  React.createElement(
    "div",
    { className: "row" },
    React.createElement(
      "div",
      { className: "col-16 col-offset-6" },
      React.createElement("input", { type: "submit", className: "ant-btn ant-btn-primary", value: "确 定" })
    )
  )
), document.getElementById('components-form-demo-horizontal-form'));})()</script><div class="highlight"><pre><code class="javascript"><span class="keyword">var</span> Checkbox = antd.Checkbox;
<span class="keyword">var</span> Radio = antd.Radio;
<span class="keyword">var</span> RadioGroup = antd.Radio.Group;

React.render(
<span class="xml"><span class="tag">&lt;<span class="title">form</span> <span class="attribute">className</span>=<span class="value">"ant-form-horizontal"</span>&gt;</span>
  <span class="tag">&lt;<span class="title">div</span> <span class="attribute">className</span>=<span class="value">"ant-form-item ant-form-item-compact"</span>&gt;</span>
    <span class="tag">&lt;<span class="title">label</span> <span class="attribute">htmlFor</span>=<span class="value">"userName"</span> <span class="attribute">className</span>=<span class="value">"col-6"</span> <span class="attribute">required</span>&gt;</span>用户名：<span class="tag">&lt;/<span class="title">label</span>&gt;</span>
    <span class="tag">&lt;<span class="title">div</span> <span class="attribute">className</span>=<span class="value">"col-6"</span>&gt;</span>
      <span class="tag">&lt;<span class="title">p</span> <span class="attribute">className</span>=<span class="value">"ant-form-text"</span>&gt;</span>大眼萌 minion<span class="tag">&lt;/<span class="title">p</span>&gt;</span>
    <span class="tag">&lt;/<span class="title">div</span>&gt;</span>
  <span class="tag">&lt;/<span class="title">div</span>&gt;</span>
  <span class="tag">&lt;<span class="title">div</span> <span class="attribute">className</span>=<span class="value">"ant-form-item"</span>&gt;</span>
    <span class="tag">&lt;<span class="title">label</span> <span class="attribute">htmlFor</span>=<span class="value">"password"</span> <span class="attribute">className</span>=<span class="value">"col-6"</span> <span class="attribute">required</span>&gt;</span>密码：<span class="tag">&lt;/<span class="title">label</span>&gt;</span>
    <span class="tag">&lt;<span class="title">div</span> <span class="attribute">className</span>=<span class="value">"col-14"</span>&gt;</span>
      <span class="tag">&lt;<span class="title">input</span> <span class="attribute">className</span>=<span class="value">"ant-input"</span> <span class="attribute">type</span>=<span class="value">"password"</span> <span class="attribute">id</span>=<span class="value">"password"</span> <span class="attribute">placeholder</span>=<span class="value">"请输入密码"</span>/&gt;</span>
    <span class="tag">&lt;/<span class="title">div</span>&gt;</span>
  <span class="tag">&lt;/<span class="title">div</span>&gt;</span>
  <span class="tag">&lt;<span class="title">div</span> <span class="attribute">className</span>=<span class="value">"ant-form-item ant-form-item-compact"</span>&gt;</span>
    <span class="tag">&lt;<span class="title">label</span>  <span class="attribute">className</span>=<span class="value">"col-6"</span> <span class="attribute">required</span>&gt;</span>您的性别：<span class="tag">&lt;/<span class="title">label</span>&gt;</span>
    <span class="tag">&lt;<span class="title">div</span> <span class="attribute">className</span>=<span class="value">"col-14"</span>&gt;</span>
      <span class="tag">&lt;<span class="title">RadioGroup</span> <span class="attribute">value</span>=<span class="value">"male"</span>&gt;</span>
        <span class="tag">&lt;<span class="title">Radio</span> <span class="attribute">value</span>=<span class="value">"male"</span>&gt;</span>男的<span class="tag">&lt;/<span class="title">Radio</span>&gt;</span>
        <span class="tag">&lt;<span class="title">Radio</span> <span class="attribute">value</span>=<span class="value">"female"</span>&gt;</span>女的<span class="tag">&lt;/<span class="title">Radio</span>&gt;</span>
      <span class="tag">&lt;/<span class="title">RadioGroup</span>&gt;</span>
    <span class="tag">&lt;/<span class="title">div</span>&gt;</span>
  <span class="tag">&lt;/<span class="title">div</span>&gt;</span>
  <span class="tag">&lt;<span class="title">div</span> <span class="attribute">className</span>=<span class="value">"ant-form-item"</span>&gt;</span>
    <span class="tag">&lt;<span class="title">label</span> <span class="attribute">htmlFor</span>=<span class="value">"remark"</span> <span class="attribute">className</span>=<span class="value">"col-6"</span> <span class="attribute">required</span>&gt;</span>备注：<span class="tag">&lt;/<span class="title">label</span>&gt;</span>
    <span class="tag">&lt;<span class="title">div</span> <span class="attribute">className</span>=<span class="value">"col-14"</span>&gt;</span>
      <span class="tag">&lt;<span class="title">textarea</span> <span class="attribute">className</span>=<span class="value">"ant-input"</span> <span class="attribute">id</span>=<span class="value">"remark"</span> <span class="attribute">placeholder</span>=<span class="value">"随便写"</span>&gt;</span><span class="tag">&lt;/<span class="title">textarea</span>&gt;</span>
      <span class="tag">&lt;<span class="title">p</span> <span class="attribute">className</span>=<span class="value">"ant-form-explain"</span>&gt;</span>随便写点什么<span class="tag">&lt;/<span class="title">p</span>&gt;</span>
    <span class="tag">&lt;/<span class="title">div</span>&gt;</span>
  <span class="tag">&lt;/<span class="title">div</span>&gt;</span>
  <span class="tag">&lt;<span class="title">div</span> <span class="attribute">className</span>=<span class="value">"ant-form-item ant-form-item-compact"</span>&gt;</span>
    <span class="tag">&lt;<span class="title">div</span> <span class="attribute">className</span>=<span class="value">"col-14 col-offset-6"</span>&gt;</span>
      <span class="tag">&lt;<span class="title">label</span>&gt;</span>
        <span class="tag">&lt;<span class="title">Checkbox</span> /&gt;</span> 同意
      <span class="tag">&lt;/<span class="title">label</span>&gt;</span>
    <span class="tag">&lt;/<span class="title">div</span>&gt;</span>
  <span class="tag">&lt;/<span class="title">div</span>&gt;</span>
  <span class="tag">&lt;<span class="title">div</span> <span class="attribute">className</span>=<span class="value">"row"</span>&gt;</span>
    <span class="tag">&lt;<span class="title">div</span> <span class="attribute">className</span>=<span class="value">"col-16 col-offset-6"</span>&gt;</span>
      <span class="tag">&lt;<span class="title">input</span> <span class="attribute">type</span>=<span class="value">"submit"</span> <span class="attribute">className</span>=<span class="value">"ant-btn ant-btn-primary"</span> <span class="attribute">value</span>=<span class="value">"确 定"</span> /&gt;</span>
    <span class="tag">&lt;/<span class="title">div</span>&gt;</span>
  <span class="tag">&lt;/<span class="title">div</span>&gt;</span>
<span class="tag">&lt;/<span class="title">form</span>&gt;</span>
, document.getElementById('components-form-demo-horizontal-form'));</span></code></pre></div>
  </div>
  <div class="code-box-meta markdown">
    <div class="code-box-title">
      <a href="#demo-horizontal-form">水平排列的表单</a>
    </div>
    <p>为 <code>&lt;form&gt;</code> 标签添加 <code>.ant-form-horizontal</code> 类(这让 <code>.ant-form-item</code> 表现为栅格系统中的 <code>row</code>)，并结合使用我们提供的 <a href="http://ant.design/components/layout/">栅格系统</a>，可以实现 label 标签和表单控件的水平排列。</p>
<p>如需将一行静态文本和 <code>&lt;label&gt;</code> 标签置于同一行，则只需为标签添加 <code>.ant-form-text</code> 类即可。</p>
<p>为 <code>label</code> 标签添加 <code>required</code> 属性，表示该项必选。</p>
<p><strong>注意</strong>：在我们的设计里，表单域(<code>.ant-form-item</code>) 为静态文本、<code>checkbox</code>、<code>radio</code>以及<code>input[type=&quot;file&quot;]</code>的，其高度不同于一般的表单域，需要在 <code>.ant-form-item</code> 类后再加上 <strong><code>.ant-form-item-compact</code></strong>。</p>
    <span class="collapse anticon anticon-circle-o-right" unselectable="none" style="-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;"></span>
  </div>
</div>