<div class="code-box" id="demo-inline-form">
  <div class="code-box-demo">
    <div id="components-form-demo-inline-form"></div>
    <script>(function(){"use strict";

var Checkbox = antd.Checkbox;

React.render(React.createElement(
  "form",
  { className: "ant-form-inline" },
  React.createElement(
    "div",
    { className: "ant-form-item" },
    React.createElement(
      "label",
      { htmlFor: "userName" },
      "账户："
    ),
    React.createElement("input", { className: "ant-input", type: "text", id: "userName", placeholder: "请输入账户名" })
  ),
  React.createElement(
    "div",
    { className: "ant-form-item" },
    React.createElement(
      "label",
      { htmlFor: "password2" },
      "密码："
    ),
    React.createElement("input", { className: "ant-input", type: "password", id: "password2", placeholder: "请输入密码" })
  ),
  React.createElement(
    "div",
    { className: "ant-form-item" },
    React.createElement(
      "label",
      { className: "ant-checkbox-inline" },
      React.createElement(Checkbox, null),
      " 记住我"
    )
  ),
  React.createElement("input", { type: "submit", className: "ant-btn ant-btn-primary", value: "登 录" })
), document.getElementById('components-form-demo-inline-form'));})()</script><div class="highlight"><pre><code class="javascript"><span class="keyword">var</span> Checkbox = antd.Checkbox;

React.render(
<span class="xml"><span class="tag">&lt;<span class="title">form</span> <span class="attribute">className</span>=<span class="value">"ant-form-inline"</span>&gt;</span>
  <span class="tag">&lt;<span class="title">div</span> <span class="attribute">className</span>=<span class="value">"ant-form-item"</span>&gt;</span>
    <span class="tag">&lt;<span class="title">label</span> <span class="attribute">htmlFor</span>=<span class="value">"userName"</span>&gt;</span>账户：<span class="tag">&lt;/<span class="title">label</span>&gt;</span>
    <span class="tag">&lt;<span class="title">input</span> <span class="attribute">className</span>=<span class="value">"ant-input"</span> <span class="attribute">type</span>=<span class="value">"text"</span> <span class="attribute">id</span>=<span class="value">"userName"</span> <span class="attribute">placeholder</span>=<span class="value">"请输入账户名"</span> /&gt;</span>
  <span class="tag">&lt;/<span class="title">div</span>&gt;</span>
  <span class="tag">&lt;<span class="title">div</span> <span class="attribute">className</span>=<span class="value">"ant-form-item"</span>&gt;</span>
    <span class="tag">&lt;<span class="title">label</span> <span class="attribute">htmlFor</span>=<span class="value">"password2"</span>&gt;</span>密码：<span class="tag">&lt;/<span class="title">label</span>&gt;</span>
    <span class="tag">&lt;<span class="title">input</span> <span class="attribute">className</span>=<span class="value">"ant-input"</span> <span class="attribute">type</span>=<span class="value">"password"</span> <span class="attribute">id</span>=<span class="value">"password2"</span> <span class="attribute">placeholder</span>=<span class="value">"请输入密码"</span> /&gt;</span>
  <span class="tag">&lt;/<span class="title">div</span>&gt;</span>
  <span class="tag">&lt;<span class="title">div</span> <span class="attribute">className</span>=<span class="value">"ant-form-item"</span>&gt;</span>
    <span class="tag">&lt;<span class="title">label</span> <span class="attribute">className</span>=<span class="value">"ant-checkbox-inline"</span>&gt;</span>
      <span class="tag">&lt;<span class="title">Checkbox</span> /&gt;</span> 记住我
    <span class="tag">&lt;/<span class="title">label</span>&gt;</span>
  <span class="tag">&lt;/<span class="title">div</span>&gt;</span>
  <span class="tag">&lt;<span class="title">input</span> <span class="attribute">type</span>=<span class="value">"submit"</span> <span class="attribute">className</span>=<span class="value">"ant-btn ant-btn-primary"</span> <span class="attribute">value</span>=<span class="value">"登 录"</span> /&gt;</span>
<span class="tag">&lt;/<span class="title">form</span>&gt;</span>
, document.getElementById('components-form-demo-inline-form'));</span></code></pre></div>
  </div>
  <div class="code-box-meta markdown">
    <div class="code-box-title">
      <a href="#demo-inline-form">行内排列的表单</a>
    </div>
    <p>你可以为 <code>&lt;form&gt;</code> 标签添加 <code>.ant-form-inline</code> 类可使其表现为 inline-block 级别的控件。</p>
    <span class="collapse anticon anticon-circle-o-right" unselectable="none" style="-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;"></span>
  </div>
</div>