<div class="code-box" id="demo-inputs">
  <div class="code-box-demo">
    <div id="components-form-demo-inputs"></div>
    <script>(function(){"use strict";

var Select = antd.Select;
var Option = Select.Option;

React.render(React.createElement(
  "form",
  { className: "ant-form-horizontal" },
  React.createElement(
    "div",
    { className: "ant-form-item" },
    React.createElement(
      "label",
      { className: "col-6", htmlFor: "site1" },
      "标签输入框："
    ),
    React.createElement(
      "div",
      { className: "col-16" },
      React.createElement(
        "div",
        { className: "ant-input-group" },
        React.createElement(
          "span",
          { className: "ant-input-group-addon", id: "basic-addon1" },
          "Http://"
        ),
        React.createElement("input", { type: "text", id: "site1", className: "ant-input", defaultValue: "mysite.com" })
      )
    )
  ),
  React.createElement(
    "div",
    { className: "ant-form-item" },
    React.createElement(
      "label",
      { className: "col-6", htmlFor: "site3" },
      "标签输入框："
    ),
    React.createElement(
      "div",
      { className: "col-16" },
      React.createElement(
        "div",
        { className: "ant-input-group" },
        React.createElement(
          "span",
          { className: "ant-input-group-addon", id: "basic-addon3" },
          "Http://"
        ),
        React.createElement("input", { type: "text", className: "ant-input", id: "site3", defaultValue: "mysite" }),
        React.createElement(
          "span",
          { className: "ant-input-group-addon", id: "basic-addon4" },
          ".com"
        )
      )
    )
  ),
  React.createElement(
    "div",
    { className: "ant-form-item" },
    React.createElement(
      "label",
      { className: "col-6", htmlFor: "site4" },
      "select 标签输入框："
    ),
    React.createElement(
      "div",
      { className: "col-16" },
      React.createElement(
        "div",
        { className: "ant-input-group" },
        React.createElement("input", { type: "text", className: "ant-input", id: "site4", placeholder: "www.mysite" }),
        React.createElement(
          "div",
          { className: "ant-input-group-wrap" },
          React.createElement(
            Select,
            { defaultValue: ".com", style: { width: 70 } },
            React.createElement(
              Option,
              { value: ".com" },
              ".com"
            ),
            React.createElement(
              Option,
              { value: ".jp" },
              ".jp"
            ),
            React.createElement(
              Option,
              { value: ".cn" },
              ".cn"
            ),
            React.createElement(
              Option,
              { value: ".org" },
              ".org"
            )
          )
        )
      )
    )
  ),
  React.createElement(
    "div",
    { className: "ant-form-item" },
    React.createElement(
      "label",
      { className: "col-6", htmlFor: "certNo1" },
      "输入身份证："
    ),
    React.createElement(
      "div",
      { className: "col-16" },
      React.createElement(
        "div",
        { className: "ant-input-group" },
        React.createElement(
          "div",
          { className: "col-6" },
          React.createElement("input", { className: "ant-input", type: "text", id: "certNo1" })
        ),
        React.createElement(
          "div",
          { className: "col-6" },
          React.createElement("input", { className: "ant-input", type: "text", id: "certNo2" })
        ),
        React.createElement(
          "div",
          { className: "col-6" },
          React.createElement("input", { className: "ant-input", type: "text", id: "certNo3" })
        ),
        React.createElement(
          "div",
          { className: "col-6" },
          React.createElement("input", { className: "ant-input", type: "text", id: "certNo4" })
        )
      )
    )
  ),
  React.createElement(
    "div",
    { className: "ant-form-item" },
    React.createElement(
      "label",
      { className: "col-6", htmlFor: "tel1" },
      "电话号码："
    ),
    React.createElement(
      "div",
      { className: "col-16" },
      React.createElement(
        "div",
        { className: "row" },
        React.createElement(
          "div",
          { className: "col-4" },
          React.createElement("input", { className: "ant-input", type: "text", id: "tel1", defaultValue: "086" })
        ),
        React.createElement(
          "div",
          { className: "col-2" },
          React.createElement(
            "p",
            { className: "ant-form-split" },
            "--"
          )
        ),
        React.createElement(
          "div",
          { className: "col-18" },
          React.createElement(
            "div",
            { className: "ant-input-group" },
            React.createElement(
              "div",
              { className: "col-8" },
              React.createElement("input", { className: "ant-input", type: "text", id: "tel1" })
            ),
            React.createElement(
              "div",
              { className: "col-8" },
              React.createElement("input", { className: "ant-input", type: "text", id: "tel2" })
            ),
            React.createElement(
              "div",
              { className: "col-8" },
              React.createElement("input", { className: "ant-input", type: "text", id: "tel3" })
            )
          )
        )
      )
    )
  )
), document.getElementById('components-form-demo-inputs'));})()</script><div class="highlight"><pre><code class="javascript"><span class="keyword">var</span> Select = antd.Select;
<span class="keyword">var</span> Option = Select.Option;

React.render(
<span class="xml"><span class="tag">&lt;<span class="title">form</span> <span class="attribute">className</span>=<span class="value">"ant-form-horizontal"</span>&gt;</span>
  <span class="tag">&lt;<span class="title">div</span> <span class="attribute">className</span>=<span class="value">"ant-form-item"</span>&gt;</span>
    <span class="tag">&lt;<span class="title">label</span> <span class="attribute">className</span>=<span class="value">"col-6"</span> <span class="attribute">htmlFor</span>=<span class="value">"site1"</span>&gt;</span>标签输入框：<span class="tag">&lt;/<span class="title">label</span>&gt;</span>
    <span class="tag">&lt;<span class="title">div</span> <span class="attribute">className</span>=<span class="value">"col-16"</span>&gt;</span>
      <span class="tag">&lt;<span class="title">div</span> <span class="attribute">className</span>=<span class="value">"ant-input-group"</span>&gt;</span>
        <span class="tag">&lt;<span class="title">span</span> <span class="attribute">className</span>=<span class="value">"ant-input-group-addon"</span> <span class="attribute">id</span>=<span class="value">"basic-addon1"</span>&gt;</span>Http://<span class="tag">&lt;/<span class="title">span</span>&gt;</span>
        <span class="tag">&lt;<span class="title">input</span> <span class="attribute">type</span>=<span class="value">"text"</span> <span class="attribute">id</span>=<span class="value">"site1"</span> <span class="attribute">className</span>=<span class="value">"ant-input"</span> <span class="attribute">defaultValue</span>=<span class="value">"mysite.com"</span> /&gt;</span>
      <span class="tag">&lt;/<span class="title">div</span>&gt;</span>
    <span class="tag">&lt;/<span class="title">div</span>&gt;</span>
  <span class="tag">&lt;/<span class="title">div</span>&gt;</span>
  <span class="tag">&lt;<span class="title">div</span> <span class="attribute">className</span>=<span class="value">"ant-form-item"</span>&gt;</span>
    <span class="tag">&lt;<span class="title">label</span> <span class="attribute">className</span>=<span class="value">"col-6"</span> <span class="attribute">htmlFor</span>=<span class="value">"site3"</span>&gt;</span>标签输入框：<span class="tag">&lt;/<span class="title">label</span>&gt;</span>
    <span class="tag">&lt;<span class="title">div</span> <span class="attribute">className</span>=<span class="value">"col-16"</span>&gt;</span>
      <span class="tag">&lt;<span class="title">div</span> <span class="attribute">className</span>=<span class="value">"ant-input-group"</span>&gt;</span>
        <span class="tag">&lt;<span class="title">span</span> <span class="attribute">className</span>=<span class="value">"ant-input-group-addon"</span> <span class="attribute">id</span>=<span class="value">"basic-addon3"</span>&gt;</span>Http://<span class="tag">&lt;/<span class="title">span</span>&gt;</span>
        <span class="tag">&lt;<span class="title">input</span> <span class="attribute">type</span>=<span class="value">"text"</span> <span class="attribute">className</span>=<span class="value">"ant-input"</span> <span class="attribute">id</span>=<span class="value">"site3"</span> <span class="attribute">defaultValue</span>=<span class="value">"mysite"</span> /&gt;</span>
        <span class="tag">&lt;<span class="title">span</span> <span class="attribute">className</span>=<span class="value">"ant-input-group-addon"</span> <span class="attribute">id</span>=<span class="value">"basic-addon4"</span>&gt;</span>.com<span class="tag">&lt;/<span class="title">span</span>&gt;</span>
      <span class="tag">&lt;/<span class="title">div</span>&gt;</span>
    <span class="tag">&lt;/<span class="title">div</span>&gt;</span>
  <span class="tag">&lt;/<span class="title">div</span>&gt;</span>
  <span class="tag">&lt;<span class="title">div</span> <span class="attribute">className</span>=<span class="value">"ant-form-item"</span>&gt;</span>
    <span class="tag">&lt;<span class="title">label</span> <span class="attribute">className</span>=<span class="value">"col-6"</span> <span class="attribute">htmlFor</span>=<span class="value">"site4"</span>&gt;</span>select 标签输入框：<span class="tag">&lt;/<span class="title">label</span>&gt;</span>
    <span class="tag">&lt;<span class="title">div</span> <span class="attribute">className</span>=<span class="value">"col-16"</span>&gt;</span>
      <span class="tag">&lt;<span class="title">div</span> <span class="attribute">className</span>=<span class="value">"ant-input-group"</span>&gt;</span>
        <span class="tag">&lt;<span class="title">input</span> <span class="attribute">type</span>=<span class="value">"text"</span> <span class="attribute">className</span>=<span class="value">"ant-input"</span> <span class="attribute">id</span>=<span class="value">"site4"</span> <span class="attribute">placeholder</span>=<span class="value">"www.mysite"</span> /&gt;</span>
        <span class="tag">&lt;<span class="title">div</span> <span class="attribute">className</span>=<span class="value">"ant-input-group-wrap"</span>&gt;</span>
          <span class="tag">&lt;<span class="title">Select</span> <span class="attribute">defaultValue</span>=<span class="value">".com"</span> <span class="attribute">style</span>=<span class="value">{{width:70}}</span>&gt;</span>
            <span class="tag">&lt;<span class="title">Option</span> <span class="attribute">value</span>=<span class="value">".com"</span>&gt;</span>.com<span class="tag">&lt;/<span class="title">Option</span>&gt;</span>
            <span class="tag">&lt;<span class="title">Option</span> <span class="attribute">value</span>=<span class="value">".jp"</span>&gt;</span>.jp<span class="tag">&lt;/<span class="title">Option</span>&gt;</span>
            <span class="tag">&lt;<span class="title">Option</span> <span class="attribute">value</span>=<span class="value">".cn"</span>&gt;</span>.cn<span class="tag">&lt;/<span class="title">Option</span>&gt;</span>
            <span class="tag">&lt;<span class="title">Option</span> <span class="attribute">value</span>=<span class="value">".org"</span>&gt;</span>.org<span class="tag">&lt;/<span class="title">Option</span>&gt;</span>
          <span class="tag">&lt;/<span class="title">Select</span>&gt;</span>
        <span class="tag">&lt;/<span class="title">div</span>&gt;</span>
      <span class="tag">&lt;/<span class="title">div</span>&gt;</span>
    <span class="tag">&lt;/<span class="title">div</span>&gt;</span>
  <span class="tag">&lt;/<span class="title">div</span>&gt;</span>
  <span class="tag">&lt;<span class="title">div</span> <span class="attribute">className</span>=<span class="value">"ant-form-item"</span>&gt;</span>
    <span class="tag">&lt;<span class="title">label</span> <span class="attribute">className</span>=<span class="value">"col-6"</span> <span class="attribute">htmlFor</span>=<span class="value">"certNo1"</span>&gt;</span>输入身份证：<span class="tag">&lt;/<span class="title">label</span>&gt;</span>
    <span class="tag">&lt;<span class="title">div</span> <span class="attribute">className</span>=<span class="value">"col-16"</span>&gt;</span>
      <span class="tag">&lt;<span class="title">div</span> <span class="attribute">className</span>=<span class="value">"ant-input-group"</span>&gt;</span>
        <span class="tag">&lt;<span class="title">div</span> <span class="attribute">className</span>=<span class="value">"col-6"</span>&gt;</span>
          <span class="tag">&lt;<span class="title">input</span> <span class="attribute">className</span>=<span class="value">"ant-input"</span> <span class="attribute">type</span>=<span class="value">"text"</span> <span class="attribute">id</span>=<span class="value">"certNo1"</span> /&gt;</span>
        <span class="tag">&lt;/<span class="title">div</span>&gt;</span>
        <span class="tag">&lt;<span class="title">div</span> <span class="attribute">className</span>=<span class="value">"col-6"</span>&gt;</span>
          <span class="tag">&lt;<span class="title">input</span> <span class="attribute">className</span>=<span class="value">"ant-input"</span> <span class="attribute">type</span>=<span class="value">"text"</span> <span class="attribute">id</span>=<span class="value">"certNo2"</span> /&gt;</span>
        <span class="tag">&lt;/<span class="title">div</span>&gt;</span>
        <span class="tag">&lt;<span class="title">div</span> <span class="attribute">className</span>=<span class="value">"col-6"</span>&gt;</span>
          <span class="tag">&lt;<span class="title">input</span> <span class="attribute">className</span>=<span class="value">"ant-input"</span> <span class="attribute">type</span>=<span class="value">"text"</span> <span class="attribute">id</span>=<span class="value">"certNo3"</span> /&gt;</span>
        <span class="tag">&lt;/<span class="title">div</span>&gt;</span>
        <span class="tag">&lt;<span class="title">div</span> <span class="attribute">className</span>=<span class="value">"col-6"</span>&gt;</span>
          <span class="tag">&lt;<span class="title">input</span> <span class="attribute">className</span>=<span class="value">"ant-input"</span> <span class="attribute">type</span>=<span class="value">"text"</span> <span class="attribute">id</span>=<span class="value">"certNo4"</span> /&gt;</span>
        <span class="tag">&lt;/<span class="title">div</span>&gt;</span>
      <span class="tag">&lt;/<span class="title">div</span>&gt;</span>
    <span class="tag">&lt;/<span class="title">div</span>&gt;</span>
  <span class="tag">&lt;/<span class="title">div</span>&gt;</span>
  <span class="tag">&lt;<span class="title">div</span> <span class="attribute">className</span>=<span class="value">"ant-form-item"</span>&gt;</span>
    <span class="tag">&lt;<span class="title">label</span> <span class="attribute">className</span>=<span class="value">"col-6"</span> <span class="attribute">htmlFor</span>=<span class="value">"tel1"</span>&gt;</span>电话号码：<span class="tag">&lt;/<span class="title">label</span>&gt;</span>
    <span class="tag">&lt;<span class="title">div</span> <span class="attribute">className</span>=<span class="value">"col-16"</span>&gt;</span>
      <span class="tag">&lt;<span class="title">div</span> <span class="attribute">className</span>=<span class="value">"row"</span>&gt;</span>
        <span class="tag">&lt;<span class="title">div</span> <span class="attribute">className</span>=<span class="value">"col-4"</span>&gt;</span>
          <span class="tag">&lt;<span class="title">input</span> <span class="attribute">className</span>=<span class="value">"ant-input"</span> <span class="attribute">type</span>=<span class="value">"text"</span> <span class="attribute">id</span>=<span class="value">"tel1"</span> <span class="attribute">defaultValue</span>=<span class="value">"086"</span> /&gt;</span>
        <span class="tag">&lt;/<span class="title">div</span>&gt;</span>
        <span class="tag">&lt;<span class="title">div</span> <span class="attribute">className</span>=<span class="value">"col-2"</span>&gt;</span>
          <span class="tag">&lt;<span class="title">p</span> <span class="attribute">className</span>=<span class="value">"ant-form-split"</span>&gt;</span>--<span class="tag">&lt;/<span class="title">p</span>&gt;</span>
        <span class="tag">&lt;/<span class="title">div</span>&gt;</span>
        <span class="tag">&lt;<span class="title">div</span> <span class="attribute">className</span>=<span class="value">"col-18"</span>&gt;</span>
          <span class="tag">&lt;<span class="title">div</span> <span class="attribute">className</span>=<span class="value">"ant-input-group"</span>&gt;</span>
            <span class="tag">&lt;<span class="title">div</span> <span class="attribute">className</span>=<span class="value">"col-8"</span>&gt;</span>
              <span class="tag">&lt;<span class="title">input</span> <span class="attribute">className</span>=<span class="value">"ant-input"</span> <span class="attribute">type</span>=<span class="value">"text"</span> <span class="attribute">id</span>=<span class="value">"tel1"</span> /&gt;</span>
            <span class="tag">&lt;/<span class="title">div</span>&gt;</span>
            <span class="tag">&lt;<span class="title">div</span> <span class="attribute">className</span>=<span class="value">"col-8"</span>&gt;</span>
              <span class="tag">&lt;<span class="title">input</span> <span class="attribute">className</span>=<span class="value">"ant-input"</span> <span class="attribute">type</span>=<span class="value">"text"</span> <span class="attribute">id</span>=<span class="value">"tel2"</span> /&gt;</span>
            <span class="tag">&lt;/<span class="title">div</span>&gt;</span>
            <span class="tag">&lt;<span class="title">div</span> <span class="attribute">className</span>=<span class="value">"col-8"</span>&gt;</span>
              <span class="tag">&lt;<span class="title">input</span> <span class="attribute">className</span>=<span class="value">"ant-input"</span> <span class="attribute">type</span>=<span class="value">"text"</span> <span class="attribute">id</span>=<span class="value">"tel3"</span> /&gt;</span>
            <span class="tag">&lt;/<span class="title">div</span>&gt;</span>
          <span class="tag">&lt;/<span class="title">div</span>&gt;</span>
        <span class="tag">&lt;/<span class="title">div</span>&gt;</span>
      <span class="tag">&lt;/<span class="title">div</span>&gt;</span>
    <span class="tag">&lt;/<span class="title">div</span>&gt;</span>
  <span class="tag">&lt;/<span class="title">div</span>&gt;</span>
<span class="tag">&lt;/<span class="title">form</span>&gt;</span>
, document.getElementById('components-form-demo-inputs'));</span></code></pre></div>
  </div>
  <div class="code-box-meta markdown">
    <div class="code-box-title">
      <a href="#demo-inputs">Input 输入框集合</a>
    </div>
    <p>带标签的输入框：使用 <code>.ant-input-group</code> 类并结合 <code>.ant-input-group-addon</code> 类可以创建带标签的输入框。</p>
    <span class="collapse anticon anticon-circle-o-right" unselectable="none" style="-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;"></span>
  </div>
</div>