<div class="code-box" id="picker-demo-locale">
  <div class="code-box-demo">
    <div id="components-date-picker-demo-locale"></div>
    <script>mountNode = document.getElementById('components-date-picker-demo-locale');</script>
    <script>(function(){'use strict';

var _antd = require('antd');

var _en_US = require('antd/lib/date-picker/locale/en_US');

var _en_US2 = _interopRequireDefault(_en_US);

var _objectAssign = require('object-assign');

var _objectAssign2 = _interopRequireDefault(_objectAssign);

function _interopRequireDefault(obj) { return obj && obj.__esModule ? obj : { default: obj }; }

var App = React.createClass({
  displayName: 'App',
  getInitialState: function getInitialState() {
    return {
      locale: (0, _objectAssign2.default)({}, _en_US2.default, {
        timezoneOffset: 0 * 60,
        firstDayOfWeek: 0,
        minimalDaysInFirstWeek: 1
      })
    };
  },
  render: function render() {
    return React.createElement(_antd.DatePicker, { locale: this.state.locale });
  }
});

ReactDOM.render(React.createElement(App, null), mountNode);})()</script><div class="highlight"><pre><code class="javascript"><span class="hljs-keyword">import</span> { DatePicker } <span class="hljs-keyword">from</span> <span class="hljs-string">'antd'</span>;
<span class="hljs-keyword">import</span> enUS <span class="hljs-keyword">from</span> <span class="hljs-string">'antd/lib/date-picker/locale/en_US'</span>;
<span class="hljs-keyword">import</span> assign <span class="hljs-keyword">from</span> <span class="hljs-string">'object-assign'</span>;

<span class="hljs-keyword">const</span> App = React.createClass({
  getInitialState() {
    <span class="hljs-keyword">return</span> {
      locale: assign({}, enUS, {
        timezoneOffset: <span class="hljs-number">0</span> * <span class="hljs-number">60</span>,
        firstDayOfWeek: <span class="hljs-number">0</span>,
        minimalDaysInFirstWeek: <span class="hljs-number">1</span>,
      })
    };
  },
  render() {
    <span class="hljs-keyword">return</span> <span class="xml"><span class="hljs-tag">&lt;<span class="hljs-title">DatePicker</span> <span class="hljs-attribute">locale</span>=<span class="hljs-value">{this.state.locale}</span> /&gt;</span>;</span>
  }
});

ReactDOM.render(<span class="xml"><span class="hljs-tag">&lt;<span class="hljs-title">App</span> /&gt;</span>, mountNode);</span></code></pre></div>
  </div>
  <div class="code-box-meta markdown">
    <div class="code-box-title">
      <a href="#picker-demo-locale">国际化</a>
    </div>
    <p>通过 <code>locale</code> 配置时区、语言等, 默认支持 en_US, zh_CN</p>
    <span class="collapse anticon anticon-circle-o-right" unselectable="none" style="-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;"></span>
  </div>
</div>