<div class="code-box" id="picker-demo-month-picker">
  <div class="code-box-demo">
    <div id="components-date-picker-demo-month-picker"></div>
    <script>mountNode = document.getElementById('components-date-picker-demo-month-picker');</script>
    <script>(function(){"use strict";

var _antd = require("antd");

var MonthPicker = _antd.DatePicker.MonthPicker;
ReactDOM.render(React.createElement(MonthPicker, { defaultValue: "2015-12" }), mountNode);})()</script><div class="highlight"><pre><code class="javascript"><span class="hljs-keyword">import</span> { DatePicker } <span class="hljs-keyword">from</span> <span class="hljs-string">'antd'</span>;
<span class="hljs-keyword">const</span> MonthPicker = DatePicker.MonthPicker;
ReactDOM.render(
  <span class="xml"><span class="hljs-tag">&lt;<span class="hljs-title">MonthPicker</span> <span class="hljs-attribute">defaultValue</span>=<span class="hljs-value">"2015-12"</span> /&gt;</span>
, mountNode);</span></code></pre></div>
  </div>
  <div class="code-box-meta markdown">
    <div class="code-box-title">
      <a href="#picker-demo-month-picker">月选择器</a>
    </div>
    <p>使用 <code>MonthPicker</code> 实现月选择器.</p>
    <span class="collapse anticon anticon-circle-o-right" unselectable="none" style="-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;"></span>
  </div>
</div>