<div class="code-box" id="picker-demo-start-end">
  <div class="code-box-demo">
    <div id="components-date-picker-demo-start-end"></div>
    <script>mountNode = document.getElementById('components-date-picker-demo-start-end');</script>
    <script>(function(){'use strict';

var _antd = require('antd');

function _defineProperty(obj, key, value) { if (key in obj) { Object.defineProperty(obj, key, { value: value, enumerable: true, configurable: true, writable: true }); } else { obj[key] = value; } return obj; }

var DateRange = React.createClass({
  displayName: 'DateRange',
  getInitialState: function getInitialState() {
    return {
      startValue: null,
      endValue: null
    };
  },
  disabledStartDate: function disabledStartDate(startValue) {
    if (!startValue || !this.state.endValue) {
      return false;
    }
    return startValue.getTime() >= this.state.endValue.getTime();
  },
  disabledEndDate: function disabledEndDate(endValue) {
    if (!endValue || !this.state.startValue) {
      return false;
    }
    return endValue.getTime() <= this.state.startValue.getTime();
  },
  onChange: function onChange(field, value) {
    console.log(field, 'change', value);
    this.setState(_defineProperty({}, field, value));
  },
  render: function render() {
    return React.createElement(
      'div',
      null,
      React.createElement(_antd.DatePicker, { disabledDate: this.disabledStartDate,
        value: this.state.startValue,
        placeholder: '开始日期',
        onChange: this.onChange.bind(this, 'startValue') }),
      React.createElement(_antd.DatePicker, { disabledDate: this.disabledEndDate,
        value: this.state.endValue,
        placeholder: '结束日期',
        onChange: this.onChange.bind(this, 'endValue') })
    );
  }
});

ReactDOM.render(React.createElement(DateRange, null), mountNode);})()</script><div class="highlight"><pre><code class="javascript"><span class="hljs-keyword">import</span> { DatePicker } <span class="hljs-keyword">from</span> <span class="hljs-string">'antd'</span>;

<span class="hljs-keyword">const</span> DateRange = React.createClass({
  getInitialState() {
    <span class="hljs-keyword">return</span> {
      startValue: <span class="hljs-literal">null</span>,
      endValue: <span class="hljs-literal">null</span>
    };
  },
  disabledStartDate(startValue) {
    <span class="hljs-keyword">if</span> (!startValue || !<span class="hljs-keyword">this</span>.state.endValue) {
      <span class="hljs-keyword">return</span> <span class="hljs-literal">false</span>;
    }
    <span class="hljs-keyword">return</span> startValue.getTime() &gt;= <span class="hljs-keyword">this</span>.state.endValue.getTime();
  },
  disabledEndDate(endValue) {
    <span class="hljs-keyword">if</span> (!endValue || !<span class="hljs-keyword">this</span>.state.startValue) {
      <span class="hljs-keyword">return</span> <span class="hljs-literal">false</span>;
    }
    <span class="hljs-keyword">return</span> endValue.getTime() &lt;= <span class="hljs-keyword">this</span>.state.startValue.getTime();
  },
  onChange(field, value) {
    <span class="hljs-built_in">console</span>.log(field, <span class="hljs-string">'change'</span>, value);
    <span class="hljs-keyword">this</span>.setState({
      [field]: value,
    });
  },
  render() {
    <span class="hljs-keyword">return</span> <span class="xml"><span class="hljs-tag">&lt;<span class="hljs-title">div</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-title">DatePicker</span> <span class="hljs-attribute">disabledDate</span>=<span class="hljs-value">{this.disabledStartDate}</span>
        <span class="hljs-attribute">value</span>=<span class="hljs-value">{this.state.startValue}</span>
        <span class="hljs-attribute">placeholder</span>=<span class="hljs-value">"开始日期"</span>
        <span class="hljs-attribute">onChange</span>=<span class="hljs-value">{this.onChange.bind(this,</span> '<span class="hljs-attribute">startValue</span>')} /&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-title">DatePicker</span> <span class="hljs-attribute">disabledDate</span>=<span class="hljs-value">{this.disabledEndDate}</span>
        <span class="hljs-attribute">value</span>=<span class="hljs-value">{this.state.endValue}</span>
        <span class="hljs-attribute">placeholder</span>=<span class="hljs-value">"结束日期"</span>
        <span class="hljs-attribute">onChange</span>=<span class="hljs-value">{this.onChange.bind(this,</span> '<span class="hljs-attribute">endValue</span>')} /&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>;</span>
  }
});

ReactDOM.render(
  <span class="xml"><span class="hljs-tag">&lt;<span class="hljs-title">DateRange</span> /&gt;</span>
, mountNode);</span></code></pre></div>
  </div>
  <div class="code-box-meta markdown">
    <div class="code-box-title">
      <a href="#picker-demo-start-end">日期范围一</a>
    </div>
    <p>可以设置 <code>disabledDate</code> 方法，来约束开始和结束日期。</p>
    <span class="collapse anticon anticon-circle-o-right" unselectable="none" style="-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;"></span>
  </div>
</div>