<div class="code-box" id="demo-confirm-promise">
  <div class="code-box-demo">
    <div id="components-modal-demo-confirm-promise"></div>
    <script>(function(){'use strict';

var confirm = antd.Modal.confirm;

function showConfirm() {
  confirm({
    title: '您是否确认要删除这项内容',
    content: '一些解释',
    onOk: function onOk() {
      alert('1 秒后关闭');
      return new Promise(function (resolve) {
        setTimeout(resolve, 1000);
      });
    },
    onCancel: function onCancel() {}
  });
}

React.render(React.createElement(
  'button',
  { className: 'ant-btn', onClick: showConfirm },
  '确认对话框'
), document.getElementById('components-modal-demo-confirm-promise'));})()</script><div class="highlight"><pre><code class="javascript"><span class="keyword">var</span> confirm = antd.Modal.confirm;

<span class="function"><span class="keyword">function</span> <span class="title">showConfirm</span><span class="params">()</span>{</span>
  confirm({
    title: <span class="string">'您是否确认要删除这项内容'</span>,
    content: <span class="string">'一些解释'</span>,
    onOk: <span class="function"><span class="keyword">function</span><span class="params">()</span> {</span>
      alert(<span class="string">'1 秒后关闭'</span>);
      <span class="keyword">return</span> <span class="keyword">new</span> Promise(<span class="function"><span class="keyword">function</span><span class="params">(resolve)</span> {</span>
        setTimeout(resolve, <span class="number">1000</span>);
      });
    },
    onCancel: <span class="function"><span class="keyword">function</span><span class="params">()</span> {</span>}
  });
}

React.render(
<span class="xml"><span class="tag">&lt;<span class="title">button</span> <span class="attribute">className</span>=<span class="value">"ant-btn"</span> <span class="attribute">onClick</span>=<span class="value">{showConfirm}</span>&gt;</span>
  确认对话框
<span class="tag">&lt;/<span class="title">button</span>&gt;</span>, document.getElementById('components-modal-demo-confirm-promise'));</span></code></pre></div>
  </div>
  <div class="code-box-meta markdown">
    <div class="code-box-title">
      <a href="#demo-confirm-promise">确认对话框</a>
    </div>
    <p>使用 <code>confirm()</code> 可以快捷地弹出确认框。onCancel/onOk 返回 promise 可以延迟关闭</p>
    <span class="collapse anticon anticon-circle-o-right" unselectable="none" style="-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;"></span>
  </div>
</div>