<div class="code-box" id="demo-footer">
  <div class="code-box-demo">
    <div id="components-modal-demo-footer"></div>
    <script>(function(){"use strict";

var Modal = antd.Modal;

var Test = React.createClass({
  displayName: "Test",

  getInitialState: function getInitialState() {
    return {
      loading: false,
      visible: false
    };
  },
  showModal: function showModal() {
    this.setState({
      visible: true
    });
  },
  handleOk: function handleOk() {
    var _this = this;

    this.setState({ loading: true });
    setTimeout(function () {
      _this.setState({ loading: false, visible: false });
    }, 3000);
  },
  handleCancel: function handleCancel() {
    this.setState({ visible: false });
  },
  render: function render() {
    return React.createElement(
      "div",
      null,
      React.createElement(
        "button",
        { className: "ant-btn ant-btn-primary", onClick: this.showModal },
        "显示对话框"
      ),
      React.createElement(
        Modal,
        { ref: "modal",
          visible: this.state.visible,
          title: "对话框标题", onOk: this.handleOk, onCancel: this.handleCancel,
          footer: [React.createElement(
            "button",
            { key: "back", className: "ant-btn ant-btn-lg", onClick: this.handleCancel },
            "返 回"
          ), React.createElement(
            "button",
            { key: "submit", className: 'ant-btn ant-btn-primary ant-btn-lg ' + (this.state.loading ? 'ant-btn-loading' : ''), onClick: this.handleOk },
            "提 交"
          )] },
        React.createElement(
          "p",
          null,
          "对话框的内容"
        ),
        React.createElement(
          "p",
          null,
          "对话框的内容"
        ),
        React.createElement(
          "p",
          null,
          "对话框的内容"
        ),
        React.createElement(
          "p",
          null,
          "对话框的内容"
        ),
        React.createElement(
          "p",
          null,
          "对话框的内容"
        )
      )
    );
  }
});

React.render(React.createElement(Test, null), document.getElementById('components-modal-demo-footer'));})()</script><div class="highlight"><pre><code class="javascript"><span class="keyword">var</span> Modal = antd.Modal;

<span class="keyword">var</span> Test = React.createClass({
  getInitialState: <span class="function"><span class="keyword">function</span><span class="params">()</span> {</span>
    <span class="keyword">return</span> {
      loading: <span class="literal">false</span>,
      visible: <span class="literal">false</span>
    };
  },
  showModal() {
    <span class="keyword">this</span>.setState({
      visible: <span class="literal">true</span>
    });
  },
  handleOk() {
    <span class="keyword">this</span>.setState({ loading: <span class="literal">true</span> });
    setTimeout(() =&gt; {
      <span class="keyword">this</span>.setState({ loading: <span class="literal">false</span>, visible: <span class="literal">false</span> });
    }, <span class="number">3000</span>);
  },
  handleCancel() {
    <span class="keyword">this</span>.setState({ visible: <span class="literal">false</span> });
  },
  render() {
    <span class="keyword">return</span> <span class="xml"><span class="tag">&lt;<span class="title">div</span>&gt;</span>
      <span class="tag">&lt;<span class="title">button</span> <span class="attribute">className</span>=<span class="value">"ant-btn ant-btn-primary"</span> <span class="attribute">onClick</span>=<span class="value">{this.showModal}</span>&gt;</span>
        显示对话框
      <span class="tag">&lt;/<span class="title">button</span>&gt;</span>
      <span class="tag">&lt;<span class="title">Modal</span> <span class="attribute">ref</span>=<span class="value">"modal"</span>
       <span class="attribute">visible</span>=<span class="value">{this.state.visible}</span>
       <span class="attribute">title</span>=<span class="value">"对话框标题"</span> <span class="attribute">onOk</span>=<span class="value">{this.handleOk}</span> <span class="attribute">onCancel</span>=<span class="value">{this.handleCancel}</span>
        <span class="attribute">footer</span>=<span class="value">{[</span>
          &lt;<span class="attribute">button</span> <span class="attribute">key</span>=<span class="value">"back"</span> <span class="attribute">className</span>=<span class="value">"ant-btn ant-btn-lg"</span> <span class="attribute">onClick</span>=<span class="value">{this.handleCancel}</span>&gt;</span>返 回<span class="tag">&lt;/<span class="title">button</span>&gt;</span>,
          <span class="tag">&lt;<span class="title">button</span> <span class="attribute">key</span>=<span class="value">"submit"</span> <span class="attribute">className</span>=<span class="value">{'ant-btn</span> <span class="attribute">ant-btn-primary</span> <span class="attribute">ant-btn-lg</span> ' + (<span class="attribute">this.state.loading</span>?'<span class="attribute">ant-btn-loading</span>'<span class="attribute">:</span>'')} <span class="attribute">onClick</span>=<span class="value">{this.handleOk}</span>&gt;</span>
            提 交
          <span class="tag">&lt;/<span class="title">button</span>&gt;</span>
        ]}&gt;
        <span class="tag">&lt;<span class="title">p</span>&gt;</span>对话框的内容<span class="tag">&lt;/<span class="title">p</span>&gt;</span>
        <span class="tag">&lt;<span class="title">p</span>&gt;</span>对话框的内容<span class="tag">&lt;/<span class="title">p</span>&gt;</span>
        <span class="tag">&lt;<span class="title">p</span>&gt;</span>对话框的内容<span class="tag">&lt;/<span class="title">p</span>&gt;</span>
        <span class="tag">&lt;<span class="title">p</span>&gt;</span>对话框的内容<span class="tag">&lt;/<span class="title">p</span>&gt;</span>
        <span class="tag">&lt;<span class="title">p</span>&gt;</span>对话框的内容<span class="tag">&lt;/<span class="title">p</span>&gt;</span>
      <span class="tag">&lt;/<span class="title">Modal</span>&gt;</span>
    <span class="tag">&lt;/<span class="title">div</span>&gt;</span>;</span>
  }
});

React.render(<span class="xml"><span class="tag">&lt;<span class="title">Test</span>/&gt;</span> , document.getElementById('components-modal-demo-footer'));</span></code></pre></div>
  </div>
  <div class="code-box-meta markdown">
    <div class="code-box-title">
      <a href="#demo-footer">自定义页脚</a>
    </div>
    <p>更复杂的例子，自定义了页脚的按钮，点击提交后进入 loading 状态，完成后关闭。</p>
    <span class="collapse anticon anticon-circle-o-right" unselectable="none" style="-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;"></span>
  </div>
</div>