<div class="code-box" id="demo-mark">
  <div class="code-box-demo">
    <div id="components-slider-demo-mark"></div>
    <script>(function(){"use strict";

var Slider = antd.Slider;

React.render(React.createElement(
  "div",
  { className: "sliderContainer" },
  React.createElement(
    "p",
    null,
    "包含关系"
  ),
  React.createElement(Slider, { marks: ["状态1", "状态2", "状态3", "状态4"], defaultIndex: 1 }),
  React.createElement(
    "p",
    null,
    "并列关系"
  ),
  React.createElement(Slider, { marks: ["状态1", "状态2", "状态3", "状态4"], isIncluded: false, defaultIndex: 1 })
), document.getElementById('components-slider-demo-mark'));})()</script><div class="highlight"><pre><code class="javascript"><span class="keyword">var</span> Slider = antd.Slider;

React.render(
<span class="xml"><span class="tag">&lt;<span class="title">div</span> <span class="attribute">className</span>=<span class="value">"sliderContainer"</span>&gt;</span>
  <span class="tag">&lt;<span class="title">p</span>&gt;</span>包含关系<span class="tag">&lt;/<span class="title">p</span>&gt;</span>
  <span class="tag">&lt;<span class="title">Slider</span> <span class="attribute">marks</span>=<span class="value">{["状态1","状态2","状态3","状态4"]}</span> <span class="attribute">defaultIndex</span>=<span class="value">{1}</span> /&gt;</span>
  <span class="tag">&lt;<span class="title">p</span>&gt;</span>并列关系<span class="tag">&lt;/<span class="title">p</span>&gt;</span>
  <span class="tag">&lt;<span class="title">Slider</span> <span class="attribute">marks</span>=<span class="value">{["状态1","状态2","状态3","状态4"]}</span> <span class="attribute">isIncluded</span>=<span class="value">{false}</span> <span class="attribute">defaultIndex</span>=<span class="value">{1}</span> /&gt;</span>
<span class="tag">&lt;/<span class="title">div</span>&gt;</span>
, document.getElementById('components-slider-demo-mark'));</span></code></pre></div>
  </div>
  <div class="code-box-meta markdown">
    <div class="code-box-title">
      <a href="#demo-mark">分段式滑块</a>
    </div>
    <p>使用 <code>marks</code> 属性标注分段式滑块，结合 <code>index</code> 可以指定滑块按钮初始位置。</p>
    <span class="collapse anticon anticon-circle-o-right" unselectable="none" style="-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;"></span>
  </div>
</div>