<div class="code-box" id="demo-small-size">
  <div class="code-box-demo">
    <div id="components-steps-demo-small-size"></div>
    <script>mountNode = document.getElementById('components-steps-demo-small-size');</script>
    <script>(function(){'use strict';

var _antd = require('antd');

var Step = _antd.Steps.Step;

var steps = [{
  status: 'finish',
  title: '已完成'
}, {
  status: 'process',
  title: '进行中'
}, {
  status: 'wait',
  title: '待运行'
}, {
  status: 'wait',
  title: '待运行'
}].map(function (s, i) {
  return React.createElement(Step, { key: i, title: s.title, description: s.description });
});

ReactDOM.render(React.createElement(
  _antd.Steps,
  { size: 'small', current: 1 },
  steps
), mountNode);})()</script><div class="highlight"><pre><code class="javascript"><span class="hljs-keyword">import</span> { Steps } <span class="hljs-keyword">from</span> <span class="hljs-string">'antd'</span>;
<span class="hljs-keyword">const</span> Step = Steps.Step;

<span class="hljs-keyword">const</span> steps = [{
  status: <span class="hljs-string">'finish'</span>,
  title: <span class="hljs-string">'已完成'</span>
}, {
  status: <span class="hljs-string">'process'</span>,
  title: <span class="hljs-string">'进行中'</span>
}, {
  status: <span class="hljs-string">'wait'</span>,
  title: <span class="hljs-string">'待运行'</span>
}, {
  status: <span class="hljs-string">'wait'</span>,
  title: <span class="hljs-string">'待运行'</span>
}].map(<span class="hljs-function"><span class="hljs-keyword">function</span>(<span class="hljs-params">s, i</span>) </span>{
  <span class="hljs-keyword">return</span> (
    <span class="xml"><span class="hljs-tag">&lt;<span class="hljs-title">Step</span> <span class="hljs-attribute">key</span>=<span class="hljs-value">{i}</span> <span class="hljs-attribute">title</span>=<span class="hljs-value">{s.title}</span> <span class="hljs-attribute">description</span>=<span class="hljs-value">{s.description}</span> /&gt;</span>
  )</span>;
});

ReactDOM.render(<span class="xml"><span class="hljs-tag">&lt;<span class="hljs-title">Steps</span> <span class="hljs-attribute">size</span>=<span class="hljs-value">"small"</span> <span class="hljs-attribute">current</span>=<span class="hljs-value">{1}</span>&gt;</span>{steps}<span class="hljs-tag">&lt;/<span class="hljs-title">Steps</span>&gt;</span>, mountNode);</span></code></pre></div>
  </div>
  <div class="code-box-meta markdown">
    <div class="code-box-title">
      <a href="#demo-small-size">迷你版</a>
    </div>
    <p>迷你版的步骤条，通过设置 <code>&lt;Steps size=&quot;small&quot;&gt;</code> 启用.</p>
    <span class="collapse anticon anticon-circle-o-right" unselectable="none" style="-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;"></span>
  </div>
</div>