<div class="code-box" id="demo-status">
  <div class="code-box-demo">
    <div id="components-steps-demo-status"></div>
    <script>mountNode = document.getElementById('components-steps-demo-status');</script>
    <script>(function(){'use strict';

var _antd = require('antd');

var Step = _antd.Steps.Step;

var steps = [{
  status: 'finish',
  title: '已完成',
  description: '这里是多信息的描述啊'
}, {
  status: 'process',
  title: '进行中',
  description: '这里是多信息的耶哦耶哦哦耶哦耶'
}, {
  status: 'wait',
  title: '又一个待运行',
  description: '描述啊描述啊'
}, {
  status: 'wait',
  title: '待运行',
  description: '这里是多信息的描述啊'
}].map(function (s, i) {
  return React.createElement(Step, { key: i, title: s.title, status: s.status, description: s.description });
});

ReactDOM.render(React.createElement(
  _antd.Steps,
  null,
  steps
), mountNode);})()</script><div class="highlight"><pre><code class="javascript"><span class="hljs-keyword">import</span> { Steps } <span class="hljs-keyword">from</span> <span class="hljs-string">'antd'</span>;
<span class="hljs-keyword">const</span> Step = Steps.Step;

<span class="hljs-keyword">const</span> steps = [{
  status: <span class="hljs-string">'finish'</span>,
  title: <span class="hljs-string">'已完成'</span>,
  description: <span class="hljs-string">'这里是多信息的描述啊'</span>
}, {
  status: <span class="hljs-string">'process'</span>,
  title: <span class="hljs-string">'进行中'</span>,
  description: <span class="hljs-string">'这里是多信息的耶哦耶哦哦耶哦耶'</span>
}, {
  status: <span class="hljs-string">'wait'</span>,
  title: <span class="hljs-string">'又一个待运行'</span>,
  description: <span class="hljs-string">'描述啊描述啊'</span>
}, {
  status: <span class="hljs-string">'wait'</span>,
  title: <span class="hljs-string">'待运行'</span>,
  description: <span class="hljs-string">'这里是多信息的描述啊'</span>
}].map(<span class="hljs-function"><span class="hljs-keyword">function</span>(<span class="hljs-params">s, i</span>) </span>{
  <span class="hljs-keyword">return</span> (
    <span class="xml"><span class="hljs-tag">&lt;<span class="hljs-title">Step</span> <span class="hljs-attribute">key</span>=<span class="hljs-value">{i}</span> <span class="hljs-attribute">title</span>=<span class="hljs-value">{s.title}</span> <span class="hljs-attribute">status</span>=<span class="hljs-value">{s.status}</span> <span class="hljs-attribute">description</span>=<span class="hljs-value">{s.description}</span> /&gt;</span>
  )</span>;
});

ReactDOM.render(<span class="xml"><span class="hljs-tag">&lt;<span class="hljs-title">Steps</span>&gt;</span>{steps}<span class="hljs-tag">&lt;/<span class="hljs-title">Steps</span>&gt;</span>, mountNode);</span></code></pre></div>
  </div>
  <div class="code-box-meta markdown">
    <div class="code-box-title">
      <a href="#demo-status">自定义状态</a>
    </div>
    <p>可以使用 <code>status</code> 定义每个步骤的状态。</p>
    <span class="collapse anticon anticon-circle-o-right" unselectable="none" style="-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;"></span>
  </div>
</div>