<div class="code-box" id="demo-disabled">
  <div class="code-box-demo">
    <div id="components-switch-demo-disabled"></div>
    <script>(function(){"use strict";

var Switch = antd.Switch;
var container = document.getElementById('components-switch-demo-disabled');

var Test = React.createClass({
  displayName: "Test",

  getInitialState: function getInitialState() {
    return {
      disabled: true
    };
  },
  toggle: function toggle() {
    this.setState({
      disabled: !this.state.disabled
    });
  },
  render: function render() {
    return React.createElement(
      "div",
      null,
      React.createElement(Switch, { disabled: this.state.disabled }),
      React.createElement("br", null),
      React.createElement("br", null),
      React.createElement(
        "button",
        { className: "ant-btn ant-btn-primary", onClick: this.toggle },
        "Toggle disabled"
      )
    );
  }
});

React.render(React.createElement(Test, null), container);})()</script><div class="highlight"><pre><code class="javascript"><span class="keyword">var</span> Switch = antd.Switch;
<span class="keyword">var</span> container = document.getElementById(<span class="string">'components-switch-demo-disabled'</span>);

<span class="keyword">var</span> Test = React.createClass({
  getInitialState() {
    <span class="keyword">return</span> {
      disabled: <span class="literal">true</span>
    }
  },
  toggle(){
    <span class="keyword">this</span>.setState({
      disabled: !<span class="keyword">this</span>.state.disabled
    });
  },
  render() {
    <span class="keyword">return</span> <span class="xml"><span class="tag">&lt;<span class="title">div</span>&gt;</span>
      <span class="tag">&lt;<span class="title">Switch</span> <span class="attribute">disabled</span>=<span class="value">{this.state.disabled}</span> /&gt;</span>
      <span class="tag">&lt;<span class="title">br</span> /&gt;</span>
      <span class="tag">&lt;<span class="title">br</span> /&gt;</span>
      <span class="tag">&lt;<span class="title">button</span> <span class="attribute">className</span>=<span class="value">"ant-btn ant-btn-primary"</span> <span class="attribute">onClick</span>=<span class="value">{this.toggle}</span>&gt;</span>Toggle disabled<span class="tag">&lt;/<span class="title">button</span>&gt;</span>
    <span class="tag">&lt;/<span class="title">div</span>&gt;</span>;</span>
  }
});

React.render(<span class="xml"><span class="tag">&lt;<span class="title">Test</span> /&gt;</span>, container);</span></code></pre></div>
  </div>
  <div class="code-box-meta markdown">
    <div class="code-box-title">
      <a href="#demo-disabled">不可用</a>
    </div>
    <p>Switch 失效状态。</p>
    <span class="collapse anticon anticon-circle-o-right" unselectable="none" style="-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;"></span>
  </div>
</div>