<div class="code-box" id="demo-circle">
  <div class="code-box-demo">
    <div id="components-progress-demo-circle"></div>
    <script>(function(){"use strict";

var ProgressCircle = antd.Progress.Circle;

React.render(React.createElement(
  "div",
  null,
  React.createElement(ProgressCircle, { percent: "30" }),
  React.createElement(ProgressCircle, { percent: "70", status: "exception" }),
  React.createElement(ProgressCircle, { percent: "100" })
), document.getElementById('components-progress-demo-circle'));})()</script><div class="highlight"><pre><code class="javascript"><span class="keyword">var</span> ProgressCircle = antd.Progress.Circle;

React.render(
  <span class="xml"><span class="tag">&lt;<span class="title">div</span>&gt;</span>
    <span class="tag">&lt;<span class="title">ProgressCircle</span> <span class="attribute">percent</span>=<span class="value">"30"</span> /&gt;</span>
    <span class="tag">&lt;<span class="title">ProgressCircle</span> <span class="attribute">percent</span>=<span class="value">"70"</span> <span class="attribute">status</span>=<span class="value">"exception"</span> /&gt;</span>
    <span class="tag">&lt;<span class="title">ProgressCircle</span> <span class="attribute">percent</span>=<span class="value">"100"</span> /&gt;</span>
  <span class="tag">&lt;/<span class="title">div</span>&gt;</span>
  , document.getElementById('components-progress-demo-circle'));</span></code></pre></div><style>
.ant-progress-circle-wrap,
.ant-progress-line-wrap {
  margin-right: 8px;
  margin-bottom: 5px;
}
</style>

  </div>
  <div class="code-box-meta markdown">
    <div class="code-box-title">
      <a href="#demo-circle">进度圈</a>
    </div>
    <p>圈形的进度。</p>
    <span class="collapse anticon anticon-circle-o-right" unselectable="none" style="-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;"></span>
  </div>
</div>