<div class="code-box" id="demo-circle-dynamic">
  <div class="code-box-demo">
    <div id="components-progress-demo-circle-dynamic"></div>
    <script>(function(){"use strict";

var ProgressCircle = antd.Progress.Circle;

var MyProgress = React.createClass({
  displayName: "MyProgress",

  getInitialState: function getInitialState() {
    return {
      percent: 0
    };
  },
  increase: function increase() {
    var percent = this.state.percent + 10;
    if (percent > 100) {
      percent = 100;
    }
    this.setState({ percent: percent });
  },
  decline: function decline() {
    var percent = this.state.percent - 10;
    if (percent < 0) {
      percent = 0;
    }
    this.setState({ percent: percent });
  },
  render: function render() {
    return React.createElement(
      "div",
      null,
      React.createElement(ProgressCircle, { percent: this.state.percent }),
      React.createElement(
        "div",
        { className: "ant-btn-group" },
        React.createElement(
          "button",
          { className: "ant-btn ant-btn-ghost", onClick: this.decline },
          React.createElement("i", { className: "anticon anticon-minus" })
        ),
        React.createElement(
          "button",
          { className: "ant-btn ant-btn-ghost", onClick: this.increase },
          React.createElement("i", { className: "anticon anticon-plus" })
        )
      )
    );
  }
});

React.render(React.createElement(MyProgress, null), document.getElementById('components-progress-demo-circle-dynamic'));})()</script><div class="highlight"><pre><code class="javascript"><span class="keyword">var</span> ProgressCircle = antd.Progress.Circle;

<span class="keyword">var</span> MyProgress = React.createClass({
  getInitialState() {
    <span class="keyword">return</span> {
      percent: <span class="number">0</span>
    };
  },
  increase() {
    <span class="keyword">let</span> percent = <span class="keyword">this</span>.state.percent + <span class="number">10</span>;
    <span class="keyword">if</span> (percent &gt; <span class="number">100</span>) {
      percent = <span class="number">100</span>;
    }
    <span class="keyword">this</span>.setState({ percent });
  },
  decline() {
    <span class="keyword">let</span> percent = <span class="keyword">this</span>.state.percent - <span class="number">10</span>;
    <span class="keyword">if</span> (percent &lt; <span class="number">0</span>) {
      percent = <span class="number">0</span>;
    }
    <span class="keyword">this</span>.setState({ percent });
  },
  render() {
    <span class="keyword">return</span> <span class="xml"><span class="tag">&lt;<span class="title">div</span>&gt;</span>
      <span class="tag">&lt;<span class="title">ProgressCircle</span> <span class="attribute">percent</span>=<span class="value">{this.state.percent}</span> /&gt;</span>
      <span class="tag">&lt;<span class="title">div</span> <span class="attribute">className</span>=<span class="value">"ant-btn-group"</span>&gt;</span>
        <span class="tag">&lt;<span class="title">button</span> <span class="attribute">className</span>=<span class="value">"ant-btn ant-btn-ghost"</span> <span class="attribute">onClick</span>=<span class="value">{this.decline}</span>&gt;</span>
          <span class="tag">&lt;<span class="title">i</span> <span class="attribute">className</span>=<span class="value">"anticon anticon-minus"</span>&gt;</span><span class="tag">&lt;/<span class="title">i</span>&gt;</span>
        <span class="tag">&lt;/<span class="title">button</span>&gt;</span>
        <span class="tag">&lt;<span class="title">button</span> <span class="attribute">className</span>=<span class="value">"ant-btn ant-btn-ghost"</span> <span class="attribute">onClick</span>=<span class="value">{this.increase}</span>&gt;</span>
          <span class="tag">&lt;<span class="title">i</span> <span class="attribute">className</span>=<span class="value">"anticon anticon-plus"</span>&gt;</span><span class="tag">&lt;/<span class="title">i</span>&gt;</span>
        <span class="tag">&lt;/<span class="title">button</span>&gt;</span>
      <span class="tag">&lt;/<span class="title">div</span>&gt;</span>
    <span class="tag">&lt;/<span class="title">div</span>&gt;</span>;</span>
  }
});

React.render(<span class="xml"><span class="tag">&lt;<span class="title">MyProgress</span> /&gt;</span>, document.getElementById('components-progress-demo-circle-dynamic'));</span></code></pre></div>
  </div>
  <div class="code-box-meta markdown">
    <div class="code-box-title">
      <a href="#demo-circle-dynamic">进度圈动态展示</a>
    </div>
    <p>会动的进度条才是好进度条。</p>
    <span class="collapse anticon anticon-circle-o-right" unselectable="none" style="-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;"></span>
  </div>
</div>