<div class="code-box" id="demo-line-mini">
  <div class="code-box-demo">
    <div id="components-progress-demo-line-mini"></div>
    <script>(function(){"use strict";

var Progress = antd.Progress.Line;

React.render(React.createElement(
  "div",
  { style: { width: 170 } },
  React.createElement(Progress, { percent: "30", strokeWidth: "5" }),
  React.createElement(Progress, { percent: "50", strokeWidth: "5", status: "active" }),
  React.createElement(Progress, { percent: "70", strokeWidth: "5", status: "exception" }),
  React.createElement(Progress, { percent: "100", strokeWidth: "5" })
), document.getElementById('components-progress-demo-line-mini'));})()</script><div class="highlight"><pre><code class="javascript"><span class="keyword">var</span> Progress = antd.Progress.Line;

React.render(
  <span class="xml"><span class="tag">&lt;<span class="title">div</span> <span class="attribute">style</span>=<span class="value">{{</span> <span class="attribute">width:</span> <span class="attribute">170</span> }}&gt;</span>
    <span class="tag">&lt;<span class="title">Progress</span> <span class="attribute">percent</span>=<span class="value">"30"</span> <span class="attribute">strokeWidth</span>=<span class="value">"5"</span> /&gt;</span>
    <span class="tag">&lt;<span class="title">Progress</span> <span class="attribute">percent</span>=<span class="value">"50"</span> <span class="attribute">strokeWidth</span>=<span class="value">"5"</span> <span class="attribute">status</span>=<span class="value">"active"</span> /&gt;</span>
    <span class="tag">&lt;<span class="title">Progress</span> <span class="attribute">percent</span>=<span class="value">"70"</span> <span class="attribute">strokeWidth</span>=<span class="value">"5"</span> <span class="attribute">status</span>=<span class="value">"exception"</span> /&gt;</span>
    <span class="tag">&lt;<span class="title">Progress</span> <span class="attribute">percent</span>=<span class="value">"100"</span> <span class="attribute">strokeWidth</span>=<span class="value">"5"</span> /&gt;</span>
  <span class="tag">&lt;/<span class="title">div</span>&gt;</span>
  , document.getElementById('components-progress-demo-line-mini'));</span></code></pre></div>
  </div>
  <div class="code-box-meta markdown">
    <div class="code-box-title">
      <a href="#demo-line-mini">小型进度条</a>
    </div>
    <p>适合放在较狭窄的区域内。</p>
    <span class="collapse anticon anticon-circle-o-right" unselectable="none" style="-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;"></span>
  </div>
</div>