<div class="code-box" id="demo-horizontal">
  <div class="code-box-demo">
    <div id="components-menu-demo-horizontal"></div>
    <script>mountNode = document.getElementById('components-menu-demo-horizontal');</script>
    <script>(function(){'use strict';

var _antd = require('antd');

var SubMenu = _antd.Menu.SubMenu;
var MenuItemGroup = _antd.Menu.ItemGroup;

var App = React.createClass({
  displayName: 'App',
  getInitialState: function getInitialState() {
    return {
      current: 'mail'
    };
  },
  handleClick: function handleClick(e) {
    console.log('click ', e);
    this.setState({
      current: e.key
    });
  },
  render: function render() {
    return React.createElement(
      _antd.Menu,
      { onClick: this.handleClick,
        selectedKeys: [this.state.current],
        mode: 'horizontal' },
      React.createElement(
        _antd.Menu.Item,
        { key: 'mail' },
        React.createElement(_antd.Icon, { type: 'mail' }),
        '\u5BFC\u822A\u4E00'
      ),
      React.createElement(
        _antd.Menu.Item,
        { key: 'app', disabled: true },
        React.createElement(_antd.Icon, { type: 'appstore' }),
        '\u5BFC\u822A\u4E8C'
      ),
      React.createElement(
        SubMenu,
        { title: React.createElement(
            'span',
            null,
            React.createElement(_antd.Icon, { type: 'setting' }),
            '\u5BFC\u822A - \u5B50\u83DC\u5355'
          ) },
        React.createElement(
          MenuItemGroup,
          { title: '\u5206\u7EC41' },
          React.createElement(
            _antd.Menu.Item,
            { key: 'setting:1' },
            '\u9009\u98791'
          ),
          React.createElement(
            _antd.Menu.Item,
            { key: 'setting:2' },
            '\u9009\u98792'
          )
        ),
        React.createElement(
          MenuItemGroup,
          { title: '\u5206\u7EC42' },
          React.createElement(
            _antd.Menu.Item,
            { key: 'setting:3' },
            '\u9009\u98793'
          ),
          React.createElement(
            _antd.Menu.Item,
            { key: 'setting:4' },
            '\u9009\u98794'
          )
        )
      ),
      React.createElement(
        _antd.Menu.Item,
        { key: 'alipay' },
        React.createElement(
          'a',
          { href: 'http://www.alipay.com/', target: '_blank' },
          '\u5BFC\u822A\u56DB - \u94FE\u63A5'
        )
      )
    );
  }
});

ReactDOM.render(React.createElement(App, null), mountNode);})()</script><div class="highlight"><pre><code class="javascript"><span class="hljs-keyword">import</span> { Menu, Icon } <span class="hljs-keyword">from</span> <span class="hljs-string">'antd'</span>;
<span class="hljs-keyword">const</span> SubMenu = Menu.SubMenu;
<span class="hljs-keyword">const</span> MenuItemGroup = Menu.ItemGroup;

<span class="hljs-keyword">const</span> App = React.createClass({
  getInitialState() {
    <span class="hljs-keyword">return</span> {
      current: <span class="hljs-string">'mail'</span>
    };
  },
  handleClick(e) {
    <span class="hljs-built_in">console</span>.log(<span class="hljs-string">'click '</span>, e);
    <span class="hljs-keyword">this</span>.setState({
      current: e.key
    });
  },
  render() {
    <span class="hljs-keyword">return</span> (
      <span class="xml"><span class="hljs-tag">&lt;<span class="hljs-title">Menu</span> <span class="hljs-attribute">onClick</span>=<span class="hljs-value">{this.handleClick}</span>
        <span class="hljs-attribute">selectedKeys</span>=<span class="hljs-value">{[this.state.current]}</span>
        <span class="hljs-attribute">mode</span>=<span class="hljs-value">"horizontal"</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">Menu.Item</span> <span class="hljs-attribute">key</span>=<span class="hljs-value">"mail"</span>&gt;</span>
          <span class="hljs-tag">&lt;<span class="hljs-title">Icon</span> <span class="hljs-attribute">type</span>=<span class="hljs-value">"mail"</span> /&gt;</span>导航一
        <span class="hljs-tag">&lt;/<span class="hljs-title">Menu.Item</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">Menu.Item</span> <span class="hljs-attribute">key</span>=<span class="hljs-value">"app"</span> <span class="hljs-attribute">disabled</span>&gt;</span>
          <span class="hljs-tag">&lt;<span class="hljs-title">Icon</span> <span class="hljs-attribute">type</span>=<span class="hljs-value">"appstore"</span> /&gt;</span>导航二
        <span class="hljs-tag">&lt;/<span class="hljs-title">Menu.Item</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">SubMenu</span> <span class="hljs-attribute">title</span>=<span class="hljs-value">{&lt;span</span>&gt;</span><span class="hljs-tag">&lt;<span class="hljs-title">Icon</span> <span class="hljs-attribute">type</span>=<span class="hljs-value">"setting"</span> /&gt;</span>导航 - 子菜单<span class="hljs-tag">&lt;/<span class="hljs-title">span</span>&gt;</span>}&gt;
          <span class="hljs-tag">&lt;<span class="hljs-title">MenuItemGroup</span> <span class="hljs-attribute">title</span>=<span class="hljs-value">"分组1"</span>&gt;</span>
            <span class="hljs-tag">&lt;<span class="hljs-title">Menu.Item</span> <span class="hljs-attribute">key</span>=<span class="hljs-value">"setting:1"</span>&gt;</span>选项1<span class="hljs-tag">&lt;/<span class="hljs-title">Menu.Item</span>&gt;</span>
            <span class="hljs-tag">&lt;<span class="hljs-title">Menu.Item</span> <span class="hljs-attribute">key</span>=<span class="hljs-value">"setting:2"</span>&gt;</span>选项2<span class="hljs-tag">&lt;/<span class="hljs-title">Menu.Item</span>&gt;</span>
          <span class="hljs-tag">&lt;/<span class="hljs-title">MenuItemGroup</span>&gt;</span>
          <span class="hljs-tag">&lt;<span class="hljs-title">MenuItemGroup</span> <span class="hljs-attribute">title</span>=<span class="hljs-value">"分组2"</span>&gt;</span>
            <span class="hljs-tag">&lt;<span class="hljs-title">Menu.Item</span> <span class="hljs-attribute">key</span>=<span class="hljs-value">"setting:3"</span>&gt;</span>选项3<span class="hljs-tag">&lt;/<span class="hljs-title">Menu.Item</span>&gt;</span>
            <span class="hljs-tag">&lt;<span class="hljs-title">Menu.Item</span> <span class="hljs-attribute">key</span>=<span class="hljs-value">"setting:4"</span>&gt;</span>选项4<span class="hljs-tag">&lt;/<span class="hljs-title">Menu.Item</span>&gt;</span>
          <span class="hljs-tag">&lt;/<span class="hljs-title">MenuItemGroup</span>&gt;</span>
        <span class="hljs-tag">&lt;/<span class="hljs-title">SubMenu</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">Menu.Item</span> <span class="hljs-attribute">key</span>=<span class="hljs-value">"alipay"</span>&gt;</span>
          <span class="hljs-tag">&lt;<span class="hljs-title">a</span> <span class="hljs-attribute">href</span>=<span class="hljs-value">"http://www.alipay.com/"</span> <span class="hljs-attribute">target</span>=<span class="hljs-value">"_blank"</span>&gt;</span>导航四 - 链接<span class="hljs-tag">&lt;/<span class="hljs-title">a</span>&gt;</span>
        <span class="hljs-tag">&lt;/<span class="hljs-title">Menu.Item</span>&gt;</span>
      <span class="hljs-tag">&lt;/<span class="hljs-title">Menu</span>&gt;</span>
    )</span>;
  }
});

ReactDOM.render(<span class="xml"><span class="hljs-tag">&lt;<span class="hljs-title">App</span> /&gt;</span>, mountNode);</span></code></pre></div>
  </div>
  <div class="code-box-meta markdown">
    <div class="code-box-title">
      <a href="#demo-horizontal">顶部导航</a>
    </div>
    
<p>水平的顶部导航菜单。</p>

    <span class="collapse anticon anticon-circle-o-right" unselectable="none"></span>
  </div>
</div>