<div class="code-box" id="demo-drag-simple">
  <div class="code-box-demo">
    <div id="components-upload-demo-drag-simple"></div>
    <script>(function(){'use strict';

var Dragger = antd.Upload.Dragger;

var props = {
  name: 'file',
  action: '/upload.do'
};

React.render(React.createElement(
  Dragger,
  props,
  React.createElement('i', { className: 'anticon anticon-plus' })
), document.getElementById('components-upload-demo-drag-simple'));})()</script><div class="highlight"><pre><code class="javascript"><span class="keyword">var</span> Dragger = antd.Upload.Dragger;

<span class="keyword">var</span> props = {
  name: <span class="string">'file'</span>,
  action: <span class="string">'/upload.do'</span>
};

React.render(
  <span class="xml"><span class="tag">&lt;<span class="title">Dragger</span> {<span class="attribute">...props</span>}&gt;</span>
    <span class="tag">&lt;<span class="title">i</span> <span class="attribute">className</span>=<span class="value">"anticon anticon-plus"</span>&gt;</span><span class="tag">&lt;/<span class="title">i</span>&gt;</span>
  <span class="tag">&lt;/<span class="title">Dragger</span>&gt;</span>,
  document.getElementById('components-upload-demo-drag-simple')
);</span></code></pre></div><style>
#components-upload-demo-drag-simple {
  width: 246px;
  height: 146px;
}
</style>

  </div>
  <div class="code-box-meta markdown">
    <div class="code-box-title">
      <a href="#demo-drag-simple">拖拽上传</a>
    </div>
    <p>样式简单一些。</p>
    <span class="collapse anticon anticon-circle-o-right" unselectable="none" style="-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;"></span>
  </div>
</div>