<div class="code-box" id="demo-no-wrapper">
  <div class="code-box-demo">
    <div id="components-badge-demo-no-wrapper"></div>
    <script>mountNode = document.getElementById('components-badge-demo-no-wrapper');</script>
    <script>(function(){'use strict';

var _antd = require('antd');

ReactDOM.render(React.createElement(
  'div',
  null,
  React.createElement(_antd.Badge, { count: 25 }),
  React.createElement(_antd.Badge, { count: 4, style: { backgroundColor: '#fff', color: '#999', borderColor: '#d9d9d9' } }),
  React.createElement(_antd.Badge, { count: 109, style: { backgroundColor: '#87d068' } })
), mountNode);})()</script><div class="highlight"><pre><code class="javascript"><span class="hljs-keyword">import</span> { Badge } <span class="hljs-keyword">from</span> <span class="hljs-string">'antd'</span>;

ReactDOM.render(<span class="xml"><span class="hljs-tag">&lt;<span class="hljs-title">div</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-title">Badge</span> <span class="hljs-attribute">count</span>=<span class="hljs-value">{25}</span> /&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-title">Badge</span> <span class="hljs-attribute">count</span>=<span class="hljs-value">{4}</span> <span class="hljs-attribute">style</span>=<span class="hljs-value">{{</span> <span class="hljs-attribute">backgroundColor:</span> '#<span class="hljs-attribute">fff</span>', <span class="hljs-attribute">color:</span> '#<span class="hljs-attribute">999</span>', <span class="hljs-attribute">borderColor:</span> '#<span class="hljs-attribute">d9d9d9</span>' }} /&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-title">Badge</span> <span class="hljs-attribute">count</span>=<span class="hljs-value">{109}</span> <span class="hljs-attribute">style</span>=<span class="hljs-value">{{</span> <span class="hljs-attribute">backgroundColor:</span> '#<span class="hljs-attribute">87d068</span>' }} /&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>, mountNode);</span></code></pre></div>
  </div>
  <div class="code-box-meta markdown">
    <div class="code-box-title">
      <a href="#demo-no-wrapper">独立使用</a>
    </div>
    
<p>不包裹任何元素即是独立使用，可自定样式展现。</p>
<blockquote>
<p>在右上角的 badge 则限定为红色。</p>
</blockquote>

    <span class="collapse anticon anticon-circle-o-right" unselectable="none"></span>
  </div>
</div>