<div class="code-box" id="demo-basic">
  <div class="code-box-demo">
    <div id="components-table-demo-basic"></div>
    <script>mountNode = document.getElementById('components-table-demo-basic');</script>
    <script>(function(){'use strict';

var _antd = require('antd');

var columns = [{
  title: '姓名',
  dataIndex: 'name',
  key: 'name',
  render: function render(text) {
    return React.createElement(
      'a',
      { href: '#' },
      text
    );
  }
}, {
  title: '年龄',
  dataIndex: 'age',
  key: 'age'
}, {
  title: '住址',
  dataIndex: 'address',
  key: 'address'
}, {
  title: '操作',
  key: 'operation',
  render: function render(text, record) {
    return React.createElement(
      'span',
      null,
      React.createElement(
        'a',
        { href: '#' },
        '\u64CD\u4F5C\u4E00',
        record.name
      ),
      React.createElement('span', { className: 'ant-divider' }),
      React.createElement(
        'a',
        { href: '#' },
        '\u64CD\u4F5C\u4E8C'
      ),
      React.createElement('span', { className: 'ant-divider' }),
      React.createElement(
        'a',
        { href: '#', className: 'ant-dropdown-link' },
        '\u66F4\u591A ',
        React.createElement(_antd.Icon, { type: 'down' })
      )
    );
  }
}];
var data = [{
  key: '1',
  name: '胡彦斌',
  age: 32,
  address: '西湖区湖底公园1号'
}, {
  key: '2',
  name: '胡彦祖',
  age: 42,
  address: '西湖区湖底公园1号'
}, {
  key: '3',
  name: '李大嘴',
  age: 32,
  address: '西湖区湖底公园1号'
}];

ReactDOM.render(React.createElement(_antd.Table, { columns: columns, dataSource: data }), mountNode);})()</script><div class="highlight"><pre><code class="javascript"><span class="hljs-keyword">import</span> { Table, Icon } <span class="hljs-keyword">from</span> <span class="hljs-string">'antd'</span>;

<span class="hljs-keyword">const</span> columns = [{
  title: <span class="hljs-string">'姓名'</span>,
  dataIndex: <span class="hljs-string">'name'</span>,
  key: <span class="hljs-string">'name'</span>,
  render(text) {
    <span class="hljs-keyword">return</span> <span class="xml"><span class="hljs-tag">&lt;<span class="hljs-title">a</span> <span class="hljs-attribute">href</span>=<span class="hljs-value">"#"</span>&gt;</span>{text}<span class="hljs-tag">&lt;/<span class="hljs-title">a</span>&gt;</span>;</span>
  }
}, {
  title: <span class="hljs-string">'年龄'</span>,
  dataIndex: <span class="hljs-string">'age'</span>,
  key: <span class="hljs-string">'age'</span>,
}, {
  title: <span class="hljs-string">'住址'</span>,
  dataIndex: <span class="hljs-string">'address'</span>,
  key: <span class="hljs-string">'address'</span>,
}, {
  title: <span class="hljs-string">'操作'</span>,
  key: <span class="hljs-string">'operation'</span>,
  render(text, record) {
    <span class="hljs-keyword">return</span> (
      <span class="xml"><span class="hljs-tag">&lt;<span class="hljs-title">span</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">a</span> <span class="hljs-attribute">href</span>=<span class="hljs-value">"#"</span>&gt;</span>操作一{record.name}<span class="hljs-tag">&lt;/<span class="hljs-title">a</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">span</span> <span class="hljs-attribute">className</span>=<span class="hljs-value">"ant-divider"</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-title">span</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">a</span> <span class="hljs-attribute">href</span>=<span class="hljs-value">"#"</span>&gt;</span>操作二<span class="hljs-tag">&lt;/<span class="hljs-title">a</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">span</span> <span class="hljs-attribute">className</span>=<span class="hljs-value">"ant-divider"</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-title">span</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">a</span> <span class="hljs-attribute">href</span>=<span class="hljs-value">"#"</span> <span class="hljs-attribute">className</span>=<span class="hljs-value">"ant-dropdown-link"</span>&gt;</span>
          更多 <span class="hljs-tag">&lt;<span class="hljs-title">Icon</span> <span class="hljs-attribute">type</span>=<span class="hljs-value">"down"</span> /&gt;</span>
        <span class="hljs-tag">&lt;/<span class="hljs-title">a</span>&gt;</span>
      <span class="hljs-tag">&lt;/<span class="hljs-title">span</span>&gt;</span>
    )</span>;
  }
}];
<span class="hljs-keyword">const</span> data = [{
  key: <span class="hljs-string">'1'</span>,
  name: <span class="hljs-string">'胡彦斌'</span>,
  age: <span class="hljs-number">32</span>,
  address: <span class="hljs-string">'西湖区湖底公园1号'</span>
}, {
  key: <span class="hljs-string">'2'</span>,
  name: <span class="hljs-string">'胡彦祖'</span>,
  age: <span class="hljs-number">42</span>,
  address: <span class="hljs-string">'西湖区湖底公园1号'</span>
}, {
  key: <span class="hljs-string">'3'</span>,
  name: <span class="hljs-string">'李大嘴'</span>,
  age: <span class="hljs-number">32</span>,
  address: <span class="hljs-string">'西湖区湖底公园1号'</span>
}];

ReactDOM.render(<span class="xml"><span class="hljs-tag">&lt;<span class="hljs-title">Table</span> <span class="hljs-attribute">columns</span>=<span class="hljs-value">{columns}</span> <span class="hljs-attribute">dataSource</span>=<span class="hljs-value">{data}</span> /&gt;</span>
, mountNode);</span></code></pre></div>
  </div>
  <div class="code-box-meta markdown">
    <div class="code-box-title">
      <a href="#demo-basic">基本用法</a>
    </div>
    
<p>简单的表格，最后一列是各种操作。</p>

    <span class="collapse anticon anticon-circle-o-right" unselectable="none"></span>
  </div>
</div>