<div class="code-box" id="demo-expand-children">
  <div class="code-box-demo">
    <div id="components-table-demo-expand-children"></div>
    <script>mountNode = document.getElementById('components-table-demo-expand-children');</script>
    <script>(function(){'use strict';

var _antd = require('antd');

var columns = [{
  title: '姓名',
  dataIndex: 'name',
  key: 'name',
  width: '40%'
}, {
  title: '年龄',
  dataIndex: 'age',
  key: 'age',
  width: '30%'
}, {
  title: '住址',
  dataIndex: 'address',
  key: 'address',
  width: '30%'
}];

var data = [{
  key: 1,
  name: 'a',
  age: 32,
  address: '我是a',
  children: [{
    key: 11,
    name: 'aa',
    age: 33,
    address: '我是aa'
  }, {
    key: 12,
    name: 'ab',
    age: 33,
    address: '我是ab',
    children: [{
      key: 121,
      name: 'aba',
      age: 33,
      address: '我是aba'
    }]
  }, {
    key: 13,
    name: 'ac',
    age: 33,
    address: '我是ac',
    children: [{
      key: 131,
      name: 'aca',
      age: 33,
      address: '我是aca',
      children: [{
        key: 1311,
        name: 'acaa',
        age: 33,
        address: '我是acaa'
      }, {
        key: 1312,
        name: 'acab',
        age: 33,
        address: '我是acab'
      }]
    }]
  }]
}, {
  key: 2,
  name: 'b',
  age: 32,
  address: '我是b'
}];

// 通过 rowSelection 对象表明需要行选择
var rowSelection = {
  onChange: function onChange(selectedRowKeys, selectedRows) {
    console.log('selectedRowKeys: ' + selectedRowKeys, 'selectedRows: ', selectedRows);
  },
  onSelect: function onSelect(record, selected, selectedRows) {
    console.log(record, selected, selectedRows);
  },
  onSelectAll: function onSelectAll(selected, selectedRows, changeRows) {
    console.log(selected, selectedRows, changeRows);
  }
};

ReactDOM.render(React.createElement(_antd.Table, { columns: columns, rowSelection: rowSelection, dataSource: data }), mountNode);})()</script><div class="highlight"><pre><code class="javascript"><span class="hljs-keyword">import</span> { Table } <span class="hljs-keyword">from</span> <span class="hljs-string">'antd'</span>;

<span class="hljs-keyword">const</span> columns = [{
  title: <span class="hljs-string">'姓名'</span>,
  dataIndex: <span class="hljs-string">'name'</span>,
  key: <span class="hljs-string">'name'</span>,
  width: <span class="hljs-string">'40%'</span>,
}, {
  title: <span class="hljs-string">'年龄'</span>,
  dataIndex: <span class="hljs-string">'age'</span>,
  key: <span class="hljs-string">'age'</span>,
  width: <span class="hljs-string">'30%'</span>,
}, {
  title: <span class="hljs-string">'住址'</span>,
  dataIndex: <span class="hljs-string">'address'</span>,
  key: <span class="hljs-string">'address'</span>,
  width: <span class="hljs-string">'30%'</span>,
}];

<span class="hljs-keyword">const</span> data = [{
  key: <span class="hljs-number">1</span>,
  name: <span class="hljs-string">'a'</span>,
  age: <span class="hljs-number">32</span>,
  address: <span class="hljs-string">'我是a'</span>,
  children: [{
    key: <span class="hljs-number">11</span>,
    name: <span class="hljs-string">'aa'</span>,
    age: <span class="hljs-number">33</span>,
    address: <span class="hljs-string">'我是aa'</span>,
  }, {
    key: <span class="hljs-number">12</span>,
    name: <span class="hljs-string">'ab'</span>,
    age: <span class="hljs-number">33</span>,
    address: <span class="hljs-string">'我是ab'</span>,
    children: [{
      key: <span class="hljs-number">121</span>,
      name: <span class="hljs-string">'aba'</span>,
      age: <span class="hljs-number">33</span>,
      address: <span class="hljs-string">'我是aba'</span>,
    }],
  }, {
    key: <span class="hljs-number">13</span>,
    name: <span class="hljs-string">'ac'</span>,
    age: <span class="hljs-number">33</span>,
    address: <span class="hljs-string">'我是ac'</span>,
    children: [{
      key: <span class="hljs-number">131</span>,
      name: <span class="hljs-string">'aca'</span>,
      age: <span class="hljs-number">33</span>,
      address: <span class="hljs-string">'我是aca'</span>,
      children: [{
        key: <span class="hljs-number">1311</span>,
        name: <span class="hljs-string">'acaa'</span>,
        age: <span class="hljs-number">33</span>,
        address: <span class="hljs-string">'我是acaa'</span>,
      }, {
        key: <span class="hljs-number">1312</span>,
        name: <span class="hljs-string">'acab'</span>,
        age: <span class="hljs-number">33</span>,
        address: <span class="hljs-string">'我是acab'</span>,
      }],
    }],
  }],
}, {
  key: <span class="hljs-number">2</span>,
  name: <span class="hljs-string">'b'</span>,
  age: <span class="hljs-number">32</span>,
  address: <span class="hljs-string">'我是b'</span>,
}];

<span class="hljs-comment">// 通过 rowSelection 对象表明需要行选择</span>
<span class="hljs-keyword">const</span> rowSelection = {
  onChange(selectedRowKeys, selectedRows) {
    <span class="hljs-built_in">console</span>.log(<span class="hljs-string">`selectedRowKeys: <span class="hljs-subst">${selectedRowKeys}</span>`</span>, <span class="hljs-string">'selectedRows: '</span>, selectedRows);
  },
  onSelect(record, selected, selectedRows) {
    <span class="hljs-built_in">console</span>.log(record, selected, selectedRows);
  },
  onSelectAll(selected, selectedRows, changeRows) {
    <span class="hljs-built_in">console</span>.log(selected, selectedRows, changeRows);
  }
};

ReactDOM.render(
  <span class="xml"><span class="hljs-tag">&lt;<span class="hljs-title">Table</span> <span class="hljs-attribute">columns</span>=<span class="hljs-value">{columns}</span> <span class="hljs-attribute">rowSelection</span>=<span class="hljs-value">{rowSelection}</span> <span class="hljs-attribute">dataSource</span>=<span class="hljs-value">{data}</span> /&gt;</span>,
  mountNode
);</span></code></pre></div>
  </div>
  <div class="code-box-meta markdown">
    <div class="code-box-title">
      <a href="#demo-expand-children">树形数据展示</a>
    </div>
    
<p>表格支持树形数据的展示，可以通过设置 <code>indentSize</code> 以控制每一层的缩进宽度。</p>
<blockquote>
<p>注：暂不支持父子数据递归关联选择。</p>
</blockquote>

    <span class="collapse anticon anticon-circle-o-right" unselectable="none"></span>
  </div>
</div>