<div class="code-box" id="demo-local-data">
  <div class="code-box-demo">
    <div id="components-table-demo-local-data"></div>
    <script>mountNode = document.getElementById('components-table-demo-local-data');</script>
    <script>(function(){'use strict';

var _antd = require('antd');

var columns = [{
  title: '姓名',
  dataIndex: 'name',
  render: function render(text) {
    return React.createElement(
      'a',
      { href: '#' },
      text
    );
  }
}, {
  title: '年龄',
  dataIndex: 'age'
}, {
  title: '住址',
  dataIndex: 'address'
}];
var data1 = [{
  key: '1',
  name: '胡彦斌',
  age: 32,
  address: '西湖区湖底公园1号'
}, {
  key: '2',
  name: '胡彦祖',
  age: 42,
  address: '西湖区湖底公园1号'
}, {
  key: '3',
  name: '李大嘴',
  age: 32,
  address: '西湖区湖底公园1号'
}];
var data2 = [{
  key: '11',
  name: '胡彦斌2',
  age: 32,
  address: '西湖区湖底公园2号'
}, {
  key: '2',
  name: '胡彦祖2',
  age: 42,
  address: '西湖区湖底公园2号'
}, {
  key: '33',
  name: '李大嘴2',
  age: 32,
  address: '西湖区湖底公园2号'
}];

var App = React.createClass({
  displayName: 'App',
  getInitialState: function getInitialState() {
    return {
      data: []
    };
  },
  handleClick1: function handleClick1() {
    this.setState({
      data: data1
    });
  },
  handleClick2: function handleClick2() {
    this.setState({
      data: data2
    });
  },
  render: function render() {
    // 通过 rowSelection 对象表明需要行选择
    var rowSelection = {
      onSelect: function onSelect(record, selected, selectedRows) {
        console.log(record, selected, selectedRows);
      },
      onSelectAll: function onSelectAll(selected, selectedRows) {
        console.log(selected, selectedRows);
      }
    };
    return React.createElement(
      'div',
      null,
      React.createElement(_antd.Table, { columns: columns, dataSource: this.state.data, rowSelection: rowSelection }),
      React.createElement(
        _antd.Button,
        { onClick: this.handleClick1 },
        '加载本地数据1'
      ),
      ' ',
      React.createElement(
        _antd.Button,
        { onClick: this.handleClick2 },
        '加载本地数据2'
      )
    );
  }
});

ReactDOM.render(React.createElement(App, null), mountNode);})()</script><div class="highlight"><pre><code class="javascript"><span class="hljs-keyword">import</span> { Table, Button } <span class="hljs-keyword">from</span> <span class="hljs-string">'antd'</span>;

<span class="hljs-keyword">const</span> columns = [{
  title: <span class="hljs-string">'姓名'</span>,
  dataIndex: <span class="hljs-string">'name'</span>,
  render: <span class="hljs-function"><span class="hljs-keyword">function</span>(<span class="hljs-params">text</span>) </span>{
    <span class="hljs-keyword">return</span> <span class="xml"><span class="hljs-tag">&lt;<span class="hljs-title">a</span> <span class="hljs-attribute">href</span>=<span class="hljs-value">"#"</span>&gt;</span>{text}<span class="hljs-tag">&lt;/<span class="hljs-title">a</span>&gt;</span>;</span>
  }
}, {
  title: <span class="hljs-string">'年龄'</span>,
  dataIndex: <span class="hljs-string">'age'</span>
}, {
  title: <span class="hljs-string">'住址'</span>,
  dataIndex: <span class="hljs-string">'address'</span>
}];
<span class="hljs-keyword">const</span> data1 = [{
  key: <span class="hljs-string">'1'</span>,
  name: <span class="hljs-string">'胡彦斌'</span>,
  age: <span class="hljs-number">32</span>,
  address: <span class="hljs-string">'西湖区湖底公园1号'</span>
}, {
  key: <span class="hljs-string">'2'</span>,
  name: <span class="hljs-string">'胡彦祖'</span>,
  age: <span class="hljs-number">42</span>,
  address: <span class="hljs-string">'西湖区湖底公园1号'</span>
}, {
  key: <span class="hljs-string">'3'</span>,
  name: <span class="hljs-string">'李大嘴'</span>,
  age: <span class="hljs-number">32</span>,
  address: <span class="hljs-string">'西湖区湖底公园1号'</span>
}];
<span class="hljs-keyword">const</span> data2 = [{
  key: <span class="hljs-string">'11'</span>,
  name: <span class="hljs-string">'胡彦斌2'</span>,
  age: <span class="hljs-number">32</span>,
  address: <span class="hljs-string">'西湖区湖底公园2号'</span>
}, {
  key: <span class="hljs-string">'2'</span>,
  name: <span class="hljs-string">'胡彦祖2'</span>,
  age: <span class="hljs-number">42</span>,
  address: <span class="hljs-string">'西湖区湖底公园2号'</span>
}, {
  key: <span class="hljs-string">'33'</span>,
  name: <span class="hljs-string">'李大嘴2'</span>,
  age: <span class="hljs-number">32</span>,
  address: <span class="hljs-string">'西湖区湖底公园2号'</span>
}];

<span class="hljs-keyword">const</span> App = React.createClass({
  getInitialState() {
    <span class="hljs-keyword">return</span> {
      data: []
    };
  },
  handleClick1() {
    <span class="hljs-keyword">this</span>.setState({
      data: data1
    });
  },
  handleClick2() {
    <span class="hljs-keyword">this</span>.setState({
      data: data2
    });
  },
  render() {
    <span class="hljs-comment">// 通过 rowSelection 对象表明需要行选择</span>
    <span class="hljs-keyword">const</span> rowSelection = {
      onSelect: <span class="hljs-function"><span class="hljs-keyword">function</span>(<span class="hljs-params">record, selected, selectedRows</span>) </span>{
        <span class="hljs-built_in">console</span>.log(record, selected, selectedRows);
      },
      onSelectAll: <span class="hljs-function"><span class="hljs-keyword">function</span>(<span class="hljs-params">selected, selectedRows</span>) </span>{
        <span class="hljs-built_in">console</span>.log(selected, selectedRows);
      }
    };
    <span class="hljs-keyword">return</span> <span class="xml"><span class="hljs-tag">&lt;<span class="hljs-title">div</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-title">Table</span> <span class="hljs-attribute">columns</span>=<span class="hljs-value">{columns}</span> <span class="hljs-attribute">dataSource</span>=<span class="hljs-value">{this.state.data}</span> <span class="hljs-attribute">rowSelection</span>=<span class="hljs-value">{rowSelection}</span> /&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-title">Button</span> <span class="hljs-attribute">onClick</span>=<span class="hljs-value">{this.handleClick1}</span>&gt;</span>加载本地数据1<span class="hljs-tag">&lt;/<span class="hljs-title">Button</span>&gt;</span>
      &amp;nbsp;
      <span class="hljs-tag">&lt;<span class="hljs-title">Button</span> <span class="hljs-attribute">onClick</span>=<span class="hljs-value">{this.handleClick2}</span>&gt;</span>加载本地数据2<span class="hljs-tag">&lt;/<span class="hljs-title">Button</span>&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>;</span>
  }
});

ReactDOM.render(<span class="xml"><span class="hljs-tag">&lt;<span class="hljs-title">App</span> /&gt;</span>
, mountNode);</span></code></pre></div>
  </div>
  <div class="code-box-meta markdown">
    <div class="code-box-title">
      <a href="#demo-local-data">外界控制数据</a>
    </div>
    <p>由父元素控制自身数据展示。</p>
    <span class="collapse anticon anticon-circle-o-right" unselectable="none" style="-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;"></span>
  </div>
</div>