<div class="code-box" id="demo-nopagination">
  <div class="code-box-demo">
    <div id="components-table-demo-nopagination"></div>
    <script>mountNode = document.getElementById('components-table-demo-nopagination');</script>
    <script>(function(){'use strict';

var _antd = require('antd');

var columns = [{
  title: '姓名',
  dataIndex: 'name'
}, {
  title: '年龄',
  dataIndex: 'age'
}, {
  title: '住址',
  dataIndex: 'address'
}];

var data = [{
  key: '1',
  name: '胡彦斌',
  age: 32,
  address: '西湖区湖底公园1号'
}, {
  key: '2',
  name: '胡彦祖',
  age: 42,
  address: '西湖区湖底公园1号'
}, {
  key: '3',
  name: '李大嘴',
  age: 32,
  address: '西湖区湖底公园1号'
}];

ReactDOM.render(React.createElement(_antd.Table, { columns: columns, dataSource: data, pagination: false }), mountNode);})()</script><div class="highlight"><pre><code class="javascript"><span class="hljs-keyword">import</span> { Table } <span class="hljs-keyword">from</span> <span class="hljs-string">'antd'</span>;

<span class="hljs-keyword">const</span> columns = [{
  title: <span class="hljs-string">'姓名'</span>,
  dataIndex: <span class="hljs-string">'name'</span>
}, {
  title: <span class="hljs-string">'年龄'</span>,
  dataIndex: <span class="hljs-string">'age'</span>
}, {
  title: <span class="hljs-string">'住址'</span>,
  dataIndex: <span class="hljs-string">'address'</span>
}];

<span class="hljs-keyword">const</span> data = [{
  key: <span class="hljs-string">'1'</span>,
  name: <span class="hljs-string">'胡彦斌'</span>,
  age: <span class="hljs-number">32</span>,
  address: <span class="hljs-string">'西湖区湖底公园1号'</span>
}, {
  key: <span class="hljs-string">'2'</span>,
  name: <span class="hljs-string">'胡彦祖'</span>,
  age: <span class="hljs-number">42</span>,
  address: <span class="hljs-string">'西湖区湖底公园1号'</span>
}, {
  key: <span class="hljs-string">'3'</span>,
  name: <span class="hljs-string">'李大嘴'</span>,
  age: <span class="hljs-number">32</span>,
  address: <span class="hljs-string">'西湖区湖底公园1号'</span>
}];

ReactDOM.render(<span class="xml"><span class="hljs-tag">&lt;<span class="hljs-title">Table</span> <span class="hljs-attribute">columns</span>=<span class="hljs-value">{columns}</span> <span class="hljs-attribute">dataSource</span>=<span class="hljs-value">{data}</span> <span class="hljs-attribute">pagination</span>=<span class="hljs-value">{false}</span> /&gt;</span>
, mountNode);</span></code></pre></div>
  </div>
  <div class="code-box-meta markdown">
    <div class="code-box-title">
      <a href="#demo-nopagination">不显示分页</a>
    </div>
    <p>传入 pagination 为 false 即可。此时表格将完整显示 dataSource 内的数据，不进行任何分页。</p>
    <span class="collapse anticon anticon-circle-o-right" unselectable="none" style="-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;"></span>
  </div>
</div>