<div class="code-box" id="demo-close-text">
  <div class="code-box-demo">
    <div id="components-alert-demo-close-text"></div>
    <script>mountNode = document.getElementById('components-alert-demo-close-text');</script>
    <script>(function(){"use strict";

var _antd = require("antd");

ReactDOM.render(React.createElement(_antd.Alert, { message: "\u6D88\u606F\u63D0\u793A\u7684\u6587\u6848", type: "info", closeText: "\u4E0D\u518D\u63D0\u9192" }), mountNode);})()</script><div class="highlight"><pre><code class="javascript"><span class="hljs-keyword">import</span> { Alert } <span class="hljs-keyword">from</span> <span class="hljs-string">'antd'</span>;

ReactDOM.render(
<span class="xml"><span class="hljs-tag">&lt;<span class="hljs-title">Alert</span> <span class="hljs-attribute">message</span>=<span class="hljs-value">"消息提示的文案"</span> <span class="hljs-attribute">type</span>=<span class="hljs-value">"info"</span> <span class="hljs-attribute">closeText</span>=<span class="hljs-value">"不再提醒"</span> /&gt;</span>
, mountNode);</span></code></pre></div>
  </div>
  <div class="code-box-meta markdown">
    <div class="code-box-title">
      <a href="#demo-close-text">自定义关闭</a>
    </div>
    
<p>可以自定义关闭，自定义的文字会替换原先的关闭 <code>Icon</code>。</p>

    <span class="collapse anticon anticon-circle-o-right" unselectable="none"></span>
  </div>
</div>