<div class="code-box" id="demo-form-controls">
  <div class="code-box-demo">
    <div id="components-form-demo-form-controls"></div>
    <script>(function(){'use strict';

var _antd = require('antd');

var FormItem = _antd.Form.Item;
var Option = _antd.Select.Option;
var RadioGroup = _antd.Radio.Group;

function handleSelectChange(value) {
  console.log('selected ' + value);
}

ReactDOM.render(React.createElement(
  _antd.Form,
  { horizontal: true },
  React.createElement(
    FormItem,
    {
      id: 'control-input',
      label: '输入框：',
      labelCol: { span: 6 },
      wrapperCol: { span: 14 } },
    React.createElement(_antd.Input, { id: 'control-input', placeholder: 'Please enter...' })
  ),
  React.createElement(
    FormItem,
    {
      id: 'control-textarea',
      label: '文本域：',
      labelCol: { span: 6 },
      wrapperCol: { span: 14 } },
    React.createElement(_antd.Input, { type: 'textarea', id: 'control-textarea' })
  ),
  React.createElement(
    FormItem,
    {
      id: 'select',
      label: 'Select 选择器：',
      labelCol: { span: 6 },
      wrapperCol: { span: 14 } },
    React.createElement(
      _antd.Select,
      { id: 'select', size: 'large', defaultValue: 'lucy', style: { width: 200 }, onChange: handleSelectChange },
      React.createElement(
        Option,
        { value: 'jack' },
        'jack'
      ),
      React.createElement(
        Option,
        { value: 'lucy' },
        'lucy'
      ),
      React.createElement(
        Option,
        { value: 'disabled', disabled: true },
        'disabled'
      ),
      React.createElement(
        Option,
        { value: 'yiminghe' },
        'yiminghe'
      )
    )
  ),
  React.createElement(
    FormItem,
    {
      label: 'Checkbox 多选框：',
      labelCol: { span: 6 },
      wrapperCol: { span: 18 } },
    React.createElement(
      'label',
      { className: 'ant-checkbox-vertical' },
      React.createElement(_antd.Checkbox, null),
      '选项一'
    ),
    React.createElement(
      'label',
      { className: 'ant-checkbox-vertical' },
      React.createElement(_antd.Checkbox, null),
      '选项二'
    ),
    React.createElement(
      'label',
      { className: 'ant-checkbox-vertical' },
      React.createElement(_antd.Checkbox, { disabled: true }),
      '选项三（不可选）'
    )
  ),
  React.createElement(
    FormItem,
    {
      label: 'Checkbox 多选框：',
      labelCol: { span: 6 },
      wrapperCol: { span: 18 } },
    React.createElement(
      'label',
      { className: 'ant-checkbox-inline' },
      React.createElement(_antd.Checkbox, null),
      '选项一'
    ),
    React.createElement(
      'label',
      { className: 'ant-checkbox-inline' },
      React.createElement(_antd.Checkbox, null),
      '选项二'
    ),
    React.createElement(
      'label',
      { className: 'ant-checkbox-inline' },
      React.createElement(_antd.Checkbox, null),
      '选项三'
    )
  ),
  React.createElement(
    FormItem,
    {
      label: 'Radio 单选框：',
      labelCol: { span: 6 },
      wrapperCol: { span: 18 } },
    React.createElement(
      RadioGroup,
      { value: 'b' },
      React.createElement(
        _antd.Radio,
        { value: 'a' },
        'A'
      ),
      React.createElement(
        _antd.Radio,
        { value: 'b' },
        'B'
      ),
      React.createElement(
        _antd.Radio,
        { value: 'c' },
        'C'
      ),
      React.createElement(
        _antd.Radio,
        { value: 'd' },
        'D'
      )
    )
  )
), document.getElementById('components-form-demo-form-controls'));})()</script><div class="highlight"><pre><code class="javascript"><span class="hljs-keyword">import</span> {Form, Input, Select, Checkbox, Radio} <span class="hljs-keyword">from</span> <span class="hljs-string">'antd'</span>;
<span class="hljs-keyword">const</span> FormItem = Form.Item;
<span class="hljs-keyword">const</span> Option = Select.Option;
<span class="hljs-keyword">const</span> RadioGroup = Radio.Group;

<span class="hljs-function"><span class="hljs-keyword">function</span> <span class="hljs-title">handleSelectChange</span>(<span class="hljs-params">value</span>) </span>{
  <span class="hljs-built_in">console</span>.log(<span class="hljs-string">'selected '</span> + value);
}

ReactDOM.render(
  <span class="xml"><span class="hljs-tag">&lt;<span class="hljs-title">Form</span> <span class="hljs-attribute">horizontal</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-title">FormItem</span>
      <span class="hljs-attribute">id</span>=<span class="hljs-value">"control-input"</span>
      <span class="hljs-attribute">label</span>=<span class="hljs-value">"输入框："</span>
      <span class="hljs-attribute">labelCol</span>=<span class="hljs-value">{{span:</span> <span class="hljs-attribute">6</span>}}
      <span class="hljs-attribute">wrapperCol</span>=<span class="hljs-value">{{span:</span> <span class="hljs-attribute">14</span>}}&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-title">Input</span> <span class="hljs-attribute">id</span>=<span class="hljs-value">"control-input"</span> <span class="hljs-attribute">placeholder</span>=<span class="hljs-value">"Please enter..."</span> /&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-title">FormItem</span>&gt;</span>

    <span class="hljs-tag">&lt;<span class="hljs-title">FormItem</span>
      <span class="hljs-attribute">id</span>=<span class="hljs-value">"control-textarea"</span>
      <span class="hljs-attribute">label</span>=<span class="hljs-value">"文本域："</span>
      <span class="hljs-attribute">labelCol</span>=<span class="hljs-value">{{span:</span> <span class="hljs-attribute">6</span>}}
      <span class="hljs-attribute">wrapperCol</span>=<span class="hljs-value">{{span:</span> <span class="hljs-attribute">14</span>}}&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-title">Input</span> <span class="hljs-attribute">type</span>=<span class="hljs-value">"textarea"</span> <span class="hljs-attribute">id</span>=<span class="hljs-value">"control-textarea"</span>/&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-title">FormItem</span>&gt;</span>

    <span class="hljs-tag">&lt;<span class="hljs-title">FormItem</span>
      <span class="hljs-attribute">id</span>=<span class="hljs-value">"select"</span>
      <span class="hljs-attribute">label</span>=<span class="hljs-value">"Select 选择器："</span>
      <span class="hljs-attribute">labelCol</span>=<span class="hljs-value">{{span:</span> <span class="hljs-attribute">6</span>}}
      <span class="hljs-attribute">wrapperCol</span>=<span class="hljs-value">{{span:</span> <span class="hljs-attribute">14</span>}}&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-title">Select</span> <span class="hljs-attribute">id</span>=<span class="hljs-value">"select"</span> <span class="hljs-attribute">size</span>=<span class="hljs-value">"large"</span> <span class="hljs-attribute">defaultValue</span>=<span class="hljs-value">"lucy"</span> <span class="hljs-attribute">style</span>=<span class="hljs-value">{{width:200}}</span> <span class="hljs-attribute">onChange</span>=<span class="hljs-value">{handleSelectChange}</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">Option</span> <span class="hljs-attribute">value</span>=<span class="hljs-value">"jack"</span>&gt;</span>jack<span class="hljs-tag">&lt;/<span class="hljs-title">Option</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">Option</span> <span class="hljs-attribute">value</span>=<span class="hljs-value">"lucy"</span>&gt;</span>lucy<span class="hljs-tag">&lt;/<span class="hljs-title">Option</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">Option</span> <span class="hljs-attribute">value</span>=<span class="hljs-value">"disabled"</span> <span class="hljs-attribute">disabled</span>&gt;</span>disabled<span class="hljs-tag">&lt;/<span class="hljs-title">Option</span>&gt;</span>
        <span class="hljs-tag">&lt; <span class="hljs-attribute">Option</span> <span class="hljs-attribute">value</span>=<span class="hljs-value">"yiminghe"</span>&gt;</span>yiminghe<span class="hljs-tag">&lt;/<span class="hljs-title">Option</span>&gt;</span>
      <span class="hljs-tag">&lt;/<span class="hljs-title">Select</span>&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-title">FormItem</span>&gt;</span>

    <span class="hljs-tag">&lt;<span class="hljs-title">FormItem</span>
      <span class="hljs-attribute">label</span>=<span class="hljs-value">"Checkbox 多选框："</span>
      <span class="hljs-attribute">labelCol</span>=<span class="hljs-value">{{span:</span> <span class="hljs-attribute">6</span>}}
      <span class="hljs-attribute">wrapperCol</span>=<span class="hljs-value">{{span:</span> <span class="hljs-attribute">18</span>}} &gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">label</span> <span class="hljs-attribute">className</span>=<span class="hljs-value">"ant-checkbox-vertical"</span>&gt;</span>
          <span class="hljs-tag">&lt;<span class="hljs-title">Checkbox</span> /&gt;</span>选项一
        <span class="hljs-tag">&lt;/<span class="hljs-title">label</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">label</span> <span class="hljs-attribute">className</span>=<span class="hljs-value">"ant-checkbox-vertical"</span>&gt;</span>
          <span class="hljs-tag">&lt;<span class="hljs-title">Checkbox</span> /&gt;</span>选项二
        <span class="hljs-tag">&lt;/<span class="hljs-title">label</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">label</span> <span class="hljs-attribute">className</span>=<span class="hljs-value">"ant-checkbox-vertical"</span>&gt;</span>
          <span class="hljs-tag">&lt;<span class="hljs-title">Checkbox</span> <span class="hljs-attribute">disabled</span> /&gt;</span>选项三（不可选）
        <span class="hljs-tag">&lt;/<span class="hljs-title">label</span>&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-title">FormItem</span>&gt;</span>

    <span class="hljs-tag">&lt;<span class="hljs-title">FormItem</span>
      <span class="hljs-attribute">label</span>=<span class="hljs-value">"Checkbox 多选框："</span>
      <span class="hljs-attribute">labelCol</span>=<span class="hljs-value">{{span:</span> <span class="hljs-attribute">6</span>}}
      <span class="hljs-attribute">wrapperCol</span>=<span class="hljs-value">{{span:</span> <span class="hljs-attribute">18</span>}} &gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">label</span> <span class="hljs-attribute">className</span>=<span class="hljs-value">"ant-checkbox-inline"</span>&gt;</span>
          <span class="hljs-tag">&lt;<span class="hljs-title">Checkbox</span> /&gt;</span>选项一
        <span class="hljs-tag">&lt;/<span class="hljs-title">label</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">label</span> <span class="hljs-attribute">className</span>=<span class="hljs-value">"ant-checkbox-inline"</span>&gt;</span>
          <span class="hljs-tag">&lt;<span class="hljs-title">Checkbox</span> /&gt;</span>选项二
        <span class="hljs-tag">&lt;/<span class="hljs-title">label</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">label</span> <span class="hljs-attribute">className</span>=<span class="hljs-value">"ant-checkbox-inline"</span>&gt;</span>
          <span class="hljs-tag">&lt;<span class="hljs-title">Checkbox</span> /&gt;</span>选项三
        <span class="hljs-tag">&lt;/<span class="hljs-title">label</span>&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-title">FormItem</span>&gt;</span>

    <span class="hljs-tag">&lt;<span class="hljs-title">FormItem</span>
      <span class="hljs-attribute">label</span>=<span class="hljs-value">"Radio 单选框："</span>
      <span class="hljs-attribute">labelCol</span>=<span class="hljs-value">{{span:</span> <span class="hljs-attribute">6</span>}}
      <span class="hljs-attribute">wrapperCol</span>=<span class="hljs-value">{{span:</span> <span class="hljs-attribute">18</span>}} &gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">RadioGroup</span> <span class="hljs-attribute">value</span>=<span class="hljs-value">"b"</span>&gt;</span>
          <span class="hljs-tag">&lt;<span class="hljs-title">Radio</span> <span class="hljs-attribute">value</span>=<span class="hljs-value">"a"</span>&gt;</span>A<span class="hljs-tag">&lt;/<span class="hljs-title">Radio</span>&gt;</span>
          <span class="hljs-tag">&lt;<span class="hljs-title">Radio</span> <span class="hljs-attribute">value</span>=<span class="hljs-value">"b"</span>&gt;</span>B<span class="hljs-tag">&lt;/<span class="hljs-title">Radio</span>&gt;</span>
          <span class="hljs-tag">&lt;<span class="hljs-title">Radio</span> <span class="hljs-attribute">value</span>=<span class="hljs-value">"c"</span>&gt;</span>C<span class="hljs-tag">&lt;/<span class="hljs-title">Radio</span>&gt;</span>
          <span class="hljs-tag">&lt;<span class="hljs-title">Radio</span> <span class="hljs-attribute">value</span>=<span class="hljs-value">"d"</span>&gt;</span>D<span class="hljs-tag">&lt;/<span class="hljs-title">Radio</span>&gt;</span>
        <span class="hljs-tag">&lt;/<span class="hljs-title">RadioGroup</span>&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-title">FormItem</span>&gt;</span>
  <span class="hljs-tag">&lt;/<span class="hljs-title">Form</span>&gt;</span>
, document.getElementById('components-form-demo-form-controls'));</span></code></pre></div>
  </div>
  <div class="code-box-meta markdown">
    <div class="code-box-title">
      <a href="#demo-form-controls">表单控件</a>
    </div>
    <p>展示所有支持的表单控件。</p>
<p><code>注</code>： 输入框：只有正确设置了 type 属性的输入控件才能被赋予正确的样式。</p>
    <span class="collapse anticon anticon-circle-o-right" unselectable="none" style="-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;"></span>
  </div>
</div>