<div class="code-box" id="demo-confirm-promise">
  <div class="code-box-demo">
    <div id="components-modal-demo-confirm-promise"></div>
    <script>mountNode = document.getElementById('components-modal-demo-confirm-promise');</script>
    <script>(function(){'use strict';

var _antd = require('antd');

var confirm = _antd.Modal.confirm;

function showConfirm() {
  confirm({
    title: '您是否确认要删除这项内容',
    content: '点确认 1 秒后关闭',
    onOk: function onOk() {
      return new Promise(function (resolve) {
        setTimeout(resolve, 1000);
      });
    },
    onCancel: function onCancel() {}
  });
}

ReactDOM.render(React.createElement(
  _antd.Button,
  { onClick: showConfirm },
  '确认对话框'
), mountNode);})()</script><div class="highlight"><pre><code class="javascript"><span class="hljs-keyword">import</span> { Modal, Button } <span class="hljs-keyword">from</span> <span class="hljs-string">'antd'</span>;
<span class="hljs-keyword">const</span> confirm = Modal.confirm;

<span class="hljs-function"><span class="hljs-keyword">function</span> <span class="hljs-title">showConfirm</span>(<span class="hljs-params"></span>)</span>{
  confirm({
    title: <span class="hljs-string">'您是否确认要删除这项内容'</span>,
    content: <span class="hljs-string">'点确认 1 秒后关闭'</span>,
    onOk: <span class="hljs-function"><span class="hljs-keyword">function</span>(<span class="hljs-params"></span>) </span>{
      <span class="hljs-keyword">return</span> <span class="hljs-keyword">new</span> <span class="hljs-built_in">Promise</span>(<span class="hljs-function"><span class="hljs-keyword">function</span>(<span class="hljs-params">resolve</span>) </span>{
        setTimeout(resolve, <span class="hljs-number">1000</span>);
      });
    },
    onCancel: <span class="hljs-function"><span class="hljs-keyword">function</span>(<span class="hljs-params"></span>) </span>{}
  });
}

ReactDOM.render(
<span class="xml"><span class="hljs-tag">&lt;<span class="hljs-title">Button</span> <span class="hljs-attribute">onClick</span>=<span class="hljs-value">{showConfirm}</span>&gt;</span>
  确认对话框
<span class="hljs-tag">&lt;/<span class="hljs-title">Button</span>&gt;</span>, mountNode);</span></code></pre></div>
  </div>
  <div class="code-box-meta markdown">
    <div class="code-box-title">
      <a href="#demo-confirm-promise">确认对话框</a>
    </div>
    <p>使用 <code>confirm()</code> 可以快捷地弹出确认框。onCancel/onOk 返回 promise 可以延迟关闭</p>
    <span class="collapse anticon anticon-circle-o-right" unselectable="none" style="-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;"></span>
  </div>
</div>