<div class="code-box" id="demo-footer">
  <div class="code-box-demo">
    <div id="components-modal-demo-footer"></div>
    <script>mountNode = document.getElementById('components-modal-demo-footer');</script>
    <script>(function(){"use strict";

var _antd = require("antd");

var Test = React.createClass({
  displayName: "Test",

  getInitialState: function getInitialState() {
    return {
      loading: false,
      visible: false
    };
  },
  showModal: function showModal() {
    this.setState({
      visible: true
    });
  },
  handleOk: function handleOk() {
    var _this = this;

    this.setState({ loading: true });
    setTimeout(function () {
      _this.setState({ loading: false, visible: false });
    }, 3000);
  },
  handleCancel: function handleCancel() {
    this.setState({ visible: false });
  },
  render: function render() {
    return React.createElement(
      "div",
      null,
      React.createElement(
        _antd.Button,
        { type: "primary", onClick: this.showModal },
        "显示对话框"
      ),
      React.createElement(
        _antd.Modal,
        { ref: "modal",
          visible: this.state.visible,
          title: "对话框标题", onOk: this.handleOk, onCancel: this.handleCancel,
          footer: [React.createElement(
            _antd.Button,
            { key: "back", type: "ghost", size: "large", onClick: this.handleCancel },
            "返 回"
          ), React.createElement(
            _antd.Button,
            { key: "submit", type: "primary", size: "large", loading: this.state.loading, onClick: this.handleOk },
            "提 交"
          )] },
        React.createElement(
          "p",
          null,
          "对话框的内容"
        ),
        React.createElement(
          "p",
          null,
          "对话框的内容"
        ),
        React.createElement(
          "p",
          null,
          "对话框的内容"
        ),
        React.createElement(
          "p",
          null,
          "对话框的内容"
        ),
        React.createElement(
          "p",
          null,
          "对话框的内容"
        )
      )
    );
  }
});

ReactDOM.render(React.createElement(Test, null), mountNode);})()</script><div class="highlight"><pre><code class="javascript"><span class="hljs-keyword">import</span> { Modal, Button } <span class="hljs-keyword">from</span> <span class="hljs-string">'antd'</span>;

<span class="hljs-keyword">const</span> Test = React.createClass({
  getInitialState: <span class="hljs-function"><span class="hljs-keyword">function</span>(<span class="hljs-params"></span>) </span>{
    <span class="hljs-keyword">return</span> {
      loading: <span class="hljs-literal">false</span>,
      visible: <span class="hljs-literal">false</span>
    };
  },
  showModal() {
    <span class="hljs-keyword">this</span>.setState({
      visible: <span class="hljs-literal">true</span>
    });
  },
  handleOk() {
    <span class="hljs-keyword">this</span>.setState({ loading: <span class="hljs-literal">true</span> });
    setTimeout(() =&gt; {
      <span class="hljs-keyword">this</span>.setState({ loading: <span class="hljs-literal">false</span>, visible: <span class="hljs-literal">false</span> });
    }, <span class="hljs-number">3000</span>);
  },
  handleCancel() {
    <span class="hljs-keyword">this</span>.setState({ visible: <span class="hljs-literal">false</span> });
  },
  render() {
    <span class="hljs-keyword">return</span> <span class="xml"><span class="hljs-tag">&lt;<span class="hljs-title">div</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-title">Button</span> <span class="hljs-attribute">type</span>=<span class="hljs-value">"primary"</span> <span class="hljs-attribute">onClick</span>=<span class="hljs-value">{this.showModal}</span>&gt;</span>
        显示对话框
      <span class="hljs-tag">&lt;/<span class="hljs-title">Button</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-title">Modal</span> <span class="hljs-attribute">ref</span>=<span class="hljs-value">"modal"</span>
       <span class="hljs-attribute">visible</span>=<span class="hljs-value">{this.state.visible}</span>
       <span class="hljs-attribute">title</span>=<span class="hljs-value">"对话框标题"</span> <span class="hljs-attribute">onOk</span>=<span class="hljs-value">{this.handleOk}</span> <span class="hljs-attribute">onCancel</span>=<span class="hljs-value">{this.handleCancel}</span>
        <span class="hljs-attribute">footer</span>=<span class="hljs-value">{[</span>
          &lt;<span class="hljs-attribute">Button</span> <span class="hljs-attribute">key</span>=<span class="hljs-value">"back"</span> <span class="hljs-attribute">type</span>=<span class="hljs-value">"ghost"</span> <span class="hljs-attribute">size</span>=<span class="hljs-value">"large"</span> <span class="hljs-attribute">onClick</span>=<span class="hljs-value">{this.handleCancel}</span>&gt;</span>返 回<span class="hljs-tag">&lt;/<span class="hljs-title">Button</span>&gt;</span>,
          <span class="hljs-tag">&lt;<span class="hljs-title">Button</span> <span class="hljs-attribute">key</span>=<span class="hljs-value">"submit"</span> <span class="hljs-attribute">type</span>=<span class="hljs-value">"primary"</span> <span class="hljs-attribute">size</span>=<span class="hljs-value">"large"</span> <span class="hljs-attribute">loading</span>=<span class="hljs-value">{this.state.loading}</span> <span class="hljs-attribute">onClick</span>=<span class="hljs-value">{this.handleOk}</span>&gt;</span>
            提 交
          <span class="hljs-tag">&lt;/<span class="hljs-title">Button</span>&gt;</span>
        ]</span>}&gt;
        <span class="xml"><span class="hljs-tag">&lt;<span class="hljs-title">p</span>&gt;</span>对话框的内容<span class="hljs-tag">&lt;/<span class="hljs-title">p</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">p</span>&gt;</span>对话框的内容<span class="hljs-tag">&lt;/<span class="hljs-title">p</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">p</span>&gt;</span>对话框的内容<span class="hljs-tag">&lt;/<span class="hljs-title">p</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">p</span>&gt;</span>对话框的内容<span class="hljs-tag">&lt;/<span class="hljs-title">p</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">p</span>&gt;</span>对话框的内容<span class="hljs-tag">&lt;/<span class="hljs-title">p</span>&gt;</span>
      <span class="hljs-tag">&lt;/<span class="hljs-title">Modal</span>&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>;</span>
  }
});

ReactDOM.render(<span class="xml"><span class="hljs-tag">&lt;<span class="hljs-title">Test</span>/&gt;</span>, mountNode);</span></code></pre></div>
  </div>
  <div class="code-box-meta markdown">
    <div class="code-box-title">
      <a href="#demo-footer">自定义页脚</a>
    </div>
    <p>更复杂的例子，自定义了页脚的按钮，点击提交后进入 loading 状态，完成后关闭。</p>
    <span class="collapse anticon anticon-circle-o-right" unselectable="none" style="-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;"></span>
  </div>
</div>