<div class="code-box" id="demo-dynamic">
  <div class="code-box-demo">
    <div id="components-tree-demo-dynamic"></div>
    <script>mountNode = document.getElementById('components-tree-demo-dynamic');</script>
    <script>(function(){'use strict';

var _antd = require('antd');

function _toConsumableArray(arr) { if (Array.isArray(arr)) { for (var i = 0, arr2 = Array(arr.length); i < arr.length; i++) { arr2[i] = arr[i]; } return arr2; } else { return Array.from(arr); } }

var TreeNode = _antd.Tree.TreeNode;

var asyncTree = [{
  name: 'pNode 01',
  key: '0-0'
}];

var generateTreeNodes = function generateTreeNodes() {
  return [{
    name: '伯约',
    key: '0-0-0'
  }];
};

var TreeDemo = React.createClass({
  displayName: 'TreeDemo',
  timeout: function timeout() {
    var _this = this;

    var duration = arguments.length <= 0 || arguments[0] === undefined ? 0 : arguments[0];

    return new Promise(function (resolve) {
      setTimeout(resolve.bind(_this), duration);
    });
  },
  getInitialState: function getInitialState() {
    return {
      treeData: []
    };
  },
  componentDidMount: function componentDidMount() {
    var _this2 = this;

    this.timeout(1000).then(function () {
      _this2.setState({
        treeData: asyncTree
      });
      return asyncTree;
    });
  },
  handleSelect: function handleSelect(info) {
    console.log('selected', info);
  },
  handleDataLoaded: function handleDataLoaded(treeNode) {
    var _this3 = this;

    return this.timeout(1000).then(function () {
      var child = generateTreeNodes();
      var treeData = [].concat(_toConsumableArray(_this3.state.treeData));
      treeData.forEach(function (item) {
        if (item.key === treeNode.props.eventKey) {
          item.children = child;
        }
      });
      _this3.setState({ treeData: treeData });
      return child;
    });
  },
  render: function render() {
    var loop = function loop(data) {
      return data.map(function (item) {
        if (item.children) {
          return React.createElement(
            TreeNode,
            { title: item.name, key: item.key },
            loop(item.children)
          );
        } else {
          return React.createElement(TreeNode, { title: item.name, key: item.key });
        }
      });
    };
    var parseTreeNode = function parseTreeNode(data) {
      return loop(data);
    };
    var treeNodes = parseTreeNode(this.state.treeData);
    return React.createElement(
      _antd.Tree,
      { onSelect: this.handleSelect, onDataLoaded: this.handleDataLoaded, showLine: false },
      treeNodes
    );
  }
});

ReactDOM.render(React.createElement(TreeDemo, null), mountNode);})()</script><div class="highlight"><pre><code class="javascript"><span class="hljs-keyword">import</span> { Tree } <span class="hljs-keyword">from</span> <span class="hljs-string">'antd'</span>;
<span class="hljs-keyword">const</span> TreeNode = Tree.TreeNode;

<span class="hljs-keyword">const</span> asyncTree = [{
  name: <span class="hljs-string">'pNode 01'</span>,
  key: <span class="hljs-string">'0-0'</span>
}];

<span class="hljs-keyword">const</span> generateTreeNodes = () =&gt; {
  <span class="hljs-keyword">return</span> [{
    name: <span class="hljs-string">'伯约'</span>,
    key: <span class="hljs-string">'0-0-0'</span>
  }];
};

<span class="hljs-keyword">const</span> TreeDemo = React.createClass({
  timeout(duration = <span class="hljs-number">0</span>) {
    <span class="hljs-keyword">return</span> <span class="hljs-keyword">new</span> <span class="hljs-built_in">Promise</span>((resolve) =&gt; {
      setTimeout(resolve.bind(<span class="hljs-keyword">this</span>), duration);
    });
  },
  getInitialState() {
    <span class="hljs-keyword">return</span> {
      treeData: []
    };
  },
  componentDidMount() {
    <span class="hljs-keyword">this</span>.timeout(<span class="hljs-number">1000</span>).then(() =&gt; {
      <span class="hljs-keyword">this</span>.setState({
        treeData: asyncTree
      });
      <span class="hljs-keyword">return</span> asyncTree;
    });
  },
  handleSelect(info) {
    <span class="hljs-built_in">console</span>.log(<span class="hljs-string">'selected'</span>, info);
  },
  handleDataLoaded(treeNode) {
    <span class="hljs-keyword">return</span> <span class="hljs-keyword">this</span>.timeout(<span class="hljs-number">1000</span>).then(() =&gt; {
      <span class="hljs-keyword">const</span> child = generateTreeNodes();
      <span class="hljs-keyword">const</span> treeData = [...this.state.treeData];
      treeData.forEach((item) =&gt; {
        <span class="hljs-keyword">if</span> (item.key === treeNode.props.eventKey) {
          item.children = child;
        }
      });
      <span class="hljs-keyword">this</span>.setState({treeData});
      <span class="hljs-keyword">return</span> child;
    });
  },
  render() {
    <span class="hljs-keyword">const</span> loop = (data) =&gt; {
      <span class="hljs-keyword">return</span> data.map((item) =&gt; {
        <span class="hljs-keyword">if</span> (item.children) {
          <span class="hljs-keyword">return</span> <span class="xml"><span class="hljs-tag">&lt;<span class="hljs-title">TreeNode</span> <span class="hljs-attribute">title</span>=<span class="hljs-value">{item.name}</span> <span class="hljs-attribute">key</span>=<span class="hljs-value">{item.key}</span>&gt;</span>{loop(item.children)}<span class="hljs-tag">&lt;/<span class="hljs-title">TreeNode</span>&gt;</span>;</span>
        } <span class="hljs-keyword">else</span> {
          <span class="hljs-keyword">return</span> <span class="xml"><span class="hljs-tag">&lt;<span class="hljs-title">TreeNode</span> <span class="hljs-attribute">title</span>=<span class="hljs-value">{item.name}</span> <span class="hljs-attribute">key</span>=<span class="hljs-value">{item.key}</span> /&gt;</span>;</span>
        }
      });
    };
    <span class="hljs-keyword">const</span> parseTreeNode = data =&gt; loop(data);
    <span class="hljs-keyword">let</span> treeNodes = parseTreeNode(<span class="hljs-keyword">this</span>.state.treeData);
    <span class="hljs-keyword">return</span> (
      <span class="xml"><span class="hljs-tag">&lt;<span class="hljs-title">Tree</span> <span class="hljs-attribute">onSelect</span>=<span class="hljs-value">{this.handleSelect}</span> <span class="hljs-attribute">onDataLoaded</span>=<span class="hljs-value">{this.handleDataLoaded}</span> <span class="hljs-attribute">showLine</span>=<span class="hljs-value">{false}</span>&gt;</span>
        {treeNodes}
      <span class="hljs-tag">&lt;/<span class="hljs-title">Tree</span>&gt;</span>
    )</span>;
  }
});

ReactDOM.render(<span class="xml"><span class="hljs-tag">&lt;<span class="hljs-title">TreeDemo</span> /&gt;</span>, mountNode);</span></code></pre></div>
  </div>
  <div class="code-box-meta markdown">
    <div class="code-box-title">
      <a href="#demo-dynamic">异步数据加载</a>
    </div>
    <p>异步加载数据</p>
    <span class="collapse anticon anticon-circle-o-right" unselectable="none" style="-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;"></span>
  </div>
</div>