<div class="code-box" id="demo-special">
  <div class="code-box-demo">
    <div id="components-tree-demo-special"></div>
    <script>mountNode = document.getElementById('components-tree-demo-special');</script>
    <script>(function(){'use strict';

var _createClass = function () { function defineProperties(target, props) { for (var i = 0; i < props.length; i++) { var descriptor = props[i]; descriptor.enumerable = descriptor.enumerable || false; descriptor.configurable = true; if ("value" in descriptor) descriptor.writable = true; Object.defineProperty(target, descriptor.key, descriptor); } } return function (Constructor, protoProps, staticProps) { if (protoProps) defineProperties(Constructor.prototype, protoProps); if (staticProps) defineProperties(Constructor, staticProps); return Constructor; }; }();

var _antd = require('antd');

function _classCallCheck(instance, Constructor) { if (!(instance instanceof Constructor)) { throw new TypeError("Cannot call a class as a function"); } }

function _possibleConstructorReturn(self, call) { if (!self) { throw new ReferenceError("this hasn't been initialised - super() hasn't been called"); } return call && (typeof call === "object" || typeof call === "function") ? call : self; }

function _inherits(subClass, superClass) { if (typeof superClass !== "function" && superClass !== null) { throw new TypeError("Super expression must either be null or a function, not " + typeof superClass); } subClass.prototype = Object.create(superClass && superClass.prototype, { constructor: { value: subClass, enumerable: false, writable: true, configurable: true } }); if (superClass) Object.setPrototypeOf ? Object.setPrototypeOf(subClass, superClass) : subClass.__proto__ = superClass; }

var TreeNode = _antd.Tree.TreeNode;

var TreeDemo = function (_React$Component) {
  _inherits(TreeDemo, _React$Component);

  function TreeDemo(props) {
    _classCallCheck(this, TreeDemo);

    var _this = _possibleConstructorReturn(this, Object.getPrototypeOf(TreeDemo).call(this, props));

    ['handleClick', 'handleCheck', 'handleSelect'].forEach(function (m) {
      _this[m] = _this[m].bind(_this);
    });
    _this.state = {
      checkedKeys: [],
      selectedKeys: []
    };
    return _this;
  }

  _createClass(TreeDemo, [{
    key: 'handleClick',
    value: function handleClick() {
      this.setState({
        checkedKeys: ['p11'],
        selectedKeys: ['p21', 'p11']
      });
    }
  }, {
    key: 'handleCheck',
    value: function handleCheck(info) {
      console.log('check: ', info);
      this.setState({
        checkedKeys: ['p21'],
        selectedKeys: ['p1', 'p21']
      });
    }
  }, {
    key: 'handleSelect',
    value: function handleSelect(info) {
      console.log('selected: ', info);
      this.setState({
        checkedKeys: ['p21'],
        selectedKeys: ['p21']
      });
    }
  }, {
    key: 'render',
    value: function render() {
      return React.createElement(
        'div',
        null,
        React.createElement(
          _antd.Tree,
          { defaultExpandAll: true, checkable: true,
            onCheck: this.handleCheck, checkedKeys: this.state.checkedKeys,
            onSelect: this.handleSelect, selectedKeys: this.state.selectedKeys, multiple: true },
          React.createElement(
            TreeNode,
            { title: 'parent 1', key: 'p1' },
            React.createElement(TreeNode, { key: 'p10', title: 'leaf' }),
            React.createElement(
              TreeNode,
              { title: 'parent 1-1', key: 'p11' },
              React.createElement(
                TreeNode,
                { title: 'parent 2-1', key: 'p21' },
                React.createElement(TreeNode, { title: 'test' }),
                React.createElement(TreeNode, { title: React.createElement(
                    'span',
                    null,
                    'sss'
                  ) })
              ),
              React.createElement(TreeNode, { key: 'p22', title: 'leaf' })
            )
          ),
          React.createElement(TreeNode, { key: 'p12', title: 'leaf' })
        ),
        React.createElement(
          _antd.Button,
          { type: 'primary', size: 'small', onClick: this.handleClick },
          '点此控制树节点'
        )
      );
    }
  }]);

  return TreeDemo;
}(React.Component);

ReactDOM.render(React.createElement(TreeDemo, null), mountNode);})()</script><div class="highlight"><pre><code class="javascript"><span class="hljs-keyword">import</span> { Tree, Button } <span class="hljs-keyword">from</span> <span class="hljs-string">'antd'</span>;
<span class="hljs-keyword">const</span> TreeNode = Tree.TreeNode;

<span class="hljs-class"><span class="hljs-keyword">class</span> <span class="hljs-title">TreeDemo</span> <span class="hljs-keyword">extends</span> <span class="hljs-title">React</span>.<span class="hljs-title">Component</span> </span>{
  constructor(props) {
    <span class="hljs-keyword">super</span>(props);
    [<span class="hljs-string">'handleClick'</span>, <span class="hljs-string">'handleCheck'</span>, <span class="hljs-string">'handleSelect'</span>].forEach((m)=&gt; {
      <span class="hljs-keyword">this</span>[m] = <span class="hljs-keyword">this</span>[m].bind(<span class="hljs-keyword">this</span>);
    });
    <span class="hljs-keyword">this</span>.state = {
      checkedKeys: [],
      selectedKeys: []
    };
  }
  handleClick() {
    <span class="hljs-keyword">this</span>.setState({
      checkedKeys: [<span class="hljs-string">'p11'</span>],
      selectedKeys: [<span class="hljs-string">'p21'</span>, <span class="hljs-string">'p11'</span>]
    });
  }
  handleCheck(info) {
    <span class="hljs-built_in">console</span>.log(<span class="hljs-string">'check: '</span>, info);
    <span class="hljs-keyword">this</span>.setState({
      checkedKeys: [<span class="hljs-string">'p21'</span>],
      selectedKeys: [<span class="hljs-string">'p1'</span>, <span class="hljs-string">'p21'</span>]
    });
  }
  handleSelect(info) {
    <span class="hljs-built_in">console</span>.log(<span class="hljs-string">'selected: '</span>, info);
    <span class="hljs-keyword">this</span>.setState({
      checkedKeys: [<span class="hljs-string">'p21'</span>],
      selectedKeys: [<span class="hljs-string">'p21'</span>]
    });
  }
  render() {
    <span class="hljs-keyword">return</span> (<span class="xml"><span class="hljs-tag">&lt;<span class="hljs-title">div</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-title">Tree</span> <span class="hljs-attribute">defaultExpandAll</span> <span class="hljs-attribute">checkable</span>
            <span class="hljs-attribute">onCheck</span>=<span class="hljs-value">{this.handleCheck}</span> <span class="hljs-attribute">checkedKeys</span>=<span class="hljs-value">{this.state.checkedKeys}</span>
            <span class="hljs-attribute">onSelect</span>=<span class="hljs-value">{this.handleSelect}</span> <span class="hljs-attribute">selectedKeys</span>=<span class="hljs-value">{this.state.selectedKeys}</span> <span class="hljs-attribute">multiple</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">TreeNode</span> <span class="hljs-attribute">title</span>=<span class="hljs-value">"parent 1"</span> <span class="hljs-attribute">key</span>=<span class="hljs-value">"p1"</span>&gt;</span>
          <span class="hljs-tag">&lt;<span class="hljs-title">TreeNode</span> <span class="hljs-attribute">key</span>=<span class="hljs-value">"p10"</span> <span class="hljs-attribute">title</span>=<span class="hljs-value">"leaf"</span>/&gt;</span>
          <span class="hljs-tag">&lt;<span class="hljs-title">TreeNode</span> <span class="hljs-attribute">title</span>=<span class="hljs-value">"parent 1-1"</span> <span class="hljs-attribute">key</span>=<span class="hljs-value">"p11"</span>&gt;</span>
            <span class="hljs-tag">&lt;<span class="hljs-title">TreeNode</span> <span class="hljs-attribute">title</span>=<span class="hljs-value">"parent 2-1"</span> <span class="hljs-attribute">key</span>=<span class="hljs-value">"p21"</span>&gt;</span>
              <span class="hljs-tag">&lt;<span class="hljs-title">TreeNode</span> <span class="hljs-attribute">title</span>=<span class="hljs-value">"test"</span> /&gt;</span>
              <span class="hljs-tag">&lt;<span class="hljs-title">TreeNode</span> <span class="hljs-attribute">title</span>=<span class="hljs-value">{&lt;span</span>&gt;</span>sss<span class="hljs-tag">&lt;/<span class="hljs-title">span</span>&gt;</span>}/&gt;
            <span class="hljs-tag">&lt;/<span class="hljs-title">TreeNode</span>&gt;</span>
            <span class="hljs-tag">&lt;<span class="hljs-title">TreeNode</span> <span class="hljs-attribute">key</span>=<span class="hljs-value">"p22"</span> <span class="hljs-attribute">title</span>=<span class="hljs-value">"leaf"</span>/&gt;</span>
          <span class="hljs-tag">&lt;/<span class="hljs-title">TreeNode</span>&gt;</span>
        <span class="hljs-tag">&lt;/<span class="hljs-title">TreeNode</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">TreeNode</span> <span class="hljs-attribute">key</span>=<span class="hljs-value">"p12"</span> <span class="hljs-attribute">title</span>=<span class="hljs-value">"leaf"</span>/&gt;</span>
      <span class="hljs-tag">&lt;/<span class="hljs-title">Tree</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-title">Button</span> <span class="hljs-attribute">type</span>=<span class="hljs-value">"primary"</span> <span class="hljs-attribute">size</span>=<span class="hljs-value">"small"</span> <span class="hljs-attribute">onClick</span>=<span class="hljs-value">{this.handleClick}</span>&gt;</span>点此控制树节点<span class="hljs-tag">&lt;/<span class="hljs-title">Button</span>&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>)</span>;
  }
}

ReactDOM.render(<span class="xml"><span class="hljs-tag">&lt;<span class="hljs-title">TreeDemo</span> /&gt;</span>, mountNode);</span></code></pre></div>
  </div>
  <div class="code-box-meta markdown">
    <div class="code-box-title">
      <a href="#demo-special">接收外部传参</a>
    </div>
    <p>受控组件，外部传入参数，控制树对象节点。</p>
    <span class="collapse anticon anticon-circle-o-right" unselectable="none" style="-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;"></span>
  </div>
</div>