<div class="code-box" id="demo-input-group">
  <div class="code-box-demo">
    <div id="components-form-demo-input-group"></div>
    <script>mountNode = document.getElementById('components-form-demo-input-group');</script>
    <script>(function(){"use strict";

var _antd = require("antd");

var FormItem = _antd.Form.Item;
var InputGroup = _antd.Input.Group;
var Option = _antd.Select.Option;

ReactDOM.render(React.createElement(
  _antd.Form,
  { horizontal: true },
  React.createElement(
    FormItem,
    {
      label: "标签输入框：",
      labelCol: { span: 6 },
      wrapperCol: { span: 16 } },
    React.createElement(_antd.Input, { addonBefore: "Http://", defaultValue: "mysite.com", id: "site1" })
  ),
  React.createElement(
    FormItem,
    {
      label: "标签输入框：",
      labelCol: { span: 6 },
      wrapperCol: { span: 16 } },
    React.createElement(_antd.Input, { addonBefore: "Http://", addonAfter: ".com", defaultValue: "mysite", id: "site2" })
  ),
  React.createElement(
    FormItem,
    {
      label: "select 标签输入框：",
      labelCol: { span: 6 },
      wrapperCol: { span: 16 } },
    React.createElement(
      InputGroup,
      null,
      React.createElement(_antd.Input, { id: "site4", placeholder: "www.mysite" }),
      React.createElement(
        "div",
        { className: "ant-input-group-wrap" },
        React.createElement(
          _antd.Select,
          { defaultValue: ".com", style: { width: 70 } },
          React.createElement(
            Option,
            { value: ".com" },
            ".com"
          ),
          React.createElement(
            Option,
            { value: ".jp" },
            ".jp"
          ),
          React.createElement(
            Option,
            { value: ".cn" },
            ".cn"
          ),
          React.createElement(
            Option,
            { value: ".org" },
            ".org"
          )
        )
      )
    )
  ),
  React.createElement(
    FormItem,
    {
      label: "输入身份证：",
      labelCol: { span: 6 },
      wrapperCol: { span: 16 } },
    React.createElement(
      InputGroup,
      null,
      React.createElement(
        _antd.Col,
        { span: "6" },
        React.createElement(_antd.Input, { id: "certNo1" })
      ),
      React.createElement(
        _antd.Col,
        { span: "6" },
        React.createElement(_antd.Input, { id: "certNo2" })
      ),
      React.createElement(
        _antd.Col,
        { span: "6" },
        React.createElement(_antd.Input, { id: "certNo3" })
      ),
      React.createElement(
        _antd.Col,
        { span: "6" },
        React.createElement(_antd.Input, { id: "certNo4" })
      )
    )
  ),
  React.createElement(
    FormItem,
    {
      label: "电话号码：",
      labelCol: { span: 6 },
      wrapperCol: { span: 16 } },
    React.createElement(
      _antd.Row,
      null,
      React.createElement(
        _antd.Col,
        { span: "4" },
        React.createElement(_antd.Input, { id: "tel1", defaultValue: "086" })
      ),
      React.createElement(
        _antd.Col,
        { span: "2" },
        React.createElement(
          "p",
          { className: "ant-form-split" },
          "--"
        )
      ),
      React.createElement(
        _antd.Col,
        { span: "18" },
        React.createElement(
          InputGroup,
          null,
          React.createElement(
            _antd.Col,
            { span: "8" },
            React.createElement(_antd.Input, { id: "tel1" })
          ),
          React.createElement(
            _antd.Col,
            { span: "8" },
            React.createElement(_antd.Input, { id: "tel2" })
          ),
          React.createElement(
            _antd.Col,
            { span: "8" },
            React.createElement(_antd.Input, { id: "tel3" })
          )
        )
      )
    )
  )
), mountNode);})()</script><div class="highlight"><pre><code class="javascript"><span class="hljs-keyword">import</span> {Form, Input, Select, Row, Col} <span class="hljs-keyword">from</span> <span class="hljs-string">'antd'</span>;
<span class="hljs-keyword">const</span> FormItem = Form.Item;
<span class="hljs-keyword">const</span> InputGroup = Input.Group;
<span class="hljs-keyword">const</span> Option = Select.Option;

ReactDOM.render(
  <span class="xml"><span class="hljs-tag">&lt;<span class="hljs-title">Form</span> <span class="hljs-attribute">horizontal</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-title">FormItem</span>
      <span class="hljs-attribute">label</span>=<span class="hljs-value">"标签输入框："</span>
      <span class="hljs-attribute">labelCol</span>=<span class="hljs-value">{{span:</span> <span class="hljs-attribute">6</span>}}
      <span class="hljs-attribute">wrapperCol</span>=<span class="hljs-value">{{span:</span> <span class="hljs-attribute">16</span>}}&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-title">Input</span> <span class="hljs-attribute">addonBefore</span>=<span class="hljs-value">"Http://"</span> <span class="hljs-attribute">defaultValue</span>=<span class="hljs-value">"mysite.com"</span> <span class="hljs-attribute">id</span>=<span class="hljs-value">"site1"</span>/&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-title">FormItem</span>&gt;</span>

    <span class="hljs-tag">&lt;<span class="hljs-title">FormItem</span>
      <span class="hljs-attribute">label</span>=<span class="hljs-value">"标签输入框："</span>
      <span class="hljs-attribute">labelCol</span>=<span class="hljs-value">{{span:</span> <span class="hljs-attribute">6</span>}}
      <span class="hljs-attribute">wrapperCol</span>=<span class="hljs-value">{{span:</span> <span class="hljs-attribute">16</span>}}&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-title">Input</span> <span class="hljs-attribute">addonBefore</span>=<span class="hljs-value">"Http://"</span> <span class="hljs-attribute">addonAfter</span>=<span class="hljs-value">".com"</span> <span class="hljs-attribute">defaultValue</span>=<span class="hljs-value">"mysite"</span> <span class="hljs-attribute">id</span>=<span class="hljs-value">"site2"</span>/&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-title">FormItem</span>&gt;</span>

    <span class="hljs-tag">&lt;<span class="hljs-title">FormItem</span>
      <span class="hljs-attribute">label</span>=<span class="hljs-value">"select 标签输入框："</span>
      <span class="hljs-attribute">labelCol</span>=<span class="hljs-value">{{span:</span> <span class="hljs-attribute">6</span>}}
      <span class="hljs-attribute">wrapperCol</span>=<span class="hljs-value">{{span:</span> <span class="hljs-attribute">16</span>}}&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-title">InputGroup</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">Input</span> <span class="hljs-attribute">id</span>=<span class="hljs-value">"site4"</span> <span class="hljs-attribute">placeholder</span>=<span class="hljs-value">"www.mysite"</span> /&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">className</span>=<span class="hljs-value">"ant-input-group-wrap"</span>&gt;</span>
          <span class="hljs-tag">&lt;<span class="hljs-title">Select</span> <span class="hljs-attribute">defaultValue</span>=<span class="hljs-value">".com"</span> <span class="hljs-attribute">style</span>=<span class="hljs-value">{{width:70}}</span>&gt;</span>
            <span class="hljs-tag">&lt;<span class="hljs-title">Option</span> <span class="hljs-attribute">value</span>=<span class="hljs-value">".com"</span>&gt;</span>.com<span class="hljs-tag">&lt;/<span class="hljs-title">Option</span>&gt;</span>
            <span class="hljs-tag">&lt;<span class="hljs-title">Option</span> <span class="hljs-attribute">value</span>=<span class="hljs-value">".jp"</span>&gt;</span>.jp<span class="hljs-tag">&lt;/<span class="hljs-title">Option</span>&gt;</span>
            <span class="hljs-tag">&lt;<span class="hljs-title">Option</span> <span class="hljs-attribute">value</span>=<span class="hljs-value">".cn"</span>&gt;</span>.cn<span class="hljs-tag">&lt;/<span class="hljs-title">Option</span>&gt;</span>
            <span class="hljs-tag">&lt;<span class="hljs-title">Option</span> <span class="hljs-attribute">value</span>=<span class="hljs-value">".org"</span>&gt;</span>.org<span class="hljs-tag">&lt;/<span class="hljs-title">Option</span>&gt;</span>
          <span class="hljs-tag">&lt;/<span class="hljs-title">Select</span>&gt;</span>
        <span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
      <span class="hljs-tag">&lt;/<span class="hljs-title">InputGroup</span>&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-title">FormItem</span>&gt;</span>

    <span class="hljs-tag">&lt;<span class="hljs-title">FormItem</span>
      <span class="hljs-attribute">label</span>=<span class="hljs-value">"输入身份证："</span>
      <span class="hljs-attribute">labelCol</span>=<span class="hljs-value">{{span:</span> <span class="hljs-attribute">6</span>}}
      <span class="hljs-attribute">wrapperCol</span>=<span class="hljs-value">{{span:</span> <span class="hljs-attribute">16</span>}}&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-title">InputGroup</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">Col</span> <span class="hljs-attribute">span</span>=<span class="hljs-value">"6"</span>&gt;</span>
          <span class="hljs-tag">&lt;<span class="hljs-title">Input</span> <span class="hljs-attribute">id</span>=<span class="hljs-value">"certNo1"</span> /&gt;</span>
        <span class="hljs-tag">&lt;/<span class="hljs-title">Col</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">Col</span> <span class="hljs-attribute">span</span>=<span class="hljs-value">"6"</span>&gt;</span>
          <span class="hljs-tag">&lt;<span class="hljs-title">Input</span> <span class="hljs-attribute">id</span>=<span class="hljs-value">"certNo2"</span> /&gt;</span>
        <span class="hljs-tag">&lt;/<span class="hljs-title">Col</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">Col</span> <span class="hljs-attribute">span</span>=<span class="hljs-value">"6"</span>&gt;</span>
          <span class="hljs-tag">&lt;<span class="hljs-title">Input</span> <span class="hljs-attribute">id</span>=<span class="hljs-value">"certNo3"</span> /&gt;</span>
        <span class="hljs-tag">&lt;/<span class="hljs-title">Col</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">Col</span> <span class="hljs-attribute">span</span>=<span class="hljs-value">"6"</span>&gt;</span>
          <span class="hljs-tag">&lt;<span class="hljs-title">Input</span> <span class="hljs-attribute">id</span>=<span class="hljs-value">"certNo4"</span> /&gt;</span>
        <span class="hljs-tag">&lt;/<span class="hljs-title">Col</span>&gt;</span>
      <span class="hljs-tag">&lt;/<span class="hljs-title">InputGroup</span>&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-title">FormItem</span>&gt;</span>

    <span class="hljs-tag">&lt;<span class="hljs-title">FormItem</span>
      <span class="hljs-attribute">label</span>=<span class="hljs-value">"电话号码："</span>
      <span class="hljs-attribute">labelCol</span>=<span class="hljs-value">{{span:</span> <span class="hljs-attribute">6</span>}}
      <span class="hljs-attribute">wrapperCol</span>=<span class="hljs-value">{{span:</span> <span class="hljs-attribute">16</span>}}&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-title">Row</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">Col</span> <span class="hljs-attribute">span</span>=<span class="hljs-value">"4"</span>&gt;</span>
          <span class="hljs-tag">&lt;<span class="hljs-title">Input</span> <span class="hljs-attribute">id</span>=<span class="hljs-value">"tel1"</span> <span class="hljs-attribute">defaultValue</span>=<span class="hljs-value">"086"</span> /&gt;</span>
        <span class="hljs-tag">&lt;/<span class="hljs-title">Col</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">Col</span> <span class="hljs-attribute">span</span>=<span class="hljs-value">"2"</span>&gt;</span>
          <span class="hljs-tag">&lt;<span class="hljs-title">p</span> <span class="hljs-attribute">className</span>=<span class="hljs-value">"ant-form-split"</span>&gt;</span>--<span class="hljs-tag">&lt;/<span class="hljs-title">p</span>&gt;</span>
        <span class="hljs-tag">&lt;/<span class="hljs-title">Col</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">Col</span> <span class="hljs-attribute">span</span>=<span class="hljs-value">"18"</span>&gt;</span>
          <span class="hljs-tag">&lt;<span class="hljs-title">InputGroup</span>&gt;</span>
            <span class="hljs-tag">&lt;<span class="hljs-title">Col</span> <span class="hljs-attribute">span</span>=<span class="hljs-value">"8"</span>&gt;</span>
              <span class="hljs-tag">&lt;<span class="hljs-title">Input</span> <span class="hljs-attribute">id</span>=<span class="hljs-value">"tel1"</span> /&gt;</span>
            <span class="hljs-tag">&lt;/<span class="hljs-title">Col</span>&gt;</span>
            <span class="hljs-tag">&lt;<span class="hljs-title">Col</span> <span class="hljs-attribute">span</span>=<span class="hljs-value">"8"</span>&gt;</span>
              <span class="hljs-tag">&lt;<span class="hljs-title">Input</span> <span class="hljs-attribute">id</span>=<span class="hljs-value">"tel2"</span> /&gt;</span>
            <span class="hljs-tag">&lt;/<span class="hljs-title">Col</span>&gt;</span>
            <span class="hljs-tag">&lt;<span class="hljs-title">Col</span> <span class="hljs-attribute">span</span>=<span class="hljs-value">"8"</span>&gt;</span>
              <span class="hljs-tag">&lt;<span class="hljs-title">Input</span> <span class="hljs-attribute">id</span>=<span class="hljs-value">"tel3"</span> /&gt;</span>
            <span class="hljs-tag">&lt;/<span class="hljs-title">Col</span>&gt;</span>
          <span class="hljs-tag">&lt;/<span class="hljs-title">InputGroup</span>&gt;</span>
        <span class="hljs-tag">&lt;/<span class="hljs-title">Col</span>&gt;</span>
      <span class="hljs-tag">&lt;/<span class="hljs-title">Row</span>&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-title">FormItem</span>&gt;</span>
  <span class="hljs-tag">&lt;/<span class="hljs-title">Form</span>&gt;</span>

, mountNode);</span></code></pre></div>
  </div>
  <div class="code-box-meta markdown">
    <div class="code-box-title">
      <a href="#demo-input-group">输入框组合</a>
    </div>
    <p>各类输入框的组合展现。</p>
    <span class="collapse anticon anticon-circle-o-right" unselectable="none" style="-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;"></span>
  </div>
</div>