<div class="code-box" id="demo-mix">
  <div class="code-box-demo">
    <div id="components-form-demo-mix"></div>
    <script>mountNode = document.getElementById('components-form-demo-mix');</script>
    <script>(function(){'use strict';

var _antd = require('antd');

var FormItem = _antd.Form.Item;
var Option = _antd.Select.Option;

var Demo = React.createClass({
  displayName: 'Demo',

  mixins: [_antd.Form.ValueMixin],

  getInitialState: function getInitialState() {
    return {
      formData: {
        inputNumber: undefined,
        static: '唧唧复唧唧木兰当户织呀',
        switch: undefined,
        slider: undefined,
        select: undefined,
        startDate: undefined,
        endDate: undefined
      }
    };
  },
  handleUpload: function handleUpload(info) {
    if (info.file.status !== 'uploading') {
      console.log(info.file, info.fileList);
    }
    if (info.file.status === 'done') {
      _antd.message.success(info.file.name + ' 上传成功。');
    } else if (info.file.status === 'error') {
      _antd.message.error(info.file.name + ' 上传失败。');
    }
  },
  handleSubmit: function handleSubmit(e) {
    e.preventDefault();
    _antd.message.success('收到表单值~~~ ：' + JSON.stringify(this.state.formData, function (k, v) {
      if (typeof v === 'undefined') {
        return '';
      }
      return v;
    }));
  },
  render: function render() {
    var formData = this.state.formData;
    return React.createElement(
      _antd.Form,
      { horizontal: true, onSubmit: this.handleSubmit },
      React.createElement(
        FormItem,
        {
          label: 'InputNumber 数字输入框：',
          labelCol: { span: 8 },
          wrapperCol: { span: 10 },
          required: true },
        React.createElement(_antd.InputNumber, { size: 'large', min: 1, max: 10, style: { width: 100 }, defaultValue: 3, name: 'inputNumber', onChange: this.setValue.bind(this, 'inputNumber'), value: formData.inputNumber }),
        React.createElement(
          'span',
          { className: 'ant-form-text' },
          ' 台机器'
        )
      ),
      React.createElement(
        FormItem,
        {
          label: '我是标题：',
          labelCol: { span: 8 },
          wrapperCol: { span: 10 },
          required: true },
        React.createElement(
          'p',
          { className: 'ant-form-text', id: 'static', name: 'static' },
          '唧唧复唧唧木兰当户织呀'
        ),
        React.createElement(
          'p',
          { className: 'ant-form-text' },
          React.createElement(
            'a',
            { href: '#' },
            '链接文字'
          )
        )
      ),
      React.createElement(
        FormItem,
        {
          label: 'Switch 开关：',
          labelCol: { span: 8 },
          wrapperCol: { span: 10 },
          required: true },
        React.createElement(_antd.Switch, { name: 'switch', onChange: this.setValue.bind(this, 'switch'), value: formData.switch })
      ),
      React.createElement(
        FormItem,
        {
          label: 'Slider 滑动输入条：',
          labelCol: { span: 8 },
          wrapperCol: { span: 10 },
          required: true },
        React.createElement(_antd.Slider, { marks: ['A', 'B', 'C', 'D', 'E', 'F', 'G'], name: 'slider', onChange: this.setValue.bind(this, 'slider') })
      ),
      React.createElement(
        FormItem,
        {
          label: 'Select 选择器：',
          labelCol: { span: 8 },
          wrapperCol: { span: 16 },
          required: true },
        React.createElement(
          _antd.Select,
          { size: 'large', defaultValue: 'lucy', style: { width: 200 }, name: 'select', onChange: this.setValue.bind(this, 'select'), value: formData.select },
          React.createElement(
            Option,
            { value: 'jack' },
            'jack'
          ),
          React.createElement(
            Option,
            { value: 'lucy' },
            'lucy'
          ),
          React.createElement(
            Option,
            { value: 'disabled', disabled: true },
            'disabled'
          ),
          React.createElement(
            Option,
            { value: 'yiminghe' },
            'yiminghe'
          )
        )
      ),
      React.createElement(
        FormItem,
        {
          label: 'DatePicker 日期选择框：',
          labelCol: { span: 8 },
          required: true },
        React.createElement(
          _antd.Col,
          { span: '6' },
          React.createElement(_antd.DatePicker, { name: 'startDate', onChange: this.setValue.bind(this, 'startDate'), value: formData.startDate })
        ),
        React.createElement(
          _antd.Col,
          { span: '1' },
          React.createElement(
            'p',
            { className: 'ant-form-split' },
            '-'
          )
        ),
        React.createElement(
          _antd.Col,
          { span: '6' },
          React.createElement(_antd.DatePicker, { name: 'endDate', onChange: this.setValue.bind(this, 'endDate'), value: formData.endDate })
        )
      ),
      React.createElement(
        FormItem,
        {
          label: 'logo图：',
          labelCol: { span: 8 },
          wrapperCol: { span: 16 },
          help: '提示信息要长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长' },
        React.createElement(
          _antd.Upload,
          { name: 'logo', action: '/upload.do', listType: 'picture', onChange: this.handleUpload },
          React.createElement(
            _antd.Button,
            { type: 'ghost' },
            React.createElement(_antd.Icon, { type: 'upload' }),
            ' 点击上传'
          )
        )
      ),
      React.createElement(
        _antd.Row,
        null,
        React.createElement(
          _antd.Col,
          { span: '16', offset: '8' },
          React.createElement(
            _antd.Button,
            { type: 'primary', htmlType: 'submit' },
            '确定'
          )
        )
      )
    );
  }
});

ReactDOM.render(React.createElement(Demo, null), mountNode);})()</script><div class="highlight"><pre><code class="javascript"><span class="hljs-keyword">import</span> { Form, Select, InputNumber, DatePicker, Switch,
         Slider, Button, message, Row, Col, Upload, Icon } <span class="hljs-keyword">from</span> <span class="hljs-string">'antd'</span>;
<span class="hljs-keyword">const</span> FormItem = Form.Item;
<span class="hljs-keyword">const</span> Option = Select.Option;

<span class="hljs-keyword">const</span> Demo = React.createClass({
  mixins: [Form.ValueMixin],

  getInitialState() {
    <span class="hljs-keyword">return</span> {
      formData: {
        inputNumber: <span class="hljs-literal">undefined</span>,
        static: <span class="hljs-string">'唧唧复唧唧木兰当户织呀'</span>,
        <span class="hljs-keyword">switch</span>: <span class="hljs-literal">undefined</span>,
        slider: <span class="hljs-literal">undefined</span>,
        select: <span class="hljs-literal">undefined</span>,
        startDate: <span class="hljs-literal">undefined</span>,
        endDate: <span class="hljs-literal">undefined</span>,
      }
    };
  },

  handleUpload(info) {
    <span class="hljs-keyword">if</span> (info.file.status !== <span class="hljs-string">'uploading'</span>) {
      <span class="hljs-built_in">console</span>.log(info.file, info.fileList);
    }
    <span class="hljs-keyword">if</span> (info.file.status === <span class="hljs-string">'done'</span>) {
      message.success(info.file.name + <span class="hljs-string">' 上传成功。'</span>);
    } <span class="hljs-keyword">else</span> <span class="hljs-keyword">if</span> (info.file.status === <span class="hljs-string">'error'</span>) {
      message.error(info.file.name + <span class="hljs-string">' 上传失败。'</span>);
    }
  },

  handleSubmit(e) {
    e.preventDefault();
    message.success(<span class="hljs-string">'收到表单值~~~ ：'</span> + <span class="hljs-built_in">JSON</span>.stringify(<span class="hljs-keyword">this</span>.state.formData, <span class="hljs-function"><span class="hljs-keyword">function</span>(<span class="hljs-params">k, v</span>) </span>{
      <span class="hljs-keyword">if</span> (<span class="hljs-keyword">typeof</span> v === <span class="hljs-string">'undefined'</span>) {
        <span class="hljs-keyword">return</span> <span class="hljs-string">''</span>;
      }
      <span class="hljs-keyword">return</span> v;
    }));
  },

  render() {
    <span class="hljs-keyword">const</span> formData = <span class="hljs-keyword">this</span>.state.formData;
    <span class="hljs-keyword">return</span> (
      <span class="xml"><span class="hljs-tag">&lt;<span class="hljs-title">Form</span> <span class="hljs-attribute">horizontal</span> <span class="hljs-attribute">onSubmit</span>=<span class="hljs-value">{this.handleSubmit}</span> &gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">FormItem</span>
          <span class="hljs-attribute">label</span>=<span class="hljs-value">"InputNumber 数字输入框："</span>
          <span class="hljs-attribute">labelCol</span>=<span class="hljs-value">{{span:</span> <span class="hljs-attribute">8</span>}}
          <span class="hljs-attribute">wrapperCol</span>=<span class="hljs-value">{{span:</span> <span class="hljs-attribute">10</span>}}
          <span class="hljs-attribute">required</span>&gt;</span>
          <span class="hljs-tag">&lt;<span class="hljs-title">InputNumber</span> <span class="hljs-attribute">size</span>=<span class="hljs-value">"large"</span> <span class="hljs-attribute">min</span>=<span class="hljs-value">{1}</span> <span class="hljs-attribute">max</span>=<span class="hljs-value">{10}</span> <span class="hljs-attribute">style</span>=<span class="hljs-value">{{width:100}}</span> <span class="hljs-attribute">defaultValue</span>=<span class="hljs-value">{3}</span> <span class="hljs-attribute">name</span>=<span class="hljs-value">"inputNumber"</span> <span class="hljs-attribute">onChange</span>=<span class="hljs-value">{this.setValue.bind(this,</span> '<span class="hljs-attribute">inputNumber</span>')} <span class="hljs-attribute">value</span>=<span class="hljs-value">{formData.inputNumber}</span> /&gt;</span>
          <span class="hljs-tag">&lt;<span class="hljs-title">span</span> <span class="hljs-attribute">className</span>=<span class="hljs-value">"ant-form-text"</span>&gt;</span> 台机器<span class="hljs-tag">&lt;/<span class="hljs-title">span</span>&gt;</span>
        <span class="hljs-tag">&lt;/<span class="hljs-title">FormItem</span>&gt;</span>

        <span class="hljs-tag">&lt;<span class="hljs-title">FormItem</span>
          <span class="hljs-attribute">label</span>=<span class="hljs-value">"我是标题："</span>
          <span class="hljs-attribute">labelCol</span>=<span class="hljs-value">{{span:</span> <span class="hljs-attribute">8</span>}}
          <span class="hljs-attribute">wrapperCol</span>=<span class="hljs-value">{{span:</span> <span class="hljs-attribute">10</span>}}
          <span class="hljs-attribute">required</span>&gt;</span>
          <span class="hljs-tag">&lt;<span class="hljs-title">p</span> <span class="hljs-attribute">className</span>=<span class="hljs-value">"ant-form-text"</span> <span class="hljs-attribute">id</span>=<span class="hljs-value">"static"</span> <span class="hljs-attribute">name</span>=<span class="hljs-value">"static"</span>&gt;</span>唧唧复唧唧木兰当户织呀<span class="hljs-tag">&lt;/<span class="hljs-title">p</span>&gt;</span>
          <span class="hljs-tag">&lt;<span class="hljs-title">p</span> <span class="hljs-attribute">className</span>=<span class="hljs-value">"ant-form-text"</span>&gt;</span>
            <span class="hljs-tag">&lt;<span class="hljs-title">a</span> <span class="hljs-attribute">href</span>=<span class="hljs-value">"#"</span>&gt;</span>链接文字<span class="hljs-tag">&lt;/<span class="hljs-title">a</span>&gt;</span>
          <span class="hljs-tag">&lt;/<span class="hljs-title">p</span>&gt;</span>
        <span class="hljs-tag">&lt;/<span class="hljs-title">FormItem</span>&gt;</span>

        <span class="hljs-tag">&lt;<span class="hljs-title">FormItem</span>
          <span class="hljs-attribute">label</span>=<span class="hljs-value">"Switch 开关："</span>
          <span class="hljs-attribute">labelCol</span>=<span class="hljs-value">{{span:</span> <span class="hljs-attribute">8</span>}}
          <span class="hljs-attribute">wrapperCol</span>=<span class="hljs-value">{{span:</span> <span class="hljs-attribute">10</span>}}
          <span class="hljs-attribute">required</span>&gt;</span>
          <span class="hljs-tag">&lt;<span class="hljs-title">Switch</span> <span class="hljs-attribute">name</span>=<span class="hljs-value">"switch"</span> <span class="hljs-attribute">onChange</span>=<span class="hljs-value">{this.setValue.bind(this,</span> '<span class="hljs-attribute">switch</span>')} <span class="hljs-attribute">value</span>=<span class="hljs-value">{formData.switch}</span> /&gt;</span>
        <span class="hljs-tag">&lt;/<span class="hljs-title">FormItem</span>&gt;</span>

        <span class="hljs-tag">&lt;<span class="hljs-title">FormItem</span>
          <span class="hljs-attribute">label</span>=<span class="hljs-value">"Slider 滑动输入条："</span>
          <span class="hljs-attribute">labelCol</span>=<span class="hljs-value">{{span:</span> <span class="hljs-attribute">8</span>}}
          <span class="hljs-attribute">wrapperCol</span>=<span class="hljs-value">{{span:</span> <span class="hljs-attribute">10</span>}}
          <span class="hljs-attribute">required</span>&gt;</span>
          <span class="hljs-tag">&lt;<span class="hljs-title">Slider</span> <span class="hljs-attribute">marks</span>=<span class="hljs-value">{['A',</span> '<span class="hljs-attribute">B</span>', '<span class="hljs-attribute">C</span>', '<span class="hljs-attribute">D</span>', '<span class="hljs-attribute">E</span>', '<span class="hljs-attribute">F</span>', '<span class="hljs-attribute">G</span>']} <span class="hljs-attribute">name</span>=<span class="hljs-value">"slider"</span> <span class="hljs-attribute">onChange</span>=<span class="hljs-value">{this.setValue.bind(this,</span> '<span class="hljs-attribute">slider</span>')} /&gt;</span>
        <span class="hljs-tag">&lt;/<span class="hljs-title">FormItem</span>&gt;</span>

        <span class="hljs-tag">&lt;<span class="hljs-title">FormItem</span>
          <span class="hljs-attribute">label</span>=<span class="hljs-value">"Select 选择器："</span>
          <span class="hljs-attribute">labelCol</span>=<span class="hljs-value">{{span:</span> <span class="hljs-attribute">8</span>}}
          <span class="hljs-attribute">wrapperCol</span>=<span class="hljs-value">{{span:</span> <span class="hljs-attribute">16</span>}}
          <span class="hljs-attribute">required</span>&gt;</span>
          <span class="hljs-tag">&lt;<span class="hljs-title">Select</span> <span class="hljs-attribute">size</span>=<span class="hljs-value">"large"</span> <span class="hljs-attribute">defaultValue</span>=<span class="hljs-value">"lucy"</span> <span class="hljs-attribute">style</span>=<span class="hljs-value">{{width:200}}</span> <span class="hljs-attribute">name</span>=<span class="hljs-value">"select"</span> <span class="hljs-attribute">onChange</span>=<span class="hljs-value">{this.setValue.bind(this,</span> '<span class="hljs-attribute">select</span>')} <span class="hljs-attribute">value</span>=<span class="hljs-value">{formData.select}</span>&gt;</span>
            <span class="hljs-tag">&lt;<span class="hljs-title">Option</span> <span class="hljs-attribute">value</span>=<span class="hljs-value">"jack"</span>&gt;</span>jack<span class="hljs-tag">&lt;/<span class="hljs-title">Option</span>&gt;</span>
            <span class="hljs-tag">&lt;<span class="hljs-title">Option</span> <span class="hljs-attribute">value</span>=<span class="hljs-value">"lucy"</span>&gt;</span>lucy<span class="hljs-tag">&lt;/<span class="hljs-title">Option</span>&gt;</span>
            <span class="hljs-tag">&lt;<span class="hljs-title">Option</span> <span class="hljs-attribute">value</span>=<span class="hljs-value">"disabled"</span> <span class="hljs-attribute">disabled</span>&gt;</span>disabled<span class="hljs-tag">&lt;/<span class="hljs-title">Option</span>&gt;</span>
            <span class="hljs-tag">&lt;<span class="hljs-title">Option</span> <span class="hljs-attribute">value</span>=<span class="hljs-value">"yiminghe"</span>&gt;</span>yiminghe<span class="hljs-tag">&lt;/<span class="hljs-title">Option</span>&gt;</span>
          <span class="hljs-tag">&lt;/<span class="hljs-title">Select</span>&gt;</span>
        <span class="hljs-tag">&lt;/<span class="hljs-title">FormItem</span>&gt;</span>

        <span class="hljs-tag">&lt;<span class="hljs-title">FormItem</span>
          <span class="hljs-attribute">label</span>=<span class="hljs-value">"DatePicker 日期选择框："</span>
          <span class="hljs-attribute">labelCol</span>=<span class="hljs-value">{{span:</span> <span class="hljs-attribute">8</span>}}
          <span class="hljs-attribute">required</span>&gt;</span>
          <span class="hljs-tag">&lt;<span class="hljs-title">Col</span> <span class="hljs-attribute">span</span>=<span class="hljs-value">"6"</span>&gt;</span>
            <span class="hljs-tag">&lt;<span class="hljs-title">DatePicker</span> <span class="hljs-attribute">name</span>=<span class="hljs-value">"startDate"</span> <span class="hljs-attribute">onChange</span>=<span class="hljs-value">{this.setValue.bind(this,</span> '<span class="hljs-attribute">startDate</span>')} <span class="hljs-attribute">value</span>=<span class="hljs-value">{formData.startDate}</span> /&gt;</span>
          <span class="hljs-tag">&lt;/<span class="hljs-title">Col</span>&gt;</span>
          <span class="hljs-tag">&lt;<span class="hljs-title">Col</span> <span class="hljs-attribute">span</span>=<span class="hljs-value">"1"</span>&gt;</span>
            <span class="hljs-tag">&lt;<span class="hljs-title">p</span> <span class="hljs-attribute">className</span>=<span class="hljs-value">"ant-form-split"</span>&gt;</span>-<span class="hljs-tag">&lt;/<span class="hljs-title">p</span>&gt;</span>
          <span class="hljs-tag">&lt;/<span class="hljs-title">Col</span>&gt;</span>
          <span class="hljs-tag">&lt;<span class="hljs-title">Col</span> <span class="hljs-attribute">span</span>=<span class="hljs-value">"6"</span>&gt;</span>
            <span class="hljs-tag">&lt;<span class="hljs-title">DatePicker</span> <span class="hljs-attribute">name</span>=<span class="hljs-value">"endDate"</span> <span class="hljs-attribute">onChange</span>=<span class="hljs-value">{this.setValue.bind(this,</span> '<span class="hljs-attribute">endDate</span>')} <span class="hljs-attribute">value</span>=<span class="hljs-value">{formData.endDate}</span> /&gt;</span>
          <span class="hljs-tag">&lt;/<span class="hljs-title">Col</span>&gt;</span>
        <span class="hljs-tag">&lt;/<span class="hljs-title">FormItem</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">FormItem</span>
          <span class="hljs-attribute">label</span>=<span class="hljs-value">"logo图："</span>
          <span class="hljs-attribute">labelCol</span>=<span class="hljs-value">{{span:</span> <span class="hljs-attribute">8</span>}}
          <span class="hljs-attribute">wrapperCol</span>=<span class="hljs-value">{{span:</span> <span class="hljs-attribute">16</span>}}
          <span class="hljs-attribute">help</span>=<span class="hljs-value">"提示信息要长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长"</span>&gt;</span>
          <span class="hljs-tag">&lt;<span class="hljs-title">Upload</span> <span class="hljs-attribute">name</span>=<span class="hljs-value">"logo"</span> <span class="hljs-attribute">action</span>=<span class="hljs-value">"/upload.do"</span> <span class="hljs-attribute">listType</span>=<span class="hljs-value">"picture"</span> <span class="hljs-attribute">onChange</span>=<span class="hljs-value">{this.handleUpload}</span>&gt;</span>
            <span class="hljs-tag">&lt;<span class="hljs-title">Button</span> <span class="hljs-attribute">type</span>=<span class="hljs-value">"ghost"</span>&gt;</span>
              <span class="hljs-tag">&lt;<span class="hljs-title">Icon</span> <span class="hljs-attribute">type</span>=<span class="hljs-value">"upload"</span> /&gt;</span> 点击上传
            <span class="hljs-tag">&lt;/<span class="hljs-title">Button</span>&gt;</span>
          <span class="hljs-tag">&lt;/<span class="hljs-title">Upload</span>&gt;</span>
        <span class="hljs-tag">&lt;/<span class="hljs-title">FormItem</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">Row</span>&gt;</span>
          <span class="hljs-tag">&lt;<span class="hljs-title">Col</span> <span class="hljs-attribute">span</span>=<span class="hljs-value">"16"</span> <span class="hljs-attribute">offset</span>=<span class="hljs-value">"8"</span>&gt;</span>
            <span class="hljs-tag">&lt;<span class="hljs-title">Button</span> <span class="hljs-attribute">type</span>=<span class="hljs-value">"primary"</span> <span class="hljs-attribute">htmlType</span>=<span class="hljs-value">"submit"</span>&gt;</span>确定<span class="hljs-tag">&lt;/<span class="hljs-title">Button</span>&gt;</span>
          <span class="hljs-tag">&lt;/<span class="hljs-title">Col</span>&gt;</span>
        <span class="hljs-tag">&lt;/<span class="hljs-title">Row</span>&gt;</span>
      <span class="hljs-tag">&lt;/<span class="hljs-title">Form</span>&gt;</span>
    )</span>;
  }
});

ReactDOM.render(<span class="xml"><span class="hljs-tag">&lt;<span class="hljs-title">Demo</span> /&gt;</span>, mountNode);</span></code></pre></div>
  </div>
  <div class="code-box-meta markdown">
    <div class="code-box-title">
      <a href="#demo-mix">表单组合</a>
    </div>
    <p>集中营，展示和表单相关的其他 ant-design 组件。</p>
    <span class="collapse anticon anticon-circle-o-right" unselectable="none" style="-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;"></span>
  </div>
</div>