<div class="code-box" id="demo-search-input">
  <div class="code-box-demo">
    <div id="components-form-demo-search-input"></div>
    <script>mountNode = document.getElementById('components-form-demo-search-input');</script>
    <script>(function(){'use strict';

var _extends = Object.assign || function (target) { for (var i = 1; i < arguments.length; i++) { var source = arguments[i]; for (var key in source) { if (Object.prototype.hasOwnProperty.call(source, key)) { target[key] = source[key]; } } } return target; };

var _antd = require('antd');

var _classnames = require('classnames');

var _classnames2 = _interopRequireDefault(_classnames);

function _interopRequireDefault(obj) { return obj && obj.__esModule ? obj : { default: obj }; }

var InputGroup = _antd.Input.Group;

var SearchInput = React.createClass({
  displayName: 'SearchInput',
  getInitialState: function getInitialState() {
    return {
      value: '',
      focus: false
    };
  },
  handleInputChange: function handleInputChange(e) {
    this.setState({
      value: e.target.value
    });
  },
  handleFocusBlur: function handleFocusBlur(e) {
    this.setState({
      focus: e.target === document.activeElement
    });
  },
  handleSearch: function handleSearch() {
    if (this.props.onSearch) {
      this.props.onSearch();
    }
  },
  render: function render() {
    var btnCls = (0, _classnames2.default)({
      'ant-search-btn': true,
      'ant-search-btn-noempty': !!this.state.value.trim()
    });
    var searchCls = (0, _classnames2.default)({
      'ant-search-input': true,
      'ant-search-input-focus': this.state.focus
    });
    return React.createElement(
      InputGroup,
      { className: searchCls, style: this.props.style },
      React.createElement(_antd.Input, _extends({}, this.props, { value: this.state.value, onChange: this.handleInputChange,
        onFocus: this.handleFocusBlur, onBlur: this.handleFocusBlur })),
      React.createElement(
        'div',
        { className: 'ant-input-group-wrap' },
        React.createElement(
          _antd.Button,
          { className: btnCls, onClick: this.handleSearch },
          React.createElement(_antd.Icon, { type: 'search' })
        )
      )
    );
  }
});

ReactDOM.render(React.createElement(SearchInput, { placeholder: 'input search text', style: { width: 200 } }), mountNode);})()</script><div class="highlight"><pre><code class="javascript"><span class="hljs-keyword">import</span> { Icon, Input, Button } <span class="hljs-keyword">from</span> <span class="hljs-string">'antd'</span>;
<span class="hljs-keyword">import</span> classNames <span class="hljs-keyword">from</span> <span class="hljs-string">'classnames'</span>;
<span class="hljs-keyword">const</span> InputGroup = Input.Group;

<span class="hljs-keyword">const</span> SearchInput = React.createClass({
  getInitialState() {
    <span class="hljs-keyword">return</span> {
      value: <span class="hljs-string">''</span>,
      focus: <span class="hljs-literal">false</span>
    };
  },
  handleInputChange(e) {
    <span class="hljs-keyword">this</span>.setState({
      value: e.target.value,
    });
  },
  handleFocusBlur(e) {
    <span class="hljs-keyword">this</span>.setState({
      focus: e.target === <span class="hljs-built_in">document</span>.activeElement,
    });
  },
  handleSearch() {
    <span class="hljs-keyword">if</span> (<span class="hljs-keyword">this</span>.props.onSearch) {
      <span class="hljs-keyword">this</span>.props.onSearch();
    }
  },
  render() {
    <span class="hljs-keyword">const</span> btnCls = classNames({
      <span class="hljs-string">'ant-search-btn'</span>: <span class="hljs-literal">true</span>,
      <span class="hljs-string">'ant-search-btn-noempty'</span>: !!<span class="hljs-keyword">this</span>.state.value.trim(),
    });
    <span class="hljs-keyword">const</span> searchCls = classNames({
      <span class="hljs-string">'ant-search-input'</span>: <span class="hljs-literal">true</span>,
      <span class="hljs-string">'ant-search-input-focus'</span>: <span class="hljs-keyword">this</span>.state.focus,
    });
    <span class="hljs-keyword">return</span> <span class="xml"><span class="hljs-tag">&lt;<span class="hljs-title">InputGroup</span> <span class="hljs-attribute">className</span>=<span class="hljs-value">{searchCls}</span> <span class="hljs-attribute">style</span>=<span class="hljs-value">{this.props.style}</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-title">Input</span> {<span class="hljs-attribute">...this.props</span>} <span class="hljs-attribute">value</span>=<span class="hljs-value">{this.state.value}</span> <span class="hljs-attribute">onChange</span>=<span class="hljs-value">{this.handleInputChange}</span>
        <span class="hljs-attribute">onFocus</span>=<span class="hljs-value">{this.handleFocusBlur}</span> <span class="hljs-attribute">onBlur</span>=<span class="hljs-value">{this.handleFocusBlur}</span> /&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">className</span>=<span class="hljs-value">"ant-input-group-wrap"</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">Button</span> <span class="hljs-attribute">className</span>=<span class="hljs-value">{btnCls}</span> <span class="hljs-attribute">onClick</span>=<span class="hljs-value">{this.handleSearch}</span>&gt;</span>
          <span class="hljs-tag">&lt;<span class="hljs-title">Icon</span> <span class="hljs-attribute">type</span>=<span class="hljs-value">"search"</span> /&gt;</span>
        <span class="hljs-tag">&lt;/<span class="hljs-title">Button</span>&gt;</span>
      <span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-title">InputGroup</span>&gt;</span>;</span>
  }
});

ReactDOM.render(
  <span class="xml"><span class="hljs-tag">&lt;<span class="hljs-title">SearchInput</span> <span class="hljs-attribute">placeholder</span>=<span class="hljs-value">"input search text"</span> <span class="hljs-attribute">style</span>=<span class="hljs-value">{{width:</span> <span class="hljs-attribute">200</span>}} /&gt;</span>
, mountNode);</span></code></pre></div>
  </div>
  <div class="code-box-meta markdown">
    <div class="code-box-title">
      <a href="#demo-search-input">搜索框</a>
    </div>
    <p>带有搜索按钮。</p>
    <span class="collapse anticon anticon-circle-o-right" unselectable="none" style="-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;"></span>
  </div>
</div>