<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <meta name="description" content="一个 UI 设计语言"/>
    <title>
TimePicker 时间选择框 - Ant Design
</title>
    <link rel="icon" href="https://t.alipayobjects.com/images/T1QUBfXo4fXXXXXXXX.png" type="image/x-icon">
    <link rel="shortcut icon" href="https://t.alipayobjects.com/images/T1QUBfXo4fXXXXXXXX.png" type="image/x-icon">
    
    <link rel="stylesheet" href="../../dist/demo.css?20160114">
    <!--[if IE 8]>
    <script src="https://t.alipayobjects.com/images/rmsweb/T1q8JiXftaXXXXXXXX.js"></script>
    <![endif]-->
    <script src="https://as.alipayobjects.com/g/component/??console-polyfill/0.2.2/index.js,es5-shim/4.1.14/es5-shim.min.js,es5-shim/4.1.14/es5-sham.min.js,html5shiv/3.7.2/html5shiv.min.js,media-match/2.0.2/media.match.min.js,jquery/1.11.3/jquery.min.js,bluebird/3.1.1/bluebird.min.js"></script>
    <script>
    (function() {
      window.ANT_COMPONENTS = [];
      window.InstantClickChangeFns = [];
      ANT_COMPONENTS.push({
        title: 'Popconfirm',
        desc: '气泡确认框'
      });
      ANT_COMPONENTS.push({
        title: 'Affix',
        desc: '固钉'
      });
      ANT_COMPONENTS.push({
        title: 'Badge',
        desc: '徽标数'
      });
      ANT_COMPONENTS.push({
        title: 'Breadcrumb',
        desc: '面包屑'
      });
      ANT_COMPONENTS.push({
        title: 'Button',
        desc: '按钮'
      });
      ANT_COMPONENTS.push({
        title: 'Calendar',
        desc: '日历'
      });
      ANT_COMPONENTS.push({
        title: 'Carousel',
        desc: '走马灯'
      });
      ANT_COMPONENTS.push({
        title: 'Checkbox',
        desc: '多选框'
      });
      ANT_COMPONENTS.push({
        title: 'Collapse',
        desc: '折叠面板'
      });
      ANT_COMPONENTS.push({
        title: 'DatePicker',
        desc: '日期选择框'
      });
      ANT_COMPONENTS.push({
        title: 'Dropdown',
        desc: '下拉菜单'
      });
      ANT_COMPONENTS.push({
        title: 'Form',
        desc: '表单'
      });
      ANT_COMPONENTS.push({
        title: 'Icon',
        desc: '图标'
      });
      ANT_COMPONENTS.push({
        title: 'InputNumber',
        desc: '数字输入框'
      });
      ANT_COMPONENTS.push({
        title: 'Layout',
        desc: '布局'
      });
      ANT_COMPONENTS.push({
        title: 'Menu',
        desc: '导航菜单'
      });
      ANT_COMPONENTS.push({
        title: 'Message',
        desc: '全局提示'
      });
      ANT_COMPONENTS.push({
        title: 'Modal',
        desc: '对话框'
      });
      ANT_COMPONENTS.push({
        title: 'Notification',
        desc: '通知提醒框'
      });
      ANT_COMPONENTS.push({
        title: 'Pagination',
        desc: '分页'
      });
      ANT_COMPONENTS.push({
        title: 'Alert',
        desc: '警告提示'
      });
      ANT_COMPONENTS.push({
        title: 'Popover',
        desc: '气泡卡片'
      });
      ANT_COMPONENTS.push({
        title: 'Progress',
        desc: '进度条'
      });
      ANT_COMPONENTS.push({
        title: 'QueueAnim',
        desc: '进出场动画'
      });
      ANT_COMPONENTS.push({
        title: 'Radio',
        desc: '单选框'
      });
      ANT_COMPONENTS.push({
        title: 'Select',
        desc: '选择器'
      });
      ANT_COMPONENTS.push({
        title: 'Slider',
        desc: '滑动输入条'
      });
      ANT_COMPONENTS.push({
        title: 'Spin',
        desc: '加载中'
      });
      ANT_COMPONENTS.push({
        title: 'Steps',
        desc: '步骤条'
      });
      ANT_COMPONENTS.push({
        title: 'Switch',
        desc: '开关'
      });
      ANT_COMPONENTS.push({
        title: 'Table',
        desc: '表格'
      });
      ANT_COMPONENTS.push({
        title: 'Tabs',
        desc: '标签页'
      });
      ANT_COMPONENTS.push({
        title: 'Tag',
        desc: '标签'
      });
      ANT_COMPONENTS.push({
        title: 'TimePicker',
        desc: '时间选择框'
      });
      ANT_COMPONENTS.push({
        title: 'Timeline',
        desc: '时间轴'
      });
      ANT_COMPONENTS.push({
        title: 'Tooltip',
        desc: '文字提示'
      });
      ANT_COMPONENTS.push({
        title: 'Transfer',
        desc: '穿梭框'
      });
      ANT_COMPONENTS.push({
        title: 'Tree',
        desc: '树形控件'
      });
      ANT_COMPONENTS.push({
        title: 'Upload',
        desc: '文件上传'
      });
      ANT_COMPONENTS.push({
        title: 'Validation',
        desc: '表单校验'
      });
      var i = location.pathname.split('/').lastIndexOf('ant-design');
      if (i > 0) {
        window.rootUrl = location.origin + location.pathname.split('/').slice(0, 2+1).join('/');
      } else {
        window.rootUrl = location.origin;
      }
    })();
    </script>
    <script>
      window.antdVersion = {
        latest: '0.11.3'
      };
    </script>
    <script src="../../dist/demo.js?20160114"></script>
    
  </head>
  <body >
    <header id="header" class="clearfix">
      <a class="logo" href="../..">
        <img width="60" src="https://t.alipayobjects.com/images/rmsweb/T1B9hfXcdvXXXXXXXX.svg">
        Ant Design
      </a>
      <div class="search">
        <div id="autoComplete"></div>
      </div>
      <nav class="nav">
        <span class="bar"></span>
        <ul>
          <li class="">
            <a href="../..">首页</a>
          </li>
          <li class="">
            <a href="../../docs/practice/cases">实践</a>
          </li>
          <li class="">
            <a href="../../docs/pattern/navigation">模式</a>
          </li>
          <li class="current">
            <a href="../../docs/react/introduce">组件</a>
          </li>
          <li class="">
            <a href="../../docs/spec/introduce">语言</a>
          </li>
          <li class="">
            <a href="../../docs/resource/download">资源</a>
          </li>
        </ul>
      </nav>
      <div class="nav-phone-icon"></div>
    </header>
    <div class="main-wrapper">
      
<aside class="aside-container">
  <ul>
      <li class="">
        <a href="../../docs/react/introduce"
           class="">
          Ant Design of React
          <span class="chinese"></span>
        </a>
      </li>
      <li class="">
        <a href="../../docs/react/getting-started"
           class="">
          快速上手
          <span class="chinese"></span>
        </a>
      </li>
      <li class="">
        <a href="../../docs/react/install"
           class="">
          安装
          <span class="chinese"></span>
        </a>
      </li>
      <li class="">
        <a href="../../docs/react/upgrade-notes"
           class="">
          升级指南
          <span class="chinese"></span>
        </a>
      </li>
      <li class="">
        <a href="../../changelog"
           class="">
          更新日志
          <span class="chinese"></span>
        </a>
      </li>
    <li open="open">
      <h4>Components</h4>
      <ul class="">
          <li class="type-divider">基本</li>
          <li class="">
            <a href="../button/"
               class="">
              Button
              <span class="chinese">按钮</span>
            </a>
          </li>
          <li class="">
            <a href="../icon/"
               class="">
              Icon
              <span class="chinese">图标</span>
            </a>
          </li>
          <li class="">
            <a href="../layout/"
               class="">
              Layout
              <span class="chinese">布局</span>
            </a>
          </li>
          <li class="type-divider">表单</li>
          <li class="">
            <a href="../checkbox/"
               class="">
              Checkbox
              <span class="chinese">多选框</span>
            </a>
          </li>
          <li class="">
            <a href="../date-picker/"
               class="">
              DatePicker
              <span class="chinese">日期选择框</span>
            </a>
          </li>
          <li class="">
            <a href="../form/"
               class="">
              Form
              <span class="chinese">表单</span>
            </a>
          </li>
          <li class="">
            <a href="../input-number/"
               class="">
              InputNumber
              <span class="chinese">数字输入框</span>
            </a>
          </li>
          <li class="">
            <a href="../radio/"
               class="">
              Radio
              <span class="chinese">单选框</span>
            </a>
          </li>
          <li class="">
            <a href="../select/"
               class="">
              Select
              <span class="chinese">选择器</span>
            </a>
          </li>
          <li class="">
            <a href="../slider/"
               class="">
              Slider
              <span class="chinese">滑动输入条</span>
            </a>
          </li>
          <li class="">
            <a href="../switch/"
               class="">
              Switch
              <span class="chinese">开关</span>
            </a>
          </li>
          <li class="current">
            <a href="./"
               class="">
              TimePicker
              <span class="chinese">时间选择框</span>
            </a>
          </li>
          <li class="">
            <a href="../transfer/"
               class="">
              Transfer
              <span class="chinese">穿梭框</span>
            </a>
          </li>
          <li class="">
            <a href="../upload/"
               class="">
              Upload
              <span class="chinese">文件上传</span>
            </a>
          </li>
          <li class="">
            <a href="../validation/"
               class="">
              Validation
              <span class="chinese">表单校验</span>
            </a>
          </li>
          <li class="type-divider">展示</li>
          <li class="">
            <a href="../alert/"
               class="">
              Alert
              <span class="chinese">警告提示</span>
            </a>
          </li>
          <li class="">
            <a href="../badge/"
               class="">
              Badge
              <span class="chinese">徽标数</span>
            </a>
          </li>
          <li class="">
            <a href="../calendar/"
               class="">
              Calendar
              <span class="chinese">日历</span>
            </a>
          </li>
          <li class="">
            <a href="../carousel/"
               class="">
              Carousel
              <span class="chinese">走马灯</span>
            </a>
          </li>
          <li class="">
            <a href="../collapse/"
               class="">
              Collapse
              <span class="chinese">折叠面板</span>
            </a>
          </li>
          <li class="">
            <a href="../dropdown/"
               class="">
              Dropdown
              <span class="chinese">下拉菜单</span>
            </a>
          </li>
          <li class="">
            <a href="../message/"
               class=""data-no-instant>
              Message
              <span class="chinese">全局提示</span>
            </a>
          </li>
          <li class="">
            <a href="../modal/"
               class="">
              Modal
              <span class="chinese">对话框</span>
            </a>
          </li>
          <li class="">
            <a href="../notification/"
               class=""data-no-instant>
              Notification
              <span class="chinese">通知提醒框</span>
            </a>
          </li>
          <li class="">
            <a href="../popconfirm/"
               class="">
              Popconfirm
              <span class="chinese">气泡确认框</span>
            </a>
          </li>
          <li class="">
            <a href="../popover/"
               class="">
              Popover
              <span class="chinese">气泡卡片</span>
            </a>
          </li>
          <li class="">
            <a href="../progress/"
               class="">
              Progress
              <span class="chinese">进度条</span>
            </a>
          </li>
          <li class="">
            <a href="../table/"
               class="">
              Table
              <span class="chinese">表格</span>
            </a>
          </li>
          <li class="">
            <a href="../tag/"
               class="">
              Tag
              <span class="chinese">标签</span>
            </a>
          </li>
          <li class="">
            <a href="../timeline/"
               class="">
              Timeline
              <span class="chinese">时间轴</span>
            </a>
          </li>
          <li class="">
            <a href="../tooltip/"
               class="">
              Tooltip
              <span class="chinese">文字提示</span>
            </a>
          </li>
          <li class="">
            <a href="../tree/"
               class="">
              Tree
              <span class="chinese">树形控件</span>
            </a>
          </li>
          <li class="type-divider">导航</li>
          <li class="">
            <a href="../breadcrumb/"
               class="">
              Breadcrumb
              <span class="chinese">面包屑</span>
            </a>
          </li>
          <li class="">
            <a href="../menu/"
               class="">
              Menu
              <span class="chinese">导航菜单</span>
            </a>
          </li>
          <li class="">
            <a href="../pagination/"
               class="">
              Pagination
              <span class="chinese">分页</span>
            </a>
          </li>
          <li class="">
            <a href="../steps/"
               class="">
              Steps
              <span class="chinese">步骤条</span>
            </a>
          </li>
          <li class="">
            <a href="../tabs/"
               class="">
              Tabs
              <span class="chinese">标签页</span>
            </a>
          </li>
          <li class="type-divider">其他</li>
          <li class="">
            <a href="../affix/"
               class="">
              Affix
              <span class="chinese">固钉</span>
            </a>
          </li>
          <li class="">
            <a href="../queue-anim/"
               class="">
              QueueAnim
              <span class="chinese">进出场动画</span>
            </a>
          </li>
          <li class="">
            <a href="../spin/"
               class="">
              Spin
              <span class="chinese">加载中</span>
            </a>
          </li>
      </ul>
    </li>
  </ul>
</aside>
 
<section class="main-container">
  <article class="markdown">
    <h1>
      TimePicker 时间选择框
    </h1>
    <p>输入或选择时间的控件。</p>
<h2 id="何时使用">何时使用<a href="#何时使用" class="anchor">#</a> </h2><p>当用户需要输入一个时间，可以点击标准输入框，弹出时间面板进行选择。</p>
<h2 id="api">API<a href="#api" class="anchor">#</a> </h2><div class="highlight"><pre><code class="xml"><span class="hljs-tag">&lt;<span class="hljs-title">TimePicker</span> <span class="hljs-attribute">defaultValue</span>=<span class="hljs-value">"13:30:56"</span> /&gt;</span></code></pre></div><blockquote>
<p>注意：<code>0.11+</code> 后 <code>Timepicker</code> 改名为 <code>TimePicker</code>。</p>
</blockquote>
<table>
<thead>
<tr>
<th>参数</th>
<th>说明</th>
<th>类型</th>
<th>默认值</th>
</tr>
</thead>
<tbody>
<tr>
<td>defaultValue</td>
<td>初始默认时间</td>
<td>string</td>
<td>无</td>
</tr>
<tr>
<td>value</td>
<td>默认时间</td>
<td>string</td>
<td>无</td>
</tr>
<tr>
<td>placeholder</td>
<td>没有值的时候显示的内容</td>
<td>string</td>
<td>&quot;请选择时间&quot;</td>
</tr>
<tr>
<td>onChange</td>
<td>时间发生变化的回调</td>
<td>function(Date value)</td>
<td>无</td>
</tr>
<tr>
<td>format</td>
<td>展示的时间格式</td>
<td>string</td>
<td>&quot;HH:mm:ss&quot;、&quot;HH:mm&quot;、&quot;mm:ss&quot;</td>
</tr>
<tr>
<td>disabled</td>
<td>禁用全部操作</td>
<td>bool</td>
<td>false</td>
</tr>
<tr>
<td>disabledHours</td>
<td>禁止选择部分小时选项</td>
<td>function()</td>
<td>无</td>
</tr>
<tr>
<td>disabledMinutes</td>
<td>禁止选择部分分钟选项</td>
<td>function(selectedHour)</td>
<td>无</td>
</tr>
<tr>
<td>disabledSeconds</td>
<td>禁止选择部分秒选项</td>
<td>function(selectedHour, selectedMinute)</td>
<td>无</td>
</tr>
<tr>
<td>hideDisabledOptions</td>
<td>隐藏禁止选择的选项</td>
<td>boolean</td>
<td>false</td>
</tr>
<tr>
<td>locale</td>
<td>国际化配置</td>
<td>Object</td>
<td><a href="https://github.com/ant-design/ant-design/issues/424">默认配置</a></td>
</tr>
</tbody>
</table>
<style>.code-box-demo .ant-time-picker { margin: 0 8px 12px 0; }</style>

  </article>
<h2 class="component-demos">
  代码演示
  <i class="anticon anticon-appstore icon-all" title="展开全部代码"></i>
</h2>
<div class="code-boxes">
  <div class="code-boxes-col-2-1"><div class="code-box" id="picker-demo-basic">
  <div class="code-box-demo">
    <div id="components-time-picker-demo-basic"></div>
    <script>mountNode = document.getElementById('components-time-picker-demo-basic');</script>
    <script>(function(){'use strict';

var _antd = require('antd');

function onChange(time) {
  if (time) {
    console.log(time.toLocaleTimeString('zh-CN', { hour12: false }));
  }
}

ReactDOM.render(React.createElement(_antd.TimePicker, { onChange: onChange }), mountNode);})()</script><div class="highlight"><pre><code class="javascript"><span class="hljs-keyword">import</span> { TimePicker } <span class="hljs-keyword">from</span> <span class="hljs-string">'antd'</span>;

<span class="hljs-function"><span class="hljs-keyword">function</span> <span class="hljs-title">onChange</span>(<span class="hljs-params">time</span>) </span>{
  <span class="hljs-keyword">if</span> (time) {
    <span class="hljs-built_in">console</span>.log(time.toLocaleTimeString(<span class="hljs-string">'zh-CN'</span>, { hour12: <span class="hljs-literal">false</span> }));
  }
}

ReactDOM.render(
  <span class="xml"><span class="hljs-tag">&lt;<span class="hljs-title">TimePicker</span> <span class="hljs-attribute">onChange</span>=<span class="hljs-value">{onChange}</span> /&gt;</span>
, mountNode);</span></code></pre></div>
  </div>
  <div class="code-box-meta markdown">
    <div class="code-box-title">
      <a href="#picker-demo-basic">基本</a>
    </div>
    <p>最简单的用法。</p>
    <span class="collapse anticon anticon-circle-o-right" unselectable="none" style="-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;"></span>
  </div>
</div><div class="code-box" id="picker-demo-size">
  <div class="code-box-demo">
    <div id="components-time-picker-demo-size"></div>
    <script>mountNode = document.getElementById('components-time-picker-demo-size');</script>
    <script>(function(){"use strict";

var _antd = require("antd");

ReactDOM.render(React.createElement(
  "div",
  null,
  React.createElement(_antd.TimePicker, { defaultValue: "12:08:23", size: "large" }),
  React.createElement(_antd.TimePicker, { defaultValue: "12:08:23" }),
  React.createElement(_antd.TimePicker, { defaultValue: "12:08:23", size: "small" })
), mountNode);})()</script><div class="highlight"><pre><code class="javascript"><span class="hljs-keyword">import</span> { TimePicker } <span class="hljs-keyword">from</span> <span class="hljs-string">'antd'</span>;

ReactDOM.render(
  <span class="xml"><span class="hljs-tag">&lt;<span class="hljs-title">div</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-title">TimePicker</span> <span class="hljs-attribute">defaultValue</span>=<span class="hljs-value">"12:08:23"</span> <span class="hljs-attribute">size</span>=<span class="hljs-value">"large"</span> /&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-title">TimePicker</span> <span class="hljs-attribute">defaultValue</span>=<span class="hljs-value">"12:08:23"</span> /&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-title">TimePicker</span> <span class="hljs-attribute">defaultValue</span>=<span class="hljs-value">"12:08:23"</span> <span class="hljs-attribute">size</span>=<span class="hljs-value">"small"</span> /&gt;</span>
  <span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
, mountNode);</span></code></pre></div>
  </div>
  <div class="code-box-meta markdown">
    <div class="code-box-title">
      <a href="#picker-demo-size">三种大小</a>
    </div>
    <p>三种大小的输入框，大的用在表单中，中的为默认。</p>
    <span class="collapse anticon anticon-circle-o-right" unselectable="none" style="-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;"></span>
  </div>
</div><div class="code-box" id="picker-demo-disabled">
  <div class="code-box-demo">
    <div id="components-time-picker-demo-disabled"></div>
    <script>mountNode = document.getElementById('components-time-picker-demo-disabled');</script>
    <script>(function(){"use strict";

var _antd = require("antd");

ReactDOM.render(React.createElement(_antd.TimePicker, { defaultValue: "12:08:23", disabled: true }), mountNode);})()</script><div class="highlight"><pre><code class="javascript"><span class="hljs-keyword">import</span> { TimePicker } <span class="hljs-keyword">from</span> <span class="hljs-string">'antd'</span>;

ReactDOM.render(
  <span class="xml"><span class="hljs-tag">&lt;<span class="hljs-title">TimePicker</span> <span class="hljs-attribute">defaultValue</span>=<span class="hljs-value">"12:08:23"</span> <span class="hljs-attribute">disabled</span> /&gt;</span>
, mountNode);</span></code></pre></div>
  </div>
  <div class="code-box-meta markdown">
    <div class="code-box-title">
      <a href="#picker-demo-disabled">禁用</a>
    </div>
    <p>禁用时间选择。</p>
    <span class="collapse anticon anticon-circle-o-right" unselectable="none" style="-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;"></span>
  </div>
</div><div class="code-box" id="picker-demo-hide-options">
  <div class="code-box-demo">
    <div id="components-time-picker-demo-hide-options"></div>
    <script>mountNode = document.getElementById('components-time-picker-demo-hide-options');</script>
    <script>(function(){'use strict';

var _antd = require('antd');

function newArray(start, end) {
  var result = [];
  for (var i = start; i < end; i++) {
    result.push(i);
  }
  return result;
}

function disabledMinutes() {
  return newArray(0, 60).filter(function (value) {
    return value % 10 !== 0;
  });
}

function disabledSeconds() {
  return newArray(0, 60).filter(function (value) {
    return value % 30 !== 0;
  });
}

ReactDOM.render(React.createElement(_antd.TimePicker, { disabledMinutes: disabledMinutes, disabledSeconds: disabledSeconds, hideDisabledOptions: true }), mountNode);})()</script><div class="highlight"><pre><code class="javascript"><span class="hljs-keyword">import</span> { TimePicker } <span class="hljs-keyword">from</span> <span class="hljs-string">'antd'</span>;

<span class="hljs-function"><span class="hljs-keyword">function</span> <span class="hljs-title">newArray</span>(<span class="hljs-params">start, end</span>) </span>{
  <span class="hljs-keyword">let</span> result = [];
  <span class="hljs-keyword">for</span> (<span class="hljs-keyword">let</span> i = start; i &lt; end; i++) {
    result.push(i);
  }
  <span class="hljs-keyword">return</span> result;
}

<span class="hljs-function"><span class="hljs-keyword">function</span> <span class="hljs-title">disabledMinutes</span>(<span class="hljs-params"></span>) </span>{
  <span class="hljs-keyword">return</span> newArray(<span class="hljs-number">0</span>, <span class="hljs-number">60</span>).filter(value =&gt; value % <span class="hljs-number">10</span> !== <span class="hljs-number">0</span>);
}

<span class="hljs-function"><span class="hljs-keyword">function</span> <span class="hljs-title">disabledSeconds</span>(<span class="hljs-params"></span>) </span>{
  <span class="hljs-keyword">return</span> newArray(<span class="hljs-number">0</span>, <span class="hljs-number">60</span>).filter(value =&gt; value % <span class="hljs-number">30</span> !== <span class="hljs-number">0</span>);
}

ReactDOM.render(
  <span class="xml"><span class="hljs-tag">&lt;<span class="hljs-title">TimePicker</span> <span class="hljs-attribute">disabledMinutes</span>=<span class="hljs-value">{disabledMinutes}</span> <span class="hljs-attribute">disabledSeconds</span>=<span class="hljs-value">{disabledSeconds}</span> <span class="hljs-attribute">hideDisabledOptions</span> /&gt;</span>
, mountNode);</span></code></pre></div>
  </div>
  <div class="code-box-meta markdown">
    <div class="code-box-title">
      <a href="#picker-demo-hide-options">只显示部分选项</a>
    </div>
    <p>通过 <code>hideDisabledOptions</code> 将不可选的选项隐藏。</p>
    <span class="collapse anticon anticon-circle-o-right" unselectable="none" style="-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;"></span>
  </div>
</div>
  </div>
  <div class="code-boxes-col-2-1"><div class="code-box" id="picker-demo-value">
  <div class="code-box-demo">
    <div id="components-time-picker-demo-value"></div>
    <script>mountNode = document.getElementById('components-time-picker-demo-value');</script>
    <script>(function(){'use strict';

var _antd = require('antd');

var Test = React.createClass({
  displayName: 'Test',
  getInitialState: function getInitialState() {
    return {
      value: null
    };
  },
  onChange: function onChange(time) {
    time = time && time.toLocaleTimeString('zh-CN', {
      hour12: false
    });
    console.log(time);
    this.setState({ time: time });
  },
  render: function render() {
    return React.createElement(_antd.TimePicker, { value: this.state.value, onChange: this.onChange });
  }
});

ReactDOM.render(React.createElement(Test, null), mountNode);})()</script><div class="highlight"><pre><code class="javascript"><span class="hljs-keyword">import</span> { TimePicker } <span class="hljs-keyword">from</span> <span class="hljs-string">'antd'</span>;

<span class="hljs-keyword">const</span> Test = React.createClass({
  getInitialState() {
    <span class="hljs-keyword">return</span> {
      value: <span class="hljs-literal">null</span>,
    };
  },
  onChange(time) {
    time = time &amp;&amp; time.toLocaleTimeString(<span class="hljs-string">'zh-CN'</span>, {
      hour12: <span class="hljs-literal">false</span>
    });
    <span class="hljs-built_in">console</span>.log(time);
    <span class="hljs-keyword">this</span>.setState({ time });
  },
  render() {
    <span class="hljs-keyword">return</span> <span class="xml"><span class="hljs-tag">&lt;<span class="hljs-title">TimePicker</span> <span class="hljs-attribute">value</span>=<span class="hljs-value">{this.state.value}</span> <span class="hljs-attribute">onChange</span>=<span class="hljs-value">{this.onChange}</span> /&gt;</span>;</span>
  }
});

ReactDOM.render(<span class="xml"><span class="hljs-tag">&lt;<span class="hljs-title">Test</span> /&gt;</span>, mountNode);</span></code></pre></div>
  </div>
  <div class="code-box-meta markdown">
    <div class="code-box-title">
      <a href="#picker-demo-value">受控组件</a>
    </div>
    <p>value 和 onChange 需要配合使用。</p>
    <span class="collapse anticon anticon-circle-o-right" unselectable="none" style="-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;"></span>
  </div>
</div><div class="code-box" id="picker-demo-without-seconds">
  <div class="code-box-demo">
    <div id="components-time-picker-demo-without-seconds"></div>
    <script>mountNode = document.getElementById('components-time-picker-demo-without-seconds');</script>
    <script>(function(){"use strict";

var _antd = require("antd");

ReactDOM.render(React.createElement(_antd.TimePicker, { defaultValue: "12:08:23", format: "HH:mm" }), mountNode);})()</script><div class="highlight"><pre><code class="javascript"><span class="hljs-keyword">import</span> { TimePicker } <span class="hljs-keyword">from</span> <span class="hljs-string">'antd'</span>;

ReactDOM.render(
  <span class="xml"><span class="hljs-tag">&lt;<span class="hljs-title">TimePicker</span> <span class="hljs-attribute">defaultValue</span>=<span class="hljs-value">"12:08:23"</span> <span class="hljs-attribute">format</span>=<span class="hljs-value">"HH:mm"</span> /&gt;</span>
, mountNode);</span></code></pre></div>
  </div>
  <div class="code-box-meta markdown">
    <div class="code-box-title">
      <a href="#picker-demo-without-seconds">不展示秒</a>
    </div>
    <p>不展示秒，也不允许选择。</p>
    <span class="collapse anticon anticon-circle-o-right" unselectable="none" style="-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;"></span>
  </div>
</div><div class="code-box" id="picker-demo-disable-options">
  <div class="code-box-demo">
    <div id="components-time-picker-demo-disable-options"></div>
    <script>mountNode = document.getElementById('components-time-picker-demo-disable-options');</script>
    <script>(function(){'use strict';

var _antd = require('antd');

function newArray(start, end) {
  var result = [];
  for (var i = start; i < end; i++) {
    result.push(i);
  }
  return result;
}

function disabledHours() {
  var hours = newArray(0, 60);
  hours.splice(20, 4);
  return hours;
}

function disabledMinutes(h) {
  if (h === 20) {
    return newArray(0, 31);
  } else if (h === 23) {
    return newArray(30, 60);
  } else {
    return [];
  }
}

ReactDOM.render(React.createElement(_antd.TimePicker, { disabledHours: disabledHours, disabledMinutes: disabledMinutes }), mountNode);})()</script><div class="highlight"><pre><code class="javascript"><span class="hljs-keyword">import</span> { TimePicker } <span class="hljs-keyword">from</span> <span class="hljs-string">'antd'</span>;

<span class="hljs-function"><span class="hljs-keyword">function</span> <span class="hljs-title">newArray</span>(<span class="hljs-params">start, end</span>) </span>{
  <span class="hljs-keyword">let</span> result = [];
  <span class="hljs-keyword">for</span> (<span class="hljs-keyword">let</span> i = start; i &lt; end; i++) {
    result.push(i);
  }
  <span class="hljs-keyword">return</span> result;
}

<span class="hljs-function"><span class="hljs-keyword">function</span> <span class="hljs-title">disabledHours</span>(<span class="hljs-params"></span>) </span>{
  <span class="hljs-keyword">let</span> hours = newArray(<span class="hljs-number">0</span>, <span class="hljs-number">60</span>);
  hours.splice(<span class="hljs-number">20</span>, <span class="hljs-number">4</span>);
  <span class="hljs-keyword">return</span> hours;
}

<span class="hljs-function"><span class="hljs-keyword">function</span> <span class="hljs-title">disabledMinutes</span>(<span class="hljs-params">h</span>) </span>{
  <span class="hljs-keyword">if</span> (h === <span class="hljs-number">20</span>) {
    <span class="hljs-keyword">return</span> newArray(<span class="hljs-number">0</span>, <span class="hljs-number">31</span>);
  } <span class="hljs-keyword">else</span> <span class="hljs-keyword">if</span> (h === <span class="hljs-number">23</span>) {
    <span class="hljs-keyword">return</span> newArray(<span class="hljs-number">30</span>, <span class="hljs-number">60</span>);
  } <span class="hljs-keyword">else</span> {
    <span class="hljs-keyword">return</span> [];
  }
}

ReactDOM.render(
  <span class="xml"><span class="hljs-tag">&lt;<span class="hljs-title">TimePicker</span> <span class="hljs-attribute">disabledHours</span>=<span class="hljs-value">{disabledHours}</span> <span class="hljs-attribute">disabledMinutes</span>=<span class="hljs-value">{disabledMinutes}</span> /&gt;</span>
, mountNode);</span></code></pre></div>
  </div>
  <div class="code-box-meta markdown">
    <div class="code-box-title">
      <a href="#picker-demo-disable-options">禁止选项</a>
    </div>
    <p>限制选择 <code>20:30</code> 到 <code>23:30</code> 这个时间段。</p>
    <span class="collapse anticon anticon-circle-o-right" unselectable="none" style="-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;"></span>
  </div>
</div>
  </div>
</div>
<ul class="toc demos-anchor">
  <li>
    <a title="基本" href="#picker-demo-basic">
      <span>基本</span>
    </a>
  </li>
  <li>
    <a title="受控组件" href="#picker-demo-value">
      <span>受控组件</span>
    </a>
  </li>
  <li>
    <a title="三种大小" href="#picker-demo-size">
      <span>三种大小</span>
    </a>
  </li>
  <li>
    <a title="不展示秒" href="#picker-demo-without-seconds">
      <span>不展示秒</span>
    </a>
  </li>
  <li>
    <a title="禁用" href="#picker-demo-disabled">
      <span>禁用</span>
    </a>
  </li>
  <li>
    <a title="禁止选项" href="#picker-demo-disable-options">
      <span>禁止选项</span>
    </a>
  </li>
  <li>
    <a title="只显示部分选项" href="#picker-demo-hide-options">
      <span>只显示部分选项</span>
    </a>
  </li>
</ul>
  <div class="api-container markdown"></div>
</section>

    </div><footer id="footer">
  <ul>
    <li>
      <h2>GitHub</h2>
      <a target="_blank "href="https://github.com/ant-design/ant-design">仓库</a>
      <a target="_blank" href="https://github.com/ant-design/antd-init">脚手架</a>
      <a target="_blank" href="http://ant-tool.github.io/">开发工具</a>
    </li>
    <li>
      <h2>关于我们</h2>
      <a target="_blank" href="https://github.com/ant-ued/blog">博客 - Ant UED</a>
    </li>
    <li>
      <h2>联系我们</h2>
      <a target="_blank" href="https://github.com/ant-design/ant-design/issues">反馈和建议</a>
      <a target="_blank" href="https://gitter.im/ant-design/ant-design">讨论</a>
      <a target="_blank" href="http://dwz.cn/2AF9ao">报告 Bug</a>
    </li>
    <li>
      <div>©2015 蚂蚁金服体验技术部出品</div>
      <div>文档版本：<span id="versions-select"></span></div>
    </li>
  </ul>
</footer>
    <script data-no-instant>
    if (!location.port) {
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-72788897-1', 'auto');
      ga('send', 'pageview');
      InstantClick.on('change', function() {
        ga('send', 'pageview', location.pathname + location.search);
      });
    }
    </script>
    <script data-no-instant>
      InstantClick.on('change', function() {
        InstantClickChangeFns.forEach(function(fn) {
          fn();
        });
      });
      InstantClick.init();
    </script>
  </body>
</html>