<div class="code-box" id="demo-changer">
  <div class="code-box-demo">
    <div id="components-pagination-demo-changer"></div>
    <script>(function(){'use strict';

var Pagination = antd.Pagination;

function onChange(page) {
  console.log(page);
}

function onShowSizeChange(current, pageSize) {
  console.log(current, pageSize);
}

React.render(React.createElement(Pagination, { showSizeChanger: true, onShowSizeChange: onShowSizeChange, onChange: onChange, total: 500 }), document.getElementById('components-pagination-demo-changer'));})()</script><div class="highlight"><pre><code class="javascript"><span class="keyword">var</span> Pagination = antd.Pagination;

<span class="function"><span class="keyword">function</span> <span class="title">onChange</span><span class="params">(page)</span> {</span>
  console.log(page);
}

<span class="function"><span class="keyword">function</span> <span class="title">onShowSizeChange</span><span class="params">(current, pageSize)</span> {</span>
  console.log(current, pageSize);
}

React.render(
  <span class="xml"><span class="tag">&lt;<span class="title">Pagination</span> <span class="attribute">showSizeChanger</span>=<span class="value">{true}</span> <span class="attribute">onShowSizeChange</span>=<span class="value">{onShowSizeChange}</span> <span class="attribute">onChange</span>=<span class="value">{onChange}</span> <span class="attribute">total</span>=<span class="value">{500}</span> /&gt;</span>,
 document.getElementById('components-pagination-demo-changer'));</span></code></pre></div>
  </div>
  <div class="code-box-meta markdown">
    <div class="code-box-title">
      <a href="#demo-changer">改变</a>
    </div>
    <p>改变每页显示条目数。</p>
    <span class="collapse anticon anticon-circle-o-right" unselectable="none" style="-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;"></span>
  </div>
</div>