<div class="code-box" id="demo-more">
  <div class="code-box-demo">
    <div id="components-pagination-demo-more"></div>
    <script>(function(){'use strict';

var Pagination = antd.Pagination;

function onChange(page) {
  console.log(page);
}

React.render(React.createElement(Pagination, { onChange: onChange, total: 500 }), document.getElementById('components-pagination-demo-more'));})()</script><div class="highlight"><pre><code class="javascript"><span class="keyword">var</span> Pagination = antd.Pagination;

<span class="function"><span class="keyword">function</span> <span class="title">onChange</span><span class="params">(page)</span> {</span>
  console.log(page);
}

React.render(
  <span class="xml"><span class="tag">&lt;<span class="title">Pagination</span> <span class="attribute">onChange</span>=<span class="value">{onChange}</span> <span class="attribute">total</span>=<span class="value">{500}</span> /&gt;</span>,
 document.getElementById('components-pagination-demo-more'));</span></code></pre></div>
  </div>
  <div class="code-box-meta markdown">
    <div class="code-box-title">
      <a href="#demo-more">更多</a>
    </div>
    <p>更多分页。</p>
    <span class="collapse anticon anticon-circle-o-right" unselectable="none" style="-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;"></span>
  </div>
</div>