<div class="code-box" id="picker-demo-locale">
  <div class="code-box-demo">
    <div id="components-date-picker-demo-locale"></div>
    <script>mountNode = document.getElementById('components-date-picker-demo-locale');</script>
    <script>(function(){'use strict';

var _extends = Object.assign || function (target) { for (var i = 1; i < arguments.length; i++) { var source = arguments[i]; for (var key in source) { if (Object.prototype.hasOwnProperty.call(source, key)) { target[key] = source[key]; } } } return target; };

var _antd = require('antd');

var _en_US = require('antd/lib/date-picker/locale/en_US');

var _en_US2 = _interopRequireDefault(_en_US);

function _interopRequireDefault(obj) { return obj && obj.__esModule ? obj : { default: obj }; }

var App = React.createClass({
  displayName: 'App',
  render: function render() {
    var customLocale = {
      timezoneOffset: 0 * 60,
      firstDayOfWeek: 0,
      minimalDaysInFirstWeek: 1
    };
    return React.createElement(_antd.DatePicker, { locale: _extends({}, _en_US2.default, customLocale) });
  }
});

ReactDOM.render(React.createElement(App, null), mountNode);})()</script><div class="highlight"><pre><code class="javascript"><span class="hljs-keyword">import</span> { DatePicker } <span class="hljs-keyword">from</span> <span class="hljs-string">'antd'</span>;
<span class="hljs-keyword">import</span> enUS <span class="hljs-keyword">from</span> <span class="hljs-string">'antd/lib/date-picker/locale/en_US'</span>;

<span class="hljs-keyword">const</span> App = React.createClass({
  render() {
    <span class="hljs-keyword">const</span> customLocale = {
      timezoneOffset: <span class="hljs-number">0</span> * <span class="hljs-number">60</span>,
      firstDayOfWeek: <span class="hljs-number">0</span>,
      minimalDaysInFirstWeek: <span class="hljs-number">1</span>,
    };
    <span class="hljs-keyword">return</span> <span class="xml"><span class="hljs-tag">&lt;<span class="hljs-title">DatePicker</span> <span class="hljs-attribute">locale</span>=<span class="hljs-value">{{</span> <span class="hljs-attribute">...enUS</span>, <span class="hljs-attribute">...customLocale</span> }} /&gt;</span>;</span>
  }
});

ReactDOM.render(<span class="xml"><span class="hljs-tag">&lt;<span class="hljs-title">App</span> /&gt;</span>, mountNode);</span></code></pre></div>
  </div>
  <div class="code-box-meta markdown">
    <div class="code-box-title">
      <a href="#picker-demo-locale">国际化</a>
    </div>
    
<p>通过 <code>locale</code> 配置时区、语言等, 默认支持 <code>en_US</code>，<code>zh_CN</code>。</p>

    <span class="collapse anticon anticon-circle-o-right" unselectable="none"></span>
  </div>
</div>