<div class="code-box" id="demo-beforeupload">
  <div class="code-box-demo">
    <div id="components-upload-demo-beforeupload"></div>
    <script>mountNode = document.getElementById('components-upload-demo-beforeupload');</script>
    <script>(function(){'use strict';

var _antd = require('antd');

var props = {
  action: '/upload.do',
  beforeUpload: function beforeUpload(file) {
    var isJPG = file.type === 'image/jpeg';
    if (!isJPG) {
      _antd.message.error('只能上传 JPG 文件哦！');
    }
    return isJPG;
  }
};

ReactDOM.render(React.createElement(
  _antd.Upload,
  props,
  React.createElement(
    _antd.Button,
    { type: 'ghost' },
    React.createElement(_antd.Icon, { type: 'upload' }),
    ' 点击上传'
  )
), mountNode);})()</script><div class="highlight"><pre><code class="javascript"><span class="hljs-keyword">import</span> { Upload, Button, Icon, message } <span class="hljs-keyword">from</span> <span class="hljs-string">'antd'</span>;

<span class="hljs-keyword">const</span> props = {
  action: <span class="hljs-string">'/upload.do'</span>,
  beforeUpload: <span class="hljs-function"><span class="hljs-keyword">function</span>(<span class="hljs-params">file</span>) </span>{
    <span class="hljs-keyword">const</span> isJPG = file.type === <span class="hljs-string">'image/jpeg'</span>;
    <span class="hljs-keyword">if</span> (!isJPG) {
      message.error(<span class="hljs-string">'只能上传 JPG 文件哦！'</span>);
    }
    <span class="hljs-keyword">return</span> isJPG;
  }
};

ReactDOM.render(
  <span class="xml"><span class="hljs-tag">&lt;<span class="hljs-title">Upload</span> {<span class="hljs-attribute">...props</span>}&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-title">Button</span> <span class="hljs-attribute">type</span>=<span class="hljs-value">"ghost"</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-title">Icon</span> <span class="hljs-attribute">type</span>=<span class="hljs-value">"upload"</span> /&gt;</span> 点击上传
    <span class="hljs-tag">&lt;/<span class="hljs-title">Button</span>&gt;</span>
  <span class="hljs-tag">&lt;/<span class="hljs-title">Upload</span>&gt;</span>
, mountNode);</span></code></pre></div>
  </div>
  <div class="code-box-meta markdown">
    <div class="code-box-title">
      <a href="#demo-beforeupload">限制用户上传的文件</a>
    </div>
    <p>可以通过 <code>beforeUpload</code> 在文件上传之前进行干预，如限制用户只能上传 JPG 文件。</p>
    <span class="collapse anticon anticon-circle-o-right" unselectable="none" style="-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;"></span>
  </div>
</div>