<div class="code-box" id="anim-demo-change">
  <div class="code-box-demo">
    <div id="components-queue-anim-demo-change"></div>
    <script>(function(){"use strict";

var _antd = require('antd');

var Test = React.createClass({
  displayName: "Test",

  getInitialState: function getInitialState() {
    return {
      show: true,
      items: [React.createElement("li", { key: "0" }), React.createElement("li", { key: "1" }), React.createElement("li", { key: "2" })]
    };
  },
  onClick: function onClick() {
    this.setState({
      show: !this.state.show
    });
  },
  onAdd: function onAdd() {
    var items = this.state.items;
    items.push(React.createElement("li", { key: Date.now() }));
    this.setState({
      show: true,
      items: items
    });
  },
  onRemove: function onRemove() {
    var items = this.state.items;
    items.splice(items.length - 1, 1);
    this.setState({
      show: true,
      items: items
    });
  },
  render: function render() {
    return React.createElement(
      "div",
      null,
      React.createElement(
        "p",
        { className: "buttons" },
        React.createElement(
          _antd.Button,
          { type: "primary", onClick: this.onClick },
          "切换"
        ),
        React.createElement(
          _antd.Button,
          { onClick: this.onAdd, style: { marginLeft: 10 } },
          "添加"
        ),
        React.createElement(
          _antd.Button,
          { onClick: this.onRemove, style: { marginLeft: 10 } },
          "删除"
        )
      ),
      React.createElement(
        "div",
        { className: "demo-content" },
        React.createElement(
          "div",
          { className: "demo-listBox", key: "b" },
          React.createElement(
            "div",
            { className: "demo-list" },
            React.createElement("div", { className: "title" }),
            React.createElement(
              _antd.QueueAnim,
              { component: "ul", type: ['right', 'left'] },
              this.state.show ? this.state.items : null
            )
          )
        )
      )
    );
  }
});

ReactDOM.render(React.createElement(Test, null), document.getElementById('components-queue-anim-demo-change'));})()</script><div class="highlight"><pre><code class="javascript"><span class="hljs-keyword">import</span> { QueueAnim, Button } <span class="hljs-keyword">from</span> <span class="hljs-string">'antd'</span>;

<span class="hljs-keyword">const</span> Test = React.createClass({
  getInitialState() {
    <span class="hljs-keyword">return</span> {
      show: <span class="hljs-literal">true</span>,
      items: [
        <span class="xml"><span class="hljs-tag">&lt;<span class="hljs-title">li</span> <span class="hljs-attribute">key</span>=<span class="hljs-value">"0"</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-title">li</span>&gt;</span>,
        <span class="hljs-tag">&lt;<span class="hljs-title">li</span> <span class="hljs-attribute">key</span>=<span class="hljs-value">"1"</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-title">li</span>&gt;</span>,
        <span class="hljs-tag">&lt;<span class="hljs-title">li</span> <span class="hljs-attribute">key</span>=<span class="hljs-value">"2"</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-title">li</span>&gt;</span>
      ]</span>,
    };
  },
  onClick() {
    <span class="hljs-keyword">this</span>.setState({
      show: !<span class="hljs-keyword">this</span>.state.show,
    });
  },
  onAdd() {
    <span class="hljs-keyword">let</span> items = <span class="hljs-keyword">this</span>.state.items;
    items.push(<span class="xml"><span class="hljs-tag">&lt;<span class="hljs-title">li</span> <span class="hljs-attribute">key</span>=<span class="hljs-value">{Date.now()}</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-title">li</span>&gt;</span>)</span>;
    <span class="hljs-keyword">this</span>.setState({
      show: <span class="hljs-literal">true</span>,
      items: items,
    });
  },
  onRemove() {
    <span class="hljs-keyword">let</span> items = <span class="hljs-keyword">this</span>.state.items;
    items.splice(items.length - <span class="hljs-number">1</span>, <span class="hljs-number">1</span>);
    <span class="hljs-keyword">this</span>.setState({
      show: <span class="hljs-literal">true</span>,
      items: items,
    });
  },
  render() {
    <span class="hljs-keyword">return</span> (
      <span class="xml"><span class="hljs-tag">&lt;<span class="hljs-title">div</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">p</span> <span class="hljs-attribute">className</span>=<span class="hljs-value">"buttons"</span>&gt;</span>
          <span class="hljs-tag">&lt;<span class="hljs-title">Button</span> <span class="hljs-attribute">type</span>=<span class="hljs-value">"primary"</span> <span class="hljs-attribute">onClick</span>=<span class="hljs-value">{this.onClick}</span>&gt;</span>切换<span class="hljs-tag">&lt;/<span class="hljs-title">Button</span>&gt;</span>
          <span class="hljs-tag">&lt;<span class="hljs-title">Button</span> <span class="hljs-attribute">onClick</span>=<span class="hljs-value">{this.onAdd}</span> <span class="hljs-attribute">style</span>=<span class="hljs-value">{{marginLeft:10}}</span>&gt;</span>添加<span class="hljs-tag">&lt;/<span class="hljs-title">Button</span>&gt;</span>
          <span class="hljs-tag">&lt;<span class="hljs-title">Button</span> <span class="hljs-attribute">onClick</span>=<span class="hljs-value">{this.onRemove}</span> <span class="hljs-attribute">style</span>=<span class="hljs-value">{{marginLeft:10}}</span>&gt;</span>删除<span class="hljs-tag">&lt;/<span class="hljs-title">Button</span>&gt;</span>
        <span class="hljs-tag">&lt;/<span class="hljs-title">p</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">className</span>=<span class="hljs-value">"demo-content"</span>&gt;</span>
            <span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">className</span>=<span class="hljs-value">"demo-listBox"</span> <span class="hljs-attribute">key</span>=<span class="hljs-value">"b"</span>&gt;</span>
              <span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">className</span>=<span class="hljs-value">"demo-list"</span>&gt;</span>
                <span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">className</span>=<span class="hljs-value">"title"</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
                <span class="hljs-tag">&lt;<span class="hljs-title">QueueAnim</span> <span class="hljs-attribute">component</span>=<span class="hljs-value">"ul"</span> <span class="hljs-attribute">type</span>=<span class="hljs-value">{['right',</span> '<span class="hljs-attribute">left</span>']}&gt;</span>
                  {this.state.show ? this.state.items : null}
                <span class="hljs-tag">&lt;/<span class="hljs-title">QueueAnim</span>&gt;</span>
              <span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
            <span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
        <span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
      <span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
    )</span>;
  }
});

ReactDOM.render(<span class="xml"><span class="hljs-tag">&lt;<span class="hljs-title">Test</span> /&gt;</span>, document.getElementById('components-queue-anim-demo-change'));</span></code></pre></div>
  </div>
  <div class="code-box-meta markdown">
    <div class="code-box-title">
      <a href="#anim-demo-change">添加与删除</a>
    </div>
    <p>场景里有增加或删除条目时也会触发动画。</p>
    <span class="collapse anticon anticon-circle-o-right" unselectable="none" style="-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;"></span>
  </div>
</div>