<div class="code-box" id="demo-basic">
  <div class="code-box-demo">
    <div id="components-timepicker-demo-basic"></div>
    <script>(function(){'use strict';

var _antd = require('antd');

function onChange(time) {
  if (time) {
    console.log(time.toLocaleTimeString('zh-CN', {
      hour12: false
    }));
  }
}

ReactDOM.render(React.createElement(_antd.Timepicker, { defaultValue: '12:08:23', onChange: onChange }), document.getElementById('components-timepicker-demo-basic'));})()</script><div class="highlight"><pre><code class="javascript"><span class="hljs-keyword">import</span> { Timepicker } <span class="hljs-keyword">from</span> <span class="hljs-string">'antd'</span>;

<span class="hljs-function"><span class="hljs-keyword">function</span> <span class="hljs-title">onChange</span>(<span class="hljs-params">time</span>) </span>{
  <span class="hljs-keyword">if</span> (time) {
    <span class="hljs-built_in">console</span>.log(time.toLocaleTimeString(<span class="hljs-string">'zh-CN'</span>, {
      hour12: <span class="hljs-literal">false</span>
    }));
  }
}

ReactDOM.render(
  <span class="xml"><span class="hljs-tag">&lt;<span class="hljs-title">Timepicker</span> <span class="hljs-attribute">defaultValue</span>=<span class="hljs-value">"12:08:23"</span> <span class="hljs-attribute">onChange</span>=<span class="hljs-value">{onChange}</span> /&gt;</span>
, document.getElementById('components-timepicker-demo-basic'));</span></code></pre></div>
  </div>
  <div class="code-box-meta markdown">
    <div class="code-box-title">
      <a href="#demo-basic">基本</a>
    </div>
    <p>最简单的用法。</p>
    <span class="collapse anticon anticon-circle-o-right" unselectable="none" style="-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;"></span>
  </div>
</div>