<div class="code-box" id="demo-disabled">
  <div class="code-box-demo">
    <div id="components-timepicker-demo-disabled"></div>
    <script>(function(){'use strict';

var _antd = require('antd');

ReactDOM.render(React.createElement(_antd.Timepicker, { defaultValue: '12:08:23', disabled: true }), document.getElementById('components-timepicker-demo-disabled'));})()</script><div class="highlight"><pre><code class="javascript"><span class="hljs-keyword">import</span> { Timepicker } <span class="hljs-keyword">from</span> <span class="hljs-string">'antd'</span>;

ReactDOM.render(
  <span class="xml"><span class="hljs-tag">&lt;<span class="hljs-title">Timepicker</span> <span class="hljs-attribute">defaultValue</span>=<span class="hljs-value">"12:08:23"</span> <span class="hljs-attribute">disabled</span> /&gt;</span>
, document.getElementById('components-timepicker-demo-disabled'));</span></code></pre></div>
  </div>
  <div class="code-box-meta markdown">
    <div class="code-box-title">
      <a href="#demo-disabled">禁用</a>
    </div>
    <p>禁用时间选择。</p>
    <span class="collapse anticon anticon-circle-o-right" unselectable="none" style="-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;"></span>
  </div>
</div>