<div class="code-box" id="demo-no-default-value">
  <div class="code-box-demo">
    <div id="components-timepicker-demo-no-default-value"></div>
    <script>(function(){'use strict';

var _antd = require('antd');

ReactDOM.render(React.createElement(_antd.Timepicker, { placeholder: 'Select sth.' }), document.getElementById('components-timepicker-demo-no-default-value'));})()</script><div class="highlight"><pre><code class="javascript"><span class="hljs-keyword">import</span> { Timepicker } <span class="hljs-keyword">from</span> <span class="hljs-string">'antd'</span>;

ReactDOM.render(
  <span class="xml"><span class="hljs-tag">&lt;<span class="hljs-title">Timepicker</span> <span class="hljs-attribute">placeholder</span>=<span class="hljs-value">"Select sth."</span> /&gt;</span>
, document.getElementById('components-timepicker-demo-no-default-value'));</span></code></pre></div>
  </div>
  <div class="code-box-meta markdown">
    <div class="code-box-title">
      <a href="#demo-no-default-value">无默认值</a>
    </div>
    <p>没有默认时间。</p>
    <span class="collapse anticon anticon-circle-o-right" unselectable="none" style="-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;"></span>
  </div>
</div>