<div class="code-box" id="demo-special-minutes">
  <div class="code-box-demo">
    <div id="components-timepicker-demo-special-minutes"></div>
    <script>(function(){"use strict";

var _antd = require('antd');

ReactDOM.render(React.createElement(_antd.Timepicker, { defaultValue: "12:30:23", format: "HH:mm", minuteOptions: [0, 30] }), document.getElementById('components-timepicker-demo-special-minutes'));})()</script><div class="highlight"><pre><code class="javascript"><span class="hljs-keyword">import</span> { Timepicker } <span class="hljs-keyword">from</span> <span class="hljs-string">'antd'</span>;

ReactDOM.render(
  <span class="xml"><span class="hljs-tag">&lt;<span class="hljs-title">Timepicker</span> <span class="hljs-attribute">defaultValue</span>=<span class="hljs-value">"12:30:23"</span> <span class="hljs-attribute">format</span>=<span class="hljs-value">"HH:mm"</span> <span class="hljs-attribute">minuteOptions</span>=<span class="hljs-value">{[0,</span> <span class="hljs-attribute">30</span>]} /&gt;</span>
, document.getElementById('components-timepicker-demo-special-minutes'));</span></code></pre></div>
  </div>
  <div class="code-box-meta markdown">
    <div class="code-box-title">
      <a href="#demo-special-minutes">特定选项</a>
    </div>
    <p>分钟只提供特定的选择，同时可以通过 <code>hourOptions</code> 和 <code>secondOptions</code> 对小时和秒进行特殊的限定。</p>
    <span class="collapse anticon anticon-circle-o-right" unselectable="none" style="-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;"></span>
  </div>
</div>