<div class="code-box" id="demo-changer">
  <div class="code-box-demo">
    <div id="components-pagination-demo-changer"></div>
    <script>mountNode = document.getElementById('components-pagination-demo-changer');</script>
    <script>(function(){'use strict';

var _antd = require('antd');

function onShowSizeChange(current, pageSize) {
  console.log(current, pageSize);
}

ReactDOM.render(React.createElement(_antd.Pagination, { showSizeChanger: true, onShowSizeChange: onShowSizeChange, defaultCurrent: 3, total: 500 }), mountNode);})()</script><div class="highlight"><pre><code class="javascript"><span class="hljs-keyword">import</span> { Pagination } <span class="hljs-keyword">from</span> <span class="hljs-string">'antd'</span>;

<span class="hljs-function"><span class="hljs-keyword">function</span> <span class="hljs-title">onShowSizeChange</span>(<span class="hljs-params">current, pageSize</span>) </span>{
  <span class="hljs-built_in">console</span>.log(current, pageSize);
}

ReactDOM.render(
  <span class="xml"><span class="hljs-tag">&lt;<span class="hljs-title">Pagination</span> <span class="hljs-attribute">showSizeChanger</span> <span class="hljs-attribute">onShowSizeChange</span>=<span class="hljs-value">{onShowSizeChange}</span> <span class="hljs-attribute">defaultCurrent</span>=<span class="hljs-value">{3}</span> <span class="hljs-attribute">total</span>=<span class="hljs-value">{500}</span> /&gt;</span>,
 mountNode);</span></code></pre></div>
  </div>
  <div class="code-box-meta markdown">
    <div class="code-box-title">
      <a href="#demo-changer">改变</a>
    </div>
    
<p>改变每页显示条目数。</p>

    <span class="collapse anticon anticon-circle-o-right" unselectable="none"></span>
  </div>
</div>