<div class="code-box" id="demo-controlled">
  <div class="code-box-demo">
    <div id="components-pagination-demo-controlled"></div>
    <script>mountNode = document.getElementById('components-pagination-demo-controlled');</script>
    <script>(function(){'use strict';

var _antd = require('antd');

var Container = React.createClass({
  displayName: 'Container',
  getInitialState: function getInitialState() {
    return {
      current: 3
    };
  },
  onChange: function onChange(page) {
    console.log(page);
    this.setState({
      current: page
    });
  },
  render: function render() {
    return React.createElement(_antd.Pagination, { current: this.state.current, onChange: this.onChange, total: 50 });
  }
});

ReactDOM.render(React.createElement(Container, null), mountNode);})()</script><div class="highlight"><pre><code class="javascript"><span class="hljs-keyword">import</span> { Pagination } <span class="hljs-keyword">from</span> <span class="hljs-string">'antd'</span>;

<span class="hljs-keyword">let</span> Container = React.createClass({
  getInitialState() {
    <span class="hljs-keyword">return</span> {
      current: <span class="hljs-number">3</span>
    };
  },
  onChange(page) {
    <span class="hljs-built_in">console</span>.log(page);
    <span class="hljs-keyword">this</span>.setState({
      current: page
    });
  },
  render() {
    <span class="hljs-keyword">return</span> <span class="xml"><span class="hljs-tag">&lt;<span class="hljs-title">Pagination</span> <span class="hljs-attribute">current</span>=<span class="hljs-value">{this.state.current}</span> <span class="hljs-attribute">onChange</span>=<span class="hljs-value">{this.onChange}</span> <span class="hljs-attribute">total</span>=<span class="hljs-value">{50}</span> /&gt;</span>;</span>
  }
});

ReactDOM.render(
<span class="xml"><span class="hljs-tag">&lt;<span class="hljs-title">Container</span> /&gt;</span>,
mountNode);</span></code></pre></div>
  </div>
  <div class="code-box-meta markdown">
    <div class="code-box-title">
      <a href="#demo-controlled">受控</a>
    </div>
    
<p>受控制的页码。</p>

    <span class="collapse anticon anticon-circle-o-right" unselectable="none"></span>
  </div>
</div>