<div class="code-box" id="demo-mini">
  <div class="code-box-demo">
    <div id="components-pagination-demo-mini"></div>
    <script>mountNode = document.getElementById('components-pagination-demo-mini');</script>
    <script>(function(){"use strict";

var _antd = require("antd");

function showTotal(total) {
  return "\u5171 " + total + " \u6761";
}

ReactDOM.render(React.createElement(
  "div",
  null,
  React.createElement(_antd.Pagination, { size: "small", total: 50 }),
  React.createElement("br", null),
  React.createElement(_antd.Pagination, { size: "small", total: 50, showSizeChanger: true, showQuickJumper: true }),
  React.createElement("br", null),
  React.createElement(_antd.Pagination, { size: "small", total: 50, showTotal: showTotal })
), mountNode);})()</script><div class="highlight"><pre><code class="javascript"><span class="hljs-keyword">import</span> { Pagination } <span class="hljs-keyword">from</span> <span class="hljs-string">'antd'</span>;

<span class="hljs-function"><span class="hljs-keyword">function</span> <span class="hljs-title">showTotal</span>(<span class="hljs-params">total</span>) </span>{
  <span class="hljs-keyword">return</span> <span class="hljs-string">`共 <span class="hljs-subst">${total}</span> 条`</span>;
}

ReactDOM.render(<span class="xml"><span class="hljs-tag">&lt;<span class="hljs-title">div</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-title">Pagination</span> <span class="hljs-attribute">size</span>=<span class="hljs-value">"small"</span> <span class="hljs-attribute">total</span>=<span class="hljs-value">{50}</span> /&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-title">br</span> /&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-title">Pagination</span> <span class="hljs-attribute">size</span>=<span class="hljs-value">"small"</span> <span class="hljs-attribute">total</span>=<span class="hljs-value">{50}</span> <span class="hljs-attribute">showSizeChanger</span> <span class="hljs-attribute">showQuickJumper</span> /&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-title">br</span> /&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-title">Pagination</span> <span class="hljs-attribute">size</span>=<span class="hljs-value">"small"</span> <span class="hljs-attribute">total</span>=<span class="hljs-value">{50}</span> <span class="hljs-attribute">showTotal</span>=<span class="hljs-value">{showTotal}</span> /&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>, mountNode);</span></code></pre></div>
  </div>
  <div class="code-box-meta markdown">
    <div class="code-box-title">
      <a href="#demo-mini">迷你</a>
    </div>
    
<p>迷你版本。</p>

    <span class="collapse anticon anticon-circle-o-right" unselectable="none"></span>
  </div>
</div>