<div class="code-box" id="demo-advanced-search-form">
  <div class="code-box-demo">
    <div id="components-form-demo-advanced-search-form"></div>
    <script>mountNode = document.getElementById('components-form-demo-advanced-search-form');</script>
    <script>(function(){"use strict";

var _antd = require("antd");

var FormItem = _antd.Form.Item;

ReactDOM.render(React.createElement(
  _antd.Form,
  { horizontal: true, className: "advanced-search-form" },
  React.createElement(
    _antd.Row,
    null,
    React.createElement(
      _antd.Col,
      { span: "8" },
      React.createElement(
        FormItem,
        {
          label: "\u641C\u7D22\u540D\u79F0\uFF1A",
          labelCol: { span: 10 },
          wrapperCol: { span: 14 } },
        React.createElement(_antd.Input, { placeholder: "\u8BF7\u8F93\u5165\u641C\u7D22\u540D\u79F0" })
      ),
      React.createElement(
        FormItem,
        {
          label: "\u8F83\u957F\u641C\u7D22\u540D\u79F0\uFF1A",
          labelCol: { span: 10 },
          wrapperCol: { span: 14 } },
        React.createElement(_antd.Input, { placeholder: "\u8BF7\u8F93\u5165\u641C\u7D22\u540D\u79F0" })
      ),
      React.createElement(
        FormItem,
        {
          label: "\u641C\u7D22\u540D\u79F0\uFF1A",
          labelCol: { span: 10 },
          wrapperCol: { span: 14 } },
        React.createElement(_antd.Input, { placeholder: "\u8BF7\u8F93\u5165\u641C\u7D22\u540D\u79F0" })
      )
    ),
    React.createElement(
      _antd.Col,
      { span: "8" },
      React.createElement(
        FormItem,
        {
          label: "\u641C\u7D22\u540D\u79F0\uFF1A",
          labelCol: { span: 10 },
          wrapperCol: { span: 14 } },
        React.createElement(_antd.Input, { placeholder: "\u8BF7\u8F93\u5165\u641C\u7D22\u540D\u79F0" })
      ),
      React.createElement(
        FormItem,
        {
          label: "\u8F83\u957F\u641C\u7D22\u540D\u79F0\uFF1A",
          labelCol: { span: 10 },
          wrapperCol: { span: 14 } },
        React.createElement(_antd.Input, { placeholder: "\u8BF7\u8F93\u5165\u641C\u7D22\u540D\u79F0" })
      ),
      React.createElement(
        FormItem,
        {
          label: "\u641C\u7D22\u540D\u79F0\uFF1A",
          labelCol: { span: 10 },
          wrapperCol: { span: 14 } },
        React.createElement(_antd.Input, { placeholder: "\u8BF7\u8F93\u5165\u641C\u7D22\u540D\u79F0" })
      )
    ),
    React.createElement(
      _antd.Col,
      { span: "8" },
      React.createElement(
        FormItem,
        {
          label: "\u641C\u7D22\u540D\u79F0\uFF1A",
          labelCol: { span: 10 },
          wrapperCol: { span: 14 } },
        React.createElement(_antd.Input, { placeholder: "\u8BF7\u8F93\u5165\u641C\u7D22\u540D\u79F0" })
      ),
      React.createElement(
        FormItem,
        {
          label: "\u8F83\u957F\u641C\u7D22\u540D\u79F0\uFF1A",
          labelCol: { span: 10 },
          wrapperCol: { span: 14 } },
        React.createElement(_antd.Input, { placeholder: "\u8BF7\u8F93\u5165\u641C\u7D22\u540D\u79F0" })
      ),
      React.createElement(
        FormItem,
        {
          label: "\u641C\u7D22\u540D\u79F0\uFF1A",
          labelCol: { span: 10 },
          wrapperCol: { span: 14 } },
        React.createElement(_antd.Input, { placeholder: "\u8BF7\u8F93\u5165\u641C\u7D22\u540D\u79F0" })
      )
    )
  ),
  React.createElement(
    _antd.Row,
    null,
    React.createElement(
      _antd.Col,
      { span: "8", offset: "16", style: { textAlign: 'right' } },
      React.createElement(
        _antd.Button,
        { type: "primary", htmlType: "submit" },
        "\u641C\u7D22"
      ),
      React.createElement(
        _antd.Button,
        null,
        "\u6E05\u9664\u6761\u4EF6"
      )
    )
  )
), mountNode);})()</script><div class="highlight"><pre><code class="javascript"><span class="hljs-keyword">import</span> { Form, Input, Row, Col, Button } <span class="hljs-keyword">from</span> <span class="hljs-string">'antd'</span>;
<span class="hljs-keyword">const</span> FormItem = Form.Item;

ReactDOM.render(
<span class="xml"><span class="hljs-tag">&lt;<span class="hljs-title">Form</span> <span class="hljs-attribute">horizontal</span> <span class="hljs-attribute">className</span>=<span class="hljs-value">"advanced-search-form"</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-title">Row</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-title">Col</span> <span class="hljs-attribute">span</span>=<span class="hljs-value">"8"</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-title">FormItem</span>
        <span class="hljs-attribute">label</span>=<span class="hljs-value">"搜索名称："</span>
        <span class="hljs-attribute">labelCol</span>=<span class="hljs-value">{{</span> <span class="hljs-attribute">span:</span> <span class="hljs-attribute">10</span> }}
        <span class="hljs-attribute">wrapperCol</span>=<span class="hljs-value">{{</span> <span class="hljs-attribute">span:</span> <span class="hljs-attribute">14</span> }}&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">Input</span> <span class="hljs-attribute">placeholder</span>=<span class="hljs-value">"请输入搜索名称"</span> /&gt;</span>
      <span class="hljs-tag">&lt;/<span class="hljs-title">FormItem</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-title">FormItem</span>
        <span class="hljs-attribute">label</span>=<span class="hljs-value">"较长搜索名称："</span>
        <span class="hljs-attribute">labelCol</span>=<span class="hljs-value">{{</span> <span class="hljs-attribute">span:</span> <span class="hljs-attribute">10</span> }}
        <span class="hljs-attribute">wrapperCol</span>=<span class="hljs-value">{{</span> <span class="hljs-attribute">span:</span> <span class="hljs-attribute">14</span> }}&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">Input</span> <span class="hljs-attribute">placeholder</span>=<span class="hljs-value">"请输入搜索名称"</span> /&gt;</span>
      <span class="hljs-tag">&lt;/<span class="hljs-title">FormItem</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-title">FormItem</span>
        <span class="hljs-attribute">label</span>=<span class="hljs-value">"搜索名称："</span>
        <span class="hljs-attribute">labelCol</span>=<span class="hljs-value">{{</span> <span class="hljs-attribute">span:</span> <span class="hljs-attribute">10</span> }}
        <span class="hljs-attribute">wrapperCol</span>=<span class="hljs-value">{{</span> <span class="hljs-attribute">span:</span> <span class="hljs-attribute">14</span> }}&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">Input</span> <span class="hljs-attribute">placeholder</span>=<span class="hljs-value">"请输入搜索名称"</span> /&gt;</span>
      <span class="hljs-tag">&lt;/<span class="hljs-title">FormItem</span>&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-title">Col</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-title">Col</span> <span class="hljs-attribute">span</span>=<span class="hljs-value">"8"</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-title">FormItem</span>
        <span class="hljs-attribute">label</span>=<span class="hljs-value">"搜索名称："</span>
        <span class="hljs-attribute">labelCol</span>=<span class="hljs-value">{{</span> <span class="hljs-attribute">span:</span> <span class="hljs-attribute">10</span> }}
        <span class="hljs-attribute">wrapperCol</span>=<span class="hljs-value">{{</span> <span class="hljs-attribute">span:</span> <span class="hljs-attribute">14</span> }}&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">Input</span> <span class="hljs-attribute">placeholder</span>=<span class="hljs-value">"请输入搜索名称"</span> /&gt;</span>
      <span class="hljs-tag">&lt;/<span class="hljs-title">FormItem</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-title">FormItem</span>
        <span class="hljs-attribute">label</span>=<span class="hljs-value">"较长搜索名称："</span>
        <span class="hljs-attribute">labelCol</span>=<span class="hljs-value">{{</span> <span class="hljs-attribute">span:</span> <span class="hljs-attribute">10</span> }}
        <span class="hljs-attribute">wrapperCol</span>=<span class="hljs-value">{{</span> <span class="hljs-attribute">span:</span> <span class="hljs-attribute">14</span> }}&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">Input</span> <span class="hljs-attribute">placeholder</span>=<span class="hljs-value">"请输入搜索名称"</span> /&gt;</span>
      <span class="hljs-tag">&lt;/<span class="hljs-title">FormItem</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-title">FormItem</span>
        <span class="hljs-attribute">label</span>=<span class="hljs-value">"搜索名称："</span>
        <span class="hljs-attribute">labelCol</span>=<span class="hljs-value">{{</span> <span class="hljs-attribute">span:</span> <span class="hljs-attribute">10</span> }}
        <span class="hljs-attribute">wrapperCol</span>=<span class="hljs-value">{{</span> <span class="hljs-attribute">span:</span> <span class="hljs-attribute">14</span> }}&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">Input</span> <span class="hljs-attribute">placeholder</span>=<span class="hljs-value">"请输入搜索名称"</span> /&gt;</span>
      <span class="hljs-tag">&lt;/<span class="hljs-title">FormItem</span>&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-title">Col</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-title">Col</span> <span class="hljs-attribute">span</span>=<span class="hljs-value">"8"</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-title">FormItem</span>
        <span class="hljs-attribute">label</span>=<span class="hljs-value">"搜索名称："</span>
        <span class="hljs-attribute">labelCol</span>=<span class="hljs-value">{{</span> <span class="hljs-attribute">span:</span> <span class="hljs-attribute">10</span> }}
        <span class="hljs-attribute">wrapperCol</span>=<span class="hljs-value">{{</span> <span class="hljs-attribute">span:</span> <span class="hljs-attribute">14</span> }}&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">Input</span> <span class="hljs-attribute">placeholder</span>=<span class="hljs-value">"请输入搜索名称"</span> /&gt;</span>
      <span class="hljs-tag">&lt;/<span class="hljs-title">FormItem</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-title">FormItem</span>
        <span class="hljs-attribute">label</span>=<span class="hljs-value">"较长搜索名称："</span>
        <span class="hljs-attribute">labelCol</span>=<span class="hljs-value">{{</span> <span class="hljs-attribute">span:</span> <span class="hljs-attribute">10</span> }}
        <span class="hljs-attribute">wrapperCol</span>=<span class="hljs-value">{{</span> <span class="hljs-attribute">span:</span> <span class="hljs-attribute">14</span> }}&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">Input</span> <span class="hljs-attribute">placeholder</span>=<span class="hljs-value">"请输入搜索名称"</span> /&gt;</span>
      <span class="hljs-tag">&lt;/<span class="hljs-title">FormItem</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-title">FormItem</span>
        <span class="hljs-attribute">label</span>=<span class="hljs-value">"搜索名称："</span>
        <span class="hljs-attribute">labelCol</span>=<span class="hljs-value">{{</span> <span class="hljs-attribute">span:</span> <span class="hljs-attribute">10</span> }}
        <span class="hljs-attribute">wrapperCol</span>=<span class="hljs-value">{{</span> <span class="hljs-attribute">span:</span> <span class="hljs-attribute">14</span> }}&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">Input</span> <span class="hljs-attribute">placeholder</span>=<span class="hljs-value">"请输入搜索名称"</span> /&gt;</span>
      <span class="hljs-tag">&lt;/<span class="hljs-title">FormItem</span>&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-title">Col</span>&gt;</span>
  <span class="hljs-tag">&lt;/<span class="hljs-title">Row</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-title">Row</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-title">Col</span> <span class="hljs-attribute">span</span>=<span class="hljs-value">"8"</span> <span class="hljs-attribute">offset</span>=<span class="hljs-value">"16"</span> <span class="hljs-attribute">style</span>=<span class="hljs-value">{{</span> <span class="hljs-attribute">textAlign:</span> '<span class="hljs-attribute">right</span>' }}&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-title">Button</span> <span class="hljs-attribute">type</span>=<span class="hljs-value">"primary"</span> <span class="hljs-attribute">htmlType</span>=<span class="hljs-value">"submit"</span>&gt;</span>搜索<span class="hljs-tag">&lt;/<span class="hljs-title">Button</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-title">Button</span>&gt;</span>清除条件<span class="hljs-tag">&lt;/<span class="hljs-title">Button</span>&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-title">Col</span>&gt;</span>
  <span class="hljs-tag">&lt;/<span class="hljs-title">Row</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-title">Form</span>&gt;</span>
, mountNode);</span></code></pre></div><style type="text/css">/* 定制样式 */

.advanced-search-form {
  padding: 16px 8px;
  background: #f8f8f8;
  border: 1px solid #d9d9d9;
  border-radius: 6px;
}

/* 由于输入标签长度不确定，所以需要微调使之看上去居中 */
.advanced-search-form > .row {
  margin-left: -10px;
}

.advanced-search-form > .row > .col-8 {
  padding: 0 8px;
}

.advanced-search-form .ant-form-item {
  margin-bottom: 16px;
}

.advanced-search-form .ant-btn + .ant-btn {
  margin-left: 8px;
}</style><div class="highlight"><pre><code class="css"><span class="hljs-comment">/* 定制样式 */</span>

<span class="hljs-class">.advanced-search-form</span> <span class="hljs-rules">{
  <span class="hljs-rule"><span class="hljs-attribute">padding</span>:<span class="hljs-value"> <span class="hljs-number">16px</span> <span class="hljs-number">8px</span></span></span>;
  <span class="hljs-rule"><span class="hljs-attribute">background</span>:<span class="hljs-value"> <span class="hljs-hexcolor">#f8f8f8</span></span></span>;
  <span class="hljs-rule"><span class="hljs-attribute">border</span>:<span class="hljs-value"> <span class="hljs-number">1px</span> solid <span class="hljs-hexcolor">#d9d9d9</span></span></span>;
  <span class="hljs-rule"><span class="hljs-attribute">border-radius</span>:<span class="hljs-value"> <span class="hljs-number">6px</span></span></span>;
}</span>

<span class="hljs-comment">/* 由于输入标签长度不确定，所以需要微调使之看上去居中 */</span>
<span class="hljs-class">.advanced-search-form</span> &gt; <span class="hljs-class">.row</span> <span class="hljs-rules">{
  <span class="hljs-rule"><span class="hljs-attribute">margin-left</span>:<span class="hljs-value"> -<span class="hljs-number">10px</span></span></span>;
}</span>

<span class="hljs-class">.advanced-search-form</span> &gt; <span class="hljs-class">.row</span> &gt; <span class="hljs-class">.col-8</span> <span class="hljs-rules">{
  <span class="hljs-rule"><span class="hljs-attribute">padding</span>:<span class="hljs-value"> <span class="hljs-number">0</span> <span class="hljs-number">8px</span></span></span>;
}</span>

<span class="hljs-class">.advanced-search-form</span> <span class="hljs-class">.ant-form-item</span> <span class="hljs-rules">{
  <span class="hljs-rule"><span class="hljs-attribute">margin-bottom</span>:<span class="hljs-value"> <span class="hljs-number">16px</span></span></span>;
}</span>

<span class="hljs-class">.advanced-search-form</span> <span class="hljs-class">.ant-btn</span> + <span class="hljs-class">.ant-btn</span> <span class="hljs-rules">{
  <span class="hljs-rule"><span class="hljs-attribute">margin-left</span>:<span class="hljs-value"> <span class="hljs-number">8px</span></span></span>;
}</span></code></pre></div><style>
#components-form-demo-advanced-search-form .ant-form-horizontal {
  max-width: none;
}
</style>

  </div>
  <div class="code-box-meta markdown">
    <div class="code-box-title">
      <a href="#demo-advanced-search-form">高级搜索</a>
    </div>
    
<p>三列栅格式的表单排列方式，常用于数据表格的高级搜索。</p>
<p>有部分定制的样式代码，由于输入标签长度不确定，需要根据具体情况自行调整。</p>

    <span class="collapse anticon anticon-circle-o-right" unselectable="none"></span>
  </div>
</div>