<div class="code-box" id="demo-horizontal-form">
  <div class="code-box-demo">
    <div id="components-form-demo-horizontal-form"></div>
    <script>mountNode = document.getElementById('components-form-demo-horizontal-form');</script>
    <script>(function(){'use strict';

var _extends = Object.assign || function (target) { for (var i = 1; i < arguments.length; i++) { var source = arguments[i]; for (var key in source) { if (Object.prototype.hasOwnProperty.call(source, key)) { target[key] = source[key]; } } } return target; };

var _antd = require('antd');

var FormItem = _antd.Form.Item;
var RadioGroup = _antd.Radio.Group;

var Demo = React.createClass({
  displayName: 'Demo',
  handleSubmit: function handleSubmit(e) {
    e.preventDefault();
    console.log('收到表单值：', this.props.form.getFieldsValue());
  },
  render: function render() {
    var getFieldProps = this.props.form.getFieldProps;

    var formItemLayout = {
      labelCol: { span: 6 },
      wrapperCol: { span: 14 }
    };
    return React.createElement(
      _antd.Form,
      { horizontal: true, onSubmit: this.handleSubmit },
      React.createElement(
        FormItem,
        _extends({}, formItemLayout, {
          label: '\u7528\u6237\u540D\uFF1A' }),
        React.createElement(
          'p',
          { className: 'ant-form-text', id: 'userName', name: 'userName' },
          '\u5927\u773C\u840C minion'
        )
      ),
      React.createElement(
        FormItem,
        _extends({}, formItemLayout, {
          label: '\u5BC6\u7801\uFF1A' }),
        React.createElement(_antd.Input, _extends({ type: 'password' }, getFieldProps('pass'), { placeholder: '\u8BF7\u8F93\u5165\u5BC6\u7801' }))
      ),
      React.createElement(
        FormItem,
        _extends({}, formItemLayout, {
          label: '\u60A8\u7684\u6027\u522B\uFF1A' }),
        React.createElement(
          RadioGroup,
          getFieldProps('gender', { initialValue: 'female' }),
          React.createElement(
            _antd.Radio,
            { value: 'male' },
            '\u7537\u7684'
          ),
          React.createElement(
            _antd.Radio,
            { value: 'female' },
            '\u5973\u7684'
          )
        )
      ),
      React.createElement(
        FormItem,
        _extends({}, formItemLayout, {
          label: '\u5907\u6CE8\uFF1A',
          help: '\u968F\u4FBF\u5199\u70B9\u4EC0\u4E48' }),
        React.createElement(_antd.Input, _extends({ type: 'textarea', placeholder: '\u968F\u4FBF\u5199' }, getFieldProps('remark')))
      ),
      React.createElement(
        FormItem,
        _extends({}, formItemLayout, {
          label: React.createElement(
            'span',
            null,
            '\u5356\u8EAB\u534E\u5E9C ',
            React.createElement(
              _antd.Tooltip,
              { title: '\u6211\u4E3A\u79CB\u9999' },
              React.createElement(_antd.Icon, { type: 'question-circle-o' })
            ),
            ' \uFF1A'
          ) }),
        React.createElement(
          'label',
          null,
          React.createElement(_antd.Checkbox, getFieldProps('agreement')),
          '\u540C\u610F'
        )
      ),
      React.createElement(
        FormItem,
        { wrapperCol: { span: 16, offset: 6 }, style: { marginTop: 24 } },
        React.createElement(
          _antd.Button,
          { type: 'primary', htmlType: 'submit' },
          '\u786E\u5B9A'
        )
      )
    );
  }
});

Demo = _antd.Form.create()(Demo);

ReactDOM.render(React.createElement(Demo, null), mountNode);})()</script><div class="highlight"><pre><code class="javascript"><span class="hljs-keyword">import</span> { Form, Input, Button, Checkbox, Radio, Tooltip, Icon } <span class="hljs-keyword">from</span> <span class="hljs-string">'antd'</span>;
<span class="hljs-keyword">const</span> FormItem = Form.Item;
<span class="hljs-keyword">const</span> RadioGroup = Radio.Group;

<span class="hljs-keyword">let</span> Demo = React.createClass({
  handleSubmit(e) {
    e.preventDefault();
    <span class="hljs-built_in">console</span>.log(<span class="hljs-string">'收到表单值：'</span>, <span class="hljs-keyword">this</span>.props.form.getFieldsValue());
  },

  render() {
    <span class="hljs-keyword">const</span> { getFieldProps } = <span class="hljs-keyword">this</span>.props.form;
    <span class="hljs-keyword">const</span> formItemLayout = {
      labelCol: { span: <span class="hljs-number">6</span> },
      wrapperCol: { span: <span class="hljs-number">14</span> },
    };
    <span class="hljs-keyword">return</span> (
      <span class="xml"><span class="hljs-tag">&lt;<span class="hljs-title">Form</span> <span class="hljs-attribute">horizontal</span> <span class="hljs-attribute">onSubmit</span>=<span class="hljs-value">{this.handleSubmit}</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">FormItem</span>
          {<span class="hljs-attribute">...formItemLayout</span>}
          <span class="hljs-attribute">label</span>=<span class="hljs-value">"用户名："</span>&gt;</span>
          <span class="hljs-tag">&lt;<span class="hljs-title">p</span> <span class="hljs-attribute">className</span>=<span class="hljs-value">"ant-form-text"</span> <span class="hljs-attribute">id</span>=<span class="hljs-value">"userName"</span> <span class="hljs-attribute">name</span>=<span class="hljs-value">"userName"</span>&gt;</span>大眼萌 minion<span class="hljs-tag">&lt;/<span class="hljs-title">p</span>&gt;</span>
        <span class="hljs-tag">&lt;/<span class="hljs-title">FormItem</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">FormItem</span>
          {<span class="hljs-attribute">...formItemLayout</span>}
          <span class="hljs-attribute">label</span>=<span class="hljs-value">"密码："</span>&gt;</span>
          <span class="hljs-tag">&lt;<span class="hljs-title">Input</span> <span class="hljs-attribute">type</span>=<span class="hljs-value">"password"</span> {<span class="hljs-attribute">...getFieldProps</span>('<span class="hljs-attribute">pass</span>')} <span class="hljs-attribute">placeholder</span>=<span class="hljs-value">"请输入密码"</span> /&gt;</span>
        <span class="hljs-tag">&lt;/<span class="hljs-title">FormItem</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">FormItem</span>
          {<span class="hljs-attribute">...formItemLayout</span>}
          <span class="hljs-attribute">label</span>=<span class="hljs-value">"您的性别："</span>&gt;</span>
          <span class="hljs-tag">&lt;<span class="hljs-title">RadioGroup</span> {<span class="hljs-attribute">...getFieldProps</span>('<span class="hljs-attribute">gender</span>', { <span class="hljs-attribute">initialValue:</span> '<span class="hljs-attribute">female</span>' })}&gt;</span>
            <span class="hljs-tag">&lt;<span class="hljs-title">Radio</span> <span class="hljs-attribute">value</span>=<span class="hljs-value">"male"</span>&gt;</span>男的<span class="hljs-tag">&lt;/<span class="hljs-title">Radio</span>&gt;</span>
            <span class="hljs-tag">&lt;<span class="hljs-title">Radio</span> <span class="hljs-attribute">value</span>=<span class="hljs-value">"female"</span>&gt;</span>女的<span class="hljs-tag">&lt;/<span class="hljs-title">Radio</span>&gt;</span>
          <span class="hljs-tag">&lt;/<span class="hljs-title">RadioGroup</span>&gt;</span>
        <span class="hljs-tag">&lt;/<span class="hljs-title">FormItem</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">FormItem</span>
          {<span class="hljs-attribute">...formItemLayout</span>}
          <span class="hljs-attribute">label</span>=<span class="hljs-value">"备注："</span>
          <span class="hljs-attribute">help</span>=<span class="hljs-value">"随便写点什么"</span>&gt;</span>
          <span class="hljs-tag">&lt;<span class="hljs-title">Input</span> <span class="hljs-attribute">type</span>=<span class="hljs-value">"textarea"</span> <span class="hljs-attribute">placeholder</span>=<span class="hljs-value">"随便写"</span> {<span class="hljs-attribute">...getFieldProps</span>('<span class="hljs-attribute">remark</span>')} /&gt;</span>
        <span class="hljs-tag">&lt;/<span class="hljs-title">FormItem</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">FormItem</span>
          {<span class="hljs-attribute">...formItemLayout</span>}
          <span class="hljs-attribute">label</span>=<span class="hljs-value">{&lt;span</span>&gt;</span>卖身华府 <span class="hljs-tag">&lt;<span class="hljs-title">Tooltip</span> <span class="hljs-attribute">title</span>=<span class="hljs-value">"我为秋香"</span>&gt;</span><span class="hljs-tag">&lt;<span class="hljs-title">Icon</span> <span class="hljs-attribute">type</span>=<span class="hljs-value">"question-circle-o"</span> /&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-title">Tooltip</span>&gt;</span> ：<span class="hljs-tag">&lt;/<span class="hljs-title">span</span>&gt;</span>}&gt;
          <span class="hljs-tag">&lt;<span class="hljs-title">label</span>&gt;</span>
            <span class="hljs-tag">&lt;<span class="hljs-title">Checkbox</span> {<span class="hljs-attribute">...getFieldProps</span>('<span class="hljs-attribute">agreement</span>')} /&gt;</span>同意
          <span class="hljs-tag">&lt;/<span class="hljs-title">label</span>&gt;</span>
        <span class="hljs-tag">&lt;/<span class="hljs-title">FormItem</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">FormItem</span> <span class="hljs-attribute">wrapperCol</span>=<span class="hljs-value">{{</span> <span class="hljs-attribute">span:</span> <span class="hljs-attribute">16</span>, <span class="hljs-attribute">offset:</span> <span class="hljs-attribute">6</span> }} <span class="hljs-attribute">style</span>=<span class="hljs-value">{{</span> <span class="hljs-attribute">marginTop:</span> <span class="hljs-attribute">24</span> }}&gt;</span>
          <span class="hljs-tag">&lt;<span class="hljs-title">Button</span> <span class="hljs-attribute">type</span>=<span class="hljs-value">"primary"</span> <span class="hljs-attribute">htmlType</span>=<span class="hljs-value">"submit"</span>&gt;</span>确定<span class="hljs-tag">&lt;/<span class="hljs-title">Button</span>&gt;</span>
        <span class="hljs-tag">&lt;/<span class="hljs-title">FormItem</span>&gt;</span>
      <span class="hljs-tag">&lt;/<span class="hljs-title">Form</span>&gt;</span>
    )</span>;
  }
});

Demo = Form.create()(Demo);

ReactDOM.render(<span class="xml"><span class="hljs-tag">&lt;<span class="hljs-title">Demo</span> /&gt;</span>, mountNode);</span></code></pre></div>
  </div>
  <div class="code-box-meta markdown">
    <div class="code-box-title">
      <a href="#demo-horizontal-form">典型表单</a>
    </div>
    
<p>示例展示了如何通过使用 <code>Form.create</code> 来获取和更新表单提交的数值。</p>

    <span class="collapse anticon anticon-circle-o-right" unselectable="none"></span>
  </div>
</div>