<div class="code-box" id="demo-validate-customized">
  <div class="code-box-demo">
    <div id="components-form-demo-validate-customized"></div>
    <script>mountNode = document.getElementById('components-form-demo-validate-customized');</script>
    <script>(function(){'use strict';

var _extends = Object.assign || function (target) { for (var i = 1; i < arguments.length; i++) { var source = arguments[i]; for (var key in source) { if (Object.prototype.hasOwnProperty.call(source, key)) { target[key] = source[key]; } } } return target; };

var _antd = require('antd');

var _classnames = require('classnames');

var _classnames2 = _interopRequireDefault(_classnames);

function _interopRequireDefault(obj) { return obj && obj.__esModule ? obj : { default: obj }; }

var createForm = _antd.Form.create;
var FormItem = _antd.Form.Item;

function noop() {
  return false;
}

var Demo = React.createClass({
  displayName: 'Demo',
  getInitialState: function getInitialState() {
    return {
      passBarShow: false, // 是否显示密码强度提示条
      rePassBarShow: false,
      passStrength: 'L', // 密码强度
      rePassStrength: 'L'
    };
  },
  handleSubmit: function handleSubmit() {
    this.props.form.validateFields(function (errors, values) {
      if (!!errors) {
        console.log('Errors in form!!!');
        return;
      }
      console.log('Submit!!!');
      console.log(values);
    });
  },
  getPassStrenth: function getPassStrenth(value, type) {
    if (value) {
      var strength = void 0;
      // 密码强度的校验规则自定义，这里只是做个简单的示例
      if (value.length < 6) {
        strength = 'L';
      } else if (value.length <= 9) {
        strength = 'M';
      } else {
        strength = 'H';
      }
      if (type === 'pass') {
        this.setState({ passBarShow: true, passStrength: strength });
      } else {
        this.setState({ rePassBarShow: true, rePassStrength: strength });
      }
    } else {
      if (type === 'pass') {
        this.setState({ passBarShow: false });
      } else {
        this.setState({ rePassBarShow: false });
      }
    }
  },
  checkPass: function checkPass(rule, value, callback) {
    var form = this.props.form;
    this.getPassStrenth(value, 'pass');

    if (form.getFieldValue('pass')) {
      form.validateFields(['rePass'], { force: true });
    }

    callback();
  },
  checkPass2: function checkPass2(rule, value, callback) {
    var form = this.props.form;
    this.getPassStrenth(value, 'rePass');

    if (value && value !== form.getFieldValue('pass')) {
      callback('两次输入密码不一致！');
    } else {
      callback();
    }
  },
  renderPassStrengthBar: function renderPassStrengthBar(type) {
    var strength = type === 'pass' ? this.state.passStrength : this.state.rePassStrength;
    var classSet = (0, _classnames2.default)({
      'ant-pwd-strength': true,
      'ant-pwd-strength-low': strength === 'L',
      'ant-pwd-strength-medium': strength === 'M',
      'ant-pwd-strength-high': strength === 'H'
    });
    var level = {
      L: '低',
      M: '中',
      H: '高'
    };

    return React.createElement(
      'div',
      null,
      React.createElement(
        'ul',
        { className: classSet },
        React.createElement('li', { className: 'ant-pwd-strength-item ant-pwd-strength-item-1' }),
        React.createElement('li', { className: 'ant-pwd-strength-item ant-pwd-strength-item-2' }),
        React.createElement('li', { className: 'ant-pwd-strength-item ant-pwd-strength-item-3' }),
        React.createElement(
          'span',
          { className: 'ant-form-text' },
          level[strength]
        )
      )
    );
  },
  render: function render() {
    var getFieldProps = this.props.form.getFieldProps;


    var passProps = getFieldProps('pass', {
      rules: [{ required: true, whitespace: true, message: '请填写密码' }, { validator: this.checkPass }]
    });
    var rePassProps = getFieldProps('rePass', {
      rules: [{
        required: true,
        whitespace: true,
        message: '请再次输入密码'
      }, {
        validator: this.checkPass2
      }]
    });
    var formItemLayout = {
      labelCol: { span: 6 },
      wrapperCol: { span: 18 }
    };
    return React.createElement(
      'div',
      null,
      React.createElement(
        _antd.Form,
        { horizontal: true, form: this.props.form },
        React.createElement(
          _antd.Row,
          null,
          React.createElement(
            _antd.Col,
            { span: '18' },
            React.createElement(
              FormItem,
              _extends({}, formItemLayout, {
                label: '\u5BC6\u7801\uFF1A' }),
              React.createElement(_antd.Input, _extends({}, passProps, { type: 'password',
                onContextMenu: noop, onPaste: noop, onCopy: noop, onCut: noop,
                autoComplete: 'off', id: 'pass'
              }))
            )
          ),
          React.createElement(
            _antd.Col,
            { span: '6' },
            this.state.passBarShow ? this.renderPassStrengthBar('pass') : null
          )
        ),
        React.createElement(
          _antd.Row,
          null,
          React.createElement(
            _antd.Col,
            { span: '18' },
            React.createElement(
              FormItem,
              _extends({}, formItemLayout, {
                label: '\u786E\u8BA4\u5BC6\u7801\uFF1A' }),
              React.createElement(_antd.Input, _extends({}, rePassProps, { type: 'password',
                onContextMenu: noop, onPaste: noop, onCopy: noop, onCut: noop,
                autoComplete: 'off', id: 'rePass'
              }))
            )
          ),
          React.createElement(
            _antd.Col,
            { span: '6' },
            this.state.rePassBarShow ? this.renderPassStrengthBar('rePass') : null
          )
        ),
        React.createElement(
          _antd.Row,
          null,
          React.createElement(
            _antd.Col,
            { span: '18' },
            React.createElement(
              _antd.Col,
              { span: '18', offset: '6' },
              React.createElement(
                _antd.Button,
                { type: 'primary', onClick: this.handleSubmit },
                '\u63D0\u4EA4'
              )
            )
          )
        )
      )
    );
  }
});

Demo = createForm()(Demo);

ReactDOM.render(React.createElement(Demo, null), mountNode);})()</script><div class="highlight"><pre><code class="javascript"><span class="hljs-keyword">import</span> { Button, Form, Input, Row, Col } <span class="hljs-keyword">from</span> <span class="hljs-string">'antd'</span>;
<span class="hljs-keyword">import</span> classNames <span class="hljs-keyword">from</span> <span class="hljs-string">'classnames'</span>;
<span class="hljs-keyword">const</span> createForm = Form.create;
<span class="hljs-keyword">const</span> FormItem = Form.Item;

<span class="hljs-function"><span class="hljs-keyword">function</span> <span class="hljs-title">noop</span>(<span class="hljs-params"></span>) </span>{
  <span class="hljs-keyword">return</span> <span class="hljs-literal">false</span>;
}

<span class="hljs-keyword">let</span> Demo = React.createClass({
  getInitialState() {
    <span class="hljs-keyword">return</span> {
      passBarShow: <span class="hljs-literal">false</span>, <span class="hljs-comment">// 是否显示密码强度提示条</span>
      rePassBarShow: <span class="hljs-literal">false</span>,
      passStrength: <span class="hljs-string">'L'</span>, <span class="hljs-comment">// 密码强度</span>
      rePassStrength: <span class="hljs-string">'L'</span>,
    };
  },

  handleSubmit() {
    <span class="hljs-keyword">this</span>.props.form.validateFields((errors, values) =&gt; {
      <span class="hljs-keyword">if</span> (!!errors) {
        <span class="hljs-built_in">console</span>.log(<span class="hljs-string">'Errors in form!!!'</span>);
        <span class="hljs-keyword">return</span>;
      }
      <span class="hljs-built_in">console</span>.log(<span class="hljs-string">'Submit!!!'</span>);
      <span class="hljs-built_in">console</span>.log(values);
    });
  },

  getPassStrenth(value, type) {
    <span class="hljs-keyword">if</span> (value) {
      <span class="hljs-keyword">let</span> strength;
      <span class="hljs-comment">// 密码强度的校验规则自定义，这里只是做个简单的示例</span>
      <span class="hljs-keyword">if</span> (value.length &lt; <span class="hljs-number">6</span>) {
        strength = <span class="hljs-string">'L'</span>;
      } <span class="hljs-keyword">else</span> <span class="hljs-keyword">if</span> (value.length &lt;= <span class="hljs-number">9</span>) {
        strength = <span class="hljs-string">'M'</span>;
      } <span class="hljs-keyword">else</span> {
        strength = <span class="hljs-string">'H'</span>;
      }
      <span class="hljs-keyword">if</span> (type === <span class="hljs-string">'pass'</span>) {
        <span class="hljs-keyword">this</span>.setState({ passBarShow: <span class="hljs-literal">true</span>, passStrength: strength });
      } <span class="hljs-keyword">else</span> {
        <span class="hljs-keyword">this</span>.setState({ rePassBarShow: <span class="hljs-literal">true</span>, rePassStrength: strength });
      }
    } <span class="hljs-keyword">else</span> {
      <span class="hljs-keyword">if</span> (type === <span class="hljs-string">'pass'</span>) {
        <span class="hljs-keyword">this</span>.setState({ passBarShow: <span class="hljs-literal">false</span> });
      } <span class="hljs-keyword">else</span> {
        <span class="hljs-keyword">this</span>.setState({ rePassBarShow: <span class="hljs-literal">false</span> });
      }
    }
  },

  checkPass(rule, value, callback) {
    <span class="hljs-keyword">const</span> form = <span class="hljs-keyword">this</span>.props.form;
    <span class="hljs-keyword">this</span>.getPassStrenth(value, <span class="hljs-string">'pass'</span>);

    <span class="hljs-keyword">if</span> (form.getFieldValue(<span class="hljs-string">'pass'</span>)) {
      form.validateFields([<span class="hljs-string">'rePass'</span>], { force: <span class="hljs-literal">true</span> });
    }

    callback();
  },

  checkPass2(rule, value, callback) {
    <span class="hljs-keyword">const</span> form = <span class="hljs-keyword">this</span>.props.form;
    <span class="hljs-keyword">this</span>.getPassStrenth(value, <span class="hljs-string">'rePass'</span>);

    <span class="hljs-keyword">if</span> (value &amp;&amp; value !== form.getFieldValue(<span class="hljs-string">'pass'</span>)) {
      callback(<span class="hljs-string">'两次输入密码不一致！'</span>);
    } <span class="hljs-keyword">else</span> {
      callback();
    }
  },

  renderPassStrengthBar(type) {
    <span class="hljs-keyword">const</span> strength = type === <span class="hljs-string">'pass'</span> ? <span class="hljs-keyword">this</span>.state.passStrength : <span class="hljs-keyword">this</span>.state.rePassStrength;
    <span class="hljs-keyword">const</span> classSet = classNames({
      <span class="hljs-string">'ant-pwd-strength'</span>: <span class="hljs-literal">true</span>,
      <span class="hljs-string">'ant-pwd-strength-low'</span>: strength === <span class="hljs-string">'L'</span>,
      <span class="hljs-string">'ant-pwd-strength-medium'</span>: strength === <span class="hljs-string">'M'</span>,
      <span class="hljs-string">'ant-pwd-strength-high'</span>: strength === <span class="hljs-string">'H'</span>
    });
    <span class="hljs-keyword">const</span> level = {
      L: <span class="hljs-string">'低'</span>,
      M: <span class="hljs-string">'中'</span>,
      H: <span class="hljs-string">'高'</span>
    };

    <span class="hljs-keyword">return</span> (
      <span class="xml"><span class="hljs-tag">&lt;<span class="hljs-title">div</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">ul</span> <span class="hljs-attribute">className</span>=<span class="hljs-value">{classSet}</span>&gt;</span>
          <span class="hljs-tag">&lt;<span class="hljs-title">li</span> <span class="hljs-attribute">className</span>=<span class="hljs-value">"ant-pwd-strength-item ant-pwd-strength-item-1"</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-title">li</span>&gt;</span>
          <span class="hljs-tag">&lt;<span class="hljs-title">li</span> <span class="hljs-attribute">className</span>=<span class="hljs-value">"ant-pwd-strength-item ant-pwd-strength-item-2"</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-title">li</span>&gt;</span>
          <span class="hljs-tag">&lt;<span class="hljs-title">li</span> <span class="hljs-attribute">className</span>=<span class="hljs-value">"ant-pwd-strength-item ant-pwd-strength-item-3"</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-title">li</span>&gt;</span>
          <span class="hljs-tag">&lt;<span class="hljs-title">span</span> <span class="hljs-attribute">className</span>=<span class="hljs-value">"ant-form-text"</span>&gt;</span>
            {level[strength]}
          <span class="hljs-tag">&lt;/<span class="hljs-title">span</span>&gt;</span>
        <span class="hljs-tag">&lt;/<span class="hljs-title">ul</span>&gt;</span>
      <span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
    )</span>;
  },

  render() {
    <span class="hljs-keyword">const</span> { getFieldProps } = <span class="hljs-keyword">this</span>.props.form;

    <span class="hljs-keyword">const</span> passProps = getFieldProps(<span class="hljs-string">'pass'</span>, {
      rules: [
        { required: <span class="hljs-literal">true</span>, whitespace: <span class="hljs-literal">true</span>, message: <span class="hljs-string">'请填写密码'</span> },
        { validator: <span class="hljs-keyword">this</span>.checkPass }
      ]
    });
    <span class="hljs-keyword">const</span> rePassProps = getFieldProps(<span class="hljs-string">'rePass'</span>, {
      rules: [{
        required: <span class="hljs-literal">true</span>,
        whitespace: <span class="hljs-literal">true</span>,
        message: <span class="hljs-string">'请再次输入密码'</span>,
      }, {
        validator: <span class="hljs-keyword">this</span>.checkPass2,
      }],
    });
    <span class="hljs-keyword">const</span> formItemLayout = {
      labelCol: { span: <span class="hljs-number">6</span> },
      wrapperCol: { span: <span class="hljs-number">18</span> },
    };
    <span class="hljs-keyword">return</span> (
      <span class="xml"><span class="hljs-tag">&lt;<span class="hljs-title">div</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">Form</span> <span class="hljs-attribute">horizontal</span> <span class="hljs-attribute">form</span>=<span class="hljs-value">{this.props.form}</span>&gt;</span>
          <span class="hljs-tag">&lt;<span class="hljs-title">Row</span>&gt;</span>
            <span class="hljs-tag">&lt;<span class="hljs-title">Col</span> <span class="hljs-attribute">span</span>=<span class="hljs-value">"18"</span>&gt;</span>
              <span class="hljs-tag">&lt;<span class="hljs-title">FormItem</span>
                {<span class="hljs-attribute">...formItemLayout</span>}
                <span class="hljs-attribute">label</span>=<span class="hljs-value">"密码："</span>&gt;</span>
                <span class="hljs-tag">&lt;<span class="hljs-title">Input</span> {<span class="hljs-attribute">...passProps</span>} <span class="hljs-attribute">type</span>=<span class="hljs-value">"password"</span>
                  <span class="hljs-attribute">onContextMenu</span>=<span class="hljs-value">{noop}</span> <span class="hljs-attribute">onPaste</span>=<span class="hljs-value">{noop}</span> <span class="hljs-attribute">onCopy</span>=<span class="hljs-value">{noop}</span> <span class="hljs-attribute">onCut</span>=<span class="hljs-value">{noop}</span>
                  <span class="hljs-attribute">autoComplete</span>=<span class="hljs-value">"off"</span> <span class="hljs-attribute">id</span>=<span class="hljs-value">"pass"</span>
                /&gt;</span>
              <span class="hljs-tag">&lt;/<span class="hljs-title">FormItem</span>&gt;</span>
            <span class="hljs-tag">&lt;/<span class="hljs-title">Col</span>&gt;</span>
            <span class="hljs-tag">&lt;<span class="hljs-title">Col</span> <span class="hljs-attribute">span</span>=<span class="hljs-value">"6"</span>&gt;</span>
              {this.state.passBarShow ? this.renderPassStrengthBar('pass') : null}
            <span class="hljs-tag">&lt;/<span class="hljs-title">Col</span>&gt;</span>
          <span class="hljs-tag">&lt;/<span class="hljs-title">Row</span>&gt;</span>

          <span class="hljs-tag">&lt;<span class="hljs-title">Row</span>&gt;</span>
            <span class="hljs-tag">&lt;<span class="hljs-title">Col</span> <span class="hljs-attribute">span</span>=<span class="hljs-value">"18"</span>&gt;</span>
              <span class="hljs-tag">&lt;<span class="hljs-title">FormItem</span>
                {<span class="hljs-attribute">...formItemLayout</span>}
                <span class="hljs-attribute">label</span>=<span class="hljs-value">"确认密码："</span>&gt;</span>
                <span class="hljs-tag">&lt;<span class="hljs-title">Input</span> {<span class="hljs-attribute">...rePassProps</span>} <span class="hljs-attribute">type</span>=<span class="hljs-value">"password"</span>
                  <span class="hljs-attribute">onContextMenu</span>=<span class="hljs-value">{noop}</span> <span class="hljs-attribute">onPaste</span>=<span class="hljs-value">{noop}</span> <span class="hljs-attribute">onCopy</span>=<span class="hljs-value">{noop}</span> <span class="hljs-attribute">onCut</span>=<span class="hljs-value">{noop}</span>
                  <span class="hljs-attribute">autoComplete</span>=<span class="hljs-value">"off"</span> <span class="hljs-attribute">id</span>=<span class="hljs-value">"rePass"</span>
                /&gt;</span>
              <span class="hljs-tag">&lt;/<span class="hljs-title">FormItem</span>&gt;</span>
            <span class="hljs-tag">&lt;/<span class="hljs-title">Col</span>&gt;</span>
            <span class="hljs-tag">&lt;<span class="hljs-title">Col</span> <span class="hljs-attribute">span</span>=<span class="hljs-value">"6"</span>&gt;</span>
              {this.state.rePassBarShow ? this.renderPassStrengthBar('rePass') : null}
            <span class="hljs-tag">&lt;/<span class="hljs-title">Col</span>&gt;</span>
          <span class="hljs-tag">&lt;/<span class="hljs-title">Row</span>&gt;</span>
          <span class="hljs-tag">&lt;<span class="hljs-title">Row</span>&gt;</span>
            <span class="hljs-tag">&lt;<span class="hljs-title">Col</span> <span class="hljs-attribute">span</span>=<span class="hljs-value">"18"</span>&gt;</span>
              <span class="hljs-tag">&lt;<span class="hljs-title">Col</span> <span class="hljs-attribute">span</span>=<span class="hljs-value">"18"</span> <span class="hljs-attribute">offset</span>=<span class="hljs-value">"6"</span>&gt;</span>
                <span class="hljs-tag">&lt;<span class="hljs-title">Button</span> <span class="hljs-attribute">type</span>=<span class="hljs-value">"primary"</span> <span class="hljs-attribute">onClick</span>=<span class="hljs-value">{this.handleSubmit}</span>&gt;</span>提交<span class="hljs-tag">&lt;/<span class="hljs-title">Button</span>&gt;</span>
              <span class="hljs-tag">&lt;/<span class="hljs-title">Col</span>&gt;</span>
            <span class="hljs-tag">&lt;/<span class="hljs-title">Col</span>&gt;</span>
          <span class="hljs-tag">&lt;/<span class="hljs-title">Row</span>&gt;</span>
        <span class="hljs-tag">&lt;/<span class="hljs-title">Form</span>&gt;</span>
      <span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
    )</span>;
  }
});

Demo = createForm()(Demo);

ReactDOM.render(<span class="xml"><span class="hljs-tag">&lt;<span class="hljs-title">Demo</span> /&gt;</span>, mountNode);</span></code></pre></div><style type="text/css">.ant-pwd-strength {
  display: inline-block;
  margin-left: 8px;
  line-height: 32px;
  height: 32px;
  vertical-align: middle;
}

.ant-pwd-strength-item {
  float: left;
  margin-right: 1px;
  margin-top: 12px;
  width: 19px;
  height: 8px;
  line-height: 8px;
  list-style: none;
  background-color: #f3f3f3;
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.ant-pwd-strength-item-1 {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

.ant-pwd-strength-item-2 {
  width: 20px;
}

.ant-pwd-strength-item-3 {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  margin-right: 8px;
}

.ant-pwd-strength-low .ant-pwd-strength-item-1, .ant-pwd-strength-medium .ant-pwd-strength-item-1, .ant-pwd-strength-high .ant-pwd-strength-item-1 {
  background-color: #FAC450;
}

.ant-pwd-strength-medium .ant-pwd-strength-item-2, .ant-pwd-strength-high .ant-pwd-strength-item-2 {
  background-color: rgba(135, 208, 104, .6);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#9987D068,endColorstr=#9987D068);
}

.ant-pwd-strength-high .ant-pwd-strength-item-3 {
  background-color: #87D068;
}</style><div class="highlight"><pre><code class="css"><span class="hljs-class">.ant-pwd-strength</span> <span class="hljs-rules">{
  <span class="hljs-rule"><span class="hljs-attribute">display</span>:<span class="hljs-value"> inline-block</span></span>;
  <span class="hljs-rule"><span class="hljs-attribute">margin-left</span>:<span class="hljs-value"> <span class="hljs-number">8px</span></span></span>;
  <span class="hljs-rule"><span class="hljs-attribute">line-height</span>:<span class="hljs-value"> <span class="hljs-number">32px</span></span></span>;
  <span class="hljs-rule"><span class="hljs-attribute">height</span>:<span class="hljs-value"> <span class="hljs-number">32px</span></span></span>;
  <span class="hljs-rule"><span class="hljs-attribute">vertical-align</span>:<span class="hljs-value"> middle</span></span>;
}</span>

<span class="hljs-class">.ant-pwd-strength-item</span> <span class="hljs-rules">{
  <span class="hljs-rule"><span class="hljs-attribute">float</span>:<span class="hljs-value"> left</span></span>;
  <span class="hljs-rule"><span class="hljs-attribute">margin-right</span>:<span class="hljs-value"> <span class="hljs-number">1px</span></span></span>;
  <span class="hljs-rule"><span class="hljs-attribute">margin-top</span>:<span class="hljs-value"> <span class="hljs-number">12px</span></span></span>;
  <span class="hljs-rule"><span class="hljs-attribute">width</span>:<span class="hljs-value"> <span class="hljs-number">19px</span></span></span>;
  <span class="hljs-rule"><span class="hljs-attribute">height</span>:<span class="hljs-value"> <span class="hljs-number">8px</span></span></span>;
  <span class="hljs-rule"><span class="hljs-attribute">line-height</span>:<span class="hljs-value"> <span class="hljs-number">8px</span></span></span>;
  <span class="hljs-rule"><span class="hljs-attribute">list-style</span>:<span class="hljs-value"> none</span></span>;
  <span class="hljs-rule"><span class="hljs-attribute">background-color</span>:<span class="hljs-value"> <span class="hljs-hexcolor">#f3f3f3</span></span></span>;
  <span class="hljs-rule"><span class="hljs-attribute">transition</span>:<span class="hljs-value"> all <span class="hljs-number">0.3s</span> <span class="hljs-function">cubic-bezier</span>(<span class="hljs-number">0.645</span>, <span class="hljs-number">0.045</span>, <span class="hljs-number">0.355</span>, <span class="hljs-number">1</span>)</span></span>;
}</span>

<span class="hljs-class">.ant-pwd-strength-item-1</span> <span class="hljs-rules">{
  <span class="hljs-rule"><span class="hljs-attribute">border-top-left-radius</span>:<span class="hljs-value"> <span class="hljs-number">6px</span></span></span>;
  <span class="hljs-rule"><span class="hljs-attribute">border-bottom-left-radius</span>:<span class="hljs-value"> <span class="hljs-number">6px</span></span></span>;
}</span>

<span class="hljs-class">.ant-pwd-strength-item-2</span> <span class="hljs-rules">{
  <span class="hljs-rule"><span class="hljs-attribute">width</span>:<span class="hljs-value"> <span class="hljs-number">20px</span></span></span>;
}</span>

<span class="hljs-class">.ant-pwd-strength-item-3</span> <span class="hljs-rules">{
  <span class="hljs-rule"><span class="hljs-attribute">border-top-right-radius</span>:<span class="hljs-value"> <span class="hljs-number">6px</span></span></span>;
  <span class="hljs-rule"><span class="hljs-attribute">border-bottom-right-radius</span>:<span class="hljs-value"> <span class="hljs-number">6px</span></span></span>;
  <span class="hljs-rule"><span class="hljs-attribute">margin-right</span>:<span class="hljs-value"> <span class="hljs-number">8px</span></span></span>;
}</span>

<span class="hljs-class">.ant-pwd-strength-low</span> <span class="hljs-class">.ant-pwd-strength-item-1</span>, <span class="hljs-class">.ant-pwd-strength-medium</span> <span class="hljs-class">.ant-pwd-strength-item-1</span>, <span class="hljs-class">.ant-pwd-strength-high</span> <span class="hljs-class">.ant-pwd-strength-item-1</span> <span class="hljs-rules">{
  <span class="hljs-rule"><span class="hljs-attribute">background-color</span>:<span class="hljs-value"> <span class="hljs-hexcolor">#FAC450</span></span></span>;
}</span>

<span class="hljs-class">.ant-pwd-strength-medium</span> <span class="hljs-class">.ant-pwd-strength-item-2</span>, <span class="hljs-class">.ant-pwd-strength-high</span> <span class="hljs-class">.ant-pwd-strength-item-2</span> <span class="hljs-rules">{
  <span class="hljs-rule"><span class="hljs-attribute">background-color</span>:<span class="hljs-value"> <span class="hljs-function">rgba</span>(<span class="hljs-number">135</span>, <span class="hljs-number">208</span>, <span class="hljs-number">104</span>, .<span class="hljs-number">6</span>)</span></span>;
  <span class="hljs-rule"><span class="hljs-attribute">filter</span>:<span class="hljs-value">progid:DXImageTransform.Microsoft.<span class="hljs-function">gradient</span>(startColorstr=<span class="hljs-hexcolor">#9987D068</span>,endColorstr=<span class="hljs-hexcolor">#9987D068</span>)</span></span>;
}</span>

<span class="hljs-class">.ant-pwd-strength-high</span> <span class="hljs-class">.ant-pwd-strength-item-3</span> <span class="hljs-rules">{
  <span class="hljs-rule"><span class="hljs-attribute">background-color</span>:<span class="hljs-value"> <span class="hljs-hexcolor">#87D068</span></span></span>;
}</span></code></pre></div>
  </div>
  <div class="code-box-meta markdown">
    <div class="code-box-title">
      <a href="#demo-validate-customized">自定义校验规则</a>
    </div>
    
<p>密码校验实例。</p>
<p>这里使用了 <code>this.props.form.validateFields</code> 方法，在对第一次输入的密码进行校验时会触发二次密码的校验。</p>

    <span class="collapse anticon anticon-circle-o-right" unselectable="none"></span>
  </div>
</div>