<div class="code-box" id="demo-icon">
  <div class="code-box-demo">
    <div id="components-alert-demo-icon"></div>
    <script>mountNode = document.getElementById('components-alert-demo-icon');</script>
    <script>(function(){"use strict";

var _antd = require("antd");

ReactDOM.render(React.createElement(
  "div",
  null,
  React.createElement(_antd.Alert, { message: "成功提示的文案", type: "success", showIcon: true }),
  React.createElement(_antd.Alert, { message: "消息提示的文案", type: "info", showIcon: true }),
  React.createElement(_antd.Alert, { message: "警告提示的文案", type: "warn", showIcon: true }),
  React.createElement(_antd.Alert, { message: "错误提示的文案", type: "error", showIcon: true }),
  React.createElement(_antd.Alert, { message: "成功提示的文案",
    description: "成功提示的辅助性文字介绍成功提示的辅助性文字介绍成功提示的辅助性文字介绍成功提示的辅助性文字介绍",
    type: "success",
    showIcon: true }),
  React.createElement(_antd.Alert, { message: "消息提示的文案",
    description: "消息提示的辅助性文字介绍消息提示的辅助性文字介绍消息提示的辅助性文字介绍",
    type: "info",
    showIcon: true }),
  React.createElement(_antd.Alert, {
    message: "警告提示的文案",
    description: "警告提示的辅助性文字介绍警告提示的辅助性文字介绍",
    type: "warn",
    showIcon: true }),
  React.createElement(_antd.Alert, {
    message: "错误提示的文案",
    description: "错误提示的辅助性文字介绍错误提示的辅助性文字介绍错误提示的辅助性文字介绍错误提示的辅助性文字介绍错误提示的辅助性文字介绍错误提示的辅助性文字介绍",
    type: "error",
    showIcon: true })
), mountNode);})()</script><div class="highlight"><pre><code class="javascript"><span class="hljs-keyword">import</span> { Alert } <span class="hljs-keyword">from</span> <span class="hljs-string">'antd'</span>;

ReactDOM.render(<span class="xml"><span class="hljs-tag">&lt;<span class="hljs-title">div</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-title">Alert</span> <span class="hljs-attribute">message</span>=<span class="hljs-value">"成功提示的文案"</span> <span class="hljs-attribute">type</span>=<span class="hljs-value">"success"</span> <span class="hljs-attribute">showIcon</span> /&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-title">Alert</span> <span class="hljs-attribute">message</span>=<span class="hljs-value">"消息提示的文案"</span> <span class="hljs-attribute">type</span>=<span class="hljs-value">"info"</span> <span class="hljs-attribute">showIcon</span> /&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-title">Alert</span> <span class="hljs-attribute">message</span>=<span class="hljs-value">"警告提示的文案"</span> <span class="hljs-attribute">type</span>=<span class="hljs-value">"warn"</span> <span class="hljs-attribute">showIcon</span> /&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-title">Alert</span> <span class="hljs-attribute">message</span>=<span class="hljs-value">"错误提示的文案"</span> <span class="hljs-attribute">type</span>=<span class="hljs-value">"error"</span> <span class="hljs-attribute">showIcon</span> /&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-title">Alert</span> <span class="hljs-attribute">message</span>=<span class="hljs-value">"成功提示的文案"</span>
    <span class="hljs-attribute">description</span>=<span class="hljs-value">"成功提示的辅助性文字介绍成功提示的辅助性文字介绍成功提示的辅助性文字介绍成功提示的辅助性文字介绍"</span>
    <span class="hljs-attribute">type</span>=<span class="hljs-value">"success"</span>
    <span class="hljs-attribute">showIcon</span> /&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-title">Alert</span> <span class="hljs-attribute">message</span>=<span class="hljs-value">"消息提示的文案"</span>
    <span class="hljs-attribute">description</span>=<span class="hljs-value">"消息提示的辅助性文字介绍消息提示的辅助性文字介绍消息提示的辅助性文字介绍"</span>
    <span class="hljs-attribute">type</span>=<span class="hljs-value">"info"</span>
    <span class="hljs-attribute">showIcon</span> /&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-title">Alert</span>
    <span class="hljs-attribute">message</span>=<span class="hljs-value">"警告提示的文案"</span>
    <span class="hljs-attribute">description</span>=<span class="hljs-value">"警告提示的辅助性文字介绍警告提示的辅助性文字介绍"</span>
    <span class="hljs-attribute">type</span>=<span class="hljs-value">"warn"</span>
    <span class="hljs-attribute">showIcon</span> /&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-title">Alert</span>
    <span class="hljs-attribute">message</span>=<span class="hljs-value">"错误提示的文案"</span>
    <span class="hljs-attribute">description</span>=<span class="hljs-value">"错误提示的辅助性文字介绍错误提示的辅助性文字介绍错误提示的辅助性文字介绍错误提示的辅助性文字介绍错误提示的辅助性文字介绍错误提示的辅助性文字介绍"</span>
    <span class="hljs-attribute">type</span>=<span class="hljs-value">"error"</span>
    <span class="hljs-attribute">showIcon</span> /&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>, mountNode);</span></code></pre></div>
  </div>
  <div class="code-box-meta markdown">
    <div class="code-box-title">
      <a href="#demo-icon">图标</a>
    </div>
    <p>可口的图标让信息类型更加醒目。</p>
    <span class="collapse anticon anticon-circle-o-right" unselectable="none" style="-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;"></span>
  </div>
</div>