<div class="code-box" id="demo-simple">
  <div class="code-box-demo">
    <div id="components-steps-demo-simple"></div>
    <script>mountNode = document.getElementById('components-steps-demo-simple');</script>
    <script>(function(){'use strict';

var _antd = require('antd');

var Step = _antd.Steps.Step;

var steps = [{
  title: '已完成',
  description: '这里是多信息的描述啊'
}, {
  title: '进行中',
  description: '这里是多信息的耶哦耶哦哦耶哦耶'
}, {
  title: '又一个待运行',
  description: '描述啊描述啊'
}, {
  title: '待运行',
  description: '这里是多信息的描述啊'
}].map(function (s, i) {
  return React.createElement(Step, { key: i, title: s.title, description: s.description });
});

ReactDOM.render(React.createElement(
  _antd.Steps,
  { current: 1 },
  steps
), mountNode);})()</script><div class="highlight"><pre><code class="javascript"><span class="hljs-keyword">import</span> { Steps } <span class="hljs-keyword">from</span> <span class="hljs-string">'antd'</span>;
<span class="hljs-keyword">const</span> Step = Steps.Step;

<span class="hljs-keyword">const</span> steps = [{
  title: <span class="hljs-string">'已完成'</span>,
  description: <span class="hljs-string">'这里是多信息的描述啊'</span>
}, {
  title: <span class="hljs-string">'进行中'</span>,
  description: <span class="hljs-string">'这里是多信息的耶哦耶哦哦耶哦耶'</span>
}, {
  title: <span class="hljs-string">'又一个待运行'</span>,
  description: <span class="hljs-string">'描述啊描述啊'</span>
}, {
  title: <span class="hljs-string">'待运行'</span>,
  description: <span class="hljs-string">'这里是多信息的描述啊'</span>
}].map((s, i) =&gt; <span class="xml"><span class="hljs-tag">&lt;<span class="hljs-title">Step</span> <span class="hljs-attribute">key</span>=<span class="hljs-value">{i}</span> <span class="hljs-attribute">title</span>=<span class="hljs-value">{s.title}</span> <span class="hljs-attribute">description</span>=<span class="hljs-value">{s.description}</span> /&gt;</span>)</span>;

ReactDOM.render(<span class="xml"><span class="hljs-tag">&lt;<span class="hljs-title">Steps</span> <span class="hljs-attribute">current</span>=<span class="hljs-value">{1}</span>&gt;</span>{steps}<span class="hljs-tag">&lt;/<span class="hljs-title">Steps</span>&gt;</span>, mountNode);</span></code></pre></div>
  </div>
  <div class="code-box-meta markdown">
    <div class="code-box-title">
      <a href="#demo-simple">基本用法</a>
    </div>
    
<p>简单的步骤条。</p>

    <span class="collapse anticon anticon-circle-o-right" unselectable="none"></span>
  </div>
</div>