<div class="code-box" id="demo-size">
  <div class="code-box-demo">
    <div id="components-datepicker-demo-size"></div>
    <script>(function(){"use strict";

var _antd = require('antd');

ReactDOM.render(React.createElement(
  "div",
  null,
  React.createElement(_antd.Datepicker, { size: "large" }),
  React.createElement(_antd.Datepicker, null),
  React.createElement(_antd.Datepicker, { size: "small" })
), document.getElementById('components-datepicker-demo-size'));})()</script><div class="highlight"><pre><code class="javascript"><span class="hljs-keyword">import</span> { Datepicker } <span class="hljs-keyword">from</span> <span class="hljs-string">'antd'</span>;

ReactDOM.render(
  <span class="xml"><span class="hljs-tag">&lt;<span class="hljs-title">div</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-title">Datepicker</span> <span class="hljs-attribute">size</span>=<span class="hljs-value">"large"</span> /&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-title">Datepicker</span> /&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-title">Datepicker</span> <span class="hljs-attribute">size</span>=<span class="hljs-value">"small"</span> /&gt;</span>
  <span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
, document.getElementById('components-datepicker-demo-size'));</span></code></pre></div>
  </div>
  <div class="code-box-meta markdown">
    <div class="code-box-title">
      <a href="#demo-size">三种大小</a>
    </div>
    <p>三种大小的输入框，大的用在表单中，中的为默认。</p>
    <span class="collapse anticon anticon-circle-o-right" unselectable="none" style="-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;"></span>
  </div>
</div>