<div class="code-box" id="demo-basic">
  <div class="code-box-demo">
    <div id="components-layout-demo-basic"></div>
    <script>(function(){"use strict";

var _antd = require('antd');

ReactDOM.render(React.createElement(
  "div",
  null,
  React.createElement(
    _antd.Row,
    null,
    React.createElement(
      _antd.Col,
      { span: "12" },
      ".col-12"
    ),
    React.createElement(
      _antd.Col,
      { span: "12" },
      ".col-12"
    )
  ),
  React.createElement(
    _antd.Row,
    { className: "testRowClassName" },
    React.createElement(
      _antd.Col,
      { span: "8" },
      ".col-8"
    ),
    React.createElement(
      _antd.Col,
      { span: "8" },
      ".col-8"
    ),
    React.createElement(
      _antd.Col,
      { span: "8", className: "testColClassName" },
      ".col-8"
    )
  ),
  React.createElement(
    _antd.Row,
    null,
    React.createElement(
      _antd.Col,
      { span: "6" },
      ".col-6"
    ),
    React.createElement(
      _antd.Col,
      { span: "6" },
      ".col-6"
    ),
    React.createElement(
      _antd.Col,
      { span: "6" },
      ".col-6"
    ),
    React.createElement(
      _antd.Col,
      { span: "6" },
      ".col-6"
    )
  )
), document.getElementById('components-layout-demo-basic'));})()</script><div class="highlight"><pre><code class="javascript"><span class="hljs-keyword">import</span> { Row, Col } <span class="hljs-keyword">from</span> <span class="hljs-string">'antd'</span>;

ReactDOM.render(
  <span class="xml"><span class="hljs-tag">&lt;<span class="hljs-title">div</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-title">Row</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-title">Col</span> <span class="hljs-attribute">span</span>=<span class="hljs-value">"12"</span>&gt;</span>.col-12<span class="hljs-tag">&lt;/<span class="hljs-title">Col</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-title">Col</span> <span class="hljs-attribute">span</span>=<span class="hljs-value">"12"</span>&gt;</span>.col-12<span class="hljs-tag">&lt;/<span class="hljs-title">Col</span>&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-title">Row</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-title">Row</span> <span class="hljs-attribute">className</span>=<span class="hljs-value">"testRowClassName"</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-title">Col</span> <span class="hljs-attribute">span</span>=<span class="hljs-value">"8"</span>&gt;</span>.col-8<span class="hljs-tag">&lt;/<span class="hljs-title">Col</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-title">Col</span> <span class="hljs-attribute">span</span>=<span class="hljs-value">"8"</span>&gt;</span>.col-8<span class="hljs-tag">&lt;/<span class="hljs-title">Col</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-title">Col</span> <span class="hljs-attribute">span</span>=<span class="hljs-value">"8"</span> <span class="hljs-attribute">className</span>=<span class="hljs-value">"testColClassName"</span>&gt;</span>.col-8<span class="hljs-tag">&lt;/<span class="hljs-title">Col</span>&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-title">Row</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-title">Row</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-title">Col</span> <span class="hljs-attribute">span</span>=<span class="hljs-value">"6"</span>&gt;</span>.col-6<span class="hljs-tag">&lt;/<span class="hljs-title">Col</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-title">Col</span> <span class="hljs-attribute">span</span>=<span class="hljs-value">"6"</span>&gt;</span>.col-6<span class="hljs-tag">&lt;/<span class="hljs-title">Col</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-title">Col</span> <span class="hljs-attribute">span</span>=<span class="hljs-value">"6"</span>&gt;</span>.col-6<span class="hljs-tag">&lt;/<span class="hljs-title">Col</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-title">Col</span> <span class="hljs-attribute">span</span>=<span class="hljs-value">"6"</span>&gt;</span>.col-6<span class="hljs-tag">&lt;/<span class="hljs-title">Col</span>&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-title">Row</span>&gt;</span>
  <span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>,
  document.getElementById('components-layout-demo-basic')
);</span></code></pre></div><style>
.testRowClassName {
    background: #f0f0f0;
}
div.testColClassName {
    background: rgba(24, 115, 216, 0.9);
}
</style>

  </div>
  <div class="code-box-meta markdown">
    <div class="code-box-title">
      <a href="#demo-basic">基础布局</a>
    </div>
    <p>从堆叠到水平排列。</p>
<p>使用单一的一组 <code>.col-*</code> 栅格类，就可以创建一个基本的栅格系统，所有列（column）必须放在 <code>.row</code> 内。</p>
    <span class="collapse anticon anticon-circle-o-right" unselectable="none" style="-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;"></span>
  </div>
</div>