<div class="code-box" id="demo-flex-align">
  <div class="code-box-demo">
    <div id="components-layout-demo-flex-align"></div>
    <script>(function(){"use strict";

var _antd = require('antd');

var DemoBox = React.createClass({
  displayName: "DemoBox",

  render: function render() {
    var value = this.props.value;

    var className = "hight-" + value;
    return React.createElement(
      "p",
      { className: className },
      this.props.children
    );
  }
});

ReactDOM.render(React.createElement(
  "div",
  null,
  React.createElement(
    "p",
    null,
    "顶部对齐"
  ),
  React.createElement(
    _antd.Row,
    { type: "flex", justify: "center", align: "top" },
    React.createElement(
      _antd.Col,
      { span: "4" },
      React.createElement(
        DemoBox,
        { value: "100" },
        ".col-4"
      )
    ),
    React.createElement(
      _antd.Col,
      { span: "4" },
      React.createElement(
        DemoBox,
        { value: "50" },
        ".col-4"
      )
    ),
    React.createElement(
      _antd.Col,
      { span: "4" },
      React.createElement(
        DemoBox,
        { value: "120" },
        ".col-4"
      )
    ),
    React.createElement(
      _antd.Col,
      { span: "4" },
      React.createElement(
        DemoBox,
        { value: "80" },
        ".col-4"
      )
    )
  ),
  React.createElement(
    "p",
    null,
    "居中对齐"
  ),
  React.createElement(
    _antd.Row,
    { type: "flex", justify: "space-around", align: "middle" },
    React.createElement(
      _antd.Col,
      { span: "4" },
      React.createElement(
        DemoBox,
        { value: "100" },
        ".col-4"
      )
    ),
    React.createElement(
      _antd.Col,
      { span: "4" },
      React.createElement(
        DemoBox,
        { value: "50" },
        ".col-4"
      )
    ),
    React.createElement(
      _antd.Col,
      { span: "4" },
      React.createElement(
        DemoBox,
        { value: "120" },
        ".col-4"
      )
    ),
    React.createElement(
      _antd.Col,
      { span: "4" },
      React.createElement(
        DemoBox,
        { value: "80" },
        ".col-4"
      )
    )
  ),
  React.createElement(
    "p",
    null,
    "底部对齐"
  ),
  React.createElement(
    _antd.Row,
    { type: "flex", justify: "space-between", align: "bottom" },
    React.createElement(
      _antd.Col,
      { span: "4" },
      React.createElement(
        DemoBox,
        { value: "100" },
        ".col-4"
      )
    ),
    React.createElement(
      _antd.Col,
      { span: "4" },
      React.createElement(
        DemoBox,
        { value: "50" },
        ".col-4"
      )
    ),
    React.createElement(
      _antd.Col,
      { span: "4" },
      React.createElement(
        DemoBox,
        { value: "120" },
        ".col-4"
      )
    ),
    React.createElement(
      _antd.Col,
      { span: "4" },
      React.createElement(
        DemoBox,
        { value: "80" },
        ".col-4"
      )
    )
  )
), document.getElementById('components-layout-demo-flex-align'));})()</script><div class="highlight"><pre><code class="javascript"><span class="hljs-keyword">import</span> { Row, Col } <span class="hljs-keyword">from</span> <span class="hljs-string">'antd'</span>;

<span class="hljs-keyword">const</span> DemoBox = React.createClass({
  render() {
    <span class="hljs-keyword">const</span> { value } = <span class="hljs-keyword">this</span>.props;
    <span class="hljs-keyword">const</span> className = <span class="hljs-string">`hight-<span class="hljs-subst">${value}</span>`</span>;
    <span class="hljs-keyword">return</span> (
      <span class="xml"><span class="hljs-tag">&lt;<span class="hljs-title">p</span> <span class="hljs-attribute">className</span>=<span class="hljs-value">{className}</span>&gt;</span>{this.props.children}<span class="hljs-tag">&lt;/<span class="hljs-title">p</span>&gt;</span>
    )</span>;
  }
});

ReactDOM.render(
  <span class="xml"><span class="hljs-tag">&lt;<span class="hljs-title">div</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-title">p</span>&gt;</span>顶部对齐<span class="hljs-tag">&lt;/<span class="hljs-title">p</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-title">Row</span> <span class="hljs-attribute">type</span>=<span class="hljs-value">"flex"</span> <span class="hljs-attribute">justify</span>=<span class="hljs-value">"center"</span> <span class="hljs-attribute">align</span>=<span class="hljs-value">"top"</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-title">Col</span> <span class="hljs-attribute">span</span>=<span class="hljs-value">"4"</span>&gt;</span><span class="hljs-tag">&lt;<span class="hljs-title">DemoBox</span> <span class="hljs-attribute">value</span>=<span class="hljs-value">"100"</span>&gt;</span>.col-4<span class="hljs-tag">&lt;/<span class="hljs-title">DemoBox</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-title">Col</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-title">Col</span> <span class="hljs-attribute">span</span>=<span class="hljs-value">"4"</span>&gt;</span><span class="hljs-tag">&lt;<span class="hljs-title">DemoBox</span> <span class="hljs-attribute">value</span>=<span class="hljs-value">"50"</span>&gt;</span>.col-4<span class="hljs-tag">&lt;/<span class="hljs-title">DemoBox</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-title">Col</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-title">Col</span> <span class="hljs-attribute">span</span>=<span class="hljs-value">"4"</span>&gt;</span><span class="hljs-tag">&lt;<span class="hljs-title">DemoBox</span> <span class="hljs-attribute">value</span>=<span class="hljs-value">"120"</span>&gt;</span>.col-4<span class="hljs-tag">&lt;/<span class="hljs-title">DemoBox</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-title">Col</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-title">Col</span> <span class="hljs-attribute">span</span>=<span class="hljs-value">"4"</span>&gt;</span><span class="hljs-tag">&lt;<span class="hljs-title">DemoBox</span> <span class="hljs-attribute">value</span>=<span class="hljs-value">"80"</span>&gt;</span>.col-4<span class="hljs-tag">&lt;/<span class="hljs-title">DemoBox</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-title">Col</span>&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-title">Row</span>&gt;</span>

    <span class="hljs-tag">&lt;<span class="hljs-title">p</span>&gt;</span>居中对齐<span class="hljs-tag">&lt;/<span class="hljs-title">p</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-title">Row</span> <span class="hljs-attribute">type</span>=<span class="hljs-value">"flex"</span> <span class="hljs-attribute">justify</span>=<span class="hljs-value">"space-around"</span> <span class="hljs-attribute">align</span>=<span class="hljs-value">"middle"</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-title">Col</span> <span class="hljs-attribute">span</span>=<span class="hljs-value">"4"</span>&gt;</span><span class="hljs-tag">&lt;<span class="hljs-title">DemoBox</span> <span class="hljs-attribute">value</span>=<span class="hljs-value">"100"</span>&gt;</span>.col-4<span class="hljs-tag">&lt;/<span class="hljs-title">DemoBox</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-title">Col</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-title">Col</span> <span class="hljs-attribute">span</span>=<span class="hljs-value">"4"</span>&gt;</span><span class="hljs-tag">&lt;<span class="hljs-title">DemoBox</span> <span class="hljs-attribute">value</span>=<span class="hljs-value">"50"</span>&gt;</span>.col-4<span class="hljs-tag">&lt;/<span class="hljs-title">DemoBox</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-title">Col</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-title">Col</span> <span class="hljs-attribute">span</span>=<span class="hljs-value">"4"</span>&gt;</span><span class="hljs-tag">&lt;<span class="hljs-title">DemoBox</span> <span class="hljs-attribute">value</span>=<span class="hljs-value">"120"</span>&gt;</span>.col-4<span class="hljs-tag">&lt;/<span class="hljs-title">DemoBox</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-title">Col</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-title">Col</span> <span class="hljs-attribute">span</span>=<span class="hljs-value">"4"</span>&gt;</span><span class="hljs-tag">&lt;<span class="hljs-title">DemoBox</span> <span class="hljs-attribute">value</span>=<span class="hljs-value">"80"</span>&gt;</span>.col-4<span class="hljs-tag">&lt;/<span class="hljs-title">DemoBox</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-title">Col</span>&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-title">Row</span>&gt;</span>

    <span class="hljs-tag">&lt;<span class="hljs-title">p</span>&gt;</span>底部对齐<span class="hljs-tag">&lt;/<span class="hljs-title">p</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-title">Row</span> <span class="hljs-attribute">type</span>=<span class="hljs-value">"flex"</span> <span class="hljs-attribute">justify</span>=<span class="hljs-value">"space-between"</span> <span class="hljs-attribute">align</span>=<span class="hljs-value">"bottom"</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-title">Col</span> <span class="hljs-attribute">span</span>=<span class="hljs-value">"4"</span>&gt;</span><span class="hljs-tag">&lt;<span class="hljs-title">DemoBox</span> <span class="hljs-attribute">value</span>=<span class="hljs-value">"100"</span>&gt;</span>.col-4<span class="hljs-tag">&lt;/<span class="hljs-title">DemoBox</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-title">Col</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-title">Col</span> <span class="hljs-attribute">span</span>=<span class="hljs-value">"4"</span>&gt;</span><span class="hljs-tag">&lt;<span class="hljs-title">DemoBox</span> <span class="hljs-attribute">value</span>=<span class="hljs-value">"50"</span>&gt;</span>.col-4<span class="hljs-tag">&lt;/<span class="hljs-title">DemoBox</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-title">Col</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-title">Col</span> <span class="hljs-attribute">span</span>=<span class="hljs-value">"4"</span>&gt;</span><span class="hljs-tag">&lt;<span class="hljs-title">DemoBox</span> <span class="hljs-attribute">value</span>=<span class="hljs-value">"120"</span>&gt;</span>.col-4<span class="hljs-tag">&lt;/<span class="hljs-title">DemoBox</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-title">Col</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-title">Col</span> <span class="hljs-attribute">span</span>=<span class="hljs-value">"4"</span>&gt;</span><span class="hljs-tag">&lt;<span class="hljs-title">DemoBox</span> <span class="hljs-attribute">value</span>=<span class="hljs-value">"80"</span>&gt;</span>.col-4<span class="hljs-tag">&lt;/<span class="hljs-title">DemoBox</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-title">Col</span>&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-title">Row</span>&gt;</span>
  <span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>,
  document.getElementById('components-layout-demo-flex-align')
);</span></code></pre></div>
  </div>
  <div class="code-box-meta markdown">
    <div class="code-box-title">
      <a href="#demo-flex-align">Flex对齐</a>
    </div>
    <p>Flex 子元素垂直对齐。</p>
    <span class="collapse anticon anticon-circle-o-right" unselectable="none" style="-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;"></span>
  </div>
</div>