<div class="code-box" id="demo-with-icon">
  <div class="code-box-demo">
    <div id="components-notification-demo-with-icon"></div>
    <script>(function(){"use strict";

var notification = antd.Notification;

var openNotificationWithIcon = function openNotificationWithIcon(type) {
  return function () {
    notification[type]({
      message: "这是标题",
      description: "这是提示框的文案这是提示框示框的文案这是提示是提示框的文案这是提示框的文案"
    });
  };
};

React.render(React.createElement(
  "div",
  null,
  React.createElement(
    "button",
    { className: "ant-btn", onClick: openNotificationWithIcon('success') },
    "成功"
  ),
  React.createElement(
    "button",
    { className: "ant-btn", onClick: openNotificationWithIcon('info') },
    "消息"
  ),
  React.createElement(
    "button",
    { className: "ant-btn", onClick: openNotificationWithIcon('warn') },
    "警告"
  ),
  React.createElement(
    "button",
    { className: "ant-btn", onClick: openNotificationWithIcon('error') },
    "错误"
  )
), document.getElementById('components-notification-demo-with-icon'));})()</script><div class="highlight"><pre><code class="javascript"><span class="keyword">var</span> notification = antd.Notification;

<span class="keyword">var</span> openNotificationWithIcon = <span class="function"><span class="keyword">function</span><span class="params">(type)</span> {</span>
  <span class="keyword">return</span> <span class="function"><span class="keyword">function</span><span class="params">()</span>{</span>
    notification[type]({
      message: <span class="string">"这是标题"</span>,
      description: <span class="string">"这是提示框的文案这是提示框示框的文案这是提示是提示框的文案这是提示框的文案"</span>
    });
  };
};

React.render(<span class="xml"><span class="tag">&lt;<span class="title">div</span>&gt;</span>
  <span class="tag">&lt;<span class="title">button</span> <span class="attribute">className</span>=<span class="value">"ant-btn"</span> <span class="attribute">onClick</span>=<span class="value">{openNotificationWithIcon('success')}</span>&gt;</span>成功<span class="tag">&lt;/<span class="title">button</span>&gt;</span>
  <span class="tag">&lt;<span class="title">button</span> <span class="attribute">className</span>=<span class="value">"ant-btn"</span> <span class="attribute">onClick</span>=<span class="value">{openNotificationWithIcon('info')}</span>&gt;</span>消息<span class="tag">&lt;/<span class="title">button</span>&gt;</span>
  <span class="tag">&lt;<span class="title">button</span> <span class="attribute">className</span>=<span class="value">"ant-btn"</span> <span class="attribute">onClick</span>=<span class="value">{openNotificationWithIcon('warn')}</span>&gt;</span>警告<span class="tag">&lt;/<span class="title">button</span>&gt;</span>
  <span class="tag">&lt;<span class="title">button</span> <span class="attribute">className</span>=<span class="value">"ant-btn"</span> <span class="attribute">onClick</span>=<span class="value">{openNotificationWithIcon('error')}</span>&gt;</span>错误<span class="tag">&lt;/<span class="title">button</span>&gt;</span>
  <span class="tag">&lt;/<span class="title">div</span>&gt;</span>
, document.getElementById('components-notification-demo-with-icon'));</span></code></pre></div><style>
.code-box-demo .ant-btn {
  margin-right: 1em;
}
</style>

  </div>
  <div class="code-box-meta markdown">
    <div class="code-box-title">
      <a href="#demo-with-icon">带有Icon的通知提醒框</a>
    </div>
    <p>通知提醒框左侧有图标。</p>
    <span class="collapse anticon anticon-circle-o-right" unselectable="none" style="-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;"></span>
  </div>
</div>