<div class="code-box" id="demo-button-group">
  <div class="code-box-demo">
    <div id="components-button-demo-button-group"></div>
    <script>(function(){"use strict";

var _antd = require('antd');

var ButtonGroup = _antd.Button.Group;

ReactDOM.render(React.createElement(
  "div",
  null,
  React.createElement(
    "h4",
    null,
    "基本组合"
  ),
  React.createElement(
    ButtonGroup,
    null,
    React.createElement(
      _antd.Button,
      { type: "primary" },
      "确定"
    ),
    React.createElement(
      _antd.Button,
      { type: "primary" },
      "取消"
    )
  ),
  React.createElement(
    ButtonGroup,
    null,
    React.createElement(
      _antd.Button,
      null,
      "左"
    ),
    React.createElement(
      _antd.Button,
      null,
      "中"
    ),
    React.createElement(
      _antd.Button,
      null,
      "右"
    )
  ),
  React.createElement(
    ButtonGroup,
    null,
    React.createElement(
      _antd.Button,
      { type: "primary" },
      "左"
    ),
    React.createElement(
      _antd.Button,
      { type: "ghost" },
      "中"
    ),
    React.createElement(
      _antd.Button,
      { type: "ghost" },
      "中"
    ),
    React.createElement(
      _antd.Button,
      null,
      "右"
    )
  ),
  React.createElement(
    "h4",
    null,
    "带图标按钮组合"
  ),
  React.createElement(
    ButtonGroup,
    null,
    React.createElement(
      _antd.Button,
      { type: "primary" },
      React.createElement(_antd.Icon, { type: "left" }),
      React.createElement(
        "span",
        null,
        "后退"
      )
    ),
    React.createElement(
      _antd.Button,
      { type: "primary" },
      "前进",
      React.createElement(_antd.Icon, { type: "right" })
    )
  ),
  React.createElement(
    ButtonGroup,
    null,
    React.createElement(
      _antd.Button,
      { type: "primary" },
      React.createElement(_antd.Icon, { type: "cloud" })
    ),
    React.createElement(
      _antd.Button,
      { type: "primary" },
      React.createElement(_antd.Icon, { type: "cloud-download" })
    )
  ),
  React.createElement(
    "h4",
    null,
    "多个组合"
  ),
  React.createElement(
    ButtonGroup,
    null,
    React.createElement(
      _antd.Button,
      { type: "ghost" },
      "1"
    ),
    React.createElement(
      _antd.Button,
      { type: "ghost" },
      "2"
    ),
    React.createElement(
      _antd.Button,
      { type: "ghost" },
      "3"
    ),
    React.createElement(
      _antd.Button,
      { type: "ghost" },
      "4"
    ),
    React.createElement(
      _antd.Button,
      { type: "ghost" },
      React.createElement(
        "span",
        null,
        "前进"
      ),
      React.createElement(_antd.Icon, { type: "right" })
    )
  ),
  React.createElement(
    "h4",
    null,
    "尺寸"
  ),
  React.createElement(
    ButtonGroup,
    { size: "large" },
    React.createElement(
      _antd.Button,
      { type: "ghost" },
      "大"
    ),
    React.createElement(
      _antd.Button,
      { type: "ghost" },
      "大"
    ),
    React.createElement(
      _antd.Button,
      { type: "ghost" },
      "大"
    )
  ),
  React.createElement(
    ButtonGroup,
    null,
    React.createElement(
      _antd.Button,
      { type: "ghost" },
      "默认"
    ),
    React.createElement(
      _antd.Button,
      { type: "ghost" },
      "默认"
    ),
    React.createElement(
      _antd.Button,
      { type: "ghost" },
      "默认"
    )
  ),
  React.createElement(
    ButtonGroup,
    { size: "small" },
    React.createElement(
      _antd.Button,
      { type: "ghost" },
      "小"
    ),
    React.createElement(
      _antd.Button,
      { type: "ghost" },
      "小"
    ),
    React.createElement(
      _antd.Button,
      { type: "ghost" },
      "小"
    )
  )
), document.getElementById('components-button-demo-button-group'));})()</script><div class="highlight"><pre><code class="javascript"><span class="hljs-keyword">import</span> { Button, Icon } <span class="hljs-keyword">from</span> <span class="hljs-string">'antd'</span>;
<span class="hljs-keyword">const</span> ButtonGroup = Button.Group;

ReactDOM.render(<span class="xml"><span class="hljs-tag">&lt;<span class="hljs-title">div</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-title">h4</span>&gt;</span>基本组合<span class="hljs-tag">&lt;/<span class="hljs-title">h4</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-title">ButtonGroup</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-title">Button</span> <span class="hljs-attribute">type</span>=<span class="hljs-value">"primary"</span>&gt;</span>确定<span class="hljs-tag">&lt;/<span class="hljs-title">Button</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-title">Button</span> <span class="hljs-attribute">type</span>=<span class="hljs-value">"primary"</span>&gt;</span>取消<span class="hljs-tag">&lt;/<span class="hljs-title">Button</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-title">ButtonGroup</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-title">ButtonGroup</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-title">Button</span>&gt;</span>左<span class="hljs-tag">&lt;/<span class="hljs-title">Button</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-title">Button</span>&gt;</span>中<span class="hljs-tag">&lt;/<span class="hljs-title">Button</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-title">Button</span>&gt;</span>右<span class="hljs-tag">&lt;/<span class="hljs-title">Button</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-title">ButtonGroup</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-title">ButtonGroup</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-title">Button</span> <span class="hljs-attribute">type</span>=<span class="hljs-value">"primary"</span>&gt;</span>左<span class="hljs-tag">&lt;/<span class="hljs-title">Button</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-title">Button</span> <span class="hljs-attribute">type</span>=<span class="hljs-value">"ghost"</span>&gt;</span>中<span class="hljs-tag">&lt;/<span class="hljs-title">Button</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-title">Button</span> <span class="hljs-attribute">type</span>=<span class="hljs-value">"ghost"</span>&gt;</span>中<span class="hljs-tag">&lt;/<span class="hljs-title">Button</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-title">Button</span>&gt;</span>右<span class="hljs-tag">&lt;/<span class="hljs-title">Button</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-title">ButtonGroup</span>&gt;</span>

<span class="hljs-tag">&lt;<span class="hljs-title">h4</span>&gt;</span>带图标按钮组合<span class="hljs-tag">&lt;/<span class="hljs-title">h4</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-title">ButtonGroup</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-title">Button</span> <span class="hljs-attribute">type</span>=<span class="hljs-value">"primary"</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-title">Icon</span> <span class="hljs-attribute">type</span>=<span class="hljs-value">"left"</span> /&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-title">span</span>&gt;</span>后退<span class="hljs-tag">&lt;/<span class="hljs-title">span</span>&gt;</span>
  <span class="hljs-tag">&lt;/<span class="hljs-title">Button</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-title">Button</span> <span class="hljs-attribute">type</span>=<span class="hljs-value">"primary"</span>&gt;</span>
    前进
    <span class="hljs-tag">&lt;<span class="hljs-title">Icon</span> <span class="hljs-attribute">type</span>=<span class="hljs-value">"right"</span> /&gt;</span>
  <span class="hljs-tag">&lt;/<span class="hljs-title">Button</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-title">ButtonGroup</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-title">ButtonGroup</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-title">Button</span> <span class="hljs-attribute">type</span>=<span class="hljs-value">"primary"</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-title">Icon</span> <span class="hljs-attribute">type</span>=<span class="hljs-value">"cloud"</span> /&gt;</span>
  <span class="hljs-tag">&lt;/<span class="hljs-title">Button</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-title">Button</span> <span class="hljs-attribute">type</span>=<span class="hljs-value">"primary"</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-title">Icon</span> <span class="hljs-attribute">type</span>=<span class="hljs-value">"cloud-download"</span> /&gt;</span>
  <span class="hljs-tag">&lt;/<span class="hljs-title">Button</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-title">ButtonGroup</span>&gt;</span>

<span class="hljs-tag">&lt;<span class="hljs-title">h4</span>&gt;</span>多个组合<span class="hljs-tag">&lt;/<span class="hljs-title">h4</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-title">ButtonGroup</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-title">Button</span> <span class="hljs-attribute">type</span>=<span class="hljs-value">"ghost"</span>&gt;</span>1<span class="hljs-tag">&lt;/<span class="hljs-title">Button</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-title">Button</span> <span class="hljs-attribute">type</span>=<span class="hljs-value">"ghost"</span>&gt;</span>2<span class="hljs-tag">&lt;/<span class="hljs-title">Button</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-title">Button</span> <span class="hljs-attribute">type</span>=<span class="hljs-value">"ghost"</span>&gt;</span>3<span class="hljs-tag">&lt;/<span class="hljs-title">Button</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-title">Button</span> <span class="hljs-attribute">type</span>=<span class="hljs-value">"ghost"</span>&gt;</span>4<span class="hljs-tag">&lt;/<span class="hljs-title">Button</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-title">Button</span> <span class="hljs-attribute">type</span>=<span class="hljs-value">"ghost"</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-title">span</span>&gt;</span>前进<span class="hljs-tag">&lt;/<span class="hljs-title">span</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-title">Icon</span> <span class="hljs-attribute">type</span>=<span class="hljs-value">"right"</span> /&gt;</span>
  <span class="hljs-tag">&lt;/<span class="hljs-title">Button</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-title">ButtonGroup</span>&gt;</span>

<span class="hljs-tag">&lt;<span class="hljs-title">h4</span>&gt;</span>尺寸<span class="hljs-tag">&lt;/<span class="hljs-title">h4</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-title">ButtonGroup</span> <span class="hljs-attribute">size</span>=<span class="hljs-value">"large"</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-title">Button</span> <span class="hljs-attribute">type</span>=<span class="hljs-value">"ghost"</span>&gt;</span>大<span class="hljs-tag">&lt;/<span class="hljs-title">Button</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-title">Button</span> <span class="hljs-attribute">type</span>=<span class="hljs-value">"ghost"</span>&gt;</span>大<span class="hljs-tag">&lt;/<span class="hljs-title">Button</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-title">Button</span> <span class="hljs-attribute">type</span>=<span class="hljs-value">"ghost"</span>&gt;</span>大<span class="hljs-tag">&lt;/<span class="hljs-title">Button</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-title">ButtonGroup</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-title">ButtonGroup</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-title">Button</span> <span class="hljs-attribute">type</span>=<span class="hljs-value">"ghost"</span>&gt;</span>默认<span class="hljs-tag">&lt;/<span class="hljs-title">Button</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-title">Button</span> <span class="hljs-attribute">type</span>=<span class="hljs-value">"ghost"</span>&gt;</span>默认<span class="hljs-tag">&lt;/<span class="hljs-title">Button</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-title">Button</span> <span class="hljs-attribute">type</span>=<span class="hljs-value">"ghost"</span>&gt;</span>默认<span class="hljs-tag">&lt;/<span class="hljs-title">Button</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-title">ButtonGroup</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-title">ButtonGroup</span> <span class="hljs-attribute">size</span>=<span class="hljs-value">"small"</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-title">Button</span> <span class="hljs-attribute">type</span>=<span class="hljs-value">"ghost"</span>&gt;</span>小<span class="hljs-tag">&lt;/<span class="hljs-title">Button</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-title">Button</span> <span class="hljs-attribute">type</span>=<span class="hljs-value">"ghost"</span>&gt;</span>小<span class="hljs-tag">&lt;/<span class="hljs-title">Button</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-title">Button</span> <span class="hljs-attribute">type</span>=<span class="hljs-value">"ghost"</span>&gt;</span>小<span class="hljs-tag">&lt;/<span class="hljs-title">Button</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-title">ButtonGroup</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
, document.getElementById('components-button-demo-button-group'));</span></code></pre></div><style>
#components-button-demo-button-group h4 {
  margin: 16px 0;
  font-size: 14px;
  line-height: 1;
  font-weight: normal;
}
#components-button-demo-button-group h4:first-child {
  margin-top: 0;
}
#components-button-demo-button-group .ant-btn {
  margin-bottom: 8px;
}
#components-button-demo-button-group .ant-btn-group {
  margin-right: 8px;
}
#components-button-demo-button-group .ant-btn {
  margin-bottom: 12px;
}
</style>

  </div>
  <div class="code-box-meta markdown">
    <div class="code-box-title">
      <a href="#demo-button-group">按钮组合</a>
    </div>
    <p>可以将多个 <code>Button</code> 放入 <code>Button.Group</code> 的容器中。</p>
<p>通过设置 <code>size</code> 为 <code>large</code> <code>small</code> 分别把按钮组合设为大、小尺寸。若不设置 <code>size</code>，则尺寸为中。</p>
    <span class="collapse anticon anticon-circle-o-right" unselectable="none" style="-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;"></span>
  </div>
</div>