<div class="code-box" id="demo-size">
  <div class="code-box-demo">
    <div id="components-button-demo-size"></div>
    <script>(function(){"use strict";

var _antd = require('antd');

ReactDOM.render(React.createElement(
  "div",
  null,
  React.createElement(
    _antd.Button,
    { type: "primary", size: "large" },
    "大号按钮"
  ),
  React.createElement(
    _antd.Button,
    { type: "primary" },
    "中号按钮(默认)"
  ),
  React.createElement(
    _antd.Button,
    { type: "primary", size: "small" },
    "小号按钮"
  )
), document.getElementById('components-button-demo-size'));})()</script><div class="highlight"><pre><code class="javascript"><span class="hljs-keyword">import</span> { Button } <span class="hljs-keyword">from</span> <span class="hljs-string">'antd'</span>;

ReactDOM.render(<span class="xml"><span class="hljs-tag">&lt;<span class="hljs-title">div</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-title">Button</span> <span class="hljs-attribute">type</span>=<span class="hljs-value">"primary"</span> <span class="hljs-attribute">size</span>=<span class="hljs-value">"large"</span>&gt;</span>大号按钮<span class="hljs-tag">&lt;/<span class="hljs-title">Button</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-title">Button</span> <span class="hljs-attribute">type</span>=<span class="hljs-value">"primary"</span>&gt;</span>中号按钮(默认)<span class="hljs-tag">&lt;/<span class="hljs-title">Button</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-title">Button</span> <span class="hljs-attribute">type</span>=<span class="hljs-value">"primary"</span> <span class="hljs-attribute">size</span>=<span class="hljs-value">"small"</span>&gt;</span>小号按钮<span class="hljs-tag">&lt;/<span class="hljs-title">Button</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
, document.getElementById('components-button-demo-size'));</span></code></pre></div><style>
#components-button-demo-size .ant-btn {
  margin-right: 8px;
}
</style>

  </div>
  <div class="code-box-meta markdown">
    <div class="code-box-title">
      <a href="#demo-size">按钮尺寸</a>
    </div>
    <p>按钮有大、中、小三种尺寸。</p>
<p>通过设置 <code>size</code> 为 <code>large</code> <code>small</code> 分别把按钮设为大、小尺寸。若不设置 <code>size</code>，则尺寸为中。</p>
    <span class="collapse anticon anticon-circle-o-right" unselectable="none" style="-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;"></span>
  </div>
</div>