<div class="code-box" id="demo-group">
  <div class="code-box-demo">
    <div id="components-checkbox-demo-group"></div>
    <script>mountNode = document.getElementById('components-checkbox-demo-group');</script>
    <script>(function(){'use strict';

var _antd = require('antd');

var CheckboxGroup = _antd.Checkbox.Group;

function onChange(checkedValues) {
  console.log('checked = ', checkedValues);
}

ReactDOM.render(React.createElement(CheckboxGroup, { options: ['Apple', 'Pear', 'Orange'], defaultValue: ['Apple'], onChange: onChange }), mountNode);})()</script><div class="highlight"><pre><code class="javascript"><span class="hljs-keyword">import</span> { Checkbox } <span class="hljs-keyword">from</span> <span class="hljs-string">'antd'</span>;
<span class="hljs-keyword">const</span> CheckboxGroup = Checkbox.Group;

<span class="hljs-function"><span class="hljs-keyword">function</span> <span class="hljs-title">onChange</span>(<span class="hljs-params">checkedValues</span>) </span>{
  <span class="hljs-built_in">console</span>.log(<span class="hljs-string">'checked = '</span>, checkedValues);
}

ReactDOM.render(
  <span class="xml"><span class="hljs-tag">&lt;<span class="hljs-title">CheckboxGroup</span> <span class="hljs-attribute">options</span>=<span class="hljs-value">{['Apple',</span> '<span class="hljs-attribute">Pear</span>', '<span class="hljs-attribute">Orange</span>']} <span class="hljs-attribute">defaultValue</span>=<span class="hljs-value">{['Apple']}</span> <span class="hljs-attribute">onChange</span>=<span class="hljs-value">{onChange}</span> /&gt;</span>
, mountNode);</span></code></pre></div>
  </div>
  <div class="code-box-meta markdown">
    <div class="code-box-title">
      <a href="#demo-group">Checkbox 组</a>
    </div>
    <p>方便的生成一个 Checkbox 组。</p>
    <span class="collapse anticon anticon-circle-o-right" unselectable="none" style="-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;"></span>
  </div>
</div>