<div class="code-box" id="demo-advanced">
  <div class="code-box-demo">
    <div id="components-transfer-demo-advanced"></div>
    <script>mountNode = document.getElementById('components-transfer-demo-advanced');</script>
    <script>(function(){"use strict";

var _antd = require("antd");

var App = React.createClass({
  displayName: "App",
  getInitialState: function getInitialState() {
    return {
      mockData: [],
      targetKeys: []
    };
  },
  componentDidMount: function componentDidMount() {
    this.getMock();
  },
  getMock: function getMock() {
    var targetKeys = [];
    var mockData = [];
    for (var i = 0; i < 20; i++) {
      var data = {
        key: i,
        title: "\u5185\u5BB9" + (i + 1),
        description: "\u5185\u5BB9" + (i + 1) + "\u7684\u63CF\u8FF0",
        chosen: Math.random() * 2 > 1
      };
      if (data.chosen) {
        targetKeys.push(data.key);
      }
      mockData.push(data);
    }
    this.setState({ mockData: mockData, targetKeys: targetKeys });
  },
  handleChange: function handleChange(targetKeys) {
    this.setState({ targetKeys: targetKeys });
  },
  renderFooter: function renderFooter() {
    return React.createElement(
      _antd.Button,
      { type: "ghost", size: "small", style: { float: 'right', margin: '5' },
        onClick: this.getMock },
      "\u5237\u65B0"
    );
  },
  render: function render() {
    return React.createElement(_antd.Transfer, {
      dataSource: this.state.mockData,
      showSearch: true,
      listStyle: {
        width: 250,
        height: 300
      },
      operations: ['向右操作文案', '向左操作文案'],
      targetKeys: this.state.targetKeys,
      onChange: this.handleChange,
      render: function render(item) {
        return item.title + "-" + item.description;
      },
      footer: this.renderFooter });
  }
});

ReactDOM.render(React.createElement(App, null), mountNode);})()</script><div class="highlight"><pre><code class="javascript"><span class="hljs-keyword">import</span> { Transfer, Button } <span class="hljs-keyword">from</span> <span class="hljs-string">'antd'</span>;

<span class="hljs-keyword">const</span> App = React.createClass({
  getInitialState() {
    <span class="hljs-keyword">return</span> {
      mockData: [],
      targetKeys: [],
    };
  },
  componentDidMount() {
    <span class="hljs-keyword">this</span>.getMock();
  },
  getMock() {
    <span class="hljs-keyword">let</span> targetKeys = [];
    <span class="hljs-keyword">let</span> mockData = [];
    <span class="hljs-keyword">for</span> (<span class="hljs-keyword">let</span> i = <span class="hljs-number">0</span>; i &lt; <span class="hljs-number">20</span>; i++) {
      <span class="hljs-keyword">const</span> data = {
        key: i,
        title: <span class="hljs-string">`内容<span class="hljs-subst">${i + 1}</span>`</span>,
        description: <span class="hljs-string">`内容<span class="hljs-subst">${i + 1}</span>的描述`</span>,
        chosen: <span class="hljs-built_in">Math</span>.random() * <span class="hljs-number">2</span> &gt; <span class="hljs-number">1</span>
      };
      <span class="hljs-keyword">if</span> (data.chosen) {
        targetKeys.push(data.key);
      }
      mockData.push(data);
    }
    <span class="hljs-keyword">this</span>.setState({ mockData, targetKeys });
  },
  handleChange(targetKeys) {
    <span class="hljs-keyword">this</span>.setState({ targetKeys });
  },
  renderFooter() {
    <span class="hljs-keyword">return</span> (
      <span class="xml"><span class="hljs-tag">&lt;<span class="hljs-title">Button</span> <span class="hljs-attribute">type</span>=<span class="hljs-value">"ghost"</span> <span class="hljs-attribute">size</span>=<span class="hljs-value">"small"</span> <span class="hljs-attribute">style</span>=<span class="hljs-value">{{</span> <span class="hljs-attribute">float:</span> '<span class="hljs-attribute">right</span>', <span class="hljs-attribute">margin:</span> '<span class="hljs-attribute">5</span>' }}
        <span class="hljs-attribute">onClick</span>=<span class="hljs-value">{this.getMock}</span>&gt;</span>
        刷新
      <span class="hljs-tag">&lt;/<span class="hljs-title">Button</span>&gt;</span>
    )</span>;
  },
  render() {
    <span class="hljs-keyword">return</span> (
      <span class="xml"><span class="hljs-tag">&lt;<span class="hljs-title">Transfer</span>
        <span class="hljs-attribute">dataSource</span>=<span class="hljs-value">{this.state.mockData}</span>
        <span class="hljs-attribute">showSearch</span>
        <span class="hljs-attribute">listStyle</span>=<span class="hljs-value">{{</span>
          <span class="hljs-attribute">width:</span> <span class="hljs-attribute">250</span>,
          <span class="hljs-attribute">height:</span> <span class="hljs-attribute">300</span>,
        }}
        <span class="hljs-attribute">operations</span>=<span class="hljs-value">{['向右操作文案',</span> '向左操作文案']}
        <span class="hljs-attribute">targetKeys</span>=<span class="hljs-value">{this.state.targetKeys}</span>
        <span class="hljs-attribute">onChange</span>=<span class="hljs-value">{this.handleChange}</span>
        <span class="hljs-attribute">render</span>=<span class="hljs-value">{item</span> =&gt;</span> `${item.title}-${item.description}`}
        footer={this.renderFooter} /&gt;
    )</span>;
  }
});

ReactDOM.render(<span class="xml"><span class="hljs-tag">&lt;<span class="hljs-title">App</span> /&gt;</span>, mountNode);</span></code></pre></div>
  </div>
  <div class="code-box-meta markdown">
    <div class="code-box-title">
      <a href="#demo-advanced">高级用法</a>
    </div>
    
<p>穿梭框高级用法，可配置操作文案，可定制宽高，可对底部进行自定义渲染。</p>

    <span class="collapse anticon anticon-circle-o-right" unselectable="none"></span>
  </div>
</div>