<div class="code-box" id="demo-basic">
  <div class="code-box-demo">
    <div id="components-popconfirm-demo-basic"></div>
    <script>(function(){'use strict';

var Popconfirm = antd.Popconfirm;
var message = antd.message;

function confirm() {
  message.success('点击了确定');
}

function cancel() {
  message.error('点击了取消');
}

React.render(React.createElement(
  Popconfirm,
  { title: '确定要删除这个任务吗？', onConfirm: confirm, onCancel: cancel },
  React.createElement(
    'a',
    { href: 'javascript:;' },
    '删除'
  )
), document.getElementById('components-popconfirm-demo-basic'));})()</script><div class="highlight"><pre><code class="javascript"><span class="keyword">var</span> Popconfirm = antd.Popconfirm;
<span class="keyword">var</span> message = antd.message;

<span class="function"><span class="keyword">function</span> <span class="title">confirm</span><span class="params">()</span> {</span>
  message.success(<span class="string">'点击了确定'</span>);
}

<span class="function"><span class="keyword">function</span> <span class="title">cancel</span><span class="params">()</span> {</span>
  message.error(<span class="string">'点击了取消'</span>);
}

React.render(
  <span class="xml"><span class="tag">&lt;<span class="title">Popconfirm</span> <span class="attribute">title</span>=<span class="value">"确定要删除这个任务吗？"</span> <span class="attribute">onConfirm</span>=<span class="value">{confirm}</span> <span class="attribute">onCancel</span>=<span class="value">{cancel}</span>&gt;</span>
    <span class="tag">&lt;<span class="title">a</span> <span class="attribute">href</span>=<span class="value">"javascript:;"</span>&gt;</span>删除<span class="tag">&lt;/<span class="title">a</span>&gt;</span>
  <span class="tag">&lt;/<span class="title">Popconfirm</span>&gt;</span>
, document.getElementById('components-popconfirm-demo-basic'));</span></code></pre></div>
  </div>
  <div class="code-box-meta markdown">
    <div class="code-box-title">
      <a href="#demo-basic">基本</a>
    </div>
    <p>最简单的用法。</p>
    <span class="collapse anticon anticon-circle-o-right" unselectable="none" style="-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;"></span>
  </div>
</div>