<div class="code-box" id="demo-notice-calendar">
  <div class="code-box-demo">
    <div id="components-calendar-demo-notice-calendar"></div>
    <script>mountNode = document.getElementById('components-calendar-demo-notice-calendar');</script>
    <script>(function(){'use strict';

var _antd = require('antd');

function getListData(value) {
  var listData = void 0;
  switch (value.getDayOfMonth()) {
    case 8:
      listData = [{ type: 'warn', content: '这里是警告事项.' }, { type: 'normal', content: '这里是普通事项.' }];break;
    case 10:
      listData = [{ type: 'warn', content: '这里是警告事项.' }, { type: 'normal', content: '这里是普通事项.' }, { type: 'error', content: '这里是错误事项.' }];break;
    case 15:
      listData = [{ type: 'warn', content: '这里是警告事项.' }, { type: 'normal', content: '这里是普通事项好长啊。。....' }, { type: 'error', content: '这里是错误事项.' }, { type: 'error', content: '这里是错误事项.' }, { type: 'error', content: '这里是错误事项.' }, { type: 'error', content: '这里是错误事项.' }];break;
    default:
  }
  return listData || [];
}

function dateCellRender(value) {
  var listData = getListData(value);
  return React.createElement(
    'ul',
    { className: 'events' },
    listData.map(function (item, index) {
      return React.createElement(
        'li',
        { key: index },
        React.createElement(
          'span',
          { className: 'event-' + item.type },
          '\u25CF'
        ),
        item.content
      );
    })
  );
}

function getMonthData(value) {
  if (value.getMonth() === 8) {
    return 1394;
  }
}

function monthCellRender(value) {
  var num = getMonthData(value);
  return num ? React.createElement(
    'div',
    { className: 'notes-month' },
    React.createElement(
      'section',
      null,
      num
    ),
    React.createElement(
      'span',
      null,
      '\u5F85\u529E\u4E8B\u9879\u6570'
    )
  ) : null;
}

ReactDOM.render(React.createElement(_antd.Calendar, { dateCellRender: dateCellRender, monthCellRender: monthCellRender }), mountNode);})()</script><div class="highlight"><pre><code class="javascript">import { Calendar } from 'antd';

function getListData(value) {
  let listData;
  switch (value.getDayOfMonth()) {
    case 8:
      listData = [
        { type: 'warn', content: '这里是警告事项.' },
        { type: 'normal', content: '这里是普通事项.' }
      ]; break;
    case 10:
      listData = [
        { type: 'warn', content: '这里是警告事项.' },
        { type: 'normal', content: '这里是普通事项.' },
        { type: 'error', content: '这里是错误事项.' }
      ]; break;
    case 15:
      listData = [
        { type: 'warn', content: '这里是警告事项.' },
        { type: 'normal', content: '这里是普通事项好长啊。。....' },
        { type: 'error', content: '这里是错误事项.' },
        { type: 'error', content: '这里是错误事项.' },
        { type: 'error', content: '这里是错误事项.' },
        { type: 'error', content: '这里是错误事项.' }
      ]; break;
    default:
  }
  return listData || [];
}

function dateCellRender(value) {
  let listData = getListData(value);
  return (
    &lt;ul className="events"&gt;
      {
        listData.map((item, index) =&gt;
          &lt;li key={index}&gt;
            &lt;span className={`event-${item.type}`}&gt;●&lt;/span&gt;
            {item.content}
          &lt;/li&gt;
        )
      }
    &lt;/ul&gt;
  );
}


function getMonthData(value) {
  if (value.getMonth() === 8) {
    return 1394;
  }
}

function monthCellRender(value) {
  let num = getMonthData(value);
  return num ? &lt;div className="notes-month"&gt;
    &lt;section&gt;{num}&lt;/section&gt;
    &lt;span&gt;待办事项数&lt;/span&gt;
  &lt;/div&gt; : null;
}

ReactDOM.render(
  &lt;Calendar dateCellRender={dateCellRender} monthCellRender={monthCellRender} /&gt;
, mountNode);</code></pre></div><style type="text/css">.events {
  line-height: 24px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.events li {
  color: #999;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.events li span {
  vertical-align: middle;
}

.events li span:first-child {
  font-size: 9px;
  margin-right: 4px;
}

.event-warn {
  color: #fac450;
}

.event-normal {
  color: #2db7f5;
}

.event-error {
  color: #f60;
}

.notes-month {
  text-align: center;
}
.notes-month section {
  font-size: 28px;
}</style><div class="highlight"><pre><code class="css"><span class="hljs-class">.events</span> <span class="hljs-rules">{
  <span class="hljs-rule"><span class="hljs-attribute">line-height</span>:<span class="hljs-value"> <span class="hljs-number">24px</span></span></span>;
  <span class="hljs-rule"><span class="hljs-attribute">list-style</span>:<span class="hljs-value"> none</span></span>;
  <span class="hljs-rule"><span class="hljs-attribute">margin</span>:<span class="hljs-value"> <span class="hljs-number">0</span></span></span>;
  <span class="hljs-rule"><span class="hljs-attribute">padding</span>:<span class="hljs-value"> <span class="hljs-number">0</span></span></span>;
}</span>

<span class="hljs-class">.events</span> <span class="hljs-tag">li</span> <span class="hljs-rules">{
  <span class="hljs-rule"><span class="hljs-attribute">color</span>:<span class="hljs-value"> <span class="hljs-hexcolor">#999</span></span></span>;
  <span class="hljs-rule"><span class="hljs-attribute">overflow</span>:<span class="hljs-value"> hidden</span></span>;
  <span class="hljs-rule"><span class="hljs-attribute">text-overflow</span>:<span class="hljs-value"> ellipsis</span></span>;
  <span class="hljs-rule"><span class="hljs-attribute">white-space</span>:<span class="hljs-value"> nowrap</span></span>;
}</span>

<span class="hljs-class">.events</span> <span class="hljs-tag">li</span> <span class="hljs-tag">span</span> <span class="hljs-rules">{
  <span class="hljs-rule"><span class="hljs-attribute">vertical-align</span>:<span class="hljs-value"> middle</span></span>;
}</span>

<span class="hljs-class">.events</span> <span class="hljs-tag">li</span> <span class="hljs-tag">span</span><span class="hljs-pseudo">:first-child</span> <span class="hljs-rules">{
  <span class="hljs-rule"><span class="hljs-attribute">font-size</span>:<span class="hljs-value"> <span class="hljs-number">9px</span></span></span>;
  <span class="hljs-rule"><span class="hljs-attribute">margin-right</span>:<span class="hljs-value"> <span class="hljs-number">4px</span></span></span>;
}</span>

<span class="hljs-class">.event-warn</span> <span class="hljs-rules">{
  <span class="hljs-rule"><span class="hljs-attribute">color</span>:<span class="hljs-value"> <span class="hljs-hexcolor">#fac450</span></span></span>;
}</span>

<span class="hljs-class">.event-normal</span> <span class="hljs-rules">{
  <span class="hljs-rule"><span class="hljs-attribute">color</span>:<span class="hljs-value"> <span class="hljs-hexcolor">#2db7f5</span></span></span>;
}</span>

<span class="hljs-class">.event-error</span> <span class="hljs-rules">{
  <span class="hljs-rule"><span class="hljs-attribute">color</span>:<span class="hljs-value"> <span class="hljs-hexcolor">#f60</span></span></span>;
}</span>

<span class="hljs-class">.notes-month</span> <span class="hljs-rules">{
  <span class="hljs-rule"><span class="hljs-attribute">text-align</span>:<span class="hljs-value"> center</span></span>;
}</span>
<span class="hljs-class">.notes-month</span> <span class="hljs-tag">section</span> <span class="hljs-rules">{
  <span class="hljs-rule"><span class="hljs-attribute">font-size</span>:<span class="hljs-value"> <span class="hljs-number">28px</span></span></span>;
}</span></code></pre></div>
  </div>
  <div class="code-box-meta markdown">
    <div class="code-box-title">
      <a href="#demo-notice-calendar">通知事项日历演示</a>
    </div>
    
<p>一个复杂的应用实例。</p>

    <span class="collapse anticon anticon-circle-o-right" unselectable="none"></span>
  </div>
</div>