<div class="code-box" id="demo-card-top">
  <div class="code-box-demo">
    <div id="components-tabs-demo-card-top"></div>
    <script>mountNode = document.getElementById('components-tabs-demo-card-top');</script>
    <script>(function(){"use strict";

var _antd = require("antd");

var TabPane = _antd.Tabs.TabPane;

ReactDOM.render(React.createElement(
  "div",
  { className: "card-container" },
  React.createElement(
    _antd.Tabs,
    { type: "card" },
    React.createElement(
      TabPane,
      { tab: "选项卡一", key: "1" },
      "选项卡一内容"
    ),
    React.createElement(
      TabPane,
      { tab: "选项卡二", key: "2" },
      "选项卡二内容"
    ),
    React.createElement(
      TabPane,
      { tab: "选项卡三", key: "3" },
      "选项卡三内容"
    )
  )
), mountNode);})()</script><div class="highlight"><pre><code class="javascript"><span class="hljs-keyword">import</span> { Tabs } <span class="hljs-keyword">from</span> <span class="hljs-string">'antd'</span>;
<span class="hljs-keyword">const</span> TabPane = Tabs.TabPane;

ReactDOM.render(
<span class="xml"><span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">className</span>=<span class="hljs-value">"card-container"</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-title">Tabs</span> <span class="hljs-attribute">type</span>=<span class="hljs-value">"card"</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-title">TabPane</span> <span class="hljs-attribute">tab</span>=<span class="hljs-value">"选项卡一"</span> <span class="hljs-attribute">key</span>=<span class="hljs-value">"1"</span>&gt;</span>选项卡一内容<span class="hljs-tag">&lt;/<span class="hljs-title">TabPane</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-title">TabPane</span> <span class="hljs-attribute">tab</span>=<span class="hljs-value">"选项卡二"</span> <span class="hljs-attribute">key</span>=<span class="hljs-value">"2"</span>&gt;</span>选项卡二内容<span class="hljs-tag">&lt;/<span class="hljs-title">TabPane</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-title">TabPane</span> <span class="hljs-attribute">tab</span>=<span class="hljs-value">"选项卡三"</span> <span class="hljs-attribute">key</span>=<span class="hljs-value">"3"</span>&gt;</span>选项卡三内容<span class="hljs-tag">&lt;/<span class="hljs-title">TabPane</span>&gt;</span>
  <span class="hljs-tag">&lt;/<span class="hljs-title">Tabs</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>, mountNode);</span></code></pre></div><style type="text/css">#components-tabs-demo-card-top {
  background: #ECECEC;
  overflow: hidden;
  padding: 24px;
}

.card-container > .ant-tabs-card .ant-tabs-content {
  background: #fff;
  padding: 16px;
  height: 120px;
  margin-top: -16px;
}
.card-container > .ant-tabs-card .ant-tabs-tabs-bar,
.card-container > .ant-tabs-card .ant-tabs-tab-active {
  border-color: #fff;
}</style><div class="highlight"><pre><code class="css"><span class="hljs-id">#components-tabs-demo-card-top</span> <span class="hljs-rules">{
  <span class="hljs-rule"><span class="hljs-attribute">background</span>:<span class="hljs-value"> <span class="hljs-hexcolor">#ECECEC</span></span></span>;
  <span class="hljs-rule"><span class="hljs-attribute">overflow</span>:<span class="hljs-value"> hidden</span></span>;
  <span class="hljs-rule"><span class="hljs-attribute">padding</span>:<span class="hljs-value"> <span class="hljs-number">24px</span></span></span>;
}</span>

<span class="hljs-class">.card-container</span> &gt; <span class="hljs-class">.ant-tabs-card</span> <span class="hljs-class">.ant-tabs-content</span> <span class="hljs-rules">{
  <span class="hljs-rule"><span class="hljs-attribute">background</span>:<span class="hljs-value"> <span class="hljs-hexcolor">#fff</span></span></span>;
  <span class="hljs-rule"><span class="hljs-attribute">padding</span>:<span class="hljs-value"> <span class="hljs-number">16px</span></span></span>;
  <span class="hljs-rule"><span class="hljs-attribute">height</span>:<span class="hljs-value"> <span class="hljs-number">120px</span></span></span>;
  <span class="hljs-rule"><span class="hljs-attribute">margin-top</span>:<span class="hljs-value"> -<span class="hljs-number">16px</span></span></span>;
}</span>
<span class="hljs-class">.card-container</span> &gt; <span class="hljs-class">.ant-tabs-card</span> <span class="hljs-class">.ant-tabs-tabs-bar</span>,
<span class="hljs-class">.card-container</span> &gt; <span class="hljs-class">.ant-tabs-card</span> <span class="hljs-class">.ant-tabs-tab-active</span> <span class="hljs-rules">{
  <span class="hljs-rule"><span class="hljs-attribute">border-color</span>:<span class="hljs-value"> <span class="hljs-hexcolor">#fff</span></span></span>;
}</span></code></pre></div>
  </div>
  <div class="code-box-meta markdown">
    <div class="code-box-title">
      <a href="#demo-card-top">卡片式页签容器</a>
    </div>
    <p>用于容器顶部，需要一点额外的样式覆盖。</p>
    <span class="collapse anticon anticon-circle-o-right" unselectable="none" style="-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;"></span>
  </div>
</div>