<div class="code-box" id="demo-disabled">
  <div class="code-box-demo">
    <div id="components-tabs-demo-disabled"></div>
    <script>mountNode = document.getElementById('components-tabs-demo-disabled');</script>
    <script>(function(){"use strict";

var _antd = require("antd");

var TabPane = _antd.Tabs.TabPane;

ReactDOM.render(React.createElement(
  _antd.Tabs,
  { defaultActiveKey: "1" },
  React.createElement(
    TabPane,
    { tab: "\u9009\u9879\u5361\u4E00", key: "1" },
    "\u9009\u9879\u5361\u4E00"
  ),
  React.createElement(
    TabPane,
    { tab: "\u9009\u9879\u5361\u4E8C", disabled: true, key: "2" },
    "\u9009\u9879\u5361\u4E8C"
  ),
  React.createElement(
    TabPane,
    { tab: "\u9009\u9879\u5361\u4E09", key: "3" },
    "\u9009\u9879\u5361\u4E09"
  )
), mountNode);})()</script><div class="highlight"><pre><code class="javascript"><span class="hljs-keyword">import</span> { Tabs } <span class="hljs-keyword">from</span> <span class="hljs-string">'antd'</span>;
<span class="hljs-keyword">const</span> TabPane = Tabs.TabPane;

ReactDOM.render(
  <span class="xml"><span class="hljs-tag">&lt;<span class="hljs-title">Tabs</span> <span class="hljs-attribute">defaultActiveKey</span>=<span class="hljs-value">"1"</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-title">TabPane</span> <span class="hljs-attribute">tab</span>=<span class="hljs-value">"选项卡一"</span> <span class="hljs-attribute">key</span>=<span class="hljs-value">"1"</span>&gt;</span>选项卡一<span class="hljs-tag">&lt;/<span class="hljs-title">TabPane</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-title">TabPane</span> <span class="hljs-attribute">tab</span>=<span class="hljs-value">"选项卡二"</span> <span class="hljs-attribute">disabled</span> <span class="hljs-attribute">key</span>=<span class="hljs-value">"2"</span>&gt;</span>选项卡二<span class="hljs-tag">&lt;/<span class="hljs-title">TabPane</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-title">TabPane</span> <span class="hljs-attribute">tab</span>=<span class="hljs-value">"选项卡三"</span> <span class="hljs-attribute">key</span>=<span class="hljs-value">"3"</span>&gt;</span>选项卡三<span class="hljs-tag">&lt;/<span class="hljs-title">TabPane</span>&gt;</span>
  <span class="hljs-tag">&lt;/<span class="hljs-title">Tabs</span>&gt;</span>
, mountNode);</span></code></pre></div>
  </div>
  <div class="code-box-meta markdown">
    <div class="code-box-title">
      <a href="#demo-disabled">禁用</a>
    </div>
    
<p>禁用某一项。</p>

    <span class="collapse anticon anticon-circle-o-right" unselectable="none"></span>
  </div>
</div>