<div class="code-box" id="demo-icon">
  <div class="code-box-demo">
    <div id="components-tabs-demo-icon"></div>
    <script>mountNode = document.getElementById('components-tabs-demo-icon');</script>
    <script>(function(){"use strict";

var _antd = require("antd");

var TabPane = _antd.Tabs.TabPane;

var tabContent = [React.createElement(
  "span",
  null,
  React.createElement(_antd.Icon, { type: "apple" }),
  "\u9009\u9879\u5361\u4E00"
), React.createElement(
  "span",
  null,
  React.createElement(_antd.Icon, { type: "android" }),
  "\u9009\u9879\u5361\u4E8C"
), React.createElement(
  "span",
  null,
  React.createElement(_antd.Icon, { type: "lock" }),
  "\u9009\u9879\u5361\u4E09"
)];

ReactDOM.render(React.createElement(
  _antd.Tabs,
  { defaultActiveKey: "2" },
  React.createElement(
    TabPane,
    { tab: tabContent[0], key: "1" },
    "\u9009\u9879\u5361\u4E00"
  ),
  React.createElement(
    TabPane,
    { tab: tabContent[1], key: "2" },
    "\u9009\u9879\u5361\u4E8C"
  ),
  React.createElement(
    TabPane,
    { tab: tabContent[2], key: "3" },
    "\u9009\u9879\u5361\u4E09"
  )
), mountNode);})()</script><div class="highlight"><pre><code class="javascript"><span class="hljs-keyword">import</span> { Tabs, Icon } <span class="hljs-keyword">from</span> <span class="hljs-string">'antd'</span>;
<span class="hljs-keyword">const</span> TabPane = Tabs.TabPane;

<span class="hljs-keyword">const</span> tabContent = [
  <span class="xml"><span class="hljs-tag">&lt;<span class="hljs-title">span</span>&gt;</span><span class="hljs-tag">&lt;<span class="hljs-title">Icon</span> <span class="hljs-attribute">type</span>=<span class="hljs-value">"apple"</span> /&gt;</span>选项卡一<span class="hljs-tag">&lt;/<span class="hljs-title">span</span>&gt;</span>,
  <span class="hljs-tag">&lt;<span class="hljs-title">span</span>&gt;</span><span class="hljs-tag">&lt;<span class="hljs-title">Icon</span> <span class="hljs-attribute">type</span>=<span class="hljs-value">"android"</span> /&gt;</span>选项卡二<span class="hljs-tag">&lt;/<span class="hljs-title">span</span>&gt;</span>,
  <span class="hljs-tag">&lt;<span class="hljs-title">span</span>&gt;</span><span class="hljs-tag">&lt;<span class="hljs-title">Icon</span> <span class="hljs-attribute">type</span>=<span class="hljs-value">"lock"</span> /&gt;</span>选项卡三<span class="hljs-tag">&lt;/<span class="hljs-title">span</span>&gt;</span>,
];

ReactDOM.render(
  <span class="hljs-tag">&lt;<span class="hljs-title">Tabs</span> <span class="hljs-attribute">defaultActiveKey</span>=<span class="hljs-value">"2"</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-title">TabPane</span> <span class="hljs-attribute">tab</span>=<span class="hljs-value">{tabContent[0]}</span> <span class="hljs-attribute">key</span>=<span class="hljs-value">"1"</span>&gt;</span>选项卡一<span class="hljs-tag">&lt;/<span class="hljs-title">TabPane</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-title">TabPane</span> <span class="hljs-attribute">tab</span>=<span class="hljs-value">{tabContent[1]}</span> <span class="hljs-attribute">key</span>=<span class="hljs-value">"2"</span>&gt;</span>选项卡二<span class="hljs-tag">&lt;/<span class="hljs-title">TabPane</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-title">TabPane</span> <span class="hljs-attribute">tab</span>=<span class="hljs-value">{tabContent[2]}</span> <span class="hljs-attribute">key</span>=<span class="hljs-value">"3"</span>&gt;</span>选项卡三<span class="hljs-tag">&lt;/<span class="hljs-title">TabPane</span>&gt;</span>
  <span class="hljs-tag">&lt;/<span class="hljs-title">Tabs</span>&gt;</span>
, mountNode);</span></code></pre></div>
  </div>
  <div class="code-box-meta markdown">
    <div class="code-box-title">
      <a href="#demo-icon">图标</a>
    </div>
    
<p>有图标的标签。</p>

    <span class="collapse anticon anticon-circle-o-right" unselectable="none"></span>
  </div>
</div>