<div class="code-box" id="demo-position">
  <div class="code-box-demo">
    <div id="components-tabs-demo-position"></div>
    <script>mountNode = document.getElementById('components-tabs-demo-position');</script>
    <script>(function(){'use strict';

var _antd = require('antd');

var TabPane = _antd.Tabs.TabPane;
var Option = _antd.Select.Option;

var Demo = React.createClass({
  displayName: 'Demo',
  getInitialState: function getInitialState() {
    return {
      tabPosition: 'top'
    };
  },
  changeTabPosition: function changeTabPosition(tabPosition) {
    this.setState({ tabPosition: tabPosition });
  },
  render: function render() {
    return React.createElement(
      'div',
      null,
      React.createElement(
        'div',
        { style: { marginBottom: 16 } },
        '\u9875\u7B7E\u4F4D\u7F6E\uFF1A',
        React.createElement(
          _antd.Select,
          { value: this.state.tabPosition, onChange: this.changeTabPosition,
            dropdownMatchSelectWidth: false },
          React.createElement(
            Option,
            { value: 'top' },
            'top'
          ),
          React.createElement(
            Option,
            { value: 'bottom' },
            'bottom'
          ),
          React.createElement(
            Option,
            { value: 'left' },
            'left'
          ),
          React.createElement(
            Option,
            { value: 'right' },
            'right'
          )
        )
      ),
      React.createElement(
        _antd.Tabs,
        { tabPosition: this.state.tabPosition },
        React.createElement(
          TabPane,
          { tab: '\u9009\u9879\u5361\u4E00', key: '1' },
          '\u9009\u9879\u5361\u4E00\u5185\u5BB9'
        ),
        React.createElement(
          TabPane,
          { tab: '\u9009\u9879\u5361\u4E8C', key: '2' },
          '\u9009\u9879\u5361\u4E8C\u5185\u5BB9'
        ),
        React.createElement(
          TabPane,
          { tab: '\u9009\u9879\u5361\u4E09', key: '3' },
          '\u9009\u9879\u5361\u4E09\u5185\u5BB9'
        )
      )
    );
  }
});

ReactDOM.render(React.createElement(Demo, null), mountNode);})()</script><div class="highlight"><pre><code class="javascript"><span class="hljs-keyword">import</span> { Tabs, Select } <span class="hljs-keyword">from</span> <span class="hljs-string">'antd'</span>;
<span class="hljs-keyword">const</span> TabPane = Tabs.TabPane;
<span class="hljs-keyword">const</span> Option = Select.Option;

<span class="hljs-keyword">const</span> Demo = React.createClass({
  getInitialState() {
    <span class="hljs-keyword">return</span> {
      tabPosition: <span class="hljs-string">'top'</span>,
    };
  },
  changeTabPosition(tabPosition) {
    <span class="hljs-keyword">this</span>.setState({ tabPosition });
  },
  render() {
    <span class="hljs-keyword">return</span> (
      <span class="xml"><span class="hljs-tag">&lt;<span class="hljs-title">div</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">style</span>=<span class="hljs-value">{{</span> <span class="hljs-attribute">marginBottom:</span> <span class="hljs-attribute">16</span> }}&gt;</span>
          页签位置：
          <span class="hljs-tag">&lt;<span class="hljs-title">Select</span> <span class="hljs-attribute">value</span>=<span class="hljs-value">{this.state.tabPosition}</span> <span class="hljs-attribute">onChange</span>=<span class="hljs-value">{this.changeTabPosition}</span>
            <span class="hljs-attribute">dropdownMatchSelectWidth</span>=<span class="hljs-value">{false}</span>&gt;</span>
            <span class="hljs-tag">&lt;<span class="hljs-title">Option</span> <span class="hljs-attribute">value</span>=<span class="hljs-value">"top"</span>&gt;</span>top<span class="hljs-tag">&lt;/<span class="hljs-title">Option</span>&gt;</span>
            <span class="hljs-tag">&lt;<span class="hljs-title">Option</span> <span class="hljs-attribute">value</span>=<span class="hljs-value">"bottom"</span>&gt;</span>bottom<span class="hljs-tag">&lt;/<span class="hljs-title">Option</span>&gt;</span>
            <span class="hljs-tag">&lt;<span class="hljs-title">Option</span> <span class="hljs-attribute">value</span>=<span class="hljs-value">"left"</span>&gt;</span>left<span class="hljs-tag">&lt;/<span class="hljs-title">Option</span>&gt;</span>
            <span class="hljs-tag">&lt;<span class="hljs-title">Option</span> <span class="hljs-attribute">value</span>=<span class="hljs-value">"right"</span>&gt;</span>right<span class="hljs-tag">&lt;/<span class="hljs-title">Option</span>&gt;</span>
          <span class="hljs-tag">&lt;/<span class="hljs-title">Select</span>&gt;</span>
        <span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">Tabs</span> <span class="hljs-attribute">tabPosition</span>=<span class="hljs-value">{this.state.tabPosition}</span>&gt;</span>
          <span class="hljs-tag">&lt;<span class="hljs-title">TabPane</span> <span class="hljs-attribute">tab</span>=<span class="hljs-value">"选项卡一"</span> <span class="hljs-attribute">key</span>=<span class="hljs-value">"1"</span>&gt;</span>选项卡一内容<span class="hljs-tag">&lt;/<span class="hljs-title">TabPane</span>&gt;</span>
          <span class="hljs-tag">&lt;<span class="hljs-title">TabPane</span> <span class="hljs-attribute">tab</span>=<span class="hljs-value">"选项卡二"</span> <span class="hljs-attribute">key</span>=<span class="hljs-value">"2"</span>&gt;</span>选项卡二内容<span class="hljs-tag">&lt;/<span class="hljs-title">TabPane</span>&gt;</span>
          <span class="hljs-tag">&lt;<span class="hljs-title">TabPane</span> <span class="hljs-attribute">tab</span>=<span class="hljs-value">"选项卡三"</span> <span class="hljs-attribute">key</span>=<span class="hljs-value">"3"</span>&gt;</span>选项卡三内容<span class="hljs-tag">&lt;/<span class="hljs-title">TabPane</span>&gt;</span>
        <span class="hljs-tag">&lt;/<span class="hljs-title">Tabs</span>&gt;</span>
      <span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
    )</span>;
  }
});

ReactDOM.render(<span class="xml"><span class="hljs-tag">&lt;<span class="hljs-title">Demo</span> /&gt;</span>, mountNode);</span></code></pre></div>
  </div>
  <div class="code-box-meta markdown">
    <div class="code-box-title">
      <a href="#demo-position">位置</a>
    </div>
    
<p>有四个位置，<code>tabPosition=&quot;left|right|top|bottom&quot;</code>。</p>

    <span class="collapse anticon anticon-circle-o-right" unselectable="none"></span>
  </div>
</div>