<div class="code-box" id="demo-slide">
  <div class="code-box-demo">
    <div id="components-tabs-demo-slide"></div>
    <script>mountNode = document.getElementById('components-tabs-demo-slide');</script>
    <script>(function(){"use strict";

var _antd = require("antd");

var TabPane = _antd.Tabs.TabPane;

ReactDOM.render(React.createElement(
  _antd.Tabs,
  { defaultActiveKey: "1" },
  React.createElement(
    TabPane,
    { tab: "\u9009\u9879\u4E00", key: "1" },
    "\u9009\u9879\u5361\u4E00"
  ),
  React.createElement(
    TabPane,
    { tab: "\u9009\u9879\u4E8C", key: "2" },
    "\u9009\u9879\u5361\u4E8C"
  ),
  React.createElement(
    TabPane,
    { tab: "\u9009\u9879\u4E09", key: "3" },
    "\u9009\u9879\u5361\u4E09"
  ),
  React.createElement(
    TabPane,
    { tab: "\u9009\u9879\u56DB", key: "4" },
    "\u9009\u9879\u5361\u56DB"
  ),
  React.createElement(
    TabPane,
    { tab: "\u9009\u9879\u4E94", key: "5" },
    "\u9009\u9879\u5361\u4E94"
  ),
  React.createElement(
    TabPane,
    { tab: "\u9009\u9879\u516D", key: "6" },
    "\u9009\u9879\u5361\u516D"
  ),
  React.createElement(
    TabPane,
    { tab: "\u9009\u9879\u4E03", key: "7" },
    "\u9009\u9879\u5361\u4E03"
  ),
  React.createElement(
    TabPane,
    { tab: "\u9009\u9879\u516B", key: "8" },
    "\u9009\u9879\u5361\u516B"
  ),
  React.createElement(
    TabPane,
    { tab: "\u9009\u9879\u4E5D", key: "9" },
    "\u9009\u9879\u5361\u4E5D"
  )
), mountNode);})()</script><div class="highlight"><pre><code class="javascript"><span class="hljs-keyword">import</span> { Tabs } <span class="hljs-keyword">from</span> <span class="hljs-string">'antd'</span>;
<span class="hljs-keyword">const</span> TabPane = Tabs.TabPane;

ReactDOM.render(
  <span class="xml"><span class="hljs-tag">&lt;<span class="hljs-title">Tabs</span> <span class="hljs-attribute">defaultActiveKey</span>=<span class="hljs-value">"1"</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-title">TabPane</span> <span class="hljs-attribute">tab</span>=<span class="hljs-value">"选项一"</span> <span class="hljs-attribute">key</span>=<span class="hljs-value">"1"</span>&gt;</span>选项卡一<span class="hljs-tag">&lt;/<span class="hljs-title">TabPane</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-title">TabPane</span> <span class="hljs-attribute">tab</span>=<span class="hljs-value">"选项二"</span> <span class="hljs-attribute">key</span>=<span class="hljs-value">"2"</span>&gt;</span>选项卡二<span class="hljs-tag">&lt;/<span class="hljs-title">TabPane</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-title">TabPane</span> <span class="hljs-attribute">tab</span>=<span class="hljs-value">"选项三"</span> <span class="hljs-attribute">key</span>=<span class="hljs-value">"3"</span>&gt;</span>选项卡三<span class="hljs-tag">&lt;/<span class="hljs-title">TabPane</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-title">TabPane</span> <span class="hljs-attribute">tab</span>=<span class="hljs-value">"选项四"</span> <span class="hljs-attribute">key</span>=<span class="hljs-value">"4"</span>&gt;</span>选项卡四<span class="hljs-tag">&lt;/<span class="hljs-title">TabPane</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-title">TabPane</span> <span class="hljs-attribute">tab</span>=<span class="hljs-value">"选项五"</span> <span class="hljs-attribute">key</span>=<span class="hljs-value">"5"</span>&gt;</span>选项卡五<span class="hljs-tag">&lt;/<span class="hljs-title">TabPane</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-title">TabPane</span> <span class="hljs-attribute">tab</span>=<span class="hljs-value">"选项六"</span> <span class="hljs-attribute">key</span>=<span class="hljs-value">"6"</span>&gt;</span>选项卡六<span class="hljs-tag">&lt;/<span class="hljs-title">TabPane</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-title">TabPane</span> <span class="hljs-attribute">tab</span>=<span class="hljs-value">"选项七"</span> <span class="hljs-attribute">key</span>=<span class="hljs-value">"7"</span>&gt;</span>选项卡七<span class="hljs-tag">&lt;/<span class="hljs-title">TabPane</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-title">TabPane</span> <span class="hljs-attribute">tab</span>=<span class="hljs-value">"选项八"</span> <span class="hljs-attribute">key</span>=<span class="hljs-value">"8"</span>&gt;</span>选项卡八<span class="hljs-tag">&lt;/<span class="hljs-title">TabPane</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-title">TabPane</span> <span class="hljs-attribute">tab</span>=<span class="hljs-value">"选项九"</span> <span class="hljs-attribute">key</span>=<span class="hljs-value">"9"</span>&gt;</span>选项卡九<span class="hljs-tag">&lt;/<span class="hljs-title">TabPane</span>&gt;</span>
  <span class="hljs-tag">&lt;/<span class="hljs-title">Tabs</span>&gt;</span>
, mountNode);</span></code></pre></div>
  </div>
  <div class="code-box-meta markdown">
    <div class="code-box-title">
      <a href="#demo-slide">滑动</a>
    </div>
    
<p>可以左右滑动，容纳更多标签。</p>

    <span class="collapse anticon anticon-circle-o-right" unselectable="none"></span>
  </div>
</div>