<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <meta name="description" content="一个 UI 设计语言"/>
    <title>
Radio 单选框 - Ant Design
</title>
    <link rel="icon" href="https://t.alipayobjects.com/images/T1QUBfXo4fXXXXXXXX.png" type="image/x-icon">
    <link rel="shortcut icon" href="https://t.alipayobjects.com/images/T1QUBfXo4fXXXXXXXX.png" type="image/x-icon">
    
    <link rel="stylesheet" href="../../dist/antd-0.9.2.min.css">
    <link rel="stylesheet" href="../../static/style.css">
    <link rel="stylesheet" href="../../static/tomorrow.css">
    <script>
      (function (con) {
        'use strict';
        var prop, method;
        var empty = {};
        var dummy = function () {
        };
        var properties = 'memory'.split(',');
        var methods = ('assert,clear,count,debug,dir,dirxml,error,exception,group,' +
                       'groupCollapsed,groupEnd,info,log,markTimeline,profile,profiles,profileEnd,' +
                       'show,table,time,timeEnd,timeline,timelineEnd,timeStamp,trace,warn').split(',');
        while (prop = properties.pop()) {
          con[prop] = con[prop] || empty;
        }
        while (method = methods.pop()) {
          con[method] = con[method] || dummy;
        }
      })(this.console = this.console || {});
    </script>
    <script src="https://a.alipayobjects.com/??bluebird/2.9.30/bluebird.js,jquery/jquery/1.11.1/jquery.js,es5-shim/4.1.10/es5-shim.js,es5-shim/4.1.10/es5-sham.js,html5shiv/3.7.2/src/html5shiv.js,react/0.13.3/react.js"></script>
    <script>
    (function() {
      window.ANT_COMPONENTS = [];
      window.InstantClickChangeFns = [];
      ANT_COMPONENTS.push({
        title: 'Notification',
        desc: '通知提醒框'
      });
      ANT_COMPONENTS.push({
        title: 'Affix',
        desc: '固钉'
      });
      ANT_COMPONENTS.push({
        title: 'Badge',
        desc: '徽标数'
      });
      ANT_COMPONENTS.push({
        title: 'Breadcrumb',
        desc: '面包屑'
      });
      ANT_COMPONENTS.push({
        title: 'Button',
        desc: '按钮'
      });
      ANT_COMPONENTS.push({
        title: 'Carousel',
        desc: '走马灯'
      });
      ANT_COMPONENTS.push({
        title: 'Checkbox',
        desc: '多选框'
      });
      ANT_COMPONENTS.push({
        title: 'Collapse',
        desc: '折叠面板'
      });
      ANT_COMPONENTS.push({
        title: 'Datepicker',
        desc: '日期选择框'
      });
      ANT_COMPONENTS.push({
        title: 'Dropdown',
        desc: '下拉菜单'
      });
      ANT_COMPONENTS.push({
        title: 'EnterAnimation',
        desc: '进场动画'
      });
      ANT_COMPONENTS.push({
        title: 'Form',
        desc: '表单'
      });
      ANT_COMPONENTS.push({
        title: 'Iconfont',
        desc: '字体图标'
      });
      ANT_COMPONENTS.push({
        title: 'InputNumber',
        desc: '数字输入框'
      });
      ANT_COMPONENTS.push({
        title: 'Layout',
        desc: '布局'
      });
      ANT_COMPONENTS.push({
        title: 'Menu',
        desc: '导航菜单'
      });
      ANT_COMPONENTS.push({
        title: 'Message',
        desc: '全局提示'
      });
      ANT_COMPONENTS.push({
        title: 'Modal',
        desc: '对话框'
      });
      ANT_COMPONENTS.push({
        title: 'Alert',
        desc: '警告提示'
      });
      ANT_COMPONENTS.push({
        title: 'Pagination',
        desc: '分页'
      });
      ANT_COMPONENTS.push({
        title: 'Popconfirm',
        desc: '气泡确认框'
      });
      ANT_COMPONENTS.push({
        title: 'Popover',
        desc: '气泡卡片'
      });
      ANT_COMPONENTS.push({
        title: 'Progress',
        desc: '进度条'
      });
      ANT_COMPONENTS.push({
        title: 'Radio',
        desc: '单选框'
      });
      ANT_COMPONENTS.push({
        title: 'Select',
        desc: '选择器'
      });
      ANT_COMPONENTS.push({
        title: 'Slider',
        desc: '滑动输入条'
      });
      ANT_COMPONENTS.push({
        title: 'Steps',
        desc: '步骤条'
      });
      ANT_COMPONENTS.push({
        title: 'Switch',
        desc: '开关'
      });
      ANT_COMPONENTS.push({
        title: 'Table',
        desc: '表格'
      });
      ANT_COMPONENTS.push({
        title: 'Tabs',
        desc: '标签页'
      });
      ANT_COMPONENTS.push({
        title: 'Tag',
        desc: '标签'
      });
      ANT_COMPONENTS.push({
        title: 'Timeline',
        desc: '时间轴'
      });
      ANT_COMPONENTS.push({
        title: 'Tooltip',
        desc: '文字提示'
      });
      ANT_COMPONENTS.push({
        title: 'Tree',
        desc: '树形控件'
      });
      ANT_COMPONENTS.push({
        title: 'Upload',
        desc: '文件上传'
      });
      ANT_COMPONENTS.push({
        title: 'Validation',
        desc: '表单校验'
      });
      var i = location.pathname.split('/').lastIndexOf('ant-design');
      if (i > 0) {
        window.rootUrl = location.origin + location.pathname.split('/').slice(0, 2+1).join('/');
      } else {
        window.rootUrl = location.origin;
      }
    })();
    </script>
    <script src="../../static/script.js"></script>
    <script>
      window.antdVersion = {
        latest: '0.9.2',
        stable: '0.9.2'
      };
    </script>
    <script src="../../dist/antd-0.9.2.min.js"></script>
    <script src="../../dist/demo.js"></script>
    <script>
      window.require = function (path) {
        var result = window;
        var namespaces = path.split('/');
        namespaces.forEach(function (key, i) {
          if (i !== 0 && i === namespaces.length - 1) {
            key = capitalizeFirstLetter(key);
          }
          if (key !== 'lib') {
            if (result[key]) {
              result = result[key];
            } else {
              throw 'There should not have modules here 2.';
            }
          }
        });
        function capitalizeFirstLetter(string) {
          return string.charAt(0).toUpperCase() + string.slice(1);
        }

        return result;
      };
    </script>
    
  </head>
  <body >
    <header id="header" class="clearfix">
      <a class="logo" href="../..">
        <img width="60" src="https://t.alipayobjects.com/images/rmsweb/T1B9hfXcdvXXXXXXXX.svg">
        Ant Design
      </a>
      <div class="search">
        <div id="autoComplete"></div>
      </div>
      <nav class="nav">
        <span class="bar"></span>
        <ul>
          <li class="">
            <a href="../.." data-no-instant>首页</a>
          </li>
          <li class="">
            <a href="../../spec/introduce">设计</a>
          </li>
          <li>
            <a class="nav-link-disabled" href="">案例</a>
          </li>
          <li class="current">
            <a href="../../docs/introduce">React</a>
          </li>
          <li>
            <a target="_blank" href="https://github.com/ant-design/ant-design">Github</a>
          </li>
        </ul>
      </nav>
      <div class="nav-phone-icon"></div>
    </header>
    <div class="main-wrapper">
      
<aside class="aside-container">
  <ul>
      <li class="">
        <a href="../../docs/introduce" class="">
          Ant Design of React
          <span class="chinese"></span>
        </a>
      </li>
      <li class="">
        <a href="../../docs/getting-started" class="">
          快速上手
          <span class="chinese"></span>
        </a>
      </li>
      <li class="">
        <a href="../../docs/download" class="">
          下载
          <span class="chinese"></span>
        </a>
      </li>
      <li class="">
        <a href="../../changelog" class="">
          更新日志
          <span class="chinese"></span>
        </a>
      </li>
    <li open="open">
      <h4>Components</h4>
      <ul class="">
          <li class="type-divider">基本</li>
          <li class="">
            <a href="../button/"
               class="">
              Button
              <span class="chinese">按钮</span>
            </a>
          </li>
          <li class="">
            <a href="../iconfont/"
               class=""data-no-instant>
              Iconfont
              <span class="chinese">字体图标</span>
            </a>
          </li>
          <li class="">
            <a href="../layout/"
               class="">
              Layout
              <span class="chinese">布局</span>
            </a>
          </li>
          <li class="type-divider">表单</li>
          <li class="">
            <a href="../checkbox/"
               class="">
              Checkbox
              <span class="chinese">多选框</span>
            </a>
          </li>
          <li class="">
            <a href="../datepicker/"
               class="">
              Datepicker
              <span class="chinese">日期选择框</span>
            </a>
          </li>
          <li class="">
            <a href="../form/"
               class="">
              Form
              <span class="chinese">表单</span>
            </a>
          </li>
          <li class="">
            <a href="../input-number/"
               class="">
              InputNumber
              <span class="chinese">数字输入框</span>
            </a>
          </li>
          <li class="current">
            <a href="./"
               class="">
              Radio
              <span class="chinese">单选框</span>
            </a>
          </li>
          <li class="">
            <a href="../select/"
               class="">
              Select
              <span class="chinese">选择器</span>
            </a>
          </li>
          <li class="">
            <a href="../slider/"
               class="">
              Slider
              <span class="chinese">滑动输入条</span>
            </a>
          </li>
          <li class="">
            <a href="../switch/"
               class="">
              Switch
              <span class="chinese">开关</span>
            </a>
          </li>
          <li class="">
            <a href="../upload/"
               class="">
              Upload
              <span class="chinese">文件上传</span>
            </a>
          </li>
          <li class="">
            <a href="../validation/"
               class="">
              Validation
              <span class="chinese">表单校验</span>
            </a>
          </li>
          <li class="type-divider">展示</li>
          <li class="">
            <a href="../alert/"
               class="">
              Alert
              <span class="chinese">警告提示</span>
            </a>
          </li>
          <li class="">
            <a href="../badge/"
               class="">
              Badge
              <span class="chinese">徽标数</span>
            </a>
          </li>
          <li class="">
            <a href="../carousel/"
               class="">
              Carousel
              <span class="chinese">走马灯</span>
            </a>
          </li>
          <li class="">
            <a href="../collapse/"
               class="">
              Collapse
              <span class="chinese">折叠面板</span>
            </a>
          </li>
          <li class="">
            <a href="../dropdown/"
               class="">
              Dropdown
              <span class="chinese">下拉菜单</span>
            </a>
          </li>
          <li class="">
            <a href="../message/"
               class="">
              Message
              <span class="chinese">全局提示</span>
            </a>
          </li>
          <li class="">
            <a href="../modal/"
               class="">
              Modal
              <span class="chinese">对话框</span>
            </a>
          </li>
          <li class="">
            <a href="../notification/"
               class="">
              Notification
              <span class="chinese">通知提醒框</span>
            </a>
          </li>
          <li class="">
            <a href="../popconfirm/"
               class="">
              Popconfirm
              <span class="chinese">气泡确认框</span>
            </a>
          </li>
          <li class="">
            <a href="../popover/"
               class="">
              Popover
              <span class="chinese">气泡卡片</span>
            </a>
          </li>
          <li class="">
            <a href="../progress/"
               class="">
              Progress
              <span class="chinese">进度条</span>
            </a>
          </li>
          <li class="">
            <a href="../table/"
               class="">
              Table
              <span class="chinese">表格</span>
            </a>
          </li>
          <li class="">
            <a href="../tag/"
               class="">
              Tag
              <span class="chinese">标签</span>
            </a>
          </li>
          <li class="">
            <a href="../timeline/"
               class="">
              Timeline
              <span class="chinese">时间轴</span>
            </a>
          </li>
          <li class="">
            <a href="../tooltip/"
               class="">
              Tooltip
              <span class="chinese">文字提示</span>
            </a>
          </li>
          <li class="">
            <a href="../tree/"
               class="">
              Tree
              <span class="chinese">树形控件</span>
            </a>
          </li>
          <li class="type-divider">导航</li>
          <li class="">
            <a href="../breadcrumb/"
               class="">
              Breadcrumb
              <span class="chinese">面包屑</span>
            </a>
          </li>
          <li class="">
            <a href="../menu/"
               class="">
              Menu
              <span class="chinese">导航菜单</span>
            </a>
          </li>
          <li class="">
            <a href="../pagination/"
               class="">
              Pagination
              <span class="chinese">分页</span>
            </a>
          </li>
          <li class="">
            <a href="../steps/"
               class="">
              Steps
              <span class="chinese">步骤条</span>
            </a>
          </li>
          <li class="">
            <a href="../tabs/"
               class="">
              Tabs
              <span class="chinese">标签页</span>
            </a>
          </li>
          <li class="type-divider">其他</li>
          <li class="">
            <a href="../affix/"
               class="">
              Affix
              <span class="chinese">固钉</span>
            </a>
          </li>
          <li class="">
            <a href="../enter-animation/"
               class="">
              EnterAnimation
              <span class="chinese">进场动画</span>
            </a>
          </li>
      </ul>
    </li>
  </ul>
</aside>
 
<section class="main-container">
  <article class="markdown">
    <h1>
      Radio 单选框
    </h1>
    <p>单选框。</p>
<h2 id="何时使用">何时使用</h2><ul>
<li>用于在多个备选项中选中单个状态。</li>
<li>和 Select 的区别是，Radio 所有选项默认可见，方便用户在比较中选择，因此选项不宜过多。</li>
</ul>
<h2 id="api">API</h2><h3 id="radio">Radio</h3><table>
<thead>
<tr>
<th>参数</th>
<th>说明</th>
<th>类型</th>
<th>可选值</th>
<th>默认值</th>
</tr>
</thead>
<tbody>
<tr>
<td>checked</td>
<td>指定当前是否选中</td>
<td>Boolean</td>
<td></td>
<td>false</td>
</tr>
<tr>
<td>defaultChecked</td>
<td>初始是否选中</td>
<td>Boolean</td>
<td></td>
<td>false</td>
</tr>
<tr>
<td>value</td>
<td>根据 value 进行比较，判断是否选中</td>
<td>String</td>
<td></td>
<td>无</td>
</tr>
</tbody>
</table>
<h3 id="radiogroup">RadioGroup</h3><p>单选框组合，用于包裹一组 <code>Radio</code>。</p>
<table>
<thead>
<tr>
<th>参数</th>
<th>说明</th>
<th>类型</th>
<th>可选值</th>
<th>默认值</th>
</tr>
</thead>
<tbody>
<tr>
<td>onChange</td>
<td>选项变化时的回调函数</td>
<td>Function(e:Event)</td>
<td>无</td>
<td>无</td>
</tr>
<tr>
<td>value</td>
<td>用于设置当前选中的值</td>
<td>String</td>
<td>无</td>
<td>无</td>
</tr>
<tr>
<td>defaultValue</td>
<td>默认选中的值</td>
<td>String</td>
<td>无</td>
<td>无</td>
</tr>
</tbody>
</table>

  </article>
<h2 class="component-demos">
  组件演示
  <i class="anticon anticon-appstore icon-all" title="展开全部代码"></i>
</h2>
<div class="code-boxes">
  <div class="code-boxes-col-2-1"><div class="code-box" id="demo-basic">
  <div class="code-box-demo">
    <div id="components-radio-demo-basic"></div>
    <script>(function(){'use strict';

var Radio = antd.Radio;

React.render(React.createElement(
  Radio,
  null,
  'Radio'
), document.getElementById('components-radio-demo-basic'));})()</script><div class="highlight"><pre><code class="javascript"><span class="keyword">var</span> Radio = antd.Radio;

React.render(<span class="xml"><span class="tag">&lt;<span class="title">Radio</span>&gt;</span>Radio<span class="tag">&lt;/<span class="title">Radio</span>&gt;</span>
, document.getElementById('components-radio-demo-basic'));</span></code></pre></div>
  </div>
  <div class="code-box-meta markdown">
    <div class="code-box-title">
      <a href="#demo-basic">基本</a>
    </div>
    <p>最简单的用法。</p>
    <span class="collapse anticon anticon-circle-o-right" unselectable="none" style="-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;"></span>
  </div>
</div><div class="code-box" id="demo-radiogroup">
  <div class="code-box-demo">
    <div id="components-radio-demo-radiogroup"></div>
    <script>(function(){'use strict';

var Radio = antd.Radio;
var RadioGroup = antd.Radio.Group;

var App = React.createClass({
  displayName: 'App',

  getInitialState: function getInitialState() {
    return {
      value: 'a'
    };
  },
  onChange: function onChange(e) {
    console.log('radio checked:' + e.target.value);
    this.setState({
      value: e.target.value
    });
  },
  render: function render() {
    return React.createElement(
      'div',
      null,
      React.createElement(
        RadioGroup,
        { onChange: this.onChange, value: this.state.value },
        React.createElement(
          Radio,
          { value: 'a' },
          'A'
        ),
        React.createElement(
          Radio,
          { value: 'b' },
          'B'
        ),
        React.createElement(
          Radio,
          { value: 'c' },
          'C'
        ),
        React.createElement(
          Radio,
          { value: 'd' },
          'D'
        )
      ),
      React.createElement(
        'div',
        { style: { marginTop: 20 } },
        '你选中的: ',
        this.state.value
      )
    );
  }
});
React.render(React.createElement(App, null), document.getElementById('components-radio-demo-radiogroup'));})()</script><div class="highlight"><pre><code class="javascript"><span class="keyword">var</span> Radio = antd.Radio;
<span class="keyword">var</span> RadioGroup = antd.Radio.Group;

<span class="keyword">var</span> App = React.createClass({
  getInitialState: <span class="function"><span class="keyword">function</span> <span class="params">()</span> {</span>
    <span class="keyword">return</span> {
      value: <span class="string">'a'</span>
    };
  },
  onChange(e) {
    console.log(<span class="string">'radio checked:'</span> + e.target.value);
    <span class="keyword">this</span>.setState({
      value: e.target.value
    });
  },
  render() {
    <span class="keyword">return</span> <span class="xml"><span class="tag">&lt;<span class="title">div</span>&gt;</span>
      <span class="tag">&lt;<span class="title">RadioGroup</span> <span class="attribute">onChange</span>=<span class="value">{this.onChange}</span> <span class="attribute">value</span>=<span class="value">{this.state.value}</span>&gt;</span>
        <span class="tag">&lt;<span class="title">Radio</span> <span class="attribute">value</span>=<span class="value">"a"</span>&gt;</span>A<span class="tag">&lt;/<span class="title">Radio</span>&gt;</span>
        <span class="tag">&lt;<span class="title">Radio</span> <span class="attribute">value</span>=<span class="value">"b"</span>&gt;</span>B<span class="tag">&lt;/<span class="title">Radio</span>&gt;</span>
        <span class="tag">&lt;<span class="title">Radio</span> <span class="attribute">value</span>=<span class="value">"c"</span>&gt;</span>C<span class="tag">&lt;/<span class="title">Radio</span>&gt;</span>
        <span class="tag">&lt;<span class="title">Radio</span> <span class="attribute">value</span>=<span class="value">"d"</span>&gt;</span>D<span class="tag">&lt;/<span class="title">Radio</span>&gt;</span>
      <span class="tag">&lt;/<span class="title">RadioGroup</span>&gt;</span>
      <span class="tag">&lt;<span class="title">div</span> <span class="attribute">style</span>=<span class="value">{{marginTop:</span> <span class="attribute">20</span>}}&gt;</span>你选中的: {this.state.value}<span class="tag">&lt;/<span class="title">div</span>&gt;</span>
    <span class="tag">&lt;/<span class="title">div</span>&gt;</span>;</span>
  }
});
React.render(<span class="xml"><span class="tag">&lt;<span class="title">App</span> /&gt;</span>, document.getElementById('components-radio-demo-radiogroup'));</span></code></pre></div>
  </div>
  <div class="code-box-meta markdown">
    <div class="code-box-title">
      <a href="#demo-radiogroup">RadioGroup 组合</a>
    </div>
    <p>一组互斥的 Radio 配合使用。</p>
    <span class="collapse anticon anticon-circle-o-right" unselectable="none" style="-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;"></span>
  </div>
</div>
  </div>
  <div class="code-boxes-col-2-1"><div class="code-box" id="demo-disable">
  <div class="code-box-demo">
    <div id="components-radio-demo-disable"></div>
    <script>(function(){"use strict";

var Radio = antd.Radio;

function toggleDisabled() {
  disabled = !disabled;
}

var App = React.createClass({
  displayName: "App",

  getInitialState: function getInitialState() {
    return {
      disabled: true
    };
  },
  toggleDisabled: function toggleDisabled() {
    this.setState({
      disabled: !this.state.disabled
    });
  },
  render: function render() {
    return React.createElement(
      "div",
      null,
      React.createElement(
        Radio,
        { defaultChecked: false, disabled: this.state.disabled },
        "不可用"
      ),
      React.createElement("br", null),
      React.createElement(
        Radio,
        { defaultChecked: true, disabled: this.state.disabled },
        "不可用"
      ),
      React.createElement(
        "div",
        { style: { marginTop: 20 } },
        React.createElement(
          "button",
          { className: "ant-btn ant-btn-primary", onClick: this.toggleDisabled },
          "Toggle disabled"
        )
      )
    );
  }
});

React.render(React.createElement(App, null), document.getElementById('components-radio-demo-disable'));})()</script><div class="highlight"><pre><code class="javascript"><span class="keyword">var</span> Radio = antd.Radio;

<span class="function"><span class="keyword">function</span> <span class="title">toggleDisabled</span><span class="params">()</span> {</span>
  disabled = !disabled;
}

<span class="keyword">var</span> App = React.createClass({
  getInitialState() {
    <span class="keyword">return</span> {
      disabled: <span class="literal">true</span>
    };
  },
  toggleDisabled() {
    <span class="keyword">this</span>.setState({
      disabled: !<span class="keyword">this</span>.state.disabled
    });
  },
  render() {
    <span class="keyword">return</span> <span class="xml"><span class="tag">&lt;<span class="title">div</span>&gt;</span>
      <span class="tag">&lt;<span class="title">Radio</span> <span class="attribute">defaultChecked</span>=<span class="value">{false}</span> <span class="attribute">disabled</span>=<span class="value">{this.state.disabled}</span>&gt;</span>不可用<span class="tag">&lt;/<span class="title">Radio</span>&gt;</span>
      <span class="tag">&lt;<span class="title">br</span> /&gt;</span>
      <span class="tag">&lt;<span class="title">Radio</span> <span class="attribute">defaultChecked</span>=<span class="value">{true}</span> <span class="attribute">disabled</span>=<span class="value">{this.state.disabled}</span>&gt;</span>不可用<span class="tag">&lt;/<span class="title">Radio</span>&gt;</span>
      <span class="tag">&lt;<span class="title">div</span> <span class="attribute">style</span>=<span class="value">{{marginTop:</span> <span class="attribute">20</span>}}&gt;</span>
        <span class="tag">&lt;<span class="title">button</span> <span class="attribute">className</span>=<span class="value">"ant-btn ant-btn-primary"</span> <span class="attribute">onClick</span>=<span class="value">{this.toggleDisabled}</span>&gt;</span>
          Toggle disabled
        <span class="tag">&lt;/<span class="title">button</span>&gt;</span>
      <span class="tag">&lt;/<span class="title">div</span>&gt;</span>
    <span class="tag">&lt;/<span class="title">div</span>&gt;</span>;</span>
  }
});

React.render(<span class="xml"><span class="tag">&lt;<span class="title">App</span> /&gt;</span>, document.getElementById('components-radio-demo-disable'));</span></code></pre></div>
  </div>
  <div class="code-box-meta markdown">
    <div class="code-box-title">
      <a href="#demo-disable">不可用</a>
    </div>
    <p>Radio 不可用。</p>
    <span class="collapse anticon anticon-circle-o-right" unselectable="none" style="-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;"></span>
  </div>
</div><div class="code-box" id="demo-radiobutton">
  <div class="code-box-demo">
    <div id="components-radio-demo-radiobutton"></div>
    <script>(function(){"use strict";

var RadioButton = antd.Radio.Button;
var RadioGroup = antd.Radio.Group;

function onChange(e) {
  console.log('radio checked:' + e.target.value);
}

React.render(React.createElement(
  RadioGroup,
  { onChange: onChange, defaultValue: "a" },
  React.createElement(
    RadioButton,
    { value: "a" },
    "杭州"
  ),
  React.createElement(
    RadioButton,
    { value: "b" },
    "上海"
  ),
  React.createElement(
    RadioButton,
    { value: "c" },
    "北京"
  ),
  React.createElement(
    RadioButton,
    { value: "d" },
    "成都"
  )
), document.getElementById('components-radio-demo-radiobutton'));})()</script><div class="highlight"><pre><code class="javascript"><span class="keyword">var</span> RadioButton = antd.Radio.Button;
<span class="keyword">var</span> RadioGroup = antd.Radio.Group;

<span class="function"><span class="keyword">function</span> <span class="title">onChange</span><span class="params">(e)</span> {</span>
  console.log(<span class="string">'radio checked:'</span> + e.target.value);
}

React.render((
  <span class="xml"><span class="tag">&lt;<span class="title">RadioGroup</span> <span class="attribute">onChange</span>=<span class="value">{onChange}</span> <span class="attribute">defaultValue</span>=<span class="value">"a"</span>&gt;</span>
    <span class="tag">&lt;<span class="title">RadioButton</span> <span class="attribute">value</span>=<span class="value">"a"</span>&gt;</span>杭州<span class="tag">&lt;/<span class="title">RadioButton</span>&gt;</span>
    <span class="tag">&lt;<span class="title">RadioButton</span> <span class="attribute">value</span>=<span class="value">"b"</span>&gt;</span>上海<span class="tag">&lt;/<span class="title">RadioButton</span>&gt;</span>
    <span class="tag">&lt;<span class="title">RadioButton</span> <span class="attribute">value</span>=<span class="value">"c"</span>&gt;</span>北京<span class="tag">&lt;/<span class="title">RadioButton</span>&gt;</span>
    <span class="tag">&lt;<span class="title">RadioButton</span> <span class="attribute">value</span>=<span class="value">"d"</span>&gt;</span>成都<span class="tag">&lt;/<span class="title">RadioButton</span>&gt;</span>
  <span class="tag">&lt;/<span class="title">RadioGroup</span>&gt;</span>
), document.getElementById('components-radio-demo-radiobutton'));</span></code></pre></div>
  </div>
  <div class="code-box-meta markdown">
    <div class="code-box-title">
      <a href="#demo-radiobutton">按钮样式</a>
    </div>
    <p>按钮样式的单选组合。</p>
    <span class="collapse anticon anticon-circle-o-right" unselectable="none" style="-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;"></span>
  </div>
</div>
  </div>
</div>
  <div class="api-container markdown"></div>
</section>

    </div><footer id="footer">
  <ul>
    <li>
      <h2>GitHub</h2>
      <a target="_blank "href="https://github.com/ant-design/ant-design">仓库</a>
      <a target="_blank" href="https://github.com/ant-design/ant-design/tree/master/style">样式</a>
      <a target="_blank" href="https://github.com/ant-design/antd-bin">开发工具</a>
    </li>
    <li>
      <h2>关于我们</h2>
      <a href="https://github.com/alipay/x/issues">博客 - Ant UED</a>
    </li>
    <li>
      <h2>联系我们</h2>
      <a target="_blank" href="https://github.com/ant-design/ant-design/issues">问题与建议 - Issues</a>
    </li>
    <li>
      <h3>©2015 蚂蚁金服体验技术部出品</h3>
      <h3>文档版本：<span id="versions-select"></span></h3>
    </li>
  </ul>
</footer>
    <script src="https://t.alipayobjects.com/images/rmsweb/T1AmXhXg0kXXXXXXXX.js" data-no-instant></script>
    <script data-no-instant>
      InstantClick.on('change', function() {
        InstantClickChangeFns.forEach(function(fn) {
          fn();
        });
      });
      InstantClick.init();
    </script>
  </body>
</html>