<div class="code-box" id="demo-with-btn">
  <div class="code-box-demo">
    <div id="components-notification-demo-with-btn"></div>
    <script>mountNode = document.getElementById('components-notification-demo-with-btn');</script>
    <script>(function(){'use strict';

var _antd = require('antd');

var close = function close() {
  console.log('我被默认的关闭按钮关闭了！');
};

var openNotification = function openNotification() {
  var key = 'open' + Date.now();
  var btnClick = function btnClick() {
    // 隐藏提醒框
    _antd.notification.close(key);
  };
  var btn = React.createElement(
    _antd.Button,
    { type: 'primary', size: 'small', onClick: btnClick },
    '自定义关闭按钮并触发回调函数'
  );
  _antd.notification.open({
    message: '这是标题',
    description: '这是提示框的文案这是提示框示框的文案这是提示是提示框的文案这是提示框的文案',
    btn: btn,
    key: key,
    onClose: close
  });
};

ReactDOM.render(React.createElement(
  'div',
  null,
  React.createElement(
    _antd.Button,
    { type: 'primary', onClick: openNotification },
    '打开通知提醒框'
  )
), mountNode);})()</script><div class="highlight"><pre><code class="javascript"><span class="hljs-keyword">import</span> { Button, notification } <span class="hljs-keyword">from</span> <span class="hljs-string">'antd'</span>;

<span class="hljs-keyword">const</span> close = <span class="hljs-function"><span class="hljs-keyword">function</span>(<span class="hljs-params"></span>) </span>{
  <span class="hljs-built_in">console</span>.log(<span class="hljs-string">'我被默认的关闭按钮关闭了！'</span>);
};

<span class="hljs-keyword">const</span> openNotification = <span class="hljs-function"><span class="hljs-keyword">function</span>(<span class="hljs-params"></span>) </span>{
  <span class="hljs-keyword">const</span> key = <span class="hljs-string">'open'</span> + <span class="hljs-built_in">Date</span>.now();
  <span class="hljs-keyword">const</span> btnClick = <span class="hljs-function"><span class="hljs-keyword">function</span>(<span class="hljs-params"></span>) </span>{
    <span class="hljs-comment">// 隐藏提醒框</span>
    notification.close(key);
  };
  <span class="hljs-keyword">const</span> btn = <span class="xml"><span class="hljs-tag">&lt;<span class="hljs-title">Button</span> <span class="hljs-attribute">type</span>=<span class="hljs-value">"primary"</span> <span class="hljs-attribute">size</span>=<span class="hljs-value">"small"</span> <span class="hljs-attribute">onClick</span>=<span class="hljs-value">{btnClick}</span>&gt;</span>
    自定义关闭按钮并触发回调函数
  <span class="hljs-tag">&lt;/<span class="hljs-title">Button</span>&gt;</span>;</span>
  notification.open({
    message: <span class="hljs-string">'这是标题'</span>,
    description: <span class="hljs-string">'这是提示框的文案这是提示框示框的文案这是提示是提示框的文案这是提示框的文案'</span>,
    btn: btn,
    key: key,
    onClose: close
  });
};

ReactDOM.render(
  <span class="xml"><span class="hljs-tag">&lt;<span class="hljs-title">div</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-title">Button</span> <span class="hljs-attribute">type</span>=<span class="hljs-value">"primary"</span> <span class="hljs-attribute">onClick</span>=<span class="hljs-value">{openNotification}</span>&gt;</span>打开通知提醒框<span class="hljs-tag">&lt;/<span class="hljs-title">Button</span>&gt;</span>
  <span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>,
mountNode);</span></code></pre></div>
  </div>
  <div class="code-box-meta markdown">
    <div class="code-box-title">
      <a href="#demo-with-btn">自定义</a>
    </div>
    <p>自定义关闭按钮的样式和文字。</p>
    <span class="collapse anticon anticon-circle-o-right" unselectable="none" style="-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;"></span>
  </div>
</div>