<div class="code-box" id="demo-error">
  <div class="code-box-demo">
    <div id="components-message-demo-error"></div>
    <script>(function(){'use strict';

var message = antd.message;
var error = function error() {
  message.error('这是一条失败的提示这是一条失败的提示这是一条失败的提示');
};

React.render(React.createElement(
  'button',
  { className: 'ant-btn ant-btn-primary', onClick: error },
  '显示失败提示'
), document.getElementById('components-message-demo-error'));})()</script><div class="highlight"><pre><code class="javascript">
<span class="keyword">var</span> message = antd.message;
<span class="keyword">var</span> error = <span class="function"><span class="keyword">function</span><span class="params">()</span> {</span>
  message.error(<span class="string">'这是一条失败的提示这是一条失败的提示这是一条失败的提示'</span>);
};

React.render(<span class="xml"><span class="tag">&lt;<span class="title">button</span> <span class="attribute">className</span>=<span class="value">"ant-btn ant-btn-primary"</span> <span class="attribute">onClick</span>=<span class="value">{error}</span>&gt;</span>显示失败提示<span class="tag">&lt;/<span class="title">button</span>&gt;</span>
, document.getElementById('components-message-demo-error'));</span></code></pre></div>
  </div>
  <div class="code-box-meta markdown">
    <div class="code-box-title">
      <a href="#demo-error">错误或失败</a>
    </div>
    <p>操作失败反馈。</p>
    <span class="collapse anticon anticon-circle-o-right" unselectable="none" style="-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;"></span>
  </div>
</div>