<div class="code-box" id="demo-loading">
  <div class="code-box-demo">
    <div id="components-message-demo-loading"></div>
    <script>(function(){'use strict';

var message = antd.message;

var success = function success() {
  var hide = message.loading('正在执行中...', 0);
  // 异步手动移除
  setTimeout(hide, 2500);
};

React.render(React.createElement(
  'button',
  { className: 'ant-btn', onClick: success },
  '显示加载中...'
), document.getElementById('components-message-demo-loading'));})()</script><div class="highlight"><pre><code class="javascript"><span class="keyword">var</span> message = antd.message;

<span class="keyword">var</span> success = <span class="function"><span class="keyword">function</span><span class="params">()</span> {</span>
  <span class="keyword">var</span> hide = message.loading(<span class="string">'正在执行中...'</span>, <span class="number">0</span>);
  <span class="comment">// 异步手动移除</span>
  setTimeout(hide, <span class="number">2500</span>);
};

React.render(<span class="xml"><span class="tag">&lt;<span class="title">button</span> <span class="attribute">className</span>=<span class="value">"ant-btn"</span> <span class="attribute">onClick</span>=<span class="value">{success}</span>&gt;</span>显示加载中...<span class="tag">&lt;/<span class="title">button</span>&gt;</span>
, document.getElementById('components-message-demo-loading'));</span></code></pre></div>
  </div>
  <div class="code-box-meta markdown">
    <div class="code-box-title">
      <a href="#demo-loading">加载中</a>
    </div>
    <p>进行全局 loading，异步自行移除。</p>
    <span class="collapse anticon anticon-circle-o-right" unselectable="none" style="-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;"></span>
  </div>
</div>