<div class="code-box" id="demo-offset">
  <div class="code-box-demo">
    <div id="components-affix-demo-offset"></div>
    <script>mountNode = document.getElementById('components-affix-demo-offset');</script>
    <script>(function(){"use strict";

var _antd = require("antd");

ReactDOM.render(React.createElement(
  _antd.Affix,
  { offset: 75 },
  React.createElement(
    _antd.Button,
    { type: "primary" },
    "固定在距离顶部 75px 的位置"
  )
), mountNode);})()</script><div class="highlight"><pre><code class="javascript"><span class="hljs-keyword">import</span> { Affix, Button } <span class="hljs-keyword">from</span> <span class="hljs-string">'antd'</span>;

ReactDOM.render(
  <span class="xml"><span class="hljs-tag">&lt;<span class="hljs-title">Affix</span> <span class="hljs-attribute">offset</span>=<span class="hljs-value">{75}</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-title">Button</span> <span class="hljs-attribute">type</span>=<span class="hljs-value">"primary"</span>&gt;</span>固定在距离顶部 75px 的位置<span class="hljs-tag">&lt;/<span class="hljs-title">Button</span>&gt;</span>
  <span class="hljs-tag">&lt;/<span class="hljs-title">Affix</span>&gt;</span>
, mountNode);</span></code></pre></div>
  </div>
  <div class="code-box-meta markdown">
    <div class="code-box-title">
      <a href="#demo-offset">偏移</a>
    </div>
    <p>达到一定的偏移量才触发。</p>
    <span class="collapse anticon anticon-circle-o-right" unselectable="none" style="-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;"></span>
  </div>
</div>