<div class="code-box" id="demo-basic">
  <div class="code-box-demo">
    <div id="components-calendar-demo-basic"></div>
    <script>(function(){'use strict';

var _antd = require('antd');

function onPanelChange(value, mode) {
  console.log(value, mode);
}

ReactDOM.render(React.createElement(_antd.Calendar, { onPanelChange: onPanelChange }), document.getElementById('components-calendar-demo-basic'));})()</script><div class="highlight"><pre><code class="javascript"><span class="hljs-keyword">import</span> { Calendar } <span class="hljs-keyword">from</span> <span class="hljs-string">'antd'</span>;

<span class="hljs-function"><span class="hljs-keyword">function</span> <span class="hljs-title">onPanelChange</span>(<span class="hljs-params">value, mode</span>) </span>{
  <span class="hljs-built_in">console</span>.log(value, mode);
}

ReactDOM.render(
  <span class="xml"><span class="hljs-tag">&lt;<span class="hljs-title">Calendar</span> <span class="hljs-attribute">onPanelChange</span>=<span class="hljs-value">{onPanelChange}</span> /&gt;</span>
, document.getElementById('components-calendar-demo-basic'));</span></code></pre></div>
  </div>
  <div class="code-box-meta markdown">
    <div class="code-box-title">
      <a href="#demo-basic">基本</a>
    </div>
    <p>一个通用的日历面板，支持年/月切换。</p>
    <span class="collapse anticon anticon-circle-o-right" unselectable="none" style="-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;"></span>
  </div>
</div>