<div class="code-box" id="demo-disable">
  <div class="code-box-demo">
    <div id="components-radio-demo-disable"></div>
    <script>(function(){'use strict';

var _antd = require('antd');

var App = React.createClass({
  displayName: 'App',

  getInitialState: function getInitialState() {
    return {
      disabled: true
    };
  },
  toggleDisabled: function toggleDisabled() {
    this.setState({
      disabled: !this.state.disabled
    });
  },
  render: function render() {
    return React.createElement(
      'div',
      null,
      React.createElement(
        _antd.Radio,
        { defaultChecked: false, disabled: this.state.disabled },
        '不可用'
      ),
      React.createElement('br', null),
      React.createElement(
        _antd.Radio,
        { defaultChecked: true, disabled: this.state.disabled },
        '不可用'
      ),
      React.createElement(
        'div',
        { style: { marginTop: 20 } },
        React.createElement(
          _antd.Button,
          { type: 'primary', onClick: this.toggleDisabled },
          'Toggle disabled'
        )
      )
    );
  }
});

ReactDOM.render(React.createElement(App, null), document.getElementById('components-radio-demo-disable'));})()</script><div class="highlight"><pre><code class="javascript"><span class="hljs-keyword">import</span> { Radio, Button } <span class="hljs-keyword">from</span> <span class="hljs-string">'antd'</span>;

<span class="hljs-keyword">const</span> App = React.createClass({
  getInitialState() {
    <span class="hljs-keyword">return</span> {
      disabled: <span class="hljs-literal">true</span>
    };
  },
  toggleDisabled() {
    <span class="hljs-keyword">this</span>.setState({
      disabled: !<span class="hljs-keyword">this</span>.state.disabled
    });
  },
  render() {
    <span class="hljs-keyword">return</span> <span class="xml"><span class="hljs-tag">&lt;<span class="hljs-title">div</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-title">Radio</span> <span class="hljs-attribute">defaultChecked</span>=<span class="hljs-value">{false}</span> <span class="hljs-attribute">disabled</span>=<span class="hljs-value">{this.state.disabled}</span>&gt;</span>不可用<span class="hljs-tag">&lt;/<span class="hljs-title">Radio</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-title">br</span> /&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-title">Radio</span> <span class="hljs-attribute">defaultChecked</span> <span class="hljs-attribute">disabled</span>=<span class="hljs-value">{this.state.disabled}</span>&gt;</span>不可用<span class="hljs-tag">&lt;/<span class="hljs-title">Radio</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">style</span>=<span class="hljs-value">{{marginTop:</span> <span class="hljs-attribute">20</span>}}&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">Button</span> <span class="hljs-attribute">type</span>=<span class="hljs-value">"primary"</span> <span class="hljs-attribute">onClick</span>=<span class="hljs-value">{this.toggleDisabled}</span>&gt;</span>
          Toggle disabled
        <span class="hljs-tag">&lt;/<span class="hljs-title">Button</span>&gt;</span>
      <span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>;</span>
  }
});

ReactDOM.render(<span class="xml"><span class="hljs-tag">&lt;<span class="hljs-title">App</span> /&gt;</span>, document.getElementById('components-radio-demo-disable'));</span></code></pre></div>
  </div>
  <div class="code-box-meta markdown">
    <div class="code-box-title">
      <a href="#demo-disable">不可用</a>
    </div>
    <p>Radio 不可用。</p>
    <span class="collapse anticon anticon-circle-o-right" unselectable="none" style="-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;"></span>
  </div>
</div>