.header  {

  height: 100vh;
  text-align: center;
  .brand  {

    padding: 4rem 3rem;
    box-shadow: 0px 0px 34px 0px rgba(33, 33, 33, 0.08);
    border-radius: 5px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    h2  {

      margin-top: 8rem;
    }
    .responsive-image  {

      img  {
        width: 40%;
        @media screen and (max-width: 1400px) {
          width: 60%
        }
        @media screen and (max-width: 600px) {
          width: 100%
        }
      }
    }
  }

  .center-text  {

    margin-top: 2rem;
  }
}


