<div class="code-box" id="demo-basic">
  <div class="code-box-demo">
    <div id="components-timeline-demo-basic"></div>
    <script>mountNode = document.getElementById('components-timeline-demo-basic');</script>
    <script>(function(){'use strict';

var _antd = require('antd');

ReactDOM.render(React.createElement(
  _antd.Timeline,
  null,
  React.createElement(
    _antd.Timeline.Item,
    null,
    '创建服务现场 2015-09-01'
  ),
  React.createElement(
    _antd.Timeline.Item,
    null,
    '初步排除网络异常 2015-09-01'
  ),
  React.createElement(
    _antd.Timeline.Item,
    null,
    '技术测试异常 2015-09-01'
  ),
  React.createElement(
    _antd.Timeline.Item,
    null,
    '网络异常正在修复 2015-09-01'
  )
), mountNode);})()</script><div class="highlight"><pre><code class="javascript"><span class="hljs-keyword">import</span> { Timeline } <span class="hljs-keyword">from</span> <span class="hljs-string">'antd'</span>;

ReactDOM.render(
<span class="xml"><span class="hljs-tag">&lt;<span class="hljs-title">Timeline</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-title">Timeline.Item</span>&gt;</span>创建服务现场 2015-09-01<span class="hljs-tag">&lt;/<span class="hljs-title">Timeline.Item</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-title">Timeline.Item</span>&gt;</span>初步排除网络异常 2015-09-01<span class="hljs-tag">&lt;/<span class="hljs-title">Timeline.Item</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-title">Timeline.Item</span>&gt;</span>技术测试异常 2015-09-01<span class="hljs-tag">&lt;/<span class="hljs-title">Timeline.Item</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-title">Timeline.Item</span>&gt;</span>网络异常正在修复 2015-09-01<span class="hljs-tag">&lt;/<span class="hljs-title">Timeline.Item</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-title">Timeline</span>&gt;</span>
, mountNode);</span></code></pre></div>
  </div>
  <div class="code-box-meta markdown">
    <div class="code-box-title">
      <a href="#demo-basic">基本用法</a>
    </div>
    <p>基本的时间轴。</p>
    <span class="collapse anticon anticon-circle-o-right" unselectable="none" style="-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;"></span>
  </div>
</div>