<div class="code-box" id="demo-separator">
  <div class="code-box-demo">
    <div id="components-breadcrumb-demo-separator"></div>
    <script>mountNode = document.getElementById('components-breadcrumb-demo-separator');</script>
    <script>(function(){"use strict";

var _antd = require("antd");

ReactDOM.render(React.createElement(
  _antd.Breadcrumb,
  { separator: ">" },
  React.createElement(
    _antd.Breadcrumb.Item,
    null,
    "首页"
  ),
  React.createElement(
    _antd.Breadcrumb.Item,
    { href: "" },
    "应用中心"
  ),
  React.createElement(
    _antd.Breadcrumb.Item,
    { href: "" },
    "应用列表"
  ),
  React.createElement(
    _antd.Breadcrumb.Item,
    null,
    "某应用"
  )
), mountNode);})()</script><div class="highlight"><pre><code class="javascript"><span class="hljs-keyword">import</span> { Breadcrumb } <span class="hljs-keyword">from</span> <span class="hljs-string">'antd'</span>;

ReactDOM.render(
  <span class="xml"><span class="hljs-tag">&lt;<span class="hljs-title">Breadcrumb</span> <span class="hljs-attribute">separator</span>=<span class="hljs-value">"&gt;"</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-title">Breadcrumb.Item</span>&gt;</span>首页<span class="hljs-tag">&lt;/<span class="hljs-title">Breadcrumb.Item</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-title">Breadcrumb.Item</span> <span class="hljs-attribute">href</span>=<span class="hljs-value">""</span>&gt;</span>应用中心<span class="hljs-tag">&lt;/<span class="hljs-title">Breadcrumb.Item</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-title">Breadcrumb.Item</span> <span class="hljs-attribute">href</span>=<span class="hljs-value">""</span>&gt;</span>应用列表<span class="hljs-tag">&lt;/<span class="hljs-title">Breadcrumb.Item</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-title">Breadcrumb.Item</span>&gt;</span>某应用<span class="hljs-tag">&lt;/<span class="hljs-title">Breadcrumb.Item</span>&gt;</span>
  <span class="hljs-tag">&lt;/<span class="hljs-title">Breadcrumb</span>&gt;</span>
, mountNode);</span></code></pre></div>
  </div>
  <div class="code-box-meta markdown">
    <div class="code-box-title">
      <a href="#demo-separator">分隔符</a>
    </div>
    <p>使用 <code>separator=&quot;&gt;&quot;</code> 可以自定义分隔符。</p>
    <span class="collapse anticon anticon-circle-o-right" unselectable="none" style="-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;"></span>
  </div>
</div>