<div class="code-box" id="demo-tip-formatter">
  <div class="code-box-demo">
    <div id="components-slider-demo-tip-formatter"></div>
    <script>(function(){'use strict';

var _antd = require('antd');

function formatter(value) {
  return '$' + value;
}

ReactDOM.render(React.createElement(_antd.Slider, { tipFormatter: formatter }), document.getElementById('components-slider-demo-tip-formatter'));})()</script><div class="highlight"><pre><code class="javascript"><span class="hljs-keyword">import</span> { Slider } <span class="hljs-keyword">from</span> <span class="hljs-string">'antd'</span>;

<span class="hljs-function"><span class="hljs-keyword">function</span> <span class="hljs-title">formatter</span>(<span class="hljs-params">value</span>) </span>{
  <span class="hljs-keyword">return</span> <span class="hljs-string">'$'</span> + value;
}

ReactDOM.render(<span class="xml"><span class="hljs-tag">&lt;<span class="hljs-title">Slider</span> <span class="hljs-attribute">tipFormatter</span>=<span class="hljs-value">{formatter}</span> /&gt;</span>
, document.getElementById('components-slider-demo-tip-formatter'));</span></code></pre></div>
  </div>
  <div class="code-box-meta markdown">
    <div class="code-box-title">
      <a href="#demo-tip-formatter">格式化 <code>Tooltip</code> 内容</a>
    </div>
    <p>使用 <code>tipFormatter</code> 可以格式化 <code>Tooltip</code> 的内容。</p>
    <span class="collapse anticon anticon-circle-o-right" unselectable="none" style="-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;"></span>
  </div>
</div>