<div class="code-box" id="demo-onclose">
  <div class="code-box-demo">
    <div id="components-notification-demo-onclose"></div>
    <script>(function(){'use strict';

var _antd = require('antd');

var close = function close() {
  console.log('我被默认的关闭按钮关闭了！');
};

var openNotification = function openNotification() {
  var args = {
    message: '这是标题',
    description: '这是提示框的文案这是提示框示框的文案这是提示是提示框的文案这是提示框的文案',
    onClose: close
  };
  _antd.notification.open(args);
};

ReactDOM.render(React.createElement(
  'div',
  null,
  React.createElement(
    _antd.Button,
    { type: 'primary', onClick: openNotification },
    '打开通知提醒框'
  )
), document.getElementById('components-notification-demo-onclose'));})()</script><div class="highlight"><pre><code class="javascript"><span class="hljs-keyword">import</span> { Button, notification } <span class="hljs-keyword">from</span> <span class="hljs-string">'antd'</span>;

<span class="hljs-keyword">const</span> close = <span class="hljs-function"><span class="hljs-keyword">function</span>(<span class="hljs-params"></span>) </span>{
  <span class="hljs-built_in">console</span>.log(<span class="hljs-string">'我被默认的关闭按钮关闭了！'</span>);
};

<span class="hljs-keyword">const</span> openNotification = <span class="hljs-function"><span class="hljs-keyword">function</span>(<span class="hljs-params"></span>) </span>{
  <span class="hljs-keyword">const</span> args = {
    message: <span class="hljs-string">'这是标题'</span>,
    description: <span class="hljs-string">'这是提示框的文案这是提示框示框的文案这是提示是提示框的文案这是提示框的文案'</span>,
    onClose: close
  };
  notification.open(args);
};

ReactDOM.render(
  <span class="xml"><span class="hljs-tag">&lt;<span class="hljs-title">div</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-title">Button</span> <span class="hljs-attribute">type</span>=<span class="hljs-value">"primary"</span> <span class="hljs-attribute">onClick</span>=<span class="hljs-value">{openNotification}</span>&gt;</span>打开通知提醒框<span class="hljs-tag">&lt;/<span class="hljs-title">Button</span>&gt;</span>
  <span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>,
document.getElementById('components-notification-demo-onclose'));</span></code></pre></div>
  </div>
  <div class="code-box-meta markdown">
    <div class="code-box-title">
      <a href="#demo-onclose">回调函数</a>
    </div>
    <p>点击关闭按钮时触发回调函数。</p>
    <span class="collapse anticon anticon-circle-o-right" unselectable="none" style="-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;"></span>
  </div>
</div>