@import url('https://fonts.googleapis.com/css?family=Questrial');

body {
    margin: 0;
    padding: 0;
    font-family: Questrial,sans-serif;
    font-display: block;
}

a {
    color: #1fab82;
    text-decoration: none;
}

.center {
    text-align: center;
}