<div class="code-box" id="demo-paging">
  <div class="code-box-demo">
    <div id="components-table-demo-paging"></div>
    <script>(function(){'use strict';

var Table = antd.Table;

var columns = [{
  title: '姓名',
  dataIndex: 'name',
  render: function render(text) {
    return React.createElement(
      'a',
      { href: 'javascript:;' },
      text
    );
  }
}, {
  title: '年龄',
  dataIndex: 'age'
}, {
  title: '住址',
  dataIndex: 'address'
}];
var data = [];

for (var i = 0; i < 46; i++) {
  data.push({
    key: i,
    name: '李大嘴' + i,
    age: 32,
    address: '西湖区湖底公园' + i + '号'
  });
}

var pagination = {
  total: data.length,
  current: 2,
  showSizeChanger: true
};

React.render(React.createElement(Table, { columns: columns, dataSource: data, pagination: pagination }), document.getElementById('components-table-demo-paging'));})()</script><div class="highlight"><pre><code class="javascript"><span class="keyword">var</span> Table = antd.Table;

<span class="keyword">var</span> columns = [{
  title: <span class="string">'姓名'</span>,
  dataIndex: <span class="string">'name'</span>,
  render: <span class="function"><span class="keyword">function</span><span class="params">(text)</span> {</span>
    <span class="keyword">return</span> <span class="xml"><span class="tag">&lt;<span class="title">a</span> <span class="attribute">href</span>=<span class="value">"javascript:;"</span>&gt;</span>{text}<span class="tag">&lt;/<span class="title">a</span>&gt;</span>;</span>
  }
}, {
  title: <span class="string">'年龄'</span>,
  dataIndex: <span class="string">'age'</span>
}, {
  title: <span class="string">'住址'</span>,
  dataIndex: <span class="string">'address'</span>
}];
<span class="keyword">var</span> data = [];

<span class="keyword">for</span> (<span class="keyword">let</span> i=<span class="number">0</span>; i&lt;<span class="number">46</span>; i++) {
  data.push({
    key: i,
    name: <span class="string">'李大嘴'</span> + i,
    age: <span class="number">32</span>,
    address: <span class="string">'西湖区湖底公园'</span> + i + <span class="string">'号'</span>
  });
}

<span class="keyword">var</span> pagination = {
  total: data.length,
  current: <span class="number">2</span>,
  showSizeChanger: <span class="literal">true</span>
};

React.render(<span class="xml"><span class="tag">&lt;<span class="title">Table</span> <span class="attribute">columns</span>=<span class="value">{columns}</span> <span class="attribute">dataSource</span>=<span class="value">{data}</span> <span class="attribute">pagination</span>=<span class="value">{pagination}</span> /&gt;</span>
, document.getElementById('components-table-demo-paging'));</span></code></pre></div>
  </div>
  <div class="code-box-meta markdown">
    <div class="code-box-title">
      <a href="#demo-paging">分页</a>
    </div>
    <p>数据项较多时显示分页。</p>
    <span class="collapse anticon anticon-circle-o-right" unselectable="none" style="-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;"></span>
  </div>
</div>