<div class="code-box" id="demo-row-selection">
  <div class="code-box-demo">
    <div id="components-table-demo-row-selection"></div>
    <script>(function(){'use strict';

var Table = antd.Table;
var columns = [{
  title: '姓名',
  dataIndex: 'name',
  render: function render(text) {
    return React.createElement(
      'a',
      { href: 'javascript:;' },
      text
    );
  }
}, {
  title: '年龄',
  dataIndex: 'age'
}, {
  title: '住址',
  dataIndex: 'address'
}];
var data = [{
  key: '1',
  name: '胡彦斌',
  age: 32,
  address: '西湖区湖底公园1号'
}, {
  key: '2',
  name: '胡彦祖',
  age: 42,
  address: '西湖区湖底公园1号'
}, {
  key: '3',
  name: '李大嘴',
  age: 32,
  address: '西湖区湖底公园1号'
}];

// 通过 rowSelection 对象表明需要行选择
var rowSelection = {
  onSelect: function onSelect(record, selected, selectedRows) {
    console.log(record, selected, selectedRows);
  },
  onSelectAll: function onSelectAll(selected, selectedRows) {
    console.log(selected, selectedRows);
  }
};

React.render(React.createElement(Table, { rowSelection: rowSelection, columns: columns, dataSource: data }), document.getElementById('components-table-demo-row-selection'));})()</script><div class="highlight"><pre><code class="javascript"><span class="keyword">var</span> Table = antd.Table;
<span class="keyword">var</span> columns = [{
  title: <span class="string">'姓名'</span>,
  dataIndex: <span class="string">'name'</span>,
  render: <span class="function"><span class="keyword">function</span><span class="params">(text)</span> {</span>
    <span class="keyword">return</span> <span class="xml"><span class="tag">&lt;<span class="title">a</span> <span class="attribute">href</span>=<span class="value">"javascript:;"</span>&gt;</span>{text}<span class="tag">&lt;/<span class="title">a</span>&gt;</span>;</span>
  }
}, {
  title: <span class="string">'年龄'</span>,
  dataIndex: <span class="string">'age'</span>
}, {
  title: <span class="string">'住址'</span>,
  dataIndex: <span class="string">'address'</span>
}];
<span class="keyword">var</span> data = [{
  key: <span class="string">'1'</span>,
  name: <span class="string">'胡彦斌'</span>,
  age: <span class="number">32</span>,
  address: <span class="string">'西湖区湖底公园1号'</span>
}, {
  key: <span class="string">'2'</span>,
  name: <span class="string">'胡彦祖'</span>,
  age: <span class="number">42</span>,
  address: <span class="string">'西湖区湖底公园1号'</span>
}, {
  key: <span class="string">'3'</span>,
  name: <span class="string">'李大嘴'</span>,
  age: <span class="number">32</span>,
  address: <span class="string">'西湖区湖底公园1号'</span>
}];

<span class="comment">// 通过 rowSelection 对象表明需要行选择</span>
<span class="keyword">var</span> rowSelection = {
  onSelect: <span class="function"><span class="keyword">function</span><span class="params">(record, selected, selectedRows)</span> {</span>
    console.log(record, selected, selectedRows);
  },
  onSelectAll: <span class="function"><span class="keyword">function</span><span class="params">(selected, selectedRows)</span> {</span>
    console.log(selected, selectedRows);
  }
};

React.render(<span class="xml"><span class="tag">&lt;<span class="title">Table</span> <span class="attribute">rowSelection</span>=<span class="value">{rowSelection}</span> <span class="attribute">columns</span>=<span class="value">{columns}</span> <span class="attribute">dataSource</span>=<span class="value">{data}</span> /&gt;</span>
, document.getElementById('components-table-demo-row-selection'));</span></code></pre></div>
  </div>
  <div class="code-box-meta markdown">
    <div class="code-box-title">
      <a href="#demo-row-selection">选择</a>
    </div>
    <p>第一列是联动的选择框。</p>
    <span class="collapse anticon anticon-circle-o-right" unselectable="none" style="-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;"></span>
  </div>
</div>