<div class="code-box" id="demo-tags">
  <div class="code-box-demo">
    <div id="components-select-demo-tags"></div>
    <script>(function(){'use strict';

var _antd = require('antd');

var Option = _antd.Select.Option;

var children = [];
for (var i = 10; i < 36; i++) {
  children.push(React.createElement(
    Option,
    { key: i.toString(36) + i },
    i.toString(36) + i
  ));
}

function handleChange(value) {
  console.log('selected ' + value);
}

ReactDOM.render(React.createElement(
  _antd.Select,
  {
    style: { width: '100%' },
    searchPlaceholder: '标签模式',
    tags: true, onChange: handleChange },
  children
), document.getElementById('components-select-demo-tags'));})()</script><div class="highlight"><pre><code class="javascript"><span class="hljs-keyword">import</span> { Select } <span class="hljs-keyword">from</span> <span class="hljs-string">'antd'</span>;
<span class="hljs-keyword">const</span> Option = Select.Option;

<span class="hljs-keyword">let</span> children = [];
<span class="hljs-keyword">for</span> (<span class="hljs-keyword">let</span> i = <span class="hljs-number">10</span>; i &lt; <span class="hljs-number">36</span>; i++) {
  children.push(<span class="xml"><span class="hljs-tag">&lt;<span class="hljs-title">Option</span> <span class="hljs-attribute">key</span>=<span class="hljs-value">{i.toString(36)</span> + <span class="hljs-attribute">i</span>}&gt;</span>{i.toString(36) + i}<span class="hljs-tag">&lt;/<span class="hljs-title">Option</span>&gt;</span>)</span>;
}

<span class="hljs-function"><span class="hljs-keyword">function</span> <span class="hljs-title">handleChange</span>(<span class="hljs-params">value</span>) </span>{
  <span class="hljs-built_in">console</span>.log(<span class="hljs-string">'selected '</span> + value);
}

ReactDOM.render(
  <span class="xml"><span class="hljs-tag">&lt;<span class="hljs-title">Select</span>
   <span class="hljs-attribute">style</span>=<span class="hljs-value">{{width:</span> '<span class="hljs-attribute">100</span>%'}}
   <span class="hljs-attribute">searchPlaceholder</span>=<span class="hljs-value">"标签模式"</span>
  <span class="hljs-attribute">tags</span> <span class="hljs-attribute">onChange</span>=<span class="hljs-value">{handleChange}</span>&gt;</span>
    {children}
  <span class="hljs-tag">&lt;/<span class="hljs-title">Select</span>&gt;</span>
, document.getElementById('components-select-demo-tags'));</span></code></pre></div>
  </div>
  <div class="code-box-meta markdown">
    <div class="code-box-title">
      <a href="#demo-tags">标签</a>
    </div>
    <p>tags select，随意输入的内容（scroll the menu）</p>
    <span class="collapse anticon anticon-circle-o-right" unselectable="none" style="-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;"></span>
  </div>
</div>