<div class="code-box" id="demo-flex-order">
  <div class="code-box-demo">
    <div id="components-layout-demo-flex-order"></div>
    <div class="nico-insert-code"><div class="row-flex">
  <div class="col-6 col-order-4">1 col-order-4</div>
  <div class="col-6 col-order-3">2 col-order-3</div>
  <div class="col-6 col-order-2">3 col-order-2</div>
  <div class="col-6 col-order-1">4 col-order-1</div>
</div></div><div class="highlight"><pre><code class="xml"><span class="tag">&lt;<span class="title">div</span> <span class="attribute">class</span>=<span class="value">"row-flex"</span>&gt;</span>
  <span class="tag">&lt;<span class="title">div</span> <span class="attribute">class</span>=<span class="value">"col-6 col-order-4"</span>&gt;</span>1 col-order-4<span class="tag">&lt;/<span class="title">div</span>&gt;</span>
  <span class="tag">&lt;<span class="title">div</span> <span class="attribute">class</span>=<span class="value">"col-6 col-order-3"</span>&gt;</span>2 col-order-3<span class="tag">&lt;/<span class="title">div</span>&gt;</span>
  <span class="tag">&lt;<span class="title">div</span> <span class="attribute">class</span>=<span class="value">"col-6 col-order-2"</span>&gt;</span>3 col-order-2<span class="tag">&lt;/<span class="title">div</span>&gt;</span>
  <span class="tag">&lt;<span class="title">div</span> <span class="attribute">class</span>=<span class="value">"col-6 col-order-1"</span>&gt;</span>4 col-order-1<span class="tag">&lt;/<span class="title">div</span>&gt;</span>
<span class="tag">&lt;/<span class="title">div</span>&gt;</span></code></pre></div>
  </div>
  <div class="code-box-meta markdown">
    <div class="code-box-title">
      <a href="#demo-flex-order">Flex排序</a>
    </div>
    <p>通过 Flex 布局的 Order 来改变元素的排序。</p>
    <span class="collapse anticon anticon-circle-o-right" unselectable="none" style="-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;"></span>
  </div>
</div>