<div class="code-box" id="demo-flex-align">
  <div class="code-box-demo">
    <div id="components-layout-demo-flex-align"></div>
    <div class="nico-insert-code"><p>顶部对齐</p>
<div class="row-flex row-flex-center row-flex-top">
  <div class="col-4 hight-100">2</div>
  <div class="col-4 hight-50">2</div>
  <div class="col-4 hight-120">2</div>
  <div class="col-4 hight-80">2</div>
</div>

<p>居中对齐</p>
<div class="row-flex row-flex-space-around row-flex-middle">
  <div class="col-4 hight-100">2</div>
  <div class="col-4 hight-50">2</div>
  <div class="col-4 hight-120">2</div>
  <div class="col-4 hight-80">2</div>
</div>

<p>底部对齐</p>
<div class="row-flex row-flex-space-between row-flex-bottom">
  <div class="col-4 hight-100">2</div>
  <div class="col-4 hight-50">2</div>
  <div class="col-4 hight-120">2</div>
  <div class="col-4 hight-80">2</div>
</div></div><div class="highlight"><pre><code class="xml"><span class="tag">&lt;<span class="title">p</span>&gt;</span>顶部对齐<span class="tag">&lt;/<span class="title">p</span>&gt;</span>
<span class="tag">&lt;<span class="title">div</span> <span class="attribute">class</span>=<span class="value">"row-flex row-flex-center row-flex-top"</span>&gt;</span>
  <span class="tag">&lt;<span class="title">div</span> <span class="attribute">class</span>=<span class="value">"col-4 hight-100"</span>&gt;</span>2<span class="tag">&lt;/<span class="title">div</span>&gt;</span>
  <span class="tag">&lt;<span class="title">div</span> <span class="attribute">class</span>=<span class="value">"col-4 hight-50"</span>&gt;</span>2<span class="tag">&lt;/<span class="title">div</span>&gt;</span>
  <span class="tag">&lt;<span class="title">div</span> <span class="attribute">class</span>=<span class="value">"col-4 hight-120"</span>&gt;</span>2<span class="tag">&lt;/<span class="title">div</span>&gt;</span>
  <span class="tag">&lt;<span class="title">div</span> <span class="attribute">class</span>=<span class="value">"col-4 hight-80"</span>&gt;</span>2<span class="tag">&lt;/<span class="title">div</span>&gt;</span>
<span class="tag">&lt;/<span class="title">div</span>&gt;</span>

<span class="tag">&lt;<span class="title">p</span>&gt;</span>居中对齐<span class="tag">&lt;/<span class="title">p</span>&gt;</span>
<span class="tag">&lt;<span class="title">div</span> <span class="attribute">class</span>=<span class="value">"row-flex row-flex-space-around row-flex-middle"</span>&gt;</span>
  <span class="tag">&lt;<span class="title">div</span> <span class="attribute">class</span>=<span class="value">"col-4 hight-100"</span>&gt;</span>2<span class="tag">&lt;/<span class="title">div</span>&gt;</span>
  <span class="tag">&lt;<span class="title">div</span> <span class="attribute">class</span>=<span class="value">"col-4 hight-50"</span>&gt;</span>2<span class="tag">&lt;/<span class="title">div</span>&gt;</span>
  <span class="tag">&lt;<span class="title">div</span> <span class="attribute">class</span>=<span class="value">"col-4 hight-120"</span>&gt;</span>2<span class="tag">&lt;/<span class="title">div</span>&gt;</span>
  <span class="tag">&lt;<span class="title">div</span> <span class="attribute">class</span>=<span class="value">"col-4 hight-80"</span>&gt;</span>2<span class="tag">&lt;/<span class="title">div</span>&gt;</span>
<span class="tag">&lt;/<span class="title">div</span>&gt;</span>

<span class="tag">&lt;<span class="title">p</span>&gt;</span>底部对齐<span class="tag">&lt;/<span class="title">p</span>&gt;</span>
<span class="tag">&lt;<span class="title">div</span> <span class="attribute">class</span>=<span class="value">"row-flex row-flex-space-between row-flex-bottom"</span>&gt;</span>
  <span class="tag">&lt;<span class="title">div</span> <span class="attribute">class</span>=<span class="value">"col-4 hight-100"</span>&gt;</span>2<span class="tag">&lt;/<span class="title">div</span>&gt;</span>
  <span class="tag">&lt;<span class="title">div</span> <span class="attribute">class</span>=<span class="value">"col-4 hight-50"</span>&gt;</span>2<span class="tag">&lt;/<span class="title">div</span>&gt;</span>
  <span class="tag">&lt;<span class="title">div</span> <span class="attribute">class</span>=<span class="value">"col-4 hight-120"</span>&gt;</span>2<span class="tag">&lt;/<span class="title">div</span>&gt;</span>
  <span class="tag">&lt;<span class="title">div</span> <span class="attribute">class</span>=<span class="value">"col-4 hight-80"</span>&gt;</span>2<span class="tag">&lt;/<span class="title">div</span>&gt;</span>
<span class="tag">&lt;/<span class="title">div</span>&gt;</span></code></pre></div>
  </div>
  <div class="code-box-meta markdown">
    <div class="code-box-title">
      <a href="#demo-flex-align">Flex对齐</a>
    </div>
    <p>Flex 子元素垂直对齐。</p>
    <span class="collapse anticon anticon-circle-o-right" unselectable="none" style="-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;"></span>
  </div>
</div>