<div class="code-box" id="demo-offset">
  <div class="code-box-demo">
    <div id="components-layout-demo-offset"></div>
    <div class="nico-insert-code"><div class="row">
  <div class="col-8">.col-8</div>
  <div class="col-8 col-offset-8">.col-8 .col-offset-8</div>
</div>
<div class="row">
  <div class="col-6 col-offset-6">.col-6 .col-offset-6</div>
  <div class="col-6 col-offset-6">.col-6 .col-offset-6</div>
</div>
<div class="row">
  <div class="col-12 col-offset-6">.col-12 .col-offset-6</div>
</div></div><div class="highlight"><pre><code class="xml"><span class="tag">&lt;<span class="title">div</span> <span class="attribute">class</span>=<span class="value">"row"</span>&gt;</span>
  <span class="tag">&lt;<span class="title">div</span> <span class="attribute">class</span>=<span class="value">"col-8"</span>&gt;</span>.col-8<span class="tag">&lt;/<span class="title">div</span>&gt;</span>
  <span class="tag">&lt;<span class="title">div</span> <span class="attribute">class</span>=<span class="value">"col-8 col-offset-8"</span>&gt;</span>.col-8 .col-offset-8<span class="tag">&lt;/<span class="title">div</span>&gt;</span>
<span class="tag">&lt;/<span class="title">div</span>&gt;</span>
<span class="tag">&lt;<span class="title">div</span> <span class="attribute">class</span>=<span class="value">"row"</span>&gt;</span>
  <span class="tag">&lt;<span class="title">div</span> <span class="attribute">class</span>=<span class="value">"col-6 col-offset-6"</span>&gt;</span>.col-6 .col-offset-6<span class="tag">&lt;/<span class="title">div</span>&gt;</span>
  <span class="tag">&lt;<span class="title">div</span> <span class="attribute">class</span>=<span class="value">"col-6 col-offset-6"</span>&gt;</span>.col-6 .col-offset-6<span class="tag">&lt;/<span class="title">div</span>&gt;</span>
<span class="tag">&lt;/<span class="title">div</span>&gt;</span>
<span class="tag">&lt;<span class="title">div</span> <span class="attribute">class</span>=<span class="value">"row"</span>&gt;</span>
  <span class="tag">&lt;<span class="title">div</span> <span class="attribute">class</span>=<span class="value">"col-12 col-offset-6"</span>&gt;</span>.col-12 .col-offset-6<span class="tag">&lt;/<span class="title">div</span>&gt;</span>
<span class="tag">&lt;/<span class="title">div</span>&gt;</span></code></pre></div>
  </div>
  <div class="code-box-meta markdown">
    <div class="code-box-title">
      <a href="#demo-offset">左右偏移</a>
    </div>
    <p>列偏移。</p>
<p>使用 <code>.col-offset-*</code> 类可以将列向右侧偏。例如，<code>.col-offset-4</code> 类将 <code>.col-md-4</code> 元素向右侧偏移了4个列（column）的宽度。</p>
    <span class="collapse anticon anticon-circle-o-right" unselectable="none" style="-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;"></span>
  </div>
</div>