<div class="code-box" id="demo-basic">
  <div class="code-box-demo">
    <div id="components-tree-demo-basic"></div>
    <script>mountNode = document.getElementById('components-tree-demo-basic');</script>
    <script>(function(){'use strict';

var _antd = require('antd');

var TreeNode = _antd.Tree.TreeNode;

var Demo = React.createClass({
  displayName: 'Demo',
  getDefaultProps: function getDefaultProps() {
    return {
      keys: ['0-0-0', '0-0-1']
    };
  },
  getInitialState: function getInitialState() {
    var keys = this.props.keys;
    return {
      defaultExpandedKeys: keys,
      defaultSelectedKeys: keys,
      defaultCheckedKeys: keys
    };
  },
  onExpand: function onExpand(treeNode, expand, expandedKeys) {
    console.log('onExpand', expand, expandedKeys);
  },
  onSelect: function onSelect(info) {
    console.log('selected', info);
  },
  onCheck: function onCheck(info) {
    console.log('onCheck', info);
  },
  render: function render() {
    return React.createElement(
      _antd.Tree,
      { className: 'myCls', showLine: true, multiple: true, checkable: true,
        defaultExpandedKeys: this.state.defaultExpandedKeys,
        onExpand: this.onExpand,
        defaultSelectedKeys: this.state.defaultSelectedKeys,
        defaultCheckedKeys: this.state.defaultCheckedKeys,
        onSelect: this.onSelect, onCheck: this.onCheck },
      React.createElement(
        TreeNode,
        { title: 'parent 1', key: '0-0' },
        React.createElement(
          TreeNode,
          { title: 'parent 1-0', key: '0-0-0', disabled: true },
          React.createElement(TreeNode, { title: 'leaf', key: '0-0-0-0', disableCheckbox: true }),
          React.createElement(TreeNode, { title: 'leaf', key: '0-0-0-1' })
        ),
        React.createElement(
          TreeNode,
          { title: 'parent 1-1', key: '0-0-1' },
          React.createElement(TreeNode, { title: React.createElement(
              'span',
              { style: { color: '#08c' } },
              'sss'
            ), key: '0-0-1-0' })
        )
      )
    );
  }
});

ReactDOM.render(React.createElement(Demo, null), mountNode);})()</script><div class="highlight"><pre><code class="javascript"><span class="hljs-keyword">import</span> { Tree } <span class="hljs-keyword">from</span> <span class="hljs-string">'antd'</span>;
<span class="hljs-keyword">const</span> TreeNode = Tree.TreeNode;

<span class="hljs-keyword">const</span> Demo = React.createClass({
  getDefaultProps() {
    <span class="hljs-keyword">return</span> {
      keys: [<span class="hljs-string">'0-0-0'</span>, <span class="hljs-string">'0-0-1'</span>],
    };
  },
  getInitialState() {
    <span class="hljs-keyword">const</span> keys = <span class="hljs-keyword">this</span>.props.keys;
    <span class="hljs-keyword">return</span> {
      defaultExpandedKeys: keys,
      defaultSelectedKeys: keys,
      defaultCheckedKeys: keys,
    };
  },
  onExpand(treeNode, expand, expandedKeys) {
    <span class="hljs-built_in">console</span>.log(<span class="hljs-string">'onExpand'</span>, expand, expandedKeys);
  },
  onSelect(info) {
    <span class="hljs-built_in">console</span>.log(<span class="hljs-string">'selected'</span>, info);
  },
  onCheck(info) {
    <span class="hljs-built_in">console</span>.log(<span class="hljs-string">'onCheck'</span>, info);
  },
  render() {
    <span class="hljs-keyword">return</span> (
      <span class="xml"><span class="hljs-tag">&lt;<span class="hljs-title">Tree</span> <span class="hljs-attribute">className</span>=<span class="hljs-value">"myCls"</span> <span class="hljs-attribute">showLine</span> <span class="hljs-attribute">multiple</span> <span class="hljs-attribute">checkable</span>
        <span class="hljs-attribute">defaultExpandedKeys</span>=<span class="hljs-value">{this.state.defaultExpandedKeys}</span>
        <span class="hljs-attribute">onExpand</span>=<span class="hljs-value">{this.onExpand}</span>
        <span class="hljs-attribute">defaultSelectedKeys</span>=<span class="hljs-value">{this.state.defaultSelectedKeys}</span>
        <span class="hljs-attribute">defaultCheckedKeys</span>=<span class="hljs-value">{this.state.defaultCheckedKeys}</span>
        <span class="hljs-attribute">onSelect</span>=<span class="hljs-value">{this.onSelect}</span> <span class="hljs-attribute">onCheck</span>=<span class="hljs-value">{this.onCheck}</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">TreeNode</span> <span class="hljs-attribute">title</span>=<span class="hljs-value">"parent 1"</span> <span class="hljs-attribute">key</span>=<span class="hljs-value">"0-0"</span>&gt;</span>
          <span class="hljs-tag">&lt;<span class="hljs-title">TreeNode</span> <span class="hljs-attribute">title</span>=<span class="hljs-value">"parent 1-0"</span> <span class="hljs-attribute">key</span>=<span class="hljs-value">"0-0-0"</span> <span class="hljs-attribute">disabled</span>&gt;</span>
            <span class="hljs-tag">&lt;<span class="hljs-title">TreeNode</span> <span class="hljs-attribute">title</span>=<span class="hljs-value">"leaf"</span> <span class="hljs-attribute">key</span>=<span class="hljs-value">"0-0-0-0"</span> <span class="hljs-attribute">disableCheckbox</span> /&gt;</span>
            <span class="hljs-tag">&lt;<span class="hljs-title">TreeNode</span> <span class="hljs-attribute">title</span>=<span class="hljs-value">"leaf"</span> <span class="hljs-attribute">key</span>=<span class="hljs-value">"0-0-0-1"</span> /&gt;</span>
          <span class="hljs-tag">&lt;/<span class="hljs-title">TreeNode</span>&gt;</span>
          <span class="hljs-tag">&lt;<span class="hljs-title">TreeNode</span> <span class="hljs-attribute">title</span>=<span class="hljs-value">"parent 1-1"</span> <span class="hljs-attribute">key</span>=<span class="hljs-value">"0-0-1"</span>&gt;</span>
            <span class="hljs-tag">&lt;<span class="hljs-title">TreeNode</span> <span class="hljs-attribute">title</span>=<span class="hljs-value">{&lt;span</span> <span class="hljs-attribute">style</span>=<span class="hljs-value">{{</span> <span class="hljs-attribute">color:</span> '#<span class="hljs-attribute">08c</span>' }}&gt;</span>sss<span class="hljs-tag">&lt;/<span class="hljs-title">span</span>&gt;</span>} key="0-0-1-0" /&gt;
          <span class="hljs-tag">&lt;/<span class="hljs-title">TreeNode</span>&gt;</span>
        <span class="hljs-tag">&lt;/<span class="hljs-title">TreeNode</span>&gt;</span>
      <span class="hljs-tag">&lt;/<span class="hljs-title">Tree</span>&gt;</span>
    )</span>;
  },
});

ReactDOM.render(<span class="xml"><span class="hljs-tag">&lt;<span class="hljs-title">Demo</span> /&gt;</span>, mountNode);</span></code></pre></div>
  </div>
  <div class="code-box-meta markdown">
    <div class="code-box-title">
      <a href="#demo-basic">基本</a>
    </div>
    
<p>最简单的用法，展示可勾选，可选中，禁用，默认展开等功能。</p>

    <span class="collapse anticon anticon-circle-o-right" unselectable="none"></span>
  </div>
</div>