<div class="code-box" id="demo-basic-controlled">
  <div class="code-box-demo">
    <div id="components-tree-demo-basic-controlled"></div>
    <script>mountNode = document.getElementById('components-tree-demo-basic-controlled');</script>
    <script>(function(){'use strict';

var _antd = require('antd');

var TreeNode = _antd.Tree.TreeNode;

var x = 3;
var y = 2;
var z = 1;
var gData = [];

var generateData = function generateData(_level, _preKey, _tns) {
  var preKey = _preKey || '0';
  var tns = _tns || gData;

  var children = [];
  for (var i = 0; i < x; i++) {
    var key = preKey + '-' + i;
    tns.push({ title: key, key: key });
    if (i < y) {
      children.push(key);
    }
  }
  if (_level < 0) {
    return tns;
  }
  var __level = _level - 1;
  children.forEach(function (key, index) {
    tns[index].children = [];
    return generateData(__level, key, tns[index].children);
  });
};
generateData(z);

function loopData(data, callback) {
  var loop = function loop(d) {
    var level = arguments.length > 1 && arguments[1] !== undefined ? arguments[1] : 0;

    d.forEach(function (item, index) {
      var pos = level + '-' + index;
      if (item.children) {
        loop(item.children, pos);
      }
      callback(item, index, pos);
    });
  };
  loop(data);
}

function getFilterExpandedKeys(data, expandedKeys) {
  var expandedPosArr = [];
  loopData(data, function (item, index, pos) {
    if (expandedKeys.indexOf(item.key) > -1) {
      expandedPosArr.push(pos);
    }
  });
  var filterExpandedKeys = [];
  loopData(data, function (item, index, pos) {
    expandedPosArr.forEach(function (p) {
      if ((pos.split('-').length < p.split('-').length && p.indexOf(pos) === 0 || pos === p) && filterExpandedKeys.indexOf(item.key) === -1) {
        filterExpandedKeys.push(item.key);
      }
    });
  });
  return filterExpandedKeys;
}

var Demo = React.createClass({
  displayName: 'Demo',
  getDefaultProps: function getDefaultProps() {
    return {
      multiple: true
    };
  },
  getInitialState: function getInitialState() {
    return {
      expandedKeys: getFilterExpandedKeys(gData, ['0-0-0', '0-0-1']),
      checkedKeys: ['0-0-0'],
      selectedKeys: []
    };
  },
  onExpand: function onExpand(treeNode, expand, expandedKeys) {
    console.log('onExpand', expand, expandedKeys);
    var index = expandedKeys.indexOf(treeNode.props.eventKey);
    if (expand) {
      if (index > -1) {
        expandedKeys.splice(index, 1);
      }
    } else {
      if (index === -1) {
        expandedKeys.push(treeNode.props.eventKey);
      }
    }
    this.setState({ expandedKeys: expandedKeys });
  },
  onCheck: function onCheck(checkedKeys) {
    this.setState({
      checkedKeys: checkedKeys,
      selectedKeys: ['0-3', '0-4']
    });
  },
  onSelect: function onSelect(selectedKeys, info) {
    console.log('onSelect', info);
    this.setState({ selectedKeys: selectedKeys });
  },
  render: function render() {
    var loop = function loop(data) {
      return data.map(function (item) {
        if (item.children) {
          return React.createElement(
            TreeNode,
            { key: item.key, title: item.key, disableCheckbox: item.key === '0-0-0' },
            loop(item.children)
          );
        }
        return React.createElement(TreeNode, { key: item.key, title: item.key });
      });
    };
    return React.createElement(
      _antd.Tree,
      { checkable: true, multiple: this.props.multiple, defaultExpandAll: true,
        onExpand: this.onExpand, expandedKeys: this.state.expandedKeys,
        onCheck: this.onCheck, checkedKeys: this.state.checkedKeys,
        onSelect: this.onSelect, selectedKeys: this.state.selectedKeys },
      loop(gData)
    );
  }
});

ReactDOM.render(React.createElement(Demo, null), mountNode);})()</script><div class="highlight"><pre><code class="javascript"><span class="hljs-keyword">import</span> { Tree } <span class="hljs-keyword">from</span> <span class="hljs-string">'antd'</span>;
<span class="hljs-keyword">const</span> TreeNode = Tree.TreeNode;

<span class="hljs-keyword">const</span> x = <span class="hljs-number">3</span>;
<span class="hljs-keyword">const</span> y = <span class="hljs-number">2</span>;
<span class="hljs-keyword">const</span> z = <span class="hljs-number">1</span>;
<span class="hljs-keyword">const</span> gData = [];

<span class="hljs-keyword">const</span> generateData = (_level, _preKey, _tns) =&gt; {
  <span class="hljs-keyword">const</span> preKey = _preKey || <span class="hljs-string">'0'</span>;
  <span class="hljs-keyword">const</span> tns = _tns || gData;

  <span class="hljs-keyword">const</span> children = [];
  <span class="hljs-keyword">for</span> (<span class="hljs-keyword">let</span> i = <span class="hljs-number">0</span>; i &lt; x; i++) {
    <span class="hljs-keyword">const</span> key = <span class="hljs-string">`<span class="hljs-subst">${preKey}</span>-<span class="hljs-subst">${i}</span>`</span>;
    tns.push({ title: key, key });
    <span class="hljs-keyword">if</span> (i &lt; y) {
      children.push(key);
    }
  }
  <span class="hljs-keyword">if</span> (_level &lt; <span class="hljs-number">0</span>) {
    <span class="hljs-keyword">return</span> tns;
  }
  <span class="hljs-keyword">const</span> __level = _level - <span class="hljs-number">1</span>;
  children.forEach((key, index) =&gt; {
    tns[index].children = [];
    <span class="hljs-keyword">return</span> generateData(__level, key, tns[index].children);
  });
};
generateData(z);

<span class="hljs-function"><span class="hljs-keyword">function</span> <span class="hljs-title">loopData</span>(<span class="hljs-params">data, callback</span>) </span>{
  <span class="hljs-keyword">const</span> loop = (d, level = <span class="hljs-number">0</span>) =&gt; {
    d.forEach((item, index) =&gt; {
      <span class="hljs-keyword">const</span> pos = <span class="hljs-string">`<span class="hljs-subst">${level}</span>-<span class="hljs-subst">${index}</span>`</span>;
      <span class="hljs-keyword">if</span> (item.children) {
        loop(item.children, pos);
      }
      callback(item, index, pos);
    });
  };
  loop(data);
}

<span class="hljs-function"><span class="hljs-keyword">function</span> <span class="hljs-title">getFilterExpandedKeys</span>(<span class="hljs-params">data, expandedKeys</span>) </span>{
  <span class="hljs-keyword">const</span> expandedPosArr = [];
  loopData(data, (item, index, pos) =&gt; {
    <span class="hljs-keyword">if</span> (expandedKeys.indexOf(item.key) &gt; -<span class="hljs-number">1</span>) {
      expandedPosArr.push(pos);
    }
  });
  <span class="hljs-keyword">const</span> filterExpandedKeys = [];
  loopData(data, (item, index, pos) =&gt; {
    expandedPosArr.forEach(p =&gt; {
      <span class="hljs-keyword">if</span> ((pos.split(<span class="hljs-string">'-'</span>).length &lt; p.split(<span class="hljs-string">'-'</span>).length
        &amp;&amp; p.indexOf(pos) === <span class="hljs-number">0</span> || pos === p)
        &amp;&amp; filterExpandedKeys.indexOf(item.key) === -<span class="hljs-number">1</span>) {
        filterExpandedKeys.push(item.key);
      }
    });
  });
  <span class="hljs-keyword">return</span> filterExpandedKeys;
}

<span class="hljs-keyword">const</span> Demo = React.createClass({
  getDefaultProps() {
    <span class="hljs-keyword">return</span> {
      multiple: <span class="hljs-literal">true</span>,
    };
  },
  getInitialState() {
    <span class="hljs-keyword">return</span> {
      expandedKeys: getFilterExpandedKeys(gData, [<span class="hljs-string">'0-0-0'</span>, <span class="hljs-string">'0-0-1'</span>]),
      checkedKeys: [<span class="hljs-string">'0-0-0'</span>],
      selectedKeys: [],
    };
  },
  onExpand(treeNode, expand, expandedKeys) {
    <span class="hljs-built_in">console</span>.log(<span class="hljs-string">'onExpand'</span>, expand, expandedKeys);
    <span class="hljs-keyword">const</span> index = expandedKeys.indexOf(treeNode.props.eventKey);
    <span class="hljs-keyword">if</span> (expand) {
      <span class="hljs-keyword">if</span> (index &gt; -<span class="hljs-number">1</span>) {
        expandedKeys.splice(index, <span class="hljs-number">1</span>);
      }
    } <span class="hljs-keyword">else</span> {
      <span class="hljs-keyword">if</span> (index === -<span class="hljs-number">1</span>) {
        expandedKeys.push(treeNode.props.eventKey);
      }
    }
    <span class="hljs-keyword">this</span>.setState({ expandedKeys });
  },
  onCheck(checkedKeys) {
    <span class="hljs-keyword">this</span>.setState({
      checkedKeys,
      selectedKeys: [<span class="hljs-string">'0-3'</span>, <span class="hljs-string">'0-4'</span>],
    });
  },
  onSelect(selectedKeys, info) {
    <span class="hljs-built_in">console</span>.log(<span class="hljs-string">'onSelect'</span>, info);
    <span class="hljs-keyword">this</span>.setState({ selectedKeys });
  },
  render() {
    <span class="hljs-keyword">const</span> loop = data =&gt; data.map((item) =&gt; {
      <span class="hljs-keyword">if</span> (item.children) {
        <span class="hljs-keyword">return</span> (
          <span class="xml"><span class="hljs-tag">&lt;<span class="hljs-title">TreeNode</span> <span class="hljs-attribute">key</span>=<span class="hljs-value">{item.key}</span> <span class="hljs-attribute">title</span>=<span class="hljs-value">{item.key}</span> <span class="hljs-attribute">disableCheckbox</span>=<span class="hljs-value">{item.key</span> =<span class="hljs-value">==</span> '<span class="hljs-attribute">0-0-0</span>'}&gt;</span>
            {loop(item.children)}
          <span class="hljs-tag">&lt;/<span class="hljs-title">TreeNode</span>&gt;</span>
        )</span>;
      }
      <span class="hljs-keyword">return</span> <span class="xml"><span class="hljs-tag">&lt;<span class="hljs-title">TreeNode</span> <span class="hljs-attribute">key</span>=<span class="hljs-value">{item.key}</span> <span class="hljs-attribute">title</span>=<span class="hljs-value">{item.key}</span> /&gt;</span>;</span>
    });
    <span class="hljs-keyword">return</span> (
      <span class="xml"><span class="hljs-tag">&lt;<span class="hljs-title">Tree</span> <span class="hljs-attribute">checkable</span> <span class="hljs-attribute">multiple</span>=<span class="hljs-value">{this.props.multiple}</span> <span class="hljs-attribute">defaultExpandAll</span>
        <span class="hljs-attribute">onExpand</span>=<span class="hljs-value">{this.onExpand}</span> <span class="hljs-attribute">expandedKeys</span>=<span class="hljs-value">{this.state.expandedKeys}</span>
        <span class="hljs-attribute">onCheck</span>=<span class="hljs-value">{this.onCheck}</span> <span class="hljs-attribute">checkedKeys</span>=<span class="hljs-value">{this.state.checkedKeys}</span>
        <span class="hljs-attribute">onSelect</span>=<span class="hljs-value">{this.onSelect}</span> <span class="hljs-attribute">selectedKeys</span>=<span class="hljs-value">{this.state.selectedKeys}</span>&gt;</span>
        {loop(gData)}
      <span class="hljs-tag">&lt;/<span class="hljs-title">Tree</span>&gt;</span>
    )</span>;
  },
});

ReactDOM.render(<span class="xml"><span class="hljs-tag">&lt;<span class="hljs-title">Demo</span> /&gt;</span>, mountNode);</span></code></pre></div>
  </div>
  <div class="code-box-meta markdown">
    <div class="code-box-title">
      <a href="#demo-basic-controlled">受控操作示例</a>
    </div>
    
<p>受控操作示例</p>

    <span class="collapse anticon anticon-circle-o-right" unselectable="none"></span>
  </div>
</div>