<div class="code-box" id="demo-draggable">
  <div class="code-box-demo">
    <div id="components-tree-demo-draggable"></div>
    <script>mountNode = document.getElementById('components-tree-demo-draggable');</script>
    <script>(function(){'use strict';

var _antd = require('antd');

function _toConsumableArray(arr) { if (Array.isArray(arr)) { for (var i = 0, arr2 = Array(arr.length); i < arr.length; i++) { arr2[i] = arr[i]; } return arr2; } else { return Array.from(arr); } }

var TreeNode = _antd.Tree.TreeNode;

var x = 3;
var y = 2;
var z = 1;
var gData = [];

var generateData = function generateData(_level, _preKey, _tns) {
  var preKey = _preKey || '0';
  var tns = _tns || gData;

  var children = [];
  for (var i = 0; i < x; i++) {
    var key = preKey + '-' + i;
    tns.push({ title: key, key: key });
    if (i < y) {
      children.push(key);
    }
  }
  if (_level < 0) {
    return tns;
  }
  var __level = _level - 1;
  children.forEach(function (key, index) {
    tns[index].children = [];
    return generateData(__level, key, tns[index].children);
  });
};
generateData(z);

var Demo = React.createClass({
  displayName: 'Demo',
  getInitialState: function getInitialState() {
    return {
      gData: gData,
      expandedKeys: ['0-0', '0-0-0', '0-0-0-0']
    };
  },
  onDragEnter: function onDragEnter(info) {
    console.log(info);
    // expandedKeys 需要受控时设置
    // this.setState({
    //   expandedKeys: info.expandedKeys,
    // });
  },
  onDrop: function onDrop(info) {
    console.log(info);
    var dropKey = info.node.props.eventKey;
    var dragKey = info.dragNode.props.eventKey;
    // const dragNodesKeys = info.dragNodesKeys;
    var loop = function loop(data, key, callback) {
      data.forEach(function (item, index, arr) {
        if (item.key === key) {
          return callback(item, index, arr);
        }
        if (item.children) {
          return loop(item.children, key, callback);
        }
      });
    };
    var data = [].concat(_toConsumableArray(this.state.gData));
    var dragObj = void 0;
    loop(data, dragKey, function (item, index, arr) {
      arr.splice(index, 1);
      dragObj = item;
    });
    if (info.dropToGap) {
      var ar = void 0;
      var i = void 0;
      loop(data, dropKey, function (item, index, arr) {
        ar = arr;
        i = index;
      });
      ar.splice(i, 0, dragObj);
    } else {
      loop(data, dropKey, function (item) {
        item.children = item.children || [];
        // where to insert 示例添加到尾部，可以是随意位置
        item.children.push(dragObj);
      });
    }
    this.setState({
      gData: data
    });
  },
  render: function render() {
    var loop = function loop(data) {
      return data.map(function (item) {
        if (item.children) {
          return React.createElement(
            TreeNode,
            { key: item.key, title: item.key },
            loop(item.children)
          );
        }
        return React.createElement(TreeNode, { key: item.key, title: item.key });
      });
    };
    return React.createElement(
      _antd.Tree,
      { defaultExpandedKeys: this.state.expandedKeys, openAnimation: {}, draggable: true,
        onDragEnter: this.onDragEnter,
        onDrop: this.onDrop },
      loop(this.state.gData)
    );
  }
});

ReactDOM.render(React.createElement(Demo, null), mountNode);})()</script><div class="highlight"><pre><code class="javascript"><span class="hljs-keyword">import</span> { Tree } <span class="hljs-keyword">from</span> <span class="hljs-string">'antd'</span>;
<span class="hljs-keyword">const</span> TreeNode = Tree.TreeNode;

<span class="hljs-keyword">const</span> x = <span class="hljs-number">3</span>;
<span class="hljs-keyword">const</span> y = <span class="hljs-number">2</span>;
<span class="hljs-keyword">const</span> z = <span class="hljs-number">1</span>;
<span class="hljs-keyword">const</span> gData = [];

<span class="hljs-keyword">const</span> generateData = (_level, _preKey, _tns) =&gt; {
  <span class="hljs-keyword">const</span> preKey = _preKey || <span class="hljs-string">'0'</span>;
  <span class="hljs-keyword">const</span> tns = _tns || gData;

  <span class="hljs-keyword">const</span> children = [];
  <span class="hljs-keyword">for</span> (<span class="hljs-keyword">let</span> i = <span class="hljs-number">0</span>; i &lt; x; i++) {
    <span class="hljs-keyword">const</span> key = <span class="hljs-string">`<span class="hljs-subst">${preKey}</span>-<span class="hljs-subst">${i}</span>`</span>;
    tns.push({ title: key, key });
    <span class="hljs-keyword">if</span> (i &lt; y) {
      children.push(key);
    }
  }
  <span class="hljs-keyword">if</span> (_level &lt; <span class="hljs-number">0</span>) {
    <span class="hljs-keyword">return</span> tns;
  }
  <span class="hljs-keyword">const</span> __level = _level - <span class="hljs-number">1</span>;
  children.forEach((key, index) =&gt; {
    tns[index].children = [];
    <span class="hljs-keyword">return</span> generateData(__level, key, tns[index].children);
  });
};
generateData(z);

<span class="hljs-keyword">const</span> Demo = React.createClass({
  getInitialState() {
    <span class="hljs-keyword">return</span> {
      gData,
      expandedKeys: [<span class="hljs-string">'0-0'</span>, <span class="hljs-string">'0-0-0'</span>, <span class="hljs-string">'0-0-0-0'</span>],
    };
  },
  onDragEnter(info) {
    <span class="hljs-built_in">console</span>.log(info);
    <span class="hljs-comment">// expandedKeys 需要受控时设置</span>
    <span class="hljs-comment">// this.setState({</span>
    <span class="hljs-comment">//   expandedKeys: info.expandedKeys,</span>
    <span class="hljs-comment">// });</span>
  },
  onDrop(info) {
    <span class="hljs-built_in">console</span>.log(info);
    <span class="hljs-keyword">const</span> dropKey = info.node.props.eventKey;
    <span class="hljs-keyword">const</span> dragKey = info.dragNode.props.eventKey;
    <span class="hljs-comment">// const dragNodesKeys = info.dragNodesKeys;</span>
    <span class="hljs-keyword">const</span> loop = (data, key, callback) =&gt; {
      data.forEach((item, index, arr) =&gt; {
        <span class="hljs-keyword">if</span> (item.key === key) {
          <span class="hljs-keyword">return</span> callback(item, index, arr);
        }
        <span class="hljs-keyword">if</span> (item.children) {
          <span class="hljs-keyword">return</span> loop(item.children, key, callback);
        }
      });
    };
    <span class="hljs-keyword">const</span> data = [...this.state.gData];
    <span class="hljs-keyword">let</span> dragObj;
    loop(data, dragKey, (item, index, arr) =&gt; {
      arr.splice(index, <span class="hljs-number">1</span>);
      dragObj = item;
    });
    <span class="hljs-keyword">if</span> (info.dropToGap) {
      <span class="hljs-keyword">let</span> ar;
      <span class="hljs-keyword">let</span> i;
      loop(data, dropKey, (item, index, arr) =&gt; {
        ar = arr;
        i = index;
      });
      ar.splice(i, <span class="hljs-number">0</span>, dragObj);
    } <span class="hljs-keyword">else</span> {
      loop(data, dropKey, (item) =&gt; {
        item.children = item.children || [];
        <span class="hljs-comment">// where to insert 示例添加到尾部，可以是随意位置</span>
        item.children.push(dragObj);
      });
    }
    <span class="hljs-keyword">this</span>.setState({
      gData: data,
    });
  },
  render() {
    <span class="hljs-keyword">const</span> loop = data =&gt; data.map((item) =&gt; {
      <span class="hljs-keyword">if</span> (item.children) {
        <span class="hljs-keyword">return</span> <span class="xml"><span class="hljs-tag">&lt;<span class="hljs-title">TreeNode</span> <span class="hljs-attribute">key</span>=<span class="hljs-value">{item.key}</span> <span class="hljs-attribute">title</span>=<span class="hljs-value">{item.key}</span>&gt;</span>{loop(item.children)}<span class="hljs-tag">&lt;/<span class="hljs-title">TreeNode</span>&gt;</span>;</span>
      }
      <span class="hljs-keyword">return</span> <span class="xml"><span class="hljs-tag">&lt;<span class="hljs-title">TreeNode</span> <span class="hljs-attribute">key</span>=<span class="hljs-value">{item.key}</span> <span class="hljs-attribute">title</span>=<span class="hljs-value">{item.key}</span> /&gt;</span>;</span>
    });
    <span class="hljs-keyword">return</span> (
      <span class="xml"><span class="hljs-tag">&lt;<span class="hljs-title">Tree</span> <span class="hljs-attribute">defaultExpandedKeys</span>=<span class="hljs-value">{this.state.expandedKeys}</span> <span class="hljs-attribute">openAnimation</span>=<span class="hljs-value">{{}}</span> <span class="hljs-attribute">draggable</span>
        <span class="hljs-attribute">onDragEnter</span>=<span class="hljs-value">{this.onDragEnter}</span>
        <span class="hljs-attribute">onDrop</span>=<span class="hljs-value">{this.onDrop}</span>&gt;</span>
        {loop(this.state.gData)}
      <span class="hljs-tag">&lt;/<span class="hljs-title">Tree</span>&gt;</span>
    )</span>;
  },
});

ReactDOM.render(<span class="xml"><span class="hljs-tag">&lt;<span class="hljs-title">Demo</span> /&gt;</span>, mountNode);</span></code></pre></div>
  </div>
  <div class="code-box-meta markdown">
    <div class="code-box-title">
      <a href="#demo-draggable">拖动示例</a>
    </div>
    
<p>将节点拖拽到其他节点内部或前后。</p>

    <span class="collapse anticon anticon-circle-o-right" unselectable="none"></span>
  </div>
</div>