<div class="code-box" id="demo-dynamic">
  <div class="code-box-demo">
    <div id="components-tree-demo-dynamic"></div>
    <script>mountNode = document.getElementById('components-tree-demo-dynamic');</script>
    <script>(function(){'use strict';

var _antd = require('antd');

function _toConsumableArray(arr) { if (Array.isArray(arr)) { for (var i = 0, arr2 = Array(arr.length); i < arr.length; i++) { arr2[i] = arr[i]; } return arr2; } else { return Array.from(arr); } }

var TreeNode = _antd.Tree.TreeNode;

function generateTreeNodes(treeNode) {
  var arr = [];
  var key = treeNode.props.eventKey;
  for (var i = 0; i < 3; i++) {
    arr.push({ name: 'leaf ' + key + '-' + i, key: key + '-' + i });
  }
  return arr;
}

function setLeaf(treeData, curKey, level) {
  var loopLeaf = function loopLeaf(data, lev) {
    var l = lev - 1;
    data.forEach(function (item) {
      if (item.key.length > curKey.length ? item.key.indexOf(curKey) !== 0 : curKey.indexOf(item.key) !== 0) {
        return;
      }
      if (item.children) {
        loopLeaf(item.children, l);
      } else if (l < 1) {
        item.isLeaf = true;
      }
    });
  };
  loopLeaf(treeData, level + 1);
}

function getNewTreeData(treeData, curKey, child, level) {
  var loop = function loop(data) {
    if (level < 1 || curKey.length - 3 > level * 2) return;
    data.forEach(function (item) {
      if (curKey.indexOf(item.key) === 0) {
        if (item.children) {
          loop(item.children);
        } else {
          item.children = child;
        }
      }
    });
  };
  loop(treeData);
  setLeaf(treeData, curKey, level);
}

var Demo = React.createClass({
  displayName: 'Demo',
  getInitialState: function getInitialState() {
    return {
      treeData: []
    };
  },
  componentDidMount: function componentDidMount() {
    var _this = this;

    setTimeout(function () {
      _this.setState({
        treeData: [{ name: 'pNode 01', key: '0-0' }, { name: 'pNode 02', key: '0-1' }, { name: 'pNode 03', key: '0-2', isLeaf: true }]
      });
    }, 100);
  },
  onSelect: function onSelect(info) {
    console.log('selected', info);
  },
  onLoadData: function onLoadData(treeNode) {
    var _this2 = this;

    return new Promise(function (resolve) {
      setTimeout(function () {
        var treeData = [].concat(_toConsumableArray(_this2.state.treeData));
        getNewTreeData(treeData, treeNode.props.eventKey, generateTreeNodes(treeNode), 2);
        _this2.setState({ treeData: treeData });
        resolve();
      }, 500);
    });
  },
  render: function render() {
    var loop = function loop(data) {
      return data.map(function (item) {
        if (item.children) {
          return React.createElement(
            TreeNode,
            { title: item.name, key: item.key },
            loop(item.children)
          );
        }
        return React.createElement(TreeNode, { title: item.name, key: item.key, isLeaf: item.isLeaf, disabled: item.key === '0-0-0' });
      });
    };
    var treeNodes = loop(this.state.treeData);
    return React.createElement(
      _antd.Tree,
      { onSelect: this.onSelect, loadData: this.onLoadData },
      treeNodes
    );
  }
});

ReactDOM.render(React.createElement(Demo, null), mountNode);})()</script><div class="highlight"><pre><code class="javascript"><span class="hljs-keyword">import</span> { Tree } <span class="hljs-keyword">from</span> <span class="hljs-string">'antd'</span>;
<span class="hljs-keyword">const</span> TreeNode = Tree.TreeNode;

<span class="hljs-function"><span class="hljs-keyword">function</span> <span class="hljs-title">generateTreeNodes</span>(<span class="hljs-params">treeNode</span>) </span>{
  <span class="hljs-keyword">const</span> arr = [];
  <span class="hljs-keyword">const</span> key = treeNode.props.eventKey;
  <span class="hljs-keyword">for</span> (<span class="hljs-keyword">let</span> i = <span class="hljs-number">0</span>; i &lt; <span class="hljs-number">3</span>; i++) {
    arr.push({ name: <span class="hljs-string">`leaf <span class="hljs-subst">${key}</span>-<span class="hljs-subst">${i}</span>`</span>, key: <span class="hljs-string">`<span class="hljs-subst">${key}</span>-<span class="hljs-subst">${i}</span>`</span> });
  }
  <span class="hljs-keyword">return</span> arr;
}

<span class="hljs-function"><span class="hljs-keyword">function</span> <span class="hljs-title">setLeaf</span>(<span class="hljs-params">treeData, curKey, level</span>) </span>{
  <span class="hljs-keyword">const</span> loopLeaf = (data, lev) =&gt; {
    <span class="hljs-keyword">const</span> l = lev - <span class="hljs-number">1</span>;
    data.forEach((item) =&gt; {
      <span class="hljs-keyword">if</span> ((item.key.length &gt; curKey.length) ? item.key.indexOf(curKey) !== <span class="hljs-number">0</span> :
        curKey.indexOf(item.key) !== <span class="hljs-number">0</span>) {
        <span class="hljs-keyword">return</span>;
      }
      <span class="hljs-keyword">if</span> (item.children) {
        loopLeaf(item.children, l);
      } <span class="hljs-keyword">else</span> <span class="hljs-keyword">if</span> (l &lt; <span class="hljs-number">1</span>) {
        item.isLeaf = <span class="hljs-literal">true</span>;
      }
    });
  };
  loopLeaf(treeData, level + <span class="hljs-number">1</span>);
}

<span class="hljs-function"><span class="hljs-keyword">function</span> <span class="hljs-title">getNewTreeData</span>(<span class="hljs-params">treeData, curKey, child, level</span>) </span>{
  <span class="hljs-keyword">const</span> loop = (data) =&gt; {
    <span class="hljs-keyword">if</span> (level &lt; <span class="hljs-number">1</span> || curKey.length - <span class="hljs-number">3</span> &gt; level * <span class="hljs-number">2</span>) <span class="hljs-keyword">return</span>;
    data.forEach((item) =&gt; {
      <span class="hljs-keyword">if</span> (curKey.indexOf(item.key) === <span class="hljs-number">0</span>) {
        <span class="hljs-keyword">if</span> (item.children) {
          loop(item.children);
        } <span class="hljs-keyword">else</span> {
          item.children = child;
        }
      }
    });
  };
  loop(treeData);
  setLeaf(treeData, curKey, level);
}

<span class="hljs-keyword">const</span> Demo = React.createClass({
  getInitialState() {
    <span class="hljs-keyword">return</span> {
      treeData: [],
    };
  },
  componentDidMount() {
    setTimeout(() =&gt; {
      <span class="hljs-keyword">this</span>.setState({
        treeData: [
          { name: <span class="hljs-string">'pNode 01'</span>, key: <span class="hljs-string">'0-0'</span> },
          { name: <span class="hljs-string">'pNode 02'</span>, key: <span class="hljs-string">'0-1'</span> },
          { name: <span class="hljs-string">'pNode 03'</span>, key: <span class="hljs-string">'0-2'</span>, isLeaf: <span class="hljs-literal">true</span> },
        ],
      });
    }, <span class="hljs-number">100</span>);
  },
  onSelect(info) {
    <span class="hljs-built_in">console</span>.log(<span class="hljs-string">'selected'</span>, info);
  },
  onLoadData(treeNode) {
    <span class="hljs-keyword">return</span> <span class="hljs-keyword">new</span> <span class="hljs-built_in">Promise</span>((resolve) =&gt; {
      setTimeout(() =&gt; {
        <span class="hljs-keyword">const</span> treeData = [...this.state.treeData];
        getNewTreeData(treeData, treeNode.props.eventKey, generateTreeNodes(treeNode), <span class="hljs-number">2</span>);
        <span class="hljs-keyword">this</span>.setState({ treeData });
        resolve();
      }, <span class="hljs-number">500</span>);
    });
  },
  render() {
    <span class="hljs-keyword">const</span> loop = data =&gt; data.map((item) =&gt; {
      <span class="hljs-keyword">if</span> (item.children) {
        <span class="hljs-keyword">return</span> <span class="xml"><span class="hljs-tag">&lt;<span class="hljs-title">TreeNode</span> <span class="hljs-attribute">title</span>=<span class="hljs-value">{item.name}</span> <span class="hljs-attribute">key</span>=<span class="hljs-value">{item.key}</span>&gt;</span>{loop(item.children)}<span class="hljs-tag">&lt;/<span class="hljs-title">TreeNode</span>&gt;</span>;</span>
      }
      <span class="hljs-keyword">return</span> <span class="xml"><span class="hljs-tag">&lt;<span class="hljs-title">TreeNode</span> <span class="hljs-attribute">title</span>=<span class="hljs-value">{item.name}</span> <span class="hljs-attribute">key</span>=<span class="hljs-value">{item.key}</span> <span class="hljs-attribute">isLeaf</span>=<span class="hljs-value">{item.isLeaf}</span> <span class="hljs-attribute">disabled</span>=<span class="hljs-value">{item.key</span> =<span class="hljs-value">==</span> '<span class="hljs-attribute">0-0-0</span>'} /&gt;</span>;</span>
    });
    <span class="hljs-keyword">const</span> treeNodes = loop(<span class="hljs-keyword">this</span>.state.treeData);
    <span class="hljs-keyword">return</span> (
      <span class="xml"><span class="hljs-tag">&lt;<span class="hljs-title">Tree</span> <span class="hljs-attribute">onSelect</span>=<span class="hljs-value">{this.onSelect}</span> <span class="hljs-attribute">loadData</span>=<span class="hljs-value">{this.onLoadData}</span>&gt;</span>
        {treeNodes}
      <span class="hljs-tag">&lt;/<span class="hljs-title">Tree</span>&gt;</span>
    )</span>;
  },
});

ReactDOM.render(<span class="xml"><span class="hljs-tag">&lt;<span class="hljs-title">Demo</span> /&gt;</span>, mountNode);</span></code></pre></div>
  </div>
  <div class="code-box-meta markdown">
    <div class="code-box-title">
      <a href="#demo-dynamic">异步数据加载</a>
    </div>
    
<p>点击展开节点，动态加载数据。</p>

    <span class="collapse anticon anticon-circle-o-right" unselectable="none"></span>
  </div>
</div>