<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <meta name="description" content="一个 UI 设计语言"/>
    <title>
Tree 树形控件 - Ant Design
</title>
    <link rel="icon" href="https://t.alipayobjects.com/images/T1QUBfXo4fXXXXXXXX.png" type="image/x-icon">
    <link rel="shortcut icon" href="https://t.alipayobjects.com/images/T1QUBfXo4fXXXXXXXX.png" type="image/x-icon">
    
    <link rel="stylesheet" href="../../dist/demo.css">
    <script src="https://as.alipayobjects.com/g/component/??console-polyfill/0.2.2/index.js,es5-shim/4.5.7/es5-shim.min.js,es5-shim/4.5.7/es5-sham.min.js,html5shiv/3.7.2/html5shiv.min.js,media-match/2.0.2/media.match.min.js,jquery/1.11.3/jquery.min.js,bluebird/3.1.1/bluebird.min.js"></script>
    <script>
    (function() {
      window.ANT_COMPONENTS = [];
      window.InstantClickChangeFns = [];
      ANT_COMPONENTS.push({
        title: 'Pagination',
        desc: '分页'
      });
      ANT_COMPONENTS.push({
        title: 'Affix',
        desc: '固钉'
      });
      ANT_COMPONENTS.push({
        title: 'Badge',
        desc: '徽标数'
      });
      ANT_COMPONENTS.push({
        title: 'Breadcrumb',
        desc: '面包屑'
      });
      ANT_COMPONENTS.push({
        title: 'Button',
        desc: '按钮'
      });
      ANT_COMPONENTS.push({
        title: 'Calendar',
        desc: '日历'
      });
      ANT_COMPONENTS.push({
        title: 'Carousel',
        desc: '走马灯'
      });
      ANT_COMPONENTS.push({
        title: 'Cascader',
        desc: '级联选择'
      });
      ANT_COMPONENTS.push({
        title: 'Checkbox',
        desc: '多选框'
      });
      ANT_COMPONENTS.push({
        title: 'Collapse',
        desc: '折叠面板'
      });
      ANT_COMPONENTS.push({
        title: 'DatePicker',
        desc: '日期选择框'
      });
      ANT_COMPONENTS.push({
        title: 'Dropdown',
        desc: '下拉菜单'
      });
      ANT_COMPONENTS.push({
        title: 'Form',
        desc: '表单'
      });
      ANT_COMPONENTS.push({
        title: 'Icon',
        desc: '图标'
      });
      ANT_COMPONENTS.push({
        title: 'InputNumber',
        desc: '数字输入框'
      });
      ANT_COMPONENTS.push({
        title: 'Layout',
        desc: '布局'
      });
      ANT_COMPONENTS.push({
        title: 'Menu',
        desc: '导航菜单'
      });
      ANT_COMPONENTS.push({
        title: 'Message',
        desc: '全局提示'
      });
      ANT_COMPONENTS.push({
        title: 'Modal',
        desc: '对话框'
      });
      ANT_COMPONENTS.push({
        title: 'Notification',
        desc: '通知提醒框'
      });
      ANT_COMPONENTS.push({
        title: 'Alert',
        desc: '警告提示'
      });
      ANT_COMPONENTS.push({
        title: 'Popconfirm',
        desc: '气泡确认框'
      });
      ANT_COMPONENTS.push({
        title: 'Popover',
        desc: '气泡卡片'
      });
      ANT_COMPONENTS.push({
        title: 'Progress',
        desc: '进度条'
      });
      ANT_COMPONENTS.push({
        title: 'QueueAnim',
        desc: '进出场动画'
      });
      ANT_COMPONENTS.push({
        title: 'Radio',
        desc: '单选框'
      });
      ANT_COMPONENTS.push({
        title: 'Select',
        desc: '选择器'
      });
      ANT_COMPONENTS.push({
        title: 'Slider',
        desc: '滑动输入条'
      });
      ANT_COMPONENTS.push({
        title: 'Spin',
        desc: '加载中'
      });
      ANT_COMPONENTS.push({
        title: 'Steps',
        desc: '步骤条'
      });
      ANT_COMPONENTS.push({
        title: 'Switch',
        desc: '开关'
      });
      ANT_COMPONENTS.push({
        title: 'Table',
        desc: '表格'
      });
      ANT_COMPONENTS.push({
        title: 'Tabs',
        desc: '标签页'
      });
      ANT_COMPONENTS.push({
        title: 'Tag',
        desc: '标签'
      });
      ANT_COMPONENTS.push({
        title: 'TimePicker',
        desc: '时间选择框'
      });
      ANT_COMPONENTS.push({
        title: 'Timeline',
        desc: '时间轴'
      });
      ANT_COMPONENTS.push({
        title: 'Tooltip',
        desc: '文字提示'
      });
      ANT_COMPONENTS.push({
        title: 'Transfer',
        desc: '穿梭框'
      });
      ANT_COMPONENTS.push({
        title: 'Tree',
        desc: '树形控件'
      });
      ANT_COMPONENTS.push({
        title: 'TreeSelect',
        desc: '树选择'
      });
      ANT_COMPONENTS.push({
        title: 'Upload',
        desc: '上传'
      });
      // fix ie location origin
      // http://stackoverflow.com/questions/22564167/window-location-origin-gives-wrong-value-when-using-ie
      if (!window.location.origin) {
        window.location.origin = window.location.protocol + "//"
          + window.location.hostname
          + (window.location.port ? ':' + window.location.port : '');
      }
      var i = location.pathname.split('/').lastIndexOf('ant-design');
      if (i > 0) {
        window.rootUrl = location.origin + location.pathname.split('/').slice(0, 2+1).join('/');
      } else {
        window.rootUrl = location.origin;
      }
    })();
    </script>
    <script>
      window.antdVersion = {
        latest: '0.12.17'
      };
    </script>
    <script src="../../dist/demo.js"></script>
    
  </head>
  <body >
    <header id="header" class="clearfix">
      <a class="logo" href="../..">
        <img width="60" src="https://t.alipayobjects.com/images/rmsweb/T1B9hfXcdvXXXXXXXX.svg">
        Ant Design
      </a>
      <div class="search">
        <div id="autoComplete"></div>
      </div>
      <nav class="nav" tabindex="-1">
        <span class="bar"></span>
        <ul>
          <li class="">
            <a href="../..">首页</a>
          </li>
          <li class="">
            <a href="../../docs/practice/cases">实践</a>
          </li>
          <li class="">
            <a href="../../docs/pattern/navigation">模式</a>
          </li>
          <li class="current">
            <a href="../../docs/react/introduce">组件</a>
          </li>
          <li class="">
            <a href="../../docs/spec/introduce">语言</a>
          </li>
          <li class="">
            <a href="../../docs/resource/download">资源</a>
          </li>
        </ul>
      </nav>
      <div class="nav-phone-icon"></div>
    </header>
    <div class="main-wrapper">
      
<aside class="aside-container">
  <ul>
      <li class="">
        <a href="../../docs/react/introduce"
           class="">
          Ant Design of React
          <span class="chinese"></span>
        </a>
      </li>
      <li class="">
        <a href="../../docs/react/getting-started"
           class="">
          快速上手
          <span class="chinese"></span>
        </a>
      </li>
      <li class="">
        <a href="../../docs/react/install"
           class="">
          安装
          <span class="chinese"></span>
        </a>
      </li>
      <li class="">
        <a href="../../docs/react/upgrade-notes"
           class="">
          升级指南
          <span class="chinese"></span>
        </a>
      </li>
      <li class="">
        <a href="../../changelog"
           class="">
          更新日志
          <span class="chinese"></span>
        </a>
      </li>
    <li open="open">
      <h4>Components</h4>
      <ul class="">
          <li class="type-divider">基本</li>
          <li class="">
            <a href="../button/"
               class="">
              Button
              <span class="chinese">按钮</span>
            </a>
          </li>
          <li class="">
            <a href="../icon/"
               class="">
              Icon
              <span class="chinese">图标</span>
            </a>
          </li>
          <li class="">
            <a href="../layout/"
               class="">
              Layout
              <span class="chinese">布局</span>
            </a>
          </li>
          <li class="type-divider">表单</li>
          <li class="">
            <a href="../cascader/"
               class="">
              Cascader
              <span class="chinese">级联选择</span>
            </a>
          </li>
          <li class="">
            <a href="../checkbox/"
               class="">
              Checkbox
              <span class="chinese">多选框</span>
            </a>
          </li>
          <li class="">
            <a href="../date-picker/"
               class="">
              DatePicker
              <span class="chinese">日期选择框</span>
            </a>
          </li>
          <li class="">
            <a href="../form/"
               class="">
              Form
              <span class="chinese">表单</span>
            </a>
          </li>
          <li class="">
            <a href="../input-number/"
               class="">
              InputNumber
              <span class="chinese">数字输入框</span>
            </a>
          </li>
          <li class="">
            <a href="../radio/"
               class="">
              Radio
              <span class="chinese">单选框</span>
            </a>
          </li>
          <li class="">
            <a href="../select/"
               class="">
              Select
              <span class="chinese">选择器</span>
            </a>
          </li>
          <li class="">
            <a href="../slider/"
               class="">
              Slider
              <span class="chinese">滑动输入条</span>
            </a>
          </li>
          <li class="">
            <a href="../switch/"
               class="">
              Switch
              <span class="chinese">开关</span>
            </a>
          </li>
          <li class="">
            <a href="../time-picker/"
               class="">
              TimePicker
              <span class="chinese">时间选择框</span>
            </a>
          </li>
          <li class="">
            <a href="../transfer/"
               class="">
              Transfer
              <span class="chinese">穿梭框</span>
            </a>
          </li>
          <li class="">
            <a href="../tree-select/"
               class="">
              TreeSelect
              <span class="chinese">树选择</span>
            </a>
          </li>
          <li class="">
            <a href="../upload/"
               class="">
              Upload
              <span class="chinese">上传</span>
            </a>
          </li>
          <li class="type-divider">展示</li>
          <li class="">
            <a href="../alert/"
               class="">
              Alert
              <span class="chinese">警告提示</span>
            </a>
          </li>
          <li class="">
            <a href="../badge/"
               class="">
              Badge
              <span class="chinese">徽标数</span>
            </a>
          </li>
          <li class="">
            <a href="../calendar/"
               class="">
              Calendar
              <span class="chinese">日历</span>
            </a>
          </li>
          <li class="">
            <a href="../carousel/"
               class="">
              Carousel
              <span class="chinese">走马灯</span>
            </a>
          </li>
          <li class="">
            <a href="../collapse/"
               class="">
              Collapse
              <span class="chinese">折叠面板</span>
            </a>
          </li>
          <li class="">
            <a href="../dropdown/"
               class="">
              Dropdown
              <span class="chinese">下拉菜单</span>
            </a>
          </li>
          <li class="">
            <a href="../message/"
               class=""data-no-instant>
              Message
              <span class="chinese">全局提示</span>
            </a>
          </li>
          <li class="">
            <a href="../modal/"
               class="">
              Modal
              <span class="chinese">对话框</span>
            </a>
          </li>
          <li class="">
            <a href="../notification/"
               class=""data-no-instant>
              Notification
              <span class="chinese">通知提醒框</span>
            </a>
          </li>
          <li class="">
            <a href="../popconfirm/"
               class="">
              Popconfirm
              <span class="chinese">气泡确认框</span>
            </a>
          </li>
          <li class="">
            <a href="../popover/"
               class="">
              Popover
              <span class="chinese">气泡卡片</span>
            </a>
          </li>
          <li class="">
            <a href="../progress/"
               class="">
              Progress
              <span class="chinese">进度条</span>
            </a>
          </li>
          <li class="">
            <a href="../table/"
               class="">
              Table
              <span class="chinese">表格</span>
            </a>
          </li>
          <li class="">
            <a href="../tag/"
               class="">
              Tag
              <span class="chinese">标签</span>
            </a>
          </li>
          <li class="">
            <a href="../timeline/"
               class="">
              Timeline
              <span class="chinese">时间轴</span>
            </a>
          </li>
          <li class="">
            <a href="../tooltip/"
               class="">
              Tooltip
              <span class="chinese">文字提示</span>
            </a>
          </li>
          <li class="current">
            <a href="./"
               class="">
              Tree
              <span class="chinese">树形控件</span>
            </a>
          </li>
          <li class="type-divider">导航</li>
          <li class="">
            <a href="../breadcrumb/"
               class="">
              Breadcrumb
              <span class="chinese">面包屑</span>
            </a>
          </li>
          <li class="">
            <a href="../menu/"
               class="">
              Menu
              <span class="chinese">导航菜单</span>
            </a>
          </li>
          <li class="">
            <a href="../pagination/"
               class="">
              Pagination
              <span class="chinese">分页</span>
            </a>
          </li>
          <li class="">
            <a href="../steps/"
               class="">
              Steps
              <span class="chinese">步骤条</span>
            </a>
          </li>
          <li class="">
            <a href="../tabs/"
               class="">
              Tabs
              <span class="chinese">标签页</span>
            </a>
          </li>
          <li class="type-divider">其他</li>
          <li class="">
            <a href="../affix/"
               class="">
              Affix
              <span class="chinese">固钉</span>
            </a>
          </li>
          <li class="">
            <a href="../queue-anim/"
               class="">
              QueueAnim
              <span class="chinese">进出场动画</span>
            </a>
          </li>
          <li class="">
            <a href="../spin/"
               class="">
              Spin
              <span class="chinese">加载中</span>
            </a>
          </li>
      </ul>
    </li>
  </ul>
</aside>
 
<section class="main-container">
  <article class="markdown">
    <h1>
      Tree 树形控件
    </h1>
    <h2 id="何时使用">何时使用<a href="#何时使用" class="anchor">#</a> </h2><p>文件夹、组织架构、生物分类、国家地区等等，世间万物的大多数结构都是树形结构。使用<code>树控件</code>可以完整展现其中的层级关系，并具有展开收起选择等交互功能。</p>
<h2 id="api">API<a href="#api" class="anchor">#</a> </h2><h3 id="tree-props">Tree props<a href="#tree-props" class="anchor">#</a> </h3><table>
<thead>
<tr>
<th>参数</th>
<th>说明</th>
<th>类型</th>
<th>默认值</th>
</tr>
</thead>
<tbody>
<tr>
<td>multiple</td>
<td>是否支持多选</td>
<td>bool</td>
<td>false</td>
</tr>
<tr>
<td>checkable</td>
<td>是否支持选中</td>
<td>bool</td>
<td>false</td>
</tr>
<tr>
<td>defaultExpandAll</td>
<td>默认展开所有树节点</td>
<td>bool</td>
<td>false</td>
</tr>
<tr>
<td>defaultExpandedKeys</td>
<td>默认展开指定的树节点</td>
<td>String[]</td>
<td>[]</td>
</tr>
<tr>
<td>expandedKeys</td>
<td>（受控）展开指定的树节点</td>
<td>String[]</td>
<td>[]</td>
</tr>
<tr>
<td>checkedKeys</td>
<td>（受控）选中复选框的树节点</td>
<td>String[]</td>
<td>[]</td>
</tr>
<tr>
<td>defaultCheckedKeys</td>
<td>默认选中复选框的树节点</td>
<td>String[]</td>
<td>[]</td>
</tr>
<tr>
<td>selectedKeys</td>
<td>（受控）设置选中的树节点</td>
<td>String[]</td>
<td>-</td>
</tr>
<tr>
<td>defaultSelectedKeys</td>
<td>默认选中的树节点</td>
<td>String[]</td>
<td>[]</td>
</tr>
<tr>
<td>onExpand</td>
<td>展开/收起节点时触发</td>
<td>function(node, expanded, expandedKeys)</td>
<td>-</td>
</tr>
<tr>
<td>onCheck</td>
<td>点击复选框触发</td>
<td>function(checkedKeys, e:{checked: bool, checkedNodes, node, event})</td>
<td>-</td>
</tr>
<tr>
<td>onSelect</td>
<td>点击树节点触发</td>
<td>function(selectedKeys, e:{selected: bool, selectedNodes, node, event})</td>
<td>-</td>
</tr>
<tr>
<td>filterTreeNode</td>
<td>filter some treeNodes as you need. it should return true</td>
<td>function(node)</td>
<td>-</td>
</tr>
<tr>
<td>loadData</td>
<td>异步加载数据</td>
<td>function(node)</td>
<td>-</td>
</tr>
<tr>
<td>onRightClick</td>
<td>响应右键点击</td>
<td>function({event,node})</td>
<td>-</td>
</tr>
<tr>
<td>draggable</td>
<td>设置节点可拖拽（IE&gt;8）</td>
<td>bool</td>
<td>false</td>
</tr>
<tr>
<td>onDragStart</td>
<td>开始拖拽时调用</td>
<td>function({event,node})</td>
<td>-</td>
</tr>
<tr>
<td>onDragEnter</td>
<td>dragenter 触发时调用</td>
<td>function({event,node,expandedKeys})</td>
<td>-</td>
</tr>
<tr>
<td>onDragOver</td>
<td>dragover 触发时调用</td>
<td>function({event,node})</td>
<td>-</td>
</tr>
<tr>
<td>onDragLeave</td>
<td>dragleave 触发时调用</td>
<td>function({event,node})</td>
<td>-</td>
</tr>
<tr>
<td>onDrop</td>
<td>drop 触发时调用</td>
<td>function({event, node, dragNode, dragNodesKeys})</td>
<td>-</td>
</tr>
</tbody>
</table>
<h3 id="treenode-props">TreeNode props<a href="#treenode-props" class="anchor">#</a> </h3><table>
<thead>
<tr>
<th>参数</th>
<th>说明</th>
<th>类型</th>
<th>默认值</th>
</tr>
</thead>
<tbody>
<tr>
<td>disabled</td>
<td>禁掉响应</td>
<td>bool</td>
<td>false</td>
</tr>
<tr>
<td>disableCheckbox</td>
<td>禁掉 checkbox</td>
<td>bool</td>
<td>false</td>
</tr>
<tr>
<td>title</td>
<td>标题</td>
<td>String</td>
<td>&#39;---&#39;</td>
</tr>
<tr>
<td>key</td>
<td>被树的 (default)ExpandedKeys / (default)CheckedKeys / (default)SelectedKeys 属性所用。注意：整个树范围内的所有节点的 key 值不能重复！</td>
<td>String</td>
<td>内部计算出的节点位置</td>
</tr>
<tr>
<td>isLeaf</td>
<td>设置为叶子节点</td>
<td>bool</td>
<td>false</td>
</tr>
</tbody>
</table>

  </article>
<h2 class="component-demos">
  代码演示
  <i class="anticon anticon-appstore icon-all" title="展开全部代码"></i>
</h2>
<div class="code-boxes">
  <div class="code-boxes-col-2-1"><div class="code-box" id="demo-basic">
  <div class="code-box-demo">
    <div id="components-tree-demo-basic"></div>
    <script>mountNode = document.getElementById('components-tree-demo-basic');</script>
    <script>(function(){'use strict';

var _antd = require('antd');

var TreeNode = _antd.Tree.TreeNode;

var Demo = React.createClass({
  displayName: 'Demo',
  getDefaultProps: function getDefaultProps() {
    return {
      keys: ['0-0-0', '0-0-1']
    };
  },
  getInitialState: function getInitialState() {
    var keys = this.props.keys;
    return {
      defaultExpandedKeys: keys,
      defaultSelectedKeys: keys,
      defaultCheckedKeys: keys
    };
  },
  onExpand: function onExpand(treeNode, expand, expandedKeys) {
    console.log('onExpand', expand, expandedKeys);
  },
  onSelect: function onSelect(info) {
    console.log('selected', info);
  },
  onCheck: function onCheck(info) {
    console.log('onCheck', info);
  },
  render: function render() {
    return React.createElement(
      _antd.Tree,
      { className: 'myCls', showLine: true, multiple: true, checkable: true,
        defaultExpandedKeys: this.state.defaultExpandedKeys,
        onExpand: this.onExpand,
        defaultSelectedKeys: this.state.defaultSelectedKeys,
        defaultCheckedKeys: this.state.defaultCheckedKeys,
        onSelect: this.onSelect, onCheck: this.onCheck },
      React.createElement(
        TreeNode,
        { title: 'parent 1', key: '0-0' },
        React.createElement(
          TreeNode,
          { title: 'parent 1-0', key: '0-0-0', disabled: true },
          React.createElement(TreeNode, { title: 'leaf', key: '0-0-0-0', disableCheckbox: true }),
          React.createElement(TreeNode, { title: 'leaf', key: '0-0-0-1' })
        ),
        React.createElement(
          TreeNode,
          { title: 'parent 1-1', key: '0-0-1' },
          React.createElement(TreeNode, { title: React.createElement(
              'span',
              { style: { color: '#08c' } },
              'sss'
            ), key: '0-0-1-0' })
        )
      )
    );
  }
});

ReactDOM.render(React.createElement(Demo, null), mountNode);})()</script><div class="highlight"><pre><code class="javascript"><span class="hljs-keyword">import</span> { Tree } <span class="hljs-keyword">from</span> <span class="hljs-string">'antd'</span>;
<span class="hljs-keyword">const</span> TreeNode = Tree.TreeNode;

<span class="hljs-keyword">const</span> Demo = React.createClass({
  getDefaultProps() {
    <span class="hljs-keyword">return</span> {
      keys: [<span class="hljs-string">'0-0-0'</span>, <span class="hljs-string">'0-0-1'</span>],
    };
  },
  getInitialState() {
    <span class="hljs-keyword">const</span> keys = <span class="hljs-keyword">this</span>.props.keys;
    <span class="hljs-keyword">return</span> {
      defaultExpandedKeys: keys,
      defaultSelectedKeys: keys,
      defaultCheckedKeys: keys,
    };
  },
  onExpand(treeNode, expand, expandedKeys) {
    <span class="hljs-built_in">console</span>.log(<span class="hljs-string">'onExpand'</span>, expand, expandedKeys);
  },
  onSelect(info) {
    <span class="hljs-built_in">console</span>.log(<span class="hljs-string">'selected'</span>, info);
  },
  onCheck(info) {
    <span class="hljs-built_in">console</span>.log(<span class="hljs-string">'onCheck'</span>, info);
  },
  render() {
    <span class="hljs-keyword">return</span> (
      <span class="xml"><span class="hljs-tag">&lt;<span class="hljs-title">Tree</span> <span class="hljs-attribute">className</span>=<span class="hljs-value">"myCls"</span> <span class="hljs-attribute">showLine</span> <span class="hljs-attribute">multiple</span> <span class="hljs-attribute">checkable</span>
        <span class="hljs-attribute">defaultExpandedKeys</span>=<span class="hljs-value">{this.state.defaultExpandedKeys}</span>
        <span class="hljs-attribute">onExpand</span>=<span class="hljs-value">{this.onExpand}</span>
        <span class="hljs-attribute">defaultSelectedKeys</span>=<span class="hljs-value">{this.state.defaultSelectedKeys}</span>
        <span class="hljs-attribute">defaultCheckedKeys</span>=<span class="hljs-value">{this.state.defaultCheckedKeys}</span>
        <span class="hljs-attribute">onSelect</span>=<span class="hljs-value">{this.onSelect}</span> <span class="hljs-attribute">onCheck</span>=<span class="hljs-value">{this.onCheck}</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">TreeNode</span> <span class="hljs-attribute">title</span>=<span class="hljs-value">"parent 1"</span> <span class="hljs-attribute">key</span>=<span class="hljs-value">"0-0"</span>&gt;</span>
          <span class="hljs-tag">&lt;<span class="hljs-title">TreeNode</span> <span class="hljs-attribute">title</span>=<span class="hljs-value">"parent 1-0"</span> <span class="hljs-attribute">key</span>=<span class="hljs-value">"0-0-0"</span> <span class="hljs-attribute">disabled</span>&gt;</span>
            <span class="hljs-tag">&lt;<span class="hljs-title">TreeNode</span> <span class="hljs-attribute">title</span>=<span class="hljs-value">"leaf"</span> <span class="hljs-attribute">key</span>=<span class="hljs-value">"0-0-0-0"</span> <span class="hljs-attribute">disableCheckbox</span> /&gt;</span>
            <span class="hljs-tag">&lt;<span class="hljs-title">TreeNode</span> <span class="hljs-attribute">title</span>=<span class="hljs-value">"leaf"</span> <span class="hljs-attribute">key</span>=<span class="hljs-value">"0-0-0-1"</span> /&gt;</span>
          <span class="hljs-tag">&lt;/<span class="hljs-title">TreeNode</span>&gt;</span>
          <span class="hljs-tag">&lt;<span class="hljs-title">TreeNode</span> <span class="hljs-attribute">title</span>=<span class="hljs-value">"parent 1-1"</span> <span class="hljs-attribute">key</span>=<span class="hljs-value">"0-0-1"</span>&gt;</span>
            <span class="hljs-tag">&lt;<span class="hljs-title">TreeNode</span> <span class="hljs-attribute">title</span>=<span class="hljs-value">{&lt;span</span> <span class="hljs-attribute">style</span>=<span class="hljs-value">{{</span> <span class="hljs-attribute">color:</span> '#<span class="hljs-attribute">08c</span>' }}&gt;</span>sss<span class="hljs-tag">&lt;/<span class="hljs-title">span</span>&gt;</span>} key="0-0-1-0" /&gt;
          <span class="hljs-tag">&lt;/<span class="hljs-title">TreeNode</span>&gt;</span>
        <span class="hljs-tag">&lt;/<span class="hljs-title">TreeNode</span>&gt;</span>
      <span class="hljs-tag">&lt;/<span class="hljs-title">Tree</span>&gt;</span>
    )</span>;
  },
});

ReactDOM.render(<span class="xml"><span class="hljs-tag">&lt;<span class="hljs-title">Demo</span> /&gt;</span>, mountNode);</span></code></pre></div>
  </div>
  <div class="code-box-meta markdown">
    <div class="code-box-title">
      <a href="#demo-basic">基本</a>
    </div>
    
<p>最简单的用法，展示可勾选，可选中，禁用，默认展开等功能。</p>

    <span class="collapse anticon anticon-circle-o-right" unselectable="none"></span>
  </div>
</div><div class="code-box" id="demo-draggable">
  <div class="code-box-demo">
    <div id="components-tree-demo-draggable"></div>
    <script>mountNode = document.getElementById('components-tree-demo-draggable');</script>
    <script>(function(){'use strict';

var _antd = require('antd');

function _toConsumableArray(arr) { if (Array.isArray(arr)) { for (var i = 0, arr2 = Array(arr.length); i < arr.length; i++) { arr2[i] = arr[i]; } return arr2; } else { return Array.from(arr); } }

var TreeNode = _antd.Tree.TreeNode;

var x = 3;
var y = 2;
var z = 1;
var gData = [];

var generateData = function generateData(_level, _preKey, _tns) {
  var preKey = _preKey || '0';
  var tns = _tns || gData;

  var children = [];
  for (var i = 0; i < x; i++) {
    var key = preKey + '-' + i;
    tns.push({ title: key, key: key });
    if (i < y) {
      children.push(key);
    }
  }
  if (_level < 0) {
    return tns;
  }
  var __level = _level - 1;
  children.forEach(function (key, index) {
    tns[index].children = [];
    return generateData(__level, key, tns[index].children);
  });
};
generateData(z);

var Demo = React.createClass({
  displayName: 'Demo',
  getInitialState: function getInitialState() {
    return {
      gData: gData,
      expandedKeys: ['0-0', '0-0-0', '0-0-0-0']
    };
  },
  onDragEnter: function onDragEnter(info) {
    console.log(info);
    // expandedKeys 需要受控时设置
    // this.setState({
    //   expandedKeys: info.expandedKeys,
    // });
  },
  onDrop: function onDrop(info) {
    console.log(info);
    var dropKey = info.node.props.eventKey;
    var dragKey = info.dragNode.props.eventKey;
    // const dragNodesKeys = info.dragNodesKeys;
    var loop = function loop(data, key, callback) {
      data.forEach(function (item, index, arr) {
        if (item.key === key) {
          return callback(item, index, arr);
        }
        if (item.children) {
          return loop(item.children, key, callback);
        }
      });
    };
    var data = [].concat(_toConsumableArray(this.state.gData));
    var dragObj = void 0;
    loop(data, dragKey, function (item, index, arr) {
      arr.splice(index, 1);
      dragObj = item;
    });
    if (info.dropToGap) {
      var ar = void 0;
      var i = void 0;
      loop(data, dropKey, function (item, index, arr) {
        ar = arr;
        i = index;
      });
      ar.splice(i, 0, dragObj);
    } else {
      loop(data, dropKey, function (item) {
        item.children = item.children || [];
        // where to insert 示例添加到尾部，可以是随意位置
        item.children.push(dragObj);
      });
    }
    this.setState({
      gData: data
    });
  },
  render: function render() {
    var loop = function loop(data) {
      return data.map(function (item) {
        if (item.children) {
          return React.createElement(
            TreeNode,
            { key: item.key, title: item.key },
            loop(item.children)
          );
        }
        return React.createElement(TreeNode, { key: item.key, title: item.key });
      });
    };
    return React.createElement(
      _antd.Tree,
      { defaultExpandedKeys: this.state.expandedKeys, openAnimation: {}, draggable: true,
        onDragEnter: this.onDragEnter,
        onDrop: this.onDrop },
      loop(this.state.gData)
    );
  }
});

ReactDOM.render(React.createElement(Demo, null), mountNode);})()</script><div class="highlight"><pre><code class="javascript"><span class="hljs-keyword">import</span> { Tree } <span class="hljs-keyword">from</span> <span class="hljs-string">'antd'</span>;
<span class="hljs-keyword">const</span> TreeNode = Tree.TreeNode;

<span class="hljs-keyword">const</span> x = <span class="hljs-number">3</span>;
<span class="hljs-keyword">const</span> y = <span class="hljs-number">2</span>;
<span class="hljs-keyword">const</span> z = <span class="hljs-number">1</span>;
<span class="hljs-keyword">const</span> gData = [];

<span class="hljs-keyword">const</span> generateData = (_level, _preKey, _tns) =&gt; {
  <span class="hljs-keyword">const</span> preKey = _preKey || <span class="hljs-string">'0'</span>;
  <span class="hljs-keyword">const</span> tns = _tns || gData;

  <span class="hljs-keyword">const</span> children = [];
  <span class="hljs-keyword">for</span> (<span class="hljs-keyword">let</span> i = <span class="hljs-number">0</span>; i &lt; x; i++) {
    <span class="hljs-keyword">const</span> key = <span class="hljs-string">`<span class="hljs-subst">${preKey}</span>-<span class="hljs-subst">${i}</span>`</span>;
    tns.push({ title: key, key });
    <span class="hljs-keyword">if</span> (i &lt; y) {
      children.push(key);
    }
  }
  <span class="hljs-keyword">if</span> (_level &lt; <span class="hljs-number">0</span>) {
    <span class="hljs-keyword">return</span> tns;
  }
  <span class="hljs-keyword">const</span> __level = _level - <span class="hljs-number">1</span>;
  children.forEach((key, index) =&gt; {
    tns[index].children = [];
    <span class="hljs-keyword">return</span> generateData(__level, key, tns[index].children);
  });
};
generateData(z);

<span class="hljs-keyword">const</span> Demo = React.createClass({
  getInitialState() {
    <span class="hljs-keyword">return</span> {
      gData,
      expandedKeys: [<span class="hljs-string">'0-0'</span>, <span class="hljs-string">'0-0-0'</span>, <span class="hljs-string">'0-0-0-0'</span>],
    };
  },
  onDragEnter(info) {
    <span class="hljs-built_in">console</span>.log(info);
    <span class="hljs-comment">// expandedKeys 需要受控时设置</span>
    <span class="hljs-comment">// this.setState({</span>
    <span class="hljs-comment">//   expandedKeys: info.expandedKeys,</span>
    <span class="hljs-comment">// });</span>
  },
  onDrop(info) {
    <span class="hljs-built_in">console</span>.log(info);
    <span class="hljs-keyword">const</span> dropKey = info.node.props.eventKey;
    <span class="hljs-keyword">const</span> dragKey = info.dragNode.props.eventKey;
    <span class="hljs-comment">// const dragNodesKeys = info.dragNodesKeys;</span>
    <span class="hljs-keyword">const</span> loop = (data, key, callback) =&gt; {
      data.forEach((item, index, arr) =&gt; {
        <span class="hljs-keyword">if</span> (item.key === key) {
          <span class="hljs-keyword">return</span> callback(item, index, arr);
        }
        <span class="hljs-keyword">if</span> (item.children) {
          <span class="hljs-keyword">return</span> loop(item.children, key, callback);
        }
      });
    };
    <span class="hljs-keyword">const</span> data = [...this.state.gData];
    <span class="hljs-keyword">let</span> dragObj;
    loop(data, dragKey, (item, index, arr) =&gt; {
      arr.splice(index, <span class="hljs-number">1</span>);
      dragObj = item;
    });
    <span class="hljs-keyword">if</span> (info.dropToGap) {
      <span class="hljs-keyword">let</span> ar;
      <span class="hljs-keyword">let</span> i;
      loop(data, dropKey, (item, index, arr) =&gt; {
        ar = arr;
        i = index;
      });
      ar.splice(i, <span class="hljs-number">0</span>, dragObj);
    } <span class="hljs-keyword">else</span> {
      loop(data, dropKey, (item) =&gt; {
        item.children = item.children || [];
        <span class="hljs-comment">// where to insert 示例添加到尾部，可以是随意位置</span>
        item.children.push(dragObj);
      });
    }
    <span class="hljs-keyword">this</span>.setState({
      gData: data,
    });
  },
  render() {
    <span class="hljs-keyword">const</span> loop = data =&gt; data.map((item) =&gt; {
      <span class="hljs-keyword">if</span> (item.children) {
        <span class="hljs-keyword">return</span> <span class="xml"><span class="hljs-tag">&lt;<span class="hljs-title">TreeNode</span> <span class="hljs-attribute">key</span>=<span class="hljs-value">{item.key}</span> <span class="hljs-attribute">title</span>=<span class="hljs-value">{item.key}</span>&gt;</span>{loop(item.children)}<span class="hljs-tag">&lt;/<span class="hljs-title">TreeNode</span>&gt;</span>;</span>
      }
      <span class="hljs-keyword">return</span> <span class="xml"><span class="hljs-tag">&lt;<span class="hljs-title">TreeNode</span> <span class="hljs-attribute">key</span>=<span class="hljs-value">{item.key}</span> <span class="hljs-attribute">title</span>=<span class="hljs-value">{item.key}</span> /&gt;</span>;</span>
    });
    <span class="hljs-keyword">return</span> (
      <span class="xml"><span class="hljs-tag">&lt;<span class="hljs-title">Tree</span> <span class="hljs-attribute">defaultExpandedKeys</span>=<span class="hljs-value">{this.state.expandedKeys}</span> <span class="hljs-attribute">openAnimation</span>=<span class="hljs-value">{{}}</span> <span class="hljs-attribute">draggable</span>
        <span class="hljs-attribute">onDragEnter</span>=<span class="hljs-value">{this.onDragEnter}</span>
        <span class="hljs-attribute">onDrop</span>=<span class="hljs-value">{this.onDrop}</span>&gt;</span>
        {loop(this.state.gData)}
      <span class="hljs-tag">&lt;/<span class="hljs-title">Tree</span>&gt;</span>
    )</span>;
  },
});

ReactDOM.render(<span class="xml"><span class="hljs-tag">&lt;<span class="hljs-title">Demo</span> /&gt;</span>, mountNode);</span></code></pre></div>
  </div>
  <div class="code-box-meta markdown">
    <div class="code-box-title">
      <a href="#demo-draggable">拖动示例</a>
    </div>
    
<p>将节点拖拽到其他节点内部或前后。</p>

    <span class="collapse anticon anticon-circle-o-right" unselectable="none"></span>
  </div>
</div>
  </div>
  <div class="code-boxes-col-2-1"><div class="code-box" id="demo-basic-controlled">
  <div class="code-box-demo">
    <div id="components-tree-demo-basic-controlled"></div>
    <script>mountNode = document.getElementById('components-tree-demo-basic-controlled');</script>
    <script>(function(){'use strict';

var _antd = require('antd');

var TreeNode = _antd.Tree.TreeNode;

var x = 3;
var y = 2;
var z = 1;
var gData = [];

var generateData = function generateData(_level, _preKey, _tns) {
  var preKey = _preKey || '0';
  var tns = _tns || gData;

  var children = [];
  for (var i = 0; i < x; i++) {
    var key = preKey + '-' + i;
    tns.push({ title: key, key: key });
    if (i < y) {
      children.push(key);
    }
  }
  if (_level < 0) {
    return tns;
  }
  var __level = _level - 1;
  children.forEach(function (key, index) {
    tns[index].children = [];
    return generateData(__level, key, tns[index].children);
  });
};
generateData(z);

function loopData(data, callback) {
  var loop = function loop(d) {
    var level = arguments.length > 1 && arguments[1] !== undefined ? arguments[1] : 0;

    d.forEach(function (item, index) {
      var pos = level + '-' + index;
      if (item.children) {
        loop(item.children, pos);
      }
      callback(item, index, pos);
    });
  };
  loop(data);
}

function getFilterExpandedKeys(data, expandedKeys) {
  var expandedPosArr = [];
  loopData(data, function (item, index, pos) {
    if (expandedKeys.indexOf(item.key) > -1) {
      expandedPosArr.push(pos);
    }
  });
  var filterExpandedKeys = [];
  loopData(data, function (item, index, pos) {
    expandedPosArr.forEach(function (p) {
      if ((pos.split('-').length < p.split('-').length && p.indexOf(pos) === 0 || pos === p) && filterExpandedKeys.indexOf(item.key) === -1) {
        filterExpandedKeys.push(item.key);
      }
    });
  });
  return filterExpandedKeys;
}

var Demo = React.createClass({
  displayName: 'Demo',
  getDefaultProps: function getDefaultProps() {
    return {
      multiple: true
    };
  },
  getInitialState: function getInitialState() {
    return {
      expandedKeys: getFilterExpandedKeys(gData, ['0-0-0', '0-0-1']),
      checkedKeys: ['0-0-0'],
      selectedKeys: []
    };
  },
  onExpand: function onExpand(treeNode, expand, expandedKeys) {
    console.log('onExpand', expand, expandedKeys);
    var index = expandedKeys.indexOf(treeNode.props.eventKey);
    if (expand) {
      if (index > -1) {
        expandedKeys.splice(index, 1);
      }
    } else {
      if (index === -1) {
        expandedKeys.push(treeNode.props.eventKey);
      }
    }
    this.setState({ expandedKeys: expandedKeys });
  },
  onCheck: function onCheck(checkedKeys) {
    this.setState({
      checkedKeys: checkedKeys,
      selectedKeys: ['0-3', '0-4']
    });
  },
  onSelect: function onSelect(selectedKeys, info) {
    console.log('onSelect', info);
    this.setState({ selectedKeys: selectedKeys });
  },
  render: function render() {
    var loop = function loop(data) {
      return data.map(function (item) {
        if (item.children) {
          return React.createElement(
            TreeNode,
            { key: item.key, title: item.key, disableCheckbox: item.key === '0-0-0' },
            loop(item.children)
          );
        }
        return React.createElement(TreeNode, { key: item.key, title: item.key });
      });
    };
    return React.createElement(
      _antd.Tree,
      { checkable: true, multiple: this.props.multiple, defaultExpandAll: true,
        onExpand: this.onExpand, expandedKeys: this.state.expandedKeys,
        onCheck: this.onCheck, checkedKeys: this.state.checkedKeys,
        onSelect: this.onSelect, selectedKeys: this.state.selectedKeys },
      loop(gData)
    );
  }
});

ReactDOM.render(React.createElement(Demo, null), mountNode);})()</script><div class="highlight"><pre><code class="javascript"><span class="hljs-keyword">import</span> { Tree } <span class="hljs-keyword">from</span> <span class="hljs-string">'antd'</span>;
<span class="hljs-keyword">const</span> TreeNode = Tree.TreeNode;

<span class="hljs-keyword">const</span> x = <span class="hljs-number">3</span>;
<span class="hljs-keyword">const</span> y = <span class="hljs-number">2</span>;
<span class="hljs-keyword">const</span> z = <span class="hljs-number">1</span>;
<span class="hljs-keyword">const</span> gData = [];

<span class="hljs-keyword">const</span> generateData = (_level, _preKey, _tns) =&gt; {
  <span class="hljs-keyword">const</span> preKey = _preKey || <span class="hljs-string">'0'</span>;
  <span class="hljs-keyword">const</span> tns = _tns || gData;

  <span class="hljs-keyword">const</span> children = [];
  <span class="hljs-keyword">for</span> (<span class="hljs-keyword">let</span> i = <span class="hljs-number">0</span>; i &lt; x; i++) {
    <span class="hljs-keyword">const</span> key = <span class="hljs-string">`<span class="hljs-subst">${preKey}</span>-<span class="hljs-subst">${i}</span>`</span>;
    tns.push({ title: key, key });
    <span class="hljs-keyword">if</span> (i &lt; y) {
      children.push(key);
    }
  }
  <span class="hljs-keyword">if</span> (_level &lt; <span class="hljs-number">0</span>) {
    <span class="hljs-keyword">return</span> tns;
  }
  <span class="hljs-keyword">const</span> __level = _level - <span class="hljs-number">1</span>;
  children.forEach((key, index) =&gt; {
    tns[index].children = [];
    <span class="hljs-keyword">return</span> generateData(__level, key, tns[index].children);
  });
};
generateData(z);

<span class="hljs-function"><span class="hljs-keyword">function</span> <span class="hljs-title">loopData</span>(<span class="hljs-params">data, callback</span>) </span>{
  <span class="hljs-keyword">const</span> loop = (d, level = <span class="hljs-number">0</span>) =&gt; {
    d.forEach((item, index) =&gt; {
      <span class="hljs-keyword">const</span> pos = <span class="hljs-string">`<span class="hljs-subst">${level}</span>-<span class="hljs-subst">${index}</span>`</span>;
      <span class="hljs-keyword">if</span> (item.children) {
        loop(item.children, pos);
      }
      callback(item, index, pos);
    });
  };
  loop(data);
}

<span class="hljs-function"><span class="hljs-keyword">function</span> <span class="hljs-title">getFilterExpandedKeys</span>(<span class="hljs-params">data, expandedKeys</span>) </span>{
  <span class="hljs-keyword">const</span> expandedPosArr = [];
  loopData(data, (item, index, pos) =&gt; {
    <span class="hljs-keyword">if</span> (expandedKeys.indexOf(item.key) &gt; -<span class="hljs-number">1</span>) {
      expandedPosArr.push(pos);
    }
  });
  <span class="hljs-keyword">const</span> filterExpandedKeys = [];
  loopData(data, (item, index, pos) =&gt; {
    expandedPosArr.forEach(p =&gt; {
      <span class="hljs-keyword">if</span> ((pos.split(<span class="hljs-string">'-'</span>).length &lt; p.split(<span class="hljs-string">'-'</span>).length
        &amp;&amp; p.indexOf(pos) === <span class="hljs-number">0</span> || pos === p)
        &amp;&amp; filterExpandedKeys.indexOf(item.key) === -<span class="hljs-number">1</span>) {
        filterExpandedKeys.push(item.key);
      }
    });
  });
  <span class="hljs-keyword">return</span> filterExpandedKeys;
}

<span class="hljs-keyword">const</span> Demo = React.createClass({
  getDefaultProps() {
    <span class="hljs-keyword">return</span> {
      multiple: <span class="hljs-literal">true</span>,
    };
  },
  getInitialState() {
    <span class="hljs-keyword">return</span> {
      expandedKeys: getFilterExpandedKeys(gData, [<span class="hljs-string">'0-0-0'</span>, <span class="hljs-string">'0-0-1'</span>]),
      checkedKeys: [<span class="hljs-string">'0-0-0'</span>],
      selectedKeys: [],
    };
  },
  onExpand(treeNode, expand, expandedKeys) {
    <span class="hljs-built_in">console</span>.log(<span class="hljs-string">'onExpand'</span>, expand, expandedKeys);
    <span class="hljs-keyword">const</span> index = expandedKeys.indexOf(treeNode.props.eventKey);
    <span class="hljs-keyword">if</span> (expand) {
      <span class="hljs-keyword">if</span> (index &gt; -<span class="hljs-number">1</span>) {
        expandedKeys.splice(index, <span class="hljs-number">1</span>);
      }
    } <span class="hljs-keyword">else</span> {
      <span class="hljs-keyword">if</span> (index === -<span class="hljs-number">1</span>) {
        expandedKeys.push(treeNode.props.eventKey);
      }
    }
    <span class="hljs-keyword">this</span>.setState({ expandedKeys });
  },
  onCheck(checkedKeys) {
    <span class="hljs-keyword">this</span>.setState({
      checkedKeys,
      selectedKeys: [<span class="hljs-string">'0-3'</span>, <span class="hljs-string">'0-4'</span>],
    });
  },
  onSelect(selectedKeys, info) {
    <span class="hljs-built_in">console</span>.log(<span class="hljs-string">'onSelect'</span>, info);
    <span class="hljs-keyword">this</span>.setState({ selectedKeys });
  },
  render() {
    <span class="hljs-keyword">const</span> loop = data =&gt; data.map((item) =&gt; {
      <span class="hljs-keyword">if</span> (item.children) {
        <span class="hljs-keyword">return</span> (
          <span class="xml"><span class="hljs-tag">&lt;<span class="hljs-title">TreeNode</span> <span class="hljs-attribute">key</span>=<span class="hljs-value">{item.key}</span> <span class="hljs-attribute">title</span>=<span class="hljs-value">{item.key}</span> <span class="hljs-attribute">disableCheckbox</span>=<span class="hljs-value">{item.key</span> =<span class="hljs-value">==</span> '<span class="hljs-attribute">0-0-0</span>'}&gt;</span>
            {loop(item.children)}
          <span class="hljs-tag">&lt;/<span class="hljs-title">TreeNode</span>&gt;</span>
        )</span>;
      }
      <span class="hljs-keyword">return</span> <span class="xml"><span class="hljs-tag">&lt;<span class="hljs-title">TreeNode</span> <span class="hljs-attribute">key</span>=<span class="hljs-value">{item.key}</span> <span class="hljs-attribute">title</span>=<span class="hljs-value">{item.key}</span> /&gt;</span>;</span>
    });
    <span class="hljs-keyword">return</span> (
      <span class="xml"><span class="hljs-tag">&lt;<span class="hljs-title">Tree</span> <span class="hljs-attribute">checkable</span> <span class="hljs-attribute">multiple</span>=<span class="hljs-value">{this.props.multiple}</span> <span class="hljs-attribute">defaultExpandAll</span>
        <span class="hljs-attribute">onExpand</span>=<span class="hljs-value">{this.onExpand}</span> <span class="hljs-attribute">expandedKeys</span>=<span class="hljs-value">{this.state.expandedKeys}</span>
        <span class="hljs-attribute">onCheck</span>=<span class="hljs-value">{this.onCheck}</span> <span class="hljs-attribute">checkedKeys</span>=<span class="hljs-value">{this.state.checkedKeys}</span>
        <span class="hljs-attribute">onSelect</span>=<span class="hljs-value">{this.onSelect}</span> <span class="hljs-attribute">selectedKeys</span>=<span class="hljs-value">{this.state.selectedKeys}</span>&gt;</span>
        {loop(gData)}
      <span class="hljs-tag">&lt;/<span class="hljs-title">Tree</span>&gt;</span>
    )</span>;
  },
});

ReactDOM.render(<span class="xml"><span class="hljs-tag">&lt;<span class="hljs-title">Demo</span> /&gt;</span>, mountNode);</span></code></pre></div>
  </div>
  <div class="code-box-meta markdown">
    <div class="code-box-title">
      <a href="#demo-basic-controlled">受控操作示例</a>
    </div>
    
<p>受控操作示例</p>

    <span class="collapse anticon anticon-circle-o-right" unselectable="none"></span>
  </div>
</div><div class="code-box" id="demo-dynamic">
  <div class="code-box-demo">
    <div id="components-tree-demo-dynamic"></div>
    <script>mountNode = document.getElementById('components-tree-demo-dynamic');</script>
    <script>(function(){'use strict';

var _antd = require('antd');

function _toConsumableArray(arr) { if (Array.isArray(arr)) { for (var i = 0, arr2 = Array(arr.length); i < arr.length; i++) { arr2[i] = arr[i]; } return arr2; } else { return Array.from(arr); } }

var TreeNode = _antd.Tree.TreeNode;

function generateTreeNodes(treeNode) {
  var arr = [];
  var key = treeNode.props.eventKey;
  for (var i = 0; i < 3; i++) {
    arr.push({ name: 'leaf ' + key + '-' + i, key: key + '-' + i });
  }
  return arr;
}

function setLeaf(treeData, curKey, level) {
  var loopLeaf = function loopLeaf(data, lev) {
    var l = lev - 1;
    data.forEach(function (item) {
      if (item.key.length > curKey.length ? item.key.indexOf(curKey) !== 0 : curKey.indexOf(item.key) !== 0) {
        return;
      }
      if (item.children) {
        loopLeaf(item.children, l);
      } else if (l < 1) {
        item.isLeaf = true;
      }
    });
  };
  loopLeaf(treeData, level + 1);
}

function getNewTreeData(treeData, curKey, child, level) {
  var loop = function loop(data) {
    if (level < 1 || curKey.length - 3 > level * 2) return;
    data.forEach(function (item) {
      if (curKey.indexOf(item.key) === 0) {
        if (item.children) {
          loop(item.children);
        } else {
          item.children = child;
        }
      }
    });
  };
  loop(treeData);
  setLeaf(treeData, curKey, level);
}

var Demo = React.createClass({
  displayName: 'Demo',
  getInitialState: function getInitialState() {
    return {
      treeData: []
    };
  },
  componentDidMount: function componentDidMount() {
    var _this = this;

    setTimeout(function () {
      _this.setState({
        treeData: [{ name: 'pNode 01', key: '0-0' }, { name: 'pNode 02', key: '0-1' }, { name: 'pNode 03', key: '0-2', isLeaf: true }]
      });
    }, 100);
  },
  onSelect: function onSelect(info) {
    console.log('selected', info);
  },
  onLoadData: function onLoadData(treeNode) {
    var _this2 = this;

    return new Promise(function (resolve) {
      setTimeout(function () {
        var treeData = [].concat(_toConsumableArray(_this2.state.treeData));
        getNewTreeData(treeData, treeNode.props.eventKey, generateTreeNodes(treeNode), 2);
        _this2.setState({ treeData: treeData });
        resolve();
      }, 500);
    });
  },
  render: function render() {
    var loop = function loop(data) {
      return data.map(function (item) {
        if (item.children) {
          return React.createElement(
            TreeNode,
            { title: item.name, key: item.key },
            loop(item.children)
          );
        }
        return React.createElement(TreeNode, { title: item.name, key: item.key, isLeaf: item.isLeaf, disabled: item.key === '0-0-0' });
      });
    };
    var treeNodes = loop(this.state.treeData);
    return React.createElement(
      _antd.Tree,
      { onSelect: this.onSelect, loadData: this.onLoadData },
      treeNodes
    );
  }
});

ReactDOM.render(React.createElement(Demo, null), mountNode);})()</script><div class="highlight"><pre><code class="javascript"><span class="hljs-keyword">import</span> { Tree } <span class="hljs-keyword">from</span> <span class="hljs-string">'antd'</span>;
<span class="hljs-keyword">const</span> TreeNode = Tree.TreeNode;

<span class="hljs-function"><span class="hljs-keyword">function</span> <span class="hljs-title">generateTreeNodes</span>(<span class="hljs-params">treeNode</span>) </span>{
  <span class="hljs-keyword">const</span> arr = [];
  <span class="hljs-keyword">const</span> key = treeNode.props.eventKey;
  <span class="hljs-keyword">for</span> (<span class="hljs-keyword">let</span> i = <span class="hljs-number">0</span>; i &lt; <span class="hljs-number">3</span>; i++) {
    arr.push({ name: <span class="hljs-string">`leaf <span class="hljs-subst">${key}</span>-<span class="hljs-subst">${i}</span>`</span>, key: <span class="hljs-string">`<span class="hljs-subst">${key}</span>-<span class="hljs-subst">${i}</span>`</span> });
  }
  <span class="hljs-keyword">return</span> arr;
}

<span class="hljs-function"><span class="hljs-keyword">function</span> <span class="hljs-title">setLeaf</span>(<span class="hljs-params">treeData, curKey, level</span>) </span>{
  <span class="hljs-keyword">const</span> loopLeaf = (data, lev) =&gt; {
    <span class="hljs-keyword">const</span> l = lev - <span class="hljs-number">1</span>;
    data.forEach((item) =&gt; {
      <span class="hljs-keyword">if</span> ((item.key.length &gt; curKey.length) ? item.key.indexOf(curKey) !== <span class="hljs-number">0</span> :
        curKey.indexOf(item.key) !== <span class="hljs-number">0</span>) {
        <span class="hljs-keyword">return</span>;
      }
      <span class="hljs-keyword">if</span> (item.children) {
        loopLeaf(item.children, l);
      } <span class="hljs-keyword">else</span> <span class="hljs-keyword">if</span> (l &lt; <span class="hljs-number">1</span>) {
        item.isLeaf = <span class="hljs-literal">true</span>;
      }
    });
  };
  loopLeaf(treeData, level + <span class="hljs-number">1</span>);
}

<span class="hljs-function"><span class="hljs-keyword">function</span> <span class="hljs-title">getNewTreeData</span>(<span class="hljs-params">treeData, curKey, child, level</span>) </span>{
  <span class="hljs-keyword">const</span> loop = (data) =&gt; {
    <span class="hljs-keyword">if</span> (level &lt; <span class="hljs-number">1</span> || curKey.length - <span class="hljs-number">3</span> &gt; level * <span class="hljs-number">2</span>) <span class="hljs-keyword">return</span>;
    data.forEach((item) =&gt; {
      <span class="hljs-keyword">if</span> (curKey.indexOf(item.key) === <span class="hljs-number">0</span>) {
        <span class="hljs-keyword">if</span> (item.children) {
          loop(item.children);
        } <span class="hljs-keyword">else</span> {
          item.children = child;
        }
      }
    });
  };
  loop(treeData);
  setLeaf(treeData, curKey, level);
}

<span class="hljs-keyword">const</span> Demo = React.createClass({
  getInitialState() {
    <span class="hljs-keyword">return</span> {
      treeData: [],
    };
  },
  componentDidMount() {
    setTimeout(() =&gt; {
      <span class="hljs-keyword">this</span>.setState({
        treeData: [
          { name: <span class="hljs-string">'pNode 01'</span>, key: <span class="hljs-string">'0-0'</span> },
          { name: <span class="hljs-string">'pNode 02'</span>, key: <span class="hljs-string">'0-1'</span> },
          { name: <span class="hljs-string">'pNode 03'</span>, key: <span class="hljs-string">'0-2'</span>, isLeaf: <span class="hljs-literal">true</span> },
        ],
      });
    }, <span class="hljs-number">100</span>);
  },
  onSelect(info) {
    <span class="hljs-built_in">console</span>.log(<span class="hljs-string">'selected'</span>, info);
  },
  onLoadData(treeNode) {
    <span class="hljs-keyword">return</span> <span class="hljs-keyword">new</span> <span class="hljs-built_in">Promise</span>((resolve) =&gt; {
      setTimeout(() =&gt; {
        <span class="hljs-keyword">const</span> treeData = [...this.state.treeData];
        getNewTreeData(treeData, treeNode.props.eventKey, generateTreeNodes(treeNode), <span class="hljs-number">2</span>);
        <span class="hljs-keyword">this</span>.setState({ treeData });
        resolve();
      }, <span class="hljs-number">500</span>);
    });
  },
  render() {
    <span class="hljs-keyword">const</span> loop = data =&gt; data.map((item) =&gt; {
      <span class="hljs-keyword">if</span> (item.children) {
        <span class="hljs-keyword">return</span> <span class="xml"><span class="hljs-tag">&lt;<span class="hljs-title">TreeNode</span> <span class="hljs-attribute">title</span>=<span class="hljs-value">{item.name}</span> <span class="hljs-attribute">key</span>=<span class="hljs-value">{item.key}</span>&gt;</span>{loop(item.children)}<span class="hljs-tag">&lt;/<span class="hljs-title">TreeNode</span>&gt;</span>;</span>
      }
      <span class="hljs-keyword">return</span> <span class="xml"><span class="hljs-tag">&lt;<span class="hljs-title">TreeNode</span> <span class="hljs-attribute">title</span>=<span class="hljs-value">{item.name}</span> <span class="hljs-attribute">key</span>=<span class="hljs-value">{item.key}</span> <span class="hljs-attribute">isLeaf</span>=<span class="hljs-value">{item.isLeaf}</span> <span class="hljs-attribute">disabled</span>=<span class="hljs-value">{item.key</span> =<span class="hljs-value">==</span> '<span class="hljs-attribute">0-0-0</span>'} /&gt;</span>;</span>
    });
    <span class="hljs-keyword">const</span> treeNodes = loop(<span class="hljs-keyword">this</span>.state.treeData);
    <span class="hljs-keyword">return</span> (
      <span class="xml"><span class="hljs-tag">&lt;<span class="hljs-title">Tree</span> <span class="hljs-attribute">onSelect</span>=<span class="hljs-value">{this.onSelect}</span> <span class="hljs-attribute">loadData</span>=<span class="hljs-value">{this.onLoadData}</span>&gt;</span>
        {treeNodes}
      <span class="hljs-tag">&lt;/<span class="hljs-title">Tree</span>&gt;</span>
    )</span>;
  },
});

ReactDOM.render(<span class="xml"><span class="hljs-tag">&lt;<span class="hljs-title">Demo</span> /&gt;</span>, mountNode);</span></code></pre></div>
  </div>
  <div class="code-box-meta markdown">
    <div class="code-box-title">
      <a href="#demo-dynamic">异步数据加载</a>
    </div>
    
<p>点击展开节点，动态加载数据。</p>

    <span class="collapse anticon anticon-circle-o-right" unselectable="none"></span>
  </div>
</div>
  </div>
</div>
<ul class="toc demos-anchor">
  <li>
    <a title="基本" href="#demo-basic">
      <span>基本</span>
    </a>
  </li>
  <li>
    <a title="受控操作示例" href="#demo-basic-controlled">
      <span>受控操作示例</span>
    </a>
  </li>
  <li>
    <a title="拖动示例" href="#demo-draggable">
      <span>拖动示例</span>
    </a>
  </li>
  <li>
    <a title="异步数据加载" href="#demo-dynamic">
      <span>异步数据加载</span>
    </a>
  </li>
</ul>
  <div class="api-container markdown"></div>
</section>

    </div><footer id="footer">
  <ul>
    <li>
      <h2>GitHub</h2>
      <a target="_blank "href="https://github.com/ant-design/ant-design">仓库</a>
      <a target="_blank" href="https://github.com/ant-design/antd-init">脚手架</a>
      <a target="_blank" href="http://ant-tool.github.io/">开发工具</a>
    </li>
    <li>
      <h2>关于我们</h2>
      <a target="_blank" href="https://github.com/ant-ued/blog">博客 - Ant UED</a>
    </li>
    <li>
      <h2>联系我们</h2>
      <a target="_blank" href="https://github.com/ant-design/ant-design/issues">反馈和建议</a>
      <a target="_blank" href="https://gitter.im/ant-design/ant-design">讨论</a>
      <a target="_blank" href="http://dwz.cn/2AF9ao">报告 Bug</a>
    </li>
    <li>
      <div>©2015 蚂蚁金服体验技术部出品</div>
      <div>文档版本：<span id="versions-select"></span></div>
    </li>
  </ul>
</footer>
    <script data-no-instant>
    if (!location.port) {
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-72788897-1', 'auto');
      ga('send', 'pageview');
      InstantClick.on('change', function() {
        ga('send', 'pageview', location.pathname + location.search);
      });
    }
    </script>
    <script data-no-instant>
      InstantClick.on('change', function() {
        InstantClickChangeFns.forEach(function(fn) {
          fn();
        });
      });
      InstantClick.init();
    </script>
  </body>
</html>