<div class="code-box" id="animation-demo-page">
  <div class="code-box-demo">
    <div id="components-enter-animation-demo-page"></div>
    <script>(function(){'use strict';

var EnterAnimation = antd.EnterAnimation;

var Test = React.createClass({
  displayName: 'Test',

  getInitialState: function getInitialState() {
    return {
      show: true,
      enter: {
        type: 'right',
        ease: 'cubic-bezier(0.19, 1, 0.22, 1)'
      },
      leave: {
        type: 'left',
        ease: 'cubic-bezier(0.455, 0.03, 0.515, 0.955)',
        reverse: true,
        interval: 0.05
      }
    };
  },
  onClick: function onClick() {
    this.setState({
      show: !this.state.show
    });
  },
  render: function render() {
    return React.createElement(
      'div',
      null,
      React.createElement(
        'div',
        { style: { marginBottom: 20 } },
        React.createElement(
          'button',
          { className: 'ant-btn ant-btn-primary', onClick: this.onClick },
          '切换'
        )
      ),
      React.createElement(
        EnterAnimation,
        { enter: this.state.enter, leave: this.state.leave },
        this.state.show ? React.createElement(
          'div',
          { key: 'a' },
          React.createElement(
            'div',
            { className: 'demo-header', 'enter-data': true, 'leave-data': { type: 'alpha' } },
            React.createElement(
              'div',
              { className: 'logo', 'leave-data': { type: 'left' } },
              React.createElement('img', { width: '30', src: 'https://t.alipayobjects.com/images/rmsweb/T1B9hfXcdvXXXXXXXX.svg' }),
              React.createElement(
                'span',
                null,
                'logo'
              )
            ),
            React.createElement(
              'ul',
              null,
              React.createElement('li', { 'enter-data': true, 'leave-data': { type: 'right' } }),
              React.createElement('li', { 'enter-data': true, 'leave-data': { type: 'right' } }),
              React.createElement('li', { 'enter-data': true, 'leave-data': { type: 'right' } }),
              React.createElement('li', { 'enter-data': true, 'leave-data': { type: 'right' } }),
              React.createElement('li', { 'enter-data': true, 'leave-data': { type: 'right' } })
            )
          ),
          React.createElement(
            'div',
            { className: 'demo-content' },
            React.createElement(
              'div',
              { className: 'demo-title', 'enter-data': { type: 'bottom' }, 'leave-data': { type: 'bottom', queueId: 1 } },
              '我是标题'
            ),
            React.createElement(
              'div',
              { className: 'demo-kp' },
              React.createElement(
                'ul',
                null,
                React.createElement('li', { 'enter-data': { interval: 0.05 }, 'leave-data': { type: 'bottom', queueId: 1 } }),
                React.createElement('li', { 'enter-data': { interval: 0.05 }, 'leave-data': { type: 'bottom', queueId: 1 } }),
                React.createElement('li', { 'enter-data': { interval: 0.05 }, 'leave-data': { type: 'bottom', queueId: 1, delay: 0.2 } })
              )
            ),
            React.createElement(
              'div',
              { className: 'demo-title', 'enter-data': { type: 'bottom' }, 'leave-data': { type: 'bottom', queueId: 2 } },
              '我是标题'
            ),
            React.createElement(
              'div',
              { className: 'demo-listBox' },
              React.createElement(
                'div',
                { className: 'demo-list' },
                React.createElement('div', { className: 'title', 'enter-data': { type: 'bottom' }, 'leave-data': { queueId: 2 } }),
                React.createElement(
                  'ul',
                  null,
                  React.createElement('li', { 'enter-data': { type: 'bottom' }, 'leave-data': { queueId: 2 } }),
                  React.createElement('li', { 'enter-data': { type: 'bottom' }, 'leave-data': { queueId: 2 } }),
                  React.createElement('li', { 'enter-data': { type: 'bottom' }, 'leave-data': { queueId: 2 } }),
                  React.createElement('li', { 'enter-data': { type: 'bottom' }, 'leave-data': { queueId: 2 } }),
                  React.createElement('li', { 'enter-data': { type: 'bottom' }, 'leave-data': { queueId: 2 } })
                )
              )
            )
          ),
          React.createElement('div', { className: 'demo-footer', 'enter-data': { type: 'bottom' }, 'leave-data': { queueId: 2 } })
        ) : null
      )
    );
  }
});

React.render(React.createElement(Test, null), document.getElementById('components-enter-animation-demo-page'));})()</script><div class="highlight"><pre><code class="javascript"><span class="keyword">var</span> EnterAnimation = antd.EnterAnimation;

<span class="keyword">var</span> Test = React.createClass({
  getInitialState() {
    <span class="keyword">return</span> {
      show: <span class="literal">true</span>,
      enter:{
        type:<span class="string">'right'</span>,
        ease:<span class="string">'cubic-bezier(0.19, 1, 0.22, 1)'</span>
      },
      leave:{
        type:<span class="string">'left'</span>,
        ease:<span class="string">'cubic-bezier(0.455, 0.03, 0.515, 0.955)'</span>,
        reverse:<span class="literal">true</span>,
        interval:<span class="number">0.05</span>
      }
    }
  },
  onClick() {
    <span class="keyword">this</span>.setState({
      show: !<span class="keyword">this</span>.state.show
    })
  },
  render() {
    <span class="keyword">return</span> (
      <span class="xml"><span class="tag">&lt;<span class="title">div</span>&gt;</span>
        <span class="tag">&lt;<span class="title">div</span> <span class="attribute">style</span>=<span class="value">{{marginBottom:</span> <span class="attribute">20</span>}}&gt;</span>
          <span class="tag">&lt;<span class="title">button</span> <span class="attribute">className</span>=<span class="value">"ant-btn ant-btn-primary"</span> <span class="attribute">onClick</span>=<span class="value">{this.onClick}</span>&gt;</span>切换<span class="tag">&lt;/<span class="title">button</span>&gt;</span>
        <span class="tag">&lt;/<span class="title">div</span>&gt;</span>
        <span class="tag">&lt;<span class="title">EnterAnimation</span> <span class="attribute">enter</span>=<span class="value">{this.state.enter}</span> <span class="attribute">leave</span>=<span class="value">{this.state.leave}</span>&gt;</span>
          {this.state.show ? <span class="tag">&lt;<span class="title">div</span> <span class="attribute">key</span>=<span class="value">'a'</span>&gt;</span>
            <span class="tag">&lt;<span class="title">div</span> <span class="attribute">className</span>=<span class="value">"demo-header"</span> <span class="attribute">enter-data</span> <span class="attribute">leave-data</span>=<span class="value">{{type:'alpha'}}</span>&gt;</span>
              <span class="tag">&lt;<span class="title">div</span> <span class="attribute">className</span>=<span class="value">"logo"</span> <span class="attribute">leave-data</span>=<span class="value">{{type:'left'}}</span>&gt;</span>
                <span class="tag">&lt;<span class="title">img</span> <span class="attribute">width</span>=<span class="value">"30"</span> <span class="attribute">src</span>=<span class="value">"https://t.alipayobjects.com/images/rmsweb/T1B9hfXcdvXXXXXXXX.svg"</span> /&gt;</span>
                <span class="tag">&lt;<span class="title">span</span>&gt;</span>logo<span class="tag">&lt;/<span class="title">span</span>&gt;</span>
              <span class="tag">&lt;/<span class="title">div</span>&gt;</span>
              <span class="tag">&lt;<span class="title">ul</span> &gt;</span>
                <span class="tag">&lt;<span class="title">li</span> <span class="attribute">enter-data</span> <span class="attribute">leave-data</span>=<span class="value">{{type:'right'}}</span>&gt;</span><span class="tag">&lt;/<span class="title">li</span>&gt;</span>
                <span class="tag">&lt;<span class="title">li</span> <span class="attribute">enter-data</span> <span class="attribute">leave-data</span>=<span class="value">{{type:'right'}}</span>&gt;</span><span class="tag">&lt;/<span class="title">li</span>&gt;</span>
                <span class="tag">&lt;<span class="title">li</span> <span class="attribute">enter-data</span> <span class="attribute">leave-data</span>=<span class="value">{{type:'right'}}</span>&gt;</span><span class="tag">&lt;/<span class="title">li</span>&gt;</span>
                <span class="tag">&lt;<span class="title">li</span> <span class="attribute">enter-data</span> <span class="attribute">leave-data</span>=<span class="value">{{type:'right'}}</span>&gt;</span><span class="tag">&lt;/<span class="title">li</span>&gt;</span>
                <span class="tag">&lt;<span class="title">li</span> <span class="attribute">enter-data</span> <span class="attribute">leave-data</span>=<span class="value">{{type:'right'}}</span>&gt;</span><span class="tag">&lt;/<span class="title">li</span>&gt;</span>
              <span class="tag">&lt;/<span class="title">ul</span>&gt;</span>
            <span class="tag">&lt;/<span class="title">div</span>&gt;</span>
            <span class="tag">&lt;<span class="title">div</span> <span class="attribute">className</span>=<span class="value">"demo-content"</span> &gt;</span>
              <span class="tag">&lt;<span class="title">div</span> <span class="attribute">className</span>=<span class="value">"demo-title"</span> <span class="attribute">enter-data</span>=<span class="value">{{type:'bottom'}}</span> <span class="attribute">leave-data</span>=<span class="value">{{type:'bottom',queueId:1}}</span>&gt;</span>我是标题<span class="tag">&lt;/<span class="title">div</span>&gt;</span>
              <span class="tag">&lt;<span class="title">div</span> <span class="attribute">className</span>=<span class="value">"demo-kp"</span>&gt;</span>
                <span class="tag">&lt;<span class="title">ul</span>&gt;</span>
                  <span class="tag">&lt;<span class="title">li</span> <span class="attribute">enter-data</span>=<span class="value">{{interval:0.05}}</span> <span class="attribute">leave-data</span>=<span class="value">{{type:'bottom',queueId:1}}</span>&gt;</span><span class="tag">&lt;/<span class="title">li</span>&gt;</span>
                  <span class="tag">&lt;<span class="title">li</span> <span class="attribute">enter-data</span>=<span class="value">{{interval:0.05}}</span> <span class="attribute">leave-data</span>=<span class="value">{{type:'bottom',queueId:1}}</span>&gt;</span><span class="tag">&lt;/<span class="title">li</span>&gt;</span>
                  <span class="tag">&lt;<span class="title">li</span> <span class="attribute">enter-data</span>=<span class="value">{{interval:0.05}}</span> <span class="attribute">leave-data</span>=<span class="value">{{type:'bottom',queueId:1,delay:0.2}}</span>&gt;</span><span class="tag">&lt;/<span class="title">li</span>&gt;</span>
                <span class="tag">&lt;/<span class="title">ul</span>&gt;</span>
              <span class="tag">&lt;/<span class="title">div</span>&gt;</span>
              <span class="tag">&lt;<span class="title">div</span> <span class="attribute">className</span>=<span class="value">"demo-title"</span> <span class="attribute">enter-data</span>=<span class="value">{{type:'bottom'}}</span> <span class="attribute">leave-data</span>=<span class="value">{{type:'bottom',queueId:2}}</span>&gt;</span>我是标题<span class="tag">&lt;/<span class="title">div</span>&gt;</span>
              <span class="tag">&lt;<span class="title">div</span> <span class="attribute">className</span>=<span class="value">"demo-listBox"</span>&gt;</span>
                <span class="tag">&lt;<span class="title">div</span> <span class="attribute">className</span>=<span class="value">"demo-list"</span>&gt;</span>
                  <span class="tag">&lt;<span class="title">div</span> <span class="attribute">className</span>=<span class="value">"title"</span> <span class="attribute">enter-data</span>=<span class="value">{{type:'bottom'}}</span> <span class="attribute">leave-data</span>=<span class="value">{{queueId:2}}</span>&gt;</span><span class="tag">&lt;/<span class="title">div</span>&gt;</span>
                  <span class="tag">&lt;<span class="title">ul</span>&gt;</span>
                    <span class="tag">&lt;<span class="title">li</span> <span class="attribute">enter-data</span>=<span class="value">{{type:'bottom'}}</span> <span class="attribute">leave-data</span>=<span class="value">{{queueId:2}}</span>&gt;</span><span class="tag">&lt;/<span class="title">li</span>&gt;</span>
                    <span class="tag">&lt;<span class="title">li</span> <span class="attribute">enter-data</span>=<span class="value">{{type:'bottom'}}</span> <span class="attribute">leave-data</span>=<span class="value">{{queueId:2}}</span>&gt;</span><span class="tag">&lt;/<span class="title">li</span>&gt;</span>
                    <span class="tag">&lt;<span class="title">li</span> <span class="attribute">enter-data</span>=<span class="value">{{type:'bottom'}}</span> <span class="attribute">leave-data</span>=<span class="value">{{queueId:2}}</span>&gt;</span><span class="tag">&lt;/<span class="title">li</span>&gt;</span>
                    <span class="tag">&lt;<span class="title">li</span> <span class="attribute">enter-data</span>=<span class="value">{{type:'bottom'}}</span> <span class="attribute">leave-data</span>=<span class="value">{{queueId:2}}</span>&gt;</span><span class="tag">&lt;/<span class="title">li</span>&gt;</span>
                    <span class="tag">&lt;<span class="title">li</span> <span class="attribute">enter-data</span>=<span class="value">{{type:'bottom'}}</span> <span class="attribute">leave-data</span>=<span class="value">{{queueId:2}}</span>&gt;</span><span class="tag">&lt;/<span class="title">li</span>&gt;</span>
                  <span class="tag">&lt;/<span class="title">ul</span>&gt;</span>
                <span class="tag">&lt;/<span class="title">div</span>&gt;</span>
              <span class="tag">&lt;/<span class="title">div</span>&gt;</span>
            <span class="tag">&lt;/<span class="title">div</span>&gt;</span>
            <span class="tag">&lt;<span class="title">div</span> <span class="attribute">className</span>=<span class="value">"demo-footer"</span> <span class="attribute">enter-data</span>=<span class="value">{{type:'bottom'}}</span> <span class="attribute">leave-data</span>=<span class="value">{{queueId:2}}</span>&gt;</span><span class="tag">&lt;/<span class="title">div</span>&gt;</span>
          <span class="tag">&lt;/<span class="title">div</span>&gt;</span> : null}
        <span class="tag">&lt;/<span class="title">EnterAnimation</span>&gt;</span>
      <span class="tag">&lt;/<span class="title">div</span>&gt;</span>
    );
  }
});

React.render(<span class="tag">&lt;<span class="title">Test</span> /&gt;</span>
, document.getElementById('components-enter-animation-demo-page'));</span></code></pre></div><style>
#components-enter-animation-demo-page {
  text-align: center;
  overflow: hidden;
  margin: 20px auto;
}
</style>

  </div>
  <div class="code-box-meta markdown">
    <div class="code-box-title">
      <a href="#animation-demo-page">页面的进场和离场</a>
    </div>
    <p>页面的进场和离场。</p>
    <span class="collapse anticon anticon-circle-o-right" unselectable="none" style="-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;"></span>
  </div>
</div>