<div class="code-box" id="animation-demo-simple">
  <div class="code-box-demo">
    <div id="components-enter-animation-demo-simple"></div>
    <script>(function(){"use strict";

var EnterAnimation = antd.EnterAnimation;

React.render(React.createElement(
  EnterAnimation,
  null,
  React.createElement(
    "ul",
    { key: "key" },
    React.createElement(
      "li",
      null,
      "依次进场"
    ),
    React.createElement(
      "li",
      null,
      "依次进场"
    ),
    React.createElement(
      "li",
      null,
      "依次进场"
    ),
    React.createElement(
      "li",
      null,
      "依次进场"
    ),
    React.createElement(
      "li",
      null,
      "依次进场"
    ),
    React.createElement(
      "li",
      null,
      "依次进场"
    ),
    React.createElement(
      "li",
      null,
      "依次进场"
    ),
    React.createElement(
      "li",
      null,
      "依次进场"
    )
  )
), document.getElementById('components-enter-animation-demo-simple'));})()</script><div class="highlight"><pre><code class="javascript"><span class="keyword">var</span> EnterAnimation = antd.EnterAnimation;

React.render(
  <span class="xml"><span class="tag">&lt;<span class="title">EnterAnimation</span>&gt;</span>
    <span class="tag">&lt;<span class="title">ul</span> <span class="attribute">key</span>=<span class="value">"key"</span>&gt;</span>
      <span class="tag">&lt;<span class="title">li</span>&gt;</span>依次进场<span class="tag">&lt;/<span class="title">li</span>&gt;</span>
      <span class="tag">&lt;<span class="title">li</span>&gt;</span>依次进场<span class="tag">&lt;/<span class="title">li</span>&gt;</span>
      <span class="tag">&lt;<span class="title">li</span>&gt;</span>依次进场<span class="tag">&lt;/<span class="title">li</span>&gt;</span>
      <span class="tag">&lt;<span class="title">li</span>&gt;</span>依次进场<span class="tag">&lt;/<span class="title">li</span>&gt;</span>
      <span class="tag">&lt;<span class="title">li</span>&gt;</span>依次进场<span class="tag">&lt;/<span class="title">li</span>&gt;</span>
      <span class="tag">&lt;<span class="title">li</span>&gt;</span>依次进场<span class="tag">&lt;/<span class="title">li</span>&gt;</span>
      <span class="tag">&lt;<span class="title">li</span>&gt;</span>依次进场<span class="tag">&lt;/<span class="title">li</span>&gt;</span>
      <span class="tag">&lt;<span class="title">li</span>&gt;</span>依次进场<span class="tag">&lt;/<span class="title">li</span>&gt;</span>
    <span class="tag">&lt;/<span class="title">ul</span>&gt;</span>
  <span class="tag">&lt;/<span class="title">EnterAnimation</span>&gt;</span>
, document.getElementById('components-enter-animation-demo-simple'));</span></code></pre></div>
  </div>
  <div class="code-box-meta markdown">
    <div class="code-box-title">
      <a href="#animation-demo-simple">默认</a>
    </div>
    <p>最简单的进场例子。</p>
    <span class="collapse anticon anticon-circle-o-right" unselectable="none" style="-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;"></span>
  </div>
</div>