<div class="code-box" id="demo-dynamic-trigger">
  <div class="code-box-demo">
    <div id="components-popconfirm-demo-dynamic-trigger"></div>
    <script>mountNode = document.getElementById('components-popconfirm-demo-dynamic-trigger');</script>
    <script>(function(){'use strict';

var _antd = require('antd');

var App = React.createClass({
  displayName: 'App',
  getInitialState: function getInitialState() {
    return {
      visible: false,
      condition: true // 是否满足条件，不满足则弹出确认框
    };
  },
  changeCondition: function changeCondition(value) {
    this.setState({ condition: value });
  },
  confirm: function confirm() {
    this.setState({ visible: false });
    _antd.message.success('进行下一步操作. next step.');
  },
  cancel: function cancel() {
    this.setState({ visible: false });
    _antd.message.error('点击了取消');
  },
  handleVisibleChange: function handleVisibleChange(visible) {
    if (!visible) {
      this.setState({ visible: visible });
      return;
    }
    // 打开前进行判断
    console.log(this.state.condition);
    if (this.state.condition) {
      this.confirm(); // 直接执行下一步
    } else {
      this.setState({ visible: visible }); // 进行确认
    }
  },
  render: function render() {
    return React.createElement(
      'div',
      null,
      React.createElement(
        _antd.Popconfirm,
        { title: '\u786E\u5B9A\u8981\u5220\u9664\u8FD9\u4E2A\u4EFB\u52A1\u5417\uFF1F',
          visible: this.state.visible, onVisibleChange: this.handleVisibleChange,
          onConfirm: this.confirm, onCancel: this.cancel },
        React.createElement(
          'a',
          { href: '#' },
          '\u5220\u9664\u67D0\u4EFB\u52A1'
        )
      ),
      React.createElement('br', null),
      React.createElement('br', null),
      '\u70B9\u51FB\u662F\u5426\u76F4\u63A5\u6267\u884C\uFF1A',
      React.createElement(_antd.Switch, { defaultChecked: true, onChange: this.changeCondition })
    );
  }
});

ReactDOM.render(React.createElement(App, null), mountNode);})()</script><div class="highlight"><pre><code class="javascript"><span class="hljs-keyword">import</span> { Popconfirm, Switch, message } <span class="hljs-keyword">from</span> <span class="hljs-string">'antd'</span>;

<span class="hljs-keyword">let</span> App = React.createClass({
  getInitialState() {
    <span class="hljs-keyword">return</span> {
      visible: <span class="hljs-literal">false</span>,
      condition: <span class="hljs-literal">true</span>,   <span class="hljs-comment">// 是否满足条件，不满足则弹出确认框</span>
    };
  },
  changeCondition(value) {
    <span class="hljs-keyword">this</span>.setState({ condition: value });
  },
  confirm() {
    <span class="hljs-keyword">this</span>.setState({ visible: <span class="hljs-literal">false</span> });
    message.success(<span class="hljs-string">'进行下一步操作. next step.'</span>);
  },
  cancel() {
    <span class="hljs-keyword">this</span>.setState({ visible: <span class="hljs-literal">false</span> });
    message.error(<span class="hljs-string">'点击了取消'</span>);
  },
  handleVisibleChange(visible) {
    <span class="hljs-keyword">if</span> (!visible) {
      <span class="hljs-keyword">this</span>.setState({ visible });
      <span class="hljs-keyword">return</span>;
    }
    <span class="hljs-comment">// 打开前进行判断</span>
    <span class="hljs-built_in">console</span>.log(<span class="hljs-keyword">this</span>.state.condition);
    <span class="hljs-keyword">if</span> (<span class="hljs-keyword">this</span>.state.condition) {
      <span class="hljs-keyword">this</span>.confirm();  <span class="hljs-comment">// 直接执行下一步</span>
    } <span class="hljs-keyword">else</span> {
      <span class="hljs-keyword">this</span>.setState({ visible });  <span class="hljs-comment">// 进行确认</span>
    }
  },
  render() {
    <span class="hljs-keyword">return</span> (
      <span class="xml"><span class="hljs-tag">&lt;<span class="hljs-title">div</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">Popconfirm</span> <span class="hljs-attribute">title</span>=<span class="hljs-value">"确定要删除这个任务吗？"</span>
          <span class="hljs-attribute">visible</span>=<span class="hljs-value">{this.state.visible}</span> <span class="hljs-attribute">onVisibleChange</span>=<span class="hljs-value">{this.handleVisibleChange}</span>
          <span class="hljs-attribute">onConfirm</span>=<span class="hljs-value">{this.confirm}</span> <span class="hljs-attribute">onCancel</span>=<span class="hljs-value">{this.cancel}</span>&gt;</span>
          <span class="hljs-tag">&lt;<span class="hljs-title">a</span> <span class="hljs-attribute">href</span>=<span class="hljs-value">"#"</span>&gt;</span>删除某任务<span class="hljs-tag">&lt;/<span class="hljs-title">a</span>&gt;</span>
        <span class="hljs-tag">&lt;/<span class="hljs-title">Popconfirm</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">br</span> /&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">br</span> /&gt;</span>
        点击是否直接执行：<span class="hljs-tag">&lt;<span class="hljs-title">Switch</span> <span class="hljs-attribute">defaultChecked</span> <span class="hljs-attribute">onChange</span>=<span class="hljs-value">{this.changeCondition}</span> /&gt;</span>
      <span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
    )</span>;
  }
});

ReactDOM.render(<span class="xml"><span class="hljs-tag">&lt;<span class="hljs-title">App</span> /&gt;</span>, mountNode);</span></code></pre></div>
  </div>
  <div class="code-box-meta markdown">
    <div class="code-box-title">
      <a href="#demo-dynamic-trigger">条件触发</a>
    </div>
    
<p>可以判断是否需要弹出。</p>

    <span class="collapse anticon anticon-circle-o-right" unselectable="none"></span>
  </div>
</div>