<div class="code-box" id="demo-locale">
  <div class="code-box-demo">
    <div id="components-popconfirm-demo-locale"></div>
    <script>mountNode = document.getElementById('components-popconfirm-demo-locale');</script>
    <script>(function(){"use strict";

var _antd = require("antd");

ReactDOM.render(React.createElement(
  _antd.Popconfirm,
  { title: "Are you sure\uFF1F", okText: "Yes", cancelText: "No" },
  React.createElement(
    "a",
    { href: "#" },
    "Delete"
  )
), mountNode);})()</script><div class="highlight"><pre><code class="javascript"><span class="hljs-keyword">import</span> { Popconfirm } <span class="hljs-keyword">from</span> <span class="hljs-string">'antd'</span>;

ReactDOM.render(
  <span class="xml"><span class="hljs-tag">&lt;<span class="hljs-title">Popconfirm</span> <span class="hljs-attribute">title</span>=<span class="hljs-value">"Are you sure？"</span> <span class="hljs-attribute">okText</span>=<span class="hljs-value">"Yes"</span> <span class="hljs-attribute">cancelText</span>=<span class="hljs-value">"No"</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-title">a</span> <span class="hljs-attribute">href</span>=<span class="hljs-value">"#"</span>&gt;</span>Delete<span class="hljs-tag">&lt;/<span class="hljs-title">a</span>&gt;</span>
  <span class="hljs-tag">&lt;/<span class="hljs-title">Popconfirm</span>&gt;</span>
, mountNode);</span></code></pre></div>
  </div>
  <div class="code-box-meta markdown">
    <div class="code-box-title">
      <a href="#demo-locale">国际化</a>
    </div>
    
<p>设置 <code>okText</code> <code>cancelText</code> 以自定义按钮文字。</p>

    <span class="collapse anticon anticon-circle-o-right" unselectable="none"></span>
  </div>
</div>