<div class="code-box" id="demo-disable">
  <div class="code-box-demo">
    <div id="components-checkbox-demo-disable"></div>
    <script>(function(){'use strict';

var Checkbox = antd.Checkbox;
var container = document.getElementById('components-checkbox-demo-disable');

React.render(React.createElement(
  'div',
  null,
  React.createElement(Checkbox, { defaultChecked: false, disabled: true }),
  React.createElement('br', null),
  React.createElement(Checkbox, { defaultChecked: true, disabled: true })
), container);})()</script><div class="highlight"><pre><code class="javascript"><span class="keyword">var</span> Checkbox = antd.Checkbox;
<span class="keyword">var</span> container = document.getElementById(<span class="string">'components-checkbox-demo-disable'</span>);

React.render(<span class="xml"><span class="tag">&lt;<span class="title">div</span>&gt;</span>
  <span class="tag">&lt;<span class="title">Checkbox</span> <span class="attribute">defaultChecked</span>=<span class="value">{false}</span> <span class="attribute">disabled</span>=<span class="value">{true}</span>/&gt;</span>
  <span class="tag">&lt;<span class="title">br</span> /&gt;</span>
  <span class="tag">&lt;<span class="title">Checkbox</span> <span class="attribute">defaultChecked</span>=<span class="value">{true}</span> <span class="attribute">disabled</span>=<span class="value">{true}</span>/&gt;</span>
<span class="tag">&lt;/<span class="title">div</span>&gt;</span>, container);</span></code></pre></div>
  </div>
  <div class="code-box-meta markdown">
    <div class="code-box-title">
      <a href="#demo-disable">不可用</a>
    </div>
    <p>checkbox 不可用。</p>
    <span class="collapse anticon anticon-circle-o-right" unselectable="none" style="-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;"></span>
  </div>
</div>