<div class="code-box" id="demo-vertical-right">
  <div class="code-box-demo">
    <div id="components-tabs-demo-vertical-right"></div>
    <script>(function(){"use strict";

var _antd = require('antd');

var TabPane = _antd.Tabs.TabPane;

ReactDOM.render(React.createElement(
  _antd.Tabs,
  { defaultActiveKey: "1", tabPosition: "right" },
  React.createElement(
    TabPane,
    { tab: "选项卡一", key: "1" },
    "选项卡一内容"
  ),
  React.createElement(
    TabPane,
    { tab: "选项卡二", key: "2" },
    "选项卡二内容"
  ),
  React.createElement(
    TabPane,
    { tab: "选项卡三长", key: "3" },
    "选项卡三内容"
  )
), document.getElementById('components-tabs-demo-vertical-right'));})()</script><div class="highlight"><pre><code class="javascript"><span class="hljs-keyword">import</span> { Tabs } <span class="hljs-keyword">from</span> <span class="hljs-string">'antd'</span>;
<span class="hljs-keyword">const</span> TabPane = Tabs.TabPane;

ReactDOM.render(
  <span class="xml"><span class="hljs-tag">&lt;<span class="hljs-title">Tabs</span> <span class="hljs-attribute">defaultActiveKey</span>=<span class="hljs-value">"1"</span> <span class="hljs-attribute">tabPosition</span>=<span class="hljs-value">"right"</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-title">TabPane</span> <span class="hljs-attribute">tab</span>=<span class="hljs-value">"选项卡一"</span> <span class="hljs-attribute">key</span>=<span class="hljs-value">"1"</span>&gt;</span>选项卡一内容<span class="hljs-tag">&lt;/<span class="hljs-title">TabPane</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-title">TabPane</span> <span class="hljs-attribute">tab</span>=<span class="hljs-value">"选项卡二"</span> <span class="hljs-attribute">key</span>=<span class="hljs-value">"2"</span>&gt;</span>选项卡二内容<span class="hljs-tag">&lt;/<span class="hljs-title">TabPane</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-title">TabPane</span> <span class="hljs-attribute">tab</span>=<span class="hljs-value">"选项卡三长"</span> <span class="hljs-attribute">key</span>=<span class="hljs-value">"3"</span>&gt;</span>选项卡三内容<span class="hljs-tag">&lt;/<span class="hljs-title">TabPane</span>&gt;</span>
  <span class="hljs-tag">&lt;/<span class="hljs-title">Tabs</span>&gt;</span>
, document.getElementById('components-tabs-demo-vertical-right'));</span></code></pre></div>
  </div>
  <div class="code-box-meta markdown">
    <div class="code-box-title">
      <a href="#demo-vertical-right">垂直</a>
    </div>
    <p>选项卡在右边。</p>
    <span class="collapse anticon anticon-circle-o-right" unselectable="none" style="-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;"></span>
  </div>
</div>