<div class="code-box" id="number-demo-digit">
  <div class="code-box-demo">
    <div id="components-input-number-demo-digit"></div>
    <script>mountNode = document.getElementById('components-input-number-demo-digit');</script>
    <script>(function(){'use strict';

var _antd = require('antd');

function onChange(value) {
  console.log('changed', value);
}

ReactDOM.render(React.createElement(_antd.InputNumber, { min: 1, max: 10, step: 0.1, onChange: onChange }), mountNode);})()</script><div class="highlight"><pre><code class="javascript"><span class="hljs-keyword">import</span> { InputNumber } <span class="hljs-keyword">from</span> <span class="hljs-string">'antd'</span>;

<span class="hljs-function"><span class="hljs-keyword">function</span> <span class="hljs-title">onChange</span>(<span class="hljs-params">value</span>) </span>{
  <span class="hljs-built_in">console</span>.log(<span class="hljs-string">'changed'</span>, value);
}

ReactDOM.render(
<span class="xml"><span class="hljs-tag">&lt;<span class="hljs-title">InputNumber</span> <span class="hljs-attribute">min</span>=<span class="hljs-value">{1}</span> <span class="hljs-attribute">max</span>=<span class="hljs-value">{10}</span> <span class="hljs-attribute">step</span>=<span class="hljs-value">{0.1}</span> <span class="hljs-attribute">onChange</span>=<span class="hljs-value">{onChange}</span> /&gt;</span>
, mountNode);</span></code></pre></div>
  </div>
  <div class="code-box-meta markdown">
    <div class="code-box-title">
      <a href="#number-demo-digit">小数</a>
    </div>
    
<p>和原生的数字输入框一样，value 的精度由 step 的小数位数决定。</p>

    <span class="collapse anticon anticon-circle-o-right" unselectable="none"></span>
  </div>
</div>