<div class="code-box" id="demo-radiogroup-more">
  <div class="code-box-demo">
    <div id="components-radio-demo-radiogroup-more"></div>
    <script>mountNode = document.getElementById('components-radio-demo-radiogroup-more');</script>
    <script>(function(){'use strict';

var _antd = require('antd');

var RadioGroup = _antd.Radio.Group;

var App = React.createClass({
  displayName: 'App',
  getInitialState: function getInitialState() {
    return {
      value: 1
    };
  },
  onChange: function onChange(e) {
    console.log('radio checked', e.target.value);
    this.setState({
      value: e.target.value
    });
  },
  render: function render() {
    var radioStyle = {
      display: 'block',
      height: '30px',
      lineHeight: '30px'
    };
    return React.createElement(
      RadioGroup,
      { onChange: this.onChange, value: this.state.value },
      React.createElement(
        _antd.Radio,
        { style: radioStyle, key: 'a', value: 1 },
        'Option A'
      ),
      React.createElement(
        _antd.Radio,
        { style: radioStyle, key: 'b', value: 2 },
        'Option B'
      ),
      React.createElement(
        _antd.Radio,
        { style: radioStyle, key: 'c', value: 3 },
        'Option C'
      ),
      React.createElement(
        _antd.Radio,
        { style: radioStyle, key: 'd', value: 4 },
        'More...',
        this.state.value === 4 ? React.createElement(_antd.Input, { style: { width: 100, marginLeft: 10 } }) : null
      )
    );
  }
});

ReactDOM.render(React.createElement(App, null), mountNode);})()</script><div class="highlight"><pre><code class="javascript"><span class="hljs-keyword">import</span> { Radio, Input } <span class="hljs-keyword">from</span> <span class="hljs-string">'antd'</span>;
<span class="hljs-keyword">const</span> RadioGroup = Radio.Group;

<span class="hljs-keyword">const</span> App = React.createClass({
  getInitialState() {
    <span class="hljs-keyword">return</span> {
      value: <span class="hljs-number">1</span>,
    };
  },
  onChange(e) {
    <span class="hljs-built_in">console</span>.log(<span class="hljs-string">'radio checked'</span>, e.target.value);
    <span class="hljs-keyword">this</span>.setState({
      value: e.target.value,
    });
  },
  render() {
    <span class="hljs-keyword">const</span> radioStyle = {
      display: <span class="hljs-string">'block'</span>,
      height: <span class="hljs-string">'30px'</span>,
      lineHeight: <span class="hljs-string">'30px'</span>,
    };
    <span class="hljs-keyword">return</span> (
      <span class="xml"><span class="hljs-tag">&lt;<span class="hljs-title">RadioGroup</span> <span class="hljs-attribute">onChange</span>=<span class="hljs-value">{this.onChange}</span> <span class="hljs-attribute">value</span>=<span class="hljs-value">{this.state.value}</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">Radio</span> <span class="hljs-attribute">style</span>=<span class="hljs-value">{radioStyle}</span> <span class="hljs-attribute">key</span>=<span class="hljs-value">"a"</span> <span class="hljs-attribute">value</span>=<span class="hljs-value">{1}</span>&gt;</span>Option A<span class="hljs-tag">&lt;/<span class="hljs-title">Radio</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">Radio</span> <span class="hljs-attribute">style</span>=<span class="hljs-value">{radioStyle}</span> <span class="hljs-attribute">key</span>=<span class="hljs-value">"b"</span> <span class="hljs-attribute">value</span>=<span class="hljs-value">{2}</span>&gt;</span>Option B<span class="hljs-tag">&lt;/<span class="hljs-title">Radio</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">Radio</span> <span class="hljs-attribute">style</span>=<span class="hljs-value">{radioStyle}</span> <span class="hljs-attribute">key</span>=<span class="hljs-value">"c"</span> <span class="hljs-attribute">value</span>=<span class="hljs-value">{3}</span>&gt;</span>Option C<span class="hljs-tag">&lt;/<span class="hljs-title">Radio</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">Radio</span> <span class="hljs-attribute">style</span>=<span class="hljs-value">{radioStyle}</span> <span class="hljs-attribute">key</span>=<span class="hljs-value">"d"</span> <span class="hljs-attribute">value</span>=<span class="hljs-value">{4}</span>&gt;</span>
          More...
          {this.state.value === 4 ? <span class="hljs-tag">&lt;<span class="hljs-title">Input</span> <span class="hljs-attribute">style</span>=<span class="hljs-value">{{</span> <span class="hljs-attribute">width:</span> <span class="hljs-attribute">100</span>, <span class="hljs-attribute">marginLeft:</span> <span class="hljs-attribute">10</span> }} /&gt;</span> : null}
        <span class="hljs-tag">&lt;/<span class="hljs-title">Radio</span>&gt;</span>
      <span class="hljs-tag">&lt;/<span class="hljs-title">RadioGroup</span>&gt;</span>
    )</span>;
  }
});

ReactDOM.render(<span class="xml"><span class="hljs-tag">&lt;<span class="hljs-title">App</span> /&gt;</span>, mountNode);</span></code></pre></div>
  </div>
  <div class="code-box-meta markdown">
    <div class="code-box-title">
      <a href="#demo-radiogroup-more">RadioGroup 垂直</a>
    </div>
    
<p>垂直的 RadioGroup，配合更多输入框选项。</p>

    <span class="collapse anticon anticon-circle-o-right" unselectable="none"></span>
  </div>
</div>