<div class="code-box" id="demo-size">
  <div class="code-box-demo">
    <div id="components-radio-demo-size"></div>
    <script>mountNode = document.getElementById('components-radio-demo-size');</script>
    <script>(function(){"use strict";

var _antd = require("antd");

var RadioButton = _antd.Radio.Button;
var RadioGroup = _antd.Radio.Group;

ReactDOM.render(React.createElement(
  "div",
  null,
  React.createElement(
    "div",
    null,
    React.createElement(
      RadioGroup,
      { defaultValue: "a", size: "large" },
      React.createElement(
        RadioButton,
        { value: "a" },
        "\u676D\u5DDE"
      ),
      React.createElement(
        RadioButton,
        { value: "b" },
        "\u4E0A\u6D77"
      ),
      React.createElement(
        RadioButton,
        { value: "c" },
        "\u5317\u4EAC"
      ),
      React.createElement(
        RadioButton,
        { value: "d" },
        "\u6210\u90FD"
      )
    )
  ),
  React.createElement(
    "div",
    { style: { marginTop: 16 } },
    React.createElement(
      RadioGroup,
      { defaultValue: "a" },
      React.createElement(
        RadioButton,
        { value: "a" },
        "\u676D\u5DDE"
      ),
      React.createElement(
        RadioButton,
        { value: "b" },
        "\u4E0A\u6D77"
      ),
      React.createElement(
        RadioButton,
        { value: "c" },
        "\u5317\u4EAC"
      ),
      React.createElement(
        RadioButton,
        { value: "d" },
        "\u6210\u90FD"
      )
    )
  ),
  React.createElement(
    "div",
    { style: { marginTop: 16 } },
    React.createElement(
      RadioGroup,
      { defaultValue: "a", size: "small" },
      React.createElement(
        RadioButton,
        { value: "a" },
        "\u676D\u5DDE"
      ),
      React.createElement(
        RadioButton,
        { value: "b" },
        "\u4E0A\u6D77"
      ),
      React.createElement(
        RadioButton,
        { value: "c" },
        "\u5317\u4EAC"
      ),
      React.createElement(
        RadioButton,
        { value: "d" },
        "\u6210\u90FD"
      )
    )
  )
), mountNode);})()</script><div class="highlight"><pre><code class="javascript"><span class="hljs-keyword">import</span> { Radio } <span class="hljs-keyword">from</span> <span class="hljs-string">'antd'</span>;
<span class="hljs-keyword">const</span> RadioButton = Radio.Button;
<span class="hljs-keyword">const</span> RadioGroup = Radio.Group;

ReactDOM.render(<span class="xml"><span class="hljs-tag">&lt;<span class="hljs-title">div</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-title">div</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-title">RadioGroup</span> <span class="hljs-attribute">defaultValue</span>=<span class="hljs-value">"a"</span> <span class="hljs-attribute">size</span>=<span class="hljs-value">"large"</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-title">RadioButton</span> <span class="hljs-attribute">value</span>=<span class="hljs-value">"a"</span>&gt;</span>杭州<span class="hljs-tag">&lt;/<span class="hljs-title">RadioButton</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-title">RadioButton</span> <span class="hljs-attribute">value</span>=<span class="hljs-value">"b"</span>&gt;</span>上海<span class="hljs-tag">&lt;/<span class="hljs-title">RadioButton</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-title">RadioButton</span> <span class="hljs-attribute">value</span>=<span class="hljs-value">"c"</span>&gt;</span>北京<span class="hljs-tag">&lt;/<span class="hljs-title">RadioButton</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-title">RadioButton</span> <span class="hljs-attribute">value</span>=<span class="hljs-value">"d"</span>&gt;</span>成都<span class="hljs-tag">&lt;/<span class="hljs-title">RadioButton</span>&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-title">RadioGroup</span>&gt;</span>
  <span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">style</span>=<span class="hljs-value">{{</span> <span class="hljs-attribute">marginTop:</span> <span class="hljs-attribute">16</span> }}&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-title">RadioGroup</span> <span class="hljs-attribute">defaultValue</span>=<span class="hljs-value">"a"</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-title">RadioButton</span> <span class="hljs-attribute">value</span>=<span class="hljs-value">"a"</span>&gt;</span>杭州<span class="hljs-tag">&lt;/<span class="hljs-title">RadioButton</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-title">RadioButton</span> <span class="hljs-attribute">value</span>=<span class="hljs-value">"b"</span>&gt;</span>上海<span class="hljs-tag">&lt;/<span class="hljs-title">RadioButton</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-title">RadioButton</span> <span class="hljs-attribute">value</span>=<span class="hljs-value">"c"</span>&gt;</span>北京<span class="hljs-tag">&lt;/<span class="hljs-title">RadioButton</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-title">RadioButton</span> <span class="hljs-attribute">value</span>=<span class="hljs-value">"d"</span>&gt;</span>成都<span class="hljs-tag">&lt;/<span class="hljs-title">RadioButton</span>&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-title">RadioGroup</span>&gt;</span>
  <span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">style</span>=<span class="hljs-value">{{</span> <span class="hljs-attribute">marginTop:</span> <span class="hljs-attribute">16</span> }}&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-title">RadioGroup</span> <span class="hljs-attribute">defaultValue</span>=<span class="hljs-value">"a"</span> <span class="hljs-attribute">size</span>=<span class="hljs-value">"small"</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-title">RadioButton</span> <span class="hljs-attribute">value</span>=<span class="hljs-value">"a"</span>&gt;</span>杭州<span class="hljs-tag">&lt;/<span class="hljs-title">RadioButton</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-title">RadioButton</span> <span class="hljs-attribute">value</span>=<span class="hljs-value">"b"</span>&gt;</span>上海<span class="hljs-tag">&lt;/<span class="hljs-title">RadioButton</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-title">RadioButton</span> <span class="hljs-attribute">value</span>=<span class="hljs-value">"c"</span>&gt;</span>北京<span class="hljs-tag">&lt;/<span class="hljs-title">RadioButton</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-title">RadioButton</span> <span class="hljs-attribute">value</span>=<span class="hljs-value">"d"</span>&gt;</span>成都<span class="hljs-tag">&lt;/<span class="hljs-title">RadioButton</span>&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-title">RadioGroup</span>&gt;</span>
  <span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>, mountNode);</span></code></pre></div>
  </div>
  <div class="code-box-meta markdown">
    <div class="code-box-title">
      <a href="#demo-size">大小</a>
    </div>
    
<p>大中小三种组合，可以和表单输入框进行对应配合。</p>

    <span class="collapse anticon anticon-circle-o-right" unselectable="none"></span>
  </div>
</div>