<div class="code-box" id="picker-demo-disable-options">
  <div class="code-box-demo">
    <div id="components-time-picker-demo-disable-options"></div>
    <script>mountNode = document.getElementById('components-time-picker-demo-disable-options');</script>
    <script>(function(){'use strict';

var _antd = require('antd');

function newArray(start, end) {
  var result = [];
  for (var i = start; i < end; i++) {
    result.push(i);
  }
  return result;
}

function disabledHours() {
  var hours = newArray(0, 60);
  hours.splice(20, 4);
  return hours;
}

function disabledMinutes(h) {
  if (h === 20) {
    return newArray(0, 31);
  } else if (h === 23) {
    return newArray(30, 60);
  } else {
    return [];
  }
}

ReactDOM.render(React.createElement(_antd.TimePicker, { disabledHours: disabledHours, disabledMinutes: disabledMinutes }), mountNode);})()</script><div class="highlight"><pre><code class="javascript"><span class="hljs-keyword">import</span> { TimePicker } <span class="hljs-keyword">from</span> <span class="hljs-string">'antd'</span>;

<span class="hljs-function"><span class="hljs-keyword">function</span> <span class="hljs-title">newArray</span>(<span class="hljs-params">start, end</span>) </span>{
  <span class="hljs-keyword">let</span> result = [];
  <span class="hljs-keyword">for</span> (<span class="hljs-keyword">let</span> i = start; i &lt; end; i++) {
    result.push(i);
  }
  <span class="hljs-keyword">return</span> result;
}

<span class="hljs-function"><span class="hljs-keyword">function</span> <span class="hljs-title">disabledHours</span>(<span class="hljs-params"></span>) </span>{
  <span class="hljs-keyword">let</span> hours = newArray(<span class="hljs-number">0</span>, <span class="hljs-number">60</span>);
  hours.splice(<span class="hljs-number">20</span>, <span class="hljs-number">4</span>);
  <span class="hljs-keyword">return</span> hours;
}

<span class="hljs-function"><span class="hljs-keyword">function</span> <span class="hljs-title">disabledMinutes</span>(<span class="hljs-params">h</span>) </span>{
  <span class="hljs-keyword">if</span> (h === <span class="hljs-number">20</span>) {
    <span class="hljs-keyword">return</span> newArray(<span class="hljs-number">0</span>, <span class="hljs-number">31</span>);
  } <span class="hljs-keyword">else</span> <span class="hljs-keyword">if</span> (h === <span class="hljs-number">23</span>) {
    <span class="hljs-keyword">return</span> newArray(<span class="hljs-number">30</span>, <span class="hljs-number">60</span>);
  } <span class="hljs-keyword">else</span> {
    <span class="hljs-keyword">return</span> [];
  }
}

ReactDOM.render(
  <span class="xml"><span class="hljs-tag">&lt;<span class="hljs-title">TimePicker</span> <span class="hljs-attribute">disabledHours</span>=<span class="hljs-value">{disabledHours}</span> <span class="hljs-attribute">disabledMinutes</span>=<span class="hljs-value">{disabledMinutes}</span> /&gt;</span>
, mountNode);</span></code></pre></div>
  </div>
  <div class="code-box-meta markdown">
    <div class="code-box-title">
      <a href="#picker-demo-disable-options">禁止选项</a>
    </div>
    <p>限制选择 <code>20:30</code> 到 <code>23:30</code> 这个时间段。</p>
    <span class="collapse anticon anticon-circle-o-right" unselectable="none" style="-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;"></span>
  </div>
</div>