<div class="code-box" id="picker-demo-without-seconds">
  <div class="code-box-demo">
    <div id="components-time-picker-demo-without-seconds"></div>
    <script>mountNode = document.getElementById('components-time-picker-demo-without-seconds');</script>
    <script>(function(){"use strict";

var _antd = require("antd");

ReactDOM.render(React.createElement(_antd.TimePicker, { defaultValue: "12:08:23", format: "HH:mm" }), mountNode);})()</script><div class="highlight"><pre><code class="javascript"><span class="hljs-keyword">import</span> { TimePicker } <span class="hljs-keyword">from</span> <span class="hljs-string">'antd'</span>;

ReactDOM.render(
  <span class="xml"><span class="hljs-tag">&lt;<span class="hljs-title">TimePicker</span> <span class="hljs-attribute">defaultValue</span>=<span class="hljs-value">"12:08:23"</span> <span class="hljs-attribute">format</span>=<span class="hljs-value">"HH:mm"</span> /&gt;</span>
, mountNode);</span></code></pre></div>
  </div>
  <div class="code-box-meta markdown">
    <div class="code-box-title">
      <a href="#picker-demo-without-seconds">不展示秒</a>
    </div>
    <p>不展示秒，也不允许选择。</p>
    <span class="collapse anticon anticon-circle-o-right" unselectable="none" style="-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;"></span>
  </div>
</div>