<div class="code-box" id="demo-coordinate">
  <div class="code-box-demo">
    <div id="components-select-demo-coordinate"></div>
    <script>mountNode = document.getElementById('components-select-demo-coordinate');</script>
    <script>(function(){'use strict';

var _antd = require('antd');

var Option = _antd.Select.Option;

var provinceData = ['浙江', '江苏'];
var cityData = {
  浙江: ['杭州', '宁波', '温州'],
  江苏: ['南京', '苏州', '镇江']
};

var App = React.createClass({
  displayName: 'App',
  getInitialState: function getInitialState() {
    return {
      cities: cityData[provinceData[0]],
      secondCity: cityData[provinceData[0]][0]
    };
  },
  handleProvinceChange: function handleProvinceChange(value) {
    this.setState({
      cities: cityData[value],
      secondCity: cityData[value][0]
    });
  },
  onSecondCityChange: function onSecondCityChange(value) {
    this.setState({
      secondCity: value
    });
  },
  render: function render() {
    var provinceOptions = provinceData.map(function (province) {
      return React.createElement(
        Option,
        { key: province },
        province
      );
    });
    var cityOptions = this.state.cities.map(function (city) {
      return React.createElement(
        Option,
        { key: city },
        city
      );
    });
    return React.createElement(
      'div',
      null,
      React.createElement(
        _antd.Select,
        { defaultValue: provinceData[0], style: { width: 90 }, onChange: this.handleProvinceChange },
        provinceOptions
      ),
      React.createElement(
        _antd.Select,
        { value: this.state.secondCity, style: { width: 90 }, onChange: this.onSecondCityChange },
        cityOptions
      )
    );
  }
});
ReactDOM.render(React.createElement(App, null), mountNode);})()</script><div class="highlight"><pre><code class="javascript"><span class="hljs-keyword">import</span> { Select } <span class="hljs-keyword">from</span> <span class="hljs-string">'antd'</span>;
<span class="hljs-keyword">const</span> Option = Select.Option;

<span class="hljs-keyword">const</span> provinceData = [<span class="hljs-string">'浙江'</span>, <span class="hljs-string">'江苏'</span>];
<span class="hljs-keyword">const</span> cityData = {
  浙江: [<span class="hljs-string">'杭州'</span>, <span class="hljs-string">'宁波'</span>, <span class="hljs-string">'温州'</span>],
  江苏: [<span class="hljs-string">'南京'</span>, <span class="hljs-string">'苏州'</span>, <span class="hljs-string">'镇江'</span>]
};


<span class="hljs-keyword">const</span> App = React.createClass({
  getInitialState() {
    <span class="hljs-keyword">return</span> {
      cities: cityData[provinceData[<span class="hljs-number">0</span>]],
      secondCity: cityData[provinceData[<span class="hljs-number">0</span>]][<span class="hljs-number">0</span>]
    };
  },
  handleProvinceChange(value) {
    <span class="hljs-keyword">this</span>.setState({
      cities: cityData[value],
      secondCity: cityData[value][<span class="hljs-number">0</span>]
    });
  },
  onSecondCityChange(value) {
    <span class="hljs-keyword">this</span>.setState({
      secondCity: value
    });
  },
  render() {
    <span class="hljs-keyword">const</span> provinceOptions = provinceData.map(province =&gt; <span class="xml"><span class="hljs-tag">&lt;<span class="hljs-title">Option</span> <span class="hljs-attribute">key</span>=<span class="hljs-value">{province}</span>&gt;</span>{province}<span class="hljs-tag">&lt;/<span class="hljs-title">Option</span>&gt;</span>)</span>;
    <span class="hljs-keyword">const</span> cityOptions = <span class="hljs-keyword">this</span>.state.cities.map(city =&gt; <span class="xml"><span class="hljs-tag">&lt;<span class="hljs-title">Option</span> <span class="hljs-attribute">key</span>=<span class="hljs-value">{city}</span>&gt;</span>{city}<span class="hljs-tag">&lt;/<span class="hljs-title">Option</span>&gt;</span>)</span>;
    <span class="hljs-keyword">return</span> (
      <span class="xml"><span class="hljs-tag">&lt;<span class="hljs-title">div</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">Select</span> <span class="hljs-attribute">defaultValue</span>=<span class="hljs-value">{provinceData[0]}</span> <span class="hljs-attribute">style</span>=<span class="hljs-value">{{</span> <span class="hljs-attribute">width:</span> <span class="hljs-attribute">90</span> }} <span class="hljs-attribute">onChange</span>=<span class="hljs-value">{this.handleProvinceChange}</span>&gt;</span>
          {provinceOptions}
        <span class="hljs-tag">&lt;/<span class="hljs-title">Select</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">Select</span> <span class="hljs-attribute">value</span>=<span class="hljs-value">{this.state.secondCity}</span> <span class="hljs-attribute">style</span>=<span class="hljs-value">{{</span> <span class="hljs-attribute">width:</span> <span class="hljs-attribute">90</span> }} <span class="hljs-attribute">onChange</span>=<span class="hljs-value">{this.onSecondCityChange}</span>&gt;</span>
          {cityOptions}
        <span class="hljs-tag">&lt;/<span class="hljs-title">Select</span>&gt;</span>
      <span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
    )</span>;
  }
});
ReactDOM.render(<span class="xml"><span class="hljs-tag">&lt;<span class="hljs-title">App</span> /&gt;</span>, mountNode);</span></code></pre></div>
  </div>
  <div class="code-box-meta markdown">
    <div class="code-box-title">
      <a href="#demo-coordinate">联动</a>
    </div>
    
<p>省市联动是典型的例子。</p>
<p>推荐使用 <a href="/components/cascader/">cascader</a> 组件。</p>

    <span class="collapse anticon anticon-circle-o-right" unselectable="none"></span>
  </div>
</div>