<div class="code-box" id="demo-search-box">
  <div class="code-box-demo">
    <div id="components-select-demo-search-box"></div>
    <script>mountNode = document.getElementById('components-select-demo-search-box');</script>
    <script>(function(){'use strict';

var _antd = require('antd');

var _jsonp = require('jsonp');

var _jsonp2 = _interopRequireDefault(_jsonp);

var _querystring = require('querystring');

var _querystring2 = _interopRequireDefault(_querystring);

var _classnames = require('classnames');

var _classnames2 = _interopRequireDefault(_classnames);

function _interopRequireDefault(obj) { return obj && obj.__esModule ? obj : { default: obj }; }

var Option = _antd.Select.Option;

var timeout = void 0;
var currentValue = void 0;

function fetch(value, callback) {
  if (timeout) {
    clearTimeout(timeout);
    timeout = null;
  }
  currentValue = value;

  function fake() {
    var str = _querystring2.default.encode({
      code: 'utf-8',
      q: value
    });
    (0, _jsonp2.default)('http://suggest.taobao.com/sug?' + str, function (err, d) {
      if (currentValue === value) {
        var result = d.result;
        var data = [];
        result.forEach(function (r) {
          data.push({
            value: r[0],
            text: r[0]
          });
        });
        callback(data);
      }
    });
  }

  timeout = setTimeout(fake, 300);
}

var SearchInput = React.createClass({
  displayName: 'SearchInput',
  getInitialState: function getInitialState() {
    return {
      data: [],
      value: '',
      focus: false
    };
  },
  handleChange: function handleChange(value) {
    var _this = this;

    this.setState({ value: value });
    fetch(value, function (data) {
      return _this.setState({ data: data });
    });
  },
  handleSubmit: function handleSubmit() {
    console.log('输入框内容是: ', this.state.value);
  },
  handleFocusBlur: function handleFocusBlur(e) {
    this.setState({
      focus: e.target === document.activeElement
    });
  },
  render: function render() {
    var btnCls = (0, _classnames2.default)({
      'ant-search-btn': true,
      'ant-search-btn-noempty': !!this.state.value.trim()
    });
    var searchCls = (0, _classnames2.default)({
      'ant-search-input': true,
      'ant-search-input-focus': this.state.focus
    });
    var options = this.state.data.map(function (d) {
      return React.createElement(
        Option,
        { key: d.value },
        d.text
      );
    });
    return React.createElement(
      _antd.Input.Group,
      { className: searchCls, style: this.props.style },
      React.createElement(
        _antd.Select,
        {
          combobox: true,
          value: this.state.value,
          searchPlaceholder: this.props.placeholder,
          notFoundContent: '',
          defaultActiveFirstOption: false,
          showArrow: false,
          filterOption: false,
          onChange: this.handleChange,
          onFocus: this.handleFocusBlur,
          onBlur: this.handleFocusBlur },
        options
      ),
      React.createElement(
        'div',
        { className: 'ant-input-group-wrap' },
        React.createElement(
          _antd.Button,
          { className: btnCls, onClick: this.handleSubmit },
          React.createElement(_antd.Icon, { type: 'search' })
        )
      )
    );
  }
});

ReactDOM.render(React.createElement(SearchInput, { placeholder: 'input search text', style: { width: 200 } }), mountNode);})()</script><div class="highlight"><pre><code class="javascript"><span class="hljs-keyword">import</span> { Input, Select, Button, Icon } <span class="hljs-keyword">from</span> <span class="hljs-string">'antd'</span>;
<span class="hljs-keyword">import</span> jsonp <span class="hljs-keyword">from</span> <span class="hljs-string">'jsonp'</span>;
<span class="hljs-keyword">import</span> querystring <span class="hljs-keyword">from</span> <span class="hljs-string">'querystring'</span>;
<span class="hljs-keyword">import</span> classNames <span class="hljs-keyword">from</span> <span class="hljs-string">'classnames'</span>;
<span class="hljs-keyword">const</span> Option = Select.Option;

<span class="hljs-keyword">let</span> timeout;
<span class="hljs-keyword">let</span> currentValue;

<span class="hljs-function"><span class="hljs-keyword">function</span> <span class="hljs-title">fetch</span>(<span class="hljs-params">value, callback</span>) </span>{
  <span class="hljs-keyword">if</span> (timeout) {
    clearTimeout(timeout);
    timeout = <span class="hljs-literal">null</span>;
  }
  currentValue = value;

  <span class="hljs-function"><span class="hljs-keyword">function</span> <span class="hljs-title">fake</span>(<span class="hljs-params"></span>) </span>{
    <span class="hljs-keyword">const</span> str = querystring.encode({
      code: <span class="hljs-string">'utf-8'</span>,
      q: value,
    });
    jsonp(<span class="hljs-string">`http://suggest.taobao.com/sug?<span class="hljs-subst">${str}</span>`</span>, (err, d) =&gt; {
      <span class="hljs-keyword">if</span> (currentValue === value) {
        <span class="hljs-keyword">const</span> result = d.result;
        <span class="hljs-keyword">const</span> data = [];
        result.forEach((r) =&gt; {
          data.push({
            value: r[<span class="hljs-number">0</span>],
            text: r[<span class="hljs-number">0</span>],
          });
        });
        callback(data);
      }
    });
  }

  timeout = setTimeout(fake, <span class="hljs-number">300</span>);
}

<span class="hljs-keyword">const</span> SearchInput = React.createClass({
  getInitialState() {
    <span class="hljs-keyword">return</span> {
      data: [],
      value: <span class="hljs-string">''</span>,
      focus: <span class="hljs-literal">false</span>,
    };
  },
  handleChange(value) {
    <span class="hljs-keyword">this</span>.setState({ value });
    fetch(value, (data) =&gt; <span class="hljs-keyword">this</span>.setState({ data }));
  },
  handleSubmit() {
    <span class="hljs-built_in">console</span>.log(<span class="hljs-string">'输入框内容是: '</span>, <span class="hljs-keyword">this</span>.state.value);
  },
  handleFocusBlur(e) {
    <span class="hljs-keyword">this</span>.setState({
      focus: e.target === <span class="hljs-built_in">document</span>.activeElement,
    });
  },
  render() {
    <span class="hljs-keyword">const</span> btnCls = classNames({
      <span class="hljs-string">'ant-search-btn'</span>: <span class="hljs-literal">true</span>,
      <span class="hljs-string">'ant-search-btn-noempty'</span>: !!<span class="hljs-keyword">this</span>.state.value.trim(),
    });
    <span class="hljs-keyword">const</span> searchCls = classNames({
      <span class="hljs-string">'ant-search-input'</span>: <span class="hljs-literal">true</span>,
      <span class="hljs-string">'ant-search-input-focus'</span>: <span class="hljs-keyword">this</span>.state.focus,
    });
    <span class="hljs-keyword">const</span> options = <span class="hljs-keyword">this</span>.state.data.map(d =&gt; <span class="xml"><span class="hljs-tag">&lt;<span class="hljs-title">Option</span> <span class="hljs-attribute">key</span>=<span class="hljs-value">{d.value}</span>&gt;</span>{d.text}<span class="hljs-tag">&lt;/<span class="hljs-title">Option</span>&gt;</span>)</span>;
    <span class="hljs-keyword">return</span> (
      <span class="xml"><span class="hljs-tag">&lt;<span class="hljs-title">Input.Group</span> <span class="hljs-attribute">className</span>=<span class="hljs-value">{searchCls}</span> <span class="hljs-attribute">style</span>=<span class="hljs-value">{this.props.style}</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">Select</span>
          <span class="hljs-attribute">combobox</span>
          <span class="hljs-attribute">value</span>=<span class="hljs-value">{this.state.value}</span>
          <span class="hljs-attribute">searchPlaceholder</span>=<span class="hljs-value">{this.props.placeholder}</span>
          <span class="hljs-attribute">notFoundContent</span>=<span class="hljs-value">""</span>
          <span class="hljs-attribute">defaultActiveFirstOption</span>=<span class="hljs-value">{false}</span>
          <span class="hljs-attribute">showArrow</span>=<span class="hljs-value">{false}</span>
          <span class="hljs-attribute">filterOption</span>=<span class="hljs-value">{false}</span>
          <span class="hljs-attribute">onChange</span>=<span class="hljs-value">{this.handleChange}</span>
          <span class="hljs-attribute">onFocus</span>=<span class="hljs-value">{this.handleFocusBlur}</span>
          <span class="hljs-attribute">onBlur</span>=<span class="hljs-value">{this.handleFocusBlur}</span>&gt;</span>
          {options}
        <span class="hljs-tag">&lt;/<span class="hljs-title">Select</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">className</span>=<span class="hljs-value">"ant-input-group-wrap"</span>&gt;</span>
          <span class="hljs-tag">&lt;<span class="hljs-title">Button</span> <span class="hljs-attribute">className</span>=<span class="hljs-value">{btnCls}</span> <span class="hljs-attribute">onClick</span>=<span class="hljs-value">{this.handleSubmit}</span>&gt;</span>
            <span class="hljs-tag">&lt;<span class="hljs-title">Icon</span> <span class="hljs-attribute">type</span>=<span class="hljs-value">"search"</span> /&gt;</span>
          <span class="hljs-tag">&lt;/<span class="hljs-title">Button</span>&gt;</span>
        <span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
      <span class="hljs-tag">&lt;/<span class="hljs-title">Input.Group</span>&gt;</span>
    )</span>;
  },
});

ReactDOM.render(
  <span class="xml"><span class="hljs-tag">&lt;<span class="hljs-title">SearchInput</span> <span class="hljs-attribute">placeholder</span>=<span class="hljs-value">"input search text"</span> <span class="hljs-attribute">style</span>=<span class="hljs-value">{{</span> <span class="hljs-attribute">width:</span> <span class="hljs-attribute">200</span> }} /&gt;</span>
, mountNode);</span></code></pre></div>
  </div>
  <div class="code-box-meta markdown">
    <div class="code-box-title">
      <a href="#demo-search-box">搜索框</a>
    </div>
    
<p>带有搜索按钮的自动补全输入框。</p>

    <span class="collapse anticon anticon-circle-o-right" unselectable="none"></span>
  </div>
</div>