<div class="code-box" id="demo-search">
  <div class="code-box-demo">
    <div id="components-select-demo-search"></div>
    <script>mountNode = document.getElementById('components-select-demo-search');</script>
    <script>(function(){"use strict";

var _antd = require("antd");

var Option = _antd.Select.Option;

function handleChange(value) {
  console.log("selected " + value);
}

ReactDOM.render(React.createElement(
  _antd.Select,
  { showSearch: true,
    style: { width: 200 },
    placeholder: "\u8BF7\u9009\u62E9\u4EBA\u5458",
    optionFilterProp: "children",
    notFoundContent: "\u65E0\u6CD5\u627E\u5230",
    searchPlaceholder: "\u8F93\u5165\u5173\u952E\u8BCD",
    onChange: handleChange },
  React.createElement(
    Option,
    { value: "jack" },
    "\u6770\u514B"
  ),
  React.createElement(
    Option,
    { value: "lucy" },
    "\u9732\u897F"
  ),
  React.createElement(
    Option,
    { value: "tom" },
    "\u6C64\u59C6"
  )
), mountNode);})()</script><div class="highlight"><pre><code class="javascript"><span class="hljs-keyword">import</span> { Select } <span class="hljs-keyword">from</span> <span class="hljs-string">'antd'</span>;
<span class="hljs-keyword">const</span> Option = Select.Option;

<span class="hljs-function"><span class="hljs-keyword">function</span> <span class="hljs-title">handleChange</span>(<span class="hljs-params">value</span>) </span>{
  <span class="hljs-built_in">console</span>.log(<span class="hljs-string">`selected <span class="hljs-subst">${value}</span>`</span>);
}

ReactDOM.render(
  <span class="xml"><span class="hljs-tag">&lt;<span class="hljs-title">Select</span> <span class="hljs-attribute">showSearch</span>
    <span class="hljs-attribute">style</span>=<span class="hljs-value">{{</span> <span class="hljs-attribute">width:</span> <span class="hljs-attribute">200</span> }}
    <span class="hljs-attribute">placeholder</span>=<span class="hljs-value">"请选择人员"</span>
    <span class="hljs-attribute">optionFilterProp</span>=<span class="hljs-value">"children"</span>
    <span class="hljs-attribute">notFoundContent</span>=<span class="hljs-value">"无法找到"</span>
    <span class="hljs-attribute">searchPlaceholder</span>=<span class="hljs-value">"输入关键词"</span>
    <span class="hljs-attribute">onChange</span>=<span class="hljs-value">{handleChange}</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-title">Option</span> <span class="hljs-attribute">value</span>=<span class="hljs-value">"jack"</span>&gt;</span>杰克<span class="hljs-tag">&lt;/<span class="hljs-title">Option</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-title">Option</span> <span class="hljs-attribute">value</span>=<span class="hljs-value">"lucy"</span>&gt;</span>露西<span class="hljs-tag">&lt;/<span class="hljs-title">Option</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-title">Option</span> <span class="hljs-attribute">value</span>=<span class="hljs-value">"tom"</span>&gt;</span>汤姆<span class="hljs-tag">&lt;/<span class="hljs-title">Option</span>&gt;</span>
  <span class="hljs-tag">&lt;/<span class="hljs-title">Select</span>&gt;</span>
, mountNode);</span></code></pre></div>
  </div>
  <div class="code-box-meta markdown">
    <div class="code-box-title">
      <a href="#demo-search">带搜索框</a>
    </div>
    
<p>在浮层内顶部有搜索框的单项选择器。</p>

    <span class="collapse anticon anticon-circle-o-right" unselectable="none"></span>
  </div>
</div>