<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <meta name="description" content="一个 UI 设计语言"/>
    <title>
Button 按钮 - Ant Design
</title>
    <link rel="icon" href="https://t.alipayobjects.com/images/T1QUBfXo4fXXXXXXXX.png" type="image/x-icon">
    <link rel="shortcut icon" href="https://t.alipayobjects.com/images/T1QUBfXo4fXXXXXXXX.png" type="image/x-icon">
    
    <link rel="stylesheet" href="../../dist/antd-0.9.2.min.css">
    <link rel="stylesheet" href="../../static/style.css">
    <link rel="stylesheet" href="../../static/tomorrow.css">
    <script>
      (function (con) {
        'use strict';
        var prop, method;
        var empty = {};
        var dummy = function () {
        };
        var properties = 'memory'.split(',');
        var methods = ('assert,clear,count,debug,dir,dirxml,error,exception,group,' +
                       'groupCollapsed,groupEnd,info,log,markTimeline,profile,profiles,profileEnd,' +
                       'show,table,time,timeEnd,timeline,timelineEnd,timeStamp,trace,warn').split(',');
        while (prop = properties.pop()) {
          con[prop] = con[prop] || empty;
        }
        while (method = methods.pop()) {
          con[method] = con[method] || dummy;
        }
      })(this.console = this.console || {});
    </script>
    <script src="https://a.alipayobjects.com/??bluebird/2.9.30/bluebird.js,jquery/jquery/1.11.1/jquery.js,es5-shim/4.1.10/es5-shim.js,es5-shim/4.1.10/es5-sham.js,html5shiv/3.7.2/src/html5shiv.js,react/0.13.3/react.js"></script>
    <script>
    (function() {
      window.ANT_COMPONENTS = [];
      window.InstantClickChangeFns = [];
      ANT_COMPONENTS.push({
        title: 'Notification',
        desc: '通知提醒框'
      });
      ANT_COMPONENTS.push({
        title: 'Affix',
        desc: '固钉'
      });
      ANT_COMPONENTS.push({
        title: 'Badge',
        desc: '徽标数'
      });
      ANT_COMPONENTS.push({
        title: 'Breadcrumb',
        desc: '面包屑'
      });
      ANT_COMPONENTS.push({
        title: 'Button',
        desc: '按钮'
      });
      ANT_COMPONENTS.push({
        title: 'Carousel',
        desc: '走马灯'
      });
      ANT_COMPONENTS.push({
        title: 'Checkbox',
        desc: '多选框'
      });
      ANT_COMPONENTS.push({
        title: 'Collapse',
        desc: '折叠面板'
      });
      ANT_COMPONENTS.push({
        title: 'Datepicker',
        desc: '日期选择框'
      });
      ANT_COMPONENTS.push({
        title: 'Dropdown',
        desc: '下拉菜单'
      });
      ANT_COMPONENTS.push({
        title: 'EnterAnimation',
        desc: '进场动画'
      });
      ANT_COMPONENTS.push({
        title: 'Form',
        desc: '表单'
      });
      ANT_COMPONENTS.push({
        title: 'Iconfont',
        desc: '字体图标'
      });
      ANT_COMPONENTS.push({
        title: 'InputNumber',
        desc: '数字输入框'
      });
      ANT_COMPONENTS.push({
        title: 'Layout',
        desc: '布局'
      });
      ANT_COMPONENTS.push({
        title: 'Menu',
        desc: '导航菜单'
      });
      ANT_COMPONENTS.push({
        title: 'Message',
        desc: '全局提示'
      });
      ANT_COMPONENTS.push({
        title: 'Modal',
        desc: '对话框'
      });
      ANT_COMPONENTS.push({
        title: 'Alert',
        desc: '警告提示'
      });
      ANT_COMPONENTS.push({
        title: 'Pagination',
        desc: '分页'
      });
      ANT_COMPONENTS.push({
        title: 'Popconfirm',
        desc: '气泡确认框'
      });
      ANT_COMPONENTS.push({
        title: 'Popover',
        desc: '气泡卡片'
      });
      ANT_COMPONENTS.push({
        title: 'Progress',
        desc: '进度条'
      });
      ANT_COMPONENTS.push({
        title: 'Radio',
        desc: '单选框'
      });
      ANT_COMPONENTS.push({
        title: 'Select',
        desc: '选择器'
      });
      ANT_COMPONENTS.push({
        title: 'Slider',
        desc: '滑动输入条'
      });
      ANT_COMPONENTS.push({
        title: 'Steps',
        desc: '步骤条'
      });
      ANT_COMPONENTS.push({
        title: 'Switch',
        desc: '开关'
      });
      ANT_COMPONENTS.push({
        title: 'Table',
        desc: '表格'
      });
      ANT_COMPONENTS.push({
        title: 'Tabs',
        desc: '标签页'
      });
      ANT_COMPONENTS.push({
        title: 'Tag',
        desc: '标签'
      });
      ANT_COMPONENTS.push({
        title: 'Timeline',
        desc: '时间轴'
      });
      ANT_COMPONENTS.push({
        title: 'Tooltip',
        desc: '文字提示'
      });
      ANT_COMPONENTS.push({
        title: 'Tree',
        desc: '树形控件'
      });
      ANT_COMPONENTS.push({
        title: 'Upload',
        desc: '文件上传'
      });
      ANT_COMPONENTS.push({
        title: 'Validation',
        desc: '表单校验'
      });
      var i = location.pathname.split('/').lastIndexOf('ant-design');
      if (i > 0) {
        window.rootUrl = location.origin + location.pathname.split('/').slice(0, 2+1).join('/');
      } else {
        window.rootUrl = location.origin;
      }
    })();
    </script>
    <script src="../../static/script.js"></script>
    <script>
      window.antdVersion = {
        latest: '0.9.2',
        stable: '0.9.2'
      };
    </script>
    <script src="../../dist/antd-0.9.2.min.js"></script>
    <script src="../../dist/demo.js"></script>
    <script>
      window.require = function (path) {
        var result = window;
        var namespaces = path.split('/');
        namespaces.forEach(function (key, i) {
          if (i !== 0 && i === namespaces.length - 1) {
            key = capitalizeFirstLetter(key);
          }
          if (key !== 'lib') {
            if (result[key]) {
              result = result[key];
            } else {
              throw 'There should not have modules here 2.';
            }
          }
        });
        function capitalizeFirstLetter(string) {
          return string.charAt(0).toUpperCase() + string.slice(1);
        }

        return result;
      };
    </script>
    
  </head>
  <body >
    <header id="header" class="clearfix">
      <a class="logo" href="../..">
        <img width="60" src="https://t.alipayobjects.com/images/rmsweb/T1B9hfXcdvXXXXXXXX.svg">
        Ant Design
      </a>
      <div class="search">
        <div id="autoComplete"></div>
      </div>
      <nav class="nav">
        <span class="bar"></span>
        <ul>
          <li class="">
            <a href="../.." data-no-instant>首页</a>
          </li>
          <li class="">
            <a href="../../spec/introduce">设计</a>
          </li>
          <li>
            <a class="nav-link-disabled" href="">案例</a>
          </li>
          <li class="current">
            <a href="../../docs/introduce">React</a>
          </li>
          <li>
            <a target="_blank" href="https://github.com/ant-design/ant-design">Github</a>
          </li>
        </ul>
      </nav>
      <div class="nav-phone-icon"></div>
    </header>
    <div class="main-wrapper">
      
<aside class="aside-container">
  <ul>
      <li class="">
        <a href="../../docs/introduce" class="">
          Ant Design of React
          <span class="chinese"></span>
        </a>
      </li>
      <li class="">
        <a href="../../docs/getting-started" class="">
          快速上手
          <span class="chinese"></span>
        </a>
      </li>
      <li class="">
        <a href="../../docs/download" class="">
          下载
          <span class="chinese"></span>
        </a>
      </li>
      <li class="">
        <a href="../../changelog" class="">
          更新日志
          <span class="chinese"></span>
        </a>
      </li>
    <li open="open">
      <h4>Components</h4>
      <ul class="">
          <li class="type-divider">基本</li>
          <li class="current">
            <a href="./"
               class="">
              Button
              <span class="chinese">按钮</span>
            </a>
          </li>
          <li class="">
            <a href="../iconfont/"
               class=""data-no-instant>
              Iconfont
              <span class="chinese">字体图标</span>
            </a>
          </li>
          <li class="">
            <a href="../layout/"
               class="">
              Layout
              <span class="chinese">布局</span>
            </a>
          </li>
          <li class="type-divider">表单</li>
          <li class="">
            <a href="../checkbox/"
               class="">
              Checkbox
              <span class="chinese">多选框</span>
            </a>
          </li>
          <li class="">
            <a href="../datepicker/"
               class="">
              Datepicker
              <span class="chinese">日期选择框</span>
            </a>
          </li>
          <li class="">
            <a href="../form/"
               class="">
              Form
              <span class="chinese">表单</span>
            </a>
          </li>
          <li class="">
            <a href="../input-number/"
               class="">
              InputNumber
              <span class="chinese">数字输入框</span>
            </a>
          </li>
          <li class="">
            <a href="../radio/"
               class="">
              Radio
              <span class="chinese">单选框</span>
            </a>
          </li>
          <li class="">
            <a href="../select/"
               class="">
              Select
              <span class="chinese">选择器</span>
            </a>
          </li>
          <li class="">
            <a href="../slider/"
               class="">
              Slider
              <span class="chinese">滑动输入条</span>
            </a>
          </li>
          <li class="">
            <a href="../switch/"
               class="">
              Switch
              <span class="chinese">开关</span>
            </a>
          </li>
          <li class="">
            <a href="../upload/"
               class="">
              Upload
              <span class="chinese">文件上传</span>
            </a>
          </li>
          <li class="">
            <a href="../validation/"
               class="">
              Validation
              <span class="chinese">表单校验</span>
            </a>
          </li>
          <li class="type-divider">展示</li>
          <li class="">
            <a href="../alert/"
               class="">
              Alert
              <span class="chinese">警告提示</span>
            </a>
          </li>
          <li class="">
            <a href="../badge/"
               class="">
              Badge
              <span class="chinese">徽标数</span>
            </a>
          </li>
          <li class="">
            <a href="../carousel/"
               class="">
              Carousel
              <span class="chinese">走马灯</span>
            </a>
          </li>
          <li class="">
            <a href="../collapse/"
               class="">
              Collapse
              <span class="chinese">折叠面板</span>
            </a>
          </li>
          <li class="">
            <a href="../dropdown/"
               class="">
              Dropdown
              <span class="chinese">下拉菜单</span>
            </a>
          </li>
          <li class="">
            <a href="../message/"
               class="">
              Message
              <span class="chinese">全局提示</span>
            </a>
          </li>
          <li class="">
            <a href="../modal/"
               class="">
              Modal
              <span class="chinese">对话框</span>
            </a>
          </li>
          <li class="">
            <a href="../notification/"
               class="">
              Notification
              <span class="chinese">通知提醒框</span>
            </a>
          </li>
          <li class="">
            <a href="../popconfirm/"
               class="">
              Popconfirm
              <span class="chinese">气泡确认框</span>
            </a>
          </li>
          <li class="">
            <a href="../popover/"
               class="">
              Popover
              <span class="chinese">气泡卡片</span>
            </a>
          </li>
          <li class="">
            <a href="../progress/"
               class="">
              Progress
              <span class="chinese">进度条</span>
            </a>
          </li>
          <li class="">
            <a href="../table/"
               class="">
              Table
              <span class="chinese">表格</span>
            </a>
          </li>
          <li class="">
            <a href="../tag/"
               class="">
              Tag
              <span class="chinese">标签</span>
            </a>
          </li>
          <li class="">
            <a href="../timeline/"
               class="">
              Timeline
              <span class="chinese">时间轴</span>
            </a>
          </li>
          <li class="">
            <a href="../tooltip/"
               class="">
              Tooltip
              <span class="chinese">文字提示</span>
            </a>
          </li>
          <li class="">
            <a href="../tree/"
               class="">
              Tree
              <span class="chinese">树形控件</span>
            </a>
          </li>
          <li class="type-divider">导航</li>
          <li class="">
            <a href="../breadcrumb/"
               class="">
              Breadcrumb
              <span class="chinese">面包屑</span>
            </a>
          </li>
          <li class="">
            <a href="../menu/"
               class="">
              Menu
              <span class="chinese">导航菜单</span>
            </a>
          </li>
          <li class="">
            <a href="../pagination/"
               class="">
              Pagination
              <span class="chinese">分页</span>
            </a>
          </li>
          <li class="">
            <a href="../steps/"
               class="">
              Steps
              <span class="chinese">步骤条</span>
            </a>
          </li>
          <li class="">
            <a href="../tabs/"
               class="">
              Tabs
              <span class="chinese">标签页</span>
            </a>
          </li>
          <li class="type-divider">其他</li>
          <li class="">
            <a href="../affix/"
               class="">
              Affix
              <span class="chinese">固钉</span>
            </a>
          </li>
          <li class="">
            <a href="../enter-animation/"
               class="">
              EnterAnimation
              <span class="chinese">进场动画</span>
            </a>
          </li>
      </ul>
    </li>
  </ul>
</aside>
 
<section class="main-container">
  <article class="markdown">
    <h1>
      Button 按钮
    </h1>
    <p>按钮用于开始一个即时操作。</p>
<h2 id="何时使用">何时使用</h2><p>标记了一个（或封装一组）操作命令，响应用户点击行为，触发相应的业务逻辑。</p>
<h2 id="如何使用">如何使用</h2><ul>
<li><p>按钮的基础样式为 <code>ant-btn</code>。</p>
</li>
<li><p>通过类组装的形式来产生不同的按钮样式，推荐遵循如下顺序：</p>
<pre>.ant-btn
  &darr;
.ant-btn-primary | .ant-btn-ghost
  &darr;
.ant-btn-circle | .ant-btn-circle-outline
  &darr;
.ant-btn-lg | .ant-btn-sm</pre></li>
<li><p>按钮的样式参数说明如下：</p>
</li>
</ul>
<table>
<thead>
<tr>
<th>类名</th>
<th>说明</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>.ant-btn</code></td>
<td>按钮基础样式。</td>
</tr>
<tr>
<td><code>.ant-btn-primary</code> <code>.ant-btn-ghost</code></td>
<td>使用这些列出的类可以快速创建一个带有预定义样式的按钮。</td>
</tr>
<tr>
<td><code>.ant-btn-circle</code> <code>.ant-btn-circle-outline</code></td>
<td>用于创建圆形按钮，<code>.ant-btn-circle-outline</code> 为描边按钮。</td>
</tr>
<tr>
<td><code>.ant-btn-lg</code> <code>.ant-btn-sm</code></td>
<td>定义按钮大小尺寸，目前提供三种尺寸：大中小，默认为中。</td>
</tr>
<tr>
<td><code>.ant-btn-group</code></td>
<td>按钮组合，通过按钮组容器把一组按钮放在同一行里。</td>
</tr>
</tbody>
</table>
<blockquote>
<p>当按钮只有两个汉字时，需要在两字中加空格。</p>
</blockquote>

  </article>
<h2 class="component-demos">
  组件演示
  <i class="anticon anticon-appstore icon-all" title="展开全部代码"></i>
</h2>
<div class="code-boxes">
  <div class="code-boxes-col-2-1"><div class="code-box" id="demo-basic">
  <div class="code-box-demo">
    <div id="components-button-demo-basic"></div>
    <div class="nico-insert-code"><button class="ant-btn">Button</button>
<a href="javascript:;" class="ant-btn" role="button">Link</a>
<input class="ant-btn" type="button" value="Input" />
<input class="ant-btn" type="submit" value="Submit" />

<br>

<!-- Styled Button -->
<button class="ant-btn ant-btn-primary">主按钮</button>
<button class="ant-btn">次按钮</button>
<button class="ant-btn ant-btn-ghost">幽灵按钮</button></div><div class="highlight"><pre><code class="xml"><span class="tag">&lt;<span class="title">button</span> <span class="attribute">class</span>=<span class="value">"ant-btn"</span>&gt;</span>Button<span class="tag">&lt;/<span class="title">button</span>&gt;</span>
<span class="tag">&lt;<span class="title">a</span> <span class="attribute">href</span>=<span class="value">"javascript:;"</span> <span class="attribute">class</span>=<span class="value">"ant-btn"</span> <span class="attribute">role</span>=<span class="value">"button"</span>&gt;</span>Link<span class="tag">&lt;/<span class="title">a</span>&gt;</span>
<span class="tag">&lt;<span class="title">input</span> <span class="attribute">class</span>=<span class="value">"ant-btn"</span> <span class="attribute">type</span>=<span class="value">"button"</span> <span class="attribute">value</span>=<span class="value">"Input"</span> /&gt;</span>
<span class="tag">&lt;<span class="title">input</span> <span class="attribute">class</span>=<span class="value">"ant-btn"</span> <span class="attribute">type</span>=<span class="value">"submit"</span> <span class="attribute">value</span>=<span class="value">"Submit"</span> /&gt;</span>

<span class="tag">&lt;<span class="title">br</span>&gt;</span>

<span class="comment">&lt;!-- Styled Button --&gt;</span>
<span class="tag">&lt;<span class="title">button</span> <span class="attribute">class</span>=<span class="value">"ant-btn ant-btn-primary"</span>&gt;</span>主按钮<span class="tag">&lt;/<span class="title">button</span>&gt;</span>
<span class="tag">&lt;<span class="title">button</span> <span class="attribute">class</span>=<span class="value">"ant-btn"</span>&gt;</span>次按钮<span class="tag">&lt;/<span class="title">button</span>&gt;</span>
<span class="tag">&lt;<span class="title">button</span> <span class="attribute">class</span>=<span class="value">"ant-btn ant-btn-ghost"</span>&gt;</span>幽灵按钮<span class="tag">&lt;/<span class="title">button</span>&gt;</span></code></pre></div>
  </div>
  <div class="code-box-meta markdown">
    <div class="code-box-title">
      <a href="#demo-basic">标准按钮</a>
    </div>
    <p>为 <code>&lt;button&gt;</code> <code>&lt;a&gt;</code> 或 <code>&lt;input&gt;</code> 元素添加 <code>.ant-btn</code> 类即可使用 ant-design 提供的样式。</p>
<p>另外，通过使用下面的类可创建带有预定义样式的按钮，我们通过样式来显示重要程度的不同。</p>
<p><code>.ant-btn-primary</code> <code>.ant-btn-ghost</code></p>
<p>其中 <code>.ant-btn</code> 类定义了按钮的默认样式，语义上代表次按钮。</p>
<p><strong>注</strong>: 当按钮文字为两个字时，中间需要<strong>间隔一个字符</strong>。</p>
    <span class="collapse anticon anticon-circle-o-right" unselectable="none" style="-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;"></span>
  </div>
</div><div class="code-box" id="demo-status">
  <div class="code-box-demo">
    <div id="components-button-demo-status"></div>
    <div class="nico-insert-code"><button class="ant-btn ant-btn-primary">主按钮</button>
<button class="ant-btn ant-btn-primary disabled">主按钮(失效)</button>
<p></p>
<button class="ant-btn">次按钮</button>
<button class="ant-btn disabled">次按钮(失效)</button>
<p></p>
<button class="ant-btn ant-btn-ghost">幽灵按钮</button>
<button class="ant-btn ant-btn-ghost disabled">幽灵按钮(失效)</button></div><div class="highlight"><pre><code class="xml"><span class="tag">&lt;<span class="title">button</span> <span class="attribute">class</span>=<span class="value">"ant-btn ant-btn-primary"</span>&gt;</span>主按钮<span class="tag">&lt;/<span class="title">button</span>&gt;</span>
<span class="tag">&lt;<span class="title">button</span> <span class="attribute">class</span>=<span class="value">"ant-btn ant-btn-primary disabled"</span>&gt;</span>主按钮(失效)<span class="tag">&lt;/<span class="title">button</span>&gt;</span>
<span class="tag">&lt;<span class="title">p</span>&gt;</span><span class="tag">&lt;/<span class="title">p</span>&gt;</span>
<span class="tag">&lt;<span class="title">button</span> <span class="attribute">class</span>=<span class="value">"ant-btn"</span>&gt;</span>次按钮<span class="tag">&lt;/<span class="title">button</span>&gt;</span>
<span class="tag">&lt;<span class="title">button</span> <span class="attribute">class</span>=<span class="value">"ant-btn disabled"</span>&gt;</span>次按钮(失效)<span class="tag">&lt;/<span class="title">button</span>&gt;</span>
<span class="tag">&lt;<span class="title">p</span>&gt;</span><span class="tag">&lt;/<span class="title">p</span>&gt;</span>
<span class="tag">&lt;<span class="title">button</span> <span class="attribute">class</span>=<span class="value">"ant-btn ant-btn-ghost"</span>&gt;</span>幽灵按钮<span class="tag">&lt;/<span class="title">button</span>&gt;</span>
<span class="tag">&lt;<span class="title">button</span> <span class="attribute">class</span>=<span class="value">"ant-btn ant-btn-ghost disabled"</span>&gt;</span>幽灵按钮(失效)<span class="tag">&lt;/<span class="title">button</span>&gt;</span></code></pre></div>
  </div>
  <div class="code-box-meta markdown">
    <div class="code-box-title">
      <a href="#demo-status">按钮状态</a>
    </div>
    <p>通过背景色透明度的变化来体现不同的操作状态，移入或点击元素可以查看状态。</p>
<p>失效状态：为 <code>&lt;button&gt;</code> 元素添加 <code>disabled</code> 属性，即可体现。</p>
    <span class="collapse anticon anticon-circle-o-right" unselectable="none" style="-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;"></span>
  </div>
</div><div class="code-box" id="demo-menu">
  <div class="code-box-demo">
    <div id="components-button-demo-menu"></div>
    <div class="nico-insert-code"><button class="ant-btn ant-btn-primary ant-btn-menu">
  <span>菜单按钮</span>
  <span class="anticon anticon-down"></span>
</button>
<button class="ant-btn ant-btn-ghost ant-btn-circle ant-btn-menu">
  <span class="anticon anticon-down"></span>
</button></div><div class="highlight"><pre><code class="xml"><span class="tag">&lt;<span class="title">button</span> <span class="attribute">class</span>=<span class="value">"ant-btn ant-btn-primary ant-btn-menu"</span>&gt;</span>
  <span class="tag">&lt;<span class="title">span</span>&gt;</span>菜单按钮<span class="tag">&lt;/<span class="title">span</span>&gt;</span>
  <span class="tag">&lt;<span class="title">span</span> <span class="attribute">class</span>=<span class="value">"anticon anticon-down"</span>&gt;</span><span class="tag">&lt;/<span class="title">span</span>&gt;</span>
<span class="tag">&lt;/<span class="title">button</span>&gt;</span>
<span class="tag">&lt;<span class="title">button</span> <span class="attribute">class</span>=<span class="value">"ant-btn ant-btn-ghost ant-btn-circle ant-btn-menu"</span>&gt;</span>
  <span class="tag">&lt;<span class="title">span</span> <span class="attribute">class</span>=<span class="value">"anticon anticon-down"</span>&gt;</span><span class="tag">&lt;/<span class="title">span</span>&gt;</span>
<span class="tag">&lt;/<span class="title">button</span>&gt;</span></code></pre></div>
  </div>
  <div class="code-box-meta markdown">
    <div class="code-box-title">
      <a href="#demo-menu">菜单按钮</a>
    </div>
    <p><strong>注</strong>: 下拉按钮的 icon 大小统一成 <strong>10px</strong>。</p>
<p>更多交互，详见 <a href="http://ant.design/components/dropdown/">Dropdown 下拉菜单</a>。</p>
    <span class="collapse anticon anticon-circle-o-right" unselectable="none" style="-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;"></span>
  </div>
</div><div class="code-box" id="demo-loading">
  <div class="code-box-demo">
    <div id="components-button-demo-loading"></div>
    <script>(function(){'use strict';

var App = React.createClass({
  displayName: 'App',

  getInitialState: function getInitialState() {
    return {
      loading: false
    };
  },
  enterLoading: function enterLoading() {
    this.setState({
      loading: true
    });
  },
  render: function render() {
    var loadingClass = this.state.loading ? 'ant-btn-loading' : '';
    return React.createElement(
      'div',
      null,
      React.createElement(
        'button',
        { className: 'ant-btn ant-btn-primary ant-btn-lg ant-btn-loading' },
        '加载中'
      ),
      React.createElement(
        'button',
        { className: 'ant-btn ant-btn-primary ant-btn-loading' },
        '加载中'
      ),
      React.createElement(
        'button',
        { className: 'ant-btn ant-btn-primary ant-btn-sm ant-btn-loading' },
        '加载中'
      ),
      React.createElement('br', null),
      React.createElement(
        'button',
        { className: 'ant-btn ant-btn-primary ' + loadingClass, onClick: this.enterLoading },
        '点击变加载'
      )
    );
  }
});

React.render(React.createElement(App, null), document.getElementById('components-button-demo-loading'));})()</script><div class="highlight"><pre><code class="javascript"><span class="keyword">var</span> App = React.createClass({
  getInitialState() {
    <span class="keyword">return</span> {
      loading: <span class="literal">false</span>
    };
  },
  enterLoading() {
    <span class="keyword">this</span>.setState({
      loading: <span class="literal">true</span>
    });
  },
  render() {
    <span class="keyword">var</span> loadingClass = <span class="keyword">this</span>.state.loading ? <span class="string">'ant-btn-loading'</span> : <span class="string">''</span>;
    <span class="keyword">return</span> <span class="xml"><span class="tag">&lt;<span class="title">div</span>&gt;</span>
      <span class="tag">&lt;<span class="title">button</span> <span class="attribute">className</span>=<span class="value">"ant-btn ant-btn-primary ant-btn-lg ant-btn-loading"</span>&gt;</span>
        加载中
      <span class="tag">&lt;/<span class="title">button</span>&gt;</span>
      <span class="tag">&lt;<span class="title">button</span> <span class="attribute">className</span>=<span class="value">"ant-btn ant-btn-primary ant-btn-loading"</span>&gt;</span>
        加载中
      <span class="tag">&lt;/<span class="title">button</span>&gt;</span>
      <span class="tag">&lt;<span class="title">button</span> <span class="attribute">className</span>=<span class="value">"ant-btn ant-btn-primary ant-btn-sm ant-btn-loading"</span>&gt;</span>
        加载中
      <span class="tag">&lt;/<span class="title">button</span>&gt;</span>
      <span class="tag">&lt;<span class="title">br</span> /&gt;</span>
      <span class="tag">&lt;<span class="title">button</span> <span class="attribute">className</span>=<span class="value">{'ant-btn</span> <span class="attribute">ant-btn-primary</span> ' + <span class="attribute">loadingClass</span>} <span class="attribute">onClick</span>=<span class="value">{this.enterLoading}</span>&gt;</span>
        点击变加载
      <span class="tag">&lt;/<span class="title">button</span>&gt;</span>
    <span class="tag">&lt;/<span class="title">div</span>&gt;</span>;</span>
  }
});

React.render(<span class="xml"><span class="tag">&lt;<span class="title">App</span> /&gt;</span>, document.getElementById('components-button-demo-loading'));</span></code></pre></div><style>
#components-button-demo-loading .ant-btn {
  margin-right: 8px;
  margin-bottom: 12px;
}
</style>

  </div>
  <div class="code-box-meta markdown">
    <div class="code-box-title">
      <a href="#demo-loading">加载中</a>
    </div>
    <p>加载按钮。最后一个按钮演示点击后进入加载状态。</p>
    <span class="collapse anticon anticon-circle-o-right" unselectable="none" style="-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;"></span>
  </div>
</div>
  </div>
  <div class="code-boxes-col-2-1"><div class="code-box" id="demo-size">
  <div class="code-box-demo">
    <div id="components-button-demo-size"></div>
    <div class="nico-insert-code"><button class="ant-btn ant-btn-primary ant-btn-lg">大号按钮</button>
<button class="ant-btn ant-btn-primary">中号按钮(默认)</button>
<button class="ant-btn ant-btn-primary ant-btn-sm">小号按钮</button></div><div class="highlight"><pre><code class="xml"><span class="tag">&lt;<span class="title">button</span> <span class="attribute">class</span>=<span class="value">"ant-btn ant-btn-primary ant-btn-lg"</span>&gt;</span>大号按钮<span class="tag">&lt;/<span class="title">button</span>&gt;</span>
<span class="tag">&lt;<span class="title">button</span> <span class="attribute">class</span>=<span class="value">"ant-btn ant-btn-primary"</span>&gt;</span>中号按钮(默认)<span class="tag">&lt;/<span class="title">button</span>&gt;</span>
<span class="tag">&lt;<span class="title">button</span> <span class="attribute">class</span>=<span class="value">"ant-btn ant-btn-primary ant-btn-sm"</span>&gt;</span>小号按钮<span class="tag">&lt;/<span class="title">button</span>&gt;</span></code></pre></div>
  </div>
  <div class="code-box-meta markdown">
    <div class="code-box-title">
      <a href="#demo-size">按钮尺寸</a>
    </div>
    <p>提供 大 中 小 三种尺寸。</p>
<p>使用 <code>.ant-btn-lg</code> <code>.ant-btn-sm</code> 即可获得大 小尺寸，默认尺寸为中。</p>
    <span class="collapse anticon anticon-circle-o-right" unselectable="none" style="-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;"></span>
  </div>
</div><div class="code-box" id="demo-icon">
  <div class="code-box-demo">
    <div id="components-button-demo-icon"></div>
    <div class="nico-insert-code"><button class="ant-btn ant-btn-primary ant-btn-circle ant-btn-lg">
  <i class="anticon anticon-search"></i>
</button>
<button class="ant-btn ant-btn-primary ant-btn-lg">
  <i class="anticon anticon-search"></i>
  大按钮
</button>

<button class="ant-btn ant-btn-primary ant-btn-circle">
  <i class="anticon anticon-search"></i>
</button>
<button class="ant-btn ant-btn-primary">
  <i class="anticon anticon-search"></i>
  中按钮
</button>

<button class="ant-btn ant-btn-primary ant-btn-circle ant-btn-sm">
  <i class="anticon anticon-search"></i>
</button>
<button class="ant-btn ant-btn-primary ant-btn-sm">
  <i class="anticon anticon-search"></i>
  小按钮
</button>

<p></p>

<button class="ant-btn ant-btn-ghost ant-btn-circle-outline ant-btn-lg">
  <i class="anticon anticon-search"></i>
</button>
<button class="ant-btn ant-btn-ghost ant-btn-circle-outline">
  <i class="anticon anticon-search"></i>
</button>
<button class="ant-btn ant-btn-circle-outline ant-btn-sm">
  <i class="anticon anticon-search"></i>
</button></div><div class="highlight"><pre><code class="xml"><span class="tag">&lt;<span class="title">button</span> <span class="attribute">class</span>=<span class="value">"ant-btn ant-btn-primary ant-btn-circle ant-btn-lg"</span>&gt;</span>
  <span class="tag">&lt;<span class="title">i</span> <span class="attribute">class</span>=<span class="value">"anticon anticon-search"</span>&gt;</span><span class="tag">&lt;/<span class="title">i</span>&gt;</span>
<span class="tag">&lt;/<span class="title">button</span>&gt;</span>
<span class="tag">&lt;<span class="title">button</span> <span class="attribute">class</span>=<span class="value">"ant-btn ant-btn-primary ant-btn-lg"</span>&gt;</span>
  <span class="tag">&lt;<span class="title">i</span> <span class="attribute">class</span>=<span class="value">"anticon anticon-search"</span>&gt;</span><span class="tag">&lt;/<span class="title">i</span>&gt;</span>
  大按钮
<span class="tag">&lt;/<span class="title">button</span>&gt;</span>

<span class="tag">&lt;<span class="title">button</span> <span class="attribute">class</span>=<span class="value">"ant-btn ant-btn-primary ant-btn-circle"</span>&gt;</span>
  <span class="tag">&lt;<span class="title">i</span> <span class="attribute">class</span>=<span class="value">"anticon anticon-search"</span>&gt;</span><span class="tag">&lt;/<span class="title">i</span>&gt;</span>
<span class="tag">&lt;/<span class="title">button</span>&gt;</span>
<span class="tag">&lt;<span class="title">button</span> <span class="attribute">class</span>=<span class="value">"ant-btn ant-btn-primary"</span>&gt;</span>
  <span class="tag">&lt;<span class="title">i</span> <span class="attribute">class</span>=<span class="value">"anticon anticon-search"</span>&gt;</span><span class="tag">&lt;/<span class="title">i</span>&gt;</span>
  中按钮
<span class="tag">&lt;/<span class="title">button</span>&gt;</span>

<span class="tag">&lt;<span class="title">button</span> <span class="attribute">class</span>=<span class="value">"ant-btn ant-btn-primary ant-btn-circle ant-btn-sm"</span>&gt;</span>
  <span class="tag">&lt;<span class="title">i</span> <span class="attribute">class</span>=<span class="value">"anticon anticon-search"</span>&gt;</span><span class="tag">&lt;/<span class="title">i</span>&gt;</span>
<span class="tag">&lt;/<span class="title">button</span>&gt;</span>
<span class="tag">&lt;<span class="title">button</span> <span class="attribute">class</span>=<span class="value">"ant-btn ant-btn-primary ant-btn-sm"</span>&gt;</span>
  <span class="tag">&lt;<span class="title">i</span> <span class="attribute">class</span>=<span class="value">"anticon anticon-search"</span>&gt;</span><span class="tag">&lt;/<span class="title">i</span>&gt;</span>
  小按钮
<span class="tag">&lt;/<span class="title">button</span>&gt;</span>

<span class="tag">&lt;<span class="title">p</span>&gt;</span><span class="tag">&lt;/<span class="title">p</span>&gt;</span>

<span class="tag">&lt;<span class="title">button</span> <span class="attribute">class</span>=<span class="value">"ant-btn ant-btn-ghost ant-btn-circle-outline ant-btn-lg"</span>&gt;</span>
  <span class="tag">&lt;<span class="title">i</span> <span class="attribute">class</span>=<span class="value">"anticon anticon-search"</span>&gt;</span><span class="tag">&lt;/<span class="title">i</span>&gt;</span>
<span class="tag">&lt;/<span class="title">button</span>&gt;</span>
<span class="tag">&lt;<span class="title">button</span> <span class="attribute">class</span>=<span class="value">"ant-btn ant-btn-ghost ant-btn-circle-outline"</span>&gt;</span>
  <span class="tag">&lt;<span class="title">i</span> <span class="attribute">class</span>=<span class="value">"anticon anticon-search"</span>&gt;</span><span class="tag">&lt;/<span class="title">i</span>&gt;</span>
<span class="tag">&lt;/<span class="title">button</span>&gt;</span>
<span class="tag">&lt;<span class="title">button</span> <span class="attribute">class</span>=<span class="value">"ant-btn ant-btn-circle-outline ant-btn-sm"</span>&gt;</span>
  <span class="tag">&lt;<span class="title">i</span> <span class="attribute">class</span>=<span class="value">"anticon anticon-search"</span>&gt;</span><span class="tag">&lt;/<span class="title">i</span>&gt;</span>
<span class="tag">&lt;/<span class="title">button</span>&gt;</span></code></pre></div>
  </div>
  <div class="code-box-meta markdown">
    <div class="code-box-title">
      <a href="#demo-icon">图标按钮</a>
    </div>
    <p>图标一般放在文字前面，也可以单独存在。</p>
    <span class="collapse anticon anticon-circle-o-right" unselectable="none" style="-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;"></span>
  </div>
</div><div class="code-box" id="demo-button-group">
  <div class="code-box-demo">
    <div id="components-button-demo-button-group"></div>
    <div class="nico-insert-code"><h4>基本组合</h4>
<div class="ant-btn-group">
  <button class="ant-btn ant-btn-primary">确 定</button>
  <button class="ant-btn ant-btn-primary">取 消</button>
</div>
<div class="ant-btn-group">
  <button class="ant-btn">左</button>
  <button class="ant-btn">中</button>
  <button class="ant-btn">右</button>
</div>
<div class="ant-btn-group">
  <button class="ant-btn ant-btn-primary">左</button>
  <button class="ant-btn ant-btn-ghost">中</button>
  <button class="ant-btn ant-btn-ghost">中</button>
  <button class="ant-btn">右</button>
</div>
<h4>带图标按钮组合 </h4>
<div class="ant-btn-group">
  <button class="ant-btn ant-btn-primary">
  <span class="anticon anticon-left"></span>
  <span>后 退</span>
  </button>
  <button class="ant-btn ant-btn-primary">
  <span>前 进</span>
  <span class="anticon anticon-right"></span>
  </button>
</div>
<div class="ant-btn-group">
  <button class="ant-btn ant-btn-primary">
  <span class="anticon anticon-cloud"></span>
  </button>
  <button class="ant-btn ant-btn-primary">
  <span class="anticon anticon-cloud-download"></span>
  </button>
</div>
<h4>多个组合</h4>
<div class="ant-btn-group">
  <button class="ant-btn ant-btn-ghost">1</button>
  <button class="ant-btn ant-btn-ghost">2</button>
  <button class="ant-btn ant-btn-ghost">3</button>
  <button class="ant-btn ant-btn-ghost">4</button>
  <button class="ant-btn ant-btn-ghost">
  <span>前 进</span>
  <span class="anticon anticon-right"></span>
  </button>
</div>
<h4>尺寸</h4>
<div class="ant-btn-group ant-btn-group-lg">
  <button class="ant-btn ant-btn-ghost">大</button>
  <button class="ant-btn ant-btn-ghost">大</button>
  <button class="ant-btn ant-btn-ghost">大</button>
</div>
<div class="ant-btn-group">
  <button class="ant-btn ant-btn-ghost">默 认</button>
  <button class="ant-btn ant-btn-ghost">默 认</button>
  <button class="ant-btn ant-btn-ghost">默 认</button>
</div>
<div class="ant-btn-group ant-btn-group-sm">
  <button class="ant-btn ant-btn-ghost">小</button>
  <button class="ant-btn ant-btn-ghost">小</button>
  <button class="ant-btn ant-btn-ghost">小</button>
</div></div><div class="highlight"><pre><code class="xml"><span class="tag">&lt;<span class="title">h4</span>&gt;</span>基本组合<span class="tag">&lt;/<span class="title">h4</span>&gt;</span>
<span class="tag">&lt;<span class="title">div</span> <span class="attribute">class</span>=<span class="value">"ant-btn-group"</span>&gt;</span>
  <span class="tag">&lt;<span class="title">button</span> <span class="attribute">class</span>=<span class="value">"ant-btn ant-btn-primary"</span>&gt;</span>确 定<span class="tag">&lt;/<span class="title">button</span>&gt;</span>
  <span class="tag">&lt;<span class="title">button</span> <span class="attribute">class</span>=<span class="value">"ant-btn ant-btn-primary"</span>&gt;</span>取 消<span class="tag">&lt;/<span class="title">button</span>&gt;</span>
<span class="tag">&lt;/<span class="title">div</span>&gt;</span>
<span class="tag">&lt;<span class="title">div</span> <span class="attribute">class</span>=<span class="value">"ant-btn-group"</span>&gt;</span>
  <span class="tag">&lt;<span class="title">button</span> <span class="attribute">class</span>=<span class="value">"ant-btn"</span>&gt;</span>左<span class="tag">&lt;/<span class="title">button</span>&gt;</span>
  <span class="tag">&lt;<span class="title">button</span> <span class="attribute">class</span>=<span class="value">"ant-btn"</span>&gt;</span>中<span class="tag">&lt;/<span class="title">button</span>&gt;</span>
  <span class="tag">&lt;<span class="title">button</span> <span class="attribute">class</span>=<span class="value">"ant-btn"</span>&gt;</span>右<span class="tag">&lt;/<span class="title">button</span>&gt;</span>
<span class="tag">&lt;/<span class="title">div</span>&gt;</span>
<span class="tag">&lt;<span class="title">div</span> <span class="attribute">class</span>=<span class="value">"ant-btn-group"</span>&gt;</span>
  <span class="tag">&lt;<span class="title">button</span> <span class="attribute">class</span>=<span class="value">"ant-btn ant-btn-primary"</span>&gt;</span>左<span class="tag">&lt;/<span class="title">button</span>&gt;</span>
  <span class="tag">&lt;<span class="title">button</span> <span class="attribute">class</span>=<span class="value">"ant-btn ant-btn-ghost"</span>&gt;</span>中<span class="tag">&lt;/<span class="title">button</span>&gt;</span>
  <span class="tag">&lt;<span class="title">button</span> <span class="attribute">class</span>=<span class="value">"ant-btn ant-btn-ghost"</span>&gt;</span>中<span class="tag">&lt;/<span class="title">button</span>&gt;</span>
  <span class="tag">&lt;<span class="title">button</span> <span class="attribute">class</span>=<span class="value">"ant-btn"</span>&gt;</span>右<span class="tag">&lt;/<span class="title">button</span>&gt;</span>
<span class="tag">&lt;/<span class="title">div</span>&gt;</span>
<span class="tag">&lt;<span class="title">h4</span>&gt;</span>带图标按钮组合 <span class="tag">&lt;/<span class="title">h4</span>&gt;</span>
<span class="tag">&lt;<span class="title">div</span> <span class="attribute">class</span>=<span class="value">"ant-btn-group"</span>&gt;</span>
  <span class="tag">&lt;<span class="title">button</span> <span class="attribute">class</span>=<span class="value">"ant-btn ant-btn-primary"</span>&gt;</span>
  <span class="tag">&lt;<span class="title">span</span> <span class="attribute">class</span>=<span class="value">"anticon anticon-left"</span>&gt;</span><span class="tag">&lt;/<span class="title">span</span>&gt;</span>
  <span class="tag">&lt;<span class="title">span</span>&gt;</span>后 退<span class="tag">&lt;/<span class="title">span</span>&gt;</span>
  <span class="tag">&lt;/<span class="title">button</span>&gt;</span>
  <span class="tag">&lt;<span class="title">button</span> <span class="attribute">class</span>=<span class="value">"ant-btn ant-btn-primary"</span>&gt;</span>
  <span class="tag">&lt;<span class="title">span</span>&gt;</span>前 进<span class="tag">&lt;/<span class="title">span</span>&gt;</span>
  <span class="tag">&lt;<span class="title">span</span> <span class="attribute">class</span>=<span class="value">"anticon anticon-right"</span>&gt;</span><span class="tag">&lt;/<span class="title">span</span>&gt;</span>
  <span class="tag">&lt;/<span class="title">button</span>&gt;</span>
<span class="tag">&lt;/<span class="title">div</span>&gt;</span>
<span class="tag">&lt;<span class="title">div</span> <span class="attribute">class</span>=<span class="value">"ant-btn-group"</span>&gt;</span>
  <span class="tag">&lt;<span class="title">button</span> <span class="attribute">class</span>=<span class="value">"ant-btn ant-btn-primary"</span>&gt;</span>
  <span class="tag">&lt;<span class="title">span</span> <span class="attribute">class</span>=<span class="value">"anticon anticon-cloud"</span>&gt;</span><span class="tag">&lt;/<span class="title">span</span>&gt;</span>
  <span class="tag">&lt;/<span class="title">button</span>&gt;</span>
  <span class="tag">&lt;<span class="title">button</span> <span class="attribute">class</span>=<span class="value">"ant-btn ant-btn-primary"</span>&gt;</span>
  <span class="tag">&lt;<span class="title">span</span> <span class="attribute">class</span>=<span class="value">"anticon anticon-cloud-download"</span>&gt;</span><span class="tag">&lt;/<span class="title">span</span>&gt;</span>
  <span class="tag">&lt;/<span class="title">button</span>&gt;</span>
<span class="tag">&lt;/<span class="title">div</span>&gt;</span>
<span class="tag">&lt;<span class="title">h4</span>&gt;</span>多个组合<span class="tag">&lt;/<span class="title">h4</span>&gt;</span>
<span class="tag">&lt;<span class="title">div</span> <span class="attribute">class</span>=<span class="value">"ant-btn-group"</span>&gt;</span>
  <span class="tag">&lt;<span class="title">button</span> <span class="attribute">class</span>=<span class="value">"ant-btn ant-btn-ghost"</span>&gt;</span>1<span class="tag">&lt;/<span class="title">button</span>&gt;</span>
  <span class="tag">&lt;<span class="title">button</span> <span class="attribute">class</span>=<span class="value">"ant-btn ant-btn-ghost"</span>&gt;</span>2<span class="tag">&lt;/<span class="title">button</span>&gt;</span>
  <span class="tag">&lt;<span class="title">button</span> <span class="attribute">class</span>=<span class="value">"ant-btn ant-btn-ghost"</span>&gt;</span>3<span class="tag">&lt;/<span class="title">button</span>&gt;</span>
  <span class="tag">&lt;<span class="title">button</span> <span class="attribute">class</span>=<span class="value">"ant-btn ant-btn-ghost"</span>&gt;</span>4<span class="tag">&lt;/<span class="title">button</span>&gt;</span>
  <span class="tag">&lt;<span class="title">button</span> <span class="attribute">class</span>=<span class="value">"ant-btn ant-btn-ghost"</span>&gt;</span>
  <span class="tag">&lt;<span class="title">span</span>&gt;</span>前 进<span class="tag">&lt;/<span class="title">span</span>&gt;</span>
  <span class="tag">&lt;<span class="title">span</span> <span class="attribute">class</span>=<span class="value">"anticon anticon-right"</span>&gt;</span><span class="tag">&lt;/<span class="title">span</span>&gt;</span>
  <span class="tag">&lt;/<span class="title">button</span>&gt;</span>
<span class="tag">&lt;/<span class="title">div</span>&gt;</span>
<span class="tag">&lt;<span class="title">h4</span>&gt;</span>尺寸<span class="tag">&lt;/<span class="title">h4</span>&gt;</span>
<span class="tag">&lt;<span class="title">div</span> <span class="attribute">class</span>=<span class="value">"ant-btn-group ant-btn-group-lg"</span>&gt;</span>
  <span class="tag">&lt;<span class="title">button</span> <span class="attribute">class</span>=<span class="value">"ant-btn ant-btn-ghost"</span>&gt;</span>大<span class="tag">&lt;/<span class="title">button</span>&gt;</span>
  <span class="tag">&lt;<span class="title">button</span> <span class="attribute">class</span>=<span class="value">"ant-btn ant-btn-ghost"</span>&gt;</span>大<span class="tag">&lt;/<span class="title">button</span>&gt;</span>
  <span class="tag">&lt;<span class="title">button</span> <span class="attribute">class</span>=<span class="value">"ant-btn ant-btn-ghost"</span>&gt;</span>大<span class="tag">&lt;/<span class="title">button</span>&gt;</span>
<span class="tag">&lt;/<span class="title">div</span>&gt;</span>
<span class="tag">&lt;<span class="title">div</span> <span class="attribute">class</span>=<span class="value">"ant-btn-group"</span>&gt;</span>
  <span class="tag">&lt;<span class="title">button</span> <span class="attribute">class</span>=<span class="value">"ant-btn ant-btn-ghost"</span>&gt;</span>默 认<span class="tag">&lt;/<span class="title">button</span>&gt;</span>
  <span class="tag">&lt;<span class="title">button</span> <span class="attribute">class</span>=<span class="value">"ant-btn ant-btn-ghost"</span>&gt;</span>默 认<span class="tag">&lt;/<span class="title">button</span>&gt;</span>
  <span class="tag">&lt;<span class="title">button</span> <span class="attribute">class</span>=<span class="value">"ant-btn ant-btn-ghost"</span>&gt;</span>默 认<span class="tag">&lt;/<span class="title">button</span>&gt;</span>
<span class="tag">&lt;/<span class="title">div</span>&gt;</span>
<span class="tag">&lt;<span class="title">div</span> <span class="attribute">class</span>=<span class="value">"ant-btn-group ant-btn-group-sm"</span>&gt;</span>
  <span class="tag">&lt;<span class="title">button</span> <span class="attribute">class</span>=<span class="value">"ant-btn ant-btn-ghost"</span>&gt;</span>小<span class="tag">&lt;/<span class="title">button</span>&gt;</span>
  <span class="tag">&lt;<span class="title">button</span> <span class="attribute">class</span>=<span class="value">"ant-btn ant-btn-ghost"</span>&gt;</span>小<span class="tag">&lt;/<span class="title">button</span>&gt;</span>
  <span class="tag">&lt;<span class="title">button</span> <span class="attribute">class</span>=<span class="value">"ant-btn ant-btn-ghost"</span>&gt;</span>小<span class="tag">&lt;/<span class="title">button</span>&gt;</span>
<span class="tag">&lt;/<span class="title">div</span>&gt;</span></code></pre></div><style>
.nico-insert-code h4 {
  margin: 8px 0;
  font-size: 12px;
  line-height: 12px;
  font-weight: normal;
}
.nico-insert-code h4:first-child {
  margin-top: 0;
}
.nico-insert-code .ant-btn {
  margin-bottom: 8px;
}
</style>

  </div>
  <div class="code-box-meta markdown">
    <div class="code-box-title">
      <a href="#demo-button-group">按钮组合</a>
    </div>
    <p>将一系列的 <code>.ant-btn</code> 放入 <code>.ant-btn-group</code> 的容器中。</p>
<p>按钮组合尺寸</p>
<p>只要给 <code>.ant-btn-group</code> 加上 <code>.ant-btn-group-*</code> 类，即可设置不同的尺寸，目前支持大中小三种尺寸。</p>
    <span class="collapse anticon anticon-circle-o-right" unselectable="none" style="-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;"></span>
  </div>
</div>
  </div>
</div>
  <div class="api-container markdown"></div>
</section>

    </div><footer id="footer">
  <ul>
    <li>
      <h2>GitHub</h2>
      <a target="_blank "href="https://github.com/ant-design/ant-design">仓库</a>
      <a target="_blank" href="https://github.com/ant-design/ant-design/tree/master/style">样式</a>
      <a target="_blank" href="https://github.com/ant-design/antd-bin">开发工具</a>
    </li>
    <li>
      <h2>关于我们</h2>
      <a href="https://github.com/alipay/x/issues">博客 - Ant UED</a>
    </li>
    <li>
      <h2>联系我们</h2>
      <a target="_blank" href="https://github.com/ant-design/ant-design/issues">问题与建议 - Issues</a>
    </li>
    <li>
      <h3>©2015 蚂蚁金服体验技术部出品</h3>
      <h3>文档版本：<span id="versions-select"></span></h3>
    </li>
  </ul>
</footer>
    <script src="https://t.alipayobjects.com/images/rmsweb/T1AmXhXg0kXXXXXXXX.js" data-no-instant></script>
    <script data-no-instant>
      InstantClick.on('change', function() {
        InstantClickChangeFns.forEach(function(fn) {
          fn();
        });
      });
      InstantClick.init();
    </script>
  </body>
</html>