<div class="code-box" id="demo-ajax">
  <div class="code-box-demo">
    <div id="components-table-demo-ajax"></div>
    <script>(function(){'use strict';

var _antd = require('antd');

var columns = [{
  title: '姓名',
  dataIndex: 'name',
  filters: [{
    text: '姓李的',
    value: '李'
  }, {
    text: '姓胡的',
    value: '胡'
  }]
}, {
  title: '年龄',
  dataIndex: 'age',
  sorter: true
}, {
  title: '住址',
  dataIndex: 'address'
}];

var dataSource = new _antd.Table.DataSource({
  url: '/components/table/demo/data.json',
  resolve: function resolve(result) {
    return result.data;
  },
  data: {},
  // 和后台接口返回的分页数据进行适配
  getPagination: function getPagination(result) {
    return {
      total: result.totalCount,
      pageSize: result.pageSize
    };
  },
  // 和后台接口接收的参数进行适配
  // 参数里提供了分页、筛选、排序的信息
  getParams: function getParams(pagination, filters, sorter) {
    console.log('getParams 的参数是：', pagination, filters, sorter);
    var params = {
      pageSize: pagination.pageSize,
      currentPage: pagination.current,
      sortField: sorter.field,
      sortOrder: sorter.order
    };
    for (var key in filters) {
      params[key] = filters[key];
    }
    console.log('请求参数：', params);
    return params;
  }
});

var Test = React.createClass({
  displayName: 'Test',

  getInitialState: function getInitialState() {
    return {
      dataSource: null,
      pagination: {
        onChange: this.hanlePageChange
      }
    };
  },
  hanlePageChange: function hanlePageChange(page) {
    // 使用受控属性 current，方便外部设置页数
    var pagination = this.state.pagination;
    pagination.current = page;
    this.setState({ pagination: pagination });
  },
  refresh: function refresh() {
    // 回到第一页
    var pagination = this.state.pagination;
    pagination.current = 1;
    this.setState({
      dataSource: dataSource.clone()
    });
  },
  changeAndRefresh: function changeAndRefresh() {
    // 回到第一页
    var pagination = this.state.pagination;
    pagination.current = 1;
    // 可以修改原来的 dataSource 再发请求
    this.setState({
      dataSource: dataSource.clone({
        data: { city: 'hz' }
      }),
      pagination: pagination
    });
  },
  render: function render() {
    return React.createElement(
      'div',
      null,
      React.createElement(_antd.Table, { columns: columns, dataSource: this.state.dataSource, pagination: this.state.pagination }),
      React.createElement(
        _antd.Button,
        { type: 'primary', onClick: this.refresh },
        '加载初始数据'
      ),
      ' ',
      React.createElement(
        _antd.Button,
        { onClick: this.changeAndRefresh },
        '加载 city=hz 的数据'
      )
    );
  }
});

ReactDOM.render(React.createElement(Test, null), document.getElementById('components-table-demo-ajax'));})()</script><div class="highlight"><pre><code class="javascript"><span class="hljs-keyword">import</span> { Table, Button } <span class="hljs-keyword">from</span> <span class="hljs-string">'antd'</span>;

<span class="hljs-keyword">const</span> columns = [{
  title: <span class="hljs-string">'姓名'</span>,
  dataIndex: <span class="hljs-string">'name'</span>,
  filters: [{
    text: <span class="hljs-string">'姓李的'</span>,
    value: <span class="hljs-string">'李'</span>
  }, {
    text: <span class="hljs-string">'姓胡的'</span>,
    value: <span class="hljs-string">'胡'</span>
  }]
}, {
  title: <span class="hljs-string">'年龄'</span>,
  dataIndex: <span class="hljs-string">'age'</span>,
  sorter: <span class="hljs-literal">true</span>
}, {
  title: <span class="hljs-string">'住址'</span>,
  dataIndex: <span class="hljs-string">'address'</span>
}];

<span class="hljs-keyword">const</span> dataSource = <span class="hljs-keyword">new</span> Table.DataSource({
  url: <span class="hljs-string">'/components/table/demo/data.json'</span>,
  resolve: <span class="hljs-function"><span class="hljs-keyword">function</span>(<span class="hljs-params">result</span>) </span>{
    <span class="hljs-keyword">return</span> result.data;
  },
  data: {},
  <span class="hljs-comment">// 和后台接口返回的分页数据进行适配</span>
  getPagination: <span class="hljs-function"><span class="hljs-keyword">function</span>(<span class="hljs-params">result</span>) </span>{
    <span class="hljs-keyword">return</span> {
      total: result.totalCount,
      pageSize: result.pageSize
    };
  },
  <span class="hljs-comment">// 和后台接口接收的参数进行适配</span>
  <span class="hljs-comment">// 参数里提供了分页、筛选、排序的信息</span>
  getParams: <span class="hljs-function"><span class="hljs-keyword">function</span>(<span class="hljs-params">pagination, filters, sorter</span>) </span>{
    <span class="hljs-built_in">console</span>.log(<span class="hljs-string">'getParams 的参数是：'</span>, pagination, filters, sorter);
    <span class="hljs-keyword">const</span> params = {
      pageSize: pagination.pageSize,
      currentPage: pagination.current,
      sortField: sorter.field,
      sortOrder: sorter.order
    };
    <span class="hljs-keyword">for</span> (<span class="hljs-keyword">let</span> key <span class="hljs-keyword">in</span> filters) {
      params[key] = filters[key];
    }
    <span class="hljs-built_in">console</span>.log(<span class="hljs-string">'请求参数：'</span>, params);
    <span class="hljs-keyword">return</span> params;
  }
});

<span class="hljs-keyword">const</span> Test = React.createClass({
  getInitialState() {
    <span class="hljs-keyword">return</span> {
      dataSource: <span class="hljs-literal">null</span>,
      pagination: {
        onChange: <span class="hljs-keyword">this</span>.hanlePageChange
      }
    };
  },
  hanlePageChange(page) {
    <span class="hljs-comment">// 使用受控属性 current，方便外部设置页数</span>
    <span class="hljs-keyword">const</span> pagination = <span class="hljs-keyword">this</span>.state.pagination;
    pagination.current = page;
    <span class="hljs-keyword">this</span>.setState({ pagination });
  },
  refresh() {
    <span class="hljs-comment">// 回到第一页</span>
    <span class="hljs-keyword">const</span> pagination = <span class="hljs-keyword">this</span>.state.pagination;
    pagination.current = <span class="hljs-number">1</span>;
    <span class="hljs-keyword">this</span>.setState({
      dataSource: dataSource.clone()
    });
  },
  changeAndRefresh() {
    <span class="hljs-comment">// 回到第一页</span>
    <span class="hljs-keyword">const</span> pagination = <span class="hljs-keyword">this</span>.state.pagination;
    pagination.current = <span class="hljs-number">1</span>;
    <span class="hljs-comment">// 可以修改原来的 dataSource 再发请求</span>
    <span class="hljs-keyword">this</span>.setState({
      dataSource: dataSource.clone({
        data: { city: <span class="hljs-string">'hz'</span> }
      }),
      pagination,
    });
  },
  render() {
    <span class="hljs-keyword">return</span> <span class="xml"><span class="hljs-tag">&lt;<span class="hljs-title">div</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-title">Table</span> <span class="hljs-attribute">columns</span>=<span class="hljs-value">{columns}</span> <span class="hljs-attribute">dataSource</span>=<span class="hljs-value">{this.state.dataSource}</span> <span class="hljs-attribute">pagination</span>=<span class="hljs-value">{this.state.pagination}</span> /&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-title">Button</span> <span class="hljs-attribute">type</span>=<span class="hljs-value">"primary"</span> <span class="hljs-attribute">onClick</span>=<span class="hljs-value">{this.refresh}</span>&gt;</span>
        加载初始数据
      <span class="hljs-tag">&lt;/<span class="hljs-title">Button</span>&gt;</span>
      &amp;nbsp;
      <span class="hljs-tag">&lt;<span class="hljs-title">Button</span> <span class="hljs-attribute">onClick</span>=<span class="hljs-value">{this.changeAndRefresh}</span>&gt;</span>
        加载 city=hz 的数据
      <span class="hljs-tag">&lt;/<span class="hljs-title">Button</span>&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>;</span>
  }
});

ReactDOM.render(<span class="xml"><span class="hljs-tag">&lt;<span class="hljs-title">Test</span> /&gt;</span>, document.getElementById('components-table-demo-ajax'));</span></code></pre></div>
  </div>
  <div class="code-box-meta markdown">
    <div class="code-box-title">
      <a href="#demo-ajax">动态加载数据</a>
    </div>
    <p>远程读取的表格是<strong>更为常见的模式</strong>，下面的表格使用了 <code>dataSource</code> 对象和远程数据源绑定和适配，并具有筛选、排序等功能以及页面 loading 效果。</p>
<p><strong>注意，此示例是静态数据模拟，数据并不准确，请打开网络面板查看请求。</strong></p>
    <span class="collapse anticon anticon-circle-o-right" unselectable="none" style="-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;"></span>
  </div>
</div>