<div class="container center-text">
  <h1><%= @title %></h1>
  <p><%= @content %></p>

  <a href="/edit/<%= @title %>">Edit page</a>
  <form method="post" action="/<%= @title %>">
    <input type="hidden" name="_method" value="delete" />
    <button type="submit" class="btn btn-primary gradient-purple">Delete page</button>
  </form>
</div>