<div class="container">
  <h1 class="center-text">Add new character with the will of D</h1>
  <form method="post" action="/create">
    <div class="input-field black-input">
      <span class="user-icon"></span>
      <input type="text" placeholder="name" name="title" />
    </div>
    <div class="input-field black-input text-area-field" style="margin-bottom:2rem">
        <span class="edit-icon"></span>
        <textarea placeholder="Bio" name="content"></textarea>
    </div>
    <div class="center-text">
      <button type="submit" class="btn btn-primary gradient-purple">Submit</button>
    </div>
  </form>
</div>