<div class="code-box" id="number-demo-basic">
  <div class="code-box-demo">
    <div id="components-input-number-demo-basic"></div>
    <script>mountNode = document.getElementById('components-input-number-demo-basic');</script>
    <script>(function(){'use strict';

var _antd = require('antd');

function onChange(value) {
  console.log('changed', value);
}

ReactDOM.render(React.createElement(_antd.InputNumber, { min: 1, max: 10, defaultValue: 3, onChange: onChange }), mountNode);})()</script><div class="highlight"><pre><code class="javascript"><span class="hljs-keyword">import</span> { InputNumber } <span class="hljs-keyword">from</span> <span class="hljs-string">'antd'</span>;

<span class="hljs-function"><span class="hljs-keyword">function</span> <span class="hljs-title">onChange</span>(<span class="hljs-params">value</span>) </span>{
  <span class="hljs-built_in">console</span>.log(<span class="hljs-string">'changed'</span>, value);
}

ReactDOM.render(
<span class="xml"><span class="hljs-tag">&lt;<span class="hljs-title">InputNumber</span> <span class="hljs-attribute">min</span>=<span class="hljs-value">{1}</span> <span class="hljs-attribute">max</span>=<span class="hljs-value">{10}</span> <span class="hljs-attribute">defaultValue</span>=<span class="hljs-value">{3}</span> <span class="hljs-attribute">onChange</span>=<span class="hljs-value">{onChange}</span> /&gt;</span>
, mountNode);</span></code></pre></div>
  </div>
  <div class="code-box-meta markdown">
    <div class="code-box-title">
      <a href="#number-demo-basic">基本</a>
    </div>
    <p>数字输入框</p>
    <span class="collapse anticon anticon-circle-o-right" unselectable="none" style="-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;"></span>
  </div>
</div>