<div class="code-box" id="number-demo-disabled">
  <div class="code-box-demo">
    <div id="components-input-number-demo-disabled"></div>
    <script>mountNode = document.getElementById('components-input-number-demo-disabled');</script>
    <script>(function(){"use strict";

var _antd = require("antd");

var Test = React.createClass({
  displayName: "Test",
  getInitialState: function getInitialState() {
    return {
      disabled: true
    };
  },
  toggle: function toggle() {
    this.setState({
      disabled: !this.state.disabled
    });
  },
  render: function render() {
    return React.createElement(
      "div",
      null,
      React.createElement(_antd.InputNumber, { min: 1, max: 10, disabled: this.state.disabled, defaultValue: 3 }),
      React.createElement(
        "div",
        { style: { marginTop: 20 } },
        React.createElement(
          _antd.Button,
          { onClick: this.toggle, type: "primary" },
          "Toggle disabled"
        )
      )
    );
  }
});

ReactDOM.render(React.createElement(Test, null), mountNode);})()</script><div class="highlight"><pre><code class="javascript"><span class="hljs-keyword">import</span> { InputNumber, Button } <span class="hljs-keyword">from</span> <span class="hljs-string">'antd'</span>;

<span class="hljs-keyword">const</span> Test = React.createClass({
  getInitialState() {
    <span class="hljs-keyword">return</span> {
      disabled: <span class="hljs-literal">true</span>
    };
  },
  toggle() {
    <span class="hljs-keyword">this</span>.setState({
      disabled: !<span class="hljs-keyword">this</span>.state.disabled
    });
  },
  render() {
    <span class="hljs-keyword">return</span> <span class="xml"><span class="hljs-tag">&lt;<span class="hljs-title">div</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-title">InputNumber</span> <span class="hljs-attribute">min</span>=<span class="hljs-value">{1}</span> <span class="hljs-attribute">max</span>=<span class="hljs-value">{10}</span> <span class="hljs-attribute">disabled</span>=<span class="hljs-value">{this.state.disabled}</span> <span class="hljs-attribute">defaultValue</span>=<span class="hljs-value">{3}</span> /&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">style</span>=<span class="hljs-value">{{marginTop:</span> <span class="hljs-attribute">20</span>}}&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">Button</span> <span class="hljs-attribute">onClick</span>=<span class="hljs-value">{this.toggle}</span> <span class="hljs-attribute">type</span>=<span class="hljs-value">"primary"</span>&gt;</span>Toggle disabled<span class="hljs-tag">&lt;/<span class="hljs-title">Button</span>&gt;</span>
      <span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>;</span>
  }
});

ReactDOM.render(<span class="xml"><span class="hljs-tag">&lt;<span class="hljs-title">Test</span> /&gt;</span>, mountNode);</span></code></pre></div>
  </div>
  <div class="code-box-meta markdown">
    <div class="code-box-title">
      <a href="#number-demo-disabled">不可用</a>
    </div>
    <p>点击按钮切换可用状态。</p>
    <span class="collapse anticon anticon-circle-o-right" unselectable="none" style="-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;"></span>
  </div>
</div>