<div class="code-box" id="demo-placement">
  <div class="code-box-demo">
    <div id="components-popover-demo-placement"></div>
    <script>(function(){"use strict";

var Popover = antd.Popover;
var text = React.createElement(
  "span",
  null,
  "标题"
);
var content = React.createElement(
  "div",
  null,
  React.createElement(
    "p",
    null,
    "内容"
  ),
  React.createElement(
    "p",
    null,
    "内容"
  )
);

React.render(React.createElement(
  "div",
  null,
  React.createElement(
    Popover,
    { placement: "left", title: text, overlay: content },
    React.createElement(
      "button",
      { className: "ant-btn" },
      "左"
    )
  ),
  React.createElement(
    Popover,
    { placement: "top", title: text, overlay: content },
    React.createElement(
      "button",
      { className: "ant-btn" },
      "上"
    )
  ),
  React.createElement(
    Popover,
    { placement: "bottom", title: text, overlay: content },
    React.createElement(
      "button",
      { className: "ant-btn" },
      "下"
    )
  ),
  React.createElement(
    Popover,
    { placement: "right", title: text, overlay: content },
    React.createElement(
      "button",
      { className: "ant-btn" },
      "右"
    )
  )
), document.getElementById('components-popover-demo-placement'));})()</script><div class="highlight"><pre><code class="javascript"><span class="keyword">var</span> Popover = antd.Popover;
<span class="keyword">var</span> text = <span class="xml"><span class="tag">&lt;<span class="title">span</span>&gt;</span>标题<span class="tag">&lt;/<span class="title">span</span>&gt;</span>;</span>
<span class="keyword">var</span> content = <span class="xml"><span class="tag">&lt;<span class="title">div</span>&gt;</span>
  <span class="tag">&lt;<span class="title">p</span>&gt;</span>内容<span class="tag">&lt;/<span class="title">p</span>&gt;</span>
  <span class="tag">&lt;<span class="title">p</span>&gt;</span>内容<span class="tag">&lt;/<span class="title">p</span>&gt;</span>
<span class="tag">&lt;/<span class="title">div</span>&gt;</span>;</span>

React.render(<span class="xml"><span class="tag">&lt;<span class="title">div</span>&gt;</span>
  <span class="tag">&lt;<span class="title">Popover</span> <span class="attribute">placement</span>=<span class="value">"left"</span> <span class="attribute">title</span>=<span class="value">{text}</span> <span class="attribute">overlay</span>=<span class="value">{content}</span>&gt;</span>
    <span class="tag">&lt;<span class="title">button</span> <span class="attribute">className</span>=<span class="value">"ant-btn"</span>&gt;</span>左<span class="tag">&lt;/<span class="title">button</span>&gt;</span>
  <span class="tag">&lt;/<span class="title">Popover</span>&gt;</span>
  <span class="tag">&lt;<span class="title">Popover</span> <span class="attribute">placement</span>=<span class="value">"top"</span> <span class="attribute">title</span>=<span class="value">{text}</span> <span class="attribute">overlay</span>=<span class="value">{content}</span>&gt;</span>
    <span class="tag">&lt;<span class="title">button</span> <span class="attribute">className</span>=<span class="value">"ant-btn"</span>&gt;</span>上<span class="tag">&lt;/<span class="title">button</span>&gt;</span>
  <span class="tag">&lt;/<span class="title">Popover</span>&gt;</span>
  <span class="tag">&lt;<span class="title">Popover</span> <span class="attribute">placement</span>=<span class="value">"bottom"</span> <span class="attribute">title</span>=<span class="value">{text}</span> <span class="attribute">overlay</span>=<span class="value">{content}</span>&gt;</span>
    <span class="tag">&lt;<span class="title">button</span> <span class="attribute">className</span>=<span class="value">"ant-btn"</span>&gt;</span>下<span class="tag">&lt;/<span class="title">button</span>&gt;</span>
  <span class="tag">&lt;/<span class="title">Popover</span>&gt;</span>
  <span class="tag">&lt;<span class="title">Popover</span> <span class="attribute">placement</span>=<span class="value">"right"</span> <span class="attribute">title</span>=<span class="value">{text}</span> <span class="attribute">overlay</span>=<span class="value">{content}</span>&gt;</span>
    <span class="tag">&lt;<span class="title">button</span> <span class="attribute">className</span>=<span class="value">"ant-btn"</span>&gt;</span>右<span class="tag">&lt;/<span class="title">button</span>&gt;</span>
  <span class="tag">&lt;/<span class="title">Popover</span>&gt;</span>
<span class="tag">&lt;/<span class="title">div</span>&gt;</span>, document.getElementById('components-popover-demo-placement'));</span></code></pre></div><style>
.code-box-demo .ant-btn {
  margin-right: 1em;
}
</style>

  </div>
  <div class="code-box-meta markdown">
    <div class="code-box-title">
      <a href="#demo-placement">位置</a>
    </div>
    <p>位置有四个方向。</p>
    <span class="collapse anticon anticon-circle-o-right" unselectable="none" style="-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;"></span>
  </div>
</div>